[2020-02-09 04:19] CruzMolina commented on #2817
Hey @soylent ! This should be resolved in v5.1.12 via #2816.

Please let us know if this is still an issue in v5.1.12.

[2020-02-09 04:26] soylent commented on #2817
Thanks, @CruzMolina The issue is fixed in the new version.

[2020-02-09 04:26] #2817 closed

[2020-02-10 01:30] mohamedsgap opened #2819 "Can't install Truffle"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I can't install truffle

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.
![truffleError](https://user-images.githubusercontent.com/30293804/74114972-9473c400-4bb5-11ea-8925-2c8dd8cb1f3a.png)

## Environme

[2020-02-10 09:16] sergiocasero commented on #2655
@fabianriewe thank you so much!! You save my day! :)

[2020-02-10 09:42] adrianmcli opened #2820 "Truffle Decoder's second parameter of dependent contracts should be optional"
Calling this:

[code]

Produces a cryptic error:

[code]

It is only when you pass in an empty array as the second parameter does the error go away:

[code]

[2020-02-10 09:45] adrianmcli opened #2821 "Truffle Decoder's methods for Web3 contract instances"
I was stumped for much longer than I would like to admit when I was passing in the Web3 contract instance into the decoder's `forContractInstance` instead of a Truffle contract instance.

Being that the decoder seems to use Web3 internally anyway, could we not have a convenience function, `forWeb3ContractInstance` that can allow for more ergonomic usage?

[2020-02-10 19:09] eggplantzzz commented on #2819
Hey @mohamedsgap, it looks like you might need to edit the permissions for your user. If you do not have permission to write then you definitely won't be able to install Truffle. Try giving more permissions to the user that you are logged in as or logging in as a user that has more privileges. Good luck!

[2020-02-10 19:16] eggplantzzz commented on #2785
So just to confirm, after doing a branch new `truffle init`, you cannot run `truffle test` successfully directly afterwards? I am unable to duplicate this behavior. Can you verify that this is the behavior on the latest Truffle (5.1.12).

[2020-02-10 22:32] eggplantzzz commented on #2815
Thanks for reporting this! Interesting is when you use the `--compile-all` flag the test does fail. If you use that flag it fails but also reports it as an "ambiguous event". There will need to be a bit more research on this.

[2020-02-10 22:47] bwheeler96 commented on #2815
@eggplantzzz the `--compile-all` flag isn't doing anything different for me (except apparently compiling all the contracts before the test runs).

I've seen this has come up before where events weren't being filtered out of tests properly or something along those lines. Do you have any ideas how I might go about fixing this?

[2020-02-11 00:12] eggplantzzz commented on #2815
Yeah there is some funny business with the logs going on in there. I'm looking into it now and hopefully I'll be able to have a fix this week!

[2020-02-11 12:33] mohamedsgap commented on #2819
Hey guys,  I solved this issue using Yarn:
[code]
I think it works with `yarn` maybe because I use it in my development  environment daily instead of `npm`

[2020-02-11 12:33] #2819 closed

[2020-02-11 15:17] bwheeler96 commented on #2815
@eggplantzzz when I run with `--compile-all` inside a `truffle develop` instance, I get output that reports the ambiguous events:

[code]

[2020-02-11 16:41] eggplantzzz commented on #2815
Thanks for the extra info! Yes, I get something like this and I think we tracked down the problem to something involving how the decoder is initialized. If I can, I'm going to get a PR in today and I'll link it here. Thanks again @bwheeler96!

[2020-02-11 20:55] eggplantzzz commented on #2815
https://github.com/trufflesuite/truffle/pull/2826

[2020-02-11 22:43] haltman-at commented on #2820
So, is the behavior you intend that it should work the same as if an empty array was passed?  Hm.

Let me tell you what's planned for this right now.  The plan is that that final argument should be able to be a number of things allowing for all relevant contracts to be found -- not just a straight list of them, but also say a resolver or config object that's able to find them.  But that relies on

[2020-02-11 22:51] haltman-at commented on #2821
This is not so easy as you suggest; it would not be just a convenience function.  The decoder uses Web3, yes, but it does not use Web3 contracts; it uses Web3 for functionality like looking up code or storage on the blockchain.  Now, this might be possible, but even if it's possible it might not be a good idea -- a Web3 contract just doesn't contain as much information, and I don't want to acciden

[2020-02-12 17:25] adrianmcli commented on #2821
There are two alternatives if we don't want to support Web3 contract instances:

1. Just pass in the JSON artifact:

[code]

2. Pass in what you need individually:

[code]

^ Note, I'm not happy with the naming of `forCustomProps` but it's the best I can come up with right now.

I do think this is higher priority than it may seem at first, because right now you are requiring any users of `@truffle

[2020-02-12 17:40] adrianmcli commented on #2820
Forgive me for a second here as this is a bit subjective and a bit of a tangential rant, but I've never been a fan of APIs that have a bunch of non-[named parameters](https://en.wikipedia.org/wiki/Named_parameter). Having to know what the 1st, 2nd, 3rd argument is causes confusion and makes things a living hell whenever the API changes.

I'm not sure if it's too late, but I much prefer an API that

[2020-02-12 18:36] haltman-at commented on #2820
Good news, my current plan is actually to handle the last argument by having it be an object specifying what it is!  (Not going to redo the other arguments though, that'd be a breaking change...)  With the existing form left in for compatibility.  So, yeah, I guess having it default to `[]` is a change I could make as well...

[2020-02-12 18:40] adrianmcli commented on #2820
That is good news!

[2020-02-12 21:24] haltman-at commented on #2821
This exists!  (With slightly different syntax.)  It's called `forArtifact`.  You don't need to use Truffle Contract!  However, `forArtifact` does additionally require you to supply a provider.  I just made `forContract` as a convenience so you don't have to supply a provider as well.  But you can use the more basic `forArtifact` if you're OK with artifacts but not Truffle Contract!

I was honestly

[2020-02-12 22:07] haltman-at commented on #2820
So, looking at the two issues you submitted, the conclusion I'm coming to is that I didn't really optimize this for convenience in this just-a-simple-contract case, where there are no external structs or enums or contract types you need to deal with, no inheritance, you're not decoding events of unknown provenance, etc.  I was really focused on the opposite case (which I realize is *not* exactly c

[2020-02-13 05:26] adrianmcli commented on #2820
Yay, thanks @haltman-at !

[2020-02-13 06:58] adrianmcli commented on #2821
Ah cool, that sounds much better. I'll use `forArtifact` for now then. And yes, Truffle Contract is not used at all in modern dapp development.

[2020-02-13 15:31] JackBekket opened #2830 "Invalid address in deployment procees (bug with ganache accounts)"
I'm trying to deploy contracts to ganache, using `truffle migrate`. One of my contracts requiring to get accounts addresses as constructor parameter

When I try to use
[code]

and trying deploy like this:
[code]
it falis with invalid address.

```console.log(accounts)```
just print me string
``` ganache```

## Expected Behavior
migration successful, or at least `console.log` should return me Promi

[2020-02-13 21:17] haltman-at commented on #2821
Oops, clarification here: `forArtifact` slots into the role of `forContract`, not `forContractInstance`.  If you want the equivalent of `forContractInstance`, you want either `forArtifactAt` (takes an artifact, a provider, and an address) or `forDeployedArtifact` (takes an artifact and a provider; autodetects the address as the one from deployment).  Regardless, there's no requirement to pass in a

[2020-02-14 08:19] librauee opened #2832 "truffle init error"
when I use command truffle init ,

Starting unbox...
=================

√ Preparing to download box
× Downloading
Unbox failed!
RequestError: Error: read ECONNRESET
    at new RequestError (C:\Users\Administrator\AppData\Roaming\npm\node_modules\truffle\build\webpack:\node_modules\request-promise-core\lib\errors.js:14:1)
    at Request.plumbing.callback (C:\Users\Administrator\AppData\Roaming\npm\

[2020-02-15 18:03] ltfschoen commented on #2552
@KadenZipfel Please see my comment. Would you agree this issue should be re-opened?

[2020-02-17 05:19] librauee commented on #2832
When I change my network to another,it works.
But I really don't know why how to explain.

[2020-02-17 07:46] slmatthiesen opened #2834 "Cannot destructure property `body` of 'undefined' or 'null' (5.1.10 to any later version)"
- [ X ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
Didn't see anything there.
I didn't see anything in the release notes that called anything out.
Looks like another related issue here:
https://github.com/trufflesuite/truffle/issues/1574 and https://github.com/trufflesuite/truffle/issues/1365 and https://github.com/trufflesuite/truffle

[2020-02-17 14:52] Amxx commented on #2723
Using 5.1.4 was ok for now, but it's looking like it's not going to support my transition to ^0.6.0.

@gnidan The code that triggers that is not public, but I could send you an archive with it

[2020-02-17 16:46] CruzMolina commented on #2834
Hey @slmatthiesen ! 👋

Can you share a reproduction repo for debugging purposes?

[2020-02-17 18:18] kroim commented on #766
Starting unbox...
=================

✔ Preparing to download box
✖ Downloading
Unbox failed!
✖ Downloading
Unbox failed!
RequestError: Error: connect ECONNREFUSED 151.101.228.133:443
    at new RequestError (/usr/lib/node_modules/truffle/build/webpack:/node_modules/request-promise-core/lib/errors.js:14:1)
    at Request.plumbing.callback (/usr/lib/node_modules/truffle/build/webpack:/node_modules/r

[2020-02-17 18:19] kroim commented on #766
I solved this error using "sudo npm install -g request"

[2020-02-17 18:21] kroim commented on #766
Or you can use "sudo truffle init"

[2020-02-17 21:17] haltman-at commented on #2815
Closing this as fix has been merged and released; feel free to reopen this if things still don't work!

[2020-02-17 21:17] #2815 closed

[2020-02-18 04:03] Alexangelj commented on #1341
Hi, still having this issue with using two npm packages: @openzeppelin/contracts and openzeppelin-solidity. Is there a workaround or a fix that does not include renaming contracts so there are no duplicates?

[2020-02-19 04:55] Amxx commented on #2723
I deleted all the tests except for one empty `it`. I also removed all the migrations scripts. Error still happens.

- `truffle compile` → ok
- `truffle deploy` → ok
- `truffle test` → error

Obviously, if I removed all my contracts the error disappears. So something is wrong ith my contracts being there, even if I don't deploy them / import them in test scripts.

What email can I send the archive

[2020-02-19 11:20] PyrateAkananto opened #2837 "unreachable code in built truffle-contract.js v4.1.9"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Browser console warning `unreachable code after return statement` for file `truffle-contract.js`.

## Steps to Reproduce

- in `cmd.exe`: `npm install --save-dev @truffle/contract`
- from folder `.\node_modules\@truffle\contract\dist\` copy file `t

[2020-02-19 11:27] readme55 commented on #2834
I'm getting the error doing the pet-shop tutorial - executing 'truffle test':

[code]

truffle version
Truffle v5.1.13 (core: 5.1.13)
Solidity v0.5.16 (solc-js)
Node v12.14.0
Web3.js v1.2.1

[2020-02-19 16:23] CruzMolina commented on #2834
Thanks for sharing that @readme55 !

I notice both you and @slmatthiesen are on Windows 🤔 .

[2020-02-19 16:27] bwheeler96 opened #2838 "Link an address to a contract as a library in deployer"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

My contract has a `libary Lib {}` in it. I would like to use an existing library in the migrations script.

Something like:

`deployer.linkAddressAsLibrary('0xabcde...', 'AnExistingLibraryOnChain')`

[2020-02-19 16:50] CruzMolina commented on #2834
Investigated a bit, this looks like a compilation OS-compatibility path issue.

[2020-02-19 18:38] gnidan commented on #2811
Nice, Arch Linux :)

I think we'll need to investigate this. @davidmurdoch is this a Ganache error?

[2020-02-19 18:41] gnidan commented on #2818
Thanks for raising this issue!

We've been discussing this issue a bunch recently. Note that there are edge cases, if your tests alter your contract state. We're looking at solutions for allowing this special-case behavior in a "buyer beware" way (i.e., we can't solve the edge cases, but maybe your tests aren't affected by those)

[2020-02-19 18:44] gnidan commented on #2821
Looks like the original issue here is solved, since we have `forArtifactAt` and `forDeployedArtifact`. The business about web3.eth.Contract is "won't fix". The business about taking an options argument seems out of scope for this ticket. Closing!

Thanks @adrianmcli 🙇

[2020-02-19 18:44] #2821 closed

[2020-02-19 18:46] gnidan commented on #2830
Is there something we could do here to make this experience better? It seems like the confusion was just the argument order.

If anyone has any thoughts, please suggest! Otherwise we'll close this in ~1 month. Thanks all!

[2020-02-19 18:48] gnidan commented on #2832
Could you perhaps describe your network configuration for the failing case?

Not sure what the issue is here, but would love to get to the bottom of it. Thanks for raising this!

[2020-02-19 18:49] gnidan commented on #2834
Hooray a path compatibility issue! We'll have to dig into this. Thanks for raising this!

[2020-02-19 18:53] gnidan commented on #2837
That's pretty weird. We'll have to look into this. Thanks for bringing it to our attention!

[2020-02-19 18:58] gnidan commented on #2838
Looks like the missing piece is an equivalent for `deployer.deploy()`... right now the process is:

[code]

But you already have a deployed library... you just need that instance to be recorded in the artifact JSON. So I think a better solution is a deployer method to record the already-deployed library. Maybe something like this:

[code]

Something like that?

[2020-02-19 19:00] CruzMolina commented on #2834
Actually, it might be a missing `return` in this PR (merged & released in v5.1.11) to get rid of some callbacks in the resolver code (specifically `resolver/fs`): https://github.com/trufflesuite/truffle/pull/2693/files#diff-741d320df0fc163eac3fec99a9e78b75R65

cc @eggplantzzz

[2020-02-19 19:00] gnidan commented on #2771
Hm looks like this needs investigation! We'll look into it a bit more and get back to you. Thanks again!

[2020-02-19 19:02] gnidan commented on #2832
Actually, this issue appears to be a duplicate of #2692 - closing this to move the discussion there. Thanks again!

[2020-02-19 19:02] #2832 closed

[2020-02-19 19:03] gnidan commented on #2692
If possible, I'd love to investigate workarounds to make this easier.

[2020-02-19 19:05] gnidan commented on #2673
Closing this for issue maintenance. Let us know if you would like us to follow-up. Thanks!

[2020-02-19 19:05] #2673 closed

[2020-02-19 19:06] gnidan commented on #2760
Closing this for issue maintenance. Let us know if you want us to get :eyes: on this again and we'll be happy to re-open. Cheers!

[2020-02-19 19:06] #2760 closed

[2020-02-19 19:07] gnidan commented on #2723
@Amxx thank you! Please send to gnidan@trufflesuite.com :)

[2020-02-19 19:13] zach-is-my-name commented on #2673
Ok, will do.  I lost my reproduction steps, but if it pops up again I will
notify ☺

On Wed, Feb 19, 2020 at 1:05 PM gnidan <notifications@github.com> wrote:

[2020-02-19 20:46] bwheeler96 commented on #2838
@gnidan something like that yes. Here is the simplest use case I can think of:

`Library A` exists on main chain/kovan wherever, but for local development you want to use your own.

In local development, you link your own `Library A`, but then for mainnet migrations you use the on-chain version.

There are more complex cases, like what I am trying to do saving code by embedding constant addresses

[2020-02-19 21:28] davidmurdoch commented on #2811
Hey @vitaliy-kuzmich, i'm unable to reproduce the issue given the code supplied here. If you configure this test to run on its own via `it.only` does the test still fail for you? example:

[code]

unrelated question: is there a specific reason you are using Node 8?

[2020-02-20 01:13] gnidan commented on #2673
Please do! In our ticket processing meeting today, @haltman-at was very sad that we had to close this without fixing!

[2020-02-20 02:46] justinjmoses commented on #2818
Thanks @gnidan . We are using `evm_snapshot` on `beforeEach` and `evm_revert` on `afterEach` so tests altering contract state is not an issue.

[2020-02-20 05:34] slmatthiesen commented on #2834
Big ups to @readme55
Thank you all and sorry for my delay in reply.

[2020-02-20 07:48] Belial-public opened #2840 "Truffle fails to install"
- [ x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle npm fails to install

## Steps to Reproduce

Install nodejs and then type: `npm install -g truffle`

## Expected Behavior

Install the package

## Actual Results

[code]

## Environment

* Operating System: win10

$ npm -v
6.9.0

$ node -

[2020-02-20 07:50] Belial-public commented on #2840
The previous 2 errors when running the npm install were on missing `yarn` and `tsc`, which I've installed globally. Now the error is the one above

[2020-02-20 07:53] Belial-public commented on #2840
Solved it for now by installing it over WSL. But kinda curious why this doesn't work out of the box

[2020-02-20 14:33] eggplantzzz commented on #2834
Does anyone have reproduction steps for this error? It would be super helpful in diagnosing this. So far it looks like we only have a vague guess as to what is causing this.

[2020-02-20 16:42] slmatthiesen commented on #2834
Sure thing -

On a windows machine, install truffle 5.1.13.
Setup the petshop: https://www.trufflesuite.com/tutorials/pet-shop
(Compact Sol files)
[Adoption.sol]
pragma solidity ^0.5.0;
contract Adoption {
    address[16] public adopters;
    function adopt(uint petId) public returns (uint) {
    require(petId >= 0 && petId <= 15);
    adopters[petId] = msg.sender;
    return petId;
    }
    func

[2020-02-20 17:13] adrianmcli opened #2841 "Truffle Decoder cannot be imported in the browser"
I think this has something to do with the way it's being webpacked and published. It's not outputting a module compatible with ES6 import statements. The following fails:

[code]

If you change it to CommonJS require statements, then it works:

[code]

But both of the above cases should work properly.

[2020-02-20 19:23] eggplantzzz commented on #2834
Thanks very much @slmatthiesen! I'll see if I can duplicate this on my mac.

[2020-02-20 21:49] eggplantzzz commented on #2834
So I can confirm that your code example is able to run `truffle test` successfully on a mac. I had to add a migration to deploy the Adoption contract, but afterwards everything works fine. I'll have to see if I can test it on a Windows machine.

[2020-02-20 23:19] haltman-at commented on #2841
Weird!  Thanks for pointing this out, this'll have to be fixed...

[2020-02-21 17:23] pizzarob opened #2843 "deployer.deploy() not working with arguments and options"
I have a migration file as follows. I am trying to deploy a new instance of an already deployed contract using the `overwrite` parameter, however truffle gives me the error:

`Error: Invalid number of parameters for "undefined". Got 2 expected 1! `

Apparently trying to use the options object as an argument.

[code]

[2020-02-21 17:28] pizza-r0b commented on #2843
**Update**
Adding `from` to the options object makes the error go away

`  await deployer.deploy(A, contractBInstance.address, { from: accounts[0] overwrite: true });`

However I'd expect a new address to be given when asking for the deployed contract, but the new instance gives the same address as the old.

[code]

[2020-02-23 01:31] haltman-at opened #2848 "Add bail option to Truffle Test"
## Issue

Truffle Test doesn't seem to have a bail option.  Ideally, one should be able to type `truffle test -b` in order to cause it to bail out after the first failed test.

* Truffle version (`truffle version`): 5.1.14

[2020-02-23 17:20] vitaliy-kuzmich commented on #2811
@davidmurdoch it still does not work with it.only, shows same error. I do not remember why I did not upgrade for the newer Node version, maybe because in past testrpc did not want to work with newer version.

[2020-02-23 18:13] safakoks opened #2849 "Truffle test throws error without any message"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I have tried to create a test of my contract which includes a function returns `Struct` instance. But, it returns a meaningless error.

## Steps to Reproduce
Here's my contract which is created by Solidity v0.6.0
[code]
And its sample test contract

[2020-02-24 16:10] eggplantzzz commented on #2849
@safakoks Thanks for reporting this, I'll try and reproduce your error to get to the bottom of this!

[2020-02-24 16:20] eggplantzzz commented on #2849
Using Truffle without Geth or Quorum I get the following error
[code]
It looks like that message comes from the decoder and perhaps Geth/Quorum setups give differently formatted messages? Maybe @haltman-at might understand what is going on here a little bit better than I do.

[2020-02-24 17:22] safakoks commented on #2849
There is no error on remix, is there any solution for this? Because I could not understand what is wrong?

[2020-02-24 19:11] davidmurdoch commented on #2811
@@vitaliy-kuzmich can you try updating truffle to v5.1.14 and try again?

[2020-02-24 19:11] haltman-at commented on #2849
`InternalCompilerError` is a `solc` error message; it's `solc` throwing that error, not Truffle.  This has nothing to do with the decoder, it's a compilation error.

[2020-02-24 19:24] haltman-at commented on #2849
Basically, if you see `InternalCompilerError`, you should report it to the Solidity team.  Unless for some reason compiling those tests only fails in Truffle?

[2020-02-25 07:48] safakoks commented on #2849
@haltman-at thanks for your answer, yes it was happened because of solidity. I asked them, why it occurs, they recommend me adding ``pragma experimental ABIEncoderV2;`` into Test Contract, It works fine on Remix. But still, truffle does not accept the contract during ``truffle test``

It returns the same error without any message :
[code]

[2020-02-25 15:16] leojames commented on #2631
me too .  The same question

i-qcloud527:pet root# truffle compile

Compiling your contracts...
===========================
⠼ Fetching solc version list from solc-bin. Attempt #1

[2020-02-25 15:17] leojames commented on #2631
Do you slove it ?  it need to download something or Bug ?

[2020-02-25 18:08] #1575 closed

[2020-02-25 18:31] se3000 opened #2852 "hdwallet-provider pulls dependency from github instead of npm"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

We [regularly have trouble pulling](https://app.circleci.com/jobs/github/smartcontractkit/chainlink/118687) `trufflesuite/provider-engine`, which you [have aliased](https://github.com/trufflesuite/truffle/blob/develop/packages/hdwallet-provider/pac

[2020-02-25 18:37] se3000 commented on #2852
Just found https://github.com/trufflesuite/truffle/issues/2711. Seems to be an open issue, but even with git installed this fails for us. Is there any reason `trufflesuite/provider-engine` hasn't been published as a package?

[2020-02-25 19:50] JackBekket commented on #2830
@gnidan

Could you kindly add this note to truffle docs?

Something like this?
[code]

Right now it is confusing for people who may work without IDE or without static typing.

[2020-02-26 03:34] haltman-at commented on #2841
Closing this since the issue is just that, as a TypeScript module without a default export, the way to import it is with `import *`.

[2020-02-26 04:44] zaryab2000 commented on #606
I love You..It worked

[2020-02-26 06:24] fodisi opened #2854 "truffle-config.js created by "truffle init" mentions deprecated "truffle-hdwallet-provider""
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When using the command `truffle init`, the default `truffle-config.js` file is mentioning the deprecated "truffle-hdwallet-provider" package. It'd be good replace it by "@truffle/hdwallet-provider".

## Steps to Reproduce

In a new directory, run t

[2020-02-26 06:37] fodisi commented on #2854
After checking the code for `truffle init`, I noticed it actually refers to [https://github.com/truffle-box/bare-box](https://github.com/truffle-box/bare-box). So, I believe the issue should be fixed in this truffle box. Is that correct?

_PS: I'm considering the the above stands correct, so I just submitted this [PR22](https://github.com/truffle-box/bare-box/pull/22) to the box's repo to get it f

[2020-02-26 14:17] vitaliy-kuzmich commented on #2811
@davidmurdoch
Truffle v5.1.14 (core: 5.1.14)
Solidity v0.5.16 (solc-js)
Node v13.9.0
Web3.js v1.2.1

That error message still remains.

[code]

[2020-02-26 16:24] CruzMolina commented on #2854
Thanks again @fodisi !

Resolved via #truffle-box/bare-box#22.

[2020-02-26 16:24] #2854 closed

[2020-02-26 18:35] CruzMolina commented on #2840
Are you sure you are just installing truffle globally, or are you also trying to develop the project locally?

[2020-02-26 18:43] CruzMolina commented on #2843
Hey @pizza-r0b , it looks like you're trying to re-migrate a contract. What are you attempting to do with the `overwrite` property? I don't believe it's a valid truffle-related option. Have you tried using `truffle migrate --reset`? https://www.trufflesuite.com/docs/truffle/getting-started/running-migrations#command.

Can you share a repo with reproduction steps?

[2020-02-26 18:51] CruzMolina commented on #2849
@safakoks , which version of solidity are you specifically using to compile with while testing?

[2020-02-26 18:56] CruzMolina commented on #2852
Thanks for the suggestion! This is definitely annoying. Sounds like something the Truffle team will need to discuss.

[2020-02-26 19:16] kdembler opened #2855 "Broken TypeScript typings on fresh install"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

After a fresh install of `@truffle/hdwallet-provider` (other packages possibly affected as well) TypeScript typings are not working correctly and compilation fails.

Mentioned in trufflesuite/ganache-core#465 but it's a different repo and didn't ga

[2020-02-26 19:19] safakoks commented on #2849
@CruzMolina , here's my compile config in ```truffle-config.js```

[code]

[2020-02-26 19:21] pizza-r0b commented on #2843
@CruzMolina I am trying to re-deploy a new instance of the contract.

I think I may be using overwrite incorrectly. The docs don't do a great job explaining this.

But I imagine I can use `--reset` and specify `overwrite: false` on all the contracts in which I do not want to be overwritten.

[2020-02-26 21:33] CruzMolina commented on #2855
Ah, looks like we're missing those two pkgs as devDeps (`ethereum-protocol`, `@types/web3`)

[2020-02-26 21:49] CruzMolina commented on #2843
Ah, I see. Yeah I believe there's two bugs here, one when using the `overwrite` (it should be acceptable to only pass that as an extra param, not needing other args like `from`), and another with the `address` not being properly reset on a new deployed contract instance.

[2020-02-26 22:08] CruzMolina commented on #2849
Hmmm. odd. this is what I see

[code]

Same output when using Node v8.17.0.

[2020-02-26 23:26] #2855 closed

[2020-02-27 07:22] safakoks commented on #2849
@CruzMolina may it happens because I am using ```Truffle v5.1.13```?

[2020-02-27 15:21] bwheeler96 commented on #2838
@gnidan This actually already works, the key is that `.link` returns a thenable, so it must be awaited. Here is what works for me

[code]

Alternatively you could use `.then()` syntax.

Also, it should be noted that my deploy script must be setup like this for `async` to work:

[code]

[2020-02-27 16:32] CruzMolina commented on #2849
@safakoks Hmmm. No, I'm not seeing any changes to the relevant code in v5.1.14.

At this point, I think we need to see a repo of a truffle project example where this exact bug is consistently reproduced.

[2020-02-27 17:16] eggplantzzz commented on #2655
Hey @TripleSpeeder, thanks for reporting this. It would definitely be better for this to throw an error.

[2020-02-28 11:43] k06a commented on #1341
Have same issue

[2020-02-28 16:02] davidmurdoch commented on #2811
@vitaliy-kuzmich Hmmm, I'm still unable to reproduce the issue. Are you able to create a minimal reproduction repository (or upload a zip/archive and share a link) so I can debug the same exact configuration and code that is exhibiting this behavior?

[2020-02-28 18:46] vitaliy-kuzmich commented on #2811
@davidmurdoch was you able to reproduce it before truffle  v5.1.14 ?

[2020-02-28 18:49] vitaliy-kuzmich commented on #2811
@kostysh what is your system environment ?

[2020-02-28 18:49] davidmurdoch commented on #2811
I was not able to reproduce this issue with truffle 5.1.14 or 5.1.11.

You don't need to include any `node_modules` folders, but do be sure to include the project's lock file (`yarn.lock`, `package-lock.json` or `npm-shrinkwrap.json`) if present.

[2020-02-28 19:07] vitaliy-kuzmich commented on #2811
@davidmurdoch  Can you explain how are you going to debug it ? Maybe share some links ? Because I did not know how to put breakpoints in truffle.

[reproducer.tar.gz](https://github.com/trufflesuite/truffle/files/4268601/reproducer.tar.gz)

[2020-02-28 19:35] davidmurdoch commented on #2811
@vitaliy-kuzmich What version of `ganache-cli` did you use for these tests? I noticed in `run-rpc.sh` you have `/full path here/ganache-cli` but `ganache-cli` isn't defined in your `package.json`.

If you have `ganache-cli` installed globally (which is normal), run `ganache-cli --version` in your terminal to output that version.

[2020-02-28 19:56] vitaliy-kuzmich commented on #2811
@davidmurdoch Ganache CLI v6.9.1 (ganache-core: 2.10.2)

[2020-02-28 20:20] davidmurdoch commented on #2811
I'm able to reproduce this now. The reason I couldn't reproduce before is because the bug only happens when the account involved in the transfer is holding VERY large amount of ether, `999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999` qualifies. :-D

At first glance this appears to be caused by an `ethereumjs-vm` bug (probably two bugs). The first bug is t

[2020-02-28 21:12] davidmurdoch commented on #2811
Related issue: https://github.com/ethereumjs/ethereumjs-vm/issues/672

[2020-02-29 08:38] vitaliy-kuzmich commented on #2811
@davidmurdoch thanks for debug tips!

[2020-03-01 15:29] thecircleoflifefree opened #2865 "Add 'history' linux alike command in truffle develop [ENHANCEMENT]"
Enhancement Request (Nice to have)

Just like in linux where you can run 'history' and see the list of commands that you have recently used.

[2020-03-01 20:40] cds-amal opened #2866 "@truffle/contract-schema doesn't account for the solc versions of ABI"
contract-schema should respect Solidity's breaking [1] ABI changes which remove the `constant` and `payable` fields. Discussing with @gnidan `contract-schema` could use the solidity compiler version to populate the correct values in the `transform` and `normalize` would handle forward compatibility. This would be a breaking change to @truffle/contract-schema.

Thanks @xMNG for bring this to our at

[2020-03-01 23:33] xMNG commented on #2866
I made a [test repo](https://github.com/xMNG/simpleStorageConstantBug) with instructions reproduce this issue.

Thanks @cds-amal for your suggestions.

[2020-03-02 08:03] vitaliy-kuzmich commented on #2811
@davidmurdoch but wait, my script worked since testrpc times, is it mean that new changes chat came with eth-js related things, broke bignumber in js ? Or bignumber is not part of this ecosystem already?

[2020-03-02 13:30] davidmurdoch commented on #2811
I believe they added an upper limit recently (in the past 6 months) because some operations require the data fit in a specific byte length.

[2020-03-02 15:32] codenamejason opened #2867 "Error on truffle init"
## Issue

truffle init errror

## Steps to Reproduce

run truffle init

## Expected Behavior

initialization success

## Actual Results

Starting unbox...
=================

√ Preparing to download box
\ DownloadingError: write EPROTO 20712:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:c:\ws\deps\openssl\openssl\ssl\record\ssl3_record.c:332:

    at WriteWrap.onWriteComplete [as

[2020-03-02 16:06] eggplantzzz commented on #2843
What is the `overwrite` option? Can anyone link to some docs?

[2020-03-02 16:09] eggplantzzz commented on #2838
Do note @bwheeler96 that the exported function in your migration can be `async`. So you can do
[code]

[2020-03-02 16:17] CruzMolina commented on #2843
@eggplantzzz https://www.trufflesuite.com/docs/truffle/getting-started/running-migrations#deployer-deploy-contract-args-options-

[2020-03-02 16:44] bwheeler96 commented on #2838
@eggplantzzz I agree that this **should** be true, but someone, somewhere showed an example where there appeared to be some issue with exporting an async function.

I'm not sure if this is node version thing, not really a thing at all, or some other weirdness, but this code works for me and I'm afraid to change it :)

[2020-03-02 16:58] Dwgoing commented on #766
i got same error. but i can not solve with your answer

[2020-03-02 17:03] kroim commented on #766
If you got fails from "sudo npm install -g request" and "sudo truffle init", you can get success from
![image](https://user-images.githubusercontent.com/33049672/75699003-a9da9a80-5cea-11ea-82e4-5afae8d5610b.png)
I solved from this when I got fails from the 2 cases all.

[2020-03-02 17:06] Dwgoing commented on #766
i will have a try again,thanks

[2020-03-02 20:08] abuaesh commented on #1062
Hello everyone, it's 2020 and I got the same problem :)
I'm using Ganache CLI v6.9.0.
The error says: sender doesn't have enough funds to send tx. The upfront cost is: 672197500000000000 and the sender's account only has: 0

Anyone help?

[2020-03-02 23:43] r0qs opened #2868 "Truffle test throws error when specify web3 options on overloaded function"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
---------------------------

## Issue

I don't know if this is a bug of Truffle or web3, or if I'm doing something wrong. But when I try to specify some options parameter (e.g. {from: some_address}) on an overloaded function the truffle test throws the following error:
[code]
If I remove

[2020-03-03 00:07] gnidan commented on #2868
Ah, thanks for reporting this! Congrats, you've successfully confused Truffle! :)

Sounds like your hunch is correct: because you define more than one `write()` method (`write(string memory)` and `write(uint256, string memory)`), and because your C contract inherits B, which has both of those methods, Truffle sees the second argument in `c.write("...", { from: "..." })` and assumes you mean to use

[2020-03-03 00:16] gnidan opened #2869 "Document @truffle/contract's overloaded methods capability"
Spun out of #2868, it seems that the [Interacting with your contracts](https://www.trufflesuite.com/docs/truffle/getting-started/interacting-with-your-contracts) docs don't have any mention of `instance.methods` (and neither does the [@truffle/contract README](https://github.com/trufflesuite/truffle/blob/develop/packages/contract/README.md))

Seems like the only place this feature is documented is

[2020-03-03 00:41] haltman-at commented on #2868
Btw, I want to pop in here that better overload resolution is planned for the future to make resorting to `methods` less necessary!

[2020-03-03 01:12] r0qs commented on #2868
Hahaha, thanks @gnidan! It works indeed, but the correct method is:
[code]
Since the method with signature "write(string)" looks to be hidden for truffle, but can be accessed explicitly as you recommended.

[2020-03-03 01:47] gnidan commented on #2868
Oh of course; I wrote the wrong one, oops :)

Anyway, glad I could help! Besides the docs change, anything else actionable here? Is this a case where Truffle can error better? Can we feasibly detect the ambiguity here / is it worth it to add this before @haltman-at's teased changes?

Feel free to close if you're satisfied, or I'll follow-up after some team discussion in our weekly ticket processin

[2020-03-03 03:23] abuaesh commented on #1062
I was able to solve it by changing the mnemonic in my truffle-config.js to match the mnemonic given by Ganache CLI

[2020-03-03 14:51] pizza-r0b commented on #2843
@CruzMolina I think you are correct about the bugs

[2020-03-03 17:37] sirpy commented on #2818
plus one...
i think allowing exec to run tests would be perfect
make truffle test keep cleanroom behaviour, but use exec for quick iterations when doing TDD

[2020-03-04 06:24] haltman-at commented on #2723
OK, I've put up #2871 to address this; sorry about the delay, was working on some other things.

A bit of explanation for everyone else -- on inspecting the reproduction example, it turned out that this is actually a Solidity problem; the Solidity compiler was emitting ill-formed ABIs. We can't really fix that -- and it will have to be fixed, for obvious reasons! -- but I can at least add this wor

[2020-03-04 10:11] Belial-public commented on #2840
`npm install -g truffle` is to install truffle globally, it has nothing to do with develop. With the settings I gave above it should be reproducible

[2020-03-04 15:10] topnotchbiz commented on #2834
Thanks @slmatthiesen and thanks you @CruzMolina . I had same issue using v5.1.15 and the old v5.1.10 solved my issue. Thanks again.

[2020-03-04 18:36] gnidan commented on #2865
Yeah! Totally! Good idea!

(How do we do it?)

[2020-03-04 18:42] gnidan commented on #2867
Thanks for reporting this! We'll look into it and figure out a solution or at least a workaround for you.

[2020-03-04 18:43] #1062 closed

[2020-03-04 18:45] gnidan commented on #2868
@haltman-at brings up a good point that we should be able to detect when the last argument is an options and thus not conformant to one of the overloads. Calling this a bug, then!

[2020-03-04 18:47] #2869 closed

[2020-03-04 18:54] gnidan commented on #2779
Closing this for issue maintenance and since no one knows what's going on. 😄

Thanks! Let us know if you know what's going on, and I'll happily re-open!

[2020-03-04 18:54] #2779 closed

[2020-03-04 18:55] gnidan commented on #2830
Yep! I'll update this issue accordingly! Thanks @JackBekket

[2020-03-04 18:55] CruzMolina commented on #2779
Hey @vishnutm!

If you can share a repo with reproduction steps, would be happy to re-open and look into this.

Thanks!

[2020-03-04 18:57] gnidan commented on #2840
Seems like we need to get to the bottom of this

[2020-03-04 19:00] gnidan commented on #2843
I wonder if it's a problem with the code that detects whether the last parameter is an options. It might look for `from` specifically to make that determination.

Might want to look at this one at the same time as #2868

[2020-03-04 22:23] codenamejason commented on #2867
I have heard from a few devs they have had problems on Windows also. My Ubuntu box just blew up so I need a new one 👍

[2020-03-04 22:27] gnidan commented on #2723
That fix will go out in the release tomorrow!

[2020-03-05 19:58] eggplantzzz commented on #2723
A fix should be in the latest Truffle (https://github.com/trufflesuite/truffle/releases/tag/v5.1.16).

Let us know if this doesn't solve this issue and we'll be happy to re-open!

[2020-03-06 22:31] haltman-at commented on #2723
Reopening issue per @Amxx's comments in email.  @Amxx, could you tell us what error messages you're getting now?  Thank you!

[2020-03-06 23:08] pdlla commented on #2070
Will this be fixed? Seems like a major issue.

Workaround does fix it for me.

[2020-03-07 00:58] johnda98 commented on #2070
go back to node 10

*John D Allen.*

*T +1 417 849 0705 ** CST  | john.allen@leveridgesystems.com
<john.allen@leveridgesystems.com>  | https://www.leveridgesystems.com
<https://www.leveridgesystems.com> | linkedin.com/in/johndallen1
<http://linkedin.com/in/johndallen1> | skype john.allen_67
https://www.yourhashgraphtoken.com <https://www.yourhashgraphtoken.com>*

 Leveridge Systems INC. Reg Missou

[2020-03-07 01:51] haltman-at commented on #2723
OK, just put up a PR #2873 with a (partial?) fix for this; see that PR for more information.  Note that while this problem is basically our fault due to failure to gracefully handle an AST node ID collision, you might want to report to Solidity that there was an AST node ID collision at all, because my understanding is that that AST node IDs are supposed to be unique within a single compilation.

[2020-03-08 14:45] sirpy commented on #1250
this should be re-opened its not working if you didnt first import the artifacts in solidity
it only works if you have the artifact in your local build/contracts
i'm trying to use an external package contracts in tests and the following doesnt work:
[code]
the error returned is:
[code]

[2020-03-09 12:27] h3nk42 commented on #1803
Is there any way to use Truffle behind a corporate proxy right now?

[2020-03-10 09:46] kartojal opened #2876 "Test fails at beforeAll hook prepare suite with Truffle 5.1.18"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

We detected in our CI pipeline that after the truffle version bump in npm the tests stopped working, so me and my peer debugged locally and found this error since truffle 5.1.16 and with latest 5.1.18.

Our cur

[2020-03-10 19:52] haltman-at commented on #2876
Thanks for reporting this!  Do you have a reproduction example we could use to help narrow downt he problem?  Thank you!

[2020-03-10 19:52] haltman-at commented on #2876
Also, you mentioned it works on 5.1.13; do you know just which version the problem first appeared on?

[2020-03-11 12:31] alexy97 opened #2878 "Truffle Script halts in a loop"
I am trying to run a very simple script using the truffle exec command  which sends a bunch of transactions to the node. I am not using await on the method calls , but the execution still wait and does not proceed which results in only 1 iteration.

[code]
I am not sure if this is expected behaviour or if there is some kind of workaround but for my test I need to send the transactions without wait

[2020-03-11 17:41] eggplantzzz commented on #2878
So the fact that `contract.transfer` is an asynchronous function is probably what is causing your problem. The loop is synchronous and it calls `transfer` each time. However, it does not wait for the function to finish, jumps out of the loop, and calls the callback. This, in turn, probably exits the process and thus does not deal with whatever happens when the data comes back. So maybe just `await

[2020-03-11 17:42] eggplantzzz commented on #2878
Closing as this is probably not an issue with Truffle. If you find it actually is a problem, get back to us and we'll be happy to re-open it!

[2020-03-11 17:42] #2878 closed

[2020-03-11 17:45] eggplantzzz commented on #1713
Is this still a problem that exists on current Truffle (5.1.16)? I feel like this may have been solved. If someone can produce this error, let us know!

[2020-03-11 17:50] eggplantzzz commented on #1724
I believe this got solved a while back with [this](https://github.com/trufflesuite/truffle/pull/2510). Thanks for suggesting this kind of thing!

[2020-03-11 17:50] #1724 closed

[2020-03-11 17:53] eggplantzzz commented on #1729
@chrischip I think this problem may be fixed on the most recent Truffle (version 5.1.16). Let me know if you are still having this problem and I'll be happy to re-open this issue and try to help!

[2020-03-11 17:53] #1729 closed

[2020-03-11 17:56] eggplantzzz commented on #1795
@AleG94 Sorry for the delay in getting back to you! Can you confirm that this is still an issue on the latest Truffle (version 5.1.6)? And if it is, do you have a test repo that I could use to reproduce the problem?

[2020-03-11 17:58] eggplantzzz commented on #1803
@gnidan Any thoughts as to whether this might be something we can do anything about or if there is a workaround related to the network configuration perhaps?

[2020-03-11 18:02] eggplantzzz commented on #1810
Is this still a problem on the latest Truffle (version 5.1.6)? If so, are the reproduction steps above still relevant?

[2020-03-11 18:04] eggplantzzz commented on #1843
@pieterhartel Glad you came up with a workaround! Do you think that there is still something actionable here?

[2020-03-11 18:06] eggplantzzz commented on #1487
As of 5.1.0 this problem should be fixed. If anyone is still experiencing an issue, please let us know and we'll be happy to re-open!

[2020-03-11 18:06] #1487 closed

[2020-03-11 18:11] eggplantzzz commented on #1911
So it looks like if we wanted to move forward on this, we would need to have a requirements gathering session to figure out what kind of behavior we actually want. Leaving this here until we can triage things.

[2020-03-11 18:13] eggplantzzz commented on #2040
Is this still an issue with the latest version of `@truffle/hdwallet-provider`?

[2020-03-11 19:35] zach-is-my-name opened #2879 "Debugger Fails Cryptically: Error: Compilation shimmedcompilation has unreliable source order"
- [ X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Debugger Fails Cryptically:  Error: Compilation shimmedcompilation has unreliable source order
## Steps to Reproduce
![Screenshot from 2020-03-11 15-30-36](https://user-images.githubusercontent.com/16063092/76456491-70babe00-63ad-11ea-97bf-af94946

[2020-03-11 19:51] haltman-at commented on #2879
Thanks for the report!  This definitely shouldn't happen.  Fortunately I've already managed to reproduce the problem, so hopefully I can figure out how this slipped through...

[2020-03-11 20:46] haltman-at commented on #2879
OK, just put up #2880 to fix this, so this should be fixed and out quickly!

[2020-03-12 03:55] pdlla opened #2881 "better logging on revert"
Right now, if a contract ever reverts, `truffle test` just crashes and gives no useful error messages. This seems like a big miss as one expects test to fail during development. It would be really nice if:

1. it gave better output. In particular, it would great if it could print the failed transaction so it can be used for debugging. Right now I have to find it inside of my ganache console.
2. it

[2020-03-12 14:43] AleG94 commented on #1795
@eggplantzzz Yeah I can confirm it's still an issue in truffle 5.1.16.

I made an example repo for you, you can find it [here](https://github.com/AleG94/truffle-1795).

Running `truffle test` when the build folder does not exist will cause the error. Running `truffle migrate` and then `truffle test` works flawlessly.

[2020-03-12 22:18] hackbymesk commented on #906
Use  function Lottery() (Ex for Lottery Contract) as constructor instead of using constructor(). Maybe it is problem of solidity compiler's version

[2020-03-13 02:00] haltman-at commented on #2723
OK, the fix is released, so I'm closing this again.  Let us know if there are still problems.

[2020-03-13 02:00] #2723 closed

[2020-03-13 06:58] haltman-at commented on #2865
Obvious note, but, whenever this happens it should apply to Truffle Console as well.

[2020-03-13 18:24] 24thsaint commented on #2834
@topnotchbiz downgrading solved my issue. Thank you!
---
Running on Windows with the following versions when this issue occurred:

Truffle v5.1.15 (core: 5.1.15)
Solidity - 0.5.16 (solc-js)
Node v13.5.0
Web3.js v1.2.1

[2020-03-14 21:44] akrolak commented on #2732
I have exactly the same problem on 5.1.9, should I still downgrade to 5.1.4?

[2020-03-14 22:21] akrolak commented on #1752
the same thing happens to me in:
Truffle v5.1.17 (core: 5.1.17)
Solidity v0.5.16 (solc-js)
Node v10.19.0
Web3.js v1.2.1

[2020-03-15 18:15] Nandonia commented on #1087
It took me a long time to track down that this was the same issue I was having.

I had a setup with:

and I could not figure out why I kept having my deployments fail with messages like "Contracts that inherit an abstraction must implement all its method signatures exactly." even though I knew all my methods were implemented.

Turns out the artifact for the interface was overwriting the contract a

[2020-03-15 18:19] Nanolucas commented on #1087
It took me a long time to track down that this was the same issue I was having.

I had a setup with:

and I could not figure out why I kept having my deployments fail with messages like "Contracts that inherit an abstraction must implement all its method signatures exactly." even though I knew all my methods were implemented.

Turns out the artifact for the interface was overwriting the contract a

[2020-03-15 22:49] Alexangelj commented on #2876
Hi, I've asked in gitter about this same issue. I was using the latest truffle version before I found uninstalled and reinstalled to an earlier version.

I fixed the problem using these two commands:
`npm uninstall -g truffle`
`npm install -g truffle@5.14`

I tried v5.15 and still got this exact same error.

When I run truffle version this is the output:
`Truffle v5.1.14 (core: 5.1.14)
Solidity -

[2020-03-16 14:50] eggplantzzz commented on #2838
Oh, I have never had any problems making the exported migration functions async. If you come across a specific example where this doesn't work I would be very interested in seeing it to troubleshoot it!

[2020-03-16 19:50] haltman-at commented on #2876
OK, do you have a reproduction example I could inspect?  It would make it a lot easier to determine what's going on.  Thank you!

[2020-03-17 00:14] fvictorio opened #2889 "Cannot inspect mappings with addresses as keys"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue. ([Link](https://gitter.im/ConsenSys/truffle?at=5e6ad246d8cd7e214f03ddf2))

---------------------------

## Issue

Mappings that have addresses as keys can't be inspected in debugger.

## Steps to Reproduce

1. Run `truffle unbox metacoin` in some directory
2. Start `ganache-cli` in anoth

[2020-03-17 00:17] haltman-at commented on #2732
I'm a little confused here @akrolak... there is no Truffle 5.1.9 (not yet, anyway).  Could you confirm what version you are having the problem on?  Also, you are certain it is the same error?  Posting the error message may be helpful here.

[2020-03-17 00:19] haltman-at commented on #1752
Hm, the same thing?  Could you post the error message for certainty here?  Also, do you perhaps have a reproduction example we could check out?

[2020-03-17 05:07] haltman-at commented on #2889
Ah, I see the problem.  I'm afraid I'm going to have to close this as a won't-fix for now.  The problem has nothing to do with using addresses as mapping keys.

The problem is that you're asking to see `msg.sender` appear in the list of keys for `balances` at the start of the function, before `balances[msg.sender]` is accessed in the transaction.  Step a bit further, to after this is accessed, and

[2020-03-17 05:07] #2889 closed

[2020-03-17 08:56] rrodriguezreche commented on #1612
Browsing for another issue I stepped on this.

For anyone struggling, I managed to pull this workaround. It seems like web3 is somehow internally aware of the injected hdwallet provider even in dry-runs, it is just that the accounts in the hdwallet provider do not exist in the `accounts` variable that is passed in the migrations exports:

`module.exports = function(deployer, network, accounts) { .

[2020-03-17 11:23] kartojal commented on #2876
Check **Steps to Reproduce** please

[2020-03-17 16:52] haltman-at commented on #2876
Ah, I see, I misread and missed that.  Thanks, will take a look!

[2020-03-17 18:58] robertmagier commented on #852
In my case @roderik sollution worked perfectly. It solved my problem.

[2020-03-17 20:51] haltman-at commented on #2889
All that said, I should really open an issue for this reconstruct mode I've been talking about, even if it's not high-priority at the moment and so won't be gotten to for a while.  I'll go do that and it'll be linked here! :)

[2020-03-17 20:54] haltman-at opened #2894 "Add system for debugger to track storage not accessed in transaction"
## Issue

Currently, the debugger can only see the contents of storage slots that have been accessed so far during the transaction being debugged; similarly it can only see mapping keys that have been accessed during the transaction being debugged.  This problem came up recently in for instance #2889.

The idea is to allow one to load a transaction in "reconstruct mode", in which all relevant stor

[2020-03-17 21:16] haltman-at commented on #2876
@kartojal Um, sorry, but I'm getting a repository not found error when I try to clone your repo:

[code]

Any idea why / any other way I could get my hands on a copy?  Thanks!

[2020-03-18 14:32] tnguyen42 commented on #906
Hi,
2 years later, with:
- Truffle v5.1.15 (core: 5.1.15)
- Solidity v0.5.16 (solc-js)
- Node v12.16.1
- Web3.js v1.2.1

I still got the same issue. But it seems to be coming and going.
I had a project from November 2019 which was working fine. I tried to open it last month and I got this issue. I opened it today and it was working fine.

I've just started a new project, and I got this issue. Noth

[2020-03-18 17:24] fvictorio commented on #2889
Thank you for the detailed explanation! It totally makes sense for this to be a won't fix. Keep up the amazing work :smiley:

[2020-03-18 17:35] haltman-at commented on #2889
Thanks!  We will get to making reconstruct mode eventually, it's just pretty low-priority at the moment. :)  Unfortunately making it work for mappings runs into additional complications and will probably never really be convenient, but I'm hopeful that I can at least make it workable...

[2020-03-18 17:43] eggplantzzz commented on #2881
@pdlla Thanks for reporting this! Actually this is partially a duplicate of [this](https://github.com/trufflesuite/truffle/issues/1655). The "out of gas" error is actually the specification. See [this](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-170.md).

What are you doing to get your tests failing as they do in your example? I don't think tests always fail like that. If you can give me

[2020-03-18 17:49] eggplantzzz commented on #1795
Thanks @AleG94! I'll try and reproduce this today!

[2020-03-18 17:55] eggplantzzz commented on #2066
We'll need to get a Quorum setup going to investigate this!

[2020-03-18 17:58] eggplantzzz commented on #2075
@aawaken Can you confirm that this is still an issue on the latest Truffle (version 5.1.16)?

Is there something different about your `Migrations.sol`? If you could provide a repo and reproduction steps so that we can try and troubleshoot it?

[2020-03-18 18:00] eggplantzzz commented on #2076
@kevinbluer This might be a nice issue for a Truffle U student, eh?

[2020-03-18 18:07] eggplantzzz commented on #2087
Closing this for issue maintenance. If this is still a problem and you have some reproduction steps, please do get back to us and we'll be happy to re-open!

[2020-03-18 18:07] #2087 closed

[2020-03-18 18:11] eggplantzzz commented on #2090
If there is anything actionable on this subject for version 6, then we'll have to have a discussion and talk about specifications for the work.

[2020-03-18 18:15] pdlla commented on #2881
I set gananche block gas limit to something very high. I deployed like 3 variations of ERC20/ERC721 contracts in my contract and that was enough to exceed the code size limit. I didn't realize it was so small D:.

I've since split them out and added this helper function to my migrations to track how close I'm getting to the limit

[code]

Thx for sharing the EIP. Kind of makes sense they piggy bac

[2020-03-18 18:24] eggplantzzz commented on #1976
When Ganache is running on port 7545, somehow the network id is set by Truffle to 4447 yet it somehow knows that Ganache is running at 7545 and the network ids conflict. It would be a good idea to test other ports for these same symptoms.

[2020-03-19 12:45] AfonsoMiao commented on #2632
I guess the problem was in my truffle-config,js

[2020-03-19 12:45] #2632 closed

[2020-03-19 17:54] loyo888 opened #2900 "Cannot install truffle@5.0.2"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Trying to install truffle@5.0.2 on my Mac and keep getting an error message. I changed the permissions of the file but still cannot get it to work.

## Steps to Reproduce

Open terminal and type npm install -g truffle@5.0.2

## Expected Behavior

I

[2020-03-19 22:15] haltman-at opened #2902 "Whitelist revert strings debug compiler option"
## Issue

Solidity 0.6.3 added a debug flag one can pass to the compiler, where the compiler builds in revert strings for any compiler-added reverts.  (See the [release notes](https://github.com/ethereum/solidity/releases/tag/v0.6.3).)

I don't think this is in our whitelist of options to pass along to the Solidity compiler; it should be whitelisted so users can put this in their truffle-config an

[2020-03-19 23:05] EmanHerawy opened #2903 "add "networkType": "quorum" for non migrated contract in kaleido quorum network"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Hi all,
I'm developing a react native app using ( kaleido quorum network , truffle and truffle-contract & web3js) but it doesn't work well with non migrated contract
in the front end , if i'm calling any migrated contract , it works fine .

What the

[2020-03-19 23:40] nubiaprince commented on #2903
Good job @EmanHerawy
Keep going 👍🏼

[2020-03-20 05:01] juwitaw commented on #2876
It happened on truffle version 5.1.17, too.

[2020-03-20 12:53] rkalis commented on #2865
It looks like the history is accessible from the node repl. I created a very simple test file to check it out, and it appears that you can just access `repl.history` and get a list of all repl history. However, I don't think printing it is included in a builtin command.

Test file:
[code]

Output:
[code]

It also looks like the [repl.history](https://www.npmjs.com/package/repl.history) package can

[2020-03-20 13:46] coffee-converter opened #2904 "Any contract or library named "Buffer" prevents truffle console from connecting to testnets (on Node.js 12+ only)"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When using @truffle/hdwallet-provider configured for a testnet, truffle console will fail to connect if there exists a compiled contract or library with the exact name "Buffer".

## Steps to Reproduce

I have created a simple repo that reproduces t

[2020-03-20 14:30] rkalis commented on #2848
Just opened PR #2905 that should solve this.

[2020-03-20 16:25] cds-amal opened #2906 "truffle-networks fails when non artifacts in build folder"
`truffle networks` fails parsing non json in build folder. We had a zip file that caused the command to fail with stack trace.

@nicholasjpaterno suggests it should only operate on .json files.

[2020-03-20 18:15] haltman-at commented on #2876
@juwitaw OK, good to know.  Do you have a reproduction example I chould check out by any chance?

[2020-03-20 20:31] haltman-at commented on #2820
Oh, huh, why is this still open?  Closing.

[2020-03-20 20:31] #2820 closed

[2020-03-21 07:35] juwitaw commented on #2876
I tried to reproduce with a simple token contract.
Please check on this repo:
https://github.com/juwitaw/simple-test-token/tree/repro-truffle-5.1.17

It runs on docker.
1. Build the image, `docker build -t simpletests:dev .`
2. Run using docker-compose command, `docker-compose -f docker_compose_test.yml up --abort-on-container-exit`
It will show this kind of error like the below picture.
![image](

[2020-03-23 15:55] eggplantzzz commented on #2732
@haltman-at Actually there is a Truffle version 5.1.9! https://www.npmjs.com/package/truffle/v/5.1.9

[2020-03-23 15:58] #2848 closed

[2020-03-23 16:00] eggplantzzz commented on #2906
Well I'd say that is absolutely obnoxious!

[2020-03-23 16:06] eggplantzzz commented on #2904
What a strange find, it also hangs for me on Node 10. Thanks for the report!

[2020-03-23 19:21] haltman-at commented on #2732
Oh, oops, I misread.  I thought it said 5.1.19.  Sorry about that, @akrolak!  OK.  If you are having the problem on 5.1.9, could you try upgrading to the latest Truffle, 5.1.18?

I'm going to re-close this for now since it turns out the report is for an old version of Truffle.  I'll re-open it if you can confirm it still happens on current Truffle.  Thanks!

[2020-03-23 19:21] #2732 closed

[2020-03-23 21:36] haltman-at commented on #2876
OK, thanks!  I'm going to first try to see if I can reproduce it without Docker for simplicity.  Also thanks for doing a bit to narrow down the interaction here.  Anyway, I'll take a look!

[2020-03-23 22:30] haltman-at commented on #2876
@juwitaw So, um, your example that you put up doesn't actually seme to include this `SashimiToken` that you mention; only the `SushiToken`?  As  a result I was not able to reproduce the error.  Could you include the `SashimiToken` as well?  Thank you!

[2020-03-24 02:53] juwitaw commented on #2876
@haltman-at Hi, thank you for your time.
I included the `SashimiToken` on the repo. Please checkout to branch `repro-truffle-5.1.17`.
I'm sorry, I think I forget to mention it before.

[2020-03-24 02:59] haltman-at commented on #2876
Oh, silly me!  Yes, I see it now.  Great, I'll take a look, thanks again!

[2020-03-24 05:59] ltfschoen commented on #2552
After trying alternatives, I've revisited the timeout issue and it's no longer occurring. Unfortunately I have no idea why (perhaps because I ran `npm uninstall ganache-cli -g
npm install ganache-cli@beta -g` this time instead of just `npm install -g ganache-cli`...). I've restarted numerous times since I first raised my issue ~2 months ago.

[2020-03-24 07:07] haltman-at commented on #2876
OK, thanks a bunch for the example, I've put up #2908 to address this!

[2020-03-24 08:09] 3rdstage commented on #2834
I also met this problem right after upgrading to v5.1.18.   I had tested this on my Windows 7 laptop with Node.js 10.15  and Ubuntu 16 guest of Virtual Boxy with Node.js 10.19, and found the same problem.
Deleting files under build directory ('build/contracts/*.json' files) doesn't help at all.

I downgraded my Truffle back to v5.1.9 and the problem disappeared.  So, this problem is taught to appe

[2020-03-25 17:34] gnidan commented on #2900
Hey! Sorry about this, there was a problem with that version (and likely others). You should be able to work around this by using [NVM](https://github.com/nvm-sh/nvm).

Closing this for issue maintenance, but let us know if you run into further difficulty. Thanks!

[2020-03-25 17:34] #2900 closed

[2020-03-25 17:42] gnidan commented on #2903
Interesting problem, thanks for bringing to our attention!

I think the solution here is non-trivial, since that `networkType` field shouldn't necessarily live in that location - for instance, the same contract could be used for both `quorum` and `ethereum` network types, so `networkType` should theoretically be a property per-network.

I think we should wait to add this field to the artifacts unt

[2020-03-25 17:51] gnidan commented on #2904
What a funny problem! So this seems to happen in the console because the console uses Node.js's built-in Buffer, and then Truffle goes and clobbers that name with your contract. So no Node buffer; the console is trying to stream bytes to your contract abstraction, which of course does not have any notion that it should handle that :)

Not sure about workaround. There might be a way to detect this

[2020-03-25 17:59] gnidan commented on #2881
Hey do you know about [eth-gas-reporter](https://github.com/cgewecke/eth-gas-reporter)? It plugs into your `truffle test` and gives you a table listing gas cost of each contract function as executed by your tests. Might be what you're looking for? Let us know! Thanks!

[2020-03-25 18:04] gnidan commented on #1803
How does this work for Node.js in other projects? Shouldn't Node just respect the network configuration? Any insight here would be helpful!

[2020-03-25 18:10] gnidan commented on #1963
Hey @chebykin, apologies for the radio silence here. Happy to entertain any ideas on how to move this forward!

[2020-03-25 18:15] gnidan commented on #2102
Definitely, credit where credit is due! Feel free to PR this :)

[2020-03-25 18:19] gnidan commented on #2114
This might be related to #2599 ("Resolver.resolve doesn't make any sense")

[2020-03-25 19:50] haltman-at commented on #2186
We have this now.  Closing this.

[2020-03-25 19:50] #2186 closed

[2020-03-25 23:11] xtianus79 commented on #1996
had a similar issue. What is the idea of this being addressed so it is fixed or is it just this version?

[2020-03-26 18:04] #2902 closed

[2020-03-26 19:46] #2906 closed

[2020-03-27 01:38] haltman-at commented on #2876
OK, fix has been released, so closing this.  Let me know if there's still a problem.

[2020-03-27 01:38] #2876 closed

[2020-03-27 01:58] passabilities commented on #1752
Same is happening to me:

[code]

[2020-03-27 02:39] haltman-at commented on #1752
@passabilities That appears to be a different error, but we can group them together, I suppose.  Do you have a reproduction example I could try out?

[2020-03-27 02:47] passabilities commented on #1752
Ahh ok I think the solution was to delete the build folder and recompile before running your tests:

[code]

That did the trick for me

[2020-03-27 12:57] ReedAlan commented on #2834
Same happens to me on windows 10 (64bit)

C:\Users\Alan\Documents\DAPPS\pet-shop-tutorial>truffle version
Truffle v5.1.19 (core: 5.1.19)
Solidity v0.5.16 (solc-js)
Node v13.11.0
Web3.js v1.2.1

[2020-03-28 01:43] EmanHerawy commented on #2903
Thanks for your decent reply!
I Would love to help in fixing this if someone just guide me & I'm thinking of two ways of fixing :
1- fix it in `truffle-contract`  ( something like add the network type with the provider) , in my opnion this is better and easier
2- fix it in contract artifacts , by adding `networkType` in each network deploy and force compile with each migration  ( because we might

[2020-03-28 21:53] guises2014 commented on #2070
This was a great and informative thread that helped me quickly understand my problem and find a resolution. My thanks to everyone involved.

[2020-03-29 17:16] triple-vee commented on #1950
I had this problem when trying to install everything globally. Once I removed all the packages globally and created a local instance of node, the packages installed without error in my local instance.

[2020-03-30 21:51] adrianmcli commented on #2841
I'm having this issue again, and it doesn't seem to be a lack of default import as it actually fails catastrophically (for a lack of a better word, I apologize). I've created a reproduction repo here that is based on a plain Create React App + Decoder. The moment I try to import it, it fails with:

[code]

I wonder if it's something to do with the usage of `fs`.

[2020-03-30 21:55] adrianmcli commented on #2841
This time it's failing (with the same error as above) with all of the following cases:

[code]

[2020-03-30 21:57] adrianmcli commented on #2841
Note: everything works fine with Node.js. This seems to be a browser/frontend issue, which is why I suspect it's due to a reliance on some standard Node.js libraries that do not exist in the browser.

[2020-03-30 23:28] haltman-at commented on #2894
Also, in addition to storage, this mode would track nonces.  And, of course, bytecode.

Later versions would probably also add balance tracking, but storage, bytecode, and nonce should suffice for an initial version; balance can come later.

[2020-03-30 23:38] haltman-at commented on #2841
Blech, thanks for pointing this out.  What's the error message, FWIW?

[2020-03-31 00:12] adrianmcli commented on #2841
The error msg is above: https://github.com/trufflesuite/truffle/issues/2841#issuecomment-606270734

[2020-03-31 00:13] adrianmcli commented on #2841
Looks like `fs-extra` is failing. I did an `npm ls fs-extra` and got his:

[code]

[2020-03-31 00:14] haltman-at commented on #2841
Ah, I see, thanks a bunch!  Well, will have to see if can fix that, or what can be done if not...

[2020-03-31 00:15] adrianmcli commented on #2841
I forgot to link my reproduction repo: https://github.com/adrianmcli/decoder-import-bug

[2020-03-31 00:17] haltman-at commented on #2841
For now you can downgrade to the previous decoder version (4.1.0); you won't lose much functionality (just some stuff involving internal function pointers which I don't think you're currently handling anyway).  But yeah will have to do something about this...

[2020-03-31 00:21] haltman-at commented on #2841
Another workaround would be to configure webpack to not attempt to import `fs-extra`, as mentioned here: https://github.com/jprichardson/node-fs-extra/issues/261

[2020-03-31 00:33] adrianmcli commented on #2841
sounds good, I'll try to run it at the older version

[2020-03-31 00:56] haltman-at commented on #2841
OK, put up #2919 to address this.  Hopefully it'll suffice and we won't have to resort to hackier measures...

[2020-03-31 15:53] mrdavey opened #2921 "npm audit vulnerabilities for hdwallet-provider"
## Issue

`npm audit` finds 3 vulnerabilities, with 1 high vulnerability.

## Steps to Reproduce

1. Create a new npm project
2. `npm install @truffle/hdwallet-provider`
3. `npm audit`

## Expected Behavior

No vulnerabilities found

## Actual Results

3 vulnerabilities are found. Screenshot:
![screenshot](https://i.imgur.com/8wAYgBy.png)

## Environment

* Operating System: macOS Catalina
* Ether

[2020-03-31 16:21] andy-mcewan-artos-io commented on #2723
I'm seeing this error now too but want to actually use the contracts that are causing the ID clash, so I don't think that upgrading truffle will help.

Has anyone actually reported this as a bug on Solidity? I can't find it being mentioned anywhere but here.

[2020-03-31 17:23] haltman-at commented on #2723
Upgrading Truffle is still what you want to do here, I think.  Again, the upgraded version will better handle the ID clash rather than erroring out.  You should be able to use the contracts just fine.  The ID clash just means that the decoder (used for decoding test events, for instance) will return slightly less information.  You don't need a contract's AST ID for most uses.

Now, if you're getti

[2020-03-31 21:35] 4math2379 commented on #2834
i got the same issue with 5.1.19 / when i downgrade to 5.1.9 all compile perfectly.

I try to investigate the issue, but i really don't know where it come from.

[2020-04-01 08:50] andy-mcewan-artos-io commented on #2723
I've upgraded truffle and the error has gone. I'm adding new files which are not yet being run in tests so I'm not sure if the problem is the ID clash or bad ABI just yet - I had a quick look and couldn't see anything obvious. I guess I'll see what happens when I use them. Thanks for the help so far, anyway.

As for the Solidity bug report, as you seem to understand the problem in depth better tha

[2020-04-01 09:47] montyly commented on #1087
Hi,

As @Nanolucas mentioned, it would be awesome if Truffle could emit a warning if the json artifacts are corrupted because of a contract's name reused.

We had many issues in [Slither](https://github.com/crytic/slither) when it is the case. We had to develop a specific [detector](https://github.com/crytic/slither/wiki/Detector-Documentation#name-reused) to know what contracts names are reused,

[2020-04-01 17:39] haltman-at commented on #2723
Well, I mentioned it to them on their Gitter, but I didn't open an issue because I'd be missing one key thing: A reproduction example!  (I couldn't use Amxx's because his was sent to us privately.)  So, it would be better if you could open the issue.  But if you have a reproduction example, I could do it.

As for telling the two errors apart... yeah, they don't really belong in the same thread; so

[2020-04-01 17:43] eggplantzzz commented on #2921
Thanks for bringing this up! We'll get on it!

[2020-04-01 17:47] eggplantzzz commented on #2881
@pdlla Do you get the kind of garbage output you pasted above? There might have been something that fixed this recently...I can't remember. Let us know!

[2020-04-01 18:24] seesemichaelj commented on #2866
This is now affecting a Truffle Teams user: https://spectrum.chat/trufflesuite/truffle-teams/solidity-0-6-0-support~029c00e9-ed4f-4777-b89d-4e0472028068

[2020-04-01 22:14] dstarke opened #2923 "Events package uses ora but does not declare this dependency in package.json"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

`@truffle/events` uses `ora` but does not declare this dependency in `package.json`

## Steps to Reproduce

Create a project that requires `@truffle/events`. (In my case, I was depending on `@truffle/config`, which in turn depends on`@truffle/event

[2020-04-01 23:42] haltman-at commented on #2923
Thanks for noticing this!  I've put up #2924 to address this.

[2020-04-02 16:01] #2923 closed

[2020-04-02 16:29] cx2929 opened #2925 "truffle init error，unbox Downloading"
when I use command truffle init ,

✔ Preparing to download box
✖ Downloading
Unbox failed!
✖ Downloading
Unbox failed!
RequestError: Error: connect ETIMEDOUT 151.101.108.133:443
    at new RequestError (/usr/local/lib/node_modules/truffle/build/webpack:/node_modules/request-promise-core/lib/errors.js:14:1)
    at Request.plumbing.callback (/usr/local/lib/node_modules/truffle/build/webpack:/node_mo

[2020-04-02 17:17] CruzMolina opened #2926 ""Dependency cycles detected, you should fix these!""
[code]

[2020-04-03 01:12] pizzarob opened #2928 "rinkeby-fork not using specified address from HD Wallet Provider"
HD Wallet Provider in the truffle.js config file doesn't seem to be working properly when doing a dry-run using rinkeby-fork. The HD wallet provider has no effect on the accounts array during a dry run migration.

[code]

[2020-04-03 01:44] #2799 closed

[2020-04-03 06:56] shunp opened #2929 "cannot get initialized value with using truffle test"
## Issue

Only when using `truffle test`, I cannot get the initialized parameters such as deploy owner. On the other hand, when deploying the same contract with a migration file and use the deployed JSON file, it is found successfully.

## Steps to Reproduce

### test case
[code]

### Contract.sol
[code]

## Expected Behavior

I expect I would get the same address as the sender that I designated w

[2020-04-03 08:03] shunp commented on #2929
It was solved by myself. I'll close this.

[2020-04-03 08:03] #2929 closed

[2020-04-03 13:26] DeveloperAbhirupa commented on #1049
Facing the same issue on linux

[2020-04-03 13:27] DeveloperAbhirupa opened #2930 "const m=require('<module>') in src/js/app.js doesn't work | Cannot inclue npm modules/packages"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2020-04-03 13:29] DeveloperAbhirupa commented on #2930
I am trying to invoke bigchaindb-driver from app.js
npm i bigchaindb-driver

<u>app.js</u>
const db = require('bigchaindb-driver')

<u><i>Error</u></i>
`Cannot find module 'bigchaindb-driver'
    o http://localhost:3000/js/web3.min.js:1
    o http://localhost:3000/js/web3.min.js:1
    <anonymous> http://localhost:3000/js/app.js:1`

[2020-04-03 14:24] eggplantzzz commented on #2921
Oh, the worst one is from `web3`. That will not be easy one, let's see if someone has reported that to `web3`.

[2020-04-05 15:51] ajlopez commented on #2834
Today, I got this error, with truffle 5.1.14 in Windows 10

I removed `build` directory, and then `truffle compile` worked

[2020-04-05 18:22] ReedAlan commented on #2834
Oh. Well for me  on windows 10, even after I removed the build directory from pet-shop-tutorialTruffle compile is OkTruffle migrate is OkTruffle test fails with the above error.Truffle version givesTruffle v5.1.14 (core: 5.1.14)Solidity - 0.5.10 (solc-js)Node v13.11.0Web3.js v1.2.1Alan Reed On 5 Apr 2020 16:51, ajlopez <notifications@github.com> wrote:
Today, I got this error, with truffle 5.1.14

[2020-04-06 11:37] AleG94 commented on #1795
@eggplantzzz is there any ETA?
The issue is even blocking `solidity-coverage` from running.

[2020-04-06 18:11] slmatthiesen commented on #2834
With the new release out (5.1.20) I thought I'd give it a try again.

1. npm uninstall -g truffle
2. npm install -g truffle
3. Deleted my .json files in the build folder.
4. truffle migrate --reset --network development

And the same project that didn't compile for me a month+ ago **now compiled successfully!**

Give it a try if you are having issues. If you need to revert just:
npm uninstall -g t

[2020-04-07 13:32] ZheBan-Jassic commented on #2217
Have you solved the problem?

[2020-04-08 04:50] pauliax commented on #2834
Also experienced this issue with _Truffle 5.1.20_
Had to downgrade:
_npm install truffle@5.1.9 -g_

[2020-04-08 08:36] hswopeams commented on #1062
Hello. Can you explain how you did that? I have looked up documentation on truffle configuration and couldn't find any information on how to specific the mnemonic in truffle-config.js. Thanks.

[2020-04-08 13:56] abuaesh commented on #1062
Sure @hswopeams 👍Here are the steps:
1. When you run ganache-cli it shows the mneumonic (a group of 12 random words that display in the CLI right below the list of public and private keys). Copy these words.

2. Now, in the truffle-config.js file, look for the instantiation of the HDWalletProvider . This should normally be somewhere in setting a value to module.exports (under the networks > develo

[2020-04-08 17:35] haltman-at commented on #2925
Is this a consistent error?

[2020-04-08 17:38] haltman-at commented on #2928
Thanks for the report!  What Truffle version did this occur in?

[2020-04-08 17:42] haltman-at commented on #2930
Thanks for the report, but this doesn't appear to be a Truffle issue; this looks like purely an issue with npm.  Thanks for using Truffle!  Let us know if we've misunderstood and we can reopen this.

[2020-04-08 17:42] #2930 closed

[2020-04-08 17:48] eggplantzzz commented on #1795
Sorry @AleG94 I've been distracted as we have been working on preparing something for release soon. I will try and duplicate this today (this time for real)! :)

[2020-04-08 17:57] haltman-at commented on #2133
Does this still occur for `@truffle/contract`?

[2020-04-08 18:05] haltman-at commented on #2156
This should be fixed in most recent version of Truffle, so I'm closing this.  Let us know if there are further issues.

[2020-04-08 18:05] #2156 closed

[2020-04-08 18:05] #2161 closed

[2020-04-08 18:07] #2164 closed

[2020-04-08 18:15] haltman-at commented on #1595
You can do something like this already; Truffle supports npm as a package management system.  The documentation for this can be found [here](https://www.trufflesuite.com/docs/truffle/getting-started/package-management-via-npm).  So the config file in question would be package.json.  Does this solve your problem?

[2020-04-08 18:16] haltman-at commented on #2173
Looks like this was fixed a while back.  Closing.

[2020-04-08 18:16] #2173 closed

[2020-04-08 20:06] pizza-r0b commented on #2928
@haltman-at  5.1.2

[2020-04-08 20:36] eggplantzzz commented on #1795
Ok so I understand why it is failing on your repo. You don't import that openzepellin contract into any of your other contracts and so when Truffle goes to compile, it doesn't know about it. When it goes to test, it can't resolve it because it assumes it has been compiled already. If you import it into one of your Solidity contracts, I think it would find it and compile it into the build folder.

[2020-04-08 20:37] haltman-at commented on #2928
OK.  Do you know if it still occurs in the most recent version?

[2020-04-09 02:08] cx2929 commented on #2925
Yes, I found that some developers also have the first error. His solution is to add their own address in the "hosts" file, but I can't solve the problem after doing this. I don't know how to proceed Specific operations.

At 2020-04-09 01:35:43, "Harry Altman" <notifications@github.com> wrote:

Is this a consistent error?

—
You are receiving this because you authored the thread.
Reply to this emai

[2020-04-09 02:08] cx2929 commented on #2925
Yes, I found that some developers also have the first error. His solution is to add their own address in the "hosts" file, but I can't solve the problem after doing this. I don't know how to proceed Specific operations.

[2020-04-09 02:12] adrianmcli commented on #2925
This might be an error caused by the Chinese Firewall. I think I've seen something similar before, but it's really hard for us to replicate because we're not in China and I'm unaware of any tools that allow us to do so easily.

I am open to any ideas though.

[2020-04-09 02:14] adrianmcli commented on #2925
This issue seems relevant: https://github.com/trufflesuite/truffle/issues/2692

[2020-04-09 03:04] cx2929 commented on #2925
Thank you very much! ! ! I have solved this problem! !

[2020-04-09 03:07] cx2929 commented on #2925
Thank you very much! ! I have solved this problem! ! !

在 2020-04-09 10:14:39，"Adrian Li" <notifications@github.com> 写道：

This issue seems relevant: #2692

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-09 03:14] cx2929 commented on #2925
thank you very much! ! I have solved this problem! ! !

[2020-04-09 03:14] cx2929 commented on #2925
I have solved this problem, thank you anyway!

[2020-04-09 10:19] AleG94 commented on #1795
Yeah, it would be possible to import it into another contract but I'd have to create a `Workaround` contract just for that, so not a very clean solution.

Since the contracts are already compiled in the npm module, I think it should be possible to deploy an imported contract 'as-is' directly from migrations. It would be a much cleaner way if truffle handled it this way.

For reference, in order to

[2020-04-09 13:54] hswopeams commented on #1062
Thanks! I'll give it a try.

[2020-04-09 20:53] eggplantzzz commented on #1795
Another hacky workaround is to require the JSON directly and then manually use `@truffle/contract` to convert it to a Truffle artifact. Something like
[code]
Then you will be able to deploy it. I know, it's probably not the best but I thought I would leave it here anyways.

[2020-04-10 14:03] mcplums commented on #1308
FYI  I just had the same problem and your suggested @one70six fixed it. I got it down to a single, innocuous line in my solidity code where if it was commented out the contract deployed, but if I uncommented it it said OOG (even though I have ganache set to 10b gas). But, fixed now, fortunately.

[2020-04-10 15:42] 489356037 commented on #2692
i also have this problem

[2020-04-10 17:06] FlashSheridan commented on #2133
I’m sorry, I upgraded that machine last year, and it had to go back to my ex-employer yesterday.

[2020-04-10 19:46] #2925 closed

[2020-04-13 18:51] mudgen opened #2951 "No Bytecode Generated for Compiled Contract"
## Issue

The command `truffle compile` will fail to generate the bytecode in .json files for contracts that have their interface defined in other contracts that are also being compiled.

## Steps to Reproduce
**Step 1.** Create two very simple contracts.  Let's call them TestA.sol and TestB.sol.
**Step 2.** TestB.sol contains an interface definition of the TestA.sol contract.

Here is what TestA.

[2020-04-13 20:16] Lohann commented on #2090
I'm done... I was trying to use [chai-bn](https://www.chaijs.com/plugins/bn-chai/) plugin to make my life easier, but realized that it is impossible using truffle. I'll do the same as OpenZeppelin, throw truffle into the garbage and use [openzeppelin-test-environment](https://github.com/OpenZeppelin/openzeppelin-test-environment) for unit testing.

[2020-04-13 21:48] FlashSheridan commented on #2133
I installed the real `gcc` as “gcc” on a different machine,† and did not get the error installing @truffle/contract@4.2.0 (nor even when installing truffle-contract.)  Closing as fixed.

___
† This now takes some effort; e.g. Homebrew now installs the fake Clang as “gcc”; see https://apple.stackexchange.com/questions/245891/installed-gcc-with-homebrew-now-how-to-use-that-gcc-instead-of-clang#comme

[2020-04-13 21:48] #2133 closed

[2020-04-13 23:19] gnidan commented on #2951
Looks like #1087 strikes again!

Sorry for the inconvenience; Truffle has a long-standing limitation that prevents having two contracts with the same name.

Closing this as duplicate, but thank you for reminding me that this issue is _really freakin' annoying_ ;)

[2020-04-13 23:19] #2951 closed

[2020-04-13 23:20] gnidan commented on #1087
@montyly if you or anyone else would like to help, it'd be great to have this warning! Would definitely welcome PRs for it.

[2020-04-14 00:05] gnidan commented on #2926
Just tried and I wasn't able to reproduce this... @CruzMolina was this on `develop`?

[2020-04-14 00:29] CruzMolina commented on #2926
Yeah last time I released.

You try `git clean -dfx && yarn bootstrap`?

[2020-04-14 01:57] mudgen commented on #2951
Okay, thanks!

[2020-04-14 01:58] mudgen commented on #1087
This issue also affects interfaces that have the same name as a contract. More info here: #2951

[2020-04-14 18:34] gnidan commented on #2951
Interesting @mudgen.

There might be a workaround here, to omit artifacts for interfaces. If you'd like to take a look at doing this, would love a PR! (Or maybe just open an issue for that specific task)

[2020-04-15 05:51] haltman-at commented on #2894
Oh, and the self-destruct list.  That would need to go in the initial version too (as part of tracking bytecode).

[2020-04-15 07:53] montyly commented on #387
# Task Description
Add a warning on the console output of `truffle compile` if the codebase has multiple contracts with the same name.

# Acceptance criteria
- Running `truffle compile` on a codebase with the issue produces a warning
- The warning shows the paths of the contract

# Required skills
- Experience with Javascript
- Experience with Typescript

[2020-04-15 17:24] tjokroaprilianti commented on #1566
you can follow this link https://www.edureka.co/community/39563/install-testrpc-on-windows

[2020-04-15 17:25] wbt opened #2962 "Add documentation for how to filter event logs"
## Issue
The "[Full Example](https://github.com/trufflesuite/truffle/tree/develop/packages/contract#full-example)" of using @truffle/contract to interact with contracts should include an example of listening to an event with a filter.

In the past, it used to be possible to pass a filter object on indexed event parameters when listening to an event, as seen for example [here](https://ethereum.stac

[2020-04-15 17:36] gnidan commented on #2962
Thanks for this @wbt! You're absolutely right that this should be improved in our docs. Feel free to take a stab at it, or we'll get to it as part of our normal (albeit slow) process to work through the backlog.

[2020-04-15 17:42] BlackPanthar commented on #1538
I had this problem. What worked was replacing the "truffle-hdwallet-provider" in the require method argument at here: const HDWalletProvider = require('truffle-hdwallet-provider');

with '@truffle/hdwallet-provider'

const HDWalletProvider = require('@truffle/hdwallet-provider');

and truffle compile finally worked

[2020-04-15 17:54] gnidan commented on #1795
It seems like the issue might be related to how `truffle test` hooks up @truffle/resolver. I think next steps for debugging this one are to look at when the [NPM resolver source](https://github.com/trufflesuite/truffle/blob/develop/packages/resolver/lib/sources/npm.ts) is invoked and see where it's going wrong.

Not sure why this wouldn't work - looking at [prepareConfigAndRunTests](https://github

[2020-04-15 18:06] gnidan commented on #1713
So this issue is still a mystery, then.

The original issue is almost certainly out of date (we [recently removed](https://github.com/trufflesuite/truffle/commit/ec8359778770b01a7b2b18ef6ef1e3f98047963f#diff-6d7670850392001eafd521c83170598f) `async/whilst` in that code, e.g., and even before that commit, a misnamed `e` variable would've been caught ~1y ago when we set up a linter).

Unless there's

[2020-04-15 18:06] #1713 closed

[2020-04-15 18:09] gnidan commented on #1810
This issue's gotten pretty stale. I would be very surprised if it were still a problem on latest Truffle. As such (and after some additional head-scratching)... closing for issue maintenance!

Let us know if this needs to be re-opened! Thanks all!

[2020-04-15 18:11] gnidan commented on #1843
Closing this for issue maintenance, since there's a viable workaround and no clear requirements on a new feature.

If anyone wants this in the future, would love to pick up the conversation again! Thanks!

[2020-04-15 18:11] #1843 closed

[2020-04-15 18:13] gnidan commented on #2040
Closing this for issue maintenance since it [appears](https://github.com/trufflesuite/truffle/blob/develop/packages/hdwallet-provider/src/index.ts#L170) that @truffle/hdwallet-provider **does** support websockets.

If there's still an issue, well, let us know, and we'll be happy to re-open! Thanks y'all 🙇

[2020-04-15 18:13] #2040 closed

[2020-04-15 20:17] wbt commented on #2962
Having found what should go in there and gotten it documented here, I'll probably be comparably slow towards a PR into the official documentation.  Therefore if anyone else reading this wants to jump in, feel free!

[2020-04-16 05:07] WarKitteh opened #2966 "DownloadingError:"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
alot...
---------------------------

## Issue

Problem seems to be with SSL and NPM? I've had this happen on both my VM & Win10 Pro
Truffle is having a download error when downloading projects or initializing.
I tried to ask on stack exchange and it got deleted..... So I'm just trying to

[2020-04-16 06:52] gnidan commented on #2966
Huh. This looks new. Truffle downloads boxes from github, you might find some luck digging into your proxy settings or your git config?

Also, maybe try Node v10. I imagine Node v13 might have issues with Truffle.

Thanks for raising this issue! I hope you can find a workaround until someone can figure out a proper fix here.

[2020-04-16 07:08] nkwazi opened #2967 "Can't install Truffle on Ubuntu"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Can't install truffle there is an error in the `postinstall.js` script

## Steps to Reproduce

Run command `npm install -g truffle`

## Expected Behavior

Truffle is installed

## Actual Results

Truffle is not installed

## Environment

* Operatin

[2020-04-16 07:11] amateur-dev opened #2968 "Tezos Compiling and Migrating Contracts"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
No
---------------------------

## Issue

[code]
Error generated when migrating tezos contracts.  Following the instructions from here: https://www.trufflesuite.com/docs/tezos/truffle/quickstart

## Steps to Reproduce

Just working from here: https://www.trufflesuite.com/docs/tezos/truff

[2020-04-16 07:27] amateur-dev commented on #2968
It appears that the testNet address is wrong.  The correct seems to be: `https://api.tez.ie/rpc/carthagenet`

Reference from: `https://tezos.gitlab.io/introduction/test_networks.html`

[2020-04-16 07:31] amateur-dev opened #2969 "Tezos Contract Deployment Failing"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
No
---------------------------

## Issue

Not able to deploy ligo contracts

## Steps to Reproduce

running the instructions to run the truffle tezos example box

## Expected Behavior

Contract Address should be given out

## Actual Results

[code]

## Environment

* Operating System: ma

[2020-04-16 14:14] CruzMolina commented on #2968
Thanks for finding this @amateur-dev !

Resolved via trufflesuite/trufflesuite.com#644.

[2020-04-16 14:14] #2968 closed

[2020-04-16 14:15] CruzMolina commented on #2969
This should also be resolved via trufflesuite/trufflesuite.com#644.
Happy to re-open if not!

[2020-04-16 14:15] #2969 closed

[2020-04-16 16:01] eggplantzzz commented on #2967
@nkwazi Would you be able to get us what error you are getting while trying to install Truffle? This would be super helpful with helping us debug this.

[2020-04-16 16:50] gnidan commented on #2966
Hm your link @WarKitteh is "unknown protocol" error, but your error looks like "wrong version number". I would guess that those errors might be different? Not sure.

[2020-04-16 16:59] nkwazi commented on #2967
[code]

[2020-04-16 17:01] nkwazi commented on #2967
[npm-debug.log](https://github.com/trufflesuite/truffle/files/4488657/npm-debug.log)

[2020-04-16 17:46] gnidan commented on #2967
Hm @nkwazi looks like you're on Node v4, is that correct?

Truffle requires at least Node v8 (Node v10 preferred)

[2020-04-16 17:56] nkwazi commented on #2967
@gnidan Thanks, that worked 🤦  sorry for the buzz.

[2020-04-16 17:56] #2967 closed

[2020-04-16 18:05] gnidan commented on #2967
All good! Glad it was an easy fix :)

[2020-04-16 18:52] matthieu-beteille opened #2970 "Truffle debug with external contracts"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I am using ganache-cli to fork main-net using the `--fork` flag, also unblocking a given address (using the `-u` flag) which has some tokens that I need to be able to run some transactions and test a few things.

I have deployed my contract (A) tha

[2020-04-17 03:48] WarKitteh commented on #2966
PS \New folder> nvm use 10
10.0.0
Now using node v10.0.0 (64-bit)
PS \New folder> truffle init

Starting unbox...
=================

√ Preparing to download box
\ DownloadingError: write EPROTO 8600:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:c:\ws\deps\openssl\openssl\ssl\record\ssl3_record.c:332:

    at WriteWrap.onWriteComplete [as oncomplete] (internal/stream_base_commons

[2020-04-17 13:56] WarKitteh commented on #2966
I tried it on my MacBook and here's what I got.

[code]

[2020-04-17 14:01] WarKitteh commented on #2966
Looks like it worked once when I turned off my VPN but if I tried the pet shop or init again I get the old ssl error

[code]

[2020-04-17 16:35] haltman-at commented on #2970
Yes, unfortunately there's not a lot we can do here; the debugger depends on having source code and other debugging information.

By the way, note that it is *possible* to still step through an external contract to some extent; while the debugger will simply skip over external contracts when using the `n` command (or other similar ones), you can use `;` to step through one EVM instruction at a tim

[2020-04-17 17:02] xlab commented on #1752
I still have this probem on

* Truffle v5.1.22 (core: 5.1.22)
* Node v10.19.0

Ran this sequence:

[code]

[2020-04-17 17:40] xlab commented on #1752
UPD:
Seems to be failing on this line:

<img width="563" alt="Screenshot 2020-04-17 at 20 38 19" src="https://user-images.githubusercontent.com/477998/79597774-8a0d0380-80eb-11ea-91ce-1e9e392beabc.png">

https://github.com/trufflesuite/truffle/blob/eb5b18d8a996ef46d869364c72c69b14362f5630/packages/debugger/lib/session/index.js#L164

[2020-04-17 21:49] xlab opened #2977 ""truffle debug" hangs forever on start"
## Issue

After fixing this issue locally
https://github.com/trufflesuite/truffle/issues/1752 by ignoring undefined in the code, the "truffle debug" command now just continues to spin that spinner forever:

[code]

It actually consumes 100% CPU for a while, and if I run

[code]

I can see a lot of debug info, but at some point the info stops and CPU usage drops to 0% and that spinner then spins fo

[2020-04-17 21:59] haltman-at commented on #2977
Ooh, hadn't seen this one before.  Do you have a reproduction example we could test this with, or do you know if this occurs with other projects as well?  I'm wondering whether the debugger might be failing on something in your particular project.  Thanks for reporting this!

[2020-04-17 22:40] haltman-at commented on #1752
@xlab That looks like a different problem to me; it just happens to have the same top line of the error message.  Unfortunately, people seem to have posted a number of different issues under this issue, simply because they involve trying to read the `id` of `undefined`.

Perhaps we could move discussion of your issue to #2977 instead?

[2020-04-18 13:16] xlab commented on #2977
@haltman-at Hi thanks for the attention. I've prepared a minimal self-contained repo for debug purposes:

https://github.com/InjectiveLabs/0x-exchange-omnibus

The contract sources are basically 0x exchange from https://github.com/0xProject/0x-monorepo with Truffle config and migration file on top of it.

Steps
[code]

are enough to reproduce issue with `source === undefined` here
https://github.c

[2020-04-18 15:20] xlab commented on #2977
Also some tip:

Usually I see this
[code]

But in the case of that repo it builds contracts each time I try to migrate or run tests.

[2020-04-19 10:06] Komari-Koshigaya commented on #2692
Three days ago t is successfully when running "truffle unbox pet-shop", but today it doesn't work.

Starting unbox...
=================

✔ Preparing to download box
✖ Downloading
Unbox failed!
✖ Downloading
Unbox failed!
**RequestError: Error: connect ECONNREFUSED 0.0.0.0:443**
    at new RequestError (/home/niejun/nodejs/lib/node_modules/truffle/build/webpack:/node_modules/request-promise-core/li

[2020-04-19 16:33] michaeldurocher commented on #2834
I experienced the same issue on Windows 10  (truffle@5.1.22) while using the MetaCoin box.  The error was referring to the ConvertLib.sol library.

`TypeError: Error parsing C:/Projects/MetaCoin/contracts/ConvertLib.sol: Cannot destructure property `body` of 'undefined' or 'null'.`

Reverting to 5.1.10 solved the issue.

[2020-04-20 02:10] amateur-dev commented on #2969
Yes, @CruzMolina, this is a different issue.  You will have to re-open it.  Still facing the same error.

[2020-04-20 05:37] TFOMS opened #2979 "Unexpected behavior in while deployed. Several transactions in one block."
- [v ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I want to deploy several smart-contracts (transactions) in one block.
If I do :
[code]

or with await before each no result. E.g. web3.eth.getBlock(#block of transactions above) will one transaction in block (2 blocks)
But this snippet of code is

[2020-04-20 15:19] 4math2379 opened #2981 "Command no found after update"
---------------------------

## Issue

After update Truffle command are no found by the system

## Steps to Reproduce
Uninstall Truffle , i reinstall it globally

## Expected Behavior

event truffle init don;4t work

## Actual Results

Truffle compile , migrate , develop not working

![2020-04-20 (2)](https://user-images.githubusercontent.com/8716331/79768370-fc1f5b80-832a-11ea-959b-65a15b11279a.p

[2020-04-20 15:41] CruzMolina commented on #2969
@amateur-dev are you deploying to a local sandbox or a test network?

[2020-04-20 15:46] amateur-dev commented on #2969
Testnet, carthagenet

[2020-04-20 15:54] CruzMolina commented on #2969
Hmm, I seem unable to reproduce this error. Are you able to reliably reproduce?

Can you double-check that you have your `faucet.json` properly configured in your `truffle-config.js` file? https://github.com/truffle-box/tezos-example-box#interacting-with-live-networks

[2020-04-20 16:26] montyly commented on #387
Note: the bounty is funded by [Trail of Bits](http://trailofbits.com/)

[2020-04-20 22:02] haltman-at commented on #2977
OK, thanks a bunch!  I'll take a look.

[2020-04-21 01:48] metaverde opened #2990 "mkdirp@0.5.1 is no longer supported..."
First, I super-appreciate the Truffle team and Truffle.
Thank-you for all you do.

I apologize if this has already been raised.
I scrolled around and did not see it.

- [X ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

Yes. Additionally the same issue was raised earlier and not addressed.
It is also an issue with [netlify/cli](https://g

[2020-04-21 04:52] pizzarob commented on #2928
Yeah looks like it does @haltman-at - updated to version Truffle v5.1.22

[2020-04-21 05:23] haltman-at commented on #2977
OK, I've put up #2991 to address this.  Unfortunately I have some bad news.  You may recall that Truffle Debugger used to have to do a full recompile every time it started up.  A while ago I added code to detect when it didn't need to do that and skip the recompile if so.  Well, seems it needs to do so more in more cases than I realized.  In particular, on this project, it is *always* going to nee

[2020-04-21 09:51] xlwwww commented on #2834
yes，this problem can be solved by
npm install truffle@5.1.9 -g
and then delete the build directory and re-compile and migrate the contract

[2020-04-21 15:04] eggplantzzz commented on #2990
Thanks @metaverde for bringing this up! It would be good to see if we can bump this.

[2020-04-22 03:02] gnidan commented on #2981
What's the name of your config file? Is it `truffle.js` or `truffle-config.js`? Not sure if your error is the same, but switched to using `truffle-config.js` because it caused problems on Windows.

[2020-04-22 07:58] Amxx opened #2994 "InternalCompilerError: Compiled contract not found."
## Issue

After having deployed my contracts, and with artefacts in the `/build`folder, I cannot re-run `truffle compile`.

Calling `truffle compile` gives me:
[code]

I could `rm -rf ./build`, but this would remove artefacts with deployment addresses I want to keep.

## Environment

* Operating System: Archlinux
* Ethereum client: None involved here
* Truffle version (`truffle version`): 5.1.22
*

[2020-04-22 08:58] hanting001 opened #2995 "Error when using "truffle init""
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When i use "truffle init", show downloading error

## Steps to Reproduce

truffle init

## Expected Behavior

init a project

## Actual Results
download connect to localhost "0.0.0.0:443"
Starting unbox...
=================

? Proceed anyway? Yes
✔

[2020-04-22 16:48] AuHau commented on #2080
Any update on this? Running specific test-file is not enough IMO. When you have tens of tests in a file, only one is failing and you have to rerun the whole suite just for that one test. Especially when you work with time-delays...

[2020-04-22 17:02] prographo opened #2996 "Transaction was not mined within750 seconds"
Where is it getting 750 seconds from?

I've set timeoutBlocks to 4000, it should carry on waiting.

[code]

[2020-04-22 17:32] gnidan commented on #2966
We're looking into this, please stay tuned! Sorry about the inconvenience!

[2020-04-22 17:34] gnidan commented on #2970
There's likely a new feature or enhancement here to obtain source code when it's not available (e.g., Truffle could grab verified contract sources from Etherscan before starting the debugger.)

Moving this to our backlog for when we get the chance. (Or anyone else who is interested in helping out with this, would very much appreciate it!)

[2020-04-22 17:40] gnidan commented on #2979
This is a cool idea, but it sounds like a feature request for ganache-core - right now Ganache has no good way to do what you're asking. You could turn on time-based block production (e.g., new block every 5 seconds), but that won't be the same guarantee.

Feel free to open an issue [here](https://github.com/trufflesuite/ganache-core/issues). Closing this as it does not relate to Truffle specifica

[2020-04-22 17:40] #2979 closed

[2020-04-22 17:47] gnidan commented on #2994
Sounds like there's two problems here:
- InternalCompilerError's shouldn't happen, so that's something going wrong with Solidity. If we can get to the bottom of it, hopefully we'll be able to isolate the problem to bring up with them.
- Something inside Truffle must be triggering this issue. Is your repo online? And can you share the artifacts in the current state? Maybe we can figure out what's g

[2020-04-22 17:48] gnidan commented on #2995
We're aware of this problem and are currently looking into a fix. Stay tuned! Thanks for reporting this!

[2020-04-22 17:49] gnidan commented on #2996
Interesting. That shouldn't be happening. Not sure where it's coming from, can you check Web3.js for that?

Truffle does logic specifically to handle the case of these long timeouts, not sure what's going wrong. Any additional detail you could provide would be helpful! (reproduction steps, etc.)

[2020-04-22 17:52] gnidan commented on #2928
My hunch is that the code that sets up the dry-run probably doesn't respect the accounts in the provider. Hopefully we can get a quick look into this soon and spot the error quickly.

Thanks for raising this!

[2020-04-22 17:55] gnidan commented on #1752
@akrolak we're closing this for issue maintenance, esp. since it seems like this issue is being used as a catch-all for a number of different problems. If your problem still persists, we'd love to get to the bottom of it. Let us know and we'll reopen.

Everyone else: if you have a different issue, please open a new issue for it! Thank you all!

[2020-04-22 17:55] #1752 closed

[2020-04-22 17:58] gnidan commented on #2075
Closing this for issue maintenance, but if you can get us reproduction steps, we'd love to be able to help figure this out. Let us know, and we'll re-open! Thanks!

[2020-04-22 17:58] #2075 closed

[2020-04-22 17:59] gnidan commented on #2981
Oh but nevermind I see in the screenshot that you're using `truffle-config.js`.

Regardless, it sounds like an environmental issue on your part. Have you tried using Windows Subsystem for Linux, or `git bash`, or one of those? Not sure exactly because I don't have Windows myself.

If you figure this out, please share what the problem was!

[2020-04-22 18:43] davidmurdoch commented on #2979
You could issue a `miner_stop` to ganache, send your transactions, then follow up with a `evm_mine`. This should put both transactions in a single block (depending on transaction and block size)

[2020-04-22 19:26] Amxx commented on #2994
To reproduce:
[code]

[2020-04-23 04:42] haltman-at opened #2998 "Truffle Console prints garbage on exit"
## Issue

Whenever I exit Truffle Console, I get the following message:

[code]

The same thing happens with `truffle develop`, as well.

## Steps to Reproduce

Start `truffle console`, then exit it by typing `.exit`.

## Environment

* Ethereum client: Ganache CLI v6.8.2 (ganache-core: 2.9.2)
* Truffle version (`truffle version`): 5.1.22
* node version (`node --version`): v10.15.3
* npm version (

[2020-04-23 07:22] AuHau opened #2999 "Faild test with --bail parameter does not show emitted events"
## Issue

When you run tests with `truffle test --bail` the failed test that is bailed does not show information about emitted events during run of this test.

## Steps to Reproduce

Run `truffle test --bail` with test that fails and has emitted events in its run.

## Expected Behavior

Display the standard "Events emitted during test:" dialog

## Actual Results

Directly errors out without the in

[2020-04-23 07:25] KimiWu123 commented on #2552
@win2win , I got the same error. How do you fix it? thanks.

[2020-04-23 08:54] prographo commented on #2996
Mac Catalina

[code]

[code]

[2020-04-23 11:37] Amxx opened #3000 "Adding a `truffle flatten` mechanism"
Verifying smart contracts on etherscan is a nightmare when dealing nested dependencies. Inheriting fro `@openzeppelin/contracts/tokens/ERC721/ERC721.sol` for example ...

I'm not able to find any decent flattening tool that supports contracts imported from `./node_modules`, and since truffle as access to all my settings, it could very well do it.

[2020-04-23 17:34] 4math2379 commented on #2981
i sill have the issue....... i don't get it. I got my whole dev environment on windows.

[2020-04-23 18:47] adrianmcli opened #3003 "Truffle Develop cannot handle custom accounts setting in truffle-config"
Suppose I have the following `truffle-config.js` for the sake of spawning a ganache instance that has a specific address that I want:

[code]

When I run `truffle develop`, it seems like it freezes or it is hanging because the `accounts` property is not being processed properly.

Take a look at the following code block inside [`develop.js#L56-L58`](https://github.com/trufflesuite/truffle/blob/deve

[2020-04-23 22:23] haltman-at commented on #2998
Closing this as it should be fixed now.

[2020-04-23 22:23] #2998 closed

[2020-04-23 23:01] nogo10 commented on #2580
Many @truffle/ packages result in error: ```Module not found: Error: Can't resolve 'module' in ..node_modules/source-map-support``` in versions 0.5.16, 0.5.18 source-map-support. I found a fix here:
https://github.com/evanw/node-source-map-support/pull/273

[2020-04-24 03:31] #2977 closed

[2020-04-24 06:10] TheDApact commented on #2217
jamatulli 's method worked for me too

[2020-04-24 08:04] WarKitteh commented on #2966
Well this seems to be an issue of my network... I’m not sure what’s causing the issue but when I open a hotspot everything works out. I will try to post a packet capture soon.

[2020-04-24 13:12] nogo10 commented on #2688
A few packages have not been upgraded

-- truffle-config@1.1.16
     `-- truffle-provider@0.1.16
      +-- truffle-interface-adapter@0.2.5
      | `-- web3@1.2.1
       `-- web3@1.2.1

[2020-04-24 18:05] haltman-at commented on #2580
@nogo10 Could you open a new issue for this?  What you're reporting is a different issue than what this issue was originally about (this issue should have been closed).  Thank you!

[2020-04-26 07:59] PierreMarieRiviere opened #3008 ""callback already called" error"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Deploying on testnet fails with `Error: callback already called` (but deployment on Ganache succeeds).
The mentioned callback is at `/node_modules/truffle/build/webpack:/~/ganache-core/~/merkle-patricia-tree/~/async/lib/async.js:358`.

## Steps to

[2020-04-26 09:06] hanting001 commented on #2995
It's all GFW's fault, when i crossed GFW, everything work.

[2020-04-26 09:06] #2995 closed

[2020-04-26 17:42] leonprou commented on #1313
Hey guys,
Found out that specifying a version range, like:  `version: "^0.6.0"` still not using cache but fetches every time.

[2020-04-26 21:01] nogo10 opened #3009 "@truffle/contract and @truffle/interface-adapter Critical dependency error"
In my Dapp , I use truffle/contract  without issues until upgraded from truffle-contract to @truffle/contract and web3 v0.20 to v1.2.2 Now get errors (only related to @truffle/contract)

## Steps to Reproduce
[code]

## Expected Behavior
Should load artifact as usual. Web3 connection works fine without @truffle/contract.

## Actual Results
Compile errors:
[code]
["./node_modules/readable-stream/li

[2020-04-26 23:33] nogo10 commented on #3009
Scrypt may not be the issue, here. Instead the error might come from the truffle.js file: Renaming it to truffle-config.js didn't change anything.

[2020-04-27 15:03] eggplantzzz commented on #1313
Hey @leonprou! Yes, if you provide a semver range like you did, Truffle will go and try to get the most recent compiler version that satisfies. If you want to use a cached version, specify the version you want to use like `version: "0.6.0"`. I hope that helps!

[2020-04-27 15:04] eggplantzzz commented on #2995
Hey @hanting001, what is GFW?

[2020-04-27 15:18] TheDApact commented on #3008
To anyone meeting this problem it could be due to
(1) Node 14. Revert to LTS (12.16.2 at time of writing)
(2) Anything else. Sorry. I formatted my computer in the meantime. Maybe some elder sudo messing up with my config.

[2020-04-27 15:25] leonprou commented on #1313
I see, well actually when you put it that way it makes total sense

[2020-04-27 16:01] eggplantzzz commented on #3008
@TheDApact thanks for reporting this and for the repro steps! I'll take a look into why this is happening.

[2020-04-27 16:22] eggplantzzz commented on #3008
I was unable to duplicate your error. I tried with both Node 10 and 12. I wonder what could be going on here.

[2020-04-27 16:25] TheDApact commented on #3008
I was on Node 14.0 best bet it's from Node.

[2020-04-27 16:37] eggplantzzz commented on #3008
I was able to on Node 14 too. Try upgrading your version of Truffle in the `package.json`. Currently it is set at `^5.0.2`. Set it to at least `^5.1.0`. My guess is that you are experiencing a bug we have already fixed. I was using the latest version of Truffle installed globally on my machine. Let me know what happens.

[2020-04-27 17:21] TheDApact commented on #3008
Still getting the same error with `node 14.0` after upgrading `truffle` to `^5.1.0` in `package.json`.

At least we confirmed it stems from `node 14.0`

[2020-04-27 17:57] gnidan commented on #3009
Hm, if you use web3 v1.2.1, does the problem persist? We can't upgrade because they've been introducing breaking changes since 1.2.1 (although haven't checked the recent releases)

[2020-04-27 18:43] eggplantzzz commented on #3008
No I meant to say that I was able to successfully migrate to ropsten using Node 14. I'm not sure what's up with this. Are you using a globally installed version of Truffle? If so, can you do a `truffle version` just to ensure you are using the most recent version?

[2020-04-28 03:26] TheDApact commented on #3008
Here is my environment
[code]
`npx truffle migrate` will work if I downgrade Node to 12.16.2

Here are the packages installed globally on my (just formatted) OSX Catalina
[code]

Worse mentioning that I added the snippet below to `package.json` found in the box, to fix an error with fsevent (see https://github.com/nodejs/node/issues/27389)
[code]

[2020-04-28 09:51] nogo10 commented on #3009
I have tried with my web3 @ version 1.2.1. Web3 in my Dapp works and gets web3 connection. But when @truffle/contract (with web3 v1.2.1 dep.) is 'required' , web console throws errors.

[2020-04-28 15:09] eggplantzzz commented on #3008
Hmm weird, it looks like I can duplicate your error with Node 14 today. I think it is unrelated to the `resolutions` property you mentioned above as I could duplicate it without it. We'll have to look into this later, thanks for the report!

[2020-04-28 16:38] eggplantzzz commented on #2990
@metaverde In the last version of Truffle (5.1.23) `mkdir` was removed. Happy day!

[2020-04-28 16:40] eggplantzzz commented on #2981
There might be something up with your npm installation. Do you use a version manager like nvm?

[2020-04-28 16:41] eggplantzzz commented on #2981
Here is a similar issue you can check out for some reference. https://stackoverflow.com/questions/29955217/global-npm-package-installed-but-command-not-found

[2020-04-28 16:43] eggplantzzz commented on #2966
Ok, let us know what you discover @WarKitteh.

[2020-04-28 16:46] eggplantzzz commented on #2921
Well, I don't think there is anything we can do about the web3 dependency at this time. Any thoughts @gnidan?

[2020-04-28 17:25] gnidan commented on #3009
Can you share those errors please?

[2020-04-28 21:36] nogo10 commented on #3009
as before : running it with the follwing `npm list web3`:

+-- @openzeppelin/cli@2.8.2
| +-- @openzeppelin/upgrades@2.8.0
| | `-- web3@1.2.2
| +-- truffle-config@1.1.16
| | `-- truffle-provider@0.1.16
| |   +-- truffle-interface-adapter@0.2.5
| |   | `-- web3@1.2.1  deduped
| |   `-- web3@1.2.1  deduped
| +-- typechain-target-web3-v1@1.0.4
| | `-- web3@1.2.7
| `-- web3@1.2.2
+-- @openzeppelin/gsn-

[2020-04-28 23:12] hunterperm commented on #2342
Was this ever resolved? We are having the same issue I believe. Works with v5.0.5 but gas calculation error vith v5.0.6+

[2020-04-29 00:27] schrotbe2021 commented on #1726
I found a workaround on top of @lundrimazemi 's solution. After adding ganache to the network config run the command `truffle test --network ganache` to point to the correct network.

ganache: {
      host: "127.0.0.1", // Localhost (default: none)
      port: 7545, // Standard Ethereum port (default: none)
      network_id: "5777", // Any network (default: none)
},

[2020-04-29 01:34] forshtat commented on #2855
@CruzMolina I am not sure the PR solves the problem, as it the latest '@types/web3' does not include any types and instead says, quote, "web3 provides its own type definitions, so you don't need @types/web3 installed!"
But then there seems to be no "web3/providers" in the original web3 package.

[2020-04-29 11:32] js-abc007 opened #3014 "how to connect truffle to json rpc?"
how to connect truffle to json rpc?

[2020-04-29 13:00] nicholasjpaterno opened #3015 "Debugger --network flag warning"
Passing a `--network` flag into the debugger results in a warning.

[code]

[2020-04-30 10:50] nogo10 commented on #3009
I got past that error (```TypeError: Object(...).version is undefined```) by
removing  @truffle/contract from my package.json then upgrading web3 from v1.2.1 to v1.2.2 and importing directly the dist/web3..js compiled web3 into my Dapp.  ```import Web3 from 'web3/dist/web3.min.js'```

Until II get an answer/solution I must get my contract instance with web3.eth.Contract web3 method only (after ext

[2020-04-30 11:06] nogo10 commented on #3009
BTW I did retry to import @truffle/contract once I got web3 upgraded and working; the result was the same webconsole error cited above: ```TypeError: Object(...).version is undefined```

[2020-04-30 15:32] BITEEEE commented on #766
i got same error. but i can not solve with your two method.

[2020-04-30 16:30] KiChjang commented on #387
@gitcoinbot Working on it, problem now is to write effective tests that can show that the bug is fixed by my changes.

[2020-05-01 04:17] gnidan commented on #3015
(will assign priority later as part of team discussion, but I don't think this is a "drop everything" situation ;)

[2020-05-01 12:08] nicholasjpaterno commented on #3015
:trollface:

[2020-05-01 12:16] nicholasjpaterno commented on #3008
Your wish is my command :genie:

[2020-05-01 14:08] eggplantzzz commented on #3014
Closing as this is not an issue with Truffle. If you have questions please ask them in our [Gitter channel](https://gitter.im/ConsenSys/truffle) or [Spectrum channel](https://spectrum.chat/trufflesuite/truffle?tab=posts)

[2020-05-01 14:08] #3014 closed

[2020-05-01 15:15] eggplantzzz commented on #3003
@adrianmcli Where did you get the idea for the structure of `truffle-config.js` above? I'm not sure if that is how you can specify your accounts in that file. Please link me to docs or anything else that says you can do what you are trying to do.

[2020-05-01 15:52] adrianmcli commented on #3003
These are supposedly Ganache options to be passed over: https://github.com/trufflesuite/truffle/blob/develop/packages/core/lib/commands/develop.js#L69-L82

[2020-05-03 05:45] caseykey commented on #2552
@win2win @KimiWu123 Make sure you're using your Infura project ID and not project secret.

[2020-05-03 17:17] asbjornenge opened #3022 "Tezos contract parameter placement"
## Issue

I have a simple contract using action parameters like this:

[code]

The add_param looks like this:

[code]

When I'm trying to make a test for this contract, it want's me to call `main` with 3 string parameters. How can I control what is the first and last parameter? Or is there a way I can set up the contract so it will accept an object with properties instead of 3 strings?

What works

[2020-05-03 18:56] JackBekket commented on #660
Error 'The contract code couldn't be stored, please check your gas amount.'

As I just learned - if you get this error while deploing to private network - it could signal, that remote node have **wrong evm version**

[2020-05-03 19:07] JackBekket commented on #660
Also truffle could try to compile and deploy contracts for petersburg at byzantine network and give only
`Error 'The contract code couldn't be stored, please check your gas amount.`

You can check difference your local ganache evm version and version of other chain you want to deploy to

[2020-05-03 22:41] no2chem opened #3023 "Test fails to use new contract addresses if evm_revert isn't supported."
## Issue

When running `truffle test` against a client that doesn't support `evm_revert`, Truffle will try to reset by redeploying the contracts between test suites.

https://github.com/trufflesuite/truffle/blob/0effb767df26dca7aab0b1247de30fdf5b127be9/packages/core/lib/testing/testrunner.js#L81

However, contracts referred to by the new test suite (via `artifact.require`) point to the previously

[2020-05-04 01:48] KimiWu123 commented on #2552
@caseykey , It worked well in the beginning and suddenly I got the timeout error. I didn't change any configs only tried to deploy and test my contract. I used `curl` to test `Infura` server, it's okay. After 2, 3 hours later, it works again.

[2020-05-04 12:43] mikec commented on #1950
Also had this problem installing with node `v12.16.1`. Rolled back to node `v11.14.0` and install worked.

[2020-05-04 14:16] bh2smith opened #3024 "Cannot find module @truffle/debug-utils"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Our dependabot has picked up an error when bumping versions of `@truffle/contract` from `v2.2.2` to `v2.2.3` over the weekend. In both of our truffle projects we are experiencing the following Error:

[code]
and just wondering if this is expected o

[2020-05-04 15:23] mikec commented on #2567
The issue is that HDWalletProvider does not have an `on()` function, so web3 assumes no subscription support and throws an error. `Web3.providers.WebsocketProvider` implements `.on()` and supports subscription callbacks. HDWalletProvider uses WebsocketProvider when rpcUrl has `ws:` or `wss:`, but it's added via `web3-provider-engine`, which also doesn't support subscriptions by implementing `on()`

[2020-05-04 16:48] eggplantzzz commented on #3009
@nogo10 So you are getting these errors while trying to compile? Can you please give me some specific steps I can take to generate your errors?

[2020-05-04 16:49] eggplantzzz commented on #3015
There is no `--network` flag for debug as far as I know. Perhaps there is something I don't know?

[2020-05-04 16:51] eggplantzzz commented on #3003
Ok well these are undocumented right now. Perhaps we should document them, after we make this work.

[2020-05-04 17:00] eggplantzzz commented on #3024
Hey @bh2smith, thanks for the report! That's strange that we didn't catch this. `@truffle/debug-utils` is indeed missing from the deps. I'll go ahead and add it in.

[2020-05-04 17:36] #2655 closed

[2020-05-04 19:38] eggplantzzz commented on #3024
Thanks again for reporting this bug. We just merged a fix with PR #3026 and it should be released later on this week!

[2020-05-04 19:39] haltman-at commented on #3023
This is a duplicate of #2735, but maybe we should leave it up for the extra detail. :)

[2020-05-04 20:02] no2chem commented on #3023
Thanks for pointing to the duplicate issue, @haltman-at !

I'm happy to take a stab at this. It looks like the easiest way to resolve this is just to create a new Mocha instance for each test file. This might slightly affect test behavior though...

[2020-05-05 01:49] 4math2379 commented on #2981
thanks , i dunno how this has been removed.. but thanks :)

any idea how this happened  ?

[2020-05-05 02:57] nogo10 commented on #3009
Well unbox this truffle box (https://github.com/standup75/vue-box) or my version (https://gitlab.com/chevronx/vue-box-gsn)
'upgrade' the web3 to 1.2.x (any version) then yarn install , compile deploy to ganache, yarn serve. All on Node version 10.16.3.

[2020-05-05 03:54] nogo10 commented on #3009
of course upgrading truffle-contract to @truffle/contract too

[2020-05-05 14:04] eggplantzzz commented on #2981
No I'm not really sure unfortunately but I see this kind of thing happen occasionally. Did you get your issue resolved?

[2020-05-05 18:18] eggplantzzz commented on #3009
Hmm, I'm not getting the same error as you. I updated to `@truffle/contract` 4.2.2 (4.2.3 has a bug so don't use that one) and `web3` 1.2.1. I get a console error about not being able to call `slice` of `undefined`. I'm not sure what is up. I'll try the other project.

[2020-05-05 18:37] 4math2379 commented on #2981
yes it s resolved. thanks

[2020-05-05 18:37] #2981 closed

[2020-05-05 18:37] eggplantzzz commented on #3009
Yeah I'm getting the same error with your project when I change to use `@truffle/contract`.
`Cannot read property 'slice' of undefined` in the webpack build.
I'm not sure, maybe we'll have to take a simpler project and try to webpack `@truffle/contract` to see how it works with webpack.

[2020-05-05 23:29] haltman-at opened #3030 "Internal issue: Coverage build is broken"
## Issue

The reason we haven't been getting coverage reports in some time is because, well, the coverage build is broken, and has been for quite a while.  The errors don't seem to be inconsistent; they happen every time and appear to reflect some sort of real problem.

## Actual Results

For instance, the most recent `develop` coverage build failed as follows:

[code]

And, well, this is the same

[2020-05-06 02:43] embaby97 commented on #2967
npm install -g truffle
npm WARN deprecated mkdirp@0.5.1: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises in 1.x.)
/home/alaa/.npm-global/bin/truffle -> /home/alaa/.npm-global/lib/node_modules/truffle/build/cli.bundled.js

- Fetching solc version list from solc-bin. Attempt #1
+ truffle@5.1.24
added 27 packages f

[2020-05-06 02:45] embaby97 commented on #2967
i am not able to install it , idont konw what to do
i have istalled it a day befor and was ok

[2020-05-06 12:04] mrdavey opened #3033 "Latest Truffle breaks our box"
## Issue

Our flashloan-box worked previously with Truffle v.5.10. It no longer works in latest Truffle.

## Steps to Reproduce

Our Flashloan-box: https://github.com/aave/flashloan-box

1. Using Truffle v.5.10, follow instructions of box. Everything should work.
2. Using latest Truffle version, follow instructions.
3. It fails on Step 8, when defining `const f = await Flashloan.deployed()`

## Ex

[2020-05-06 15:13] frangio commented on #3024
Please release as soon as possible. :slightly_smiling_face: Integration tests and guides are failing because of this.

[2020-05-06 15:31] eggplantzzz opened #3034 "Delete one library for creating temporary directories"
Currently both `core` and `box` use npm libraries to create temporary directories (temp and tmp).

I think we should pick the more relevant one and exclusively use that one and update it.

[2020-05-06 15:46] eggplantzzz commented on #3024
Hey @frangio, it should be released Thursday (May 7). Hang tight!

[2020-05-06 17:33] haltman-at commented on #2551
Oops, looks like this was never closed.

[2020-05-06 17:33] #2551 closed

[2020-05-06 17:40] haltman-at commented on #2999
Thanks for reporting this!  We'll have to look into this.

[2020-05-06 17:43] haltman-at commented on #3000
Could you explain in more detail what you want this to do?  Thank you!

[2020-05-06 17:51] haltman-at commented on #3015
Right, there isn't at the moment.  @nicholasjpaterno, what issue exactly are you raising here?  Is it the message, or is it that the `--network` flag doesn't actually exist?  I'm assuming it's probably the latter, in which case this issue should be renamed (and is a request for an *enhancement*, not a bug), but I'd like to get this clear first.

[2020-05-06 17:54] haltman-at commented on #3022
@CruzMolina, any thoughts on this?

[2020-05-06 18:03] haltman-at commented on #3033
Thanks for reporting this! We'll take a look.

[2020-05-06 18:09] haltman-at commented on #2996
Do you have a way to duplicate this problem consistently?  Thank you!

[2020-05-06 18:11] haltman-at commented on #2881
Closing for issue maintenance.  Please let us know if there's still a problem and we can reopen this.

[2020-05-06 18:11] #2881 closed

[2020-05-06 18:12] haltman-at commented on #1803
Closing for issue maintenance.  Please let us know if there's still a problem and we can reopen.

[2020-05-06 18:20] haltman-at commented on #2265
Looks like this never got closed despite being done. Closing now.

[2020-05-06 18:20] #2265 closed

[2020-05-06 18:25] haltman-at commented on #1574
Oops, this seems to have fallen off my radar somehow.  Is this still happening in the most recent version of Truffle?  Thank you!

[2020-05-06 22:43] haltman-at commented on #2580
OK, @nogo10 I've thrown up PR #3036 to hopefully fix your problem.  In the future feel free to do this sort of thing yourself! :)

[2020-05-07 07:17] nozeroctnellav7 commented on #2552
Got the same issue while trying to run `truffle migrate --network ropsten --reset` inside of ~/MyProject/contracts

I just go back to the main project directory ~/MyProject and then run `truffle migrate --network ropsten --reset` and fixed.

[2020-05-07 11:20] asbjornenge commented on #3022
I guess I also need to pass the `Add` action somehow? Or would that be deduced based on the params I'm sending? 🤔

[2020-05-07 13:36] Exctazy opened #3037 ""VM Exception while processing transaction: revert" in Truffle test and Truffle dev"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

 "Error: Returned error: VM Exception while processing transaction: revert" when reaching the Transfer function. I think it is related to the fact that my Crowdsale smart contrat hasn't any TotalSupply of my tokens.

## Steps to Reproduce

Token Sm

[2020-05-07 13:58] CruzMolina commented on #3022
Hey @asbjornenge, saw the issue you opened over here stove-labs/tzip-12-tutorial#5.

You might want to take a look at the `transfer_param` typings here: https://github.com/stove-labs/tzip-12-tutorial/blob/dev/contracts/partials/tzip_12_tutorial/transfer_param.ligo

[2020-05-07 13:59] CruzMolina commented on #3022
Also these test cases: https://github.com/stove-labs/tzip-12-tutorial/blob/dev/test/tzip_12_tutorial.js#L54-L136.

[2020-05-07 13:59] #3022 closed

[2020-05-07 15:47] PyrateAkananto opened #3038 "unhandled exception because of blocked local storage in built truffle-contract.js v4.2.3"
Issue deleted, more investigation needed on my side, sorry.

[2020-05-07 16:04] #3038 closed

[2020-05-07 18:59] asbjornenge commented on #3022
@CruzMolina if you look at my comment over at the Stovelabs repo, that is exactly the param & test case I was looking at. The only difference I can see between my example and that one is that the transfer_param is a list(transfer) while mine is a record directly. In my contract I don't want or need to pass a list of elements 🤔

[2020-05-07 19:19] asbjornenge commented on #3022
@CruzMolina you might also be able to help me with the other issue I am having. I am wondering how I can call `main` with a specific amount on tez...? More broadly; how can I control tx params for the call to main in my test?

[2020-05-07 20:43] bookpowers opened #3039 "Error on Truffle : EPROTO 17924:error:1408F10B:SSL"
- [X ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

I am receiving this error when running the "truffle init" command

EPROTO 17924:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:c:\ws\deps\openssl\openssl\ssl\record\ssl3_record.c:332:

What the issue is, in broad strokes.

I am receiving t

[2020-05-07 21:58] CruzMolina commented on #3022
[code]

I believe taquito.js (which we leverage under the hood) still only supports amount values in units of `tez`. (will need to check).

Generally speaking the same tx params that one can pass to taquito can also be passed to a contract instance (i.e. `storageLimit`, `fee`, `gasLimit`, etc).

[2020-05-07 22:00] CruzMolina commented on #3022
Yes, I believe this is currently a workaround for a taquito limitation. You might want to open an issue on their end, to keep this on their radar. (I believe they are aware of it, not sure if they've overcome the limitation yet).

[2020-05-08 06:38] asbjornenge commented on #3022
Thanks for the info! I'm on it 😎👍

[2020-05-08 11:33] j-mars commented on #3024
Hey, any updates ? Thanks

[2020-05-08 13:51] PyrateAkananto opened #3041 "unhandled exception because of blocked local storage in truffle-contract.js v4.2.3"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The file `node_modules\@truffle\contract\dist\truffle-contract.js` contains plenty duplicate code because some libraries seem to be included twice. Unfortunately those duplicates are not identical and one of those differences causes an unhandled ex

[2020-05-08 16:56] nicholasjpaterno commented on #3015
@haltman-at you're definitely right, it's the latter! I imagine it doesn't pose that big of a problem.  However, I imagine there would be a conflict if/when you have two identical test networks with the same config/tx's (for whatever reason), they you would have identical transaction hashes. Now, since they are the same state why would it matter?  The only counter point I can think of is availabil

[2020-05-08 20:26] haltman-at commented on #3023
Hm, I would hope there would be a better way than that.  Note that things are supposed to reset between each `contract()`, rather than between each file.  But, yeah... any solution would be nice.  If you can come up with something maybe we can figure out a way to do it better!  None of us have yet had time to take a serious stab at this...

The most relevant files here, by the way, are [these](htt

[2020-05-08 20:31] no2chem commented on #3023
I think the problem is that each .js file is loaded only once, when mocha is initialized. So the top-level `const Contract = artifacts.require('contract')` is called only right after the first deployment.

Resetting `global.artifacts` doesn't help, as the top level contract requires in each suite aren't called again.

[2020-05-08 21:18] haltman-at commented on #2999
You know, it's surprising that this is happening, because we print the events with an `afterEach` hook, and Mocha is supposed to run those even when it bails out beforehand.  I wonder if this is just an old Mocha bug, and maybe we need to update our version of Mocha?

[2020-05-08 21:59] haltman-at commented on #2999
OK, it seems this is due to a bug that's specifically in Mocha 5.2.0.  So, either we can upgrade to 6.x (but that might be a breaking change and thus would be off limits until Truffle 6), or we can, uh, downgrade to Mocha 5.1.1?  Which could also be breaking as it's a downgrade?  We'll have to figure something out here.

[2020-05-08 22:40] haltman-at commented on #3015
OK, I've added #3043 to add this.  Kind of surprising we didn't have this already, really!

[2020-05-08 22:44] haltman-at commented on #2999
Alright, looks like we're going with the downgrade solution for now.  I've put up #3044 to address this.

[2020-05-08 23:07] haltman-at commented on #3023
Oh, duh, good point.  Yeah, the fact that such things typically go at top-level makes things trickier.  I guess I don't know what to do about that offhand.  Thanks for looking at this!

[2020-05-09 02:58] #3015 closed

[2020-05-09 03:20] #2999 closed

[2020-05-09 08:14] haltman-at commented on #2580
OK, this should hopefully be fixed now.  Closing this.  If it's not fixed, could you open a new issue rather than reopening this one?  Thank you!

[2020-05-09 08:14] #2580 closed

[2020-05-09 12:02] heimi-block commented on #2217
sudo chown -R [user name] ~/.config

[2020-05-10 15:38] jackoelv commented on #1269
thanks so much for hell wolf. you script is useful for reduce the size!
great job!

[2020-05-10 15:41] jackoelv commented on #1269
great job!
when json file reduced, app.js resized from 5M to 2M. could you reduce it to less than 100K?
how to reduce web3 and then? thanks a lot!

[2020-05-11 05:08] mrarjunbgupta opened #3045 "Truffle quorum extension error while submitting command with privateFor"
## Issue

I was testing quorum smart contract deployment and transaction invocation using Truffle Suit. It was working fine until I ran "npm audit fix" to cater to error had come for npm install in my truffle project folder. Below is error listing.

## Steps to Reproduce

1. Download truffle pet shop example.
2. Change truffle config file to map to Quorum network.
3. Deploy the smart contract usin

[2020-05-11 11:40] mrdavey commented on #3033
I've also confirmed this bug is still present on the latest v.5.1.25 release.

[2020-05-11 14:00] eggplantzzz commented on #3024
There should be a fix out as of a couple of days ago with `@truffle/contract` version 4.2.4!

[2020-05-11 14:00] #3024 closed

[2020-05-11 14:27] eggplantzzz commented on #3008
So the `async` library was removed from the latest version of Truffle (5.1.25) and re-attempting this migration I get the same error. So it looks like this error does not come from Truffle's direct usage of the library but is rather something else. More investigation will be necessary.

[2020-05-11 21:47] benjamincburns commented on #1054
@gnidan it looks like this issue was closed but the PR I submitted never made it in. This means that users still can't have async logic in their provider initialization code, so they can't, for example, prompt for a password to unlock an encrypted wallet file.

[2020-05-11 21:48] benjamincburns commented on #1054
If this has been implemented, perhaps the docs should be updated to reflect this here?

https://www.trufflesuite.com/docs/truffle/reference/configuration#providers

[2020-05-12 07:56] flyq commented on #2995
Great Firewall

[2020-05-12 08:08] flyq commented on #2995
me too:

[code]
The first one is that I don't use network proxy, and it failed because it can't connect to raw.githubusercontent.com. The second one is alse failed because I use the proxy. The last one is that I use another WiFi, and it succeed.

so could truffle package **do not**  put on raw.githubusercontent.com? or put it in a images

[2020-05-12 15:23] rahul1471 commented on #2217
This worked for me:

sudo npm install --unsafe-perm -g truffle

[2020-05-12 17:04] haltman-at commented on #2735
Closing this as discussion has moved to #3023!

[2020-05-12 17:04] #2735 closed

[2020-05-12 17:54] gnidan commented on #3041
Good find! Any interest in taking a stab at fixing the problem? Let us know!

[2020-05-12 20:55] codenamejason commented on #1618
I have now tried two machines and cannot migrate my contracts after they have successfully compiled. I get no output at all acutally.
Truffle v5.1.25 (core: 5.1.25)
Solidity - 0.6.2 (solc-js)
Node v12.16.3
Web3.js v1.2.1

[2020-05-12 20:57] codenamejason opened #3048 "Cannot migrate my contracts"
## Issue

I have now tried two machines and cannot migrate my contracts after they have successfully compiled. I get no output at all acutally.

## Steps to Reproduce

truffle migrate

## Expected Behavior

A migration

## Actual Results

nothing

## Environment
Windows 10
VS Code
Truffle v5.1.25 (core: 5.1.25)
Solidity - 0.6.2 (solc-js)
Node v12.16.3
Web3.js v1.2.1

[2020-05-13 07:16] PyrateAkananto commented on #3041
Thank you for that generous offer 🤣 but my knowledge about "modules, importing, bundling, including all required dependencies and doing all that in the correct way" is too limited. My own workaround simply duplicates code - which works but is far from "the correct way" for a library like Truffle. Sorry. I made the best bug report I could but I lack the skills and time to fix it myself. I really ap

[2020-05-13 17:37] haltman-at commented on #3037
Sorry, is there a Truffle error that you've encountered here?  Or is the problem simply that a transaction reverted?  If the latter, that doesn't sound like a Truffle issue.  If there is a Truffle isue here, please let us know!

[2020-05-13 17:41] haltman-at commented on #3039
Thanks for reporting this!  This has been brought up before as #2966, so I'm going to close this and you can discuss this there.

[2020-05-13 17:41] #3039 closed

[2020-05-13 17:42] Exctazy commented on #3037
It's just a transaction that reverted in fact. But i though the VM error was a truffle error?

[2020-05-13 17:42] haltman-at commented on #2867
Closing this so we can consolidate discussion on #2966, since that appears to be the same thing.

[2020-05-13 17:43] #2867 closed

[2020-05-13 17:51] haltman-at commented on #3045
Could you tell us anything about how specific this error is?  Like, does this only occur with Quorum or is it a more general problem?  Thank you!

[2020-05-13 17:53] haltman-at commented on #3048
Could you describe the problem in more detail?  Do you have any error messages you could show us, or more detailed reproduction steps, such as a reproduction project we could try this with?  Thank you!

[2020-05-13 17:55] haltman-at commented on #1595
Closing this for issue maintenance.  Let us know if there's still a problem here and we can take another look!

[2020-05-13 17:55] #1595 closed

[2020-05-13 17:57] haltman-at commented on #2278
Looks like this was fixed! Closing.

[2020-05-13 17:57] #2278 closed

[2020-05-13 18:00] haltman-at commented on #2286
Hi, is this still a problem on the most recent version of Truffle Contract?  Thank you!

[2020-05-13 18:05] sebastiantf commented on #2286
I'm not sure. I haven't been using truffle for some time now.

[2020-05-13 18:07] haltman-at commented on #2287
I don't think `@truffle/contract` is supposed to inject `Web3` into the global namespace.  What you can do is use `Contract.web3` to get a `web3` instance.  Let us know if this suffices for your purposes.  Thank you!

[2020-05-13 18:12] sebastiantf commented on #2287
I haven't been using truffle for a while now and I may not be able to test it again soon. So feel free to close this if it seems this is solved

[2020-05-13 18:19] haltman-at commented on #2342
@hunterperm, could you provide us with more information?  Do you have reproduction steps?  (To confirm, this is still happening on the most recent Truffle, yes?)  What leads you to say it's a gas calculation error -- can you be more detailed about just what's different between 5.0.5 and 5.0.6?  Thank you!

[2020-05-13 18:23] codenamejason commented on #2966
I have had the same issue on my Windows machine. truffle unbox will not work. Also now having issues when I try to migrate it shows that they compiled successfully and then it just ends terminates silently.

[2020-05-13 18:23] haltman-at commented on #1996
@xtianus Can you provide more detail?  What version of Truffle are you using, what exactly did you do, and what exactly were the results?  Thank you!

[2020-05-13 18:24] codenamejason commented on #3048
It terminates silently there is no error messages it just displays that it compiled successfully and then gives me back to the prompt.

Jason Romero
Application Developer
________________________________
From: Harry Altman <notifications@github.com>
Sent: Wednesday, May 13, 2020 1:54:06 PM
To: trufflesuite/truffle <truffle@noreply.github.com>
Cc: Jaxcoder <codenamejason@outlook.com>; Author <autho

[2020-05-13 18:47] sirpy commented on #1250
@frangio

[2020-05-13 19:07] xtianus commented on #1996
@haltman-at you mean @xtianus79

[2020-05-13 19:53] frangio commented on #1250
This indeed does not seem fixed. I recall it had worked when I closed this issue, but I cannot get it to work now. The documentation link that was shared by @cag is actually for package management by EthPM, and the issue we observe is with NPM. The [same section in the docs for NPM packages](https://www.trufflesuite.com/docs/truffle/getting-started/package-management-via-npm#within-javascript-code

[2020-05-13 19:59] haltman-at commented on #1996
Oops, my apologies.  @xtianus79, can you provide more detail? What version of Truffle are you using, what exactly did you do, and what exactly were the results? Thank you!

[2020-05-13 20:05] haltman-at commented on #3037
Ganache in its default mode will throw errors on a revert.  You can turn off this behavior by using the `--noVMErrorsOnRPCResponse` option.  However, even with this you'll still get errors on a revert, because web3 throws error on reverts, and Truffle propagates these.  It would be nice if reverts didn't cause errors, but changing that is both hard (though we intend to get to it eventually!) and i

[2020-05-14 11:04] darkrain commented on #2996
Have same issue. I try to deploy my erc20 contract,

` truffle version
Truffle v5.1.25 (core: 5.1.25)
Solidity v0.5.16 (solc-js)
Node v12.16.3
Web3.js v1.2.1`

deployment in ganachi is successful.

[2020-05-14 11:31] Exctazy commented on #3037
Alright, well there is no point turning off the behavior if it tells me there is something wrong occuring. I'll try to check what is reverting and wait for an update on VMErrors. Thanks.

[2020-05-14 12:07] codenamejason commented on #3048
I already responded to this same message. It fails silently and just returns to prompt. There is no error message or I wouldn’t be here. I am on Windows 10 using VS code. Oh, also I have never been able to unbox a truffle project, which blows. I am now moving to Ubuntu and Mac and leaving this POS windows for the kiddies. I know there are a ton of people with these same issues in some of my commun

[2020-05-14 15:24] wbt opened #3051 "SPDX license identifiers missing"
As of today (Solidity 0.6.8, from [this PR](https://github.com/ethereum/solidity/pull/8907)), Solidity issues warnings on Migrations.sol (and other) contracts for lack of an "[SPDX-License-Identfier](https://solidity.readthedocs.io/en/v0.6.8/layout-of-source-files.html#spdx-license-identifier)" code comment at the top of the file.

A proposed fix would be to add
`//SPDX-License-Identifier: MIT`
to

[2020-05-14 18:26] haltman-at commented on #3051
Thanks for pointing this out.  I've put up a PR to address the cases in this repo, but `truffle-box` will have to be addressed separately.

[2020-05-14 20:29] eggplantzzz commented on #3048
That is very weird, what happens if you use `truffle develop`? You can run `truffle develop` and the when the prompt appears, you run `migrate`.

[2020-05-14 20:53] haltman-at commented on #3023
OK, I think @gnidan and I have come up with a way to handle this other than resetting Mocha.  It's fairly hacky, but it should work.  I'm going to give it a try and hopefully I should have a PR up in a bit.

[2020-05-14 22:49] #3023 closed

[2020-05-15 13:24] yasemincirt opened #3054 "truffle test dosen't run"
Hi,

when I used truffle latest(v5.1.26) version on Node  v.12.16.3, truffle test command didn't run.
the truffle give me this error:

`TypeError [ERR_INVALID_REPL_INPUT]: Listeners for `uncaughtException` cannot be used in the REPL
    at process.<anonymous> (repl.js:253:15)
    at process.emit (events.js:322:22)
    at process.emit (/usr/local/lib/node_modules/truffle/build/webpack:/node_modules

[2020-05-15 14:00] dzabeu opened #3055 "Truffle does not working with .env file"
Hi,

I would like to know if it possible to use .env variables on 2_deploy_contracts.js

This is the ideia, but the result of console.log is empty..

`
require('dotenv').config();

module.exports = function(deployer) {
  deployer.then(async () => {
console.log(process.env.DB_NAME)

  })
}`

[2020-05-15 14:01] dzabeu commented on #3055
I`m using  the following command to execute  truffle...

truffle migrate --reset --compile-all --network ganache

[2020-05-15 14:01] yasemincirt commented on #3054
the solution :

#https://github.com/trufflesuite/truffle/issues/2070#issuecomment-573198692

[2020-05-15 14:01] #3054 closed

[2020-05-15 17:32] codenamejason commented on #3048
I have also tried that and same thing. It compiles and then nothing.. Here is my truffle-config and deploy

require('babel-register');
require('babel-polyfill');
const HDWalletProvider = require("truffle-hdwallet-provider");

// Locan Ganache Mnemonic
const mnemonic = 'evoke club entry catalog unveil truly run lyrics melt property main noise'; // funded accounts[0]
const maintest = 'gap cage shrug

[2020-05-16 03:06] haltman-at commented on #3051
OK, since this should be fixed on this repo, and you've opened a separate issue on `truffle-box`, I'm going to just go ahead and close this if you don't mind.

[2020-05-16 03:06] #3051 closed

[2020-05-18 13:18] eggplantzzz commented on #3048
@codenamejason Is your project here on GitHub? I would like to see if I can duplicate your error on my machine.

[2020-05-19 09:31] kigawas opened #3061 "`type: "quorum"` config does not work with hdwallet-provider"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Say you have network config, whose backend is a quorum RPC (Raft consensus, started by quorum-wizard).

[code]

## Steps to Reproduce

1. start a quorum by quorum-wizard like
`npx quorum-wizard -q`

2. `cd network/3-nodes-raft-tessera-bash/` and `b

[2020-05-19 18:06] ChenJiaman11 opened #3062 "RequestError: Error: certificate has expired"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.
I installed truffle successful , but when i used command truffle init to initialize a file,  there was a problem:
"RequestError: Error: certificate has expired
    at new RequestError (/usr/local/lib/node_module

[2020-05-20 01:04] codenamejason commented on #3048
codenamejason/hackmoney

[2020-05-20 01:05] codenamejason commented on #3048
I now have it working on main branch. I am still not sure of why the behavior I got happened. I think it has something to do with either my truffle-config.js or deploy scripts.

[2020-05-20 12:48] sambacha commented on #1584
I think this may also be due to the way [keccak is implemented with supporting streams](https://nodejs.org/api/crypto.html#crypto_class_hash). I know that this is not limited to trufflesuite, as I have seen this issue for a while come up sporadically. It can also arise from the use of `sudo npm`, [you can read more here.](https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.m

[2020-05-20 15:16] nicholasjpaterno commented on #3033
Confirmed with `ubuntu-18.04` on node `v10.20.1`.

[2020-05-20 17:10] wbt opened #3066 "Unexpected advance to then block in migration after promise rejection"
## Issue
When a promise rejection is encountered in a deployment promise chain, execution continues to the next `then` block instead of skipping to the next `catch` block.

## Steps to Reproduce
Have Ganache running.
[code]
Create a new file: `migrations/2_test_promises.js` with this content:

[code]

## Expected Behavior
The output includes "Error in migration: This first migration step just fail

[2020-05-20 17:40] eggplantzzz commented on #3061
Hmm, I don't know if HDWalletProvider supports quorum. @CruzMolina do you have any information about whether this is possible?

[2020-05-20 17:43] eggplantzzz commented on #3062
Oh weird, do you have any unorthodox network settings? Sounds like there might be some problem with your configuration.

[2020-05-20 17:46] eggplantzzz commented on #3062
Note for the future: perhaps we should make `truffle init` work without an internet connection. :)

[2020-05-20 17:47] eggplantzzz commented on #3066
Oh weird! Thanks again for another thorough report @wbt. I wonder what happens when using `await` syntax...

[2020-05-20 17:56] eggplantzzz commented on #3037
So just to be clear, this error means that there is something going wrong in your Solidity program that is causing a transaction to revert. Check your code to see if it is doing anything that you don't expect or if there are any opportunities for something to go wrong. Good luck!

Closing this for issue maintenance.

If you have any questions or need troubleshooting help, feel free to reach out on

[2020-05-20 17:56] #3037 closed

[2020-05-20 17:58] eggplantzzz commented on #3048
Ok thanks, I'll try and duplicate your error and get back to you!

[2020-05-20 18:02] eggplantzzz commented on #3000
Just for the record, there are a couple of external packages that I believe might help you do what you want to do. Check out [truffle-flattener](https://www.npmjs.com/package/truffle-flattener) and [truffle-plugin-verify](https://www.npmjs.com/package/truffle-plugin-verify).

[2020-05-20 18:04] eggplantzzz commented on #2996
@darkrain Do you have some code or a project that you could share to allow me to reproduce this problem?

[2020-05-20 18:06] eggplantzzz commented on #2286
Closing for issue maintenance. If you want us to pursue this further then please do get back to us and we'll try to help you out! Thanks!

[2020-05-20 18:07] eggplantzzz commented on #2287
Thanks @sebastiantf! Closing for issue maintenance.

[2020-05-20 18:07] #2287 closed

[2020-05-20 20:09] CruzMolina commented on #3061
Hey @kigawas , currently  `raft` won't work out of the box with `@truffle/hdwallet-provider` (nanosecond timestamp issue as mentioned in the StackOverflow thread). I'm not sure if the Proxy mentioned in that thread will integrate well with `quorum-wizard`, but last I checked using the default `istanbul` BFT _should_ be compatible with `@truffle/hdwallet-provider`.

[2020-05-21 02:28] kigawas commented on #3061
Confirmed. and switched to `istanbul`.

Was wondering whether it can respect the "type" parameter as a normal truffle config.

[2020-05-21 02:42] kigawas opened #3067 "Support mnemonic passphrase"
Supersedes:

https://github.com/trufflesuite/truffle-hdwallet-provider/issues/15
https://github.com/trufflesuite/truffle-hdwallet-provider/pull/17

[2020-05-21 14:29] farinalvaro opened #3068 "Firefox compatibility"
## Issue

Using `@truffle/contract` `v4.2.5` breaks the app on Firefox.
The console throws `SintaxError: invalid regexp group` error.
It looks like there is a regex used that is not supported on Firefox yet (https://caniuse.com/#feat=js-regexp-lookbehind).

## Steps to Reproduce

[code]

## Expected Behavior

Should work as in Chrome browser for example.

## Actual Results

The app breaks and fail

[2020-05-21 17:46] sxguan commented on #2552
@win2win @KimiWu123 I got the same error too.

[2020-05-21 17:48] sxguan commented on #2552
@KimiWu123 have u fixed it?

[2020-05-21 17:48] haltman-at commented on #3068
Yikes, thanks for reporting this!  Do you by any chance know what version the problem started on?  I'm having a hard time finding the problem. I think it's in a dependency; `chunk.js` doesn't appear to be one of our files.

[2020-05-21 18:16] haltman-at commented on #3068
Ah, nevermind, I think I found it; it's coming from a regexp in `@truffle/codec`.  Hm, how did that get in there?

[2020-05-21 21:52] nogo10 commented on #3009
@nicosampler was this issue resolved in your code?

[2020-05-21 22:56] #3068 closed

[2020-05-22 01:20] KimiWu123 commented on #2552
@sxguan , it just worked after couples of hours. I didn't do anything...

[2020-05-22 01:29] nicosampler commented on #3009
Nop, I had to silent the error in webpack to make the build complete in the CI.

[2020-05-22 12:11] darkrain commented on #2996
Yes. But i resolve my problem just migrate to openzepellin os

[2020-05-22 14:02] Aghorb commented on #1592
I have the same problem, all the proposed instructions could not fix it.
have you any other suggestion?

[2020-05-22 20:16] wbt commented on #1592
@Aghorb Exactly what command are you running and what is the response?
What versions of node and npm are you running and do you have any automated backup system which might be running, holding a read lock on files so they cannot be deleted?

[2020-05-23 00:06] wbt commented on #3067
Undocumented maybe, but it is supported.  Set the provider to:
`new HDWalletProvider(mnemonic, url, ...)`

[2020-05-23 00:15] wbt opened #3072 "Aid debugging by showing what network is timing out"
In [this error message](https://github.com/trufflesuite/truffle/blob/4c2409f4c5ac500472f4a5a6cf6049519ae98c78/packages/provider/index.js#L50):

[code]
It would be nice to have this message provide some confirmation of exactly which network Truffle is trying to connect to, showing the host and port.

I spent an embarrassingly long period of time today encountering this when connecting to a local ge

[2020-05-23 20:02] coinmaster4you commented on #3033
tried anything else then f? may be that it is conflicting with an other variable.
It said just undefined in colored italic text after the declearing of the variable.
stil got this error though caling the flashloan function.

`reason: 'invalid address',
  code: 'INVALID_ARGUMENT',
  arg: '_asset',
  coderType: 'address',
  value: 1.364068194842176e+48,
  hijackedStack: 'Error: invalid address (arg=

[2020-05-24 12:41] GeorgeWL opened #3073 "Mocha error when run test on the metacoin box"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Mocha states 3 tests passed, one failed. On the metacoin example box used in the documentation.

Possibly caused by Node Version Manager for Windows is my first guess (which is required for work as some of the stuff we work on only works with outda

[2020-05-24 14:12] cds-amal commented on #3033
Thanks for the suggestion @coinmaster4you. I'll give it a try.

[2020-05-25 03:30] stvtortora commented on #2865
Hi, is anyone working on this? I'd be up to taking a stab at it.

[2020-05-25 04:39] kigawas commented on #3067
Can you please elaborate? There's no password or passphrase in the constructor.

https://github.com/trufflesuite/truffle/blob/develop/packages/hdwallet-provider/src/index.ts#L34
[code]

[2020-05-25 08:54] emeline-sc opened #3074 ""truffleframework": Unknown word."
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When I install and open file truffle-config.js I got 22 problems, with the same error :

[code]

And I can't do
[code]

## Environment

* Operating System: MAC OS
* Ethereum client: ganache
* Truffle version (`truffle version`): Truffle v5.1.27 (co

[2020-05-25 09:39] cds-amal commented on #3074
Hi @emeline-sc, that is strange! The unknown words seem to be spell-checking results. It's likely your editor isn't configured for node/js development. Do you get the same spell-check result editing files in other node or JS  projects?

Can you provide more details on the `truffle test` attempt?  Did you execute the command in the terminal console. What errors were reported?

[2020-05-25 10:08] prashantbhardwaj30 commented on #2552
I restarted the server and it worked for me.

[2020-05-25 11:48] emeline-sc commented on #3074
Thanks for your answer! The command is loading but there is no message.
Yes, I executed it in my terminal but no errors :/

[2020-05-25 11:54] cds-amal commented on #3074
Is it possible to share your project? This would help to reproduce your errors.

[2020-05-25 11:58] emeline-sc commented on #3074
yes sure
https://github.com/emeline-sc/wallet

I think it's my environment but I uninstall and I install again truffle but got the same error :/

[2020-05-25 12:33] cds-amal commented on #3074
I was able to compile the project and run its tests. See below. What does your output look like?

[code]

[2020-05-25 12:44] emeline-sc commented on #3074
![Screenshot 2020-05-25 at 14 39 51](https://user-images.githubusercontent.com/65161261/82813583-a1cb6a80-9e95-11ea-984e-e0c2f3f9c595.png)

Nothing happen in my case :/

[2020-05-25 13:13] cds-amal commented on #3074
can you downgrade to node v10 and try?

[2020-05-25 14:10] wbt commented on #3067
The mnemonic functions in the place of a password/passphrase.  It's all you need to reconstruct the private keys corresponding to a set of accounts.

[2020-05-25 18:42] emeline-sc commented on #3074
I downgrade to node  v12.16.2 and it's working
Many thanks @cds-amal ! :)

[2020-05-25 18:42] #3074 closed

[2020-05-26 02:30] gorgos commented on #2834
Can we fix this? I need something older than `5.1.16` due to https://github.com/trufflesuite/truffle/issues/2723 🤦‍♂️

[2020-05-26 17:17] eggplantzzz commented on #3067
Here are the docs where you can find how to enter in a mnemonic to generate accounts. https://github.com/trufflesuite/truffle/tree/develop/packages/hdwallet-provider

[2020-05-26 17:38] haltman-at commented on #2865
No, I don't believe any of us are working on this at the moment.

[2020-05-27 15:14] BaldyAsh opened #3076 "RuntimeError: memory access out of bounds"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

While I compile the project (sorry, can’t provide any source), I got 2 different errors cases:

1) As I understand it happens when there are too many contracts in project
[code]

2)When the project has more contracts than in the first case

[code]

[2020-05-27 17:35] eggplantzzz commented on #3067
Closing this for issue maintenance because mnemonics are supported :) If you still think there is something that we should address get back to us and we'll be happy to re-open it and help you out!

[2020-05-27 17:37] eggplantzzz commented on #3072
Sounds like a swell idea! We'll put this in the backlog and try to get around to it in the near future. Anyone wishing to expedite this is welcome to put in a PR in the meantime. Thanks @wbt!

[2020-05-27 17:39] eggplantzzz commented on #3073
Thanks for the report, we'll investigate!

[2020-05-27 17:51] eggplantzzz commented on #3076
So this error looks like it is coming from the compiler. You might consider reporting this to the Solidity team. Can you provide a repo that we can use to try and reproduce your error? Thanks!

[2020-05-27 17:58] wbt commented on #3072
It should be relatively simple, but the wrinkle is that there is a diversity of what counts for the "provider" object and it's not immediately clear if they all support a common interface for extracting host and port data.

[2020-05-27 18:06] eggplantzzz commented on #1698
Closing this as I believe it is fixed! Get back to me if you think this is still an issue and we'll re-open. Thanks!

[2020-05-27 18:06] #1698 closed

[2020-05-27 18:08] naszam opened #3077 "Error: Deployer._preFlightCheck when deploying"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When trying to deploy a smart contract which is using some interfaces, it returns the following error:

[code]

This is probably a bug cause when removing interfaces and adding them again it works

## Steps to Reproduce

Clone repo:
https://github.

[2020-05-27 18:10] eggplantzzz commented on #2416
Do you guys think there is some issue here for Truffle to address? Let me know!

[2020-05-27 18:14] CruzMolina commented on #3061
This would be awesome, but would require, _at a minimum_, pulling in the `hdwallet-provider` logic into `@truffle/contract`... There might be more to it that entails messing around with provider logic.

For future reference, an easy option would be to publish a separate `hdwallet-provider` specifically intended for `quorum` usage (`@truffle/hdwallet-provider-quorum`?) that makes sure to monkey pat

[2020-05-27 21:02] gnidan commented on #3076
Have you tried using Docker or native solc? See [configuration docs](https://www.trufflesuite.com/docs/truffle/reference/configuration#solc) to learn how to switch. By default, we use the JS version of solc, and that's bound to cause memory problems with so many contracts. If you already have Docker installed on your machine, that's probably the easiest way to go (just add that `docker: true`, as

[2020-05-28 01:27] kigawas commented on #3067
I mean the passphrase of the mnemonic, not mnemonic itself.

![image](https://user-images.githubusercontent.com/4182346/83088067-b5611600-a0cd-11ea-9c62-9c8f9ac83dc6.png)

[2020-05-28 06:51] fuchsi21 commented on #593
This also works for me. THX!!

[2020-05-28 10:14] rkalis commented on #2416
I think the issue is difficult to isolate, and since it only occurred on a specific Solidity version that is now outdated, and the issue is generally not a problem, I would say this issue can be closed.

[2020-05-28 10:14] #2416 closed

[2020-05-29 00:21] randv123 commented on #2966
have the same issue while trying to unbox

Preparing to download box
⠧ DownloadingError: write EPROTO 4556295616:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:332:

    at WriteWrap.onWriteComplete [as oncomplete] (internal/stream_base_commons.js:92:16)

[2020-05-29 00:30] igibliss00 commented on #2070
I've tried:
[code]
and have the following:
[code]
but am still experiencing the error:

[2020-05-29 00:51] michaelcohen716 commented on #1341
+1

[2020-05-29 11:07] Shreshth5625 commented on #400
Can anyone help me out with the same issue please ?
Windows 10, truffle version: 6.14.4
Cannot find truffle/Assert.sol from any sources

[2020-05-29 19:04] prestwich opened #3079 "Debugger displays incorrect source after stepping past inline assembly"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Debugger source map breaks after it encounters assembly blocks

## Steps to Reproduce

- Check out the `debugger-issues` branch of [this repo](https://github.com/summa-tx/bitcoin-spv)
- run ganache-cli in a separate terminal
- run `truffle test`
-

[2020-05-29 22:57] prestwich commented on #3079
![Screenshot from 2020-05-29 15-57-08](https://user-images.githubusercontent.com/10149425/83311779-161f4a00-a1c5-11ea-9505-7f673b4463f6.png)

- example of missing stack variables from a different transaction

[2020-05-30 00:40] haltman-at commented on #3079
OK, so I looked at this a bit and definitely was able to confirm the debugger reporting some wrong results, yup.  But, I notice you have the optimizer turned on.  Unfortunately, the debugger doesn't really work with optimized contracts, as their sourcemaps can be a bit sparse or otherwise irregular... and I only just realized our documentation doesn't list this caveat. >_>   (I'll have to go add t

[2020-05-30 02:29] prestwich commented on #3079
I ran through 2 different txns with optimization disabled. While output was much much better overall, there were still a few hiccups. So that was probably >90% of the problem

![Screenshot from 2020-05-29 19-26-35](https://user-images.githubusercontent.com/10149425/83317535-55a85f00-a1e2-11ea-8bbf-82f5b6794b77.png)

- still missing a stack var

![Screenshot from 2020-05-29 19-26-12](https://user-i

[2020-05-30 02:30] petejkim opened #3082 "Multi-line import statements in Solidity don't work with contracts in npm modules."
## Issue

Multi-line import statements in Solidity don't work with contracts in npm modules.

## Steps to Reproduce

1. Create a new Truffle project.
2. Install OpenZeppelin: `npm install --save-dev @openzeppelin/contracts` or `yarn add --dev @openzeppelin/contracts`
3. Set solc version to 0.6.8 (to be able to use latest OpenZeppelin)
4. Add the following contract code `Foo.sol`:
[code]
5. `truffl

[2020-05-30 03:42] haltman-at commented on #3079
Hm, troublesome.  OK, I'll have to take a more detailed look on returning next week.

Some questions for ease of reproducing these -- are these transactions also from your tests?  If so, which ones are they?  If not, can you say what functions you ran with what parameters?  Also, for the first problem, with the missing stack variable, can you say at what point in the code this occurred?

And yeah,

[2020-05-30 03:58] prestwich commented on #3079
I've pushed a new commit to the `debugger-issues` branch. Again, run `ganache-cli`. This time debug the tx that errors with the message `DEBUG ME`.

The `DEBUG ME` transaction is calling the `slicing` function on `TestMemView.sol`.

The first screenshot with the missing stack variable is at ~L180 of TestMemView. The second screenshot with the bad sourcemap happened just after L174. The debug outpu

[2020-05-30 07:56] rahul7668gupta opened #3083 "truffle migrate: Unexpected Identifier"
I am getting this error while running 'truffle migrate' or 'truffle test' on my truffle project.
Can anyone help me with this?

[code]

[code]

[2020-05-30 23:51] josh-kean commented on #3067
@kigawas I think the best, short term solution would be to provide the first private key from your salted mnemonic phrase in place of your mnemonic phrase, and then add include a waller_hd path variable when interacting with the wallet_hdprovider library.

But adding in the ability to the wallet_hdprovider library seems like a reasonable thing to do for medium/long term development. I'm going to d

[2020-06-01 14:24] youwenbusi commented on #2692
I had the same problem, have you solved it, please help me, thx

[2020-06-01 20:33] haltman-at commented on #3079
OK, thanks for the detail!  Should have a chance to sit down and investigate this soon.

[2020-06-01 20:51] prestwich commented on #3079
Awesome, thanks. This is not blocking any work, as disabling the optimizer gets us close enough to be useful

[2020-06-02 02:23] stylehuan commented on #2552
me too

[2020-06-02 02:27] stylehuan commented on #2552
clear local DNS cache,it worked for me.

[2020-06-02 07:34] haltman-at commented on #3079
Hm, unfortunately I can't seem to reproduce either of these errors, including on 5.1.24.  No clue.

[2020-06-02 10:55] wangdayong228 commented on #2840
Have you solved? I also blocked by this issue.
[code]
where's  could I download the package "web3/providers"?

[2020-06-03 02:20] cbruguera commented on #1618
@saitam1 Why was this issue closed? I'm using truffle 5.1.27 and I have a probably related error. I'm using `truffle console` and `exec path/to/script.js` inside, execution just seems to be hanging with no error message given, even with improper syntax inside the script on purpose. I need a way to know when my script throws an error.

[2020-06-03 02:25] wangdayong228 commented on #2840
I want to develop the project locally In Macos and I am blocked by this issue, could you tell me from where I could download the module "web/providers"? thank you.

[2020-06-03 02:25] wangdayong228 commented on #2840
I want to develop the project locally In Macos and I am blocked by this issue, could you tell me from where I could download the module "web/providers"? thank you.

[2020-06-03 14:11] glowkeeper commented on #3008
Same error here

[2020-06-03 17:49] haltman-at commented on #3079
Just to check, did you recompile everything with `truffle compile --all`, or `truffle migrate --compile-all --reset`, after turning off optimization?  Thanks!

[2020-06-03 17:53] haltman-at commented on #3082
Thanks for the report!  We'll take a look.  Or, if anyone else wants to take a look at this, [here's](https://github.com/trufflesuite/truffle/blob/develop/packages/compile-solidity/parser.js) the most relevant file.

[2020-06-03 17:59] haltman-at commented on #3083
Hm, could you tell us the name of this file and where in your project it lives?  It looks like it's being parsed as Javascript rather than Solidity, causing the problem. (If you have a repo we could check out that would be especially helpful, although that may not be necessary.)  Thank you!

[2020-06-03 18:06] haltman-at commented on #3000
Ah, thanks @eggplantzzz.  @Amxx, do those suffice for your purposes or is there some additional functionality you want that you think Truffle should provide in its equivalent?

[2020-06-03 18:18] haltman-at commented on #1846
This should be fixed now.  The method is still named `default`, but now that it's a TypeScript class, it should no longer be a problem.

Closing this.  Let us know if we're mistaken and there is in fact still a problem.

[2020-06-03 18:18] #1846 closed

[2020-06-04 05:15] hmarcelodn commented on #1727
Having v5.1.28 and running truffle test or truffle develop does nothing

[2020-06-04 11:22] FilipLaurentiu opened #3091 "Truffle stuck when deploy smart contract"
---------------------------

## Issue
I have a little problem deploying smart contract with ledger nano s as provider on ropsten. The script just remain stuck at first migration
[code]

This is my truffle configuration
[code]
## Steps to Reproduce

`truffle migrate --network ropsten`

## Expected Behavior
To migrate all the contract
## Actual Results

In my example it wait for  Blocks: 211 but is

[2020-06-04 13:53] Komari-Koshigaya commented on #2692
@youwenbusi
I'm sorry that i have no idea. But you can find a set of boilerplates in [https://github.com/truffle-box](https://github.com/truffle-box).
So you can using "git clone https://github.com/truffle-box/pet-shop-box" instead of "truffle unbox pet-shop"

[2020-06-04 19:03] prestwich commented on #3079
I believe I recompiled everything

[2020-06-04 19:24] haltman-at commented on #3079
Hm, troublesome...

[2020-06-04 20:42] wbt commented on #3083
Specifically, I'd expect this file to be `contracts/MyTokenSale.sol` relative to the root of your Truffle project.

[2020-06-04 22:19] DiscRiskandBisque commented on #2966
I'm experiencing the same issue on WSL Ubuntu 18.04 LTS, truffle version `5.1.28`.

Seeing a different file from the others though:
[code]

[2020-06-05 16:50] sirhill commented on #2409
Creating a symlink from the parent node_modules to the repo node_modules seems to be a valid workaround.

[2020-06-05 17:07] PaulRBerg commented on #2409
Yeah, that works. I learned about the [nohoist](https://classic.yarnpkg.com/blog/2018/02/15/nohoist/) option in the meantime:

[code]

[2020-06-07 00:11] haltman-at commented on #2970
This now exists! :D  Just pass the `--fetch-external` option to the debugger and it'll be able to download sources off Etherscan.  Support for getting them from Sourcify as well is planned.  Closing, hope you like it! :)

[2020-06-07 00:11] #2970 closed

[2020-06-07 17:45] WillMandrill commented on #3008
Hello

I am having the same error. Is this a bug?

/versions/node/v14.3.0/lib/node_modules/truffle/build/webpack:/node_modules/merkle-patricia-tree/node_modules/async/lib/async.js:358
                callback(err);
^
Error: Callback was already called.

Truffle v5.1.28 (core: 5.1.28)
Solidity - 0.6.8 (solc-js)
Node v14.3.0
Web3.js v1.2.1

Thank you

Will

[2020-06-08 04:14] MaxFeldman1 commented on #2066
I recently encountered this error while playing around with uniswapV2 on a private geth node. I recieved the error after the following step in the debugger
[code]
I believe this must not be a Quorum specific problem.

---------To replicate------------
here is the command I used to start geth
`geth --networkid 12345 --mine --minerthreads 1 --datadir "." --nodiscover --rpcport "8545" --port "30303"

[2020-06-08 10:48] biastek commented on #825
In my case, when i deploy upgradeable contract with OpenZeppelin, it return the same issue "The contract code couldn't be stored, please check your gas limit". I recognize that because of different between of gas limit in Genesis file and targetgaslimit in mining, then i set they are same, it works for me

[2020-06-08 18:49] dmihal commented on #2852
Just going to bump this thread. I'm hitting an issue related to this, would be great for this package to be moved to NPM

[2020-06-08 20:01] haltman-at commented on #2066
@MaxFeldman1 Would you mind filing this as a separate issue?  Thank you!

[2020-06-08 20:05] k06a commented on #2705
I see truffle performes second call and something strange happens:
[code]

[2020-06-08 21:35] haltman-at commented on #2066
Also @MaxFeldman1, what Solidity version did you use?  Since you don't mention, I'm assuming you used the default 0.5.16, and all default settings?  Thank you!

[2020-06-08 21:44] haltman-at commented on #2066
By the way @MaxFeldman1, I notice you've put `truffle-config.js` (and `package.json`) in your `.gitignore`.  I would recommend against this as it contains crucial project information; they're not so easy to just recreate!

If you want to avoid uploading it because it contains some secret information, I would suggest instead putting that secret information in another file that you put in your `.git

[2020-06-08 21:49] haltman-at commented on #2066
Sorry, one more question @MaxFeldman1, would you mind including the exact error message you got?  Thanks!

[2020-06-08 21:52] haltman-at commented on #2066
@MaxFeldman1 Question (yes one more thing, sorry).  Do you know if the issue is Geth-specific?  I tried it with Ganache right now and was unable to to reproduce the error.

[2020-06-08 22:11] MaxFeldman1 commented on #2066
yes I used solidity 0.5.16
thanks for the tip about truffle-config.js!
The error message I received in the debugger is very simmilar to @marcosio 's error it is as follows
[code]
The debugger was stuck at this point I then had to kill the process
And yes this is geth specific
This problem does not occur with ganache-cli

[2020-06-08 22:46] haltman-at commented on #2066
I see, thanks a bunch for all the extra info!  I guess I'll have to try it out in Geth and see what's going wrong.

I wouldn't file it as an issue with Geth just yet.  Right now we don't even know what the exact problem is.  I'll have to investigate here...

[2020-06-09 01:43] haltman-at commented on #2066
OK, good news, I've found the problem and put up a PR to stop the crashing.  Bad news is, crashes are due to Geth not reporting as much info as other clients.  This means that when using the debugger with Geth, you may get decoding errors, where storage variables erroneously display as zero even after they've been read from, or where we find ourselves keeping track of the wrong mapping keys.

I'll

[2020-06-09 03:00] Pana opened #3096 "Documentation for support new blockchain (EVM compatible)"
We at [conflux](https://confluxnetwork.org/) has develop a full decentralized and high through output, EVM compatible blockchain, whose mainnet is live now, we want add support of conflux to truffle, but can't find any documentation, where can i find intro or doc ?

[2020-06-09 08:23] FilipLaurentiu opened #3097 "Web3ProviderEngine does not support synchronous requests.."
## Issue

[code]

## Steps to Reproduce

truffle deploy --network ropsten

## Expected Behavior

migrate without error

## Actual Results

Can't deploy contracts

## Environment

* Operating System: Ubuntu 20
* Ethereum client: geth
* Truffle version (`truffle version`): 5.1.29
* node version (`node --version`): 10.21.0
* npm version (`npm --version`): 6.12.5

[2020-06-09 08:24] FilipLaurentiu commented on #3097
[code]

[2020-06-09 11:41] #3097 closed

[2020-06-09 17:46] spore-engineering commented on #2463
hello there, im having the same issue with Truffle v5.1.28, same behavior, just clarify the bug is present not only in 5.0.38 and 5.0.39.

Just made a fresh instalation following those steps, all works fine but the test command :) https://www.trufflesuite.com/boxes/drizzle

bests :)

-----------------------------------------

carlos@carlos-linux-machine:~/desarrollo/sc1-ethereum-rinkeby/app$ truff

[2020-06-09 17:53] gnidan commented on #3096
Did you try connecting Truffle to it? What went wrong?

There's no documentation for how to do this, but if you indicate where support is lacking, we might be able to point you in the right direction.

[2020-06-10 00:06] D-Nice commented on #3067
I understand there may be other priorities, but this addition imo is as trivial as it gets:
https://github.com/trufflesuite/truffle-hdwallet-provider/pull/17/files

[2020-06-10 02:32] Pana commented on #3096
Our blockchain contract vm is compatible with evm, but our rpc and js-sdk is independent, so we now planning add feature to truffle, to let it support conflux, but didn't know from where start ?

[2020-06-10 10:22] Roelman opened #3100 "truffle install issue"
[code]

[2020-06-11 00:25] haltman-at commented on #2066
Oh wait, I feel silly... there's a better way to handle this that doesn't rely on the reported `storage` at all.  So it'll work fine even with current versions of Geth!  I'm going to close my existing PR and go make a new one.

[2020-06-11 03:08] Pana commented on #3096
Thanks for your help

[2020-06-11 14:12] emrem6 commented on #1633
any solution on that issue?

[2020-06-11 14:48] 4vadim4 commented on #1062
@abuaesh , hi,
i have same issue and i have a question:  this is one of my docker container:
[code]
and then i build locally platform from my docker-compose it doesn't show mneumonic only this:
[code]

[2020-06-12 18:48] VoR0220 opened #3103 "Truffle Config File Not Being Read Properly"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I am feeding truffle a config file and want it to look for a network but it seems to not be able to read that there is a specified network configuration. Super weird. Never had this problem before.

## Steps to Reproduce

[code]

## Expected Behavi

[2020-06-12 18:59] gnidan commented on #3103
Weird - thanks for opening an issue! Can you see if this is something that was introduced in a recent version of Truffle, to help diagnose the problem?

[2020-06-12 19:02] CruzMolina commented on #3103
hey @VoR0220 , can you show us what command you're running?

[2020-06-12 19:07] VoR0220 commented on #3103
```truffle migrate --reset```

[2020-06-12 19:09] VoR0220 commented on #3103
if I try to run it ```truffle migrate --network development --reset``` I get this.

[code]

[2020-06-12 19:11] CruzMolina commented on #3103
Ah, you need to nest the `development` field in your config within a `networks` object.

[code]

[2020-06-12 19:14] VoR0220 commented on #3103
derp. Thanks.

[2020-06-12 19:14] #3103 closed

[2020-06-12 19:30] gnidan commented on #3103
Glad that was easy!

[2020-06-12 22:56] haltman-at commented on #2066
OK, this should be fixed now.  @marcosio, could you try out Truffle 5.1.30 and confirm that it fixes the problem?  If not we can reopen this, but otherwise I'm closing this for now.  Thanks all!

[2020-06-12 22:56] #2066 closed

[2020-06-13 07:02] jaxrtech commented on #2966
Was also running to the same issue. I did some investigation and managed to find the root cause.

Here is the chain of events:
 1. Running the `truffle init` command uses the `@truffle/box` package in `packages/box/`
 2. To download the Truffle "box", it tries to download another GitHub repo (by default it's [trufflesuite/truffle-init-default](https://github.com/trufflesuite/truffle-init-default))

[2020-06-13 13:27] narendrabluecrest opened #3104 "Can not install truffle"
Node and npm version are as given below
nkt@nkt-OptiPlex-3020:~$ node -v
v12.18.0
nkt@nkt-OptiPlex-3020:~$ nodejs -v
v10.21.0
nkt@nkt-OptiPlex-3020:~$ npm -v
6.14.4

I am getting the below mentioned errors after running the command

nkt@nkt-OptiPlex-3020:~$ npm install -g truffle
npm ERR! prepareGitDep 1>
npm ERR! prepareGitDep > undefined prepare /home/nkt/truffle
npm ERR! prepareGitDep > lerna r

[2020-06-13 20:26] Jaime-Iglesias opened #3105 "Unable to get a revert reason when testing smart contract using Truffle against a GETH node."
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Unable to get a revert reason when testing smart contract using Truffle against a GETH node.

Let's say I have the following contract

[code]

With the following test running on Truffle (using HDWalletProvider) :

[code]

with this alternative test

[2020-06-15 16:12] Jaime-Iglesias commented on #3105
So, after some extra testing my conclusion is that this is due to GETH not suporting revert reasons yet - I might be wrong on this and it might be an issue on the Truffle side but I haven't been able to identify what's happening.

[2020-06-15 16:12] #3105 closed

[2020-06-15 18:45] haltman-at commented on #3105
I can explain what's going on here.  I won't reopen this unless you think it should be reopened, but I can certainly explain what's going on here.

So, before I go on, I should say, there is a quick workaround for your problem.  Your problem is occurring because `foo` is a `pure` function, and therefore, by default, when you do `calculator.foo(a, b)`, Truffle defaults to performing a call rather t

[2020-06-15 19:05] Jaime-Iglesias commented on #3105
@haltman-at  That was actually VERY helpful - I never thought of thinking about it as in `send` vs `call`, I guess that the fact that I was getting and actual value returned with the Solidity encoding for a revert should have given that away.

One of the biggest sources of confusion in the whole thing was able to get some revert messages  from my local node (actually all but this particular test a

[2020-06-16 09:16] Jaime-Iglesias commented on #3105
Actally, I solde the `53 bits` problem the same way too , so thx again.

[2020-06-16 17:26] haltman-at commented on #3105
Oh, OK!

[2020-06-16 18:54] CruzMolina commented on #3100
Hi @Roelman ! What version of `node` are you using when running into this error?

[2020-06-17 01:33] Mereep commented on #2070
@CruzMolina
Thx, fixed the problem for me, too.

[2020-06-17 03:51] #3096 closed

[2020-06-17 15:08] CruzMolina commented on #3100
Also, can you run `npm config ls` and `npm config get unsafe-perm` and share your output?

[2020-06-17 15:08] CruzMolina commented on #3104
Hi @narendrabluecrest !

Can you run `npm config ls` and `npm config get unsafe-perm` and share your output?

[2020-06-17 17:38] fainashalts commented on #3104
There's a chance this is due to needing to have git installed. Can you make sure you have git installed on your machine and see if that fixes the issue?

[2020-06-17 17:42] fainashalts commented on #3091
Hi @FilipLaurentiu is your project available somewhere for us to take a look? We're not sure what is causing this issue and would like to try to reproduce. Thanks!

[2020-06-17 17:47] fainashalts commented on #2342
@junaidev we are closing this for issue maintenance. Please open a new issue if this is still something that needs our attention. Thanks!

[2020-06-17 17:47] #2342 closed

[2020-06-17 17:54] fainashalts commented on #1996
@MicahZoltu is this still a problem on the current version of Truffle? It looks like there was an issue in older versions of Truffle that did not properly handle non-empty directories and we believe it is fixed now.

[2020-06-17 18:00] fainashalts commented on #1250
It sounds like this may be an issue with org-scoped packages. Looks like we have enough information here to investigate, so we will look into it!

[2020-06-17 18:06] fainashalts commented on #2497
@mrwillis @digulla can you provide specific reproduction steps for this so we can dig in and see what's going on? Thanks so much!

[2020-06-17 18:10] fainashalts commented on #2268
If anyone wants to try to implement this, this should probably be done with a separate flag, like `--show-setup-events` or something similar.

[2020-06-17 18:15] #2547 closed

[2020-06-17 18:16] fainashalts commented on #2542
@7-- we are closing this for issue maintenance. Please open a new issue if you are still having problems.

[2020-06-17 18:16] #2542 closed

[2020-06-17 18:21] fainashalts commented on #2555
After some discussion we've concluded that we would like to be able to lock dependencies for each individual package. Putting this note here for whoever takes this on!

[2020-06-17 18:22] #2548 closed

[2020-06-17 18:27] juharris commented on #2268
Adding another flag is fine but the docs for `--show-events` is still wrong since not all events are shown.  It would be better to make `--show-events` work as explained in the docs.

[2020-06-17 20:39] gnidan commented on #2268
I'm not sure we want the default behavior for this flag to include events from `before` blocks, since those are used for setup, and likely makes for noise. Regardless, part of the definition of done for this issue should include updating all relevant documentation to be consistent with behavior.

[2020-06-17 22:38] rachit2501 opened #3110 "Issue While Containerizing."
I am creating a server-side application and using a truffle setup to communicate to the blockchain. Locally the project works fine but if I try to containerize the project truffle build fails.

## Expected Behavior

The installation should complete easily and I should have a running container.

## Actual Results

[code]

## Environment

Operating System: Ubunto
Truffle v5.1.29 (core: 5.1.29)
Solid

[2020-06-18 00:48] haltman-at commented on #3079
OK, I finally had some time to try this again with Node 12 and I still couldn't reproduce the problem.  No clue.

[2020-06-18 05:34] FilipLaurentiu commented on #3091
[repository](https://github.com/FilipLaurentiu/LedgerExample)
I create a minimal repository to reproduce the issue. Just replace the rpc node with your node in

and run

[2020-06-18 07:09] MicahZoltu commented on #1996
I don't know, I haven't used Truffle since around the time I opened this (and several other) issues.  I'll defer to others to rule whether this is fixed or not.

[2020-06-18 07:48] ltfschoen commented on #1680
I resolved the timeout by:
1) Deleting and creating the Infura project again
2) Copying across the new Infura Project ID
3) Checking that was using the correct address (i.e. if I'm using HTTPS then the address should be `https://` and shouldn't have `/ws/` in it. I also checked that in the .env file, I had only the Infura Project ID for `INFURA_API_KEY`, instead of the whole url.

[code]

[2020-06-18 12:04] Guru4741 opened #3112 "Truffle Unbox React Error"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

While running truffle unbox react, it works fine till "cleaning up temporary files", but shows error as  "Unbox failed" for "setting up box"

## Steps to Reproduce

truffle unbox react

## Expected Behavior

Command should run properly without any

[2020-06-18 14:25] mudgen opened #3113 "Truffle Box that uses a Diamond"
It would be really great if there was a Truffle box that used a Diamond so people would have a nice example of how to use diamonds with Truffle.

"A diamond is a set of contracts that can access the same storage variables and share the same Ethereum address."

The Diamond Standard is here: https://github.com/ethereum/EIPs/issues/2535

[2020-06-18 16:31] prestwich commented on #3079
Weird. Still might be some idiosyncrasy in my setup. because disabling the optimizer solved 90% of the problem, I'm fine if you delete this issue

[2020-06-18 17:37] haltman-at commented on #3113
Hm, Truffle boxes are actually under https://github.com/truffle-box , but I guess there's no way to file an issue for an organization as a whole, so maybe this is an OK place for it?  @cds-amal?

[2020-06-18 18:07] mudgen commented on #3113
Yes, initially looked for a way to open an issue there but I couldn't.

[2020-06-18 22:36] cds-amal commented on #3113
Hi @mudgen, That's a great idea! Do you have an example box? We would love to add it to our community boxes.

[2020-06-18 22:40] seesemichaelj opened #3114 "Debugger `step into` does a `step next` if there is no into, it should `step over`"
I was watching @kevinbluer demo the debugger for Teams, and we noticed that `stepInto` would apparently do nothing. This happens because it's apparently doing a `stepNext` if there's nothing to step into and we don't visualize sub-line highlighting yet.

However, my experience with debuggers (JDB, GDB, LLDB, NodeJS, Visual Studio, VS Code, Eclipse, Android Studio) has led me to believe that it sho

[2020-06-18 22:50] mudgen commented on #3113
@cds-amal I don't have one.  But the reference implementation for the diamonds is here: https://github.com/ethereum/EIPs/issues/2535

[2020-06-19 10:12] arunsybex opened #3115 "truffle test --network ropsten"
## Environment

* Operating System:
* Ethereum client:
* Truffle version (`truffle version`): v5.1.30 (core: 5.1.30)
* node version (`node --version`): v12.18.1
* npm version (`npm --version`): 6.14.5

![image](https://user-images.githubusercontent.com/20275068/85121909-4ea1c900-b243-11ea-96cf-feb6623bac6d.png)

[2020-06-19 20:27] mohamed-nazmi opened #3116 "Type definitions for @truffle/contract"
Cannot convert these lines into TypeScript.
[code]
Truffle v5.1.22
Node v13.14.0

[2020-06-20 14:21] xxCoDeBoX commented on #2217
This worked for me .

sudo npm install -g truffle --unsafe-perm=true --allow-root

[2020-06-21 14:03] linoleparquet opened #3117 "Solidity ^0.6.0 Compile Error"
## Issue

When creating a fresh new truffle project with truffle init, change the solc version to ^0.6.0 and run truffle compile this error pops:

[code]

## Steps to Reproduce

run truffle init
modify the truffle-config.js file : set solc version to ^0.6.0
run truffle compile

## Expected Behavior

Compile the Migrations.sol file without error.

## Actual Results

Error pop:
[code]

## Environmen

[2020-06-22 07:47] zaidMughal commented on #1570
I uninstalled and reinstalled it and got the same error

[2020-06-22 16:28] CruzMolina commented on #3117
Hey @linoleparquet !

Truffle v5 versions earlier than v5.1.5 won't successfully compile ^0.6.0 solidity contracts because the solc wrapper Truffle used (directly from solc-js) was only compatible with ^0.5.0 contracts.

I recommend upgrading to either `latest` or `5.1.5`.

Sorry for the annoyance! Happy to re-open if you also experience trouble on `latest` following your reproduction steps.

[2020-06-22 16:28] #3117 closed

[2020-06-22 18:29] CruzMolina commented on #3104
Ran into this issue and the stack trace led me to `nvm`.
Sourcing the alias appropriately resolved the issue.

I'm guessing this must be an issue with `npm`. Maybe the alias or something with the installation/setup of `npm`.

[2020-06-22 18:36] CruzMolina commented on #3104
Closing this as a duplicate of #3100.

[2020-06-22 18:36] #3104 closed

[2020-06-22 18:36] CruzMolina commented on #3100
https://github.com/trufflesuite/truffle/issues/3104#issuecomment-647698728

[2020-06-22 23:50] CruzMolina commented on #3100
Went down the rabbit hole with this one.

It looks like this is ultimately a problem with `yarn`. `yarn` appears to be a global dependency of `truffle`.

When `yarn` is globally installed before `truffle`, the true error is revealed:

[code]

Moreover, it appears because of the current monorepo setup using `yarn` & `lerna`, along with the presence of the `yarn.lock`, `yarn` attempts to install the

[2020-06-23 00:13] CruzMolina commented on #3104
@narendrabluecrest , do you happen to have the `truffle` monorepo cloned locally when you run into this issue?

[2020-06-23 00:18] CruzMolina commented on #3100
Wowwww, so this is looking like this is only an issue when installing `truffle` with the project monorepo cloned locally in a direct subdirectory.

i.e.

[code]

@Roelman , do you happen to have the `truffle` monorepo cloned locally when running into this issue?

[2020-06-23 06:31] #3114 closed

[2020-06-23 11:47] Roelman opened #3121 "SyntaxError: Unexpected identifier"
After " truffle compile " in terminal;

[code]

## Environment

* Operating System:
* Ethereum client:
* Truffle version Truffle v5.1.2 (core: 5.1.2)
* node version Node v11.15.0
* npm version 6.7.0

[2020-06-23 14:25] CruzMolina commented on #3121
Hey @Roelman !

It looks like there could be an issue with your `truffle-config` file, can you share what that file looks like?

[2020-06-23 21:09] eggplantzzz commented on #2852
Hello good people of GitHub! Pull request #3122 should resolve the issue you are experiencing and we expect it to be released this week. Sorry it took so long :)