[2018-02-08 21:06] cgewecke commented on #650
@ismaelbej Thank you for noting this, closing here in favor of #501..

@dzentota @mhchu
The deployer stages deployments rather than running them at the execution time of the migration function. It's possible to use async/await within its context but ultimately you also have to follow the deployer's interface by returning a promise to its `.then` property. More guidance on this at the other issue [

[2018-02-08 21:06] #650 closed

[2018-02-08 21:16] cgewecke commented on #507
Hello all, thanks for reporting. This is an issue at the `web3` dependency and relates to decoding dynamically sized solidity data types. At the moment, they're not indexable. More discussion on this topic at issue #728.

[2018-02-08 21:19] #507 closed

[2018-02-09 03:49] lijiangongo commented on #448
npm uninstall -g truffle
npm install -g truffle@3.4.5
i'hava sloulation this probloem on Mac os 10.12.6

[2018-02-09 08:49] dzentota commented on #650
I saw #501 before and some similar. But approach mentioned in #501 doesn't work, output is the same

[2018-02-09 10:09] prameshbajra commented on #492
I have this error in `ganache`. Did anyone experience similar error? How do I get it fixed?

@pascal1990  did you get it resolved? If yes, how?

[2018-02-09 14:46] cgewecke commented on #650
@dzentota Could you share the code from the migrations that's not working?

[2018-02-09 17:24] elie222 commented on #782
I just banged my head against this issue with Rinkeby. I had to remove gas and gasPrice from the truffle config file to make it work.

[2018-02-10 08:14] zhongzi commented on #448
who has a solution as so far？

[2018-02-10 21:06] marcosc90 commented on #777
I'm having the same issue, network object is empty in `MyContract.json`, and is failing with: `has no network configuration for its current network id`

[2018-02-10 22:39] superlazycoder commented on #400
The contract seems to compile, and the project runs the tests, but the errors in the GUI are annoying.

[2018-02-11 00:12] alexaltair commented on #494
I ran into this problem also. I defined an event and did not name the address parameter, which resulted in `Uncaught TypeError: Cannot read property 'constructor' of undefined`. If this issue hadn't come up in google I never would have figure it out.

[2018-02-11 10:36] ltfschoen opened #793 "out of gas Error trying to run Unit Test for Buy Token Function of Decentralised Exchange contract using Ganache CLI"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

i'm looking for help on some solidity code for a DEX i've been coding https://github.com/ltfschoen/dex. If I try and add anymore code to the `buyToken` function https://github.com/ltfschoen/dex/blob/master/contracts/Exchange.sol#L348, then when I r

[2018-02-11 20:03] cgewecke commented on #650
@dzentota The example @Velenir gives in this issue [above](https://github.com/trufflesuite/truffle/issues/650#issuecomment-342751957) is the model you should follow. If you want to run async logic in the migrations you must return it as a promise to the **`deployer`** method. In your case,
[code]

Additionally make sure you return **everything** async in the promise chain. For example the `deploye

[2018-02-11 20:16] cgewecke commented on #793
@ltfschoen Your contract consumes more gas to deploy than the limit you've specified. At the time of this comment, mainnet's limit is 7984452 so you have quite a bit of room to expand while remaining within deployable reality.

Could you try raising the `gasLimit` of your ganache-cli instance as well as the `gasLimit` specified in your `truffle.js`?

[2018-02-11 20:23] cgewecke commented on #788
@vivek4c4 Which ethereum client are you using?

[2018-02-11 20:30] cgewecke commented on #787
@KurtLorey @malaravannm This issue has also been raised in #756. In that instance, the poster re-installed their project and the issue self-resolved. They were also on Windows using VS Code. If someone discovers why this is happening or if the steps suggested don't work please feel free to re-open or comment here.

Closing as duplicate of #756.

[2018-02-11 20:30] #787 closed

[2018-02-11 20:55] ltfschoen commented on #793
@cgewecke Thank you that worked!
I found the latest Gas Limit and Gas Price used by Mainnet at https://ethstats.net/, as you mentioned.
I need to updated truffle.js with a larger Gas Limit as you mentioned:
[code]
It was also necessary to specify a matching Block Gas Limit in Ganache CLI flags as follows:
[code]

[2018-02-11 22:30] cgewecke commented on #793
@ltfschoen Oh good - closing this for housekeeping.

Please feel free to re-open if you feel there are other issues to resolve here.

[2018-02-11 22:30] #793 closed

[2018-02-11 23:06] webslesar commented on #792
User is from acconts. If you need i can provide sample code

[2018-02-11 23:52] cgewecke commented on #792
@webslesar Yes, it would be helpful if you could provide an example test to reproduce this error.
Out of curiosity, is it your intention to implement the Transfer event as shown above, with `msg.sender` passed in as the value for the `_to` parameter?
[code]

[2018-02-12 01:06] TedtheDev commented on #786
Hi. I have been poking around the code and trying to figure out why the README is getting deleted. I figured I would give this a shot since it is just deleting a file.

The 'init' command is using 'bare-box'. https://github.com/truffle-box/bare-box/. In the truffle-box.json ignore property, it has README as one of the files to ignore (delete). First, yours gets overwritten by this one (I think) an

[2018-02-12 05:01] davesag commented on #10
yes I have hit the same issue.  To test the time-dependent functionality of my smart contracts I have `time-travelled` the testnet which then causes many of the subsequent tests to fail. I need the time travelled tests to run last.

[2018-02-12 06:47] jackz-jones commented on #448
Have the same problem :

Truffle v4.0.6 (core: 4.0.6)
Solidity v0.4.19 (solc-js)

mac os 10.13.3

[2018-02-12 08:02] gz65555 commented on #766
I got the same problem. I am using truffle 4.0.6 on windows 10.

[2018-02-12 08:08] dzentota commented on #650
Thanks @cgewecke now it works!!!

[2018-02-12 10:14] mandys commented on #559
+1

[2018-02-12 12:06] marcpre commented on #786
Thx for your reply!

This is definitely working. I think the expected behavior should be:

## Expected Behavior

I expect that truffle only adds folders/files and does not delete any folders or files.

[2018-02-12 14:06] lazaridiscom commented on #786
@marcpre

I understand you expectation. Yet, `init` has the meaning of `from scratch`, and thus it should be expected that `everything starts from zero`.

## Suggestion

[code]

[2018-02-12 14:52] marcpre commented on #786
I like your suggestion.

However, I think if you still have to accept each warning this would hinder your development workflow. I would add these warnings but if you add f.ex. the `-f` flag your folders will be added and nothing gets overwritten. Similiar to `npm init -f`, when your `package *.json` just gets created by default.

[2018-02-12 15:08] lazaridiscom commented on #786
Sounds rational. So, i guess the relevant suggestion would be:

=> adopt `npm init` `-f` flag behavior

and the overall suggestion would be:

=> Align truffles's cmd-line options and behavior to known tools (npm)

[2018-02-12 15:58] ben-nyllabs commented on #766
Same error with v `4.0.6` on osx 10.12.6
`Downloading...
Error: Error making request to https://raw.githubusercontent.com/truffle-box/bare-box/master/truffle.js. Got error: self signed certificate in certificate chain. Please check the format of the requested resource.
    at Request._callback (/Users/bsaphier/.nvm/versions/node/v8.9.4/lib/node_modules/truffle/build/webpack:/~/truffle-box/lib/util

[2018-02-12 16:24] cgewecke commented on #766
@ben-nyllabs The error is: `self signed certificate in certificate chain.` Looking around various Github threads it seems like it might be firewall related. Is there anything about your local environment that would cause it to fake SSL certs?

Possibly helpful discussion at this [issue](https://github.com/MarkEdmondson1234/googleAnalyticsR/issues/123).

[2018-02-12 16:29] lazaridiscom commented on #766
@gnidan (trufflesuite/truffle-core/issues/108 and  trufflesuite/truffle-core/issues/111)

[2018-02-12 17:16] ben-nyllabs commented on #766
@cgewecke YES, there is! Should have been obvious, thank you! I just manually created the files/folders that `truffle init` makes, which only took like 30 seconds anyways... and now all is good

[2018-02-12 19:37] cpurta opened #794 "Invalid number of arguments in Solidity function when using Geth and Parity clients"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Encountering `Error: Invalid number of arguments to Solidity function` when running unit tests with Geth and Parity clients both using private instant-seal networks. The error is not encountered when using ganache-cli.

I have tried deleting the bu

[2018-02-12 21:41] #791 closed

[2018-02-13 02:06] cgewecke commented on #766
@daneric It's now clear this error results from local network permissions / behavior. @lazaridiscom has suggested we stop depending on network connectivity to manage `truffle init` and we all agree that's probably the best remedy. Tracking this problem at #108 and closing here.

Thanks for reporting,

[2018-02-13 02:06] #766 closed

[2018-02-13 02:14] cgewecke commented on #729
This issue has been open for a while and looks a lot like the non-deterministic ganache bug which @benjamincburns fixed recently. Downloading the latest ganache-cli (read the release notes!) should resolve this problem.

Closing but if anyone continues to see this error please re-open or comment. Thanks for reporting.

[2018-02-13 02:50] ebundala commented on #788
if your are using geth enable net on RPC api
like `geth --rpc --rpcapi web3,eth,personal,miner,net,txpool
i had the same issue enabling the api resolved it

[2018-02-13 03:46] fabdarice commented on #721
seeing the same issue here

[2018-02-13 07:32] fergarrui commented on #781
Did you run truffle compile first?

[2018-02-13 08:14] rstormsf opened #795 "Can't capture internal event log"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Imagine I have the following contract
[code]

## Steps to Reproduce

[code]

## Expected Behavior

`logs` should provide 2 events, Mint and Deposit
## Actual Results

before I was able to observe all event logs with truffle v3.
in truffle v4, I can

[2018-02-13 15:33] cgewecke commented on #795
@rstormsf This problem has also been raised in #555 where a global event registry was proposed. The underlying issue is that `truffle-contract` looks at the contract ABI to decode events but X is not part of Y's declared interface.

As a stop-gap you could declare an abstract contract that defined a common event interface for X and Y?  If that doesn't work for your use case you could manually deco

[2018-02-13 15:34] cgewecke commented on #794
@cpurta Thanks for reporting, looking into this.

[2018-02-13 15:49] pascal1990 commented on #492
Hi, @prameshbajra  do you have metamask on your browser and which app you tru to run, ganache is a node module

[2018-02-13 21:47] ltfschoen opened #796 "Unable to deploy an Interface when it is in a separate .sol file"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

In my repository https://github.com/ltfschoen/dao. I want move the `Token` Interface out of the [TokenInterface.sol file](https://github.com/ltfschoen/dao/blob/master/contracts/TokenRecipient.sol) and into its own file called Token.sol with content

[2018-02-13 23:06] cgewecke commented on #788
@ebundala Thank you - that's likely the problem here.

@vivek4c4 Closing since this seems like it's related to your client settings, but please feel free to re-open if there's something else going on.

[2018-02-13 23:06] #788 closed

[2018-02-14 02:56] cgewecke commented on #794
@cpurta It looks Geth `--dev` only seeds with a single account so `accounts[1]` is `undefined` triggering this (somewhat misleading) validation error in `web3`. Ganache seeds with 10 accounts.

Also seems like `--dev` [can't be configured with a custom genesis block](https://github.com/ethereum/go-ethereum/issues/15182) at the moment.

Not sure how to automate account creation on Geth but ultimate

[2018-02-14 15:31] cgewecke commented on #781
@realChainLife Closing this as a duplicate - there are a number of open issues about the debugger (which is experimental and under active development). Any information you have about how to reproduce a crash is more than welcome but please check the other issues first and see if your case has already been reported.

[2018-02-14 15:31] #781 closed

[2018-02-14 15:41] cgewecke commented on #772
@doubaozia This looks like an issue that might be related to the execution context of your script rather than a bug Truffle can address per se. Closing this for house-keeping since it doesn't seem like other people are running into this issue and there are many options for automating commands in the shell.

[2018-02-14 15:41] #772 closed

[2018-02-14 15:46] cgewecke commented on #759
Closing due to lack of response. `VM exception etc` usually means something in your Solidity code is throwing a legitimate error.

[2018-02-14 15:46] #759 closed

[2018-02-14 15:58] cgewecke commented on #711
@stefanionescu This issue has been open for a while and looks like it's specific to your crowdsale implementation rather than something going wrong at Truffle as such. Closing for house-keeping but please feel free to re-open if you continue to have problems with this. Thanks!

[2018-02-14 15:58] #711 closed

[2018-02-14 16:03] cpurta commented on #794
Ahh. That makes sense. I agree that is pretty misleading. I will run some tests using images with multiple accounts with funds to confirm that is the case.

[2018-02-14 16:28] cgewecke commented on #796
@ltfschoen It looks like the issue here might be that `interface` is an abstract contract which is meant to be used with the inheritance pattern. Could you see if removing the interface deployments / linkages from the migrations and substituting them with something like the following in your Solidity contract definitions achieves what you're aiming for?
[code]

[2018-02-15 00:25] vs77bb commented on #472
@kingcocomango Thanks for the update. @gnidan Does this get us over the finish line?

[2018-02-15 04:06] Paasmer opened #797 "unexpected token : in JSON at position 15566 on truffle migrate"
---------------------------

## Issue

I am trying to deploy new contract on rinkeby test network through my node application. When I run truffle migrate command ' truffle migrate --reset --network rinkeby', I end up with following exception
**Unexpected token : in JSON at position 15566**

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Beh

[2018-02-15 14:22] marwand commented on #721
Same issue here. Running geth-1.8.0-stable and truffle-4.0.6

[2018-02-15 14:59] fdouglis commented on #498
Thanks, @tcoulter, for the pointer to the proxy approach.  I used that and it works.  It's good that if we expect a revert() we can use that to confirm it happens, and fail the test only if it doesn't.

Now if only we could see events emitted during Solidity tests without raising a test failure. My only workaround there has been to do Assert.fail() if I want to see events, but then it counts as a

[2018-02-15 15:19] hickscorp commented on #721
I'd like to emphasize something here, what @ahester57 said about this problem being present on 1.7 is erroneous, it's a completelly different thing he's describing, not even an error (No transaction can be mined... Unless the node is mining). The 1.8 problem is indeed *not* solved by mining.

[2018-02-15 15:38] cgewecke commented on #797
@Paasmer If you have a chance could you post the stack trace you get with this error so we can locate its source?

[2018-02-15 15:41] cgewecke commented on #795
@rstormsf Hope you don't mind but I'm going to close this for house-keeping and we'll continue to track internal event logging at #555. Thanks for highlighting this issue.

[2018-02-15 15:41] #795 closed

[2018-02-15 15:43] cgewecke commented on #792
@webslesar Going to close this for house-keeping but if you're able to provide a reproducible example please feel free to re-open and we'll be more than happy to investigate. Thanks!

[2018-02-15 15:43] #792 closed

[2018-02-15 17:55] cpurta commented on #794
@cgewecke ran tests using geth with a private chain that has multiple funded and unlocked accounts and no longer seeing this error. I think that we are good to close out this issue. Thanks for looking into this so quickly!

[2018-02-15 17:56] #794 closed

[2018-02-15 17:58] cgewecke commented on #794
@cpurta Do you happen to have  a link to anything (a repo or a gist) for how set up the images w/ multiple accounts so this is easy to do?

[2018-02-15 18:10] cpurta commented on #794
Sure thing. I have my own repo for setting up the image that has the accounts setup, funded and unlocked here: https://github.com/cpurta/geth-devnet. Should also be able to pull the image from docker hub `docker pull purta/geth-devnet:latest` if you want to skip building the images.

I was using augur's image for parity (https://github.com/AugurProject/ethereum-nodes) but it looks like they only u

[2018-02-15 18:25] darioAnongba commented on #721
Same issue while trying to deploy on Rinkeby testnet with:
`geth-1.8.0-stable`
`truffle-4.0.6`
What I don't understand is why is it working fine with Ganache and not with Rinkeby ?

[2018-02-15 18:30] cgewecke commented on #794
Awesome, thank you.

[2018-02-15 18:45] hickscorp commented on #721
@darioAnongba I think you might be confused here.

It works fine with Rinkeby. It just doesn't work with geth 1.8, those are two different things.
Your question might be "What I don't understand is why is it working fine with Ganache and not with Geth 1.8?", and the answer would be that Geth is just an implementation of Ethereum, while Ganache is another. Using Geth 1.7, you should get it to work.

[2018-02-15 20:09] darioAnongba commented on #721
Thanks @hickscorp ! So if I understand correctly, Truffle is just not compatible with geth 1.8 yet.

[2018-02-15 23:56] starlabs007 commented on #721
I'm encountering this issue as well. I've installed a private blockchain using geth 1.8 and am also encountering the `unknown transaction` error.

Can this be given priority given 1.8 is now out? https://blog.ethereum.org/2018/02/14/geth-1-8-iceberg%C2%B9/

Some additional notes:
- I've been using truffle 3.4.11 (hadn't upgraded to v4.x yet) and also encountered the `unknown transaction`, so it se

[2018-02-16 00:17] cgewecke commented on #721
@hickscorp Thanks so much for all your work on this issue, much appreciated.
@starlabs007 Beginning investigation now. . .

[2018-02-16 01:56] nocow4bob commented on #686
I just experienced this exact same thing.

[2018-02-16 03:50] Paasmer commented on #797
@cgewecke

SyntaxError: Unexpected token : in JSON at position 15566

    at Object.parse (native)

    at /home/ec2-user/.nvm/versions/node/v6.10.3/lib/node_modules/truffle/build/webpack:/~/truffle-compile/profiler.js:79:1

    at /home/ec2-user/.nvm/versions/node/v6.10.3/lib/node_modules/truffle/build/webpack:/~/async/dist/async.js:1126:1

    at /home/ec2-user/.nvm/versions/node/v6.10.3/lib/nod

[2018-02-16 06:06] TedtheDev commented on #786
The flag is a good idea, but I saw some code where you can't put anymore option on the init command. It looked like you could base which box you wanted to init with.

Perhaps another suggestion is to only delete/reset necessary files related to a truffle project. For example, don't delete anything if there is any readme or other folders/files not related to truffle.

Say you have a readme file, a

[2018-02-16 12:04] hickscorp commented on #721
@cgewecke Don't mention it. It's worth noting that I've started talking to the Geth devs, but I don't think it's a bug as per say, it's more likely a different behaviour that Truffle would have to acomodate for. Tell me if you need anything else.

[2018-02-16 15:32] 0pay commented on #766
Same error on Windows 7
D:\DOC_ANT\_CRY\ETHEREUM\TEST\casino-ethereum>truffle init
Downloading...
Error: Error making request to https://raw.githubusercontent.com/truffle-box/bare-box/master/truffle.js. Got error: connect ETIMEDOUT 151.101.0.133:443. Please check the format of the requested resource.
    at Request._callback (D:\DOC_ANT\_CRY\ETHEREUM\SOFTWARE\NODEJS\node_modules\truffle\build\webp

[2018-02-16 15:59] victorwiebe commented on #237
Following up on this feature, or what is the alternative to this approach in truffle deployment. Regards.

[2018-02-16 16:05] cgewecke commented on #766
@0pay In your case the error looks different - the connection timed out which suggests you  weren't able to connect to GitHub because of .a weak internet connection or your computer can't reach Github for some other reason. Could you verify that you are able to clone a GitHub repository at the command line (outside of truffle) by running:
[code]

It's also possible you would see this error if you

[2018-02-16 16:11] 0pay commented on #766
@cgewecke
I've done and this is the result
Cloning into 'truffle-init-bare'...
fatal: unable to access 'https://github.com/trufflesuite/truffle-init-bare.git/': Received HTTP code 407 from proxy after CONNECT

I 'm behind a proxy.
How can I manage this problem?

[2018-02-16 16:20] cgewecke commented on #785
@quantumproducer @mjhm Agree this behavior departs from the pattern of `git clone` and can catch people off guard. I hope you don't mind but I'm going to close this and begin tracking the topic at #786 where there's additional discussion from the rest of the community.

[2018-02-16 16:20] #785 closed

[2018-02-16 16:29] lazaridiscom commented on #766
try https://github.com/trufflesuite/truffle-init-bare/archive/master.zip

after this, I guess you have to move before the proxy.

[2018-02-16 16:34] cgewecke commented on #742
@pascal1990 Apologies for the delay responding to this issue. I'm going to close this and re-open it at the `react-auth-box` repository [here](https://github.com/truffle-box/react-auth-box/issues/33) where other people using the box can find it. We'll try to address it there.

[2018-02-16 16:34] #742 closed

[2018-02-16 16:43] lazaridiscom commented on #786
@cgewecke , seeing #785 i realized the "uses current directory" behavior. This should be changed immediately, `truffle init x` should create folder `x`, like any other tool does.

[2018-02-16 16:59] cgewecke commented on #786
@lazaridiscom Agree there's is a good case for modifying this although it will also require further discussion. Among other things it would be a consequential change within the Truffle codebase which uses the box mechanism for some of its E2E testing. And we'd need to see if there are other implications, would this break things outside Truffle?

[2018-02-16 17:26] JohnAllen opened #798 "Option to default to block gas limit of connected network"
Often users of Truffle have to trial and error the right `gas` value in truffle.js.  But shouldn't there just be a default option to have gas be the current block gas limit of the network?

[2018-02-16 18:11] lazaridiscom commented on #786
this one line says it all "truffle unbox metacoin pastes contents in current directory, expected to mkdir".

So, this would have 2 steps:

- decide if something was done wrong, and that this **must** be reversed
- decide **how** to reverse this, to avoid as much as possible breaking things

Sometimes, its just not possible to avoid breaking things. Its a matter of priorities, and I think the top p

[2018-02-16 18:48] gnidan commented on #472
@vs77bb @owocki this is good to go! could you please issue @kingcocomango the bounty? thanks!

[2018-02-16 21:16] Aniket-Engg opened #799 "migrate --reset in 'truffle develop' doesn't update the contract changes"
## Issue

migrate --reset in 'truffle develop' doesn't reset build folder

## Steps to Reproduce

[code]

## Expected Behavior

It should perform the migration from beginning

## Actual Results

It doesn't update the migrations. I have to delete the build folder and then re-run the migration to get the contracts changes in the effect.

## Environment

* Operating System: Ubuntu 16.04 LTS
* Truffle

[2018-02-16 22:48] freshonline opened #800 "The contract code couldn't be stored, please check your gas amount."
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I building this exemple: http://truffleframework.com/tutorials/robust-smart-contracts-with-openzeppelin

## Steps to Reproduce

[code]Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: The contract co

[2018-02-17 06:44] dbucci24 opened #801 "Spanish translation"
I would like to collaborate in the translation into Spanish? It is already done?

[2018-02-17 23:39] freshonline opened #802 "Error: insufficient funds for gas * price + value"
Error:
===================
Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: insufficient funds for gas * price + value
=======================
geth:
==========================
geth --rpc --port 30304 --rpcport 8599 --targetgaslimit 9000000000000 --rpcapi db,eth,web3,net,admin,miner,personal --cache 1024 --maxpeers 25 --datadir /home/testnet/.ethere

[2018-02-18 01:12] lazaridiscom commented on #802
@freshonline , hop over to [Truffle Gitter](http://gitter.im/Consensys/truffle), there you should get help faster

[2018-02-18 01:25] nickjm commented on #750
@cgewecke to my knowledge web3 1.0 is not in beta, while web3 2.0 is in beta. What's the current status of this issue? Does the latest truffle (v4.0.6) still use web3 0.0? Is there a way to circumvent these timeouts now?

[2018-02-18 05:54] saurfang commented on #685
Running `migrate --reset --all` seems to rewrite `build` directory for me so I was able to stay in `truffle develop` console.

[2018-02-18 06:34] DeepakSuryaS commented on #677
@propercoil i added the --jsonrpc-apis as you've said but it still doesn't work. i still get the "contract transaction couldn't be found after 50 blocks" error. is there anything else i could do to get it working properly?

[2018-02-18 19:02] cgewecke commented on #750
@nickjm Not sure how meaningful this is but if you `npm view web3`, every `1.x` release is tagged beta. That said, it seems stable and we've started upgrading `truffle-contract`  to `web3 1.0` at [truffle-contract 95](https://github.com/trufflesuite/truffle-contract/pull/95).

Unfortunately I was wrong about the 50 blocks limits being removed in 1.0 - it remains in the new code [here](https://gith

[2018-02-18 19:17] cgewecke commented on #802
@freshonline Agree with @lazaridiscom - this is a good question to raise on Truffle's gitter.

Could you try raising the value of `gas` in your `truffle.js`. It's limited to `1,000,000`. The error suggests at least on of your contracts requires more than that to deploy. Could you also try testing your migrations with `ganache-cli` to verify they're successful against a test blockchain?

Closing th

[2018-02-18 19:17] #802 closed

[2018-02-18 19:19] cgewecke commented on #802
@freshonline Apologies - I see you've opened another issue with more detail - will address there.

[2018-02-18 19:28] cgewecke commented on #800
@freshonline There's an open issue (#721) about running migrations with geth `1.8.0-stable`.

Could you try downgrading to `1.7.3` and see if that helps? There may be additional issues you're facing but `1.8.0` is known to be unusable at the moment. We're actively investigating the cause the and will hopefully fix this in next patch release.

Closing as duplicate of #721

[2018-02-18 19:28] #800 closed

[2018-02-18 20:45] cgewecke commented on #801
@dbucci24 This is a fantastic idea, thank you so much for proposing it. As far as I know no one has attempted any translations of the docs, which are now housed [here](https://github.com/trufflesuite/trufflesuite.github.io/tree/master/docs). I have some preliminary questions:

+ Do you have any advice about how we might organize our docs so that translations are easily accessible and maintainable?

[2018-02-18 22:32] lazaridiscom commented on #801
@cgewecke , just quickly two points:

- translation infrastructure needs resources and some core-dev man-power, clarify if this available
- if you decide to go on: select decent docs tools (ideally js), which include good support for translations.

[2018-02-18 22:39] freshonline opened #803 "insufficient funds for gas * price + value"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

[code]

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

[code]
cat truffle.js

[code]
[code]

## Actual Results

What actually happened. Please give examples and support it with scr

[2018-02-18 23:12] cgewecke commented on #803
@freshonline Could you look at [this issue](https://github.com/ethereum/go-ethereum/issues/15983) at Geth and see if the error seeing is related to configuring the chainID?

[2018-02-18 23:13] pd164594 commented on #734
I am having the same issue here.  Even when I try @jiangcare  solution I receive that error.  I am not sure what is the issue here.  Any more insight on this issue would be great!

[2018-02-19 03:45] cgewecke commented on #797
@Paasmer Sorry for the delay getting back to you. Your error originates in a section of code that reads a contract artifact stored as a JSON object in the folder `build/contracts`. For some reason that file is getting corrupted but it's not clear why.

+ Could you open the file that fails, look at position 15566 in a text editor (the character should be a colon) and report back what's there?
+ Are

[2018-02-19 05:26] cgewecke commented on #721
[truffle-contract 99](https://github.com/trufflesuite/truffle-contract/pull/99) contains a small fix for this.

Not sure when our next patch release will be but should be resolved then.

[2018-02-19 08:16] bitsabhi commented on #150
Either use truffle.cmd compile or go to the /contract directory and use truffle compile .

[2018-02-19 08:31] mariam-crissi opened #804 "Issue in contract creation using sendRawTransaction?"
## Issue

I am trying to create a new contract using sendRawTransaction().

          pragma solidity ^0.4.18;
          contract MultiSigWallet {
                          function MultiSigWallet(address[] _owners) public {
                                      for (uint i = 0; i < _owners.length; i++) {
                                                 if (isOwner[_owners[i]] || _owners[i] == 0)

[2018-02-19 09:44] 0pay commented on #766
@lazaridiscom
what is it?
How can I manage that?
Thanks

[2018-02-19 09:55] lazaridiscom commented on #766
try the zip file. Sorry, I cannot help more (proxy brings problems, and I've no experience with this)

[2018-02-19 10:44] 0pay commented on #766
I' ve tried to compile launching the command
truffle compile
but I received the the Jscript runtime error
module is undefined
800A1391

[2018-02-19 10:53] lazaridiscom commented on #766
Please try getting help here: https://gitter.im/ConsenSys/truffle

[2018-02-19 14:26] glaksmono commented on #564
Would love to see this soon!

[2018-02-19 17:00] cgewecke commented on #804
@mariam-crissi The `truffle-contract` wrapper doesn't directly expose `getData`. However you can access a TruffleContract's underlying web3 object and interact with it through the`contract` property. In your case this would look like: `MultiSigWallet.contract.someMethod.getData`

[2018-02-19 17:01] cgewecke commented on #803
@freshonline Was that the cause of the error? Is this issue closable?

[2018-02-19 17:03] cgewecke commented on #796
@ltfschoen Hi this has been open for a bit. Closing for house-keeping but please feel free to re-open if I've misunderstood your issue or you're still facing difficulties with it. Thanks!

[2018-02-19 17:03] #796 closed

[2018-02-19 17:10] gnidan commented on #798
@JohnAllen note that  you likely do not want to set your transaction gas limit to be the block gas limit: on mainnet, miners will have no way of knowing ahead of time that your transaction will use anything less than the full limit, and so it will take a long time for a miner to include the transaction (thinking that the transaction will be the only one in the block—no room for other, smaller tran

[2018-02-19 17:15] ericwooley commented on #721
@vecheslav I just tested 1.8.1, still errored. Downgrading to 1.7.3 seems to be the way to go for now.

Here are some easy instructions for those who are desperate to deploy a contract. (OSX only, though it would be similar on other instructions.

[code]

I had a hard time getting it to install with go 1.10 because make checks the version of go, and doesn't properly sort the versions. It things 1.

[2018-02-19 17:52] ericwooley commented on #721
@cgewecke I'm not sure why this is closed? Was some progress made?

[2018-02-19 17:53] cgewecke commented on #721
@ericwooley I didn't close and FWIW am in favor of re-opening until we publish the fix. It's @hickscorp's issue.

[2018-02-19 20:30] wbt opened #805 "Identify file which causes compilation error such as UnimplementedFeatureError"
## Steps to Reproduce & Actual Results
I have the following code:

**RecordsLib.sol**:

    pragma solidity ^0.4.0;
    library RecordsLib {
        struct Data {
            uint timestamp;
            uint score;
        }
        function updateRecord(Data storage self, uint newTimestamp, uint newScore) public {
            self.timestamp = newTimestamp;
            self.score = newScore;

[2018-02-19 20:41] cgewecke commented on #805
@wbt This looks very similar to a bug at Solidity that's being addressed [here](https://github.com/ethereum/solidity/issues/3546). If you have a chance, could you close here and re-open there? Your example is slightly different and be might relevant to their efforts to resolve the problem.

[2018-02-19 20:54] wbt commented on #805
@cgewecke Thanks for the pointer! I think the underlying compilation failure might be a Solidity bug, but haven't yet fully convinced myself the bug is not in my code.  In either case, I think Truffle should pass along the error message with as much detail as Remix, and that's the focus of this Issue which seems properly filed on Truffle.

[2018-02-19 20:55] cgewecke commented on #805
@wbt Ah I understand. I think the difference might a difference in compiler version? Is that possible?

[2018-02-19 21:00] wbt commented on #805
@cgewecke Ah, yes, in part.  Changing Remix to use compiler `v0.4.18+commit.9cf6e910.Emscripten.clang`, I see that the error message is less specific, matching what I see in Truffle.  However, Remix still does at least identify the specific file which triggered the error, which is a step up over Truffle's current output.

[2018-02-19 21:02] cgewecke commented on #805
@wbt Ok fair enough, will look into this. . .

[2018-02-19 21:25] lazaridiscom commented on #780
@cgewecke , @bmaurer 's idea is excellent.

You are right the usual behaviour for tools is to provide only the version.

Yet truffle gives an additional version info.

Just implement a new command like `truffle all-versions` (or similar, lookup the naming of similar functionality within standard tools), which then does the hard work of finding out which exact versions the calling truffle instance

[2018-02-19 22:07] nicolasburtey commented on #721
Same issue for me.

[2018-02-19 23:01] cgewecke commented on #766
@0pay There's a note on StackExchange [here](https://stackoverflow.com/questions/44110165/error-on-doing-truffle-init) which suggests you can get around this by setting local environment variables that ask the `request` module not to proxy / tunnel certain calls. More on that [here](https://github.com/request/request#controlling-proxy-behaviour-using-environment-variables).

You can also just fetc

[2018-02-19 23:43] JohnAllen commented on #798
@gnidan had the same thought.

The vast majority of deploys are not on mainnet though, and many people determine the gas their contracts will cost during dev and testing and hard code that number in truffle.js once they go to deploy to mainnet.

[2018-02-20 04:28] mariam-crissi commented on #804
@cgewecke I am trying to create a new contract instance..Is it possible to use ```MultiSigWallet.contract.new.getData(params)```?

[2018-02-20 04:32] mariam-crissi commented on #804
@cgewecke   I have tried,but it also generates the following issue
[code]

[2018-02-20 06:03] nakajo2011 commented on #721
i think this to be helpful go-ethereum discussion:
https://github.com/ethereum/go-ethereum/issues/16092

[2018-02-20 06:04] cgewecke commented on #804
Sincere apologies @mariam-crissi I didn't read your example closely enough. I think you will need to manage this using web3 directly, although the necessary components (the binary and the ABI) are available on the artifact. If you look [here](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethcontract) at the web3 docs, you should be able to string the calls you need together. Then once y

[2018-02-20 06:17] mariam-crissi commented on #804
@cgewecke  As you mentioned,Shall I try with the following code?

[code]

[2018-02-20 09:12] mariam-crissi commented on #804
@cgewecke It worked fine...Thank you for your help.

[2018-02-20 09:12] #804 closed

[2018-02-20 09:35] kosnet2 commented on #721
So now I am using geth 1.8 stable .
How to use geth 1.7 ?

[2018-02-20 10:02] virtonomics commented on #721
You should checkout appropriate branch

and compile this one

[2018-02-20 10:20] FollowJack commented on #159
@tcoulter can you provide some code. Thanks in advance :)

[2018-02-20 12:38] mandarvaze commented on #271
I think the error is too generic and misleading. That is why it works for some people and does not for some others, because the root cause is different, but the error is same. (too generic)
I blogged about my experience here : https://mandarvaze.bitbucket.io/posts/please-check-your-gas-amount-maybe-misleading.html
tl;dr : It was "code" issue (Should have been compile error IMO)

[2018-02-20 15:14] cgewecke commented on #803
@freshonline Closing because this is likely a geth configuration issue and you've stopped responding, but please feel free to re-open if that's not the case and there's more to investigate here. Thanks!

[2018-02-20 15:14] #803 closed

[2018-02-20 15:23] cgewecke commented on #799
@Aniket-Engg Thanks for reporting. We're currently tracking this topic at #685. If you have a chance could you see if modifying your command to `truffle migrate --reset --all` results in the correct behavior?

Closing as duplicate.

[2018-02-20 15:23] #799 closed

[2018-02-20 19:33] cgewecke commented on #805
@wbt I agree this error is not helpful enough and is missing critical information. However, Truffle passes back all the information it gets from solc and typically this contains detailed file/line info. Ex:
[code]
Because Remix compiles files individually rather than as a batch, it's able to communicate that a given compilation attempt failed.  Truffle batches and so relies on `solc`'s error repor

[2018-02-20 20:27] wbt commented on #805
Parse errors show up like that, but you can see the output in Comment 0 above for this kind of error: no file identification, let alone line or column.
When a compilation fails and does not produce a file-identifying error, could Truffle try again without batching and report the specific file?

Also, I don't think `solidity` is going to solve that issue about nested structs anytime soon.  The "int

[2018-02-20 20:30] Aniket-Engg commented on #799
@cgewecke Yes that works. Thanks.

[2018-02-20 21:02] ericwooley commented on #685
I'm getting an old ABI as well, on 4.0.6

After running `truffle compile --all`, the abi is correct.

using truffle develop:

Sometime during `truffle migrate --reset --all` the ABI reverts to a different version of the contract. I don't know how or why, or where it's even pulling the old ABI from, but it's driving me insane.

I published my repo, here is my basic setup:
https://github.com/ericwoo

[2018-02-20 21:26] dmihal opened #807 "`truffle install` should allow updating ethpm.json, similar to `npm install`"
---------------------------

## Issue

Truffle & EthPM seem to be designed to function similar to NPM. `truffle install <package>` installs the package to the `installed_contracts` directory, similar to how `npm install <package>` installs a NPM package to the `node_modules` directory.

Also, `truffle install` will install any dependencies from the `ethpm.json` file, similar to how `npm install` i

[2018-02-21 01:37] cgewecke commented on #805
@wbt I've looked through some of the code at `solidity` (but just focused on the error handling), and it seems likely that their intention is to provide location data but for some reason it isn't propagating. For example [here](https://github.com/ethereum/solidity/blob/70790d4729a8cee7d587bf274ed1733b255b2120/libsolidity/interface/StandardCompiler.cpp#L410-L420):
[code]
What do you think about hel

[2018-02-21 03:53] code-chimp commented on #500
Would it be possible to at least enable Chai's [BDD style assertions](http://chaijs.com/api/bdd/)?

[2018-02-21 04:15] nickjm commented on #729
I'm getting this error message when connecting to Rinkeby with Infura, truffle-wallet-provider, and ethereumjs-wallet. I'm not convinced this is Ganache, but maybe my error is caused my something else.

[2018-02-21 12:00] freshonline commented on #803
I have problem configuring the chainID. Do not can use genesis.json.
https://github.com/ethereum/go-ethereum/issues/16137#

[2018-02-21 15:05] andy-mcewan-aventus-io commented on #721
I can deploy fine but any contracts method transactions fail. Rolled back to geth 1.7.3 fixed it.

[2018-02-21 16:58] cgewecke commented on #729
@nickjm Could you provide context or a reproduction path.? A stacktrace might also be helpful.

[2018-02-22 00:02] cgewecke commented on #797
@Paasmer I'm going to close for house-keeping since it's been a few days it seems like you might have resolved this on your own? If not please re-open - will continue to watch this issue in case anyone else starts seeing this error crop up. Thanks for reporting!

[2018-02-22 00:02] #797 closed

[2018-02-22 01:16] bmmpxf commented on #801
@cgewecke I am in favor of anything that increases the inclusiveness of our community! So I'm a fan of internationalization of our documentation (or i18n of our d13n for short 😄).

However, maintenance and drift are certainly concerns. We'd be dependent on the wider community (and folks like you @dbucci24!) to keep the documentation up to date. So it's possible that the project might stall. Also,

[2018-02-22 01:42] cgewecke commented on #801
@bmmpxf Agree with everything you've said. (Also thanks for correcting the link :) )

I guess I'd like to know whether @dbucci24 thinks these obstacles are manageable or not.

As @lazaridiscom has noted, if we did host translations we'd need to create a file structure for the docs that enabled that. `readthedocs` provides this for sphinx documentation (python) for [example](http://docs.readthedocs

[2018-02-22 01:56] dbucci24 commented on #801
What would be the obstacles more presciently? I can translate all the .md files :)

[2018-02-22 02:10] cgewecke commented on #801
@dbucci24 Great! The obstacles are technical on our side we need to install multi-lingual doc support. Is something you'd be interested in opening a PR for? And long term, someone would need to watch the changes in the documentation and keep them up to date. As @bmmpxf has noted - it's a ton of work!

[2018-02-22 03:23] sonaye commented on #635
`truffle compile && mv build/contracts src/abis`

[2018-02-22 06:16] 4000D commented on #655
`truffle test` command recompiles contracts for unit tests and saves results in memory. `truffle debug` seems to use current artifacts in `/build` directory.

To debug test transaction,
1. run `truffle test`
2. if contract is recompiled for the unit tests in step 1, run `truffle compile` to sync artifact
3. run `truffle debug [TX]`

[2018-02-22 09:57] donaldduckcheshta commented on #677
@DeepakSuryaS
Add whole string --jsonrpc-apis web3,eth,net,personal,parity,parity_set,traces,rpc,parity_accounts to the parity call .
Thanks @propercoil  - worked  ! :)

[2018-02-22 16:05] freshonline opened #808 "insufficient funds for gas * price + value"
This reopen https://github.com/trufflesuite/truffle/issues/803
I have problem configuring the chainID. Do not can use genesis.json.
https://github.com/ethereum/go-ethereum/issues/16137

[2018-02-22 18:01] cgewecke commented on #808
@freshonline I don't understand - it seems like you were advised to remove the `--dev` flag and start over with a standard geth installation for a private network. Why is that not a good solution? This does not appear to be a problem you're having with Truffle but rather with your Geth configuration.

[2018-02-22 19:44] dmihal commented on #807
I'm interested in developing this feature, does anybody have any thoughts or comments before I dive into the code?

[2018-02-22 22:45] dmihal opened #809 "'truffle create' shouldn't overwrite existing files"
---------------------------

## Issue

The command `truffle create` overwrites existing files with empty boilerplate files without warning.

## Steps to Reproduce

1. Run `truffle create contract TestContract`
2. Modify `contracts/TestContract.sol`
3. Run `truffle create contract TestContract` again
4. All changes to `contracts/TestContract.sol` have been reverted without warning

This behavior oc

[2018-02-22 23:51] lerer00 commented on #721
Any plan to support new geth ^1.8? Or we need to rollback to ^1.7?

[2018-02-22 23:55] cgewecke commented on #721
@lerer00 There's a fix for this at [truffle-contract 99](https://github.com/trufflesuite/truffle-contract/pull/99) that should be released next Monday.

[2018-02-22 23:57] lerer00 commented on #721
@cgewecke sweet thanks for the info.

[2018-02-22 23:58] lazaridiscom commented on #807
if `-s` is free, that this would introduce new **optional** behaviour, so its a non-breaking addition.

Your elaborations sound rational, so I (personally) would just go on with it.

how does ethpm handle this?

[2018-02-23 00:00] cgewecke commented on #809
@dmihal Gladly take a PR! There's a guide to setting up the project for contributions [here](https://github.com/trufflesuite/truffle/blob/develop/CONTRIBUTING.md). Feel free to ping this issue if you need any help.

Thanks so much.

[2018-02-23 00:06] cgewecke commented on #807
@dmihal Yes. If you'd like to work on this please do. `-s` looks free to me.

[2018-02-23 00:08] cgewecke commented on #808
@freshonline Closing as a duplicate of #803. Feel free to raise any questions you have there and if it merits re-opening because there's something in the Truffle code that needs to change, we'll be happy to do that.

[2018-02-23 00:08] #808 closed

[2018-02-23 00:17] dmihal commented on #807
@lazaridiscom EthPM.js doesn't have any mechanism for writing to ethpm.json, except for `ETHPM.init()`, which copies the template ethpm.json file.

I was thinking truffle could use `ETHPM.init()` if the user uses the `-s` flag, but hasn't created an ethpm.json file yet.

[2018-02-23 01:03] cgewecke commented on #763
Small update @skmgoldin.

This is a really good idea - adding it to the work underway to migrate to Web3 1.0 at [truffle-contract 95](https://github.com/trufflesuite/truffle-contract/pull/95). We could have `truffle-deployer` expose Web3's new event emitter interface and the pattern for waiting might look something like:
[code]
For record keeping, these are related:
+ [PR](https://github.com/ether

[2018-02-23 01:13] cgewecke commented on #809
@dmihal If you're taking this on, #790 could be within scope too. Or not, your call. :)

[2018-02-23 08:31] lazaridiscom commented on #420
@ripper234 , use `truffle.cmd` as workaround.

[2018-02-23 08:35] lazaridiscom opened #810 "Launching "truffle test" from JS code (debugging)"
## Problem

`truffle test` hijacks essentially the test-system, making it difficult to setup standard js-debugging (e.g. IDE).

In my current constellation (GridPlus/cryptobridge-contracts/issues/17), there is a tiny 'truffle.js`, and the the actual test-code is called.

What is missing is e.g. this `artifacts` (at least thats the first error):

[code]
## Possible Solutions

I like to verify the o

[2018-02-23 08:37] lazaridiscom commented on #810
Use case: GridPlus/cryptobridge-contracts/issues/17

[2018-02-23 09:24] dt665m commented on #559
+1

[2018-02-23 09:31] PaulLaux commented on #469
Had the same problem, fixed by compiling in advance for the same network that is used for the tests:

first:
`truffle.cmd compile --network testrpc`
then:
`truffle.cmd test --network testrpc test\bigTest.test.js`

[2018-02-23 10:52] dzarezenko commented on #158
I have created new file `tf.bat` in the same directory with `truffle.cmd` with this command
[code]
and now I simply call `tf init`, `tf compile` etc.

[2018-02-23 12:00] OfStone commented on #721
How to roll back to 1.7.3?

[2018-02-23 13:38] lazaridiscom opened #811 "Error: contract constructor expected 1 arguments, received 0"
## Issue

Truffle version 4.0.6 introduces a bug, similar to #596. When I switch to 4.0.5, the bug disappears

## Steps to Reproduce

I've no isolated reproduction case. The bug appeared during work on GridPlus/cryptobridge-contracts/issues/11

The relevant contract:

https://github.com/GridPlus/cryptobridge-contracts/blob/master/contracts/Bridge.sol#L517

## Environment

* windows 10 native, bash

[2018-02-23 15:27] lazaridiscom commented on #811
I've isolated the cause and solved this on my side.

[2018-02-23 15:41] cgewecke commented on #796
@violalbi91 Interfaces aren't deployable, they're inheritable.

A more detailed discussion of how to use interfaces and abstract contracts can be found [here](https://ethereum.stackexchange.com/questions/26674/deploying-abstract-contracts-and-interfaces).

[2018-02-23 16:31] cgewecke commented on #811
@lazaridiscom Is this closable? Does it seem like the constructor argument validation is working correctly?

[2018-02-23 16:37] lazaridiscom commented on #811
seeing #596, I think this should stay open. Possibly during further work I find out what triggered this and can be sure its not truffle.

[2018-02-23 17:03] ericwooley commented on #721
@OfStone https://github.com/trufflesuite/truffle/issues/721#issuecomment-366754953

[2018-02-23 17:49] cgewecke commented on #811
@lazaridiscom Is the error you saw correct? i.e for some reason the constructor was called without arguments? If so we should close this because it's un-related to #596 - that's a re-compilation bug.

[2018-02-23 19:55] dmihal commented on #809
Created a PR for the overwriting issue, looking at #790 now

[2018-02-23 21:59] fdouglis opened #812 "Solidity test invoking function in ABI order instead of original source order"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The order of function calls in a Solidity test file doesn't necessarily match the original file.

## Steps to Reproduce

I don't know exactly how to reproduce this.  For example, I created another file with several functions, and they all execute i

[2018-02-23 23:09] cgewecke commented on #812
@fdouglis Do you have a way to reproduce?

[2018-02-23 23:53] fdouglis commented on #812
As I said in my report, I can reproduce this in my system, but I ~~don't~~ *didn't* have a recipe to tell you how to reproduce -- since when I tried to create a second file that would exhibit similar behavior, that one ran in the correct order.

But the very good news is that when you asked me essentially to try harder to come up with a simplified repeatable sample, I noticed something about the c

[2018-02-24 00:00] cgewecke commented on #812
@fdouglis Oh cool, thank you! Will check this out . . .

[2018-02-24 00:28] lazaridiscom commented on #811
@cgewecke , its "similar to #596", not 100% sure if related. Placed this just for info. I cannot verify this at this moment, the error exists (although its something else what triggers it, possibly command-line handling). For sure: there **is** something wrong. And until someone pinpoints it, this should stay open.

[2018-02-24 01:28] cgewecke commented on #811
@lazardis - Where / when is the error being triggered? We just recently added this constructor error message in order to address silent failures caused by the ability to instantiate a contract that requires constructor arguments without actually specifying them. The error you're seeing is definitely from Truffle (rather than web3) and intentional.

Don't you get a line number for the error? Does i

[2018-02-24 01:31] lazaridiscom commented on #811
@cgewecke , I reported this, but sorry, I'm not available at this point to dig deeper. Will revisit though in the next days.

[2018-02-24 03:56] cgewecke commented on #812
@fdouglis Haven't worked out *why* this is happening but as a workaround it looks like if you put `Debuggable` in it's own file and import it into the test contract, order is restored.

The top of your file would look like:
[code]

If you have a chance could you verify that's the case? Sorry, thanks.

[2018-02-24 05:24] lazaridiscom commented on #811
haha! @cgewecke , should have read your message. But you know how it is when you've a cloud in your brain, and information/questions come to you!

Confirmed, not your fault, its a "good" error.

In the initial migration:

[code]
But there this is the constructor

[code]

bad 4.0.5 did not catch.

Good 4.0.6 catches.

All fine!

-

sidenote: still unmerged/unreviewed: trufflesuite/truffle-core/issu

[2018-02-24 05:24] #811 closed

[2018-02-24 05:30] lazaridiscom opened #814 "void"

[2018-02-24 06:04] fredfortier opened #815 "1: // No source code found. When Trying to Debug Web3 Tx"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

My contract has a state modifying function which I'm able to test successfully by running a JS test. When calling the same function in exactly the same manner from web3, I get a tx which seemingly seems to succeed but it does not fire the expected

[2018-02-24 06:27] #810 closed

[2018-02-24 06:29] marshaln opened #816 "Geth 1.8.1 and truffle 4.0.6 migrate is giving errors"
unable to deploy/migrate contracts on geth 1.8.1 private network with truffle 4.0.6 version. getting following error

Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: unknown transaction
[code]

[2018-02-24 07:19] cgewecke commented on #816
@marshain - This is a known issue being tracked at #721. We'll be publishing [a fix](https://github.com/trufflesuite/truffle-contract/pull/99) for it early next week.

Thanks for reporting - your issue title is more current than #271's  - but closing as duplicate.

[2018-02-24 07:19] #816 closed

[2018-02-24 07:30] cgewecke commented on #811
@lazaridiscom Thanks for the reminder about the EthPM, will look at that shortly.

[2018-02-24 08:00] gnidan commented on #790
Would be nice if this accepted whatever text case and automatically converted to the appropriate for the context (e.g. `truffle create contract market-place` would automatically generate `MarketPlace.sol`)

[2018-02-24 12:07] rchaubey commented on #606
I was using the `pet-shop` example, ran into same problem `Could not find artifacts for ./TestAdoption.sol from any sources`

[2018-02-24 12:18] rchaubey commented on #606
Looks like the name of the contract & file has to be same otherwise it doesn't work.

(more info)[https://github.com/trufflesuite/truffle/issues/700]

[2018-02-24 13:07] violalbi91 commented on #796
@cgewecke After debugging deep what I found is that my problem is not related to Interfaces even if the Error Stack is the same.
Contracts implementation is almost the same as the one suggested<a href="https://blog.colony.io/writing-more-robust-smart-contracts-99ad0a11e948"> here.</a>
So I will use the same contracts to explain.

Let's say I have the Ownable.sol, ExternalStorage.sol and the Securi

[2018-02-24 13:49] ltfschoen commented on #796
@violalbi91 I'd suggest creating a new issue.

I found that for the current issue #796, if I only import the dependent interfaces that a contract uses
[code]
and I remove the deployment and linkages of the interface contract (i.e. removing the following code)
[code]
then it compiles successfully.

I also discovered that in the latest project I'm working on https://github.com/ltfschoen/benzcoin, if

[2018-02-24 15:06] NicolaOrritos commented on #207
@tcoulter Still having this issue on Windows 10.

Had to rename `truffle.js` to `truffle-config.js`. Also, the links you mentioned earlier are missing (404).
Shouldn't the name of the file be changed to avoid these issues?
Finally: I'm using a quite advanced shell, wrapping cmd.exe. This is a common scenario on Windows and I dare to say it coverse the vast majority of users.

[2018-02-24 15:35] NicolaOrritos commented on #207
@tcoulter Nevermind, I found your additions to docs:
http://truffleframework.com/docs/advanced/configuration#resolving-naming-conflicts-on-windows

Changing the name of truffle.js is only an improvement in my opinion, not an issue anymore.

BTW. Truffle is great!

[2018-02-24 17:13] JohnAllen commented on #721
@marshaln Downgrade to 1.7.3

[2018-02-24 17:47] cgewecke commented on #796
@violalbi91 Can you verify that EternalStorage exists at the time this contract is deployed? One difference between your implementation and Colony's is that they're [instantiating the storage contract in the constructor](https://gist.github.com/elenadimitrova/7c14df8eee1ed56aa554020874a010bb#file-simple-organisation-constructor). What does your `migrations.sol` look like?

[2018-02-24 19:25] ahester57 commented on #721
@marshaln The fix for this is not to downgrade. The fix is to be mining on
the node you're migrating to. I had some backlash after I suggested this
earlier since it's a separate issue, but it is the only way I am able to
migrate contracts successfully to geth. Some people may not know you have
to be mining, and if this isn't true, then please provide some evidence
that we are able to deploy a cont

[2018-02-24 19:32] JohnAllen commented on #721
@ahester57 If you're mining on Ropsten with a CPU it might take a while to migrate/mine a tx, right?  Probably more than the timeout?  Mining also used to not be necessary and is wasteful on testnets.  So having to mine on a testnet instead of just connecting to a node to submit a tx or contracts seems to be a step backwards.

[2018-02-24 19:40] ahester57 commented on #721
@JohnAllen Downgrading is two steps backward, in my opinion.

[2018-02-25 00:08] JohnAllen commented on #721
I'm sure they'll fix this, but not having to mine and run CPUs up (even with `minerthreads 1`) would be better.  Wondering why they made this change!

[2018-02-25 02:27] ericwooley commented on #721
You can't mine on rinkeby, which is a testnet I use often for simplicity. Ropsten is better, but it's more annoying also. I like to start with rinkeby.

[2018-02-25 09:16] freshonline opened #817 "The contract code couldn't be stored, please check your gas amount"
I compile this exemple:
http://truffleframework.com/tutorials/robust-smart-contracts-with-openzeppelin
[code]
[code]
truffle.js:
[code]
genesis.json:
[code]

    Operating System: Ubuntu 16.04.3 LTS
    Truffle v4.0.6 (core: 4.0.6)
    Solidity v0.4.19 (solc-js)
    Ethereum client: go-ethereum-1.7.3
    node version: v9.4.0
    npm version: 5.6.0

[2018-02-25 15:53] lerer00 commented on #721
@ahester57 There's a fix for this at truffle-contract 99 that should be released next Monday.

[2018-02-25 17:43] #790 closed

[2018-02-25 18:06] cgewecke commented on #817
@freshonline The the chainID in the genesis should be the same as the network ID. There's a short guide to setting up the geth client for Ropsten [here](https://medium.com/@crissimrobert/a-guide-to-ropsten-testnet-setup-f8952d615417) you might find helpful. Otherwise it looks like you're close! Good work.

[2018-02-25 18:32] quantumproducer opened #818 "Contract transaction not found after 50 blocks on Kovan"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

I checked the block explorer and my local parity, mine was synced. Just a few minutes before I was making deployments. Then I tried again and got this:

Contract transaction not found after 50 blocks on Kovan network.

[code]

[2018-02-25 19:18] cgewecke commented on #818
@quantumproducer Could you see if this issue is a duplicate of #677? There's some discussion of workarounds in that thread [here](https://github.com/trufflesuite/truffle/issues/677#issuecomment-361679479).

[2018-02-25 19:21] #818 closed

[2018-02-25 19:27] quantumproducer commented on #677
I deployed to kovan about 5 days ago. Today I resynced my network - compared to the Kovan Blockexplorer and it showed I was synced.

I had no problem deploying with parity using
`alias parity="~/parity/target/release/parity --chain=kovan"`

`parity version Parity/v1.10.0-unstable-bc8216a82-20180128/x86_64-macos/rustc1.23.0`

I'm on

[code]

[code]

I just upgraded to `4.0.6` truffle and tried runn

[2018-02-26 05:29] #780 closed

[2018-02-26 05:34] cgewecke commented on #780
Sorry for closing this - preparing for a release tomorrow and modifications to the issues template will be included.

[2018-02-26 06:01] cheshtaseedcloud commented on #677
Hi @quantumproducer,

try to run command for migration
--> truffle migrate --network=kovan reset

[2018-02-26 07:00] GodwinAdam commented on #448
Have the same problem :

Truffle v4.0.6 (core: 4.0.6)
Solidity v0.4.19 (solc-js)

mac os 10.12.3

please provide some solution

[2018-02-26 07:25] roderik commented on #494
Indeed, same issue for me. I like to use `event Debug(bool, bool, bool)` for example to debug values in my smart contracts. `event Debug(bool a, bool b, bool c)` works like a charm

[2018-02-26 07:48] lazaridiscom opened #819 "void"

[2018-02-26 08:18] lazaridiscom commented on #472
@owocki , totally excited when gitcoins fulfillment rate goes up!!!

[2018-02-26 10:30] freshonline commented on #817
OK, Thank you.
truffle.js:
[code]
Have same result:
[code]

[2018-02-26 10:45] violalbi91 commented on #796
@cgewecke you are right the contract is not instantiated. I am referring to <a href="https://gist.github.com/elenadimitrova/609418919159bdf80ece48b65a44ad8e"> this contract from Colony</a> where the EternalStorage address is passed through the constructor. If I use `externalStorage = new EternalStorage() ` the error goes away but the externalStorage has a different address from the one I deployed

[2018-02-26 11:02] violalbi91 commented on #796
My 2_deploy_contracts.js is :
[code]

[2018-02-26 15:12] fdouglis commented on #812
@cgewecke How about that ... The whole reason I had it in its own contract was that I wanted to include Debuggable, but in the test directory, I muffed the syntax to include it.  I could have sworn I tried the simple import "./XXX" you suggested, and failed.  But it worked here, anyway, and it did run the tests in the correct order.  Thanks.

[2018-02-26 15:26] cgewecke commented on #796
@violalbi91 The migrations look good - I think you just have to get the contract instance at the address you're passing into your constructor. Does this work?

[code]

[2018-02-26 15:40] cgewecke commented on #817
@freshonline Could you try removing the **`--testnet`**  option on your Geth command? This was mentioned when they responded to your question at `go-ethereum`. That option asks Geth to connect to  **Ropsten** which has  **ChainID 3**. You seem to want to run a private network but are trying to connect to the public testnet.

If you want to connect to Ropsten, AKA `--testnet`, remove all references

[2018-02-26 17:58] cgewecke commented on #796
@violalbi91 Oh yes, good catch about `using SecurityLibrary.`At this point I would try some different things with the migrations. Should this be double arrayed?
[code]
What about `tokenLedger`? Where is that coming from and why is it there?

I'm really sorry, I'm kind of out ideas. If you put everything into a git repo I can clone, I'd happily help debug later today :).

[2018-02-26 21:45] cgewecke commented on #786
4.0.7 contains a patch for this. If a folder has contents, truffle will no longer unbox into it. Thanks for reporting!

[2018-02-26 21:45] #786 closed

[2018-02-26 22:32] cgewecke commented on #721
4.0.7 is out and there's a confirmed success deploying with Geth 1.8 to Rinkeby from Gitter. There's also a confirmed 'having problems' on Ropsten. Feel free to report any developments here or on Gitter. We're also releasing tomorrow so if the current fix doesn't work, we'll have a chance to update it and try again shortly.

[2018-02-27 00:48] cgewecke commented on #809
This is fixed on 4.0.7 - thanks @dmihal!

[2018-02-27 00:48] #809 closed

[2018-02-27 00:50] owocki commented on #472
sorry for the slow response @gnidan -- ETHDenver ate my inbox.  paying out now ( https://etherscan.io/tx/0xd7d9d4931627d9cfdb49eeacd97a117cb8bd3b7f672ddbbcf8d81995452a2c62 )

[2018-02-27 00:53] cgewecke commented on #805
@wbt I'm going to close this for housekeeping. There's merit on both sides here but in the end I think Solidity intends to provide the error info. The simplest solution is to a) tell them this is happening (they already know) and b) if possible help them fix it.

[2018-02-27 00:53] #805 closed

[2018-02-27 00:56] cgewecke commented on #385
@travs This is available on 4.0.7 :) Thanks so much for suggesting it, hope you're well.

[2018-02-27 00:56] #385 closed

[2018-02-27 00:58] cgewecke commented on #359
@maraoz I hesitate to leave a closing comment here since it's been ~55 weeks since you opened this, but this is now available on 4.0.7. Thanks for suggesting, a great idea as always :) Best.

[2018-02-27 01:05] cgewecke commented on #580
Hi @elenadimitrova Apologies for closing this early, it looks like we accidentally used the word 'fixed' in a merge commit. @gnidan is optimistic that a recent PR has resolved this - it should be available on 4.0.7. Please re-open if it keeps happening and thanks for reporting!

[2018-02-27 01:06] cgewecke commented on #721
@hickscorp Closing because we think this is fixed in `4.0.7`. Thanks again, and please re-open if there's a problem.

[2018-02-27 01:06] #721 closed

[2018-02-27 02:30] aleybovich opened #820 "Looks like function overrides are not supported by test framework"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

If a contract has an override function, unit tests for that function break.

## Steps to Reproduce

Simplest example I could create to reproduce the issue

Contract:
[code]

Unit test:

[code]

Run `truffle migrate` and then `truffle test`.

## Exp

[2018-02-27 02:39] cgewecke commented on #820
@aleybovich Yes that's true. `truffle-contract` doesn't support this although it's been implemented in [truffle-contract 95](https://github.com/trufflesuite/truffle-contract/pull/95) where an upgrade to `web3 1.0` is happening. Do you mind if I close this as a duplicate of #737?

I believe you should be able to access `web3's` own syntax for function overloading through the `.contract` property on

[2018-02-27 02:50] aleybovich commented on #820
Thank you for replying! Looks like it was you who submitted that pull request - any ideas when it's going to be released?

[2018-02-27 02:54] cgewecke commented on #820
@aleybovich No. It breaks a lot of stuff for people so it will wait for a major release. There are still some things that have to be done there too . . . small bugs and some features. But we might start continuously deploying patch fixes and experimental branches here soon so it could be available as an `alpha` soon-ish.

[2018-02-27 03:05] aleybovich commented on #820
Ok, I'll keep an eye. You can close it as a duplicate. Thank you!

[2018-02-27 03:05] #820 closed

[2018-02-27 03:20] cgewecke commented on #817
@freshonline I'm going to close this because we're going around a circles a little. . . .for the next issue you open could please look through the various suggestions you've been given and try make sure everything's in order. Thanks so much and good luck 😄.

[2018-02-27 03:20] #817 closed

[2018-02-27 03:54] jacktang commented on #664
I have the same issue about it https://github.com/truffle-box/react-box/issues/49

[2018-02-27 05:11] #359 closed

[2018-02-27 05:37] benjamincburns commented on #686
@deviant32, @nocow4bob, and if @atelomycterus also lost funds to this problem, you as well...

By any chance would each of you be willing to sit down and chat with me about how you lost your ETH? I want to make sure that we understand in depth what happened. There are certainly some obvious things we can be doing to improve, and we're working on those now, but I want to make sure that we're not mi

[2018-02-27 07:40] violalbi91 commented on #796
@cgewecke  I was making a new project from scratch to put it in a repository and I found out where the error was. The problem was not really related to the constructor but ExternalStorage had an inheritance with an Ownable.sol which one had a modifier that is used to accept call just if the msg.sender is the owner, and in the constructor the owner of ExternalStorage wasn't the Organisation Contrac

[2018-02-27 13:32] boorac commented on #773
@inzig did you resolve this? I'm facing the same issue.
@cgewecke I can provide the metadata if this still is not resolved.

[2018-02-27 14:28] lazaridiscom commented on #819
Far in the future:

* truffle issue => gets the bugdata, and files an issue
* truffle question => gets the bugdata and  opens stack-overflow (or other medium where teams answers)
* truffle feature => opens feauture request

those features are worth bounties, as the implementation will reduce trouble for truffle team.

( i will not claim, this stuff is not my strength: its too easy, i get bored, an

[2018-02-27 14:29] lazaridiscom commented on #819
(it quite important to find good names for the overall 4 commands. Possibly subcommand, kind of `truffle support <subcommand>`, issue, feature, question, versions

[2018-02-27 15:11] W-B-S opened #821 "Running Mist and truffle develop: got 400 Bad Request"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

400 Bad Request

## Steps to Reproduce

 Run Truffle Develop by typing the following into a terminal:

truffle develop
This will run the client on http://127.0.0.1:9545.

## Expected Behavior

show the blockchain data

## Actual Results

400 Bad Re

[2018-02-27 16:08] aleybovich opened #822 "Debugging unit tests"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Debugging JS unit tests

## Steps to Reproduce

Do you know if there is a way to debug JS unit tests for smart contracts? I use VS Code for development, and when I try to run a Mocha debugger it complains that `artifacts` is not defined. I briefly

[2018-02-27 16:21] lazaridiscom commented on #822
Your lucky day (had to solve this few days ago):

See that you have `truffle-core` locally in your project. if not, do:

`npm install truffle-core`

Then use this configuration similar to this: ( Debug -> Open Configurations )

[code]

Or add a new one (simple "node"  launch, the edit it)

Unless your code does not spawn another node process (brings trouble which are essentially an node.js bug), y

[2018-02-27 16:26] aleybovich commented on #820
@cgewecke I have tried using `.contract` as you have suggested above, and seems like it has the same issue.

`await instance.contract.increaseApproval.sendTransaction(ownerAddress, 47, { from: user1Address });`

causes `Error: Invalid number of arguments to Solidity function`

That makes sense as it's using the same version of web3 as truffle. Sounds like there is no good workaround, and sound lik

[2018-02-27 16:34] aleybovich commented on #822
@lazaridiscom You are my hero - this is gonna save me hours of pulling my hair! I am going to post this question on ethereum.stackexchange.com and if you are on there you can post this answer and get points, or if you don't use it I will post the answer, so the community can use it. I know several people who were looking for this as well.

[2018-02-27 16:37] lazaridiscom commented on #822
Actually i wanted to ask myself some questions, so... possibly I should get some reputation there... go on, i see to it to reply.

[2018-02-27 16:37] dingymm commented on #448
npm uninstall -g truffle
npm install -g truffle@3.4.5
mkdir truffle-webpack
cd truffle-webpack
truffle init webpack
truffle compile
npm run dev

ubuntu is worked~

[2018-02-27 16:38] aleybovich commented on #822
@lazaridiscom sure, go ahead and answer this: https://ethereum.stackexchange.com/questions/41094/debugging-js-unit-tests-with-truffle-framework-in-vs-code

[2018-02-27 16:38] aleybovich commented on #822
Issue resolved, thanks to @lazaridiscom

[2018-02-27 16:38] #822 closed

[2018-02-27 16:41] cgewecke commented on #820
@aleybovich The key part of their syntax is the way you specify *which* function signature you want to use using array notation:
[code]

I'm looking for an example somewhere because I'm not sure exactly what a call that works looks like in web3 0.x.x . . .

[2018-02-27 16:53] cgewecke commented on #773
@boorac Yes if you have a way to reproduce please do! Happy to take a look.

[2018-02-27 16:56] cgewecke commented on #796
Ahhh! That makes sense. Thanks for showing your solution too - I searched a little yesterday and couldn't find any other examples of someone doing what you're trying to do so this very useful. Much appreciated.

[2018-02-27 17:04] boorac commented on #773
Actually, I think I managed to figure this out! There was a bug in geth v1.8.1 and truffle 4.0.6 - the issue was fixed in truffle 4.0.7 yesterday and I'm now able to deploy to privatenet.

[2018-02-27 17:19] ellaty commented on #704
I have the same problem ,
my truffle.js looks like this
module.exports = {
  networks: {
    development: {
      host: "localhost",
      port: 8545,
      network_id: "*", // Match any network id
      gas: 4500000
    }
  }
};

[2018-02-27 18:15] hickscorp commented on #729
I have this issue around 10% of my builds, with 128 tests active, randomly.
The tests are running on the default dummy node (Ganache?), with the latest version of Truffle.

[2018-02-27 18:49] vamshirapolu commented on #48
I had a problem with `truffle init`. I end up having an error
[code]
I have tried uninstalling and installing truffle as @tcoulter mentioned, but now luck.

[2018-02-27 20:22] cgewecke commented on #48
@vamshirapolu There's more about this problem over at #766.  At the moment `init` requires a working internet connection that can connect to github over `https`. If you're behind a proxy, you might see additional errors although there some work arounds suggested in that thread.

Ultimately we should remove any network connectivity requirements for `truffle init`. Opening an issue to that effect ri

[2018-02-27 20:26] cgewecke commented on #815
@fredfortier Truffle just published a huge debugger release a few minutes ago. Do you have any interest in trying it out and reporting back on whether this error is still happening?

[2018-02-27 20:34] vamshirapolu commented on #48
Thanks @cgewecke for the quick reply. As suggested, I did a git clone of [truffle-init-default](https://github.com/trufflesuite/truffle-init-default), now its working fine.

[2018-02-27 22:07] cgewecke commented on #821
@W-B-S I just got the latest Mist client, fired up `truffle develop`, then ran (I'm on a Mac) in a separate terminal window.
[code]

Works. Is there any other info you could provide to help reproduce this error?

[2018-02-28 02:37] DcoOo opened #824 "Truffle Console not work"
## Issue

I have migrate  my contract to EtherumJS TestRPC,

[code]
My TestRPC has listen the request:
[code]

But when I execute `truffle console` and get the following log:
[code]

## Expected Behavior

I  want to contact with my contracts
Thanks
## Environment

* Operating System: Ubuntu 17.04
* Ethereum client: EtherumJS TestRPC
* Truffle version (`truffle version`):V4.0.7
* node version (`nod

[2018-02-28 03:58] freshonline opened #825 "The contract code couldn't be stored, please check your gas amount."
New issue :)
This exemple:
http://truffleframework.com/tutorials/robust-smart-contracts-with-openzeppelin
No --testnet flag.
[code]
cat genesis.json
[code]
cat truffle.js
[code]
result:
[code]
Whi?
Operating System: Ubuntu 16.04.3 LTS
Truffle v4.0.6 (core: 4.0.6)
Solidity v0.4.19 (solc-js)
Ethereum client: go-ethereum-1.7.3
node version: v9.4.0
npm version: 5.6.0

[2018-02-28 04:32] DcoOo commented on #824
I have solved this issue. I need to use `truffle console --network testrpc` rather than `truffle console`

[2018-02-28 04:32] #824 closed

[2018-02-28 09:11] lazaridiscom commented on #810
Full specified solution (provided at: https://github.com/trufflesuite/truffle/issues/822#issuecomment-368935479)

See that you have `truffle-core` locally in your project. if not, do:

`npm install truffle-core`

Then use this configuration similar to this: ( Debug -> Open Configurations )

[code]

Or add a new one (simple "node"  launch, the edit it)

Unless your code does not spawn another node

[2018-02-28 10:03] cgewecke commented on #825
@freshonline Ok everything looks good as far as I can see. Could you try changing the gas amount in your `truffle.js` to 2000000 as below?
[code]

[2018-02-28 11:10] boorac commented on #655
@nickjm I can confirm your workaround works, I will open an issue regarding the bug.

[2018-02-28 11:20] boorac opened #826 "Debugger crashes when entering separate file in debug mode"
- [* ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

`truffle debug <txn>` enters the debugger however it crashes when entering a new file.

## Steps to Reproduce

Try debugging a transaction in which the debugger has to step through multiple files.

## Expected Behavior

Debugger should continue no

[2018-02-28 11:20] lazaridiscom commented on #807
(I just now realized that ethpm-js is under truffles control, which is of course a good thing)

[2018-02-28 17:35] fdouglis commented on #825
This error message has been a royal pain in my side since I started with truffle a few weeks ago.  I've tried increasing the gas to the max, but it only puts off the problem.  I've found for instance that a test contract that by rights should be one file has morphed into 6, each following slightly different paths.  Even then, I hit a case where nothing I could do could get me to get a single test

[2018-02-28 17:46] cgewecke commented on #825
@fdouglis You might find this [gas-reporter](https://www.npmjs.com/package/eth-gas-reporter) helpful. If you write little tests that simulate the deployment sequence, it will print a chart at the end of the run which shows how much each deployment actually cost.

Tests like:
[code]

[2018-02-28 17:47] boorac commented on #826
@cgewecke AFXCrowdsale does not inherit from AFXToken or vice versa. I'm able to debug inherited code when using a conglomerate file. I'm not sure if it has to do with inheritance but it definitely has to do with separate files.

[2018-02-28 17:52] cgewecke commented on #826
@boorac Thanks yes, clearly. Thanks for the work-around too, nice.

[2018-02-28 18:03] boorac commented on #826
Happy to contribute :)

[2018-02-28 18:06] adityanawandar commented on #498
I am facing the exact same issue as @aieeeeeeeee . Is there a solution yet?

[2018-02-28 18:29] fdouglis commented on #825
Thanks @cgewecke that could be useful.  So far all my tests have been in Sol rather than js, but at some point I may move that way.  In any case, my issue has been with test/TestXYZ.sol not deploying, whereas I *think* you are referring here to the gas incurred by pieces of the contract under test?

[2018-02-28 18:30] fdouglis commented on #825
PS As an aside, I'm not sure I understand the benefit of gitter, or at least the way I see it often used.  I threaded discussion on a specific topic, where you can subscribe to notifications on that thread, sure beats the free-for-all flat discussion space of gitter. Yet the template for posting here asks, have you tried to get help on gitter first?

I realize I digress here :)

[2018-02-28 19:56] cgewecke commented on #825
@fdouglis Apologies I didn't quite grasp your use case when I commented. The original poster is trying to deploy Token contracts to the testnet where the limit is fixed by design. You're trying to run unit tests in solidity. If you're using `ganache` the client blockLimit can be increased arbitrarily by running it in a separate terminal as follows:
[code]

and then setting your `gas` in Truffle.js

[2018-02-28 20:34] eduardonunesp commented on #826
In my case the issue happens when I tried to call a function in a token, for instance that test token inherits from `StandardToken` from `OpenZeppelin`, then I called the `transfer` on `truffle console`. After that I executed `truffle debug <transaction hash>`. The debugger worked, but when try to jump in the `transfer` function the same error described above happen.

[2018-02-28 20:39] fdouglis commented on #825
I have tried the equivalent of what you have said, I thought.   In ganache, the GUI, I have the gas limit set to "80000000000" (I note the GUI interface doesn't allow hex numbers, and in truffle.js, the ganache network set to "800000000".  (10x less).  Nevertheless, I ran into out of gas messages.  I tried your approach, converting your hex value to decimal and setting that as the gas limit, then

[2018-02-28 21:54] fdouglis commented on #825
I ran with a newly installed ganache-cli, with the same options, and with the same bad result.  I have been specifying an explicit network all along, be it ganache (GUI), or now ganachecli.

[2018-02-28 22:01] fdouglis commented on #825
In addition, FYI, I have just checked whether it could be a change from moving to the more recent truffle.  But I get the same error with the version I installed a month or so ago, as the one I built and slightly modified this week.  (The modifications are to output events unconditionally; I didn't expect my changes to break deployment, but it was possible some other recent change caused it.  Appa

[2018-03-01 02:06] Robinyo commented on #655
I can also confirm @nickjm 's workaround works.

[2018-03-01 08:36] freshonline commented on #825
Yes, "gas: 2000000" the solution. Thank you.
[code]

[2018-03-01 10:40] shapeshed commented on #582
See https://ethereum.stackexchange.com/questions/26688/truffle-work-over-https
Successfully ran migrations over https using this method.

[2018-03-01 10:47] nosuchip commented on #582
@shapeshed I know, it is my own solution.

[2018-03-01 10:47] #582 closed

[2018-03-01 11:02] freshonline commented on #825
But I do not see any new transactions in my mist wallet :(

[2018-03-01 11:10] shapeshed commented on #582
Yeah, more for people finding this issue by Google.

[2018-03-01 11:11] drekembe opened #827 "Feature request: ability to tell truffle compile the location of the files to be compiled"
I've asked about this on gitter and @gnidan suggested I open an issue.

As it is now, `truffle compile` compiles all the `.sol` files in the `contracts` directory. It would be great if we were able to give truffle the paths to the files we want compiled, or if there was an option to get the files from the standard input. So just something like

`truffle compile path/to/MyContract1.sol path/to/MyCo

[2018-03-01 11:43] MeHighP commented on #660
How does your migration file look like?

[2018-03-01 14:39] launchico opened #828 "Error: CONNECTION ERROR: Couldn't connect to node http://127.0.0.1:8545."
---------------------------

## Issue

ganache-cli is up and running, web3 is able to connect to it, but truffle can't deploy, saying that it is not able to connect to it. Also, stack trace is not working, here's what appeared in the console in the place where the stack trace should've be appeared: '_`^  this.stack = (new Error(message)).stack;`_'

## Steps to Reproduce

1. ganache-cli -u 0 --gasL

[2018-03-01 15:39] #828 closed

[2018-03-01 15:39] cgewecke commented on #825
@freshonline It's possible you weren't connected to enough peers to have the transactions picked up by the network. Your node accepted the txs, but I can't find them in the Etherscan Ropsten explorer.

[This stackexchange discussion](https://ethereum.stackexchange.com/questions/15400/transaction-logged-at-geth-node-but-unable-to-locate-transaction-entry-on-ropst) might be helpful.

Congratulations

[2018-03-01 15:39] #825 closed

[2018-03-01 15:40] launchico commented on #828
That was a strange bug that disappeared by itself :p

[2018-03-01 15:40] cgewecke commented on #821
@W-B-S Closing for housekeeping but please re-open if you continue to see this error and can identify a way of reproducing it.

[2018-03-01 15:40] #821 closed

[2018-03-01 15:45] fdouglis commented on #825
While the original post was resolved by increasing gas, I have to note that I raised a similar problem, specific to truffle (it's the test contract that won't deploy), which is not resolved by increasing gas.  It's hard to believe the contract is so huge that no amount of gas will address it.  After all, it's *deploying* that is failing, not running!  Should I open a different case for it?

[2018-03-01 16:19] TedtheDev commented on #751
I saw some pull requests that I think resolve this issue.

These are the two that I found:
1. https://github.com/trufflesuite/truffle/pull/776
2. https://github.com/trufflesuite/truffle/pull/813

I don't know how to link PR's but I think that would be helpful for someone that is looking to work on this issue or an update. Is this correct?

[2018-03-01 16:24] davidperrenoud commented on #611
I've got the same problem. The steps `Saving successful migration to network...` are not done if one uses the syntax `artifacts.require("Migrations")`.

[2018-03-01 18:11] cgewecke commented on #825
@fdouglis Yes definitely. If you're able to link to a public repo where the bug can be easily reproduced (and suggest reproduction steps) that would be immensely helpful. Additionally, if you could note in the issue title that the context for the bug is Solidity testing, that would also be nice. A lot of people run into this doing conventional migrations, but the testing context is slightly differ

[2018-03-01 18:13] fdouglis commented on #825
I will do so, but I can't link to the code, as it's not public.  Thanks.

[2018-03-01 18:14] cgewecke commented on #751
@TedtheDev Thanks! I think we'll pull in #813 today and schedule it for the next patch release - There was some discussion there last week about how it should be worded and we were waiting for the opener to respond. But this is important so . . .

[2018-03-01 18:27] fdouglis opened #829 "Solidity test can't be deployed: exceeds gas amount"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

"Large" solidity tests fail during the truffle test operation, with the message

This is similar to https://github.com/trufflesuite/truffle/issues/825 and I mentioned this there, but there are some differences.  In particular, this is happening dur

[2018-03-01 19:14] TedtheDev commented on #751
@cgewecke Awesome! Saw that one had more discussion.

[2018-03-01 19:53] diop commented on #655
I updated my version of Truffle to 4.1.0 and it solved the problem.

[2018-03-02 00:38] quantumproducer commented on #660
truffle deploy --network live is failing for me with:

[code]

[2018-03-02 07:48] MeHighP commented on #660
Ok, but what about the file that deploys the actual contracts? (e.g. 2_deploy_contracts.js) I got the error "The contract code couldn't be stored, please check your gas amount" when this file was not correct.

[2018-03-02 14:59] microdesign commented on #667
Same here on:

Truffle v4.1.0 (core: 4.1.0)
Solidity v0.4.19 (solc-js)

[2018-03-02 16:53] microdesign opened #830 "Error encountered, bailing. Network state unknown. Review successful transactions manually."
---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Migrate my contracts

I got error in Ganache, truffle develop and tesrpc when I try to migrate my contracts

## Actual Results

`Running migration: 2_HashnodeCrowdsale.js
  Deploying HashnodeCrowdsale...
  ... 0x83204ac86474f0e

[2018-03-02 17:46] cgewecke commented on #830
@microdesign The core of this error is:
[code]

To understand what is happening here I suggest writing Javascript tests that verify your contract can be deployed via a simple `.new`, e.g:
[code]

Going to close this because the possible causes of this error when deploying a Crowdsale contract are numerous and it's not clear this issue is `migrations` specific. Additionally there are no clear repro

[2018-03-02 17:46] #830 closed

[2018-03-02 21:17] microdesign commented on #830
Sorry I sent the wrong error, here is the right one;

`Deploying LeonardianCrowdsale...
  ... 0xc67431d63e92686ae31c585d9667d2fc22512c3818ec99b7245a0a8d2f839363
Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: The contract code couldn't be stored, please check your gas amount.`

[2018-03-02 21:18] microdesign commented on #830
Also the problem is not with the gas - the migration was working before I just update my truffle installation and this happen

[2018-03-02 21:39] cgewecke commented on #830
@microdesign I would check out #660 since you are deploying a Crowdsale (that thread discusses non-ganache clients but worth knowing about) Crowdsales are large contracts that tend to be towards the default block limits. For testing purposes I would define a testing network in `truffle.js` with a  highish `gas` value and run `ganache-cli` in a separate terminal with the flag `--gasLimit 8000000` (

[2018-03-02 22:07] microdesign commented on #830
I use Ganache app and set the gas there the result is same.

As I already told you all the contract was working and migrating successfully before I update my truffle
npm package today.

So definitely the problem is not in solidity, it is in the migration process

[2018-03-02 22:14] cgewecke commented on #830
@microdesign Ok, we need steps to reproduce. That's a precondition for re-opening this, I'm sorry.

[2018-03-02 22:35] microdesign commented on #830
what steps did you need?

I found on the net today this is known bug and it is fixed in my version but I continue has this error

[2018-03-02 22:39] cgewecke commented on #830
@microdesign How about links to a public open-source repo with your code that we can clone, install and run `truffle migrate` against. If that's not possible produce a minimal case in the same format (GH truffle project) that results in the same error. If you choose the latter make sure everything distinctive about your real project is reflected in the minimal case.

[2018-03-02 22:46] cgewecke commented on #751
Fixed with #813 thanks to @robinboening.

[2018-03-02 22:46] #751 closed

[2018-03-03 01:30] VanThanh1812 opened #831 "Errror: Something already exists at the destination. Please unbox in an empty folder. Stopping to prevent overwriting data."
Hi I have problem when run truffle init.
Error: Something already exists at the destination. Please unbox in an empty folder. Stopping to prevent overwriting data.
    at /usr/local/lib/node_modules/truffle/build/webpack:/~/truffle-box/lib/utils/unbox.js:22:1
    at process._tickCallback (internal/process/next_tick.js:109:7)
    at Module.runMain (module.js:607:11)
    at run (bootstrap_node.js:42

[2018-03-03 03:24] cgewecke commented on #831
@VanThanh1812 Could you run `ls -A` at your console prompt and see if the directory your unboxing in has any contents? If so the unbox command won't work because it doesn't want to risk overwriting anything. You should be able to create a new directory, navigate to it and then unbox. For example
[code]

If this doesn't work please report back.

[2018-03-03 03:32] VanThanh1812 commented on #831
Oh, thank you, that's work, I did follow tut in medium then run npm init first. I think that is the cause of my problem :))

[2018-03-03 06:56] cgewecke commented on #798
@JohnAllen Small update: automated fueling of deployments and method calls have been added to [truffle-contract 95](https://github.com/trufflesuite/truffle-contract/pull/95). Believe this should accomplish what you're aiming for here. Unfortunately it won't be available until the release that upgrades to `web3 1.0` comes out.

Thanks for pushing for this.

[2018-03-03 08:04] medvedev1088 commented on #456
@nickjuntilla

No it doesn't

Do you know if changing comments will change the hash of the source code file -> it will change the metadata file http://solidity.readthedocs.io/en/develop/metadata.html -> it will change metadata file hash -> it will change the swarm hash appended to the bytecode by Solidity compiler.

Will the contract still verify after that?

[2018-03-03 09:30] mtbitcoin commented on #456
The changed swarm hash should not affect the contract source code verification on our end in (most cases)

[2018-03-03 10:19] microdesign commented on #830
OK I updated the OpenZeppeling to the latest version I think the migrate is successfully now, but I continue see this error which I think it is coming from truffle code and nodejs version

`(node:79626) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: The contract code couldn't be stored, please check your gas amount.
(node:79626) [DEP0018] DeprecationWarning

[2018-03-03 10:23] microdesign commented on #830
My Gas limit in ganache is set it up as you told me to make it.

[2018-03-03 10:24] microdesign commented on #830
Also here is my code you can see I only extend zeppelin contracts:

`
pragma solidity ^0.4.18;

import './LeonardianToken.sol';
import 'zeppelin-solidity/contracts/crowdsale/validation/TimedCrowdsale.sol';
import 'zeppelin-solidity/contracts/ownership/Ownable.sol';

contract LeonardianCrowdsale is TimedCrowdsale, Ownable {
	// ==============================
	// Constructor
	// ============
	functi

[2018-03-03 11:44] sh4ka commented on #545
Hello @Janaka-Steph is it possible that it might be because the accounts reside in the network and not in the contract? If you want to achieve the desired behavior you should start with a clean fresh network every time you run the tests.

[2018-03-03 11:47] sh4ka commented on #829
Same for me. Some tests fail to run the first time, but they pass the next time I run the test, without changing anything. I´m using Ganache as the network:

`Error: The contract code couldn't be stored, please check your gas amount.
      at Object.callback (/mnt/c/Users/shaka/AppData/Roaming/npm/node_modules/truffle/build/webpack:/~/web3/lib/web3/contract.js:147:1)
      at /mnt/c/Users/shaka/Ap

[2018-03-03 13:50] JLansey commented on #606
This worked for me! Thank you.

[2018-03-03 16:47] alexmedkex commented on #815
The error is still happening for me, after upgrading. I'm getting No source code found, while attempting to debug a transaction that was done in my js test. The transaction likely failed due to a require() or revert.

[2018-03-03 17:14] cgewecke commented on #830
@microdesign
Is this correct? Your crowdsale doesn't deploy the token itself?
[code]

Additionally it's necessary to return all promises to the`deployer` so . . .
[code]

It seems possible that your issues are with your crowdsale code rather than Truffle, although I agree the error messages you're seeing aren't very helpful. Truffle reports back whatever it gets from the Ethereum client and someti

[2018-03-03 19:07] Mukhtar-P152 commented on #756
I am experiencing  the same issue but I am  using ubuntu 16.04 instead of windows. Could you specify what you mean by you deleted and recreated the project? Do you mean the whole dApp? or just on VS COde?

[2018-03-04 12:01] adamskrodzki commented on #476
Have same error In My case It was a bad constructor
[code]

while it should be
[code]

[2018-03-04 14:52] snario commented on #555
As proxy contract schemes like what Gnosis does [here](https://github.com/gnosis/gnosis-safe-contracts/tree/master/contracts) become more common, this will be quite helpful.

[2018-03-04 21:08] ddcech commented on #748
BTW this problem comes back in Truffle version 4.1.0. I just downgraded to 4.0.7 and it works as expected.
Node version: v9.6.1

[2018-03-04 21:16] ddcech commented on #748
I had the same issue. Running `npm uninstall truffle` then `npm install -g truffle` fixed it for me.
Node version: 9.6.1
NPM version: 5.7.1

[2018-03-05 15:07] andy-mcewan-aventus-io commented on #595
I have the same problem. Matching chainid and network id doesn't work for me.

[2018-03-05 16:56] Mukhtar-P152 commented on #756
I deleted the "project" the whole dapp and re-cloned the repository to where I left of. When I re-ran the test it seemed to have imported the missing solc files. I think its a weird thing that effects VS Code.

[2018-03-05 17:54] cgewecke commented on #721
Small update: This is fixed at Geth as well as of 1.8.2 (released this morning). Geth no longer errors with 'unknown transaction'.

[2018-03-05 18:08] cgewecke commented on #830
Leaving an additional reference here for anyone else running into problems with a similar contract structure: [nice discussion at Zeppelin](https://github.com/OpenZeppelin/zeppelin-solidity/issues/358#issuecomment-358730849) about the mechanics and benefits of deploying the token and crowdsale separately.

[2018-03-05 18:37] ahester57 commented on #721
Confirmed working with geth 1.8.1 on a non-mining node as well. No more
throwing 'network unknown.'

On Mar 5, 2018 11:54, "c-g-e-w-e-k-e-&gt;" <notifications@github.com> wrote:

[2018-03-05 21:36] microdesign commented on #830
Thanks for the help - I found the Ganache was old version today I update with the latest avaible but I think the debug is even worse one.

Also, truffle debug hash give me JS errors from the truffle package.

I`ll ask OpenZepellin for the problem, thanks.

[2018-03-05 22:43] microdesign commented on #830
Also, the last version of Ganache have different behavior on every restart - sometimes work on on the next restart not working.

[2018-03-06 05:19] woniesong92 opened #833 "Debug transaction on mainnet or ropsten with truffle"
Is it possible to debug a tx on ropsten with truffle?
I wanted to do something like this:

[code]

[2018-03-06 06:03] TedtheDev commented on #827
Hi. I am interested in giving this a try if someone hasn't started already. I have been looking at the code and might have an idea where to start. It will take some time, but I am willing to give it a shot.

[2018-03-06 13:19] Muhammad-Altabba commented on #655
In my case, I updated Truffle to 4.1.0 but still have the issue!
Digging into method "`formatRangeLines: function(source, range, contextBefore`"
When "`console.log(range);`" it prints:
    `{ start: undefined, end: undefined }`
Actually, the exception raised when accessing range.start at this block:
[code]

The full stack trace of the error as shown at the Terminal is:

[code]

Any suggestions?
Th

[2018-03-06 13:42] carlosero opened #834 "Sending balance from contract to contract fails with revert"
## Issue

Sending balance from one contract to a second contract's fallback function (`function () external payable`) fails.

I have two contracts, FirstContract and SecondContract, when sending balance to a payable external function in FirstContract it works, but then sending from FirstContract to SecondContract returns error with revert. There is absolutely no require/assert validations at all.

[2018-03-06 14:09] boorac commented on #655
@Muhammad-Altabba are you debugging across multiple files? If so, check out this issue:
https://github.com/trufflesuite/truffle/issues/826

[2018-03-06 14:29] moda20 commented on #524
@ArtoriaRen What the heck ? how does that even make sense. It worked for me that way.

[2018-03-06 15:15] elie222 commented on #635
@sonaye the issue with this is that `mv` can't replace an existing folder, and also that each time truffle will build completely anew wiping any network information the previous ABIs may have

[2018-03-06 15:32] cgewecke commented on #827
@TedtheDev You are welcome to try this and thanks for offering.

Fair warning: any implementation will need unit tests and have to handle some simple error cases. I think we'll need to add fixtures to the main repository's scenario testing to make these tests possible. (That work isn't within in the scope of this issue or PR fwiw). It might a little bit on this end before we could evaluate a PR in

[2018-03-06 17:37] carlosero commented on #834
Closing this myself. This was rather simple. Solution if anyone has the same issue ever:
When transfering from a contract to another using .transfer, and using fallback function, gas by default will be 2300, which will revert any kind of operation that uses more gas than that.

https://consensys.github.io/smart-contract-best-practices/recommendations/#keep-fallback-functions-simple

[2018-03-06 17:37] #834 closed

[2018-03-06 17:44] cgewecke commented on #834
@carlosero Yes exactly. Thanks for producing such a clear example repository - this is a model bug report for what it's worth :) Glad you solved it.

[2018-03-06 17:55] lazaridiscom opened #835 "[DEV] Experiences with Multi-Repo Development (meta)"
https://github.com/trufflesuite/truffle/blob/develop/CONTRIBUTING.md#forks-branches-and-pull-requests

The above describes your development-setup, where you can checkout easily inter-related repositories.

How are your experiences with this? I am mainly interested in the daily production flow, especially when e.g. changes are across multiple repos.

Is it really as easy as its described?

[2018-03-06 18:05] cgewecke commented on #835
@lazaridiscom I found it intimidating at first but it works beautifully. Is also critical for CI on a project organized this way. @gnidan set it up.

[2018-03-06 18:59] lazaridiscom commented on #835
I saw another solution, which checks out the repos into the `node_modules` folder, but this does not work well with multi-repo checking.

`meta` has not much downloads on npm, is this constellation not so much used?

[2018-03-06 21:20] elie222 opened #836 "Error: Could not set `null` as the transaction hash (deploying with `{overwrite: false}` )"
Any ideas why this is happening in Truffle 4.1.0?

[code]

COT inherits from StandardToken and doesn't do much else.

## Environment

* Operating System: OSX
* Ethereum client:
* Truffle version (`truffle version`): Truffle v4.1.0 (core: 4.1.0) Solidity v0.4.19 (solc-js)
* node version (`node --version`): v8.4.0
* npm version (`npm --version`): 5.7.1

[2018-03-06 21:31] elie222 commented on #836
This may well be a bug with Truffle. I got things working by removing: `overwrite: false` from my deploy code.

[2018-03-06 22:52] gnidan commented on #835
`meta`'s creator was/is part of ConsenSys, so I heard of it via his recommendation.

I've been generally quite happy with the process for Truffle's use case. We looked at other tools / methodologies before deciding on `meta` and determined that it was the best option considering the existing code structure and processes. It's been a [perhaps tenuous] team belief that a "poly-repo" setup is worth a

[2018-03-07 00:23] benjamincburns opened #837 "truffle test doesn't check for filesystem errors when enumerating test files"
## Issue

When `truffle test` enumerates test files in `truffle-core/lib/commands/test.js`, it ignores errors returned by the `node-dir` callback. This in turn causes the following error:

[code]

## Steps to Reproduce

1. `cd` to the root of any truffle project with tests
2. Rename `test` to anything else (e.g. `tests-backup`)
3. Run `truffle test`

## Expected Behavior

Truffle would exit with a

[2018-03-07 00:35] benjamincburns opened #838 "When searching for the root project directory, truffle-config ignores truffle-config.js files."
## Issue

When `truffle-config` is initialized without a working directory specified, it seems that it searches for a truffle project root starting at `process.cwd` and checking each parent directory until it hits the root directory. If it finds a file called `truffle.js` in the directory it is searching it uses that as the project root (aka `Config.working_directory`). This path is then used as t

[2018-03-07 03:42] TedtheDev commented on #827
@cgewecke Thank you for your comments. I will look into how you guys are doing unit tests and see if I can cover the appropriate scenarios as best as I can.

[2018-03-07 15:16] lazaridiscom commented on #835
Agree here, and the problems start with git and github, which do not allow the above "by design".

Non-Ideal: git

Non-Ideal: github (introduces problems inherited from git, and adds its own)

As for `meta`: it seems like `it works` (possibly "around the core problems"). And if i would be further developed, it seems that I could be useful for other (= more) projects.

The only thing is: applying a

[2018-03-07 15:19] cgewecke commented on #836
@elie222 Could you link to or show the code that results in this error, including the 'deploy code'? It would also be helpful if you provided steps to reproduce it.

[2018-03-07 16:15] lazaridiscom commented on #835
I could be worth to see "The Opposite Viewpoint", here of a "monorepo" fanatic:

https://www.drmaciver.com/2016/10/why-you-should-use-a-single-repository-for-all-your-companys-projects/

The thing is: especially on github, there are practical limitations, e.g. the commit-messages (how can someone filter them) or the Issues filed (excessive amounts of issues).

I insist: the core-problem here is gi

[2018-03-07 21:10] wbt opened #839 "Modifying a base contract doesn't trigger recompilation of derived contracts."
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Modifying a base contract doesn't trigger recompilation of derived contracts.

## Steps to Reproduce

1. Copy `Alpha.sol` and `Beta.sol` from https://github.com/ethereum/solidity/issues/3675 to a new Truffle project's `contracts` directory.
2. In t

[2018-03-07 21:12] cgewecke commented on #839
@wbt Excellent thank you. Will write a regression test for this and look for a fix.

[2018-03-07 21:15] wbt commented on #839
Whoops, on slightly closer inspection this should be on truffle-compile.  I moved it there. https://github.com/trufflesuite/truffle-compile/issues/47

[2018-03-07 21:15] #839 closed

[2018-03-07 22:19] chevdor commented on #660
I ran into the same issue with truffle 4.1.0 using ganache.
I tried adding `rpc` and `solc` options to `truffle.js` => no improvement.

I downgraded to 4.0.7 => no improvement
I downgraded to 4.0.5 (`npm i -g truffle@4.0.5`) => problem solved.

[2018-03-08 00:44] cgewecke commented on #660
@chevdor Apologies, could you provide any additional context or information - for example your `truffle.js`? Is the project you're working on public?

There was quite a bit added in the 4.0.6 release - if you've managed to isolate that as a source of problems it would be nice to resolve them.

[2018-03-08 01:06] quantumproducer commented on #660
I updated geth & truffle today.

Now I'm getting "Transaction not found after 50 blocks" when trying to deploy to mainnet.

I tried setting my gas higher than anything on http://ethgasstation.info/ , still with no publication of the contract.

truffle.js:

[code]

(I also tried with gasPrice: 1, 2 and 3)

and here's the log from `truffle migrate --network=live --verbose-rpc`

[code]

eth.getBalanc

[2018-03-08 04:34] interfect commented on #450
I can reproduce this (at least in migrations) on Truffle 4.1.3.

I have a project with a dependency on the `macroverse` NPM module. In a migrations script I try to do:

[code]

This does not work.

I can add a `Workaround.sol` to my project's `contracts` folder consisting of:

[code]

If I do that and a `truffle compile`, the dependency's contract is built into `build/contracts/RealMath.json` and

[2018-03-08 06:36] mradkov commented on #660
I have the same problem. And none of the solutions helps.

Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: The contract code couldn't be stored, please check your gas amount.

[2018-03-08 14:03] quantumproducer commented on #660
@mradkov your gas price looks a bit high, `8011682`is cap according to https://ethstats.net/

[2018-03-08 14:05] mradkov commented on #660
@quantumproducer The strange thing is the contract is working just fine when published by web3 or in remix. (Tested on Ropsten).

[2018-03-08 14:07] quantumproducer commented on #660
I'm still getting this issue on mainnet. Btw Mradkov how did you calculate the gas usage exactly for your contract deployment? (Something in truffle?)

[2018-03-08 14:26] quantumproducer commented on #782
Sounds like truffle automatically computed it then? Have you tried deploying to mainnet?

[2018-03-08 15:15] cgewecke commented on #812
@fdouglis Believe this is fixed in `4.1.3`. Please re-open if not. Thanks again.

[2018-03-08 15:15] #812 closed

[2018-03-08 15:28] cgewecke commented on #173
@tgonzales Closing this for house-keeping. Serpent has been [deprecated](https://twitter.com/VitalikButerin/status/886400133667201024). Thanks for opening.

[2018-03-08 15:28] #173 closed

[2018-03-08 15:38] rodiazet commented on #501
I'm trying to use this workaround but it seems that it doesn't have change to work. It's not possible to wrap call with await inside non-async function.  So `() => await someAsyncFunction()` won't work or I'm missing something important?

[2018-03-08 15:54] gnidan commented on #833
This should work out of the box, provided the node you are using supports `debug_traceTransaction`. If you're running geth locally, you'll need to use the `debug` RPC API.

[2018-03-08 15:54] #833 closed

[2018-03-08 18:09] edevil commented on #756
I’m having the same issue following the pet shop tutorial. The tutorial does not mention a git repo to clone, we just unbox the pet-shop box.

I don’t think the editor plays a part in this problem. Where should these files be located? Don’t they come included with the truffle package that is installed globally?

[2018-03-08 19:35] cgewecke commented on #836
@elie222 I'm going to close this because it's quite difficult from your issue description to tell what state your contracts are in when this error occurs. Feel free to re-open when you can provide more detail.

[2018-03-08 19:42] Mukhtar-P152 commented on #756
I was following the react-auth-box , the tutorial i was following didnt have a git repo but i made a repo for myself and deleted the whole DApp I was working on (backed up just in case). I then downloaded my files back and continued where i left of.

[2018-03-08 21:39] litch commented on #660
I'm having a similar issue, though specifically with mainnet:

I'm trying to *only* deploy the `Migrations.sol`

[code]
I've tried lots of combinations of `gas` and `gasPrice`.  Very confusing.

[code]
geth version 1.8.2
truffle version 4.1.0 and 4.1.3

Any suggestions?

[2018-03-09 02:05] #837 closed

[2018-03-09 10:43] elie222 commented on #836
Thanks, I believe the issue was buggy code on our end. But as always the
error messages can be very hard to decipher.

On 8 Mar 2018 21:35, "c-g-e-w-e-k-e-&gt;" <notifications@github.com> wrote:

[2018-03-09 11:35] vladfr commented on #744
@skmgoldin Hey, so this happens in `truffle-compile/parser.js`. When it merges all files into one `.sol` and sends it to `solc`, it does not filter by warnings. Therefore, all errors + warnings are seen as Exceptions and stop the publish.

The `compile` command has its `strict` mode off, which means it's filtering out warnings.

A second issue is that the compiler can't resolve imports correctly,

[2018-03-09 19:48] skmgoldin commented on #744
Thanks @vladfr ! If you can get it merged, I will release the ~kraken~ bounty!

[2018-03-09 22:08] quantumproducer commented on #660
@mradkov I'm able to deploy to `kovan` fine. I need to deploy to the main net.
Remix gives me the error: https://github.com/ethereum/remix/issues/716

[2018-03-09 23:08] litch commented on #660
BTW, my issue here wound up being that my node was not fully synced.  I should probably create a new issue, "When trying to deploy to a node that is not fully synced, an error about gas limit is given, rather than something that makes sense"

[2018-03-10 12:11] litch opened #840 "When trying to deploy to a node that is not fully synced, get error: exceeds block gas limit"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The error message when trying to deploy to a geth node that is not fully synced yet is incorrect:

`Error: exceeds block gas limit`

This led me to spend a couple hours trying to dig and research about what could by wrong with my gas settings, tryi

[2018-03-10 16:33] quantumproducer commented on #660
Agreed, the same error confused me to. It wasn't clear from the error that you had to sync to deploy.
I get this error now, after syncing.

Here's my `truffle migrate --network=live --verbose-rpc` log:

[code]

[code]

"Contract couldn't be found after 50 blocks"

Why? I'm offering 9 GWEI for gas. Why does this happen?

I've tried without the optimizer, too. `geth` is `1.8.2`

[code]

I'm unable t

[2018-03-10 16:33] quantumproducer commented on #677
I am having this issue now on the main network.

Here's my `truffle migrate --network=live --verbose-rpc` log:

[code]

[code]

"Contract couldn't be found after 50 blocks"

Why? I'm offering 9 GWEI for gas. Why does this happen?

I've tried without the optimizer, too. `geth` is `1.8.2`

[code]

I'm unable to deploy my smart contract while this is happening.

[2018-03-10 16:41] quantumproducer commented on #660
[code]

[2018-03-10 16:41] quantumproducer commented on #677
[code]

[2018-03-10 17:11] cgewecke commented on #840
@litch This error comes from the client and Truffle reports it. Agree that it's not helpful but Truffle's current ability to evaluate the client state is limited to faithfully reflecting the signals it emits. For what it's worth, there's confusion over this response everywhere - [here's a case](https://github.com/ethereum/mist/issues/1660) at Mist.

Thank you for opening this - it will make it muc

[2018-03-10 17:28] #840 closed

[2018-03-10 18:35] Muhammad-Altabba commented on #655
Yes, thanks.

[2018-03-11 17:54] MartinKral commented on #569
How would I call a function overload with the same number of parameters, but different types (string and uint)?

[2018-03-11 18:07] elie222 commented on #758
Can confirm this rewrite worked for me too. But seems like a bug in Truffle that things should be done this way.

[2018-03-11 18:22] reasv opened #841 "new BigNumber() not a number when deploying OpenZeppelin Crowdsale"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
I am getting this when deploying the OpenZeppelin Crowdsale, and I don't really understand where the issue is.
[code]
The OpenZeppelin contract should be correct since I didn't change it, I just inherited from it.

## Steps to Reproduce
I deploy by

[2018-03-11 18:28] OfStone opened #842 "Java smart contract wrappers"
Hi,
i've a problem to generate the wrapper code using web3j’s command line tools.

I compile the smart contract using solc, and then i use
web3j solidity generate /path/to/<smart-contract>.bin /path/to/<smart-contract>.abi -o /path/to/src/main/java -p com.your.organisation.name
as shown in the documentation.
someone can explain me the procedure in a simple way? I'm a beginner.

thank you

[2018-03-11 20:05] cgewecke commented on #841
@reasv It looks like there might be an issue with the way the `migrations.js` is written - [this](http://truffleframework.com/docs/getting_started/migrations#deployer) is a good first reference for how to deploy interdependent contracts. The pattern suggested there is:
[code]

Also not sure from your code what you're passing to the `TestICO` constructor in Solidity. It would make sense if it was a

[2018-03-11 21:32] cgewecke commented on #842
@OfStone What documentation are you referring to?

[2018-03-11 23:44] freshonline opened #843 "Zeppelin Tutorial token balance is zero on Rinkeby"
I deploy http://truffleframework.com/tutorials/robust-smart-contracts-with-openzeppelin
But have problem: Zero balance.
![alt text](http://www.picshare.ru/uploads/180312/6UHx9s7VQG.jpg)
I use rinkeby network.
[code]
* Operating System: Ubuntu 16.04
* Ethereum client: geth 1.8.2
* Truffle version v4.1.0
* node version (`v9.4.0`):
* npm version (`5.7.1`):

[2018-03-12 00:04] elie222 commented on #836
Just ran into this same issue again unfortunately. Funny how when I googled it this was the top response :(

This is a sample of some of the problematic code:

[code]

[2018-03-12 00:07] elie222 commented on #836
Again the solution was to get rid of `{ overwrite: false }`, but this really wasn't ideal for me. Had to put the code into a single file to do this when I really wanted it in two separate files.

[2018-03-12 00:19] freshonline commented on #843
[code]

[2018-03-12 06:15] Artod commented on #573
Same issue... Works only with the @melnikaite 's workaround:

[code]

[2018-03-12 08:15] amosjyng commented on #587
I am getting this too on El Capitan, Truffle v4.0.6, Ethereum client Ganache,  node v9.6.1 and npm v5.6.0 . Have there been any updates on this?

[2018-03-12 10:03] OfStone commented on #842
@cgewecke https://docs.web3j.io/smart_contracts.html#smart-contract-wrappers
I just managed to create the wrapper code. This is the problem now. I want to interact with my smart contract deployed on Ganache. Do you know if it possible? The method " .load() " wants five arguments, one of this is "Credential". To create credential i have to insert the path of the Ethereum wallet and the password; bu

[2018-03-12 11:32] npittsley commented on #150
Yep, using
truffle.cmd compile
worked for me!

[2018-03-12 15:11] neilrjones opened #844 "TypeError: contract.detectNetwork is not a function"
- [ x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Trying to deploy a contract with constructor parameters to a private network.  Contracts without parameters deploy with no problem

## Steps to Reproduce

truffle.cmd migrate --reset

## Expected Behavior

Contract migrated and deployed

## Actual

[2018-03-12 16:25] neilrjones commented on #844
I believe we can close this issue.  Looks like Truffle does not like the [] when there is only one contract being deployed.

Change:
deployer.deploy([
SouSouMain,
owner,
sousouId,
cycles,
durationSeconds,
numSubGroups
]);
to:
deployer.deploy(
SouSouMain,
owner,
sousouId,
cycles,
durationSeconds,
numSubGroups
);

[2018-03-12 16:25] #844 closed

[2018-03-12 16:32] neilrjones commented on #844
By the way,
Truffle does not seem to have a problem with the [] if no constructor parameters are passed.
deployer.deploy([SouSouFundsMet]);

Works with no problem but
deployer.deploy([SouSouMain,owner,sousouId,cycles,durationSeconds,numSubGroups]);

Does not.

[2018-03-12 19:16] pkoch commented on #608
I've successfully followed @saradotramli's instructions, things just started to work.

[2018-03-12 19:31] lazaridiscom commented on #835
@gnidan , had you tried google's `repo` ?

[2018-03-12 21:00] EralpB commented on #833
@gnidan what are the public nodes that support this? Does infura support it? I'm getting an error but I'm not sure if that's the cause.

[2018-03-12 21:43] EralpB commented on #608
same issue

[2018-03-12 21:53] ajainvivek opened #845 "Error: The contract code couldn't be stored, please check your gas amount or exceed gas limit"
I keep getting the error please check your gas amount or exceed gas limit.

The truffle config file

[code]
Error displaying on console while migrating - `truffle migrate` and I am running in `ganache-cli` client and even truffle develop throws the same error

[code]

Can someone please help here. Its terribly annoying.

## Environment

* Operating System:
* Ethereum client: ganache-cli
* Truffle

[2018-03-12 22:27] ajainvivek commented on #845
The issue was with setting constructor to be internal, I had to change it to public

[code]

[2018-03-12 22:27] #845 closed

[2018-03-12 22:59] freshonline commented on #843
Why? Is this my fault or a bug?
cat TutorialToken.sol
[code]

[2018-03-13 08:01] StDogbert commented on #721
Geth 1.8.1. Worked fine till yesterday. Error started appearing consistently for rinkeby and from time to time with ganache. Upgrade to 1.8.2 didn't fixed the issue.

[2018-03-13 11:07] ZitRos commented on #713
This issue needs to be reopened, the behavior of deploying smart contracts is different when using ES7 async/await syntax, which is totally unexpected. The latest version of Truffle still has this issue.

[2018-03-13 13:34] villesundell commented on #608
By following @saradotramli's debugging instructions, I noticed that for me the problem was:
[code]

This is because my Parity does not support (yet) "debug_traceTransaction (https://github.com/paritytech/parity/issues/4858)

In my case, this is not Truffle's problem, but the error could be a bit more informative :D

[2018-03-13 16:10] EnchanterIO commented on #644
@tcoulter but what if i want to test if my contract is properly storing/responding to multiple addresses?

E.g. if I have a Contract attribute of type array or some mapping with key being the sender address, i want to make sure the array is properly storing multiple users data.

I can only interact with my solidity test contract under 1 address?

[2018-03-13 18:02] ericwooley commented on #685
Tried this with the latest version, migrate is missing a bunch of the ABI.

[2018-03-13 18:40] EnchanterIO commented on #644
I think I found an example how to do it in JS, which seems to be more capable: https://github.com/gustavoguimaraes/smart-contract-testing-javascript-example-/blob/master/test/fundRaise.js

[2018-03-13 21:56] fredfortier commented on #815
@cgewecke I'm still getting this error after upgrading just now.
[code]

[2018-03-13 21:59] alexmedkex commented on #815
It seems to fix for me when debugging the transaction while inside the truffle develop console. I.e running a truffle develop instance, and entering "debug <tx_hash>"

[2018-03-14 08:34] moda20 commented on #305
I am having this problem with quorum, and even when running miner.start() it doesn't work instantly. uses all CPU on generating DAG and then nothing happens.
help

[2018-03-14 09:27] boorac opened #846 "Truffle develop showing no logs"
- [ *] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Commands:
[code]

show no output on console

## Steps to Reproduce

As of `Truffle v4.1.3 (core: 4.1.3)` problem started from day 1.

## Expected Behavior

I should see console output (e.g. accounts etc)

## Actual Results
No logs are shown

## En

[2018-03-14 10:14] boorac commented on #846
Reinstalling node and truffle seems to fix the issue.

[2018-03-14 10:14] #846 closed

[2018-03-14 14:55] ivica7 opened #847 "Is it possible to avoid re-running migration scripts on every test?"
I have time-consuming migration scripts, which take some time to deploy.

The documentation says:

However, most of my tests are pure unit tests of single contract instances, which are separately deployed in the test itself, hence, they do not have any dependencies to contracts deployed via the migration scripts.

**Question**: Is there a way to avoid migration scripts being (re-)run on test?

[2018-03-14 15:56] #841 closed, assigned to nobody

[2018-03-14 16:00] cgewecke commented on #842
@OfStone I think this issue is best pursued at `web3j`. There are a number of open requests for help about wrapping Truffle contracts in that repository [here](https://github.com/web3j/web3j/issues?utf8=%E2%9C%93&q=truffle).

[2018-03-14 16:00] #842 closed

[2018-03-14 20:14] ivica7 opened #848 "in tests Conract.deployed() not returning the test-specific instance deployed in the migration of the test"
Step 1. ``truffle migrate``
... Contract.deploy() called in the migration script ...

Step 2. ``truffle test``
... migration scripts are rerun, but in test code Conract.deployed() returns the instance from the first step...

Is this working as designed? I thought every test will run in isolation.

* Operating System: macos 10.13.3
* Ethereum client: ganache-cli 6.1.0
* Truffle 4.1.3
* node 8.10.0

[2018-03-15 01:05] DeepakSuryaS commented on #831
i got the same error. i first ran npm init -y and then i ran truffle init, so i have package.json in my folder. should i create a new folder inside of this folder to run truffle init successfully?

[2018-03-15 01:06] DeepakSuryaS commented on #831
@cgewecke running ls -A shows the package.json file

[2018-03-15 06:11] cgewecke commented on #831
@DeepakSuryaS Hi, `unbox` only works in an empty folder to prevent any possibility of a box overwriting existing folder contents. The best thing to do is unbox first and npm init second.

[2018-03-15 08:49] dlldll commented on #843
hello，have you solved your problem?I got the same issue

[2018-03-15 10:58] DeepakSuryaS commented on #831
@cgewecke ok, thanks!

[2018-03-15 11:47] barakman commented on #729
Same problem on Windows 10:
- Ganache CLI v6.1.0 (ganache-core: 2.1.0)
- Truffle v4.1.3
- npm v5.5.1
- node v8.9.3

[2018-03-15 12:23] zulhfreelancer commented on #721
Upgraded my Truffle to 4.1.3 and it solved the problem (was on 4.0.6).

[2018-03-15 16:21] JackPickering opened #849 "TypeError: Cannot read property 'call' of undefined at /usr/local/lib/node_modules/truffle/build/cli.bundled.js:175527:50"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Whenever I try to deploy a set of migrations with a pre-existing build folder, I get the error:
[code]
This prevents me from deploying my contracts to a test chain whilst hosting them on my local machine.

The error is called from this function:
[c

[2018-03-15 20:32] dmitrysenkovich opened #850 "Initial migration hangs forever"
## Issue

I'm trying to create a private chain using `geth` and `truffle` but when I do `truffle migrate` it hangs forever with the following output:

[code]

## Steps to Reproduce

Use the following file for initializing a chain (`CustomGenesis.json`):

[code]

truffle.js

[code]
First of all, I'm creating a user (to use it in `CustomGenesis.json` in `alloc`):

`geth account new --datadir ./`

Th

[2018-03-16 01:43] peara commented on #850
@dmitrysenkovich
Have you try unlock account when starting geth?
Something like:
[code]

[2018-03-16 02:16] reasv commented on #841
Yeah, sorry that I didn't reply. I'm using tests now and it works.

[2018-03-16 02:48] cgewecke commented on #841
Thanks @reasv!

[2018-03-16 07:54] dmitrysenkovich commented on #850
@peara thanks for the idea but it still hangs:c

[2018-03-16 08:08] freshonline commented on #843
No, problem do not solved.

[2018-03-16 08:28] peara commented on #850
@dmitrysenkovich
Hmm, run `truffle migrate --verbose-rpc` might give detail error

[2018-03-16 08:43] dmitrysenkovich commented on #850
@peara it produces the following output infinetely:
[code]

[2018-03-16 09:06] dmitrysenkovich commented on #850
@peara I've attached in a separate window to geth socket:
`geth attach ipc:\\\\.\\pipe\\geth.ipc`
and started mining:
`miner.start()`
That helped but that is weird. I'm trying to build a blockchain-based application that doesn't need mining at all just a chain it self.

[2018-03-16 09:15] peara commented on #850
@dmitrysenkovich
I see. If you don't want mining, you should try some proof of authority chain.

[2018-03-16 09:27] gslnzfq commented on #451
please run `sudo npm install webcrypto-shim -g` before execute `sudo npm install -g truffle`, it will help you.

[2018-03-16 14:56] dmitrysenkovich commented on #850
@peara ok, thank you very much! I'm new to blockchains so it is useful, I will see such the option

[2018-03-16 15:06] tyndallm commented on #843
I suspect you maybe deploying to a local ganache test network instead of Rinkeby. Typically you would configure your truffle.js config file to have multiple networks, creating a separate "rinkeby" entry alongside "development": http://truffleframework.com/docs/advanced/configuration#networks You can also specify `network_id: '4'` which is Rinkeby

If you are running Geth locally on port 8545 is it

[2018-03-16 15:48] ScJa opened #851 "`truffle test` uses old sources for /contracts"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When running `truffle test` old sources for smart contracts are being used. If this happens, the old build is still used if running `truffle compile -all`. Only way to fix it I have found is deleting the build folder.

E.g. if I add an additional e

[2018-03-16 16:54] kriskelly commented on #836
I'm also seeing this issue when using `{overwrite: false}` in my deploy code. I've verified that it deploys fine without that option.

Using Truffle v1.4.3, Solidity v0.4.19

[2018-03-16 23:09] mryellow commented on #697
It seems to be in the conversion between `int256` and `BigNumber`.

The number is correct inside Solidity however incorrect in CLI event log and Javascript.

An off-by-one here somewhere? Gets overflowed back to the negative end of the binary?

[2018-03-17 01:59] shkfnly commented on #501
@rodiazet what he meant was
[code]
I wrapped all this together like

[code]
Hope this helps!

Shout out to http://y-nakajo.hatenablog.com/entry/2018/01/15/174743
and https://ethereum.stackexchange.com/questions/30572/truffle-post-deployment-actions
for the insight

[2018-03-17 05:51] res-Q commented on #271
This worked for me

ropsten: {
        host: "127.0.0.1",
        port: 8545,
        network_id: 3,
        gas: 4712388,
        // gasPrice: xxx,
        from: "0x689bb9068f12BfaCEF6aeeC6f37d9fa5963d4bd7" //<your unlocked live account address>
      }

[2018-03-17 08:20] dc1996226 opened #852 "using infura in truffle and get Error: Invalid JSON RPC response: """
it is my first time to ask questions there ,please forgive my rudeness.

I using metamask, infura, and truffle to try to deploy the contract (the pet-shop-tutorial) to the ropsten testnet, all gone well but this.

that is the error information:

[code]
and this is my code in truffle.js:
[code]

I followed the steps from http://truffleframework.com/tutorials/using-infura-custom-provider
but it seem

[2018-03-17 12:28] dmitrysenkovich opened #853 "Initial migration hangs forever (parity)"
## Issue

I'm trying to create a private chain using `parity` (PoA) and `truffle` but when I do `truffle migrate` it hangs forever with the following output:

[code]

## Steps to Reproduce

Create a chain with the following `custom_chain.json`:

[code]

.. config file `note0.toml`:

[code]

.. and command:

`parity --config node0.toml`

Then create two users:
[code]

.. and restart node with the f

[2018-03-17 12:29] dmitrysenkovich commented on #850
@peara sorry for bothering you, I'm trying to use `parity` with PoA now but it hangs similarly. There is no `miner` object to help me this time. Maybe you may have any idea of how to fix it? I've created one more [issue](https://github.com/trufflesuite/truffle/issues/853)

[2018-03-17 18:34] cgewecke commented on #852
@dc1996226 Thanks for opening. It looks very similar to [this issue](https://github.com/trufflesuite/truffle-migrate/issues/14) at `truffle-migrate` and I think we'll have to investigate further to understand exactly why this is happening.

For what it's worth, I see the final transaction in the migration sequence executed successfully on Ropsten [here](https://ropsten.etherscan.io/tx/0x4774ad3d75

[2018-03-17 20:36] macalinao commented on #640
Bump. This is something that's super useful.

[2018-03-17 21:34] cgewecke commented on #853
@dmitrysenkovich Does anything in [this thread](https://github.com/paritytech/parity/issues/5400) at Parity seem helpful? Towards the end they suggest there is a flag setting for the client that might unstick things:
[code]

[2018-03-17 21:54] dmitrysenkovich commented on #853
@cgewecke thanks for the suggestion but it doesn't help:c

[2018-03-18 03:01] freshonline commented on #843
This rinkeby:
[code]
[code]
How can i check my contract in geth console?

[2018-03-19 04:51] peara commented on #853
@dmitrysenkovich
[code]
Add the third line to `node0.toml`. I think it could help.

[2018-03-19 14:57] ScJa commented on #851
Issue also present in v4.1.3 and on a Windows operating system.

[2018-03-19 17:17] fdouglis commented on #851
I'm a bit confused by this bug report, because I was told by a truffle developer that "truffle test" compiles a new version and ignores anything you may previously have done with "truffle compile" or "truffle migrate".  Maybe that only applies to solidity tests rather than JS?

[2018-03-19 19:14] Fariha1123 commented on #643
Its port 8545 on which testrpc runs, so specify that in your truffle.js. Moreover, in another powershell window just initiate test rpc via this command : testrpc. Hope this works !

[2018-03-19 20:06] ScJa commented on #851
If you run truffle compile once before, truffle test (tries) to re-compile only the .sol files which have had changes since the last test run.
If you have never run truffle compile before, truffle test will always re-compile every .sol file - even completely unrelated once.

This is at least the behaviour judging by the console output, actual might be different.

[2018-03-19 21:51] fdouglis commented on #851
ScJa, perhaps things have changed since I last installed truffle  2-3 weeks ago, but I definitely saw "test" recompiling things regardless of whether I'd explicitly compiled.  And similarly, running "migrate" made no difference, because it'd deploy a fresh version for the test.

[2018-03-20 00:31] ScJa commented on #851
Thanks for bringing it up, I have tested the exact behaviour again and found out it is different than to what I described. I found out three different cases.

1.  If you run `truffle compile` and afterwards run `truffle test` with NO file changed in between only the Migrations.sol file will be re-compiled.
2.  If you run `truffle compile` and afterwards run `truffle test` with ONE file changed in

[2018-03-20 04:53] nicovalencia commented on #635
@thisbejim @marcinczenko @kalote you can pass a build directory flag to `truffle compile` like this:

`truffle compile --contracts_build_directory=./src/build`

It looks like you can also pass a path for the .sol files with [contracts_directory](https://github.com/trufflesuite/truffle-workflow-compile/blob/develop/index.js#L15).

[2018-03-20 06:02] imhari213 commented on #721
Upgrading  truffle@4.0.6 to + truffle@4.1.3  works for me 👍

[2018-03-20 06:08] nicovalencia commented on #635
Note that a standard deploy migration adds data to your ABI that you need for your clients, so this doesn't fully work until this issues is fixed: https://github.com/trufflesuite/truffle-migrate/issues/10

[2018-03-20 06:23] res-Q commented on #660
I am experiencing the same issue...

Truffle v4.1.3 (core: 4.1.3)
Solidity v0.4.19 (solc-js)

The contract deploys just fine to Ganache development network.
The contract fails to upload to Ropsten test network.

[2018-03-20 09:32] andrisole92 opened #855 "Can't deploy to the mainnet, with the same config as Ropsten, and succeeds with dry-run"
- yes, I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I can't deploy to the mainnet. Always getting errors such as:
Error encountered, bailing. Network state unknown. Review successful transactions manually.
insufficient funds for gas * price + value
or
Error encountered, bailing. Network state unkno

[2018-03-20 10:57] JebasinghMathan commented on #773
$truffle migrate
Using network 'development'.

Running migration: 1_initial_migration.js
  Deploying Migrations...
  ... undefined
Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: insufficient funds for gas * price + value
    at Object.InvalidResponse (/usr/local/lib/node_modules/truffle/build/webpack:/~/web3/lib/web3/errors.js:38:1)
    at /usr/l

[2018-03-20 14:20] cmaliwal commented on #463
truffle init webpack
Error: `truffle init` no longer accepts a project template name as an argument.

 - For an empty project, use `truffle init` with no arguments
 - Or, browse the Truffle Boxes at <http://truffleframework.com/boxes>!

[2018-03-20 15:05] cgewecke commented on #853
@dmitrysenkovich Did @peara's config suggestion fix this?

[2018-03-20 15:33] dstreppa commented on #852
+1

[2018-03-20 16:04] marcinczenko commented on #635
@nicovalencia is there anything changed about this option recently? This option used to brake migrations...

[2018-03-20 17:18] dmitrysenkovich commented on #853
@peara, @cgewecke no, that doesn't work too:c now it stucks on {

I'm trying Hyperledger Fabric now, their tutorials seem to be working

[2018-03-20 18:30] cgewecke commented on #855
@andrisole92 Could you try this again after wrapping both of your provider declarations in a function call as suggested [here](http://truffleframework.com/tutorials/using-infura-custom-provider#configure-your-truffle-project)? e.g:
[code]

[2018-03-20 18:37] cgewecke commented on #853
Ok fair enough @dmitrysenkovich :)

I'm going to close this because it seems like it's specific to parity POA configuration rather than something Truffle related.

As a side note, there's a nice model of parity/truffle integration at [colonyNetwork](https://github.com/JoinColony/colonyNetwork) for anyone finding this issue in the course of setting up their project.

[2018-03-20 18:37] #853 closed

[2018-03-20 18:39] cgewecke commented on #850
Duplicate of #853. Thanks @peara for helping out here!

[2018-03-20 18:39] #850 closed

[2018-03-20 18:41] cgewecke commented on #838
@benjamincburns Thanks :)  This is fixed in `4.1.13`

[2018-03-20 18:41] #838 closed

[2018-03-20 18:46] cgewecke commented on #835
@lazaridiscom Thanks for opening this - super interesting topic. I hope you don't mind but I'm going to close this issue for house-keeping since modifying the project structure and it's management isn't on our near-term road map.

Leaving a link [here](https://source.android.com/setup/using-repo) to google's `repo` in case we revisit this.

[2018-03-20 18:46] #835 closed

[2018-03-20 19:04] lazaridiscom commented on #835
@cgewecke , fine for me. I will assume that you did not try `repo` yet, so I take it on my eval list together with `meta`

[2018-03-20 19:42] cgewecke commented on #835
@lazaridiscom Yes correct, I don't think either of us have tried `repo`. Would love to hear your impressions though.

[2018-03-20 23:57] nicovalencia commented on #635
@marcinczenko still breaks -- see that issue above. I don't have time to dig into a fix right now. I'd just symlink it for now.

By the way, you're probably going to have another issue when you build the react app, because create-react-app builds to `./build`. You'll need to `npm run eject` then edit the configs/paths to point to an alternative build directory.

[2018-03-21 04:58] res-Q commented on #660
Following up from my post yesterday... was able to deploy successfully using the GAS Limit specified in Ropsten Etherscan.

How I did it...

01. Deployed a small contract to Ropsten successfully
02. Viewed the contract in https://ropsten.etherscan.io.
03. Clicked on the 'Transaction Hash' of the deployed contract to reveal information about the network.
04. Gas Limit displays as: 1828127 (provided

[2018-03-21 05:51] ProphetDaniel opened #857 "Truffle migration - Intrinsic gas too low. How to fix this?"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

[Ethereum Stack Exchange link](https://ethereum.stackexchange.com/questions/42268/truffle-migration-intrinsic-gas-too-low-how-to-fix-this)

## Steps to Reproduce

[code]

## Expected Behavior

[code]

## Actual Results

[code]

## Environment

* Op

[2018-03-21 08:59] vrogojin opened #858 "Invalid JSON RPC response: "" (truffle-wallet-provider)"
- [ x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I get this pretty standard non-informative error when trying to test or console with truffle Invalid JSON RPC response: ""
Yesterday it worked perfectly fine. But today it does not. I did not change any configuration in truffle.js. And yes, I runt

[2018-03-21 09:13] ayushtchetu opened #859 "Truffle Error-VM Exception while processing transaction: revert"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
I am creating test case of solidity in truffle and my solidity function is given below for which I am creating test cases
[code]
And my test cases is as given below
[code]
While testing if clause of function in this test I am getting error VM Except

[2018-03-21 09:14] vrogojin commented on #858
Update: the issue seems to be cause by truffle-wallet-provider

[2018-03-21 11:26] paliwalg opened #860 "truffle migrate not returning ... (Quorum nodes)"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Running the initial migration script to deploy the Migration contract takes long time to complete.

What the issue is, in broad strokes.
I am trying to run the truffle metacoin project pointing to a quorum node.
Doing truffle migrate displays below

[2018-03-21 14:30] cgewecke commented on #859
@ayushtchetu. Your method changes state and will return a transaction receipt rather than boolean value.

Could you try removing the `constant` modifier as well as the function return logic? Instead of checking for true/false, test the recipient account for an increase of value after the method successfully executes using [web3 methods](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethg

[2018-03-21 14:35] cgewecke commented on #860
@paliwalg Could you verify you are funding the deployment correctly? See [this](https://ethereum.stackexchange.com/questions/31335/issue-in-truffle-migration-with-quorum) stack-exchange issue. Additionally, we have a small tutorial on Quorum [here](http://truffleframework.com/tutorials/building-dapps-for-quorum-private-enterprise-blockchains) you might find helpful.

[2018-03-21 14:46] cgewecke commented on #857
@ProphetDaniel Which Ethereum client are you using? If possible, could you look at Truffle's [advanced configuration](http://truffleframework.com/docs/advanced/configuration#networks) docs and make sure you have configured your project correctly? Then post your `truffle.js` here.

The error message comes from the client and means that the client estimated the cost of executing the transaction and

[2018-03-21 14:51] cgewecke commented on #843
@tyndallm Thanks so much for helping @freshonline.

@freshonline: Did @tyndallm's suggestion resolve things for you? Did you get this to work with Ropsten a few weeks ago?

A guide to using the geth console can be found [here](https://github.com/ethereum/go-ethereum/wiki/JavaScript-Console)

[2018-03-21 15:01] OTTTO commented on #109
@cbruguera Yes, I believe this should be an option; potentially a set option in the mocha config.

[2018-03-21 15:28] JackPickering commented on #326
I am having this same issue with the error that @tranvictor got at the start, at the exact same line however, my contracts folder does not contain an additional migrations file (i.e. I just have the one), yet I still get the error at the module:
`  lastCompletedMigration: function(options, callback) {
    var Migrations;

    try {
      Migrations = options.resolver.require("Migrations");
    } c

[2018-03-21 19:03] barakman opened #862 "Truffle compiler option 'contracts_build_directory' inconsistent behavior"
Truffle compiler option `contracts_build_directory` is described [here](http://truffleframework.com/docs/advanced/configuration#contracts_build_directory).

I'm having trouble with Truffle's inconsistent behavior on that configuration parameter.

I'm setting it as follows:

    contracts_build_directory: "../../artifacts"

When I execute `truffle compile`, all artifacts are created in a folder nam

[2018-03-21 20:57] gustin commented on #853
I was having the same issue with Parity on a dev chain, after going through a lot of different party configuration, setting the `gas` and `gasPrice` explicitly in the `truffle.js` to a high gas and low gasPrice worked for me.

[2018-03-22 01:59] kyriediculous commented on #596
Still not solved

[2018-03-22 03:56] vs77bb commented on #744
Hi @skmgoldin @vladfr is this one still WIP? I see it's in a Work Submitted status on Gitcoin, but perhaps is still pending merge? Hope you both are doing well 🙂

[2018-03-22 04:20] cgewecke commented on #744
@vs77bb No. @vladfr has done nice work on this, we're currently reviewing.

[2018-03-22 04:24] cgewecke commented on #849
@JackPickering I'm going to close this as a duplicate of your other report [here](https://github.com/trufflesuite/truffle/issues/326#issuecomment-374979284). Happy to continue in that thread. Thanks!

[2018-03-22 04:24] #849 closed

[2018-03-22 04:26] cgewecke commented on #859
@ayushtchetu I'm closing this because seems like a solidity usage issue rather than something truffle specific. Please feel free to re-open if you believe there is a bug on our end. Thanks!

[2018-03-22 04:26] #859 closed

[2018-03-22 10:06] JackPickering commented on #326
I've updated to Truffle @4.1.3

This is my migrations.sol contract...
[code]

This is my migrations.js file...

[code]

Where is this new logic meant to be?

[2018-03-22 11:28] moda20 commented on #750
I had the issue with the 240 second timeout, on transactions made by truffle contract but not eth mainnet. i had it on my locla quorum network with 5 nodes. i can't understand why would a transaction have to wait in an enviroment where there is no gas at all.

[2018-03-22 11:40] moda20 opened #863 "Transactionwasn't processed in 240 seconds! when working with Quorum"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I am trying to call methods on my deployed contract with `truffle-contract`  but it doesn't return anything untill the 240 sec limit is reached and i get that error.

## Steps to Reproduce

I run my quorum dev network with docker-compose.
i have 2

[2018-03-22 13:44] macbem commented on #473
Are you guys sure that this comes from a Solidity syntax error? I have this error while compiling OpenZeppelin's ERC20 StandardToken contract, which is highly unlikely to contain any syntax errors.

[2018-03-22 14:24] cgewecke commented on #326
@JackPickering The new logic is at `truffle-migrate` where the migrations are processed. There are now two possible versions of the standard migrations contract - the original and a newer one that follows the Solidity style guidelines and camel cases the variable names. It's installed when anyone starts a new project from scratch with `truffle init`.

The ABI you showed indicates the compiled cont

[2018-03-22 14:40] ProphetDaniel commented on #857
@cgewecke, here Is the [code](https://github.com/ClassicDelta/Smart-Contracts) which is also available at the Stack Exchange [thread](https://ethereum.stackexchange.com/questions/42268/truffle-migration-intrinsic-gas-too-low-how-to-fix-this). So I will paste here from GitHub repository.

There is no particular client involved other than Infura. This code follows instructions from [here](http://tru

[2018-03-22 14:49] cgewecke commented on #857
@ProphetDaniel Could you try specifying `gas` and `gasPrice` fields in your live network? You'll need to figure out where these limits are. I suggest writing a set of tests that simulates the deployment and calling `.estimateGas` in order to check the range of the values. Another option is this truffle utility: [eth-gas-reporter](https://github.com/cgewecke/eth-gas-reporter) which will produce a g

[2018-03-22 15:03] cgewecke commented on #858
@vrogojin Could you close here and open this over [there](https://github.com/crypedit/truffle-wallet-provider). Their engineer might have a better sense of what the problem might be.

Feel free to re-open if you believe this problem definitely originates at Truffle & can be reproduced using `truffle-hdwallet-provider` rather than a 3rd party fork.

[2018-03-22 15:28] cgewecke commented on #863
@moda20 It looks like this might be a compatibility issue between Quorum and `web3`.  TLDR; Quorum seals blocks too quickly for web3 to poll the transaction receipt. This issue has also affected Geth and Parity clients in fast dev mode, although both have resolved it in their own way.

More discussion over at `quorum` [here](https://github.com/jpmorganchase/quorum/issues/86#issuecomment-315965611)

[2018-03-22 15:30] cgewecke commented on #860
@paliwalg This may also be a duplicate of or related to #863.

[2018-03-22 15:34] JackPickering commented on #326
Okay, that makes sense thank you, its worked but now I get a different error unrelated to this thread. Myabe you could help though if you wouldnt mind? It basically now says `Error: Could not set `null` as the transaction hash for SaleStagesLib` when I try to link a library that has already been migrated.
https://github.com/trufflesuite/truffle-migrate/issues/24

Much appreciated,
Thanks

[2018-03-22 15:39] ProphetDaniel commented on #857
@cgewecke, Regardless if ran against Ganache or Truffle development, the problem still happens.

[2018-03-22 16:53] cgewecke commented on #857
@ProphetDaniel Gas.

[2018-03-22 17:10] gnidan commented on #744
@skmgoldin: @vladfr's PR is merged; will go out with the next release. Thanks!

[2018-03-22 18:28] vladfr commented on #744
Thanks!

On Thu, Mar 22, 2018, 19:10 gnidan <notifications@github.com> wrote:

[2018-03-22 19:12] ProphetDaniel commented on #857
@cgewecke , after updating truffle config live section to:
[code]
The problem still persists.

[2018-03-22 20:23] cgewecke commented on #857
@ProphetDaniel I'm going to close this because you really need to do what is suggested in the [comment](https://github.com/trufflesuite/truffle/issues/857#issuecomment-375333447) above to isolate where the problem is. In other words, write tests, get them passing on Ganache. Test your migrations on Ganache. Discover the answers to the following questions by doing that work:

+ Are your contracts t

[2018-03-22 20:23] #857 closed

[2018-03-22 20:26] cgewecke commented on #855
@andrisole92 Closing this for housekeeping. Please re-open if you continue to see this after wrapping the provider as shown above.

[2018-03-22 20:26] #855 closed

[2018-03-22 21:53] ProphetDaniel opened #864 "Truffle migration bug - Intrinsic gas too low"
Because the original [issue](https://github.com/trufflesuite/truffle/issues/857) was inadvertedly closed by @cgewecke, I'm writing it back here again.

[2018-03-22 22:01] ProphetDaniel commented on #864
This time to compensate contributor's laziness I will follow strictly instructions and present the canonical code from [here](http://truffleframework.com/tutorials/using-infura-custom-provider).

[2018-03-23 06:20] rishikeshjadhav commented on #150
Using truffle.cmd worked for me :)
While reading below helped as well
http://truffleframework.com/docs/advanced/configuration#resolving-naming-conflicts-on-windows

[2018-03-23 07:18] moda20 commented on #863
does web3 1.0 have this issue with quorum ? i probably have to ask elsewhere.

[2018-03-23 09:34] serebrov commented on #822
Just for reference - the same solution above can be used to start the debugger from command line and debug in [node inspector](https://nodejs.org/en/docs/inspector/) (in Chrome dev tools):

[code]

- Open `chrome://inspect` page and click the "Open dedicated DevTools for Node" link.
- We should see the `cli.js` file with execution paused on the first line.
- Add the test sources into the inspector

[2018-03-23 09:49] JackPickering commented on #836
Deploying code in separate files is not an option for me, my codebase is too big to deploy at once and therefore, I need to be able to deploy in stages. Is there a valid work around for this?

It is the same error with me, I have {overwrite: false} in my contracts and libraries as like I said, I cant deploy all of my code at once.

Migrations 1:

[code]

Migrations 2:

[code]

Migrations 3:

[code

[2018-03-23 11:30] andrisole92 commented on #855
Hey guys,

Sorry, it is really bizarre, but I have managed to deploy the contract. And not sure what was wrong?

Probably gas estimations were not very good... I always had some dollars in my address and was not able to deploy, so sometimes it was burning 5-6 dollars.

But finally, it cost me around 3-4 dollars for successful deployment.

[2018-03-23 13:59] paliwalg commented on #860
Yes, seems like same as #863. So, Is it still exist with Truffle v4.0.6 (core: 4.0.6) ?

[2018-03-23 15:16] cgewecke commented on #863
@moda20 It might not because someone fixed web3 1.0 last summer to work with Parity instantseal. I wonder if there is a Quorum setting that helps with this?

Also, have you looked at the [truffle tutorial](http://truffleframework.com/tutorials/building-dapps-for-quorum-private-enterprise-blockchains) for Quorum? There's also a requirement that you specify the `privateFor` key in the migration tran

[2018-03-23 15:19] cgewecke commented on #860
@paliwalg I believe so. Latest `truffle` is 4.1.3, for what it's worth.

I hope you don't mind - I'm going to close this as a duplicate of #863 so that everyone with this problem can help each other in the same thread.

[2018-03-23 15:19] #860 closed

[2018-03-23 15:21] cgewecke commented on #836
@JackPickering Thanks, re-opening. Will look into this and see what's going wrong . . .

[2018-03-23 19:10] cgewecke commented on #836
@elie222 @JackPickering Apologies, it looks we introduced this bug in `4.0.7`. Have opened a PR at `truffle-contract` (ref above) which will hopefully resolve this. Should be included in a patch release scheduled for early next week.

[2018-03-23 20:56] frangio commented on #699
We're getting the same error in the OpenZeppelin repository. It started happening around version 1.4.0.

Does anyone from the Truffle team have any clue as to what could be happening?

[2018-03-23 21:08] johhonn opened #865 "Debug failure when Reaching a specific line of code"
---------------------------

## Issue

I am trying to debug a contract that is failing with ther Error: VM Exception while processing transaction:revert. After getting the transaction hash from the function call and calling truffle debug on it I am able to step through the code until I reach the line that could be causing the  vm exception error. If i proceed any further the debugger crashes with

[2018-03-23 21:26] gnidan commented on #865
Sounds like this is due to `buyCoin` deferring to a library.

Closing here, duplicate of trufflesuite/truffle-debugger#39

[2018-03-23 21:26] #865 closed

[2018-03-23 22:11] cgewecke commented on #699
@frangio Are you seeing this when trying publish Zeppelin itself, or when trying to publish something that imports contracts from an npm installed zeppelin? Or from ethpm installed Zeppelin.

There is a [recent fix](https://github.com/trufflesuite/truffle-compile/pull/48) for this that's pending release (early next week) but it really only addresses the case of contracts that rely on ethpm depende

[2018-03-23 22:46] frangio commented on #699
When trying to publish OpenZeppelin itself. Can you try running `truffle publish` on the [OpenZeppelin/zeppelin-solidity](https://github.com/OpenZeppelin/zeppelin-solidity) repo on your machine and see if that fails?

[2018-03-23 23:20] cgewecke commented on #699
@frangio Yes I can see it failing and see why in the code as well. We'll try to fix this ASAP, thanks for pinging this.

[2018-03-23 23:31] frangio commented on #699
@cgewecke Thanks to you for the quick response as always! ♥️

[2018-03-24 05:40] ProphetDaniel commented on #864
This is a function that returns the following:
[code]

where the following parameters are defined within .env file:
- MNEMONIC
- MAINNET_ENDPOINT
- PASSWORD

In my setup MAINNET_ENDPOINT is a custom geth running endpoint which I have privately set for my project.

---

In order to allow people to reproduce the problem exactly as I currently face I changed `truffle-config.js` to use Infura's endpoi

[2018-03-24 07:24] chris-shyft opened #866 "compiler optimization broken since v4.0.6"
using truffle compile --all:

truffle v4.0.7+ (tested all releases via "npm install -g truffle:@4.0.7", "npm install -g truffle:@4.1.0", etc until the latest 4.1.3)

![screen shot 2018-03-24 at 3 08 15 am](https://user-images.githubusercontent.com/34154131/37861531-2135bc94-2f12-11e8-80a4-8228511073a3.png)

truffle v4.0.6 "npm install -g truffle:@4.0.6"

does indeed respect the

solc: {
        op

[2018-03-24 16:41] cgewecke commented on #866
@chris-shyft Thanks for such a clear report.

Starting in 4.0.7, the artifact contains 2 versions of the AST - the legacyAST and solc's newer AST. This duplication was necessary because `truffle-debugger` requires the latter and it's possible that users consume former as well.  From what I understand of the above, your proxy measurement for optimization is the size of the artifact file.

I think i

[2018-03-24 19:21] cgewecke commented on #864
@ProphetDaniel Could you check or post your `genesis.json`? There's a report similar to yours [here](https://stackoverflow.com/questions/42589091/ethereum-truffle-metacoin-fails-with-intrinsic-gas-too-low) where the underlying issue was the gas limit in the client config.

[2018-03-24 19:41] chris-shyft commented on #866
publishing to a ganache-cli running locally.

namely, I'm getting an "out of gas" when running with anything above 4.0.6, which is the same behaviour as removing the "optimize" flag when in remix and trying to publish the contract to the same ganache-cli instance.

[2018-03-24 19:56] chris-shyft commented on #866
On closer inspection, I think I'm mistaken.

due to the nature of my build process, I missed the "--all" flag with the truffle compile process.
#lessons :D

[2018-03-24 19:56] #866 closed

[2018-03-24 23:08] ProphetDaniel commented on #864
@cgewecke As I said I have tested with truffle develop testnet and also with my own private net which I started with the following genesis block:

[code]

[2018-03-25 02:08] alsco77 commented on #841
I am having this same issue @reasv , can you please help me by telling me what you done to resolve this? Even the approach you took with testing? I can't figure out how to get visibility on the error

[2018-03-25 10:55] Giulio2002 opened #867 "Truffle develop don't support eth_sign"
i have created a state channel with truffle,but truffle develop can't sign messages so i can't test it

[2018-03-25 15:56] cgewecke commented on #862
@barakman Thanks for this report. Will investigate.

[2018-03-25 20:54] okwme opened #868 "migration only saves first deployed contract address"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

My migration deploys a few contracts in a row. The json files get createded with ABI and bytecode, but only the first contract deployed gets the deployed address saved under the network in the artifacts.

## Steps to Reproduce
[code]

## Expected B

[2018-03-25 21:40] okwme commented on #868
Figured it out:
[code]

[2018-03-25 21:40] #868 closed

[2018-03-26 13:10] gfijrb opened #869 "solc-js update"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2018-03-26 13:10] #869 closed

[2018-03-26 13:15] gfijrb opened #870 "Upgrade solc to v0.4.21"
Hi please how can I connect **solcjs** manually for truffle or when you update it for **0.4.21**?
[code]

[2018-03-26 14:40] cgewecke commented on #870
@gfijrb We're planning to publish a patch release early this week which includes a solc upgrade. At the moment the only way to manually change the solcjs version in your local environment is to install `truffle-core` and manipulate its dependencies yourself. Making the compiler versioning more flexible is on our near-term roadmap though.

Closing as duplicate of [truffle-compile 50](https://github

[2018-03-26 14:40] #870 closed

[2018-03-26 14:50] cgewecke commented on #867
@Giulio2002 Could you post reproduction steps? Are you reporting that [web3.eth.sign](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethsign) doesn't work in the develop console?

It might be easier to work on this problem in a unit test you run with `truffle test` since it likely requires several setup steps to execute.

[2018-03-26 14:53] Giulio2002 commented on #867
I am using truffle develop and when I try to sign my message it say that web3.eth.sign is not implemented

[2018-03-26 15:57] cgewecke commented on #867
@Giulio2002 I am not able reproduce this error (see below)

![screen shot 2018-03-26 at 8 55 40 am](https://user-images.githubusercontent.com/7332026/37917578-a1aa7e4c-30d3-11e8-88d0-c932ba2578ad.png)

[2018-03-26 16:28] Giulio2002 commented on #867
What version of truffle do you use

[2018-03-26 16:28] Giulio2002 commented on #867
Maybe the problem is my truffle version

[2018-03-26 16:28] Giulio2002 commented on #867
I updated to latest now works

[2018-03-26 16:30] #867 closed

[2018-03-26 21:05] ImmuneGit commented on #831
:) it doesn't work if there is a hidden.git folder. is it really properly?

[2018-03-27 05:45] evgen-povt commented on #541
Have the same issue.
But my interface has the name differencing from the contract name.
And the contract inherits the interface:
`
contract Shape is ShapeIf {
...
}
`

[2018-03-27 14:24] Gandalf-Pl commented on #463
truffle init webpack
Error: `truffle init` no longer accepts a project template name as an argument.

 - For an empty project, use `truffle init` with no arguments
 - Or, browse the Truffle Boxes at <http://truffleframework.com/boxes>!

[2018-03-27 22:22] kunalb16 commented on #730
I have the same issue as pointed by  @cgewecke. Truffle test does not work with contracts outside the contracts folder.
I am having the same behaviour and i don't think his hack should be the best way to solve this.

This error comes only when using "truffle test", but not with "truffle deploy".

// Sample import statements in a Solidity file located at: contracts/<filename>.sol
import "../node_mo

[2018-03-27 22:31] kunalb16 commented on #730
And I have created the tests using solidity http://truffleframework.com/docs/getting_started/solidity-tests

[2018-03-27 22:38] cgewecke commented on #730
@kunalb16 Could you provide a little more detail?
+ In your file system, where is the contract which contains the import statement?
+ Where is the contract you want to import?

[2018-03-28 03:27] Matrixbirds commented on #831
@ImmuneGit`Please unbox in an empty folder.`
You must run this command in empty folder without any file.

[2018-03-28 05:07] chengtaowan commented on #864
# 本月要做的任务

- [ ] 完成图片

- [x] 完成部署工具的设置

[2018-03-28 05:21] ImmuneGit commented on #831
yes, I see that it works for empty folder. But it’s not always logical. For example, I’ve clone a new empty project from git where I want to init truffle project. In that case it doesn’t work and I have to do it in another empty folder and then copy all files and folders to my project folder.

[2018-03-28 07:26] kunalb16 commented on #730
So my Project folder looks like:
Project
--node_modules/zeppelin/contracts/ownable.sol
--TruffleInitFolder/contracts/mycontract.sol //This contract has reference to the ownable contract via "../../node_modules/zeppelin/contracts/ownable.sol"
--TruffleInitFolder/test/Test_mycontract.sol

Now, when I use truffle test, it fails. But, truffle deploy is working flawlessly.

I get the error
"before all"

[2018-03-28 11:25] vidhyaramani opened #873 "Truffle unbox metacoin"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2018-03-28 11:25] vidhyaramani commented on #873
C:\Windows\system32\truffleproject1> truffle unbox metacoin
wnloading...
ror: Something already exists at the destination. Please unbox in an empty folder. Stopping to prevent overwriting dat

  at C:\Users\labo\AppData\Roaming\npm\node_modules\truffle\build\webpack:\~\truffle-box\lib\utils\unbox.js:22:1
  at <anonymous>
  at process._tickCallback (internal/process/next_tick.js:118:7)
  at Functio

[2018-03-28 11:37] vidhyaramani opened #874 "how to open the truffledemo in Visual studio code"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2018-03-28 11:39] vidhyaramani commented on #874
I have unbox metacoin and compiled it every was fine! But need to know how this demo comes to the visual studio code... I have also installed solidity....Please help me   thanks!

[2018-03-28 14:16] kunalb16 commented on #730
Just tested by moving the zeppelin folder within the contracts folder and the tests run. So there is definitely a bug.

[2018-03-28 14:31] cgewecke commented on #873
Closing as duplicate of #831

[2018-03-28 14:31] #873 closed

[2018-03-28 14:36] cgewecke commented on #874
@vidhyaramani Hi. This is a good question for the gitter channel rather than the Github issues. Here we just try address bug reports and feature proposals. There's some additional discussion project setup issues in visual studio [here](https://github.com/trufflesuite/truffle/issues/756).

Closing as duplicate of #756

[2018-03-28 14:36] #874 closed

[2018-03-28 14:49] cgewecke commented on #730
@kunalb16 - below is a typical file structure for a truffle project:
[code]

If your project is organized in this way, you don't even need to use relative paths to access files installed with NPM (or EthPM). Truffle will resolve their location for you. So:
[code]
Could you check your paths? `node_modules/zeppelin/contracts/ownable.sol` is not the path to Ownable.sol at Zeppelin. It's stored under

[2018-03-28 18:59] kunalb16 commented on #730
Well that was a good explanation, that helped me debug why my tests were failing and find a fix.
Takeaway,
Truffle test work only if you have a contract inside truffle root directory

So if you are using zeppelin-contracts. Make sure they are installed in truffle root directory, if you are using workspaces in yarn and truffle directory is one of your several workspaces, there is a no-hoist feature

[2018-03-29 01:25] gnidan commented on #826
I think this should be fixed when trufflesuite/truffle-debugger#39 goes out in the next release!

Closing for cleanup reasons. Thanks!

[2018-03-29 01:25] #826 closed

[2018-03-29 03:28] rawadrifai commented on #323
@tcoulter - if I want to send a raw tx, how do I get the data value?
I think getData should work but it's not for me.

[2018-03-29 05:07] gnidan commented on #655
Thanks for bringing up this issue. I think the root cause here is mostly around the debugger's support for multiple files. This should be going out under the work of trufflesuite/truffle-debugger#39.

Closing this as duplicate. Let me know if problems persist!

[2018-03-29 05:07] #655 closed

[2018-03-29 08:01] vidhyaramani opened #876 "Hi,"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2018-03-29 08:04] vidhyaramani commented on #876
Hi, I have an issue in truffle connection with visual studio code. I have installed everything followed by the link https://davidburela.wordpress.com/2016/11/18/how-to-install-truffle-testrpc-on-windows-for-blockchain-development/ everything was succesfully installed. . I have created my project and run the command truffle init but not opening the default project structure in visual studio code. S

[2018-03-29 14:36] paliwalg opened #877 "Quorum : private deployment fails"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Trying to deploy a contract privately specifying 13 constellation public keys of 13 nodes.
If fails with error message as "Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: illegal base64 data at inpu

[2018-03-29 14:52] cgewecke commented on #876
@vidhyaramani Closing as duplicate of #874. Please see the response there.

[2018-03-29 14:52] #876 closed

[2018-03-29 15:07] cgewecke commented on #877
@paliwalg Thanks for opening and for isolating the issue so clearly.

I think this should be raised at Quorum. `illegal base64 data at input byte 8` comes from the client and as far as I can tell has no antecedents outside this issue, other than [here](https://github.com/tendermint/tendermint/issues/536#issuecomment-312788905) at Tendermint. It's just not something truffle can do anything about.

[2018-03-29 15:09] cgewecke commented on #877
@paliwalg Apologies, how did you end up resolving the issue in #863? It seems like you were able to migrate successfully for some cases? If you could add some feedback there that would be great :)

[2018-03-29 15:22] paliwalg commented on #877
Seems like timing issue, if I run the truffle deployer from the machine I am submitting transaction to, it works. Seems more of timing issue.

From: c-g-e-w-e-k-e-> [mailto:notifications@github.com]
Sent: Thursday, March 29, 2018 8:40 PM
To: trufflesuite/truffle <truffle@noreply.github.com>
Cc: Gourav Paliwal <Gourav.Paliwal@synechron.com>; Mention <mention@noreply.github.com>
Subject: Re: [truffl

[2018-03-29 16:48] paliwalg commented on #877
I am able to successfully perform the same steps and get the expected out with the web3.js deployer script. So I thought it should be truffle issue.

From: c-g-e-w-e-k-e-> [mailto:notifications@github.com]
Sent: Thursday, March 29, 2018 8:37 PM
To: trufflesuite/truffle <truffle@noreply.github.com>
Cc: Gourav Paliwal <Gourav.Paliwal@synechron.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2018-03-29 18:40] cgewecke commented on #877
@paliwalg Ah ok! Are you using web3 1.0?

[2018-03-29 18:54] cgewecke commented on #863
@moda20 Ah interesting!! Thanks for the update.

Are you ok if I close this? Happy to re-open if it seems like there's something structural about how Truffle interfaces with Quorum that needs to be addressed.

[2018-03-29 23:33] pkieltyka opened #879 "monorepo?"
hello,

have you guys considered to move the various truffle-XXX packages into just this repo under a monorepo and use yarn workspaces and lerna? it's a much better workflow for co-dependent packages and used by even Babel

The 0x guys do a good job with their structure here: https://github.com/0xProject/0x-monorepo

[2018-03-30 01:39] cgewecke commented on #879
hello @pkieltyka. Thanks for the link. Also follow 0x and agree it's really well done over there :)

Will definitely take your suggestion under advisement.

[2018-03-30 01:40] cgewecke commented on #858
@vrogojin Going to close for housekeeping - please re-open if you still need help with this. Thanks!

[2018-03-30 01:40] #858 closed

[2018-03-30 01:43] cgewecke commented on #851
@ScJa We think this bug is fixed with `4.1.5`.  Current behavior should be that if a file has been changed, `test` will compile all the files that are connected to that file in an inheritance chain. Hoping to minimize this set in an upcoming release, but at the moment, the current compilation level is necessary.

Closing, please re-open if you continue to have problems with this.

[2018-03-30 01:43] #851 closed

[2018-03-30 01:49] cgewecke commented on #698
Believe this is really fixed in `4.1.5`. Closing, please re-open if you see this again.

[2018-03-30 01:49] #698 closed

[2018-03-30 01:53] cgewecke commented on #685
@rhlsthrm Believe this is fixed with `4.1.5`. Please re-open if you continue see it happen.

[2018-03-30 01:53] #685 closed

[2018-03-30 01:54] cgewecke commented on #638
@illuzen Apologies for this - believe it's fixed in `4.1.5`. Thanks for reporting.

[2018-03-30 01:54] #638 closed

[2018-03-30 01:55] cgewecke commented on #637
Closing as duplicated of #638

[2018-03-30 01:55] #637 closed

[2018-03-30 01:57] cgewecke commented on #587
@nikita-fuchs @amosjyng `truffle-debugger` on `4.1.5` contains some significant improvements - worth checking out! Closing this for house-keeping because it refers to a much earlier incarnation of the tool.

[2018-03-30 01:57] #587 closed

[2018-03-30 02:01] cgewecke commented on #583
@tonymanpro Thanks for opening, I'm closing this for housekeeping. We're a full version ahead of 3.0 now, and your issue relates to running in a cloud - we routinely run on CI services like Travis and Circle without issue - not sure what's special about App Engine.

[2018-03-30 02:01] #583 closed

[2018-03-30 02:03] cgewecke commented on #699
@alex-miller-0 @frangio This should be fixed in `4.1.5`. Please report back if you continue to see this or have other issues publishing to ethpm.

Thanks!!

[2018-03-30 02:03] #699 closed

[2018-03-30 13:05] skmgoldin commented on #744
Oooooooooh shit so exciting!!!! Will report back!

[2018-03-30 14:15] brianedelman commented on #659
Moved on to other things for a while now. Can't speak to this specific bug. If I come back to it and it is an issue I can reopen. Thanks for checking in!

[2018-03-30 19:53] sidsaha commented on #705
Unfortunately, `uint32` doesn't work!

[2018-03-30 20:55] cgewecke commented on #864
cc: @ProphetDaniel did you ever resolve this?

[2018-03-30 22:31] Pedro-vk commented on #848
I've seen the error in other situation:
- Clean `build` folder.
- Using `truffle test` run a `ContractName.deployed()`.

[2018-03-30 23:15] Pedro-vk commented on #868
@okwme Why did you closed? I have the same problem. Do you know any solution?

[2018-03-31 17:18] cgewecke commented on #656
Tested this on `4.1.5` and it seems to be working. Closing.

[2018-03-31 17:18] #656 closed

[2018-03-31 17:20] cgewecke commented on #815
@fredfortier If you have a chance could you see if `4.1.5` has fixed this? A bunch of support for inter-contract calls has been added in that release.

[2018-04-01 03:59] fredfortier commented on #815
Yes, it's working now. But I still don't see the values of my variable when
stepping through (always undefined).

On Sat, Mar 31, 2018 at 10:20 AM c-g-e-w-e-k-e-> <notifications@github.com>
wrote:

[2018-04-01 04:50] #819 closed

[2018-04-01 04:51] #814 closed

[2018-04-01 10:52] etherwaifu commented on #737
![trufflebug2](https://user-images.githubusercontent.com/37950714/38172281-7d94d280-35e4-11e8-8d00-c0d64d2b1168.png)

I got hit by the same bug as shown above. Workaround that works in Truffle 4.1.5:

`await instance.contract.functionName['argType1', 'argType2'](arg1, arg2);`

For instance, because `await contract.tokenMetadata(i)` fails, I can instead use `await contract.contract.tokenMetadata['u

[2018-04-01 17:08] cgewecke commented on #815
@fredfortier I'd like to close this because the initial issue looks like it's been resolved.

If you have a chance could you open another issue on the undefined variable problem? A minimal set of reproduction steps would really help us to track down what's going wrong there.

[2018-04-01 17:08] #815 closed

[2018-04-01 19:16] klassicd commented on #831
If you install truffle local to the application (e.g. `yarn add truffle`), and try to use it (e.g. `./node_modules/bin/truffle init`), this error prevents you.

[2018-04-02 01:43] hskang9 opened #880 "Korean translation"
I would like to collaborate in the translation of the documentatiom in Korean as well as #801. Is it already done?

[2018-04-02 04:01] YuxuanLin commented on #831
Same happened and this solution does help me! Thanks
The tut I followed:https://medium.com/@merunasgrincalaitis/the-ultimate-end-to-end-tutorial-to-create-and-deploy-a-fully-descentralized-dapp-in-ethereum-18f0cf6d7e0e

[2018-04-02 05:13] PhABC commented on #727
This might want to be reconsidered @cgewecke . For instance, when using the `evm_increaseTime` feature, the timestamp of all subsequent block will be increased by the previous value, which makes testing timestamp based functionalities quite cumbersome. Ideally, one could have the option of starting from scratch if desired, even it less efficient.

[2018-04-02 10:31] Pedro-vk opened #881 "Migration only save the first deployed smart contract."
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

My migration deploys a few contracts in a row. The JSON files get created with ABI and bytecode, but only the first contract deployed gets the deployed address saved under the network in the artefacts.

## Steps to Reproduce

Run a migration of tha

[2018-04-02 12:46] rustamakhmetov opened #882 "truffle debug error: Cannot read property 'binary' of undefined"
## Issue

I've encountered an issue which I do not know how to debug with this error message:
`(node:4399) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'binary' of undefined`

[code](https://github.com/rustamakhmetov/safe_ico/tree/debug_bug1)

## Steps to Reproduce

1. `truffle compile`
2. `truffle develop`
3. `migrate --reset`
4.

[2018-04-02 15:14] lazyc97 commented on #862
I got problem at `return binding.readdir(pathModule.toNamespacedPath(path), options.encoding)` instead. I'm on Linux but `toNamespacedPath` seems to only work on Windows, might this be a problem with OS detection? I'm using ArchLabs.

[2018-04-02 16:59] skmgoldin commented on #744
It worked! https://www.ethpm.com/registry/packages/43 @vladfr I will pay you.

[2018-04-02 17:41] cgewecke commented on #881
@Pedro-vk Thanks for opening - this is a duplicate of #501.

The way async/await integrates with the migrations feature is confusing for a lot of users. `truffle-migrate` was written before `await` became common and it stages deployments as 'thennables' rather than executing them as true promises. See [this comment](https://github.com/trufflesuite/truffle/issues/501#issuecomment-332589663) for adv

[2018-04-02 17:41] #881 closed

[2018-04-02 17:43] cgewecke commented on #864
Closing due to lack of response. @ProphetDaniel Please feel free to re-open if you're still facing this or post your solution here if you found one so other users facing this error can benefit from your work.

[2018-04-02 17:43] #864 closed

[2018-04-02 18:00] cgewecke commented on #725
@JackPickering Agree this is a problem and that the message coming back from the client is uselessly cryptic. Not sure there is a straightforward fix for this other than enumerating the known causes of the error (there are many, unfortunately) in our reporting.

Have opened an [issue](https://github.com/trufflesuite/truffle-migrate/issues/22) at `truffle-migrate` that covers this general topic and

[2018-04-02 18:00] #725 closed

[2018-04-02 18:06] cgewecke commented on #880
@hskang9 No, it's not done. At the moment we have no official translations and additionally we don't have infrastructure in place to support multi-lingual docs. This will require installing a [metal-smith](https://www.npmjs.com/package/metalsmith-multi-language) localization package.

I will ping you back here when this becomes possible. Thanks for opening!

[2018-04-03 02:57] hskang9 commented on #880
Great! I will make a pull request with translation using that module!

[2018-04-03 07:18] rustamakhmetov commented on #882
After the upgrade Node to version v9.10.1, with the same actions I get the error:

[2018-04-03 17:57] kriskelly commented on #882
I'm also seeing this error after upgrading from Truffle v4.1.3. I'm attempting to debug a transaction on the Rinkeby network. Before I upgraded Truffle, it was telling me that it was unable to show the source code for any of the contracts involved. Not sure why, but it's probably relevant.

Here's a bit more of the stack trace in case that helps:

[code]

Pretty sure it's this function: https://gi

[2018-04-03 18:03] melnikaite commented on #882
I have the same error message when I just change function name in a contract, to try new feature in v4.0.0 "Debug transactions without code". Backing previous name allows me to debug transaction without any issues.

## Environment

* Operating System: OS X
* Ethereum client: truffle develop
* Truffle version (`truffle version`): Truffle v4.1.5 (core: 4.1.5) Solidity v0.4.21 (solc-js)
* node versio

[2018-04-03 19:58] mahendra-panchal commented on #558
If any one still facing problem

simply set constructor as payable.

[2018-04-04 01:42] macalinao commented on #713
Still an issue!

[2018-04-04 02:18] byronzoz commented on #773
@JebasinghMathan it works for me.

I add "from" in truffle.js

[2018-04-04 02:33] kunalb16 commented on #737
Facing the same issue, When would this be fixed? Any timeline?

[2018-04-04 10:36] vrogojin commented on #737
@etherwaifu Your solution does not work for me. It says `TypeError: contract.function[(("address" , "address") , "uint256")] is not a function`. No idea why it has grouped `("address" , "address") ` together, even though I defined it as ['address','address','uint256']. Looks like, the only solution here, I need to have different names for the functions :(

[2018-04-04 10:36] ZitRos commented on #713
@cgewecke should we open a new issue for this case? I will consider it pretty critical. Thank you!

[2018-04-04 14:07] stefek99 commented on #159
Example: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/test/crowdsale/Crowdsale.test.js

![image](https://user-images.githubusercontent.com/249703/38312482-e596520c-37ef-11e8-8249-2b76b1c66ee9.png)

[2018-04-04 15:14] chenwenwen11 opened #884 "Error: VM Exception while processing transaction: revert"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
I am just following the tutorial to create a very simple token and crowdsale contract with `Truffle` and `zeppelin-solidity`. When I try to migrate locally to Ganache client, I've encountered this issue which I do not know how to debug with this err

[2018-04-04 16:01] cgewecke commented on #884
@chenwenwen11 `revert` in a migration usually means that a condition you've set using a `require` in the contract's constructor isn't being met. In this case, TestCrowdsale has a `require` that says:
[code]
The values being passed in are: cap: 2 ETH, goal: 500 ETH.

More on how `require` works can be found at the Solidity docs [here](https://solidity.readthedocs.io/en/v0.4.21/control-structures.ht

[2018-04-04 16:09] cgewecke commented on #843
Closing for housekeeping / lack of response. Thanks all.

[2018-04-04 16:09] #843 closed

[2018-04-04 16:31] chenwenwen11 commented on #884
@cgewecke Thank you so much for your reply. I did not notice I have misplace the values for input parameters. It works now! Thank you for your help!

[2018-04-04 16:31] #884 closed

[2018-04-04 16:49] woodenchalet opened #885 "Could not find artifacts for Solidity tests (Windows only, v4.1.5)"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
  In Version v4.1.5 truffle test will throw errors, If I downgrade the truffle version to v4.0.4 , it will work

  TestMyContract
    1) "before all" hook: prepare suite
  0 passing (625ms)
  1 failing

  1) TestMyContract "before all" hook: prepare

[2018-04-04 17:28] craigwilliams84 opened #886 "Migrations -f argument is ignored"
## Issue

Migrations -f argument is ignored (works in 4.1.3 but not 4.1.4/5)

## Steps to Reproduce

- Run `truffle migrate -f 2` in a project with multiple migrations files.

## Expected Behavior

Only migration script 2 should be run.

## Actual Results

All migration scripts are run.

## Environment

* Operating System: MacOS 10.13.2
* Ethereum client: ganache-cli 6.0.3
* Truffle version (`truf

[2018-04-04 18:03] cgewecke commented on #713
@ZitRos Agree - we're actively working on this for the next release. In my view the issue here is semantic confusion caused by changes in JS norms around async. (Migrations was written before `await` became standard).

I'd rather not re-open just because it's not a 'bug' per se - it's super counter-intuitive behavior relative to `await` and an interface design problem we'll need to address in the

[2018-04-04 21:01] ZitRos commented on #713
@cgewecke, I appreciate your work, thank you for sharing notes on this.

I've checked the truffle code, the issue seems to be very trivial. Looks like we just need to await on the [possible] promise returned from [fn](https://github.com/trufflesuite/truffle-migrate/blob/cd1c1ca6b48d0fd80d9d0efcc1b5861a2af19760/index.js#L82).

If you would like I can make a PR fixing this.

[2018-04-04 21:29] cgewecke commented on #713
@ZitRos `truffle` is on Node 6.9.1 which doesn't support `await`. There may be a simple fix with conventional promises as well but unfortunately to address this in the current release we need to do it in a way that is backward compatible and doesn't assume people are on latest Node. The solution will need tests for the new behavior and will need to accommodate the existing use pattern.

You're mor

[2018-04-04 21:42] ZitRos commented on #713
@cgewecke, of course NodeJS 6.9.1 doesn't supports `await` but promises. `await` is nothing more than `promise.then(...)` baked in a prettier way. So I mean [here](https://github.com/trufflesuite/truffle-migrate/blob/cd1c1ca6b48d0fd80d9d0efcc1b5861a2af19760/index.js#L82) you can put something like:

[code]

[2018-04-04 21:45] cgewecke commented on #713
@ZitRos Right, ok excellent.

[2018-04-04 21:47] ZitRos commented on #713
@cgewecke, another thing I wanted to catch here right away is that any exceptions thrown by `fn` doesn't prevent migration from its successful completion, which is also a strange behavior. Do you agree we need to fix this as well?

[2018-04-04 22:07] cgewecke commented on #713
@ZitRos I'm not certain about this, apologies. I need to look at the code a bit. . . .

[2018-04-05 09:56] craigwilliams84 commented on #886
The code isn't currently public, but I have created a simple dummy project that reproduces the issue.

[](https://github.com/craigwilliams84/truffle-test)

[2018-04-05 16:18] ryana commented on #330
@roderik great explanation and thank you for filing this issue and self-closing.

I came into this after Feb 5, so I've only ever known a world where this solution exists, so to enlighten me could you either explain or point me to an explanation of what this solution was? My hunch is that before Feb 5, the `build/contracts` directory didn't exist, and adding it fixed your problem.

I'm running int

[2018-04-05 16:29] roderik commented on #330
I would suggest giving everyone's ganache an unique network id. That way they should not conflict.

[2018-04-05 18:36] muzamil1789 commented on #454
when I am running this "npm install --save-dev" command its not working completely...
as its stopping at some level like..

[     .............] / fetchMetadata: sill resolveWithNewModule socket.io@1.7.3 checking installable status

[2018-04-05 19:38] stefek99 commented on #109
@OTTTO @cbruguera @tcoulter Do you know how to log events at ALL times?

`assert.equal(true, false); // failing on purpose to see log events`

Any better options?

[2018-04-05 20:39] cgewecke commented on #886
@craigwilliams84 Have opened a [PR](https://github.com/trufflesuite/truffle-core/pull/127) fixing this.

Unfortunately I don't see a great interim workaround - a PR for `4.1.5` created a conflict in the way the options are interpreted and `-f` is currently only being parsed as a boolean.

Thanks so much for reporting and for providing a reproduction case.

[2018-04-05 21:09] ismaelbej commented on #885
For me the same fails with 4.1.5 but works ok with v4.1.4 (Windows 7 x64).

[2018-04-05 21:27] cgewecke commented on #885
@ismaelbej Are you seeing exactly the same error?

[2018-04-05 22:11] ismaelbej commented on #885
I'll try to create a small reproducible example for now the stack trace output

[code]

The file `Parser/Tx.sol`  is a dependency of `RelayTests` but compilation and migration run fine. Also executing javascript test will run without issues.

And the solidity test, but I think the content doesn't matter too much because it is never run.

[code]

[2018-04-05 22:13] cgewecke commented on #885
@ismaelbej Awesome, thank you. That's perfect.

[2018-04-05 22:20] craigwilliams84 commented on #886
No problem at all, thanks for looking into it so quickly.

[2018-04-06 05:43] yaoshiang commented on #237
My solution to this was to create a container of multiple instances in the contracts folder. For example, if you have a MyERC20 contract, and need to have a few of them deployed... you could create a container of them:
[code]
Deploy that in a migration script (e.g. 2_deploy_MyERC20Container.js)

Then in your TestStuff.sol, you can grab them:
[code]
I had this exact use case and now the problem is

[2018-04-06 07:43] takageRoshi commented on #700
hello, i have been dealing with this for a while also, and have asked about this on gitter.
i am getting the
""before all" hook: prepare suite: Error: Could not find artifacts"
regardless if i test all or a specific file.

I have been following along with the truffle framework pet shop tutorial,

running a windows 10
Truffle v4.1.5
ganache-cli/ganache-gui
node v8.10.0
npm v5.6.0

was wondering if

[2018-04-06 14:46] jbarros35 commented on #558
not work for me see my sol file please

pragma solidity ^0.4.21;

    /**
    * Example script for the Ethereum development walkthrough
    */

contract Wrestling {
    /**
    * Our wrestlers
    */
	address public wrestler1;
	address public wrestler2;

	bool public wrestler1Played;
	bool public wrestler2Played;

	uint private wrestler1Deposit;
	uint private wrestler2Deposit;

	bool public gameFi

[2018-04-06 18:30] barakman commented on #729
@cgewecke:
Any news on this?

[2018-04-06 18:46] cgewecke commented on #729
@barakman No, everyone's seeing it intermittently, AFAIK it predates recent work to stabilize the test client and it's possible that it's related to  [issue 453](https://github.com/trufflesuite/ganache-cli/issues/453) at `ganache-cli` which is under bounty and currently being worked on. There's more detail over there if you're interested.

Unfortunately this looks like (as @benjamincburns would sa

[2018-04-06 19:36] barakman commented on #729
@cgewecke:
Thank you for the info.
P.S.: To me, *heisenbug* is kind of instinctively associated with Heisenberg (Uncertainty Principle's Heisenberg, not Breaking Bad's Heisenberg). More specifically, something like - "if you touch it, you change it", or in other words - this bug is unsolvable by definition, which I sincerely hope is not the case here... Or perhaps you were referring to the bug bei

[2018-04-06 19:37] woodenchalet commented on #885
@cgewecke Could be a PowerShell or Windows thing, I try to run the truffle test under Linux, they all passed.

![image](https://user-images.githubusercontent.com/7042874/38440704-43c947be-39b0-11e8-9601-2fdc449883ac.png)

![image](https://user-images.githubusercontent.com/7042874/38440721-4fb93f7a-39b0-11e8-97b8-ad5d4913ace7.png)

[2018-04-06 19:43] cgewecke commented on #729
@barakman Ahhh!! That's pretty good isolation of the problem. It could be something in the script you identified. Could also be related to the test execution that precedes it.

If there's any possibility of having another set of eyes look at the codebase, we'd definitely be interested.

[2018-04-06 19:46] cgewecke commented on #885
@woodenchalet Ok great, good to know. I'm going to modify the title of your issue to reflect that and look into why the paths are being made OS neutral correctly anymore.

[2018-04-06 20:28] barakman commented on #729
@cgewecke:
Most likely not related to the preceding script, as I've also tried to `truffle test` this script alone, and the problem persisted.
I'm not sure I'm allowed to post it publicly at this point, so I will try to minimize both the Solidity contract and the Javascript test, and if I am still able to reproduce the problem then I will post it here.
Another interesting point of attention, is th

[2018-04-06 20:35] cgewecke commented on #729
@barakman Ok great, thank you. One thing about `testrpc-sc` is that it's much slower. If the underlying issue is a race condition, testrpc-sc could be introducing delays that mask it. Another important difference is that it uses an older version of ethereumjs-vm (from the fall). Possible clue there too, although have been seeing these disconnections all year.

[2018-04-06 23:50] kyriediculous opened #887 "Upgrade web3 instance in test suite to 1.0.0"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The web3 instance provided in tests with truffle is still version 0.20.5.
Some functions that are useful to make assertions do not work properly in this version:
eg. web3.toAscii still adds padding.
This is supposedly fixed in web1.0.0 with web3.ut

[2018-04-06 23:57] cgewecke commented on #887
@kyriediculous There's are PRs for web3 1.0 in progress across various modules in the project, centered on [truffle-contract 95](https://github.com/trufflesuite/truffle-contract/pull/95).

Web3 1.0's new interface is a significant breaking change so upgrading will require a major release here. We're hoping to make the Web3 1.0 work available on a nightly build fairly soon, possibly next week (pend

[2018-04-06 23:57] #887 closed

[2018-04-07 00:00] kyriediculous commented on #887
Apologies for the dupe, looking forward.

[2018-04-07 00:02] cgewecke commented on #887
@kyriediculous No worries! Will ping [truffle-contract 95](https://github.com/trufflesuite/truffle-contract/pull/95) when the nightly ships.

[2018-04-07 01:51] cgewecke commented on #693
@arunmitteam We think this bug has been fixed in `4.1.5`. Closing for housekeeping, if anyone sees this again please ping.

[2018-04-07 01:51] #693 closed

[2018-04-07 01:52] cgewecke commented on #706
@eloudsa We think this has been fixed in `4.1.5`. Closing for housekeeping but please re-open if you see this again.  Thanks for reporting!

[2018-04-07 01:52] #706 closed

[2018-04-07 05:25] barakman commented on #729
@cgewecke:
I can reproduce the problem with the code below.

Contract:
[code]

Test:
[code]
Thanks

[2018-04-07 16:34] cgewecke commented on #729
@barakman Great!! Thank you. Going to open a companion issue over at `ganache-core` and will talk to @benjamincburns about this and get his input.

[2018-04-08 03:34] franva commented on #885
Hi @cgewecke I am facing the exactly same issue here.

Could you please update what's happening ?

Hi @woodenchalet , @ismaelbej
Is there any workaround?

Thanks

[2018-04-08 03:38] franva commented on #885
I downgraded to truffle 4.1.14 and it works.

Btw, this is on Windows platform.

[2018-04-08 04:43] kyriediculous commented on #778
This appears to not be fixed?
Using truffle 4.1.3 and require statements are still being ignored like they don't exist whereas they throw on testRPC (remix) on the same contract.
I'm pretty sure this worked before?