[2019-03-22 09:30] kingvinay110 opened #1848 "Error Not compatible with your OS"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes
## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples and

[2019-03-22 13:03] timbeiko commented on #1817
@CruzMolina just updated and my tests work again 😄 Thank you for the rapid turnaround 💪🏻There are some tests that used to pass but don't anymore, giving messages such as the ones attached, but I'll investigate those separately.

<img width="582" alt="Screen Shot 2019-03-22 at 9 02 19 AM" src="https://user-images.githubusercontent.com/9390255/54824429-45f9c600-4c81-11e9-8513-d4984d7fdb6d.png">
<img

[2019-03-22 14:51] eggplantzzz commented on #1799
Sorry for the delay, you are getting the same error with another artifact, `MANAToken.json`?
Can you give me some more information about what you are doing and what message you are receiving?

[2019-03-22 15:53] gnidan commented on #1848
Looks like you're several versions behind. If you want to stick with Truffle v4, you'll want v4.1.15.

But of course we recommend you upgrade to the latest v5.0.9 :)

Closing this, since I don't believe there's a bug, but feel free to comment and I'll happily re-open. Let us know if upgrading works! Thanks!

[2019-03-22 15:53] #1848 closed

[2019-03-22 15:53] gnidan commented on #1846
Ah that's tricky, since that'll be a breaking change. Feel free to open a PR and we can figure out next steps for release timing. Thanks for raising this issue!

[2019-03-22 16:52] CruzMolina commented on #1817
@timbeiko Great! Yes, there were a couple breaking changes in truffle v5, particularly in regards to tests.

Those errors in particular seem to be in regards to changes to web3 1.0 0x bytes representation & a change to the revert error message.

If anything suspicious comes up, feel free to comment or open up another issue!

[2019-03-22 21:47] CruzMolina commented on #1785
Awesome, thanks for the instructions @kseniya292 . Checking this out now 🧐

[2019-03-22 23:14] sleepingevil commented on #1001
I'm having the exact same issue in a JavaScript test, using truffle 5.0.9.

function I'm testing:

[code]

My test:

[code]

Expected behavior:

The test passes.

Actual behavior:

The test fails with an error thrown: `Returned error: VM Exception while processing transaction: revert`

[2019-03-22 23:59] CruzMolina commented on #1785
Ah, okay. Looks like you are in the process of updating from truffle 4 to truffle 5.

I've invited you to a private repo w/ a branch I worked on real quick to help you along (would have just pushed my local branch but I don't think I have proper permissions from your repo). It turns out (at least in v5), we already expose `chai.assert` internally for running js tests, so declaring `const assert =

[2019-03-23 00:05] kseniya292 commented on #1785
@CruzMolina Omg, thank you so much! We really appreciate you taking the time to look at the repo.
I'll make those updates.
I wonder why the overloading errors are happening inconsistently? Why is it that when you run in a specific order, they all pass, and then if you switch the order.. some of the tests fail?

[2019-03-23 00:23] CruzMolina commented on #1785
Np! The errors really threw me for a minute, so I'm glad it wasn't actually something with ganache-core/cli or truffle proper.

My best guess about the inconsistency is that maybe requiring the same libraries within truffle's test running context (mocha) causes the overloading. So maybe calling `truffle test` by itself loads all of the js tests within the same context w/ those requires causing fun

[2019-03-23 00:35] CruzMolina commented on #1785
Hmm... did a little more testing. I'm really not sure. The only consistency seems to be related to importing `chai.assert` again when it's already globally available and also using `bn-chai` 🤷‍♂️

[2019-03-23 02:42] AC0DEM0NK3Y commented on #1659
Same problem with 0.5.6 and 5.0.8.

If you add the large number of contracts test to your release testing suite, you should hit it.

[2019-03-24 06:54] Muhammad-Altabba commented on #1668
Actually, the problem is with `truffle install` nothing work with it. I picked ENS to open the issue with, because it is the one mentioned in the documentation https://truffleframework.com/docs/truffle/getting-started/package-management-via-ethpm.

[2019-03-25 06:37] az-ms commented on #1845
I have reproduced this issue on Ganache. I run Ganache on 10.94.200.94.
Here is my networks setting:

    web3pganache: {
      provider: function() {
        var provider = new web3.providers.HttpProvider("http://10.94.200.94:7545");
        return provider;
      },
      network_id:"*"
    },

    ganache: {
      host: "10.94.200.94",
      port: 7545,
      network_id: "*" // Match any networ

[2019-03-25 09:52] mattcrooks commented on #1659
Still seeing the same on 5.0.9

workaround for us by deleting the `build/contracts` folder and re-compiling

[2019-03-25 12:30] eggplantzzz commented on #1833
@busypeter Thanks for the good suggestion! Actually we are currently working on a large feature that will totally overhaul artifact management and should address a lot of the issues that you mentioned. Stay tuned!

[2019-03-25 12:34] eggplantzzz commented on #381
@bashalex Do you happen to know if that is a feature that they plan on fixing and maintaining going forward?

[2019-03-25 15:57] marcelomorgado commented on #1799
Hi @eggplantzzz Sure,
I'm trying to compile that old truffle project https://github.com/decentraland/mana using external compiler feature from my updated truffle project. The error is this:

[code]
Seems that the error is becuase this project is using an older JSON schema because after some manual changes (https://github.com/trufflesuite/truffle/issues/1799#issuecomment-472821965) it's working.

[2019-03-25 16:30] eggplantzzz commented on #1799
@marcelomorgado Ok so does that just mean you have to edit your external compile script? If you think it is something on our end, could you give me some steps to reproduce the error and investigate?

[2019-03-25 16:46] eggplantzzz commented on #1799
Oh I see what you mean. Is upgrading your version of Truffle not an option? I know, for example, versions of the Solidity compiler earlier than 4.8 (I think?) have a slightly different schema and I'm not sure what version of solc version 3 of Truffle used. We currently don't have a "ready-made" solution for that problem. You could write your own script to make the schema valid, or you could open a

[2019-03-25 18:32] CruzMolina commented on #1845
Hey @az-ms !

What version of web3 are you using for `web3pganache`?

[2019-03-25 18:43] CruzMolina commented on #1746
@chrischip currently we only guarantee compatibility betw truffle & web3 up to 1.0.0-beta.37. There were breaking changes implemented in beta.38 and up that we are currently trying to resolve.

[2019-03-25 18:44] CruzMolina commented on #1746
Hey @iszhangli, if you have a repo you can link or share, it would be greatly appreciated 🙏

[2019-03-25 18:55] marcelomorgado commented on #1799
Hmm yeah,
I think that the point here is the compatibility with an older schema. For me, this issue can be closed since I've solved my problem manually as commented above. Thanks!

[2019-03-25 19:13] CruzMolina commented on #1728
Wow, really good find @wbt. I see you've already opened an issue for this at trufflesuite/ganache#1131.  So far this looks more like a Ganache issue than truffle.

[2019-03-25 19:24] CruzMolina commented on #1538
Hey @kyriediculous , hopefully you were able to resolve this, but since truffle v5 you can simply do `npm i truffle-hdwallet-provider`. Latest should contain the missing dep!

[2019-03-25 19:27] haltman-at commented on #1671
OK, despite what I said above, on trying it again this does appear to crash `solcjs` after all (thanks to @CruzMolina for pointing this out).  So I guess this is actually a Solidity bug rather than a Truffle bug.  I'm going to close this for now; meanwhile I've filed [an issue](https://github.com/ethereum/solidity/issues/6374) with Solidity.

[2019-03-25 19:27] #1671 closed

[2019-03-26 03:43] daniyarchambylov commented on #1846
@gnidan will do

[2019-03-26 06:11] az-ms commented on #1845
@CruzMolina

Thank you for your input. I have verified this and it works on web3@1.0.0-beta.37.
And I also find my original issue may be also related the version compatibility.
Now web3@1.0.0-beta.37 is installed, but when I use httpheaderprovider (https://github.com/EthereumEx/httpheaderprovider) as the https provider, the migration always doesn't take place on truffle 5.

It seems that issue is

[2019-03-26 08:40] eggplantzzz commented on #1799
Understood, thanks @marcelomorgado!

[2019-03-26 08:40] #1799 closed

[2019-03-26 10:50] eggplantzzz commented on #1001
@sleepingevil So that is currently the correct behavior when a require fails. So if you want to test it, you could put in a try/catch and test against the error that is thrown. So it would be something like this...
[code]
I hope that helps!

[2019-03-26 10:55] eggplantzzz commented on #1668
@Muhammad-Altabba So `truffle install` relies on ethPM which is in kind of a strange, unknown state right now. However, I can successfully run `truffle install zeppelin` on my project. And as @gnidan mentioned, in the near/mid future we will be doing some more work to hopefully get this stuff ironed out!

[2019-03-26 12:06] ErikAbele commented on #1824
Fix confirmed – thank you, @CruzMolina !

[2019-03-26 13:47] marcosmartinez7 commented on #1001
@eggplantzzz No, thats not the correct behaviour in Solidity. Also, there is no try-catch block in Solidity. The code that youre posting here is a js test.

[2019-03-26 14:03] CruzMolina commented on #1845
Oh wow, yes I would expect a pkg using web3@0.17.0-beta to act wonky w/ truffle 5.

Glad we were able to narrow this down. Closing, but please feel free to re-open or create a new issue if something comes up!

[2019-03-26 14:03] #1845 closed

[2019-03-26 17:02] jklepatch commented on #1790
I had a similar idea but to store just the deployments (date and address of each deployments) in S3. But I guess it makes more sense to store the whole artifact file. Maybe that it would make more sense as a truffle plugin instead of a feature of Truffle?

[2019-03-27 09:41] sleepingevil commented on #1001
@eggplantzzz: @marcosmartinez7 is right. This is not the expected behaviour. [ERC20 specification](https://eips.ethereum.org/EIPS/eip-20) requires the transfer method of a token to:
- Throw if the sender doesn't have sufficient balance
- Return a boolean

I'm trying to test the return value in this case, not the exception thrown.

According to the [throw testing documentation](https://truffleframe

[2019-03-27 14:31] eggplantzzz commented on #1001
@marcosmartinez7 Ah yes you are right, I did not see the Solidity and assumed it was a js test.
From the Solidity docs it states that an exception occurs when the value in a require statement evaluates to `false`. https://solidity.readthedocs.io/en/v0.5.7/control-structures.html#error-handling-assert-require-revert-and-exceptions
Am I missing something?

[2019-03-27 17:36] gnidan commented on #1694
Since this is resolved and since #1813 is a better representation of the root issue, closing this in favor of that. Thanks for chiming in!

[2019-03-27 17:36] #1694 closed

[2019-03-27 17:41] gnidan commented on #1695
There is some potential trickiness around making sure that Truffle can find the corresponding node module for the plugin. At the user-level, it'd make most sense for installed plugins to exist globally, but we'll have to double-check that the current implementation supports that gracefully (or even supports local installations for globally configured plugins)

[2019-03-27 17:42] gnidan commented on #1695
@CruzMolina just mentioned a _really sweet idea_ of auto-downloaded plugins. Should probably consider opening that as a separate issue, though, if we decide to go that route.

[2019-03-27 17:43] gnidan commented on #1696
Good find! Feel free to open a PR to change [this file](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/templates/example.js)!

[2019-03-27 17:48] gnidan commented on #1700
Looks like this can be closed! Thanks for raising the issue @amankakar. Let us know if you run into any other trouble.

[2019-03-27 17:48] #1700 closed

[2019-03-27 17:50] gnidan commented on #1704
Following up again: anyone have reproduce steps for this? Or can anyone confirm whether or not the problem still exists on more recent versions of Truffle? Thanks!

[2019-03-27 17:53] eggplantzzz commented on #1699
Turns out this is a geth issue.
https://github.com/ethereum/go-ethereum/issues/16846

[2019-03-27 17:54] gnidan commented on #1707
This would be great! But it's tricky and would constitute a breaking change, were it to be default. Have you tried configuring Mocha via Truffle's config (see docs [here](https://www.truffleframework.com/docs/truffle/reference/configuration#mocha))? It might work that way, without a change to Truffle itself.

[2019-03-27 22:47] CosminNechifor commented on #1341
Happened to me as well while doing refactoring, because I left one of the contracts constructor internal. When a contract constructor is internal it will make the contract an Abstract Contact which can't be compiled. Hope this will help someone.

[2019-03-28 03:11] w5pand commented on #1655
I have the same question,and i see "Ganache-cli" supported "EIP-170",but i prefer "Gananche".
Is there a plan to add a setting to support fo "EIP-170" in "Gananche"?
It would be nice to have this setting.

[2019-03-28 03:56] xiongzhend opened #1861 "Transaction has been reverted by the EVM"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Simple contract, but got this issue

Transaction has been reverted by the EVM

## Actual Results

Hi, everyone! I create a very simple contract as follow:

    pragma solidity >=0.4.24 <0.6.0;
    contract Test {

    // There is minimum and maximum bets.

[2019-03-28 16:45] jflatow commented on #700
This is still an issue, why are you automatically closing all issues after 7 days?

[2019-03-28 17:41] RaynHarr commented on #48
I am getting stuck at the unbox command, any ideas would be much obliged:
![Screen Shot 2019-03-28 at 1 25 16 PM](https://user-images.githubusercontent.com/39592448/55180071-35ed5500-515f-11e9-99d7-61c477e82732.png)

[2019-03-28 17:42] gnidan commented on #700
(We have a 90 or 180 days policy to mark issues as stale. If there are no comments within 7 days of an issue being marked stale, then it gets closed)

[2019-03-28 17:57] kseniya292 commented on #1785
@CruzMolina All the tests are finally passing! I removed the `chai.assert` declaration, and removed `bn-chai` and refactored my tests to use `should.equal` rather than `should.eq.BN`. Thanks again for your help!

[2019-03-28 18:13] wbt commented on #1728
@CruzMolina These are different issues, with incorrect totals being reported in different places.
The [Ganache issue](https://github.com/trufflesuite/ganache/issues/1131) is that the account balance and transaction account *shown in Ganache* is **temporarily** incorrect while a set of transactions is processing, and the user has no way to know the display is currently incorrect and just needs a fe

[2019-03-28 18:18] CruzMolina commented on #48
Hey @RaynHarr, can you see if `npx truffle@5.0.2 unbox pet-shop` works?

[2019-03-28 18:19] CruzMolina commented on #1785
Great! Glad to help!

[2019-03-28 19:40] eggplantzzz commented on #1818
Looks like our very own @CruzMolina has updated the output! Thanks for all the good suggestions @wbt.

[2019-03-28 19:41] #1818 closed

[2019-03-28 19:43] eggplantzzz commented on #1813
So we provided a fix for this in [version 5.0.10](https://github.com/trufflesuite/truffle/releases/tag/v5.0.10) that was just released. You should be able to get away with using babel-register without specifying the `ignore` option. Try it out and let me know if there are still some problems to address. Thanks!

[2019-03-28 19:43] #1813 closed

[2019-03-28 22:18] RaynHarr commented on #48
Wow, @CruzMolina ! That worked, thanks! What did I do exactly?

[2019-03-28 22:23] CruzMolina commented on #48
Nice. Have you tried uninstalling and installing truffle? (`npm uninstall -g truffle && npm i -g truffle@5.0.2`)

`npx` is a package runner that temporarily downloads an npm package into a local cache and runs your package from there (https://www.npmjs.com/package/npx)

[2019-03-28 22:26] CruzMolina commented on #48
Some users have reported issues in the past after using `sudo` to install and uninstall truffle, although maybe that's not something you've done.

Are you using a node version manager like `nvm` or `n`? Just trying to think off hand would else could be causing your issue.

[2019-03-29 14:05] RaynHarr commented on #48
I did try to uninstall and reinstall, but was getting same result. 'Sudo' and 'nvm' or even 'n' are all not in my lexicon at this point, to show you how green I am. I must be missing something really basic and fundamental because I can't find anything on google about this and you're the first and only person to reach out after hours of scouring for some sort of clue. I really appreciate the quick

[2019-03-29 14:46] CruzMolina commented on #48
Huh. What version of node & npm are you using?

I can tell you're on a MacBookPro (I am too! macOS High Sierra 10.13.6), although I doubt what you're encountering is OS-specific.

Meanwhile, instead of having to use `npx` to download & then run truffle every time, you should be able to `npm i truffle@5.0.2` locally and then run `npx truffle <whateverCommand>`. Actually, I'd be interested in seeing

[2019-03-29 15:50] RaynHarr commented on #48
node 10.15.3 and npm is 6.4.1. Using Sierra 10.12.6. I'm not entirely postiive I understand how to do it locally, but here's what I just tried, hopefully this provides some insight:
![Screen 1](https://user-images.githubusercontent.com/39592448/55245067-cdfb4500-5218-11e9-8529-e61ac972df0f.png)
![Screen 2](https://user-images.githubusercontent.com/39592448/55245068-cdfb4500-5218-11e9-999c-667d1bbd

[2019-03-29 15:55] mrwillis opened #1864 "Warn if both truffle-config.js and truffle.js is provided."
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.
There should be a warning if both truffle-config.js and truffle.js are provided when running truffle commands.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Ex

[2019-03-29 15:56] adrianmcli commented on #1864
Sounds pretty sensible. Would love to see a PR, @mrwillis.

[2019-03-29 15:58] mrwillis opened #1865 "HDWalletProvider exits without warning if `http/https` is not provided in front of provider URL"
- [ x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Use `HDWalletProvider` 1.0.2 and omit the `https://` for the provider URL. You'll get

[code]

and then it exits without any error. Then include the https:// and it works fine.

## Expec

[2019-03-29 16:21] mrwillis commented on #1864
wrote a draft here https://github.com/trufflesuite/truffle/pull/1866

[2019-03-29 16:26] CruzMolina commented on #48
Thanks for sharing that!

Looks like saving locally w/ npm & accessing the local `node_modules` truffle works.

I suspect something is incorrectly configured w/ npm global installations.

This troubleshooting tutorial _might_ be what you need: https://medium.com/@jagatjyoti.1si13cs040/npm-g-install-npm-package-not-working-as-desired-why-why-why-19795abf0b59

This should get you back on track and m

[2019-03-29 17:36] gnidan commented on #1835
This must be released, then? Closing until I hear otherwise!

[2019-03-29 17:36] #1835 closed

[2019-03-29 23:12] RaynHarr commented on #48
I'm a little confused. (a lot really) I'm staring at the 'compilation failed' script at the bottom. Am I missing something? Or is that where the article link you provided is supposed to help troubleshoot me out? I have to admit, the article is also going way over my head. Wondering if there's a more basic tutorial I should be going through to have a better understanding of what exactly is going on

[2019-03-29 23:20] CruzMolina commented on #48
No problem @RaynHarr !

I should have clarified, that compilation error you saw at the bottom of your screenshot has to do with a missing semi-colon at the end of a statement in the smart contract you're trying to migrate.

I was more just trying to troubleshoot why truffle isn't working for you globally once you `npm i -g truffle`.

I'm assuming you've taken a look at the pet shop tutorial (https

[2019-04-01 11:57] nikita-fuchs opened #1869 "Not writing "networks": {} in artifacts if contract has no constructor"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

In the `.json` artifacts, the `network:{}` information is not written if the contract has no constructor, although migration is displayed as successful. Therefor, it's impossible to call a function, truffle-contract always says the contract is not

[2019-04-01 13:18] imbenwolf opened #1870 "truffle-solidity-loader not running migrations anymore"
---------------------------

## Issue

When using truffle-solidity-loader like in the documentation of github, it is compiling the contracts correctly, but not running the migrations.

## Steps to Reproduce

Setup truffle-solidity-loader like in the documentation and import a solidity contract in your code.

## Expected Behavior

Truffle migrations should run.

## Actual Results

Truffle migration

[2019-04-01 13:26] devnasim opened #1871 "400 Bad Request on http://127.0.0.1:9545/ while truffle develop"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2019-04-01 13:27] #1871 closed

[2019-04-01 13:54] eggplantzzz commented on #1869
@nikita-fuchs I couldn't successfully duplicate your problem locally. Do you have a codebase that you could point me to that might help me reproduce the problem?

[2019-04-01 15:47] imbenwolf commented on #1870
seems to be because of the --from change. address is still being provided when migrating but it should be omitted

[2019-04-01 16:03] imbenwolf commented on #1870
problem seems to be here: https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/commands/migrate.js#L149

[2019-04-01 16:05] imbenwolf commented on #1870
downgrading to 5.0.8 to solve problem temporarly

[2019-04-01 16:26] imbenwolf commented on #1870
breaks https://truffleframework.com/docs/truffle/reference/configuration#networks "from" configuration

[2019-04-01 17:26] imbenwolf commented on #1870
fix for yarn by adding the following to package.json

`"resolutions": {
    "truffle-solidity-loader/truffle-core": "5.0.8"
  }`

[2019-04-01 20:39] alanduw commented on #1341
Hello!

I would like to add one more case in addition to the following comment (One under **Update**, to be precise):

### Introduction

I was doing some reorganization inside my contracts directory. We know, that  in case one has a following contract _A_:

`
contract A {
    uint public thisOne;
}
`

then the Solidity compiler would generate a [default getter of the external visibility](https://s

[2019-04-02 07:37] tiennm-ibl commented on #473
solc version error, I changed the solc version in truffle-config file which is corresponding to the smart contract version.. it works!

[2019-04-02 08:02] GaoGGGQY commented on #797
you should edit the truffle-config.js file in your project path first if you wanna deploy the smart contracts.
such as:
module.exports = {
    networks: {
        development: {
          host: "localhost",
          port: 8545,
          network_id: "*"
        }
    }
};

I hope that could help you~

[2019-04-02 11:16] eggplantzzz opened #1873 "Update printing of web3 version"
It seems that in versions of Web3 greater than 1.0.0-beta.37 the `version` method has been removed. Upon upgrading Web3, update this [file](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/version.js) to account for this

[2019-04-02 11:33] jamesmorgan opened #1874 "Update documentation for Infura API v3"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Today, when deploying contracts to mainnet I have received the following error whilst using truffle deploy `Error: legacy access request rate exceeded`

## Steps to Reproduce

Deploy a new contract to main.

## Expected Behavior

No exceptions

##

[2019-04-02 13:12] eggplantzzz commented on #1873
UPDATE: It looks like the version method was removed from `require('web3')`. However, it seems like `new Web3(<url>)` still contains the version method.

[2019-04-02 13:54] jamesmorgan commented on #1874
TBH - looking at this again I guess it may be a HD wallet issue?

[2019-04-02 15:13] RaynHarr commented on #48
@CruzMolina Ahh yes, a true newb mistake. I also ran into another issue where the tutorial was having me name a function the same as the contract it resides in, which apparently Solidity doesn't allow anymore? I think I just need to find a better tutorial. I appreciate your walking me through this. Cheers!

[2019-04-02 15:33] CruzMolina commented on #48
Hmm, I believe the tutorial I linked has the contract code updated to not include a function of the same name. Maybe it's missing the expected constructor function for solidity 0.5.0 and above. I'll take a look.

Thanks for not giving up with this! This is valuable feedback. We really want to make it as easy as possible for newcomers to pick things up and get started.

[2019-04-02 15:42] RaynHarr commented on #48
Oh no! I meant the DAPP University tutorial I've been going through, I haven't walked through the entirety of the link you sent, I will give that a try and let you know how it goes!

[2019-04-02 15:46] CruzMolina commented on #48
Ah, I wondered that. Yeah, I just tested the tutorial code and it compiles fine on my end. Let me know if it's otherwise on yours.

[2019-04-02 17:18] geethuvm commented on #1309
Error: Truffle Box at URL https://github.com/truffle-box/pet-shop-box doesn't exist.

[2019-04-02 22:07] flockonus commented on #1403
using truffle 5 and web3>=1.0 it's not hard to get events for a contract on the last transaction; eg.

[code]

[2019-04-03 02:35] RaynHarr commented on #48
ok @CruzMolina so I was moving along swimmingly until I hit the 'truffle test' command where I ran into this error. I've done everything up to this point that the instructions asked. Any ideas?
![Screen Shot 2019-04-02 at 10 33 42 PM](https://user-images.githubusercontent.com/39592448/55448921-96cdc080-5597-11e9-8024-ca40ba50d21d.png)

[2019-04-03 05:40] CruzMolina commented on #48
@RaynHarr do you have Ganache running in the background?

[2019-04-03 08:26] adrianmcli commented on #1835
@CruzMolina Just wanted to ping you to check if this has indeed been fixed?

[2019-04-03 10:32] adrianmcli opened #1877 "Truffle-Decoder dist folder is outdated"
When working with `v2.0.3` of Truffle-Decoder, the `dist` folder is out-of-sync with the `lib` folder. Perhaps whoever published the last version forgot to do a compilation before releasing.

## Example

<img width="1440" alt="Screen Shot 2019-04-03 at 7 26 17 PM" src="https://user-images.githubusercontent.com/943555/55472186-67c25800-5646-11e9-8154-863675bf5cb6.png">

On the left side of the imag

[2019-04-03 13:48] RaynHarr commented on #48
Ay aya ay, another embarrassing mistake. Ya looks like it crashed on me in the background, I had it going for about a week so I'm not surprised. Would have helped to check to before throwing up another issue on here. Thanks @CruzMolina !

[2019-04-03 15:26] CruzMolina commented on #1835
hey @adrianmcli , this should be fixed in `truffle-compile`: `4.0.10`.

 🍾

[2019-04-03 15:46] eggplantzzz commented on #1874
@jamesmorgan Can you give some more details about what you were doing so we can try and reproduce/troubleshoot the problem? What version of Truffle are you using? I assume you are not using the most recent version as you need to be using a version of node >= `8.94`. Consider upgrading the most recent version of Truffle (and a more recent version of node :) ).

[2019-04-03 15:50] eggplantzzz commented on #1647
Is `web3.eth.getPastLogs` the method that we want to use here?

[2019-04-03 16:26] jamesmorgan commented on #1874
Ah ye, sorry I copy pasted into the wrong bit, this is my output, I am using a new version of truffle:
[code]
I was just deploying several fairly large contracts to mainnet from truffle - this is the command I used, I had 4 migrations to run in total `truffle compile; truffle migrate --network live;`

`live` is an option in my truffle config which looks like this:
[code]

I have been using truffle

[2019-04-03 17:38] gnidan commented on #700
Anyway, to follow-up here, is this actually still an issue? Can anyone comment? Thanks!

[2019-04-03 17:40] gnidan commented on #700
Actually, thinking about this a bit more, and with @CruzMolina's help, I'm pretty sure this is still a problem. Likely this will be fixed by #1718

[2019-04-03 17:41] gnidan commented on #1713
This might be fixed by the outstanding PR #1720, which needs to be revisited. Will add that to the to-dos for this week or next. Thanks all!

[2019-04-03 17:54] gnidan commented on #1722
@ryokomy have you figured this out? I'm closing this for issue maintenance, but feel free to comment and we'll reopen. Thanks!

[2019-04-03 17:54] #1722 closed

[2019-04-03 17:57] gnidan commented on #1723
Adding this to our backlog to look into. Hopefully we'll get this sorted out for you!

BTW did you try this using `pragma experimental ABIEncoderV2`? Not sure if it will make a difference, but it might. Thanks!

[2019-04-03 18:18] adrianmcli commented on #1835
Thanks, I'll give it a shot!

[2019-04-03 19:36] haltman-at commented on #1877
Says @gnidan: We're going to do a release tomorrow, he'll look at it then.

[2019-04-03 22:56] RaynHarr commented on #48
Ok, I think I've scrubbed all the newb errors up to this point. I've gotten the page up and running with all the dog pictures, however when hitting the adopt button, I'm getting these errors:
![Screen Shot 2019-04-03 at 6 54 16 PM](https://user-images.githubusercontent.com/39592448/55518437-0f895700-5642-11e9-86f5-57048009867f.png)
This look familiar?

[2019-04-03 23:19] CruzMolina commented on #48
What's your `truffle-config` setting? Are you using `truffle console`, `truffle develop`, do you have Ganache running in the background? Metamask connected to the proper network?

[2019-04-03 23:58] CruzMolina commented on #469
Hmm, so I don't believe this is a problem any more on the latest truffle (`v5.0.10`).

If anyone has a repo they could share to reproduce, I'll get right to debugging. 😎

[2019-04-04 00:10] CruzMolina commented on #521
Looks like this is still a problem. Current reproduction steps result in the following on truffle v5:

[code]

[2019-04-04 00:17] CruzMolina commented on #521
Ah, so using the following for `migrations/2_deploy_contracts.js` works.

[code]

Looks like we need/use the `Deployer` class to do a bunch of heavy-lifting during migrations.

[2019-04-04 03:18] caleteeter opened #1879 "Ability to have truffle migrate use a user defined configuration file."
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle currently relies on truffle.js or truffle-config.js for the configuration elements that are used for compliation and migrations.  Having a global configuration flag that would allow truffle to use user passed in configuration file path.

##

[2019-04-04 04:59] RaynHarr commented on #48
Ganache is running, Metamask hooked to port 7545, i'm using `npm run dev`. Truffle-config was untouched by me, but is showing same as metamask network:
![Screen Shot 2019-04-04 at 12 52 46 AM](https://user-images.githubusercontent.com/39592448/55530581-aa9b2480-5674-11e9-902c-1fcf34f6cf23.png)

[2019-04-04 05:52] CruzMolina commented on #48
Ah, so I believe you need to specify Metamask to connect to `network_id` 5777 (Ganache's default) in the Metamask settings somewhere.

If that doesn't work, try changing the `truffle-config.js` `network_id` to 5777 instead of `"*"`. (This shouldn't be the problem though).

Oh, so this probably means we need to update the Metamask screenshots to the new UI!

[2019-04-04 14:23] RaynHarr commented on #48
Hmm I'm getting the same error after trying both of those solutions. Is it related that my URL is 'localhost:3000' and not 127.0.1.7545 (shootin' in the dark here hahah)

[2019-04-04 14:24] RaynHarr commented on #48
Also, I'm using the Brave browser, not sure if that has any significance...

[2019-04-04 15:55] CruzMolina commented on #48
Hmm, no the local server being run on 3000 shouldn't be an issue.

With Ganache running, you could try doing a `migrate --reset`. Might simply be that you have artifact files that were migrated to an older instance/network of Ganache that you've since cleared (would happen by just closing down Ganache).

[2019-04-04 17:29] RaynHarr commented on #48
Ok! Slowly but surely, truffle migrate --reset worked. but now Im getting a failed transaction:
![Screen Shot 2019-04-04 at 1 26 16 PM](https://user-images.githubusercontent.com/39592448/55575762-a9eaa880-56dd-11e9-9ece-897708a73338.png)
![Screen Shot 2019-04-04 at 1 28 32 PM](https://user-images.githubusercontent.com/39592448/55575767-ad7e2f80-56dd-11e9-907e-e00210fc371b.png)

[2019-04-04 17:40] CruzMolina commented on #48
Hmm, hard to say without seeing your completed contract code.

Can you make sure your contract code is the same as the tutorials? I'm also assuming you were able to import your Ganache wallet key correctly and have ether to transact with.

[2019-04-04 19:21] RaynHarr commented on #48
Ok, I did it finally! I'm not entirely sure what the fix was, I'm pretty sure it had to do with my Metamask setup though. Somewhere between me switching to the main network and back to 7545 and selecting this Account 2 that I'm fairly certain wasn't there prior.
![Screen Shot 2019-04-04 at 3 18 37 PM](https://user-images.githubusercontent.com/39592448/55582305-26d14e80-56ed-11e9-87b2-089c5fe99cf3.

[2019-04-04 20:29] CruzMolina commented on #48
No problem, congrats!

[2019-04-04 20:30] #700 closed

[2019-04-04 22:06] munteanusasha commented on #906
my problem for that error was that I put '.' instead ',' in function return

[2019-04-05 08:24] AleG94 commented on #1698
+1

To reproduce the issue, try to deploy a simple erc20 and call the transfer function from deployer address.
Skipping dry run works.

[2019-04-05 13:11] eggplantzzz commented on #1874
@jamesmorgan I'm not familiar with this error either. Is your codebase available somewhere?

[2019-04-05 16:14] CruzMolina commented on #1870
Hey @imbenwolf ! Thanks for reporting this and sharing your findings. Will take a look. 🧐

[2019-04-05 18:18] bk201- opened #1881 "I don't get an error if the "truffle unbox" failed when executes the command from the hooks"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When I execute "truffle unbox react" the hook with "npm install" might be failed for instance I don't have python. I just can see in the console that setup was failed, but I missed the real reason for this

Here I tried to debug truffle-box
![image

[2019-04-05 19:45] haltman-at commented on #954
Welp, I was about to open an issue on this, but seems there already was an old one.

Going by what @gnidan says, we may not be able to change this so much (although the `res` thing is obviously a bug if that still happens, though I personally haven't observed that behavior), but if we're not going to change it our linker ought to be able to handle it, which currently it doesn't.  Currently as best

[2019-04-06 07:11] haltman-at commented on #1317
OK, I've created PR #1882 to address this issue (at least partially).  It's not perfect, but I think it should be good enough for the practical cases discussed here.  Note that it only alters line-based breakpoints; if you manually advance onto a normally-skipped node with `;`, and then place a node-based breakpoint with a bare `b`, sorry, that one's not getting adjusted (at least not as the PR is

[2019-04-06 11:20] rori4 opened #1883 "Can't Install Contracts from EthPM with Truffle 5.0.11"
- [ YES] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
---------------------------

## Issue

I am trying to use truffle install on the latest truffle 5.0.11. I know that we have a new EthPM however when I try to install whatever package nothing happens in the console. I just waits a little and after that nothing happens. No new folder no

[2019-04-07 08:18] kingvinay110 opened #1884 "getting the following errors"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

1.
Invalid member of stdlib
Using network 'development'.

2.
Uncaught (in promise) BigNumber Error: new BigNumber() not a number: [object Object]

## Steps to Reproduce

### Source Code :::
https://github.com/a

[2019-04-08 03:38] alsco77 opened #1885 "truffle migrate output only shows contract deployments, not method calls"
- [] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Console output after running `truffle migrate --reset` only displays the output for `.deploy()` calls and not deployed contract interaction. The transactions themselves continue to get sent in the background

## Steps to Reproduce

 - Create migrati

[2019-04-08 08:04] tiguere commented on #1049
I am having the same problem on mac os using the same syntax. Does anyone have any suggestions for pulling npm package from a different directory

[2019-04-08 10:47] eggplantzzz commented on #1881
@bk201- Thanks for the heads up! I'm getting a PR in for it now.

[2019-04-08 10:50] mallaakash commented on #1038
I am trying the code .
const Web3 = require('web3');
const TruffleContract = require('truffle-contract');
const AdoptionArtifact = require('./build/contracts/BaseApp.json');
const web3Provider = new Web3.providers.HttpProvider("http://127.0.0.1:7545");

(async () => {
    const Adoption = TruffleContract(AdoptionArtifact);
    Adoption.setProvider(web3Provider);
    const instance = await Adoption

[2019-04-08 10:55] mallaakash commented on #1038
`const Web3 = require('web3');
const TruffleContract = require('truffle-contract');
const BaseApp = require('./build/contracts/BaseApp.json');
const web3Provider = new Web3.providers.HttpProvider("http://127.0.0.1:7545");

(async () => {

    const web3 = new Web3(web3Provider);
    account = web3.eth.accounts[0]
    console.log(web3.eth.accounts[0])
    const MetaCoin = TruffleContract(BaseApp);

[2019-04-08 11:02] eggplantzzz commented on #1884
@kingvinay110 It looks like you are not on the most recent version of Truffle. Are you able to upgrade to Truffle version 5.0.11? Also, could you provide us with some detailed steps that will cause the error?

[2019-04-08 18:42] haltman-at opened #1889 "ABIs in artifacts are sometimes missing signatures"
## Issue

Under certain conditions, the elements of the `abi` member of the Truffle artifact will be missing their `signature` element.  This can occur even for concrete contracts (not just interfaces and abstract contracts).  (And, really, there's no reason not to include them even for contracts that aren't concrete.)

(Note that @gnidan suggests that actually the `signature` element should *alwa

[2019-04-08 20:45] nachomazzara commented on #381
@bashalex works!

But it would be great to have it fixed again. Its feel really bad to use `myContract.contract....`

[2019-04-08 21:27] gnidan commented on #1877
This should be fixed now thanks to #1888. Closing!

[2019-04-08 21:27] #1877 closed

[2019-04-09 02:13] pieterhartel opened #1891 "Feature Request: add time property to truffle-config.js"
## Issue

`Ganache-core` and `ganache-cli` have options to set a specific time stamp on the genesis block, but there is no way to specify this in a `truffle-config.js`

## Expected Behavior

Adding a `genesis_time` property as suggested below would enable `truffle test` to start the default `ganache-core` with the appropriate time.

[code]

[2019-04-09 11:01] helderjnpinto opened #1893 "issue import in vue hdwallet latest version"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
---------------------------

## Issue
problem with import truffle-hdwallet-provider@1.0.6 in one vue app, with this version "truffle-hdwallet-provider": "^1.0.0-web3one.0", works.

What the issue is, in broad strokes.

## Steps to Reproduce
vue create `appname`
npm i truffle-hdwallet-pro

[2019-04-09 11:29] helderjnpinto commented on #1893
@1.0.0-web3one.3 works like web3one.0, on version 4 not work any more

[2019-04-09 16:43] haltman-at commented on #1317
This has now been merged and released, so I'm closing it.  Let me know if it's not sufficient.

[2019-04-09 16:43] #1317 closed

[2019-04-09 16:54] adamgall opened #1895 "Migration against infura erroring during `Reporter.postDeploy()`"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue. -> https://gitter.im/ConsenSys/truffle?at=5caccc2225686a7dc301cab4

---------------------------

## Issue

Getting errors thrown from this line when doing migrations and using `HDWalletProvider` connected to infura nodes.

[code]

Migration hangs at this point.

This was likely introduce

[2019-04-09 16:59] CruzMolina commented on #1895
Hey @adamgall , literally just noticed this error on my end while looking into other `truffle-hdwallet-provider`-related issues!

Hoping to fix this shortly 🤞

[2019-04-09 17:19] adamgall commented on #1895
For anyone else out there in the meantime, downgrading to `truffle v5.0.10` allowed me to run migrations against infura without issue.

[2019-04-09 19:57] CruzMolina commented on #1746
@iszhangli , hopefully you've been able to figure this out, but perhaps setting the provider will make things work.

[code]

[2019-04-09 20:02] facuspagnuolo opened #1896 "Misleading error message while trying to compile with an unsupported version"
## Issue
Misleading error message while trying to compile with an unsupported version

## Steps to Reproduce

1. Start a new project with truffle 5.0.5
2. Modify your `truffle.js` or `truffle-config.js` file to compile your contracts with `solc 0.5.3`
3. Create a any new contract **using `pragma solidity 0.5.7`**
4. Run `npx truffle compile`

## Expected Behavior

To throw a more descriptive and a

[2019-04-09 20:09] CruzMolina commented on #852
@sushanth3366 , hopefully you were able to figure this out, but if not can you try setting the provider?

Example:
[code]

[2019-04-09 20:22] CruzMolina commented on #1896
Hey @facuspagnuolo! can you try again after upgrading to truffle 5.0.10? I believe we added better erroring to handle your exact scenario, would love to know if it works as expected 🤞

[2019-04-09 21:09] CruzMolina commented on #1895
so it looks like this is a known issue when polling from both geth & parity nodes (paritytech/parity-ethereum#8788, paritytech/parity-ethereum#6334, INFURA/infura/issues/43). I've noticed locally it's a sporadic error, but happens often enough to ruin the migrations experience. PR incoming.

[2019-04-09 21:20] CruzMolina commented on #1810
Just to clarify (in case it helps anyone), `truffle-hdwallet-provider` and truffle in general is currently compatible w/ web3.js up to 1.0.0-beta.37.

[2019-04-09 22:24] CruzMolina commented on #552
Closing since this no longer appears to be an issue on the latest version of truffle (#1878). Happy to reopen if it still is!

[2019-04-09 22:24] #552 closed

[2019-04-09 23:45] CruzMolina commented on #1870
Ah, I see what happened. Thanks again for sharing your findings! Should have a fix in soon.

[2019-04-10 00:42] facuspagnuolo commented on #1896
@CruzMolina I tried but I'm getting the same error message :(

[2019-04-10 03:20] CruzMolina commented on #1896
Ah, well thanks for checking. Will look into this.

[2019-04-10 06:15] EFS86340 commented on #1655
Hi, I was trying to implement a decryption contract of AES algorithm and write the solidity code according to an C implementation version. And I encountered the same problem as below.
[code]
I used the solc compiler to generate the OPCODE
[code]
and this is the wc output of the compiled OPCODE

### Environment:
- MacOS 10.14.4
- Ganache CLI v6.4.1 (ganache-core: 2.5.3)

I have tried to use ```--al

[2019-04-10 07:29] pieterhartel commented on #1843
There is a workaround for this issue that is actually really simple. It consists of dispensing with the second migration script. Instead the contract is deployed in the test script. For details and an example see: [https://github.com/trufflesuite/ganache-core/issues/388#issuecomment-480951656](url)

[2019-04-10 07:31] pieterhartel commented on #1329
There is a workaround for this issue that is actually really simple. It consists of dispensing with the second migration script. Instead the contract is deployed in the test script. Then exceptions can be caught, await works etc.

For details and an example see: [https://github.com/trufflesuite/ganache-core/issues/388#issuecomment-480951656](url)

[2019-04-10 17:38] gnidan commented on #954
Next steps here involve fixing Truffle's handling of these long link reference names. Work to revise the link reference format is still ongoing. Thanks all!

[2019-04-10 17:45] gnidan commented on #954
@haltman-at says: in order to handle this situation, we need to know all library names upfront, and we process them in length-decreasing order to match link references to which libraries they refer.

[2019-04-10 17:51] gnidan commented on #1724
Is this still an issue? We can improve the error handling here to notify unsupported web3 versions. Thanks!

[2019-04-10 17:56] gnidan commented on #1729
What an issue to find!

We'll have to look into this. Hopefully some investigation will identify next steps / workarounds / other remediations.

Thanks for raising this!

[2019-04-10 23:25] CruzMolina commented on #1896
Ohhhh, I see. This is a different error. Thanks for reporting @facuspagnuolo !

[2019-04-10 23:54] CruzMolina commented on #1896
Wow, okay, so it turns out this is a solc error reporting bug (ethereum/solidity/#6329) that's been fixed in 0.5.7. For solc versions 0.5.2 thru 0.5.6, the parsing error was being reported on the wrong line. Will be updating the solc error handling on our side to address this.

[2019-04-11 01:33] carlosescom commented on #1574
Same here, any solutions yet?

[2019-04-11 11:44] eggplantzzz commented on #1790
@EdsonAlcala Thanks for the suggestion! We're currently building a new architecture for managing artifacts and will keep it in mind.

[2019-04-11 11:52] eggplantzzz commented on #1567
Closing this as I do not believe it is an issue on the latest version of Truffle.

[2019-04-11 11:54] eggplantzzz commented on #1449
Closing this with the assumption that this is no longer an issue on the latest Truffle.

[2019-04-11 11:54] #1449 closed

[2019-04-11 15:39] breakpointer commented on #943
I'm getting this issue as well but with my own contracts. I have run `migrate`, the console says it migrated my contracts, yet trying `<ContractName>.deployed()` throws a `ReferenceError`
[code]
Is there a `require` step I'm missing? I don't see [any mention in the docs](https://truffleframework.com/docs/truffle/getting-started/interacting-with-your-contracts)

[2019-04-11 15:43] breakpointer commented on #1394
This same thing happened to me. It was not obvious/stated that I should unbox in an empty directory (actually, I assumed unboxing would create it's own directory). As a result, all the `boxed` contents were dumped into my based directory and required manual cleanup. 🤦‍♂️

[2019-04-11 15:49] breakpointer commented on #943
Running `networks` shows that it's there too... yet... still I get a `ReferenceError`
[code]
...
[code]
Very strange.

[2019-04-11 15:56] CruzMolina commented on #943
Hey @breakpointer , which version of truffle are you using?

[2019-04-11 16:00] CruzMolina commented on #1394
Sorry to hear that @breakpointer , can you share the tutorial or documentation you were looking at?

Btw, as of truffle 5.0.12, there should be a prompt when attempting an unbox into a non-empty directory.

[2019-04-11 17:05] breakpointer commented on #943
Hi @CruzMolina, here are the versions. Thanks for following up.
[code]

[2019-04-11 17:13] CruzMolina commented on #943
Huh, unable to reproduce on my end. Is the cause of this related to the comment you left in the other issue (unboxing in a different directory than you expected)?

[2019-04-11 17:16] breakpointer commented on #943
Yeah, I'm unable to reproduce now on my end either. I'm guessing the actions I took to resolve the issue was to kill/restart the `truffle develop` console a couple times.

This is unrelated to my other comment about the unboxing experience.

[2019-04-11 18:30] #1896 closed

[2019-04-11 22:06] #1096 closed

[2019-04-11 23:21] #1870 closed

[2019-04-12 13:40] axic commented on #1647
It seems to be that web3.js renamed `web3.eth.getLogs` to `web3.eth.getPastLogs`:
- https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getlogs
- https://web3js.readthedocs.io/en/1.0/web3-eth.html#getpastlogs
- https://github.com/ethereum/web3.js/blob/cd32de24bf8751ab0d70f892dd968bbff25d7796/packages/web3-core-method/src/methods/GetPastLogsMethod.js#L34

@nivida @frozeman was there any good reason

[2019-04-12 15:02] lundrimazemi commented on #1726
I still get the same error when I try to test my contracts. is there any solution. Please Help !!!

[2019-04-12 15:21] wbt commented on #1726
@lundrimazemi Uncomment the contents of truffle-config.js.

[2019-04-12 15:22] lundrimazemi commented on #1726
/**
 * Use this file to configure your truffle project. It's seeded with some
 * common settings for different networks and features like migrations,
 * compilation and testing. Uncomment the ones you need or modify
 * them to suit your project as necessary.
 *
 * More information about configuration can be found at:
 *
 * truffleframework.com/docs/advanced/configuration
 *
 * To deploy via Infura

[2019-04-12 15:26] lundrimazemi commented on #1726
still it is not working, or i should uncomment something else

[2019-04-12 15:31] wbt commented on #1726
Try following the exact steps in the original post above, except uncomment the contents of truffle-config.js between steps 6 and 7.  Just before you start step 7, the config file should match [this](https://github.com/wbt/metacoin-box/blob/66b4c7d09ec10e4accbe370a79b9391e06faf863/truffle-config.js).

[2019-04-12 15:38] lundrimazemi commented on #1726
Thank you sir @wbt

[2019-04-12 16:20] axic opened #1906 "Support Yul as a language"
With [Solidity 0.5.7](https://github.com/ethereum/solidity/releases/tag/v0.5.7) it is possible to compile Yul contracts via "Standard JSON".

It follows the very same interface as compiling Solidity contracts and as a result it should be simple enough to support it in Truffle.

Please let me know about any questions here, I'm happy to answer any.

[2019-04-12 16:24] axic commented on #1206
@cgewecke @gnidan I think this is the first step here.

[2019-04-12 16:34] wbt opened #1907 ""Truffle Compile" buffers output instead of realtime listing"
## Issue
When running `truffle compile`, the output which says which contract is being compiled gets buffered up and displayed all at once instead of showing realtime progress, which could help distinguish between a hung process likely to never complete and one that is progressing along as expected.

## Steps to Reproduce
1. Choose a truffle project with many and/or complex contracts.  `cd` to thi

[2019-04-12 22:52] haltman-at commented on #1889
OK, this may just not be a real problem.  Especially with #1908, which just computes the signatures if they're not already present.

[2019-04-12 23:03] flockonus opened #1909 "Truffle - test: Cannot create property 'negative' on number '1'"
## Issue

There seems to be some terrible bugs on the current big number implementation, and it's breaking tests.

## Steps to Reproduce

My case was during a test, but i can also do it using `truffle develop` with a simpler case:

[code]

Seems to be some crazy internal error. [Possible reference](https://github.com/ethereum/web3.js/issues/2171)

## Expected Behavior

Not an internal error

## En

[2019-04-13 04:22] aosanya commented on #1704
Incase your problem stems from the javascript side, I was getting the same error and solved it by changing:

 assert.equal(policySummary.payout.toNumber(), policySummary.premium.toNumber() * 1.5, "Final Payout Value is wrong")

To
let payout = parseFloat(policySummary.payout) // big wei number
let premium = parseFloat(policySummary.premium) * 1.5
assert.equal(payout, premium, "Final Payout Value i

[2019-04-13 22:47] tarekskr opened #1910 "Request for `maxGas`"
Truffle 5.0 brought `autoGas` and `gasMultiplier`, which are really great. It's missing however a way to set the maximum amount of gas price to pay for a transaction.

I am proposing adding a new parameter called `maxGas` that would be used as the transaction gas if the automatically computed value exceeds it.

[2019-04-14 10:08] guylando opened #1911 "unexpected or undocumented truffle develop console objects persistence after restart"
## Issue

Deploying TestContract on truffle develop console worked and `await TestContract.at(TestContract.address)` worked.
Then after truffle develop console restart running: `await TestContract.at(TestContract.address)` again returns `Error: Cannot create instance of TestContract; no code at address 0x...`.

I searched online if truffle develop console does not persist something but could not f

[2019-04-15 08:10] W3stside commented on #1704
Hey sorry guys was away on vacation and never had a chance to come back around here - I've been unable to reproduce it so honestly not sure how to help out - if I come across this issue again I'll better document steps to reproduce and post. Thanks @gnidan

[2019-04-15 14:45] PaulRBerg commented on #1895
Why has this been closed? Using the latest version of truffle, that is `v5.0.12`, I still have this issue.

[2019-04-15 14:47] adamgall commented on #1895
@PaulRBerg My fault, this is probably poor GitHub etiquette on my part.

I believe that version `v5.0.13` will contain the fix.

@CruzMolina what's the process for closing issues which contained merged fixes? Do you go through and close them after pushing a release?

[2019-04-15 15:32] CruzMolina commented on #1895
@adamgall yup, we typically do issue grooming after release. This should be released in `v5.0.13` by end of week. Keeping this open for now.

[2019-04-15 18:00] wbt commented on #1587
This remains an issue; it's unclear what version to use.
Today, `npm install truffle-contract` reports successfully installing [v`4.0.11`](https://github.com/trufflesuite/truffle/blob/a8b49fdfc3d77b59ee4b16551f6e645b24e19541/packages/truffle-contract/package.json#L3).

[2019-04-15 18:22] CruzMolina commented on #1587
IIRC, packages are published & semver'd separately from the cli. Would be clearer if the docs were updated.

[2019-04-15 19:14] wbt opened #1912 "Security audit fail due to fixed tar dependency"
## Issue
Installing the latest truffle-contract produces security audit failures.

## Steps to Reproduce
0. Run `npm uninstall truffle-contract`
1. Run `npm install truffle-contract`
2. npm reports `+ truffle-contract@4.0.11`

## Expected Behavior
No more output after that.

## Actual Results
npm reports that it found vulnerabilities in the installed package.
`npm audit` gives details, such as:

I

[2019-04-15 23:17] CruzMolina commented on #1911
Hey @guylando , iirc, `TestContract.at` looks for the TestContract code on the blockchain. In your scenario where `truffle develop` has been restarted, that code isn't on the chain (no chain persistence), but `truffle-contract` under the hood can use the `TestContract.json` available in your `build/contracts` folder to access the previously deployed instance. You'll notice if you delete the build

[2019-04-16 09:27] guylando commented on #1911
@CruzMolina you mean that truffle develop has TestContract in autocomplete because of the json but it does not have its code on the blockchain and thus deployed() works but .at does not work?
Since the json has the contract code then why does truffle only take it partially for autocomplete and .deployed() and does not also put the code on the blockchain after restart?

[2019-04-16 16:03] CruzMolina commented on #1911
Interesting idea! I think the current plan is for `truffle develop` to be a "throw-away" chain that gets destroyed and refreshed on each restart, leaving it up to the user to migrate. However, I see how the current behavior of `contract.deployed()` is a bit confusing.

After looking into this a bit more, there _may_ be a way to either have a `truffle develop` migration not save to the actual json

[2019-04-16 16:31] #1746 closed

[2019-04-16 18:20] #1567 closed

[2019-04-17 03:56] haltman-at commented on #1889
OK, I think I'm just going to close this; I don't think there's any real issue here.

[2019-04-17 17:35] gnidan commented on #1730
Just following up here, is this still an issue? Let us know! Thanks!

[2019-04-17 17:36] gnidan commented on #1735
@d10r still interested in opening that PR? Doing issue maintenance and wondering what the status is here. Thanks!

[2019-04-17 17:42] gnidan commented on #1786
@ngyam this might be resolved in the last release (v5.0.12). Could you try upgrading and see if the problem is fixed?

[2019-04-17 17:43] gnidan commented on #1790
Adding this to the #1718 epic and moving this to Icebox for consideration as part of ongoing efforts. Thanks bringing this up! We'll see what we can come up with.

[2019-04-17 17:45] gnidan commented on #1795
Doing some issue maintenance: @Amxx is this still an issue on the latest version? Please let us know if that PR above fixed it for you. Thanks!

[2019-04-17 17:46] gnidan commented on #1803
Definitely we should support that! Will look into fixing this. Thanks for raising the issue!

[2019-04-17 17:49] gnidan commented on #1810
I'm a bit unclear what the problem is. Tried to assign labels that seem to match. I'll move this to our backlog so we make sure to circle back on it, but any additional information would be helpful! Thanks!

[2019-04-17 17:50] gnidan commented on #1827
Closing this for issue maintenance, since it seems like there isn't a bug or anything. Hopefully @CruzMolina's instructions are helpful. Let us know if you're still running into trouble and we'll be happy to re-open. Thanks!

[2019-04-17 17:50] #1827 closed

[2019-04-17 17:51] gnidan commented on #1832
Yep. This is a known limitation. Frustrating as heck, I know! I'll group this into #1718, since there's ongoing work there to address these problems. Thanks for bringing this up!

[2019-04-17 18:06] CruzMolina commented on #1810
FWIW @dblockunity , the `network_id` for the `ropsten` network in your `truffle.js` should be `3`, instead of `"*"`.

[2019-04-17 19:10] EdsonAlcala opened #1922 "Feature Request / Idea : Run only 1 specific migrations file"
I notice Truffle added support to run specific migrations file with the --from and --to options.

It would be nice to have an option --only, to just run an specific migration script file.

Thank you !

[2019-04-18 11:25] mscherer82 opened #1927 "truffle migrate does a "--dry-run" by default. Can't deploy on network"
I can't deploy on network anymore because dry-run is used by drefault. --skip-dry-run doesn't help.

Command I use:

`truffle migrate --reset --network=sokol`

Result I got:

[code]

Config:

[code]

* Operating System: windows
Truffle v5.0.13 (core: 5.0.13)
Solidity - 0.4.25 (solc-js)
Node v8.12.0
Web3.js v1.0.0-beta.37

[2019-04-18 13:55] julien51 commented on #1365
Still happening for us with truffle 5.0.13...

[2019-04-18 14:20] eggplantzzz commented on #1927
@mscherer82 Hey, yes this is a bug that we should have fixed in the next release. If you'd like to skip the dry run for now, you can add `skipDryRun: true` in your network config under `sokol`. That should skip it for you and should continue to run in the future.
With the next release you should be able to use both `skip-dry-run`(`--skip-dry-run` as a command line option) and `skipDryRun` on the c

[2019-04-18 14:34] mscherer82 commented on #1927
Thank you

[2019-04-18 14:57] eggplantzzz commented on #1909
@flockonus Thanks for the heads up! We'll keep this in mind and follow the BN issue that you linked above.

[2019-04-18 15:07] eggplantzzz commented on #1912
@wbt There has been a big discussion concerning web3 over the past few months. We would love to use the most recent web3 but there have been some big breaking changes in the last ~14 releases and they are too big for us to keep up with at the moment.

Hopefully we will be able to get all these resolved in the near future. You can check [this](https://github.com/ethereum/web3.js/issues/2684) out to

[2019-04-18 21:29] rogerioyuuki commented on #469
I also have this problem. I used a modified version of the [`updated`](https://github.com/trufflesuite/truffle/blob/d3bb42b047b9631508f12e3dd592342c78435a01/packages/truffle-compile/profiler.js#L15) function to debug this issue.

On line [42](https://github.com/trufflesuite/truffle/blob/d3bb42b047b9631508f12e3dd592342c78435a01/packages/truffle-compile/profiler.js#L42), it finds all contracts and c

[2019-04-18 22:12] yayajacky opened #1928 "truffle-hdwallet-provider 1.0.7 unable to deploy"
- [ x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When running `truffle migrate --network...`, the basic migration contract does not get deployed, and just hangs.
Reverting to truffle-hdwallet-provider 1.0.6 works

## Steps to Reproduce

1. Make a new empty truffle project
2. Point to ropsten/ri

[2019-04-18 22:17] CruzMolina commented on #1928
Hey @yayajacky !

What version of web3 do you have required in your project's `truffle-config.js`?

[2019-04-18 22:32] yayajacky commented on #1928
web3: 1.0.0-beta.37 (with truffle-hdwallet-provider 1.0.7)

[2019-04-18 22:34] yayajacky commented on #1928
Seems like 1.0.7 has "web3": "1.0.0-beta.37" as a direct dependency, where as 1.0.6 had it as a dev dependency

[2019-04-18 22:53] CruzMolina commented on #1928
Hmm, did some debugging and so far the issue seems isolated to `truffle-hdwallet-provider@1.0.7`. Looking into this.

[2019-04-18 23:16] haltman-at commented on #1365
Hi, would you mind posting the precise error message?  It doesn't seem possible that this exact *same* error would still be occurring, because `evm.addInstance` no longer attempts to destructure the `context` property of anything, but perhaps it could be a similar and related one.  I'd need to see the error message to have any idea.

Additionally, if you have more detailed reproduction steps, that

[2019-04-18 23:23] flockonus commented on #1909
Thanks @eggplantzzz , the workaround I'm using currently is:

[code]

[2019-04-19 04:04] CruzMolina commented on #1928
Bah. Looking like the cause of this was upgrading `web3-provider-engine`. It appears the API changed.

[2019-04-19 06:07] rgordon95 commented on #1696
Should be good to close as of latest release

[2019-04-19 06:15] gnidan commented on #1696
🎉thanks @rgordon95, closing this! @robertmagier can you confirm? Happy to re-open if need be.

[2019-04-19 06:15] #1696 closed

[2019-04-19 08:36] eggplantzzz commented on #1704
Ok thanks @W3stside. Closing this for issue maintenance.

[2019-04-19 08:36] #1704 closed

[2019-04-19 15:38] manmountain commented on #1659
I got the same issue with 5.0.13

Truffle v5.0.13 (core: 5.0.13)
Solidity v0.5.0 (solc-js)
Node v8.11.3
Web3.js v1.0.0-beta.37

[2019-04-19 16:10] CruzMolina commented on #469
Thanks for that info @rogerioyuuki , looking into this to. Hopefully there's a quick fix.

[2019-04-19 17:32] #1928 closed

[2019-04-19 18:11] CruzMolina commented on #469
@rogerioyuuki , I'm on macOS and using the `v5.0.13`, if I `truffle compile`, and then `truffle test`, the only contracts that are recompiled are any solidity unit tests (i.e. `TestContract.sol`).

Can you verify what the behavior is on your end when doing the above?

[2019-04-19 18:15] CruzMolina commented on #1568
Hey @maxsam4 , is this still an issue on `5.0.13`? (btw, `native` solc usage isn't enabled yet for solidity unit tests on `5.0.13` but should be in the next release [#1931]).

Currently on my end, when using solc-js to `truffle compile` and then `truffle test` in `5.0.13`, the only contracts that are compiled/recompiled are the sol unit tests.

[2019-04-19 19:31] wbt commented on #1922
Does setting --from and --to to the same value work for you?

[2019-04-20 13:23] marsrobertson opened #1935 "When running a single test, compile only the required files (to save time with large repo)"
- [x] I've asked for help in the [Truffle Gitter](https://gitter.im/ConsenSys/truffle?at=5cb24f22b34ccd69e7b31e2a) before filing this issue.

---------------------------

## Issue

Large repo, plenty of files.

I run a single test only.

All the files are compiling (takes more than a minute)

## Steps to Reproduce

Related to: https://github.com/kleros/kleros-interaction/issues/248#issuecomment-48

[2019-04-21 03:37] CruzMolina commented on #1935
Hey @marsrobertson! An alternative to your current workaround in kleros/kleros-interaction#248 (having only .sol files you'd like to test in `contracts`), is to `truffle compile` locally and then push all the build artifacts. That _should_  also produce the same behavior as your workaround.

#469 related.

[2019-04-21 11:31] Tammeny opened #1936 "Cannot read property 'replace' of undefined"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I got error like Cannot read property 'replace' of undefined when i using truffle debug.

## Steps to Reproduce

truffle debug tx

## Expected Behavior

debug

## Actual Results

Cannot read property 'replace' of undefined

## Environment
local cha

[2019-04-21 13:52] marsrobertson commented on #1935
Workarounds are complicated / burdensome.

Closing this one in favour of #469 (duplicate).

[2019-04-21 13:52] #1935 closed

[2019-04-21 16:00] CruzMolina commented on #1935
@marsrobertson tell me about it!

IIRC, there's not currently a way to make the compiler/artifacts record-keeping system smarter w/o pre-compiling everything. That said, there are efforts towards solving issues like this that I believe fall under the scope of #1718.

[2019-04-21 23:31] hadeelalseni commented on #1574
same here. :(

[2019-04-22 09:12] maxsam4 commented on #1568
@CruzMolina I don't think this is an Issue anymore.
At least I couldn't reproduce it today. I think it might be best to close this Issue for now. I'll reopen if I am able to reproduce this in future.

[2019-04-22 15:10] #1568 closed

[2019-04-22 16:08] wbt opened #1938 "Feature request: TruffleContract.version"
- [x] I've [asked for help in the Truffle Gitter](https://gitter.im/ConsenSys/truffle?at=5cbdcbc9b489bb6ed7a712da) before filing this issue.

---------------------------

## Issue
Due to the [semantic versioning](https://github.com/ethereum/web3.js/issues/2684#issuecomment-483266673) system going away [especially](https://github.com/ethereum/web3.js/issues/2679) with web3, I have been spending an

[2019-04-22 17:12] #1336 closed

[2019-04-22 17:58] rogerioyuuki commented on #469
@CruzMolina I think my problem might be Windows related.

Instead of running a single script similar of that updated function, I added a few `console.log` directly in my installed truffle `cli.bundled.js` to get more accurate information.

What I found is similar to what I described, with one further addition. I also found another type of path mismatch, but instead of absolute-relative mismatch, t

[2019-04-22 19:54] tcoulter commented on #1656
I wrote a quick test to see if `privateFor` was at least past down to the provider. It turns out, in certain cases it was: https://github.com/trufflesuite/truffle/pull/1940

From what I've found, if a parameter that web3 expects is added to the transaction options (like `from`) then `privateFor` is accepted and past down. Without `from` it'll be ignored.

[2019-04-22 21:06] benjamincburns commented on #1656
Chiming in because I didn't capture it well on the original ticket, but it's also worth pointing out the existence of `eth_sendRawPrivateTransacton`, which is analogous to `eth_sendRawTransaction`, but intended for use with, as you likely guessed by now, private transactions.

This means that when signing a transaction, `truffle-hdwallet-provider` and similar signing providers should check for the

[2019-04-22 21:21] wbt opened #1942 "MaxListenersExceededWarning in more complex dapps"
## Issue
In a more complex dapp with several smart contracts, truffle-contract v4.0.x produces a MaxListenersExceededWarning, reporting detection of a possible EventEmitter memory leak.
It appears the warning comes as result of a call to `setProvider()` on the TruffleContract object.

## Steps to Reproduce
0. `npm uninstall truffle -g.`
1. Complete the [Pet Shop tutorial](https://truffleframework.

[2019-04-23 15:37] fasidOnGit opened #1943 "Module not found 'child_process'"
I am getting this error while I try to run it with Next.js
My question is Can we use `truffle-hdwallet-provider` in front end apps? Or Is it strictly to use in the backend? I understand the mnemonics, private keys that I get to share in browser but whatsoever for testing purposes I wanted to use. this is  giving me the following error

[code]

My package.json
[code]
My web3.js file
[code]

[2019-04-23 17:46] ImmuneGit commented on #1680
It seems this issue came back again and those parameters do not influence at all now.
[code]

[2019-04-23 17:52] CruzMolina commented on #1680
@ImmuneGit , what version of `truffle-hdwallet-provider` are you using to deploy?

[2019-04-23 17:55] ImmuneGit commented on #1680
@CruzMolina
"truffle-hdwallet-provider": "^1.0.7"

[2019-04-23 17:58] CruzMolina commented on #1680
Ah, there's a bug in `1.0.7`, give `1.0.6` a shot 🤞

[2019-04-23 18:04] ImmuneGit commented on #1680
@CruzMolina Thanks a lot! It works now.

[2019-04-24 00:08] flockonus opened #1946 "debug error - TypeError: Cannot read property 'toTwos' of undefined"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

An error pops up when debugging against a contract in Rinkeby.

Sorry i can't share the source code yet, but the project is unpublished.

## Steps to Reproduce

Running console with:

[code]

## Expected Behavior

See the whole stack trace as expec

[2019-04-24 12:52] eggplantzzz commented on #1943
@fasidOnGit I think it should be no problem to use that on the front end. I think that I heard there might be something wonky about version 1.0.7. Try downgrading to 1.0.6 for the moment and see if there is any difference. I think 1.0.8 should be out by tomorrow which I think should include a fix. So if this is indeed the problem with your setup then it should be solved soon.

[2019-04-24 12:53] eggplantzzz commented on #1938
Thanks for the suggestion @wbt, seems like a good idea.

[2019-04-24 15:37] fasidOnGit commented on #1943
@eggplantzzz Nope, I was actually using 1.0.6 where I encountered this error with Next.js  then I upgraded the version to 1.0.7. Whatsoever I had no problem with a simple create-react-app.
But for what is worth, let's wait for 1.0.8 :eyes:

[2019-04-24 15:58] CruzMolina commented on #1943
Ah, @fasidOnGit , there might be something we need to change in `truffle-hdwallet-provider`'s webpack config. Will need to look into this. About to push out a release, so unfortunately this will have to wait until later this week. Meanwhile, can you share an example repo for debugging purposes?

[2019-04-24 17:43] eggplantzzz commented on #1861
@xiongzhend You are using an older version of Truffle. Are you able to upgrade to the latest version (v5.0.13) and let us know if it is still an issue?

[2019-04-24 17:45] eggplantzzz commented on #1865
@mrwillis Thanks for the heads up! It seems like a good suggestions. We'll check it out.

[2019-04-24 17:47] eggplantzzz commented on #1864
@mrwillis This should be fixed on the latest version of Truffle. Closing this, feel free to reopen an issue if it is still a problem.

[2019-04-24 17:47] #1864 closed

[2019-04-24 17:51] haltman-at commented on #1936
Hi, we're going to need more information here.  Could you provide the precise error message and more detailed reproduction steps?  Thank you!

[2019-04-24 17:51] eggplantzzz commented on #1873
Waiting for the Web3 discussion concerning the next stable version to resolve.
https://github.com/ethereum/web3.js/issues/2684

[2019-04-24 17:54] eggplantzzz commented on #1874
@jamesmorgan By the way, are you using a legacy infura endpoint? Sounds like it could be the result of you not using the new format? Let me know.

[2019-04-24 17:57] haltman-at commented on #1946
So, trying to make sense of what you posted -- I notice the prompt is blank.  What debugger command was it that you ran that caused this error?  What is `n`, step next?  (If you never entered anything, this would be the default.)  Thanks!

Also, while the original project is not public, it would be very helpful if you could perhaps provide a stripped-down example that still results in the bug.  In

[2019-04-24 17:58] eggplantzzz commented on #1879
@caleteeter Thanks for the suggestion, it seems like it could be a good idea! We'll look into it.

[2019-04-24 18:05] haltman-at commented on #1946
By the way, in the meantime you might want to try with truffle 5.0.13, just to check if that fixes it.

[2019-04-24 19:13] haltman-at commented on #1936
By the way, you also might want to try upgrading to Truffle 5.0.14 and seeing if that fixes the problem.  In fact, you should probably try that first.

[2019-04-24 21:50] CruzMolina commented on #469
Hey @rogerioyuuki , thanks again for looking into this.

Can you go into this section of the code locally https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-compile/index.js#L58-L79

and replace it with:
[code]

Hoping this might help. Unfortunately I don't have access to Windows to debug this locally.

[2019-04-24 21:52] CruzMolina commented on #469
An alternative suspect is in `truffle-resolver` and the `truffle test` resolver.

Here https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-resolver/fs.js#L13-L15
and here https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/testing/testresolver.js#L18-L20

[2019-04-24 22:01] CruzMolina commented on #1889
Reopening since `signature` presents appears to be an issue when validating artifacts in TFT.

[2019-04-25 00:30] flockonus commented on #1946
You guys are shipping at great speed 🚀

Running it against 5.0.14 made the issue go away and I could debug, thank you 🙇

[2019-04-25 00:30] #1946 closed

[2019-04-25 06:03] #1889 closed

[2019-04-25 07:44] adriendulong opened #1950 "Problem with Keccak when installing truffle"
I keep have the same issue as described in the #1584 with Keccack when trying to install Truffle.

I have tried with different versions, I also tried to compltely unbinstall glo--bally and install globally again, but I always get the same error when installing:

[code]

Is anyone getting the same issue?
Could it be related to the configuration of my node installation?

Thank you

[2019-04-25 09:24] nivida commented on #1873
Wouldn't it be possible for truffle to get the version directly from the Web3.js package.json?
``import {version} from '../package.json';``

[2019-04-25 12:08] praneethvallabha opened #1951 "truffle init problem"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2019-04-25 12:10] praneethvallabha commented on #1951
i'm getting the following error when i run the command: truffle init
truffle : The term 'truffle' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the
path is correct and try again.
At line:1 char:1
+ truffle init
+ ~~~~~~~
    + CategoryInfo          : ObjectNotFound: (truffle:String) [],

[2019-04-25 12:12] praneethvallabha commented on #1951
Environment
Operating system: Windows 10
node version (node --version):v10.15.3
npm version (npm --version):6.4.1

[2019-04-25 12:28] jamesmorgan commented on #1874
@eggplantzzz nope I was using the `V3` endpoint and I havent seen the error since reporting this. Maybe it was a networking issue which surfaced as the error?

[2019-04-25 15:50] CruzMolina commented on #1951
Hey @praneethvallabha, what version of truffle are you using?

[2019-04-25 16:39] CruzMolina commented on #1895
Closing since I believe this has since been resolved in `5.0.13`

[2019-04-25 16:39] #1895 closed

[2019-04-25 17:57] rgordon95 commented on #1951
did you install truffle globally? ( -g flag)

[2019-04-25 19:49] adrianmcli commented on #1951
To avoid issues with versioning, try doing:

[code]

That will make sure you are using the latest version (assuming you don't have installed binaries in your current folder).

[2019-04-25 21:59] rgordon95 commented on #1781
Where is this behavior found @projectoblio ? I cant replicate it on Remix IDE with the github URL you provided or my own, I only see gist handling.

[2019-04-25 22:00] praneethvallabha commented on #1951
I'm using truffle@5.0.14

[2019-04-25 22:07] praneethvallabha commented on #1951
Sorry,  don't have much knowledge, so, i don't know if i answered your question correctly!!

[2019-04-25 22:45] CruzMolina commented on #1951
@praneethvallabha IIRC, there are known Windows compatibility issues when installing and using truffle in a local project directory rather than globally.

Can you give `npm un -g truffle && npm i -g truffle` a shot and let us know if your error disappears?

[2019-04-25 22:52] praneethvallabha commented on #1951
@CruzMolina : I tried it, unfortunately no luck.

[2019-04-25 23:33] CruzMolina commented on #1951
Sorry @praneethvallabha ! I'm not familiar enough w/ Windows these days, but maybe there's something in either of these links that will help: https://ethereum.stackexchange.com/questions/15970/truffle-for-windows-i-cant-make-it-work
https://medium.com/@m_mcclarty/setting-up-solidity-on-windows-10-993a1d2c615c

[2019-04-26 09:00] praneethvallabha commented on #1951
@CruzMolina : This information really helped.. Thank you

[2019-04-26 09:05] praneethvallabha commented on #1951
@adrianmcli : I that command, but it shows: "preparing download", and i left it all night long, but it still showing the same status, without any progress

[2019-04-26 10:59] eggplantzzz commented on #1943
@fasidOnGit So 1.0.8 should be out, give it a try and let me know if you still get the same.

[2019-04-26 11:01] eggplantzzz commented on #1680
@ImmuneGit Just fyi, truffle-hdwallet-provider 1.0.8 is out and it should have that bug fixed, so feel free to upgrade.

[2019-04-26 11:06] eggplantzzz commented on #1873
@nivida For sure, that is actually how it was previously accessed before I discovered that Web3 had a version method. So that seemed to be the proper way to access version information as long as it existed. At some point it got removed so I'm just waiting to see what interface will be for the first stable version.

[2019-04-26 11:17] eggplantzzz commented on #1874
Huh, very weird. Well I guess it is nice when problems seem to fix themselves. Maybe it was just an infura blip or something. Closing this for now, if it surfaces again feel free to open another!

[2019-04-26 11:55] eggplantzzz commented on #1951
@praneethvallabha From the initial error you are getting it seems like Truffle is not installing correctly. When you run a global install from the command line it installs properly?

[2019-04-26 13:09] eggplantzzz commented on #1950
Yes, I can reproduce the issue. It is likely due to using Node 12. We'll have to look into it. In the meantime if you downgrade to something between version 8.9.4 and the latest version of 11 it should be perfectly fine. Thanks for the heads up on this!

[2019-04-26 14:32] ianmorgan opened #1956 "Specify the working directory for an external complier command"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
Discussed on slack with Truffle developers
---------------------------

## Issue

When invoking an external compilation step (in this case some Java code) , the working directory needs to be set to the same directory as the contract code for the compiler to run,
for example if the truffl

[2019-04-26 16:46] gnidan commented on #1956
Looks like this already exists! The option is called `cwd`. Your provided example would be:

[code]

I'll mark this issue as just a required documentation update. Thanks for raising the concern!

[2019-04-26 20:04] CruzMolina commented on #1906
Hey @axic! Been taking a look at getting this setup. I noticed a couple of things that _appear_ to be off but I'm not sure if I'm doing something wrong.

If I have a `sample.json` that includes:
[code]

and I run `solc --standard-json sample.json` using `0.5.7+commit.6da8b019.Darwin.appleclang`, `solc` hangs indefinitely.

Also, if I have a `sample.yul` that includes:
[code]

and I run `solc --yul

[2019-04-26 21:51] praneethvallabha commented on #1951
@eggplantzzz : can you please explain how to 'global install' !! i mean like the command for global install

[2019-04-26 22:10] rgordon95 commented on #1951
@praneethvallabha `npm i -g truffle`

[2019-04-27 01:11] JonahGroendal opened #1958 "There's no way to set constant state variables before migrating"
## Issue

I'd like to be able to change the value of address literals in solidity source code before migrating to a local test chain. Currently, if a contract A needs to know the address of another contract B, you must pass B's address to A's constructor, which means the address must be stored as a state variable in A's storage. This is very expensive, costing 20,000 gas for initialization plus 20

[2019-04-27 08:59] fasidOnGit commented on #1943
@eggplantzzz @CruzMolina Here's the repo with the error.
https://github.com/fasidOnGit/kickstarter

@eggplantzzz FYI: `1.0.8` doesn't do the fix either

[2019-04-27 10:11] praneethvallabha commented on #1951
@rgordon95 : thank you

[2019-04-27 10:11] #1951 closed

[2019-04-27 11:45] eggplantzzz commented on #1881
This should be fixed with the merging of #1886. Closing this.

[2019-04-27 11:45] #1881 closed

[2019-04-27 12:33] andreafspeziale commented on #1109
@gnidan Hi! Is this still true? I can't use the debugger feature on parity nodes?

[2019-04-27 13:31] murich commented on #1311
what version should be used for truffle-privatekey-provider?

[2019-04-27 14:04] CruzMolina commented on #1943
Thanks @fasidOnGit!

Will try to get your repo up and running next week, but in the meanwhile can you try changing the `target` to `"web"` and add `"swarm-js"` to the `externals` list in `truffle-hdwallet-provider`'s webpack config (`webpack/webpack.config.js`) ?

After making that change locally and doing a quick `yarn prepare`, `dist` appears to no longer bundle anything with `child_process` in

[2019-04-27 14:07] CruzMolina commented on #1311
@murich `truffle-hdwallet-provider@1.0.8`

[2019-04-27 14:50] mscherer82 commented on #1927
Even with the newest version 5.0.14 I'm not able to deploy anything. If I use `truffle migrate --reset --network=sokol` only a dry run is started. Is this intended?
When using `--skipDryRun` truffle exit after compiling the contracts without any message.

This is my first migration script:

[code]

[2019-04-27 14:57] CruzMolina commented on #1927
@mscherer82 What version of `truffle-hdwallet-provider` are you using? `1.0.7` has a bug in it that breaks migrations. `1.0.6` & `1.0.8` currently don't have any known issues.

[2019-04-27 15:03] mscherer82 commented on #1927
Thanks

[2019-04-27 15:03] #1927 closed

[2019-04-27 18:25] #1958 closed

[2019-04-28 03:35] gnidan commented on #1109
@andreafspeziale Unfortunately, no.

I did some digging and found https://github.com/paritytech/parity-ethereum/issues/5727, but I'm not sure if that's seen any action since 2017.

There would be a clever workaround, i.e., to use ganache-cli's `--fork` feature (run ganache-cli with `--fork <parity-host>:<parity-port>` and have Truffle connect to that), but I just tried this out and I'm getting thi

[2019-04-28 18:57] okwme commented on #1298
This only worked for me when I wrote it like:
[code]

[2019-04-29 04:56] eggplantzzz commented on #1938
PR #1948 adds this feature.

[2019-04-29 07:38] ianmorgan commented on #1956
Hi - I've just tried adding this option ("cwd"), but it doesn't appear to actually change the working directory - "pwd" continues to output the root folder - this is the same if I use relative or absolute paths for "cwd"

Note, my truffle version is returning

17LDN-MAC55-3:iteration1 ianmorgan$ truffle version
Truffle v5.0.8 (core: 5.0.8)
Solidity v0.5.0 (solc-js)
Node v11.12.0
Web3.js v1.0.0-bet

[2019-04-29 08:14] roderik opened #1962 "No networks in the json files when running on quorum"
## Issue

I installed a new three node quorum raft network using [Quorum Maker](https://github.com/settlemint/quorum-maker) and can deploy my contracts (they and truffle works like expected on a Parity PoA network).

Apart from the less pretty output, it all appears well. Contacts and transactions show up in the explorer as well.

[code]

Except in the son files of e.g. ExpenseFactory the networks

[2019-04-29 09:44] chebykin opened #1963 "No information about how to use a forked version of this repo"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I've made some improvements to `truffle-contract` submodule and want to use them within my project and maybe will make a pull request later. Common patterns like hardcoding your github fork repo and branch don't work. How can I include my `truffle`

[2019-04-29 09:58] CplXhristianUSMC commented on #1298
Ive been hacked it's verified he has infected my phone with a virus and
it's damaging everything kingoftoffice is what tag he used I'm pretty sure
he is still in my device anything I do or is likely to be recorded somehow
I'm looking to pressure what if anything is left but I am unfimular with
much of the new as i only regained access to my accounts within the last
few 11 or so days ago and he gra

[2019-04-29 10:33] eggplantzzz commented on #1943
@fasidOnGit I cloned your repo, can you give me some steps to recreating the error?

[2019-04-29 10:40] fasidOnGit commented on #1943
@eggplantzzz well, `npm run dev`
Note: In the file `web3.js` you need to setup truffule-hdwallet-provider I have removed my creds. May be you could do something to set that up.

[2019-04-29 11:37] roderik commented on #1962
FYI, updated to the latest release, no change in behaviour

[2019-04-29 12:06] eggplantzzz commented on #1943
Ok thanks, I'll try to investigate and see if I come up with anything!

[2019-04-29 12:25] roderik commented on #1962
I think it is because of a wrong handling of async migrations. A typical v4 issue that has not happened since v5.

[code]

Across the list you see "RoleRegistries" being deployed., but this is all in migration nr 3 and there are more. I checked all the migrations and they all properly await deployments (and works on Parity) so I think there is a promise checking that is wrong for quorum deployment

[2019-04-29 12:27] roderik commented on #1962
So, this is the culprit:

https://github.com/trufflesuite/truffle/blob/98e23eee67ef4f15e7e1417d953e112e2f68a417/packages/truffle-migrate/migration.js#L260

By doing this the ability for async/await migration is disabled

[2019-04-29 12:30] roderik commented on #1962
Sorry for the self monologue, but I make my migrations in typescript anyway so I compiled to to ES2015 (so no await, but with promises) and it still gallops on.

[2019-04-29 12:39] eggplantzzz commented on #1956
Yes, as it currently stands you would have to add the directory change into your own custom script. Thanks for the suggestion!

[2019-04-29 12:48] roderik commented on #1962
Reverting to my v4 style migrations made it work

[code]

[2019-04-29 13:42] ImmuneGit commented on #1680
@eggplantzzz thanks... it works now with truffle-hdwallet-provider 1.0.8

[2019-04-29 14:15] eggplantzzz commented on #1893
@helderjnpinto Do you have more detailed steps on how to produce this? I created a new vue app, added the import into `main.js` and it seems to import correctly. This is with the most recent version of truffle-hdwallet-provider, 1.0.8

[2019-04-30 06:20] gnidan commented on #1963
Tricky! Let me see what I can find real fast: there's a [yarn issue](https://github.com/yarnpkg/yarn/issues/4725), which is still open, and it looks like the [npm issue](https://github.com/npm/npm/issues/2974) was closed as too heated? Eep! Alas, it's another tricky monorepo quirk.

Have you looked into using [`npm link`](https://docs.npmjs.com/cli/link.html) or [`yarn link`](https://yarnpkg.com/l

[2019-04-30 06:28] gnidan commented on #1962
Wow @roderik good find! Should be a quick fix now that you've done all the work. Thanks!

[2019-04-30 06:34] gnidan commented on #1962
Scratch that... that file is a mess of `async` + callback-style collision. Hopefully I or someone else will have the chance to look into it in the next couple days. Feel free to detangle it / open a PR if you find yourself with the urge to wield util's `promisify`/`callbackify` forcefully.

[2019-04-30 06:46] gnidan commented on #1942
Hm, it's tough to compare truffle-contract 4.x and 3.x, but it's useful information to know the problem goes back far and isn't something new we've broken.

Not sure what might be causing it. Perhaps something with setting the provider. It looks like web3 beta.53 is getting released soon, fixing a number of breaking changes for Truffle, so we might be able to upgrade finally! I might suggest waiti

[2019-04-30 06:54] roderik commented on #1962
I assume that the long term plan is to get Quorum support in the new migrations framework?

[2019-04-30 07:16] gnidan commented on #1962
Current plan, not even long-term! We've been making headway on it lately (mostly @CruzMolina), and active work continues as issues like these are identified. It's a priority for us, and I'm sure Cruz is probably about ready by now for the Quorum integration to be done and work as expected 😄.

Last I heard, there was an issue with truffle-hdwallet-provider and Tessera, but that's different than you

[2019-04-30 09:32] marsrobertson commented on #548
https://github.com/trufflesuite/truffle/issues/548#issuecomment-382076559

In `truffle.js` I had some things commented out. Uncommented, now using:

[code]

* Now getting another error: `TypeError: this.provider.sendAsync is not a function`
* Which is (most likely) caused by incompatible version on web3.js: https://github.com/ethereum/web3.js/issues/1742#issuecomment-421332983
* Which is caused by

[2019-04-30 12:02] roderik commented on #1962
This has nothing to do with Tessera.

For quorum you fall back to legacyMigration code. That is about the same as truffle v4 migration code.

In v5 you added the option to have async migrations, but this was not added in the legacy v4 style code.

By using the workarounds we used while using v4, everything works (both on quorum and on parity), but nice optimised v5 code that works on parity will n

[2019-04-30 15:21] CruzMolina commented on #548
Hey @marsrobertson , if I'm following correctly, you're using a v4 version of Truffle, and locally using an incompatible version of web3? Trying to grok the context of the bug you're seeing.

[2019-04-30 15:57] wbt commented on #1942
That is a big assumption and I am skeptical that it's warranted.

Issues like the one logged here are blocking us from upgrading to truffle-contract 4.x and the new web3.  Every time we try, it's about a week of headaches and extra work, finding there are still serious issues in the underlying software that wasn't actually ready for release, and then reversion.

However, [Beta.53 is now released](

[2019-04-30 16:52] gnidan commented on #1942
I'm more hopeful than previously because there has been a lot of active conversation over on web3's side lately. We've expressed the breaking changes we've identified since beta.37.

Here we go. Bet you ten finney that it fails the first time 😏  https://github.com/trufflesuite/truffle/pull/1968

[2019-04-30 17:32] wbt commented on #1942
No way would I take the other side of that, even if I'd noticed before the test failure!

[2019-05-01 00:22] CplXhristianUSMC commented on #1298
Thank you so much for your reply I'm sorry that it's taking me so long to
get back to your emails currently I'm in the process of moving and will be
driving no less than 1300 miles tonight across state lines to get to my new
house please forgive any late replies I greatly appreciate any and all work
that you have been doing to help rectify this matter truly thankful and
gratefully yours cplxhristi

[2019-05-01 01:13] CplXhristianUSMC commented on #548
Thank you so much for your reply I'm sorry that it's taking me so long to
get back to your emails currently I'm in the process of moving and will be
driving no less than 1300 miles tonight across state lines to get to my new
house please forgive any late replies I greatly appreciate any and all work
that you have been doing to help rectify this matter truly thankful and
gratefully yours cplxhristi

[2019-05-01 01:14] CplXhristianUSMC commented on #1962
Thank you so much for your reply I'm sorry that it's taking me so long to
get back to your emails currently I'm in the process of moving and will be
driving no less than 1300 miles tonight across state lines to get to my new
house please forgive any late replies I greatly appreciate any and all work
that you have been doing to help rectify this matter truly thankful and
gratefully yours cplxhristi

[2019-05-01 01:15] CplXhristianUSMC commented on #1963
Thank you so much for your reply I'm sorry that it's taking me so long to
get back to your emails currently I'm in the process of moving and will be
driving no less than 1300 miles tonight across state lines to get to my new
house please forgive any late replies I greatly appreciate any and all work
that you have been doing to help rectify this matter truly thankful and
gratefully yours cplxhristi

[2019-05-01 01:15] CplXhristianUSMC commented on #1680
Thank you so much for your reply I'm sorry that it's taking me so long to
get back to your emails currently I'm in the process of moving and will be
driving no less than 1300 miles tonight across state lines to get to my new
house please forgive any late replies I greatly appreciate any and all work
that you have been doing to help rectify this matter truly thankful and
gratefully yours cplxhristi

[2019-05-01 01:16] CplXhristianUSMC commented on #1956
Thank you so much for your reply I'm sorry that it's taking me so long to
get back to your emails currently I'm in the process of moving and will be
driving no less than 1300 miles tonight across state lines to get to my new
house please forgive any late replies I greatly appreciate any and all work
that you have been doing to help rectify this matter truly thankful and
gratefully yours cplxhristi

[2019-05-01 02:01] gnidan commented on #1109
FYI: ganache-cli@6.4.4-beta.0 was just released, finally fixing the above-referenced bug! Users looking for support to debug Parity transactions: use ganache-cli's `--fork` option (see [ganache-cli usage readme](https://github.com/trufflesuite/ganache-cli#using-ganache-cli)).

[2019-05-01 02:33] cgewecke opened #1971 "Auto dry-run migrations exit early without deploying"
Auto dry-run for production networks stopped working in a recent release. At the moment, production migrations exit immediately after the dry run without proceeding to the actual deployment. To reproduce with the latest truffle, unbox metacoin and set the networks config to:
[code]
In a separate terminal, emulate a mainnet deployment by running ganache-cli with a networkId set to 1:
[code]

Run:
[

[2019-05-01 12:03] #1680 closed

[2019-05-01 17:37] fainashalts commented on #1883
Thanks for bringing this to our attention. We'll take a look!

[2019-05-01 17:42] fainashalts commented on #1885
Thanks for bringing this to our attention - it would be really nice to have more detailed output.  Adding this right now may be a bit complicated but we'll keep it in mind as a future enhancement!

[2019-05-01 17:47] fainashalts commented on #1891
Thanks for the suggestion @pieterhartel, we'll look into what this might entail!

[2019-05-01 17:57] fainashalts commented on #1907
This is interesting @wbt, thanks for letting us know it's an issue. We'll take a look at it and examine the feasibility of your proposal. We'd be happy to review a PR if you want to take a stab at this yourself! Thanks again!

[2019-05-01 20:02] haltman-at opened #1975 "Prompt disappears when opening truffle debug within truffle develop"
## Issue

When running `debug` from `truffle develop`, the prompt initially fails to appear.  (It will appear after pressing enter, or after deleting any of the entered text.)

## Steps to Reproduce

1. Run `truffle develop`.
2. Within `truffle develop`, run a transaction and obtain its hash.
3. Within `truffle develop`, run `debug` on the transaction hash.

## Expected Behavior

After the debugge

[2019-05-01 22:29] davidmurdoch opened #1976 "`truffle test` hangs if no `networks` are specified and Ganache is running on port `7545`"
From a quick look, I believe https://github.com/trufflesuite/truffle/blob/cbd741b40696d6f7f6053ae007e1fdfb22483237/packages/truffle-core/lib/develop.js#L23-L26 is part of the issue.

If the child process can't start ganache then when it rejects (here: https://github.com/trufflesuite/truffle/blob/cbd741b40696d6f7f6053ae007e1fdfb22483237/packages/truffle-core/chain.js#L237) truffle never gets notifi

[2019-05-02 02:43] jwasinger opened #1977 "Truffle doesn't work with Geth over IPC"
When deploying to a geth client over IPC, Truffle spins forever without error output of any kind.

I have a description of how to reproduce this issue: https://gist.github.com/jwasinger/f2d1ba6ddecaf305ae9ff6d12b2b9a8e

If I slightly modify the referenced example to support RPC over HTTP and open websocket port, then my deployment works.

[2019-05-02 13:01] eggplantzzz commented on #1943
@fasidOnGit Yep, so it looks like there is some issue with truffle-hdwallet-provider and next.js. Perhaps you should try a different type of provider like web3. I'll take a look when I get some time and try to see if it could be something simple to change with truffle-hdwallet-provider.

[2019-05-02 13:16] eggplantzzz commented on #1977
@jwasinger Truffle currently has some problems with the most recent versions of Web3. Try downgrading to web3@1.0.0-beta.37 and let me know if you still have issues.

[2019-05-02 16:32] rogargon commented on #1943
Experienced a similar error with module `child_process` and also `net` with and Angular application. Solved it by adding to `package.json`:

[code]

[2019-05-02 20:20] #1562 closed

[2019-05-03 08:27] Amxx opened #1984 "Issues verifying contract on etherscan"
I know this issue was discussed in #456 and #475, but it is still a pain to verify deployment on etherscan. Works out of the box with remix, it should work with truffle to!

## Issue

After a migration using `truffle migrate` (which is a pain, but that is not the point here), my contract are deployed and visible on etherscan. I'm trying to verify the code so my users can trust the deployment and u

[2019-05-03 09:53] Amxx commented on #1984
@mtbitcoin

[2019-05-03 13:38] #1569 closed

[2019-05-03 14:34] mtbitcoin commented on #1984
We are working on some new updates which should address most of these issues and will be released shortly. I suspect this might have some thing to do with your evmversion (i.e. non default).

You can also open a ticket via our help desk for additional assistance

[2019-05-03 14:45] mtbitcoin commented on #1984
Do you which evmversion was the contract compiled with on truffle?

[2019-05-03 17:48] frangio commented on #1912
@eggplantzzz Any updates on this? All repositories depending on Truffle are getting security alerts.

[2019-05-03 18:07] gnidan commented on #1557
(Reopening this to investigate if this is still an issue.)

[2019-05-03 18:30] wbt commented on #1912
@frangio There's an [open PR](https://github.com/trufflesuite/truffle/pull/1852) by @eggplantzzz to upgrade web3 to the beta53, but as noted above there are some big breaking changes.  There is at this time still unresolved discussion about how the version of Truffle incorporating that PR should be marked, to signal if users have to make changes in their code or not.

Truffle developers don't want

[2019-05-03 20:27] frangio commented on #1912
It's certainly a possibility that everyone will begin using their own fork soon... I don't want that to happen, it should be fixed upstream, but I see that it's a complex situation.

[2019-05-03 23:59] jwasinger opened #1985 "Example solidity tests failing when using Geth"
When using a simple Truffle Metacoin example with Geth, solidity contract tests fail.  They pass when tested using the Ganache client.

## Steps to Reproduce

https://gist.github.com/jwasinger/11a023f4b3cfe1bde67df979a92b65ee

## Environment

* Operating System: Ubuntu 18.04.2
* Ethereum client: go-ethereum (master branch)
* Truffle v5.0.14: (core: 5.0.14)
* Solidity v0.5.0: (solc-js)
* Node v10.1

[2019-05-04 00:27] jwasinger commented on #1977
I apologize, my example contained some configs that aren't compatible with the current master branch of geth.  I've pushed a fix and it should reproduce the bug now.

Unfortunately reverting to `web3@1.0.0-beta.37` didn't fix the issue for me.

[2019-05-05 08:32] valerioleo commented on #1269
thanks for your effort guys. is there any progress on this issue?

[2019-05-05 10:25] vittominacori commented on #1984
@Amxx you should add `evmVersion: 'petersburg',` in your truffle-config.js like below.

Default is "byzantium" and Etherscan fails to verify your code.

[code]

[2019-05-05 10:29] kyriediculous commented on #1269
It's called tree shaking and it has existed forever ;-)

[2019-05-05 12:57] mtbitcoin commented on #1984
@Amxx We've just released an updated contractverifier for all the testnets .i.e https://ropsten.etherscan.io/verifyContract

You can now specifically "configure" the EvmVersion , if left blank it defaults to compiler default.

In addition to that we also now support standard-json-input format.

[2019-05-06 10:04] eggplantzzz commented on #1977
Hey @jwasinger, I am able to migrate your project successfully. Make sure you have `1.0.0-beta.37` installed. In your package.json, lock it to `1.0.0-beta.37` and not to `^1.0.0-beta.37`. The migrations do not work with the most recent version of web3.

[2019-05-06 11:08] eggplantzzz commented on #1977
Oh, so are you continuing this on the rpc branch? Is that the branch I should be looking at?

[2019-05-06 11:45] mtbitcoin commented on #1984
Just pushed the latest updates to mainnet https://etherscan.io/verifycontract for custom evmVersions among others

[2019-05-06 11:59] eggplantzzz commented on #1985
I think you will need a little more setup if you want to use geth. You might have to unlock another account because the javascript tests receive the `accounts` variable (which it gets from  `web3.eth.getAccounts()`) which in your case is only holding one account. The second test assumes you have an array of at least 2 accounts which it uses to test against. When using ganache you automatically get

[2019-05-06 12:09] elenadimitrova commented on #1487
I am on truffle v5.0.14 and still having this issue. Perhaps due to the fact `truffle` is still on an older web3 '1.0.0-beta.37'? @gnidan can we reopen please?

[2019-05-06 13:14] vittominacori opened #1987 "Byzantium is still the default EVM version"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

"byzantium" is still the default value for solc EVM Version.

## Steps to Reproduce

Just create a project and then compile using `truffle compile`.

## Expected Behavior

Expected to be compiled using "petersburg".

## Actual Results

Code is comp

[2019-05-06 15:06] eggplantzzz commented on #1987
Thanks for the heads up @vittominacori!

[2019-05-06 15:09] wbt commented on #1584
@stalebot is getting a little too aggressive here.  The issue still exists and I think could still be more of a turn-off for new users.

A [duplicate](https://github.com/trufflesuite/truffle/issues/1950) was reported just 11 days ago; should we really as general practice be opening duplicates and letting earlier reports autoclose as "stale" when an issue persists?  (I would recommend against adopt

[2019-05-06 17:25] gnidan commented on #1584
@wbt We recently made stalebot way less aggressive (180 days I believe instead of 60 or 90), but it seems like it might require further tweaking. I agree with your thoughts about duplicates. Happy to continue to evaluate stalebot practices and adjust accordingly.

[2019-05-06 17:44] wbt commented on #1950
This may be a duplicate of issue #1584, in which node 9.3.0 was used.  Therefore, switching to that version of Node seems unlikely to be a successful solution.

[2019-05-06 17:46] wbt commented on #1584
@gnidan Can you have a comment on or reference to an item reset the timer? This was definitely not a 180 day timer.

[2019-05-06 19:20] chaosma opened #1989 "Cannot read property 'replace' of undefined for truffle-hdwallet-provider"
## Issue

truffle migrate error:
[code]

I have tried to install truffle-hdwallet-provider by
[code]
It works before and now it broken again. My experience is that "truffle-hdwallet-provider" is not very stable and often caused by version mismatch of web3. Don't know the root cause for this issue.

## Environment

Operating System: MacOS
truffle-hdwallet-provider: 1.0.8
truffle version: v5.0.15.
N

[2019-05-06 19:40] CruzMolina commented on #1989
Hey @chaosma ! Can you give the latest default branch for `truffle-hdwallet-provider` a try? (`npm i --save truffle-hdwallet-provider`)

[2019-05-07 08:46] tcurdt opened #1993 "Tests run without a network"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle runs and passes(?) the Tests without connecting to the specified network.

## Steps to Reproduce

test:
[code]

truffle.js:
[code]
Connecting to a network **not** specified in the `truffle.js` fails as expected:
[code]

Running the test sur

[2019-05-07 10:07] helderjnpinto commented on #1893
@eggplantzzz with the lastest update no more is showing this error. thx i will close this issue

[2019-05-07 10:08] #1893 closed

[2019-05-07 13:26] elenadimitrova commented on #1633
@eggplantzzz `myContract.on("myEvent" ...` errors with `myContract.on is not a function`

Also if we enable `websockets` in the truffle config (cc @mushketyk) we instead get `Error: connection not open`. This error might be related to https://github.com/ethereum/web3.js/issues/1965 which was fixed in `beta.36` of `web3v1` and the latest truffle is one version behind that.

[2019-05-07 15:27] eggplantzzz commented on #1633
The latest Truffle uses Web3 version `1.0.0-beta.37`. I think Ganache might be using `35` maybe?
I'll check out the `websockets` setting.

[2019-05-07 15:35] marsrobertson opened #1994 "msg.sender.transfer(value) does not update the balance of the account in tests"
# SOLVED

### Sorry about the panic.

It all started here: https://github.com/ethereum/web3.js/issues/2077#issuecomment-490027735

Have to pass string.

So I’ve added `toWei` and `fromWei` helper methods.

`web3.eth.geBalance` returns a string so because I had helpers already I used `fromWei` to have human-readable numbers.

That was a mistake.

Previously my workflow with BigNumbers involved `toS

[2019-05-07 15:53] #1583 closed

[2019-05-07 16:09] CruzMolina commented on #1993
@tcurdt It looks like this is because `truffle test` will spin up a default internal ganache network if a `development` or `test` network isn't specified in the config. Currently it will just name that network any `network` name passed to it at the command line. Definitely a little confusing, there should probably be a check for this.

[2019-05-07 16:18] tcurdt commented on #1993
@CruzMolina Thanks for the explanation. Yes - that really is quite confusing :)
Just logging the startup of the ganache network would already help a lot.
"No test network specified. Starting ganache." or something like that would be great.
Cheers

[2019-05-07 17:19] elenadimitrova commented on #1633
Sorry I meant this is fixed in `web3-v1-beta.38`. Updated my comment above.

[2019-05-07 20:52] #1994 closed

[2019-05-07 22:05] PaulRBerg commented on #799
I encountered this behaviour in truffle 5.0.15. Sometimes, `--reset` doesn't redeploy the contracts, but instead it just performs a silent dry-run (without even telling me). I speculate it's a dry run because I double checked that the contracts are not deployed on the Ganache node.

[2019-05-08 01:46] MicahZoltu opened #1996 "Stuck at Preparing to download"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

I did, but didn't get an immediate response and I'm moving on for now and didn't want the question lost.

---------------------------

## Issue
Attempting to `truffle init` on Windows in Powershell prompt stalls indefinitely on `Preparing to download`.

## Steps to Reproduce
[code]

##

[2019-05-08 03:37] hanlaohan commented on #1704
5.0.15,问题依然存在

[2019-05-08 10:38] eggplantzzz commented on #1996
@MicahZoltu Hmm, so do you get an error or does it just hang? It seems that part of the code is attempting to create a temporary directory for downloading the unbox files. Does the spinner keep spinning?

[2019-05-08 10:44] MicahZoltu commented on #1996
It just hangs there indefinitely.  There is no spinner, if the leading hyphen is supposed to be animated to look like a spinner that isn't happening.

ctrl-c also doesn't terminate the process, I have to kill it.

[2019-05-08 12:25] romisalve opened #1997 "Not able to deploy contract on network"
## Issue

I have developed a Quorum maker network and configured the truffle-config.js to connect to it. If I open truffle console, it makes no errors, so I understand is accessing the network. Also, I am able to acces web UI of quorum maker so in fact the network is created.

However, when I tried to deploy a contract through truffle, I got:
![image](https://user-images.githubusercontent.com/2106

[2019-05-08 14:51] spalladino commented on #1621
Bump! I think that moving to relative paths for truffle-compile should be a change easy to implement, and would open the door to using `EXTCODEHASH` in more scenarios.

[2019-05-08 15:06] significance commented on #799
+1 - downgrading to 5.0.0 seems to fix

[2019-05-08 17:43] CruzMolina commented on #1909
Hey @flockonus , turns ou that BN does not take strings for those methods! Your workaround is the way to do it, you can also use `n.subn(1)`.

[2019-05-08 17:43] CruzMolina commented on #1909
Closing since there's nothing we can do on our end about this.

[2019-05-08 17:43] #1909 closed

[2019-05-08 17:44] CruzMolina commented on #1910
Great idea @tarekskr , we'll look into this!

[2019-05-08 17:48] CruzMolina commented on #1911
Looks like the fix moving forward would be to have `truffle develop` save artifacts to a shared temp directory for each `chain.js` process.

[2019-05-08 17:57] CruzMolina commented on #1922
FYI, it's `--f`, not `--from` (turns out `--from` is used in migrations).

[2019-05-08 18:03] chaosma commented on #1989
@CruzMolina  I got the same error. I also tried to remove web3@1.0.0 in package.json and just install the latest truffle-hdwallet-provider.

[2019-05-08 18:05] CruzMolina commented on #1989
@chaosma can you share your truffle config?

[2019-05-09 00:00] chaosma commented on #1989
Here is my truffle config:

[code]

[2019-05-09 00:51] irshadnilam commented on #1996
I have the same issue

[2019-05-09 04:20] CruzMolina commented on #1989
@chaosma, I believe you need to pass a thunk that returns a new HDWalletProvider.

For example:

[code]

[2019-05-09 09:28] #1590 closed

[2019-05-09 14:41] crazyrabbitLTC commented on #255
So I seem to be having this problem again, even though I a using Truffle v5.0.13, is it possible this issue has returned?
<img width="929" alt="Screen Shot 2019-05-09 at 10 41 09 AM" src="https://user-images.githubusercontent.com/1938013/57462532-05f99d00-7247-11e9-9144-d7d1455b122d.png">

[2019-05-09 15:04] eggplantzzz commented on #1996
Yes that leading hyphen is supposed to be a spinner...I wonder if there could be something up with that library. The package is ora. I'll see what I can dig up.
A colleague of mine that uses a Windows computer was able to successfully do a `truffle init` with Powershell. I'll see what version of Windows he is using.

[2019-05-09 15:06] eggplantzzz commented on #1997
Can you show us your truffle config?

[2019-05-09 15:18] romisalve commented on #1997
I commented the lines of "from" and "websockets" because when I include "websockets=true" I only got "connection not open send()"
I am able to open truffle console on development, which makes me think it is identifying some network, but I ran "web3.eth.isSyncing()" and got false. I also got false on "web3.eth.isMining()" . Also, on "web3.eth.defaultAccoun" I got null eventhough I set the "from" fi

[2019-05-09 15:21] romisalve commented on #1997
Also when I ran the command to get the provider, I got
![image](https://user-images.githubusercontent.com/21060405/57465397-e9646180-7254-11e9-8373-8939899291b3.png)

[2019-05-09 20:13] eggplantzzz commented on #1987
Closing this as v5.0.17 is released!

[2019-05-09 20:13] #1987 closed

[2019-05-09 20:14] eggplantzzz commented on #1971
Closing this as it should be resolved in version 5.0.17.

[2019-05-09 20:14] #1971 closed

[2019-05-09 20:47] spazzyt commented on #1680
(even though I am using truffle-hdwallet-provider 1.0.8 it wasn't working for me.)
**I was searching so long for this, thank you!**

[2019-05-09 21:06] CruzMolina commented on #1680
@spazzyt you were probably seeing nasty migrations bug in a couple recent versions of truffle. give the latest release a try! (5.0.17)

[2019-05-10 10:35] vaisakh92 opened #2003 "callback in web3"
---------------------------

## Issue
callback in for call() myMethod function call doesn't work when for a truffle contract in the test-bed.
What the issue is, in broad strokes.

## Steps to Reproduce
set up truffle with with http://localhost:8545/, 10 accounts
Please provide the shortest amount of steps to reproduce your issue.
[code]
solidity code it works fine tested in directly
2 in a nodeJS

[2019-05-10 12:09] eggplantzzz commented on #2003
You have some problems with your javascript. I would recommend avoiding using callbacks, 'then's, AND async/await syntax. It gets very hard to reason about. I don't think all of your async stuff is very clean and I think things might be a bit out of whack.

Try untangling things a bit and structuring your code something like this:
[code]
Or if you want to use async/await, like this:
[code]

[2019-05-10 15:09] eggplantzzz commented on #1621
Cool, I'll try and see how we can resolve this!

[2019-05-10 15:19] eggplantzzz commented on #2003
Also, deploy is async so you need to wait until it is finished deploying before you can send transactions. So currently your transaction call will probably try to run before the contract is deployed and this will cause a problem.

[2019-05-10 15:27] eggplantzzz commented on #1996
We just released v5.0.17. Can you download the most recent version and confirm that it is still an issue with that version?

[2019-05-10 15:43] eggplantzzz commented on #1996
http://erc721.org/
Here is the sample project they link.
https://github.com/cryppadotta/dotta-license

[2019-05-10 16:36] eggplantzzz commented on #1997
Hmm yeah it seems like there is something wrong with the way you are connecting. I'll talk to some of my team that are more familiar with quorum.

[2019-05-10 16:40] eggplantzzz commented on #1997
But that error you are getting, "authentication needed: password or unlock" is not from Truffle. Or actually you probably need to unlock some accounts on starting Geth so that they can be used.

[2019-05-10 17:19] romisalve commented on #1997
I tried to get around that error by setting "from" on deployer with one of the 2 addresses. I put the one I was able to unlock which happens to be the one with balance.
The other account, which is coinbase, was impossible to unlock. It asks for a passphrase, which is supposed  to be an empty string but introducing an empty string fails.

I managed to unlock one account and I reach this point:
![im

[2019-05-10 17:21] romisalve commented on #1997
Also I do not understand why can the quorum maker web UI showing that there is a contract that got deployed, but is not shown on truffle console. Also, even though the contract is deployed, the ABI is not upload. On Quorum wiki it says that a symlink needs to be created, but from where to where?

[2019-05-10 17:27] CruzMolina commented on #1994
Thanks for the update @marsrobertson ! Glad this got resolved 🙏

I know that feeling all to well 😂

[2019-05-10 19:06] cgewecke opened #2005 "Docker compilation twice as slow, seems to hang on large contract sets."
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

5.0.13 significantly reduced the speed of solc docker compilation for large contract sets. Performance when compiling [colonyNetwork](https://github.com/JoinColony/colonyNetwork) on a MacBook Air 1.8 ghz:
+ 5.0.12 time  --> real	0m59.960s
+ 5.0.17

[2019-05-10 19:16] MicahZoltu commented on #1996
@eggplantzzz Same problem with `v5.0.17`.

[2019-05-10 21:24] CruzMolina commented on #2005
Hey @cgewecke , thanks for pointing this out!

Since we're still bundling solc-js, it seems like the easy fix is to continue using it for quick import parsing. Will take a look shortly.

[2019-05-10 21:52] cgewecke commented on #2005
@CruzMolina Yes that seem reasonable. Might need to throw away [the nonImportErrors](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-compile/parser.js#L53-L63) and let the real compilation pick them up? It's a little weird to compile with different solc versions.

[2019-05-10 22:15] CruzMolina commented on #2005
Good call. Looks like there's a few places compilation errors are caught. 👍

[2019-05-11 02:33] peterbroadhurst commented on #261
Hi @gnidan - I've just raised https://github.com/trufflesuite/truffle/pull/2008 as we're still seeing the timeout kick in with `enableTimeouts: false` set.

[2019-05-11 13:25] roderik commented on #1347
Do not feel this should be closed.

[2019-05-11 23:08] B5Happy opened #2010 "Feature Request: Copy option"
# Feature

I think it would be nice to have a copy option after a right click.

![Ganache](https://user-images.githubusercontent.com/39341595/57575809-8e5a8680-746f-11e9-8a71-2f646ae97f3c.png)

[2019-05-12 02:55] gnidan commented on #1347
Nope definitely should stay open

[2019-05-12 02:57] gnidan commented on #2010
Hey! This is not the best repo for this request. Could you please reopen this on github.com/trufflesuite/ganache?

Good idea though :)

[2019-05-12 02:57] #2010 closed

[2019-05-12 06:20] vaisakh92 commented on #2003
hi @eggplantzzz, now this is what i did
[code]
now a transaction hash is generated for 1st send() then
_(node:11340)_ UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'newTransact' of undefined
    at setup (/home/maddy/naisam/backend-server/cloudstorage/backend/routes/filesrec.js:20:27)
    at processTicksAndRejections (internal/process/task_queues.js:86:5)
(node:11340) Unhandled

[2019-05-12 09:04] eggplantzzz commented on #2003
If you are going to write all that in an async function, I would recommend against using `then`. I think there are still some problems with when things are being executed. Probably do this:
[code]

[2019-05-12 11:31] vaisakh92 commented on #2003
Hi the issue that I found is that the send() method is behaving like a infinte loop in my terminal for and it would just wait on it to complete but i need it to complete becuase the data get part needs to work after  that, also without using async i cannot assign the return variables to other variables even for the
[code]
this assignment only  works if it is async under normal cases it will return

[2019-05-12 13:27] RobertoSnap commented on #1996
Same here, tried .v5.0.15 /16 / 17

[2019-05-12 13:29] RobertoSnap commented on #1996
Works with -global NPM install. Can you fix compatibility for NPX?

[2019-05-12 14:52] vaisakh92 commented on #2003
Hi @eggplantzzz , thank for that but still the problem of call() returns null persists.
[code]
the above solidity code is called as :
[code]
the value that results is null
I cannot get back the value in the contract not even the dafault value 0.

[2019-05-13 07:47] carnelius8888 opened #2012 "Unable to deploy contracts using truffle v5.0.16 with contract solidity version 0.5.0"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

I am able to compile the contracts but unable to deploy them on my current Quorum Setup.

[CheckingContract.txt](https://github.com/trufflesuite/truffle/files/3171635/CheckingContract.txt)
[Dispatcher.txt](http

[2019-05-13 08:22] carnelius8888 commented on #2012
const config = require("./config.json");
var ipa = config.node1;
module.exports = {
    networks: {
        development: {
            host: ipa.host,
            port: ipa.port,
            network_id: "*", // Match any network id
            gasPrice: 0,
            gas: 1000000
        }
    },
    compilers: {
        solc: {
            version: "0.5.1" // Fetch exact version from solc-bin (d

[2019-05-13 08:23] carnelius8888 commented on #2012
![Error_Screenshot](https://user-images.githubusercontent.com/26059780/57606435-7e819600-7586-11e9-9275-ff05e5ef7151.png)
Adding new Error Screenshot.

[2019-05-13 09:21] eggplantzzz commented on #1997
You might try unlocking the accounts on the Geth side of things. In the past I have always created the accounts and unlocked them as part of the startup command. Perhaps it is different with Quorum...I'll ask my colleague who has more Quorum experience.

Well, like the message says, the network state is unknown so maybe one of the transactions was completely successful and then failed for some oth

[2019-05-13 09:26] eggplantzzz commented on #2003
Sorry, I'm not really sure what you are asking about now. Can you pose your question again and simplify it so it is very clear to see what is not working?

[2019-05-13 09:28] eggplantzzz commented on #1996
Hmm I'm not sure why it wouldn't work with npx but could be...

[2019-05-13 11:24] vaisakh92 commented on #2003
[code]
the return value of this call is null after explicit insertion into the contract.

[2019-05-13 13:10] eggplantzzz commented on #2003
Can you provide a more complete example of your code. I can't see what transactions is etc.

[2019-05-13 13:13] vaisakh92 commented on #2003
[code]
@eggplantzzz  this is the complete nodejs program the solidity file is given above.

[2019-05-13 13:29] SEFI2 opened #2013 "truffle debug giving me an error 'join(...tasks) is not supported any more'"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Getting an error message, while executing the debug command with truffle.
The error might be related to redux-saga, as may be understood from the message itself.
I am getting the same error for all transactions.

## Steps to Reproduce

I was trying

[2019-05-13 14:10] romisalve commented on #1997
I believe that the first reason of failure is the first error of authentication.

Have you been able to ask your colleague? Or do you have any idea on the question about the symlink or reason for the inconsistency between truffle and Quorum maker?

[2019-05-13 14:51] heartytiger commented on #1726
Hello I am a noob and hit this wall when I was trying truffle migrate. Thanks for OP and this page for solving this problem for me, and that has wasted quite a bit of time.

[2019-05-13 15:13] eggplantzzz commented on #1996
My colleague was able to duplicate your issue on both Powershell and Git Bash. It looks like this is specific to using `npx`. Global installs of Truffle don't seem to have the same issue. We'll have to look into this.

[2019-05-13 15:43] CruzMolina commented on #1997
Hey @romisalve ! I suspect there's some kind of miscommunication happening between Quorum Maker and Truffle. Will need some time to explore Q Maker under the hood, but I have a hunch that unlike the Quorum 7nodes example (https://github.com/jpmorganchase/quorum-examples/tree/master/examples/7nodes), Q Maker doesn't handle minting of new blocks. It _looks_ like Q Maker confirms tx receipt, but that

[2019-05-13 15:48] CruzMolina commented on #2012
Hey @carnelius8888! It looks like you haven't configured `truffle.js` to use a Quorum network type.

From the [docs](https://truffleframework.com/docs/truffle/getting-started/working-with-quorum#configuration):

[code]

[2019-05-13 18:29] wbt commented on #1726
@gnidan How have those closed-door [discussions](https://github.com/trufflesuite/truffle/issues/1726#issuecomment-470230182) gone?  Can we implement one of the proposed solutions, as people are getting confused?

[2019-05-13 18:50] chaosma commented on #1989
@CruzMolina Oh, my bad. It works now. Thanks!

[2019-05-13 18:50] #1989 closed

[2019-05-13 18:59] CruzMolina commented on #1989
Sweet! Glad to hear that @chaosma 🙌

[2019-05-13 22:44] haltman-at commented on #2013
Hm, this is very odd.  I can't find anywhere in the code where we call `join` with multiple arguments.  I can change that part to take an array, just to be certain, and hopefully that will fix your problem?  We'll see, I suppose.

[2019-05-14 00:18] yaoshiang commented on #2012
This may be a bug I just ran into:

truffle deploy is supposed to be an alias for truffle migrate. At least in 5.0.17, it is not. I got this error message.

[code]

Solution?

run

`truffle migrate`

[2019-05-14 02:30] Anyhowclick opened #2016 "Incorrect nonce after invalid txns made in try / catch blocks"
- [O] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
It seems that the nonce doesn't update for txs made in try / catch blocks, when I'm using `truffle-hdwallet-provider` as the provider.

## Steps to Reproduce
1. Simple example included in the zip folder.
[truffleIssue.zip](https://github.com/truffle

[2019-05-14 03:10] naddison36 commented on #2012
Thanks @yaoshiang. I was struggling with the same error as I was running `truffle deploy`. `truffle migrate` works.

[2019-05-14 03:53] SEFI2 commented on #2013
Thank you very much for the quick response. I hope I can get it to work then.

[2019-05-14 08:30] eggplantzzz commented on #2003
It's probably because you are not "await"ing your transactions and that code is trying to run out of order. To make everything that is happening clearer, I would recommend you NOT to use BOTH async/await syntax and "then". So for example, get rid of all the "then"s you have there (and probably all the callbacks passed in the function calls) and just use await. You need to await async functions so

[2019-05-14 10:13] eggplantzzz opened #2019 "Update truffle config files"
For a lot of the fixtures in Truffle's tests the name of the truffle config file is still `truffle.js`. Update this file to be named `truffle-config.js` to adhere to the new standards.

[2019-05-14 12:06] eggplantzzz commented on #2012
Yes, this bug is fixed in PR #2018

[2019-05-14 14:42] alanbleier182 commented on #1996
This just happened to me too in my linux machine... spinner is moving but the download is stuck

[2019-05-14 15:25] MicahZoltu commented on #1996
@alanbleier182 I suspect that is a different issue.  The issue I'm running into appears to be the installer completely locking up the process in some blocking operation.

[2019-05-14 15:36] nivida commented on #1912
We do currently discuss this in the issue https://github.com/ethereum/web3.js/issues/2786 of web3.js. @frangio

[2019-05-14 16:40] CruzMolina commented on #2016
Hey @Anyhowclick, what version of `truffle-hdwallet-provider` are you using?

[2019-05-14 16:57] CruzMolina commented on #2016
Nm! Thanks for the project link!

`truffle-hdwallet-provider` is meant for live deployments (externally signs transactions using the account index specified). You'll notice commenting out the custom provider and setting your config like so _should_ work on your end:
[code]

[2019-05-14 17:14] eggplantzzz commented on #2003
And just another note...basically every call you make in there needs to be "await"ed starting with `const xl = await contract.deploy({ data: bytecode });`.

[2019-05-14 17:28] vaisakh92 commented on #2003
[code]
![Screenshot from 2019-05-14 22-56-27](https://user-images.githubusercontent.com/26114073/57718711-a44c8f00-769b-11e9-95d8-1dde260fcdb5.png)
still the same thing/

[2019-05-14 19:12] CruzMolina commented on #1997
@romisalve , following up on this. There are a couple of things going on.

1) websockets definitely aren't working w/ Quorum, but I'm not sure if it's something that needs to be enabled on the Quorum Maker side, or if it's the version of `web3.js` we're using that's currently unable to converse with Q Maker using websockets.
1) Since Quorum is a permissioned chain, we can expect standard `web3.js`

[2019-05-15 02:40] Anyhowclick commented on #2016
Hmmmm alright. How do I go about deterministically generating accounts for my truffle tests though? Or is there a way to access the private keys of the generated accounts? I require the private keys for signature generation and verification.

[2019-05-15 02:47] #2016 closed

[2019-05-15 04:46] amkCha opened #2021 "Support multiple simultaneous solc versions"
---
tags: compiler, solidity-versioning
---

- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

In contracts folder, I have old contracts in 0.4 version of solidity and new contracts in 0.5 version. I would like to compile them in the same project but in truffle-config.js, I can only specify one ve

[2019-05-15 05:12] CruzMolina commented on #2021
Hey @amkCha, you _might_ be able to tinker with your older pragma statements like so:
[code]

(assuming you want compile with 0.5.0 and above).

[2019-05-15 06:03] amkCha commented on #2021
Hi @CruzMolina, thank you very much for you help !

I had to change two more things for the 0.4 contracts to work :

[2019-05-15 11:52] eggplantzzz commented on #2003
That is definitely not the same thing! One of your calls is failing for some reason. You'll have to log and figure out which promise is being rejected.

[2019-05-15 11:57] eggplantzzz commented on #2003
Also, the web3 docs say that `contract.deploy(` returns a new contract instance. You might need to call transactions with that object rather than the original `contract` that you set at the start of that function.

[2019-05-15 12:27] eggplantzzz commented on #1726
Does the `truffle test` command not work on the latest version of Truffle?
It seems like I'm able to unbox the metacoin project and run test. Let me know, maybe it got changed in one of the latest versions?

[2019-05-15 14:10] romisalve commented on #1997
Actually I have not changed anything on my configuration and now is deploying. The only thing I have to do is unlock the node account.
Well, I also had to split my contract in smaller ones because it said that the contract could not be store, but once I split it, I was able to deploy to the network and from truffle console, it shows that a contract is deployed.
Anyway, on quorum maker web UI there

[2019-05-15 15:40] CruzMolina commented on #1997
@romisalve How were you able to unlock the geth node perpetually? It looks like Q Maker uses an older version of `geth` that doesn't have the `--allow-insecure-unlock` flag so the node appears to lock up after the default 300s.

What was your error for the large contract? IIRC, Quorum has a super large block gas limit so I'm surprised you ran into that type of error. Can you share a link to your c

[2019-05-15 16:44] wbt commented on #1726
@eggplantzzz I'm not on the latest version at the moment due to blockers like #1942, which apparently [will not be addressed anytime soon](https://github.com/trufflesuite/truffle/pull/1852#issuecomment-492247421).

However, looking at the newbies coming in and experiencing the problem, it appears to still be a problem.

There are very detailed reproduction steps above which could be tried with dif

[2019-05-15 17:35] eggplantzzz commented on #1938
Closing this.

[2019-05-15 17:35] #1938 closed

[2019-05-15 17:43] eggplantzzz commented on #1950
@adriendulong Can you give some information about versioning? For example, are you on Windows or Mac? Can you paste the output from `truffle version` here as well?

[2019-05-15 17:44] eggplantzzz commented on #1956
Looks like this was merged and released!

[2019-05-15 17:44] #1956 closed

[2019-05-15 17:51] eggplantzzz commented on #1963
Do we want to add the above to the truffle-contract docs?

[2019-05-15 17:52] eggplantzzz commented on #1976
@davidmurdoch Is this still a relevant issue?

[2019-05-15 18:17] CruzMolina commented on #1943
Hey @fasidOnGit, you might want to give [`react-native-truffle-hdwallet-provider`](https://github.com/bpeters/react-native-truffle-hdwallet-provider) a shot. Looks like it's designed for the front-end, so even though you're using `next.js`, it _could_ work 🤞 .

[2019-05-16 05:22] ethdevss commented on #1680
I am currently using version 1.0.9 of truffle-hdwallet-provider. I also experienced the same problems that @ImmuneGit raised. I was able to solve the problem with the solution provided by @robertmagier. I hope the bug is resolved in 1.0.9 as soon as possible.

[2019-05-16 05:27] ethdevss commented on #1680
@CruzMolina
Truffle v5.0.15 (core: 5.0.15)
Solidity v0.5.0 (solc-js)
Node v11.6.0
Web3.js v1.0.0-beta.37
The environment I am using is as follows.
The same issue is occurring now.

[2019-05-16 05:29] CruzMolina commented on #1680
@ethdevss to clarify my recent comment, this is a known issue in truffle 5.0.14 & 5.0.15. I believe the latest release resolved this issue. Let us know if it's still there! 🤞

[2019-05-16 05:33] ethdevss commented on #1680
@CruzMolina
I recently confirmed that it was successfully deployed in the release version of truffle. Thank you. One thing I'm curious about is, do you know what caused this bug?

[2019-05-16 09:53] gilesbradshaw opened #2025 "Debugger doesn't cope with imports not from files"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Debugger doesn't cope with imports not from files.

I hope this makes sense - I am new to all this!

So the app whose contracts I am trying to debug compiles its solidity code with the solc compiler - but it's generating the solidity from template

[2019-05-16 16:20] davidmurdoch commented on #1976
Yes. I just tested with truffle v5.0.18

[2019-05-16 16:53] CruzMolina commented on #1976
@davidmurdoch I don't seem able to reproduce your specific error. If fire up Ganache (`Version 2.0.1 (2.0.1.631)`), using the default settings, and I use latest truffle to run `truffle test` on a fresh metacoin box (completely commented out truffle config), I see:

[code]

If I change the Ganache network id to 4447, I get no errors, the tests pass, and tx's populate in the Ganache dashboard.

[2019-05-16 17:16] davidmurdoch commented on #1976
Start up Ganache UI, make sure it is running on port `7545` then run:

`mkdir test && cd test && truffle init && truffle test`

[2019-05-16 17:23] CruzMolina commented on #1976
The `init` box doesn't have any tests, but otherwise the behavior locally appears to be the same as my above comment when running those commands.

[2019-05-16 18:19] davidmurdoch commented on #1976
If you don't have Ganache UI running on port 7545 and you run `truffle test` on an the `init` box it completes as expected:

[code]

[2019-05-16 18:22] davidmurdoch commented on #1976
Run Ganache UI on port 7545 then run `mkdir test && cd test && truffle unbox metacoin && truffle test` and it fails to complete (at least in a reasonable amount of time ... I've only ever waited up to a minute or so).

[2019-05-16 18:46] gilesbradshaw opened #2028 "Not able to debug a contract created by another contract that subsequently causes the transaction to revert"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I'm trying to debug  a transaction - I've got all the contracts linked to source code except one..

[code]

It turns out  the one I can't link has a null binary - but it is in this one where the error is occurring.

All the others have been deploye

[2019-05-16 19:32] chriseth commented on #1118
Oh, I just discussed with again with @eggplantzzz  - didn't even remember we already had this issue here :)

[2019-05-16 19:57] haltman-at opened #2029 "Internal issue: TypeScript packages excluded from coveralls"
## Issue

The TypeScript packages `truffle-decoder` and `truffle-decode-utils` are excluded from our code coverage statistics.

## Expected Behavior

All packages would be included in code coverage statistics.

## Actual Results

The TypeScript ones aren't.

[2019-05-16 20:01] gnidan commented on #1118
stalebot!!!!

[2019-05-16 20:19] CruzMolina commented on #1976
Huh, what OS are you using?

[2019-05-16 20:58] davidmurdoch commented on #1976
Ubuntu 18.04

[2019-05-16 21:08] gilesbradshaw commented on #2028
Looking at this a little bit more I've debugged a successful transaction where a new contract is created by the transaction:

[code]

so in this instance I DO get the binary for the created contract and I can debug it

[code]

I'm guessing that because the transaction is reverted - the blockchain doesn;t store the bytecode on the contract that was created?  And that's why I get a 0x?

So it's not

[2019-05-16 21:56] gnidan commented on #2013
This should be released now! Could you upgrade and see if the problem is solved? Thanks!

[2019-05-16 22:07] davidmurdoch commented on #1976
Testing on Windows 10 and it returns the `The network id specified in the truffle config (4447)` error message.

The error message `The network id specified in the truffle config (4447)` is inaccurate though, as there is no network id specified in the truffle config (since there is no truffle config).

[2019-05-16 22:38] CruzMolina commented on #1976
4447 is the default `network_id` `truffle test` uses to connectOrStart a `ganache-core` chain in the background (https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/commands/test.js#L153-L174).

#1577 is an outstanding PR to change the default `truffle test` `network_id` to match GanacheUI's defaults.

[2019-05-16 22:52] davidmurdoch commented on #1976
Even if #1577 is fixed the error message would still be inaccurate in cases where the ganache network id was changed.

[2019-05-16 23:01] haltman-at commented on #2028
So, I'm a little confused what the situation is here, exactly.  Let me try to get this straight.

So, you ran a transaction that attempted to create a contract, but the creation was reverted.  Yes?  And then you tried to debug... some transaction. I'm a little unclear here -- was the transaction that you were trying to debug the same transaction that attempted to create the contract?  Or was it a

[2019-05-16 23:14] CruzMolina commented on #1976
Good point! The default `truffle test` flow could probably be rewritten to detect Ganache's `network_id` and then start up a chain in the background if undetected. That wouldn't handle cases where Ganache's port is changed, but it's a step forward.

[2019-05-17 01:19] haltman-at commented on #2028
Oh, wait -- I have a guess as to what's going on.  Is it the case that:

1. This transaction creates a contract, then
2. Calls into that contract, but then
3. This transaction (or at least a part of it containing (1) and (2)) reverts?

Is that's what's going on?  Because that would explain what you're seeing.

And even if that's not what's going on, well, now that I've thought of it I realize that

[2019-05-17 02:48] SEFI2 commented on #2013
Great, now it is working!!! Thanks!

[2019-05-17 03:30] CruzMolina commented on #2013
Woohoo!

[2019-05-17 03:30] #2013 closed

[2019-05-17 06:09] gnidan commented on #2025
Hm, I think I concur with the problem, but it's hard to see what the implications of your changes are. It seems like the root of the problem is the mismatch between the use of JSON artifacts vs. the debug compilation step?

I could go into more detail (and I had started to), but lib/commands/debug is too much of a mess, making it difficult to communicate about. This was the last straw, and I just

[2019-05-17 07:58] gilesbradshaw commented on #2028
@haltman-at yes - apologies for the confusing posts - it only dawned on me what was happening half way through.

I'm trying to debug a reverted transaction during which pre existing contract A created contract B and which contract B caused to revert due to some unknown bug (which I am trying to discover).

The problem is that because the transaction reverted the debugger sees contract B's binary a

[2019-05-17 09:52] eggplantzzz commented on #2019
Merged in PR #2027

[2019-05-17 09:52] #2019 closed

[2019-05-17 09:56] eggplantzzz commented on #2012
Closing this presuming it is no longer a problem. If I'm wrong, feel free to open a new one!

[2019-05-17 09:56] #2012 closed

[2019-05-17 12:47] #1606 closed

[2019-05-17 14:30] romisalve commented on #1997
No, I was not able to unlock it perpetually, but web3.personal.unlockAccount("address", "pass", 0); unlocks it until geth client is shut down.

I can share my contract of course, can I paste it here or how do you want me to share it? I don´t understand de reason of that error.

Now I tried to split it into smaller contracts and I am getting this error when trying to call a function but I don´t und

[2019-05-17 14:34] CruzMolina commented on #1997
Can you share a repo link to your truffle project? Would make it easier for reproduction and debugging.

Where & when are you making the `web3.personal.unlockAccount` call?

[2019-05-17 15:06] romisalve commented on #1997
https://github.com/romisalve/Quorum-POC.git There is my contract. There are a lot of commented lines due to the following reasons :

When I tried to compile it I got "stack too deep error" and started commentig lines of returns (of course it was not the most intelligent decision but I didn´t how to solve it)
I have a lot of internal functions which actually I believe I need them as public because

[2019-05-17 15:12] romisalve commented on #1997
And also, do you know from where can I read what does each field of those outputs represent?

[2019-05-17 15:25] CruzMolina commented on #1997
Thanks for the link!

This _might_ be resolved in the latest truffle release (5.0.18).

Regarding your `internal` functions, yes if you want them to return publicly something while on-chain then they need to be `public` (I'll take a look shortly to scope out your contracts functionality).

I suspect this is because some of your transactions are private. I'll check it out.

[2019-05-17 15:26] CruzMolina commented on #1997
Uh oh, is your repo private? It's showing up as not found.

[2019-05-17 16:13] romisalve commented on #1997
Uh, it was private. Now I made it public , can you access?

[2019-05-17 16:14] gilesbradshaw commented on #2025
Hi I've done just that!  best wishes (sorry to be the last straw :D)

[2019-05-17 16:51] CruzMolina commented on #1997
Got it. Thanks! Will take a look in a bit 👍

[2019-05-17 17:13] haltman-at commented on #2028
Yes, I think I see.  But to be clear, the transaction then calls into contract B after creating it, and it's not the creation itself that caused the revert?  That step is important. :)

Like, if that is what's going on -- as I suspect -- then, OK, I'm going to have to write some more code to keep track of contract code, because I don't have code to handle that case.  (I guess I'll have to do that

[2019-05-17 17:54] gilesbradshaw commented on #2028
Hi yes that's right - contract A successfully creates contract B but calls into it in the same transaction and contract B then causes the transaction to revert.

[2019-05-17 17:59] eggplantzzz commented on #1883
This bug is fixed in PR #2032.

[2019-05-17 18:03] haltman-at commented on #2028
OK, great!  In that case I'm pretty sure what I need to do to fix this.

[2019-05-17 18:13] romisalve commented on #1997
Thank you!!

[2019-05-17 19:42] jw4js commented on #446
I stumbled upon this from the internet, and I think the error reporting should be better. If it's going to check if there are enough arguments and pass zero arguments based on that, then it might as well just report an error.

[2019-05-17 19:47] #611 closed

[2019-05-17 23:41] gnidan opened #2034 "Remove solc NPM dependency and use Truffle's `obtain` mechanism instead"
## Overview

In a nutshell, this issue proposes to:
- remove NPM solc from Truffle
- use soljson and the compiler supplier (`truffle obtain` mechanism) by default instead
- auto-run `truffle obtain` on Truffle install

### Background

An important requirement for Truffle is to provide users with solc automatically, to make it easy to get started writing smart contracts. To achieve this, Truffle ha

[2019-05-18 04:05] #1608 closed

[2019-05-18 17:01] Taro0329 commented on #1996
I have same issue, window Version	10.0.17763 Build 17763, truffle is v5.0.17.

[2019-05-18 22:05] #1615 closed

[2019-05-19 22:12] sirhill commented on #381
I am also having the issue in the current version of truffle:

[code]

The work aroung mentionned by @bashalex works fine..
This feature is really usefull when passing commands to contracts.
It would be also really great to document it correctly and add one testcase or more covering this feature.

Many thanks.

[2019-05-20 11:58] romisalve commented on #1997
were you able to look in?

[2019-05-20 13:37] wbt commented on #1588
While the specific links cited above have been addressed, I think the documentation is still generally outdated and would prefer not to see the issue autoclosed until some deliberate effort has been put into reviewing and updating documentation.

[2019-05-20 14:05] adrianmcli commented on #1588
@wbt I agree, perhaps you can start on a list of things you believe should be fixed?

[2019-05-20 14:12] Atomosphere0 commented on #596
i used **testprc** and also migrated with code **truffle migrate --reset --all**,but still get the callback like:
`Error: Invalid number of arguments to Solidity function
    at Object.InvalidNumberOfSolidityArgs (inpage.js:1)
    at u.validateArgs (inpage.js:1)
    at u.toPayload (inpage.js:1)
    at u.call (inpage.js:1)
    at u.execute (inpage.js:1)
    at truffle-contract.js:136
    at new Pro

[2019-05-20 14:53] wbt commented on #1588
Thanks for the vote of confidence, though I'm pretty stacked up with other tasks at the moment (in part due to lack of documentation) and don't have time to do that review at present.

[2019-05-20 20:30] CruzMolina commented on #1997
Hey @romisalve , the stack too deep error I ran into was `solc-js` specific:

[code]

I was able to comment out what appears to be redundant code and some unused variables to get it to work.

[2019-05-20 20:32] CruzMolina commented on #1997
Just opened a PR on your repo, let me know if compilation works on your end 🤞

[2019-05-20 20:54] CruzMolina commented on #1997
Also, regarding your `crud.readAEO` call in `truffle console`, if you notice in my PR, I commented out 3 unused parameters in the `readAEO` function definition. You were probably receiving the ` returned values aren't valid` error, because currently `readAEO` doesn't do anything with those 3 parameters.

If you test the code in my PR in the console and instead only pass something like `crud.readAE

[2019-05-21 03:23] gnidan opened #2038 "Reduce Truffle's startup weight"
## Issue

truffle-core's `cli.js` does a lot of `require`ing!

<details>
  <summary>See <code>require()</code> graph.</summary>
  <img src="https://user-images.githubusercontent.com/151065/58066000-9ee8bc00-7b55-11e9-970f-7ff17b3dd236.png" />
</details>

## Steps to Reproduce

Run `truffle`.

Generate this graph with the following command (using [madge](https://github.com/pahen/madge)):
[code]

##

[2019-05-21 03:26] gnidan commented on #2038
On further inspection, some of these module requires might actually be guarded inside functions... but many of them are not.

[2019-05-21 08:17] alanbleier182 commented on #1584
Yeah keccak bindings compilation are failing on my end too...

[code]

[2019-05-21 11:31] onggunhao commented on #1883
Just FYI - Truffle does not (currently) support EthPM v2

See thread here: https://github.com/trufflesuite/trufflesuite.com/issues/398

[2019-05-21 14:42] romisalve commented on #1997
@CruzMolina I am really thankful for your help and I have some questions if it is possible.
I tried to deploy the contract with the changes of your PR but I am facing the error that contract code could not be stored, how can I solve this?
![image](https://user-images.githubusercontent.com/21060405/58103349-34696780-7bb9-11e9-9615-3184a5e345fc.png)

In the read function may I add the return stateme

[2019-05-21 14:57] zaidmo123 commented on #1996
I had the same error three times this evening.

To resolve, I navigated to the directory (my project folder) where I was running truffle init from. Deleted all the files, then tried running truffle init in that folder again.

It works.

[2019-05-21 15:07] CruzMolina commented on #1997
@romisalve What does your truffle config look like?

What worked on my end was:

[code]

Also, if you could put up your entire truffle project in that repo, it would help me reproduce more easily.

i.e. truffle project layout
[code]

[2019-05-21 15:28] CruzMolina commented on #1997
That should be fine. IIRC, the problem with the read calls you were making were directly related to your read function definition in the smart contract. The definition had multiple parameters that were completely unused or inaccessible. That's why web3 was throwing that "out of gas?" returned value err. I _think_ as long as you make sure whatever parameters are being passed are used in some manner

[2019-05-21 15:44] MicahZoltu commented on #1996
The above workaround doesn't work for me.  as seen in the repro case in the ticket description, I run into this problem even with a brand new directory.

[2019-05-21 16:04] macman18 commented on #1704
Agree with @18dev .
How I have seen in several blogs: the best solution is downgrade the truffle version to truffle@4.1.5. The problem is related to quorum in truffle version 5. I have made this downgrading and now everything works!

[2019-05-21 16:05] macman18 commented on #1704
Agree with @18dev.
How I have seen in several blogs: the best solution is downgrade the truffle version to truffle@4.1.5. The problem is related to quorum in truffle version 5. I have made this downgrading and now everything works!

[2019-05-21 16:18] eggplantzzz commented on #1996
@MicahZoltu Is it with a global truffle install or are you using npx to run the local package? Are you also on Windows?

[2019-05-21 16:21] eggplantzzz commented on #1883
Yes, so this bug fix pertains only to ethpm v1.

[2019-05-21 16:24] romisalve commented on #1997
Thank you!! I'll have that in mind for every function.

Ok, great. And to inherit a contract I need to define it as "_ contract nameOfTheContract is NameOfTheContractIWantToInheritFrom _ " and that is it? Then, to deploy them, in migrations directory I need to have a file for each contract or I can deploy them all thorugh the same migration file?

Ok, so there is no way to have kind of an URL in o

[2019-05-21 16:30] MicahZoltu commented on #1996
Local install and npx.

[2019-05-21 16:53] romisalve commented on #1997
@CruzMolina I put up my entire truffle project. The account on the migrations file is the account of the node to which I am accessing through truffle.

[2019-05-21 17:03] CruzMolina commented on #1996
@MicahZoltu can you give `npx truffle@unbundled-solc` and/or `npm i truffle@unbundled-solc`  a try? 🙏

[2019-05-21 17:07] CruzMolina commented on #1704
@macman18 Just to clarify, are you having issues with quorum in truffle v5?

[2019-05-21 17:17] macman18 commented on #1704
I have modified my previous comment. I'm not really sure of quorum but many blogs referred to it.
Thank u for check.

[2019-05-21 17:22] barlock opened #2040 "Truffle Wallet Provider should support Websockets"
## Issue

The truffle-hdwallet-provider currently only supports http connections.

I'm using drizzle connected to Pantheon. For my test environment, I've spun it up so that none of my accounts need any eth to interact with the dapp. I like how your hooked wallet implementation can create ephemeral keys from a set mnemonic. It would be nice to be able to use that without forking.

## Steps to Repro

[2019-05-21 17:28] gnidan commented on #2040
I don't suppose you've tried adding `websockets: true` to your network config? See the [networks configuration](https://truffleframework.com/docs/truffle/reference/configuration#networks) docs.

Thanks for raising this issue!

[2019-05-21 17:28] Taro0329 commented on #1996
It works too

[2019-05-21 17:33] CruzMolina commented on #1997
Hmm . I still seem able to deploy successfully locally using your truffle project.

[2019-05-21 17:35] eggplantzzz opened #2041 "Running "help" inside truffle develop run incorrectly"
When using the Truffle development console, if you run `help`, it will output the help for the help command and not the general help that you would get from running `truffle help` at the command line.

[2019-05-21 17:36] CruzMolina commented on #1997
Perhaps you need to up your gasLimit (`gas` key in your truffle config)? How are you configuring and running your Q Maker network?

[2019-05-21 17:42] CruzMolina commented on #1997
Yes, `contract NewContract is InheritedContract`. You don't necessarily need each contract in a different migration file. For example, you can have your second migrations file be `2_deploy_contracts.js` and within that file module export deploy, transact with, and/or link your contracts.

Not currently, although I believe there are a number of GraphQL-like efforts to make this happen. With Camunda

[2019-05-21 17:44] CruzMolina commented on #1996
@Taro0329 can you give `npx truffle@unbundled-solc` and/or `npm i truffle@unbundled-solc` a try?

[2019-05-21 18:09] zaidmo123 commented on #1996
I tried npm truffle install.
Both in command prompt with admin rights and Git bash.

It fails even if I have 1 renamed/old/unrelated folder in the directory.
Empty directory, not getting stuck downloading.

I've gotten past that but fail with trying to install another package
(HDwallet)

On Wed, 22 May 2019, 01:44 Cruz Molina, <notifications@github.com> wrote:

[2019-05-21 18:09] zaidmo123 commented on #1996
Will try in about 4 hours time

On Wed, 22 May 2019, 01:44 Cruz Molina, <notifications@github.com> wrote:

[2019-05-21 18:13] barlock commented on #2040
I haven't. I'm using the wallet provider in the browser with Drizzle. It doesn't ever see that config. I've wired Pantheon instead of ganache to use websockets.

I'll have a branch with a working example soon.

[2019-05-21 18:43] barlock commented on #2040
Here's the important line change https://github.com/ConsenSys/web3studio-sidejam/pull/15/files#diff-1166b1bc9915bf05db55080cfd04dcb1R121

Drizzle config: https://github.com/ConsenSys/web3studio-sidejam/pull/15/files#diff-f39bad30e90991680938d0737fb93d8dR10

Pantheon configuration: https://github.com/ConsenSys/web3studio-sidejam/pull/15/files#diff-4b6b1c9d03e80b998a3dc95e52f19aa6R4

[2019-05-21 21:45] zaidmo123 commented on #1996
It works for me

[image: image.png]

On Wed, May 22, 2019 at 1:44 AM Cruz Molina <notifications@github.com>
wrote:

[2019-05-21 21:46] CruzMolina commented on #1996
Great! Thanks for trying that out @zaidmo123

[2019-05-21 22:31] onggunhao commented on #1883
@eggplantzzz Thanks!!

[2019-05-22 05:34] MicahZoltu commented on #1996
@CruzMolina The following does not work (same symptoms):
[code]

[2019-05-22 13:24] romisalve commented on #1997
@CruzMolina

The truffle-config.js file I put on my project has been modified with your suggestion (before that I was having less gas and couldn't store the contract)

Ok, thank you! I'll try that later today.

Ok, thank you!. And do you have any example (no matter the programming language) of how is this achieved?  I am having trouble on understanding which is the work around. I would need to cre

[2019-05-22 15:00] romisalve commented on #1997
@CruzMolina

I have try this two ways to deploy on the migration file:
`
[code]
   And

[code]
But both ways ends up in this error:
![image](https://user-images.githubusercontent.com/21060405/58185219-ffc4e100-7c88-11e9-8448-755a006948f9.png)

[2019-05-22 15:47] CruzMolina commented on #1996
Thanks for checking that @MicahZoltu. On a stable release of truffle, if you globally install and then try the above, do you still get the same buggy behavior?

[2019-05-22 16:24] CruzMolina commented on #1997
It depends on your development/production environment. If you're just running your nodes locally, I imagine you could spin up a local server to host the artifact files or host and feed the artifact to a modeler. Again, haven't really played around with modeling but I imagine that's the high-level extent of what you want to do.

Regarding your inherited contract migrations, you should only have to

[2019-05-22 17:36] fainashalts commented on #1984
Hi @Amxx, do you still need help with this? Thanks!

[2019-05-22 17:37] fainashalts commented on #1985
Hi @jwasinger is this still an issue? Thanks, please let us know!

[2019-05-22 17:40] romisalve commented on #1997
I have 4 nodes, each of them on a separate machine. They are going to be the 4 nodes of the quorum network. So I should have a local server to host the files?  What I am not being able to understand is in which way I should use those files of build directory. I don't understan how I would end up calling one of the functions.

I also tried to deploy only contract B but is still failing. I am going

[2019-05-22 17:42] fainashalts commented on #2003
Hi @vaisakh92 are you still having issues with web3? Let us know, thanks!

[2019-05-22 17:44] fainashalts commented on #1993
Hi @tcurdt it looks like we've addressed this issue in a recent PR. We're closing this for issue maintenance but feel free to comment and we'll be happy to reopen if it's still a problem. Thanks!

[2019-05-22 17:44] #1993 closed

[2019-05-22 17:47] fainashalts commented on #2021
Hi @amkCha, thanks for bringing this up! We're aware of this limitation and will take steps to resolve this in the future.

[2019-05-22 17:51] romisalve commented on #1997
I was missing the import sentence at the beginning of my file.I am going to see if it works now and then I'll push it to my repo.

[2019-05-22 18:02] CruzMolina commented on #1997
Contracts can be in different files, but you'll need to remember to import. If they are in the same file, I believe the inherited contract needs to be defined before the derived contract:

[code]

[2019-05-22 18:08] CruzMolina commented on #1997
Ah, I think I misunderstand how the modeler works. It looks like you'll need to host a server with the build artifacts and either leverage `web3` or `truffle-contract` to consume the artifacts on that server before possibly using the modeler to make function calls. It looks like Camunda has a js pkg to handle some of this. Again, not too familiar with this, so CCing @gnidan in case he has more ins

[2019-05-22 18:31] romisalve commented on #1997
@CruzMolina Thank you!
Yes, I found that. After importing it I was able to compile them. I pushed them to the repo :) I am going to give a look to the read function and I am going to set the return parameters to what I need them to be and see if it works.

Then I am going to have a look at what you are saying about leveraging web3 and truffle contract.  But when you say leverage web3 or truffle co

[2019-05-22 19:32] MicahZoltu commented on #1996
The following works:
[code]

[2019-05-22 19:38] CruzMolina commented on #1996
Hmm, looks like this is what was noticed in: https://github.com/trufflesuite/truffle/issues/1996#issuecomment-491864416

Potentially a Windows `npx` local caching/path issue.

[2019-05-22 19:53] CruzMolina commented on #1997
Yes, those are separate nodejs packages. I imagine you'd have a local server running that has access to the build artifacts, the web3 and/or truffle-contract pkg's installed and accessible in the backend, along with the modeler nodejs pkg. I _think_ you should be able to string those parts together and run the modeler against your exposed contract methods (exposed via truffle-contract or web3.Cont

[2019-05-23 07:13] vaisakh92 commented on #2003
but without that  `then` I cannot access the accounts
[code]
without the then the variables admin,reciever and sender will return null and cannot be used.
[code]
please not for `const xl` and `const bk` in the above code.
for `const bl` an error thrown as : TypeError: Cannot read property 'newTransact' of undefined

[2019-05-23 10:31] tcurdt opened #2045 "accessing returned contract"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The documentation and the API is unclear on how to handle returned contracts.

## Steps to Reproduce

Let's say I have the following contracts
[code]
and I want to test this
[code]

## Expected Behavior

I would expect the above test to succeed.

#

[2019-05-23 14:56] romisalve commented on #1997
@CruzMolina
Ok, I believe I got what you said. Once I reach that point I will investigate more on it, thank you very much! But some questions on this.
Why do I need to have it on a local server on a different machine than the one running the node with truffle? Is for something related to security of some kind? And once I have that up, how it distinguish if I am accessing from which node? Or it is

[2019-05-23 15:37] CruzMolina commented on #1997
It really depends on how you plan to set the network up in production. I imagine you'd want to have the artifacts consumed and available on at least one machine where a node is running. I'm not sure about the scope of what a modeler can accomplish, but if you're looking to use it to more easily abstract and actually call contract functions, then I imagine as long as you have one machine hosting th

[2019-05-23 16:29] CruzMolina commented on #2045
Hey @tcurdt , thanks for reporting. Looking into the Solidity docs to verify if this is a bug.

[2019-05-23 16:39] rotcivegaf opened #2046 "My test dont works in new truffle version (5.0.19)"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I update the version of truffle(5.0.19), i dont have a migration files, only create the folder in the older version of truffle(5.0.12) i dont have error but now i have an error

How i can use the last vercion of truffle without migrations files?

#

[2019-05-23 16:41] tcurdt commented on #2045
@CruzMolina glad it's not just me :)

Anything else I can do? What should it be like?

[2019-05-23 17:01] romisalve commented on #1997
And so there is no way to define a sentence that only imports certain stuff of a contract? I need to modularize it on smaller ones?

[2019-05-23 17:36] gnidan commented on #2046
Hey @rotcivegaf thanks for raising this issue. Did you try it on Truffle v5.0.18? Would like to know what the earliest version is where this is broken for you, so that we can look at the changelog for the root cause.

Regardless, we'll look into this issue and see if we can't get it fixed in a jiffy.

[2019-05-23 18:05] CruzMolina commented on #1997
https://solidity.readthedocs.io/en/v0.5.8/layout-of-source-files.html?highlight=import#importing-other-source-files

Looks currently you will need to modularize things.

I believe that should work!

If you are trying to physically represent this in some manner, it probably makes sense to have two separate machines hosting the artifacts and able to represent the contracts with access to the network

[2019-05-23 18:07] CruzMolina commented on #2045
Hmm, I was going to suggest a `web3.eth.Contract` workaround, but it looks like even the current web3 we import as a dependency is unable to handle this scenario.

[2019-05-23 18:18] rotcivegaf commented on #2046
This is the latest version that works
[code]

[2019-05-23 19:44] #488 closed

[2019-05-23 19:44] #522 closed

[2019-05-23 20:59] gnidan commented on #1658
Not stale.

[2019-05-23 20:59] gnidan commented on #1320
Stalebot you are getting on my nerves

[2019-05-23 23:22] spalladino opened #2048 "Incorrect ABI generated when compiling after modifying a contract"
## Issue

Since truffle 5.0.13, when compiling a specific contract after adding a variable to it, the resulting ABI is incorrect.

## Steps to Reproduce

We have narrowed down the issue to these specific two contracts. Let's call them V1:

[code]

And V2:
[code]

Note that the difference between the two is the added `t` public field, and adding it as a parameter in the initialize function.

When c

[2019-05-23 23:36] gnidan commented on #2048
Ah @spalladino nice find! Sounds like we inadvertently oversimplified the artifactor merging behavior. #1894 might be the culprit; I'll take a look.

[2019-05-24 00:09] gnidan commented on #2048
(@CruzMolina is beating me to it)

[2019-05-24 02:01] Nexus7 commented on #2048
Thanks for the quick fix :-)

[2019-05-24 13:24] spalladino commented on #2048
Awesome, thanks!!

[2019-05-24 15:07] romisalve commented on #1997
@CruzMolina  thank you! I'll modularize it and once I try to deploy it, I'll update my repo.

- This two machines you mention in which I would be hosting the artifacts, can they be the same machines that are running the nodes?
- The artifacts of the contracts can be generated by truffle on one machine and then I can copy that directory to the other machines that run the other nodes?
- It is mandat

[2019-05-24 15:08] eggplantzzz commented on #2046
@rotcivegaf I actually get a different error when I try to follow the steps above with both `truffle@5.0.13` and `truffle@5.0.19`.

`Error: Error: ENOENT: no such file or directory, stat '/Users/tyler/projects/external/rcn-network/migrations'`

Do you have any insight on this error?

[2019-05-24 15:14] eggplantzzz commented on #2003
`accounts` will be set as it returns a promise that resolves with the accounts. Just `const accounts = await web3.eth.getAccounts();` is enough. The same goes for `xl.send(....`, `xl.methods.newTransaction(...`, and `contract.methods.getTransactionCount().call();`. They are ALL async methods and you will have to `await` them.

[2019-05-24 15:20] rotcivegaf commented on #2046
You need create a migrations folder

[2019-05-24 15:27] eggplantzzz commented on #1588
Hmm I did make some updates that resolved a lot of those issues I think. When I have some time I'll try and see how much of the stuff is still old. So rest assured, there was some effort to remedy this :)

[2019-05-24 15:59] CruzMolina commented on #1997
I don't see why not!

Yes, or at least make sure the machine w/o the artifacts locally has access to the hosted artifacts.

No, only whichever machine(s) you plan to run the modeler on.

I imagine a simple demo would be two separate machines running the modeler to visualize interaction with contracts on the blockchain. If you'd like to expand it, then you'd need to make sure each additional machin

[2019-05-24 16:14] #2048 closed

[2019-05-24 16:58] onggunhao commented on #1883
For anyone else who was stuck on this, you'll have to upgrade Truffle to the latest version.

[code]

It should be solved in `truffle@5.0.19`

[2019-05-24 17:25] gnidan commented on #1883
Looks like we can close, then! Thanks all!

[2019-05-24 17:25] #1883 closed

[2019-05-24 17:51] gnidan commented on #2046
Huh I thought we stopped requiring a `migrations` directory. If not, maybe we should.

[2019-05-24 18:45] romisalve commented on #1997
@CruzMolina  I have another question more related to programming in solidity itself.

Solidity limits local values on functions to a maximum of 16 (including parameters and return values), doesn't it? Due to the fact that the AEO I intend to create on my contract has too many attributes, I had to spilt the create function into smaller functions that creates  all the different "pieces" of the AEO a

[2019-05-24 19:21] #450 closed

[2019-05-24 20:54] haltman-at commented on #2028
OK, I've just put up PR #2052 which should fix this.  Note that you'll still get that `(UNKNOWN)` display on startup, but you can ignore that; once this is merged the call itself should work fine.

[2019-05-24 21:57] rotcivegaf commented on #2046
yes, in actual version is required, if you want i can open  an other issue

[2019-05-25 07:10] vaisakh92 commented on #2003
[code]
still promise rejection error in send function.
if we use the contract instance that is created on `.methods.getTransactionCount()` then it returns the instance returns .getTransactionCount as undefined.

[2019-05-27 08:50] 4Maarifa commented on #1996
@MicahZoltu  did it work for you?

[2019-05-27 09:00] MicahZoltu commented on #1996
@4Maarifa Yes.  Doing a global install of Truffle works fine.  Doing a local install of Truffle (and using `npx`) does not work.

[2019-05-27 09:18] maxsam4 commented on #2046
I am facing a similar error where I am unable to run migrations/tests on the latest version. The exact error I am getting is
[code]
I am pretty sure that there is something wrong with the compilation or artifacts creation process because I am able to compile contracts with older truffle version (5.0.6) and then run tests/migrations with the latest (5.0.19). Compiling with the latest version and mi

[2019-05-27 10:05] eggplantzzz commented on #2046
@rotcivegaf Thanks, I found the bug and will put in a PR for it this week! Thanks for the report and repro steps!

[2019-05-27 12:28] tcurdt opened #2055 "waiting for contract change"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The test successfully calls a setter but the getter does not read the set value.

## Steps to Reproduce

Here is a super simple contract.

[code]

This is the test testing the setter/getter

[code]
## Expected Behavior

The test should succeed.

##

[2019-05-27 12:32] eggplantzzz commented on #2046
PR #2056 addresses this issue.

[2019-05-27 12:43] eggplantzzz commented on #2003
I believe you will have to send transactions using the instance that web3 returns. In other words, use `xl` as your contract instance and call methods from it instead of `contract`. I hope that helps.

[2019-05-27 12:58] ppoliani commented on #1943
Have you had any luck with this one?

[2019-05-27 13:31] fasidOnGit commented on #1943
@ppoliani Pretty busy with work. This one is my side project. Will try it this weekend(Hopefully :slightly_smiling_face: )

[2019-05-27 15:43] gnidan commented on #2055
When you do `center.setName.call()`, it forces it to be a read-only "call". If you leave that off and do only `center.setName()` or `center.getName()`, it'll detect the former as state-modifying and the latter as read-only, and do the correct behavior.

(If you want to force a transaction, you can do that with `center.setName.sendTransaction()`... these docs might help: https://truffleframework.co

[2019-05-27 15:43] #2055 closed

[2019-05-27 15:43] gnidan commented on #2055
(If it doesn't help, just reply so and I'll reopen. Thanks!)

[2019-05-27 18:05] tcurdt commented on #2045
@CruzMolina is it maybe possible to extract the address from the transaction and use that with `Contract.at(..)`? just as a work around? I am a little stuck at the moment.

[2019-05-27 18:12] mr-fool opened #2057 "gnidan referral regarding TruffleContract constructor"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
TruffleContract() is undefined despite installing it using npm
https://imgur.com/a/8IYIc9t

## Steps to Reproduce
Remove this line
https://github.com/mr-fool/tokenSale/blob/master/src/index.html#L51
I can't do require or import in app.js without a s

[2019-05-27 18:18] tcurdt commented on #2055
@gnidan Thanks, that helped! I wasn't aware of the difference of `center.setName.call()` vs `center.setName()`.

Somewhat related to the `sendTransaction` - is there a way to get to the address from the transaction? That could maybe help me to work around [this issue](https://github.com/trufflesuite/truffle/issues/2045) as well.

[2019-05-28 01:10] gnidan commented on #2055
Effectively you can't get return values from transactions, the way you can with calls. The "right way" to get data out of transactions like that is to use Solidity events (`emit` keyword in Solidity).

That seems to be the problem you're running into in your other issue... I'll try to get the chance to follow up with specific JS syntax examples when we're back in business tomorrow (US holiday toda

[2019-05-28 06:29] vaisakh92 commented on #2003
[code]
![Screenshot from 2019-05-28 11-58-27](https://user-images.githubusercontent.com/26114073/58455723-013a5180-8140-11e9-9666-55cb935f0a89.png)

[2019-05-28 06:36] elenadimitrova opened #2058 "truffle console doesn't display reason strings from failed transactions"
## Issue

When a transaction triggered via the `truffle console` fails, the reason string, when available is not returned.

## Steps to Reproduce

Fork the [colonyNetwork](https://github.com/JoinColony/colonyNetwork) repo
Open the truffle console, connected to Goerli `yarn run truffle console --network goerli`
Run
[code]
Then call one of the `auth`-ed functions, e.g. `await colonyNetwork.startNext

[2019-05-28 09:22] mosasiru commented on #1622
I tried v5.0.19. and confirmed `truffle migrate` showed console messages. Thank you!
However `truffle console` returns nothing to console still.

[2019-05-28 10:03] eggplantzzz commented on #2003
What is this call to `send` doing? Is that really a method on the contract object?
What is `xl` after you deploy it? Log it, does it look like a contract instance? Again, all those methods are `async` so you will have to await them.

[2019-05-28 11:08] eggplantzzz opened #2059 "Update the default solidity version used by Truffle"

[2019-05-28 11:18] tcurdt commented on #2045
This works but feels like a hack:
[code]

[2019-05-28 11:23] tcurdt commented on #2055
@gnidan at least in my mind events are a totally different mechanism - unrelated to this use case.
There is no way for listen for events in contracts so a factory seems to the one of the few approaches to keep track of created contracts - that I know of.

I managed to get the address and by that the contract from the transaction (see the update on the other issue) but it feels like big fat brittle

[2019-05-28 11:30] vaisakh92 commented on #2003
the xl object is
[code]
contract instance of the contract mentioned in the code above.
but still using the send function to communicate with truffle is not working.

[2019-05-28 11:42] tcurdt commented on #2055
Just for the records - the following works fine:
[code]

[2019-05-28 12:42] PJColombo opened #2060 "Angular Truffle Box problem"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Hello, I've some problems trying to create a new project with angular-truffle-box.
When I run the command:
`truffle unbox Quintor/angular-truffle-box`

I get the following error:

`PS C:\Users\paulo.colombo\Documents\u-port-another-project> truffle

[2019-05-28 12:55] eggplantzzz commented on #2003
At this point, this issue actually has nothing really to do with Truffle actually. You are not really using Truffle :) You are in Web3 land. You should probably check out the web3 docs to help you do what you are trying to do. Here are the docs for web3 contract objects https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html

[2019-05-28 13:01] eggplantzzz commented on #1997
@romisalve Regarding making transactions in chronological order, the javascript methods that you use with your contract objects return Promises. So you can use `then` syntax or `async/await` syntax to ensure that the second method gets called only after the previous one is finished.

[2019-05-28 14:06] eggplantzzz commented on #2060
@PJColombo Hey, actually I don't think that is a box that anyone at Truffle made as far as I can tell. You might go ask whoever manages that repo and maybe they can help you.

[2019-05-28 14:43] gilesbradshaw commented on #2028
star player!

[2019-05-28 15:41] #1419 closed

[2019-05-28 15:44] CruzMolina commented on #1622
hey @mosasiru , can you share an example repo with a truffle project exhibiting this behavior?

[2019-05-28 15:52] CruzMolina commented on #2045
Hmm, interesting. I seem to be unable to get any logs from the `createContract` call locally (while using `truffle develop` or `truffle test`).

Can you share an example repo or reproduction steps?

[2019-05-28 15:55] CruzMolina commented on #2045
BTW, although your working code seems hacky, that _looks_ like the correct way to accomplish what you're trying to do.

Could also maybe do:
[code]

if that feels slightly less hacky 😂

[2019-05-28 16:11] CruzMolina commented on #2057
hey @mr-fool , are you using the minified file from the `truffle-contract` pkg `dist` folder? Your `min.js` file in `src` appears to be different than the one installed via `npm i truffle-contract`.

[2019-05-28 16:15] mr-fool commented on #2057
I used the mib.jz file from src since I can't get the npm install version to work

[2019-05-28 16:19] tcurdt commented on #2045
Odd. I am using it with `npx truffle test` and `v5.0.18`. And there is not much more to it.
I cannot share the full repo but creating a test case should be doable.

[2019-05-28 16:25] CruzMolina commented on #1997
It's been a while but there's a way to do this within your contracts. You might need to dig around in the Solidity docs some more or perhaps look at a couple of their examples. IIRC, what you do is wrap your `public` method calls around `internal` functions and possibly a `require` statement.

So, say you have a method:

```function executeSequentialTx() public returns (bool) { }```

you have each

[2019-05-28 16:28] CruzMolina commented on #2045
Are you having `truffle test` connect to another chain other than the default network that automatically spins up?

[2019-05-28 16:30] CruzMolina commented on #2045
I'm finding that `tx.logs` just returns an empty array on my end.

[2019-05-28 16:33] CruzMolina commented on #2057
If understand correctly you're using `truffle-contract` in the browser, you will need to use the `truffle-contract.min.js` file like so:

https://github.com/trufflesuite/truffle/tree/develop/packages/truffle-contract#browser-usage

Otherwise, to use in a node environment, you will have to `npm i truffle-contract` and then require/import it in.

[2019-05-28 16:56] tcurdt commented on #2045
Nope. Built-in ganache. Nothing in `truffle.js` but the compiler settings. Odd.

[2019-05-28 16:58] mr-fool commented on #2057
https://gist.github.com/mr-fool/f8c983e22b6968ec7d15b5edaf3c6df8
I try the require approach
![Capture](https://user-images.githubusercontent.com/6241984/58496545-56be3080-8137-11e9-80f9-37f341c946ca.PNG)
![Capture](https://user-images.githubusercontent.com/6241984/58496622-7b1a0d00-8137-11e9-8246-daafb1393c70.PNG)

[2019-05-28 17:01] CruzMolina commented on #2045
Is your contract source code the same as when you opened the issue?

[2019-05-28 17:02] CruzMolina commented on #2045
What are your compiler settings, btw?

[2019-05-28 17:03] AndreiD commented on #402
or in VS Code settings

"solidity.packageDefaultDependenciesContractsDirectory": "",
 "solidity.packageDefaultDependenciesDirectory": "node_modules"

[2019-05-28 17:29] CruzMolina commented on #2057
Yes, see the docs for browser usage:

https://github.com/trufflesuite/truffle/tree/develop/packages/truffle-contract#browser-usage

[2019-05-28 18:19] romisalve commented on #1997
@eggplantzzz thank you! I will take that into account when calling my functions.

@CruzMolina thank you! Yes, require refund the gas while assert does not. Then, about using truffle- contract: I was trying to use it and try to consume a function (createMasterDataAEO). For that reason, I created an app.js file in which I put:

[code]

This would be a proper approach? I am creating a file inside my

[2019-05-28 18:27] tcurdt commented on #2045
Attached is a test case.
Seems like the `tx.logs` is coming from the `emit` that was missing from the issue here.

What is strange with the test case, the `setName` causes a revert.
Unfortunately there is no clear indication why.

[testcase.zip](https://github.com/trufflesuite/truffle/files/3229132/testcase.zip)

[2019-05-28 20:05] CruzMolina commented on #2045
@tcurdt, I believe your event is emitting the address of the Factory contract.

Try updating your emit line to be:

[code]
and your test
[code]

🤞

[2019-05-28 20:26] tcurdt commented on #2045
Thanks for the help.. Now I slowly understand where the `tx.logs` comes from. This feels even more like hack now :)

The event is related to the factory so it really was supposed to be `this` to give the context of the factory. But I could of course add the contract address as well.

That said - in the original code base passes just `this`.
Which is why I am wondering where the proper address is c

[2019-05-28 20:34] CruzMolina commented on #2045
I believe `tx.logs[0].address` is the address that tx is being sent to, which is the Factory contract.

You should be able to verify that `tx.logs[0].address` and `tx.logs[0].args.instance` are the same address given the way you have the event currently set up (`msg.sender` and the Factory address in `this`).

You're right that `const foo = await Foo.at(this)` should fail. Currently it doesn't loo

[2019-05-28 21:35] tcurdt commented on #2045
In the real code base I am calling/transacting with what here is `foo`. Hence my surprise it's actually working. I will try to dig in more.

But for the future it should become just `foo = await factory.createFoo()`, right?

[2019-05-28 22:09] CruzMolina commented on #2045
It's hard to say definitively what should or shouldn't be happening without a look into the code.

IIRC, in production `const foo = await factory.createFoo()` w/o an event that emits the newly created contract address **should not** return anything more a normal tx log (**no newly created contract address in the logs**).

[2019-05-28 22:46] tcurdt commented on #2045
What code to look into do you mean?

IMO it's very odd to have the function specified to return a contract (or address) but on the javascript side all you get is a transaction. And then having to "ship" the return value via the event system.
And in other cases calling contract function happily return values.

[2019-05-28 23:10] CruzMolina commented on #2045
Without a public repo it's hard to reproduce and help with debugging.

Def agreed. I could be mistaken but it appears that behavior is up-to-spec with the way the EVM currently works in practice.

[2019-05-28 23:16] OliveIT commented on #498
I found @rkalis has done awesome job regarding this topic.
https://ethereum.stackexchange.com/a/60574/41404
https://kalis.me/assert-reverts-solidity-smart-contract-test-truffle/

[2019-05-29 04:02] #2034 closed

[2019-05-29 06:34] elenadimitrova commented on #2058
Actually as @area rightly pointed out, this is probably not truffle's fault but the non-ganache-cli clients that don't yet have revert error strings implemented. What year is this?

[2019-05-29 06:34] #2058 closed

[2019-05-29 07:27] PJColombo commented on #2060
I'll ask there.

Ye, it seems a window-specific issue.

[2019-05-29 07:27] #2060 closed

[2019-05-29 15:17] romisalve commented on #1997
@CruzMolina If I am using truffle console to try my smart contract functions, how can I show on console the boolean that, for example, my public function "AssociateMasterDataParty" should be retrieving?

I tried to use .call() but it says that is not a function.
I tried to assign the execution to certain variable, as result= instance.MyFunction() and then print reuslt, but it gives me the transact

[2019-05-29 15:32] CruzMolina commented on #1997
I'm not exactly clear on the scope of the modeler js pkg, but I _think_ whatever button you'd like to visually click to interact with your contract and the blockchain should interact with `truffle-contract` and/or `web3` to actually make the call. The created contract instance should either receive the response and/or be able to update itself to provide the latest info on the chain.

What error ar

[2019-05-29 17:21] gnidan commented on #2059
This is done!

[2019-05-29 17:21] #2059 closed

[2019-05-29 17:39] gnidan commented on #381
Looks like this is a bug now. The work to be done is to fix the `.request()` method that we provide in truffle-contract. Thanks for bearing with us!

[2019-05-29 17:42] gnidan commented on #1252
Closing this as duplicate of #1347. Don't worry @roderik, we haven't forgotten about wanting to add this behavior back in!

[2019-05-29 17:42] #1252 closed

[2019-05-29 17:49] gnidan commented on #2045
Is this work to be done for this issue to make Truffle work better? Can we identify a definition of done so we can close? It sounds like there might be room for improvements to our docs.

Unfortunately I don't think we can change the return values for a transaction, the way you are looking for, but we might be able to improve the event observation syntax to make that easier. Let us know what you t

[2019-05-29 17:50] gnidan commented on #2046
Sweet! Looks like this will go out in the next release! Thanks all!

[2019-05-29 17:53] gnidan commented on #2057
Looks like we could use better docs on usage. Marking this as such. Thanks!

[2019-05-29 18:26] romisalve commented on #1997
@CruzMolina

Eventhough I use different instances I will be modifying the same mappings, arrays, etc? Or each structure is created for each instance? Because I need them to be the same no matter from where I access them.
What do you refer with "method call"?

![image](https://user-images.githubusercontent.com/21060405/58581281-919e9200-8225-11e9-8f38-c231528b8fda.png)

![image](https://user-images

[2019-05-29 19:59] tcurdt commented on #2045
@gnidan I understand that backwards compatibility is a problem. As for options I am not sure I have enough in-depth knowledge.

A work around I use now in my code base is

[code]

and then

[code]

which is all but ideal - but it's a start.

Improving the docs would be much appreciated for sure. Maybe something along the lines of what @CruzMolina suggested could find its way to the docs.

But in g

[2019-05-29 21:33] gnidan commented on #2045
The open question, in my mind, is: what's the best _syntactic sugar_ <sub>(ref: [Wikipedia](https://en.wikipedia.org/wiki/Syntactic_sugar))</sub> for getting information out of a transaction? I view this "how do we get a factory-made contract instance?" as a subset of that problem... I'm happy to lend my views toward factory-specific syntax, but I think that's a later discussion.

My concerns are

[2019-05-30 05:52] taylorjdawson commented on #1584
I can reproduce as well:<br/>
System Version: macOS 10.14.4 (18E226)
Kernel Version: Darwin 18.5.0

Node Version: v12.3.1

It works on node v11.10.1.

[2019-05-30 15:57] #1386 closed

[2019-05-30 16:00] CruzMolina commented on #1386
Assigning to myself to keep open 😠

[2019-05-30 18:24] romisalve commented on #1997
@CruzMolina truffle-contract can be on a different machine than the modeler? And with truffle contract I won't be exposing an URL to hit it and consume the smart contract methods, won't I? There is no way to have that , isn't it?

[2019-05-30 21:12] seesemichaelj opened #2065 "ABI Contract Schema Tuple Components/Children are not Verified for their Types"
You'll see https://github.com/trufflesuite/truffle/pull/2064/files#diff-da060bd5170ce9e90e14ece903806d3eR135 says that the `components` property has an array of `object` types. This is *supposed to be* `"items": { "$ref": "#/definitions/Parameter" }`, but the https://github.com/bcherny/json-schema-to-typescript dependency we use to generate typings fails due to the recursion  (gets a `Maximum call

[2019-05-30 23:39] haltman-at commented on #2028
Fix has been released, closing this.

[2019-05-30 23:39] #2028 closed

[2019-05-30 23:46] gnidan commented on #1322
This looks like it should be closed!

[2019-05-30 23:46] #1322 closed

[2019-05-30 23:47] gnidan commented on #2046
The above PR has been released with Truffle v5.0.20. Closing this now! Please let us know if the problem persists.

[2019-05-30 23:47] #2046 closed

[2019-05-31 03:19] AC0DEM0NK3Y commented on #469
Still an issue with this setup (using windows):

Truffle v5.0.20 (core: 5.0.20)
Solidity - 0.5.9 (solc-js)
Node v10.15.0
Web3.js v1.0.0-beta.37

Seems to be possibly unrelated to tests as I get the same recompile if I just run "truffle compile" one after the other after wiping the build folder.

[2019-05-31 03:21] AC0DEM0NK3Y commented on #1659
Seems to be with the below setup (on Windows):

Truffle v5.0.20 (core: 5.0.20)
Solidity - 0.5.9 (solc-js)
Node v10.15.0
Web3.js v1.0.0-beta.37

But I think this is because it is recompiling every time regardless, see https://github.com/trufflesuite/truffle/issues/469

[2019-05-31 06:59] marcosio opened #2066 "Error debugging transaction using Quorum client"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When we try to debug a transaction on a JPMorgan Chase Quorum node with version 2.2.3 configured in an IBFT network, the debugger fails with the error `Cannot read property 'toTwos' of undefined`.

## Steps to Reproduce

I create a private network

[2019-05-31 14:20] romisalve commented on #1997
@CruzMolina  now the function readAEO does not retrieve an error, but its output is giving empty strings or how this should be interpreted?
![image](https://user-images.githubusercontent.com/21060405/58711705-60dd6a80-8395-11e9-9e9b-c8a570fc7abb.png)

It may be happening that my structures are empty?

[2019-05-31 16:13] rkalis commented on #564
Hey guys, quick update. Thanks to @vinceau's great work from a few weeks back, [`truffle-plugin-verify`](https://github.com/rkalis/truffle-plugin-verify) now supports automatic code flattening and verification, and is currently being used in production by @renproject.

Run `truffle run verify ContractName [--network networkName]` to verify any deployed contract with the Etherscan API. I wrote [a s

[2019-05-31 17:56] gnidan commented on #2066
Thanks for reporting this! We'll take a look at this and see if it's something we can fix easily.

[2019-06-02 03:20] calvinlauco opened #2068 "VM Exception while processing transaction: revert on Ether transfer"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
- [x] I've tried the solution in similar issue https://github.com/trufflesuite/truffle/issues/748 before filing this issue.

---------------------------

## Issue
Given a contract with a very simple `payable` function, when I try to `sendTransaction` from ganache account with more than s

[2019-06-02 09:37] Vasiliy-Bondarenko opened #2069 "5.0.20 not installable"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Latest 5.0.20 is not installable. Tested on mac and linux. Error is similar:
[code]
5.0.19 works fine on both systems. 5.0.20 fails on the same 2 systems.

Mac: 10.13.6
npm --version
6.4.1
node --version
v8.7.0

[2019-06-02 11:35] odv commented on #2069
@Vasiliy-Bondarenko  Hello, I was experiencing the same issue but on Ubuntu. What I did was remove nodejs/npm, reinstalled them then followed this guide: https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

It seems like there is a permission error. In my case, following the documentation in the link above worked. Let me know if that helps.

[2019-06-02 13:27] filips123 opened #2070 "Not usable on Node.js 12"
## Issue

Truffle and its sub-packages (`truffle-contract`) are unusable on Node.js 12.

This needs to be **fixed quickly** because it currently makes any package that uses `truffle-contract` **unusable on Node.js 12**.

## Details

Node.js 12 removed some deprecated functions from the V8 add-on API which are used by some of Truffle dependencies.

One of that dependencies is `sha3@1.2.2` which is

[2019-06-02 13:31] filips123 commented on #1690
@Levino @gnidan Now this seems like a very important bug. Because of #2070, Truffle is unusable on Node.js 12.

[2019-06-02 17:25] gnidan commented on #2069
Oops! We'll fix this and get a release out this week. Thanks for pointing this out!

In the meantime, you should be able to get around this by installing Truffle v5.0.19 and then running:
[code]

Then you should be able to upgrade to v5.0.20 without problem. But do let us know if that's not the case. Thanks!

[2019-06-02 17:34] gnidan commented on #2070
Hey @filips123, thanks for bringing this up. This incompatibility is a known issue but unfortunately it's not something we can "fix quickly".

Firstly, upgrading to Web3.js v1.0.0-beta.55 is not an option, since there are breaking changes that would have to wait until Truffle v6. This upgrade has been something we've been attempting for at least 6 months, without success. I won't say more now, but

[2019-06-02 17:37] gnidan commented on #1690
I'm labeling this on hold because the newer Web3.js versions include breaking changes, not only for Web3.js itself, but also for Truffle, since Truffle exposes Web3.js's external interface. These breaking changes will have to wait until Truffle v6.

We've identified a path forward; expect an announcement from Web3.js soon!

Thanks!

[2019-06-02 17:41] filips123 commented on #1690
When will Truffle v6 be released? I know it would be hard, but it is needed. Node.js 12 will become LTS in October, so if it won't be fixed until then, it could be a problem.

[2019-06-02 17:42] gnidan commented on #2068
Hm. Looks like there's a mismatch between your contract and the way you're sending transactions.

If you just do a regular `sendTransaction`, it's going to invoke the "fallback function". If you change your `deposit` function to be this fallback function, you shouldn't see the revert:

[code]

Alternatively, if you want to keep the name `deposit`, you can invoke this function in JS as follows (usi

[2019-06-02 17:58] filips123 commented on #2070
@gnidan For sha3, I can submit PR that updates all dependencies. Should I do this for all Truffle packages or just for `truffle-contract`?

[2019-06-02 20:38] filips123 commented on #2070
And you can also see my Travis CI build with updated dependencies:
https://travis-ci.com/filips123/truffle/jobs/204809466