[2019-06-03 09:18] tcurdt commented on #2045
Wow - a great response. Let me start with with where I am struggling first.
You make the distinction between calls and transactions. But my point was that this distinction is not clear from the js API point of view.

[code]

On the solidity side it's clear this is a `view` which makes this a read-only call. So is the usage on the js side. Let's say (awkward use case but for the sake of argument) w

[2019-06-03 13:45] mosasiru commented on #1622
I'm so sorry, that was my misunderstanding. I found it work well!

[2019-06-03 16:28] #2069 closed

[2019-06-03 18:05] romisalve commented on #1997
@CruzMolina is there a way to assure that both contracts use the same instance of the inherited contract?
The way I'm doing it now, each contract is combining its own methods and the methods of the inherited one. This way both contracts will have some of the same methods and mappings and arrays, but only in name; each contract has it's own state where actual values will be store.

Is there some wa

[2019-06-03 19:38] fasidOnGit commented on #1943
@ppoliani @CruzMolina Please feel free to close this one. I think it will take quite some time for me to look at my side project. Pretty busy right now. I can reopen if the workaround that is suggested above doesn't work out for me. Thanks :)

[2019-06-03 20:17] CruzMolina commented on #1943
Sounds good @fasidOnGit . Feel free to ping me if the workaround doesn't work.

[2019-06-03 20:17] #1943 closed

[2019-06-03 21:31] andreafspeziale commented on #1109
@gnidan Thanks for the input. So I should run ganache-cli with `--fork http://<parity-host>:<parity-port>` and then `truffle debug txhash`?
What does fork mean? It uses the history of the node till that moment and then ganache will create its own chain? Should the node be a full node or something else?

Thanks! It's very useful (I'll do some tests)

[2019-06-04 00:32] gnidan commented on #1109
Yep! From the point of the fork, Ganache makes new blocks. For data from the chain before that point, it defers to the underlying node. Neat, huh?

You might need a full node to get storage info. YMMV. Let me know how it works out!

[2019-06-04 05:24] princesinha19 commented on #1241
I am getting the same error now.

[2019-06-04 05:36] CruzMolina commented on #1241
@princesinha19 What truffle version?

[2019-06-04 16:00] aawaken commented on #1241
I try to deploy to my local parity node and I get the following error:

[2019-06-04 16:10] CruzMolina commented on #1241
Hey @aawaken, can you share a repo for bug reproduction?

[2019-06-04 16:15] aawaken commented on #1241
@CruzMolina have no public repo for now.. This is a very simple project with standard migrations script.

By the way, I've tested just now - the deployment works well until Truffle 5.0.5, from 5.0.6 on the error comes.

[2019-06-04 16:19] kumar80 commented on #2069
I have the same issue,  logs are in the [link](https://drive.google.com/file/d/1yk1brX4R78sdHiMLiA-yFKBc1Z0rQdU8/view?usp=sharing)
OS : windows 10
npm -v
6.9.0
node -v
10.16.0

[2019-06-04 16:35] CruzMolina commented on #1241
Ah, can you try the latest version of truffle?

[2019-06-04 16:35] calvinlauco commented on #2068
Thanks, this is exactly the problem. Sorry for the stupid question. Closing this issue now.

[2019-06-04 16:35] #2068 closed

[2019-06-04 17:40] CruzMolina commented on #1891
## Requirements

1. Enable the usage of a `genesis_time` property in a given `truffle-config.js`.

Example:
[code]

2. Throw a helpful `Error` if `genesis_time` is *not* passed a valid `Date`.
3. Ensure that the valid `genesis_time` value is passed as a configurable option internally within truffle before starting a default `ganache-core` chain for `truffle test`.
4. Add an integration mocha test

[2019-06-04 18:24] CruzMolina commented on #468
## Requirements

1. When truffle is passed an unsupported command line flag, it should throw a helpful error.

Example:
[code]

2. Add an integration mocha test to verify proper error handling.

## Prerequisite Context

- Familiarity with the current entry point for Command handling: https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/command.js. In particular [these lin

[2019-06-04 18:51] CruzMolina commented on #1879
## Requirements

1. Enable successful usage of a global configuration flag while calling `truffle migrate`.

Example:
[code]

2. Throw a helpful `Error` if a truffle config is not found at the given path.
3. Add an integration test to verify proper behavior (i.e. when passed a valid config path, migration succeeds, when passed an invalid config path migration fails).

## Prerequisite Context

- Fa

[2019-06-04 18:59] CruzMolina commented on #1695
Circling back on this. Auto-downloading/caching of plugins is still a great idea to implement, but in the interim, there might also be a good truffle box use case here. Plugin writers can streamline ease-of-use by boxing plugin-specific configs, use the box install/postinstall hook to set the user/dev up with their plugin package, _and_ output plugin-specific commands upon successful unboxing.

[2019-06-04 19:01] aawaken commented on #1241
wasn't that 5.0.20, which I started with?

[2019-06-04 19:03] CruzMolina commented on #1241
Ah, missed this bit:

Thanks for reporting this, can you open a new issue specific to parity?

@princesinha19 are you still experiencing this error and if so is it while using geth?

[2019-06-04 19:20] aawaken opened #2075 "Error on deployment of the Migration.sol contract to parity"
I try to deploy to my local parity node using 'truffle deploy' and I get the following error on deployment of the Migration.sol contract:

_Originally posted by @aawaken in https://github.com/trufflesuite/truffle/issues/1241#issuecomment-498734968_

[2019-06-04 19:22] aawaken commented on #2075
Downgrade to Truffle 5.0.5 helps.
Doesn't work with Truffle 5.0.6, 5.0.7, 5.0.10, 5.0.20.

[2019-06-04 19:25] aawaken commented on #1241
#2075

[2019-06-04 19:27] jdhines commented on #2069
I did what @CruzMolina recommended, but still got the following errors when trying to `obtain`:

[code]

[2019-06-04 19:58] CruzMolina opened #2076 "Provide an example for leveraging truffle boxes and plugins together for devs"
Inspired by #1695.

Would be nice to have a documented and viewable example to exhibit how plugin developers can leverage the truffle box mechanism to more easily ship their plugins for consumption.

For example:
[code]

could install a plugin in an install or postinstall hook, setting users up with a preconfigured truffle config, and output plugin-specific supported commands.

[code]

## Requirem

[2019-06-04 20:39] haltman-at commented on #2066
Question: Do we know if this is Quorum-specific?  Does it also happen outside of Quorum, if that question makes sense?

[2019-06-05 04:27] princesinha19 commented on #1241
@CruzMolina sorry for late response.
Yes, I am experiencing the same issue and I am using Geth.

[2019-06-05 09:32] eggplantzzz commented on #468
Should this throw an error or perhaps just a warning?

[2019-06-05 10:09] eggplantzzz commented on #1997
truffle-contract is just a tool which provides a way to interact with contracts on chain. The main thing it consumes is the artifact files that are created by Truffle, which are currently in JSON format. So if you want to interact with the same contracts you could copy over the JSON files that are associated with the artifacts you are interested in.

One caveat, however, is that these JSON files g

[2019-06-05 10:11] eggplantzzz commented on #1997
Also, it looks to me like there is some permission issue on your computer where you are attempting to install truffle-contract. I think you need to have root permissions to install. Go ahead and check what permissions your particular user has.

[2019-06-05 12:44] romisalve commented on #1997
@eggplantzzz thank you!! So truffle-contract is the way to consume the smart contract methods isn't it?
Or do you know some way to "expose" those methods on kind of an url to consume them from, suppose something as postman or something like that?
Or that is what I am doing if I use truffle-contract? or it is impossible?

[2019-06-05 14:33] eggplantzzz commented on #1997
truffle-contract just provides a way to interface with the contracts. You would need to find some other technology to use to access them via http or somesuch. I suppose you could do something like set up an Express.js server that could deal with that kind of thing...there are countless options :)

[2019-06-05 15:37] jo-tud opened #2079 "Protect truffle users from accidentally exposing secrets"
Truffle should protect its users from accidentally exposing potentially harmful information with github commits.

Approaches:
- check for seed phrase patterns in truffle project files
- require that .gitignore files contain typical keyfile pattern
- more?

@gnidan

This feature request originated from this Twitter thread: https://twitter.com/j6sp5r/status/1136016417562791938

[2019-06-05 16:18] romisalve commented on #1997
@eggplantzzz ah ok, do you have kind of an example of how would be doing that?

And also, if I am working on a contract using an instance of another contract which has certain public variables. If one of them is a public array or a public mapping, if I want to add a new element, I should define a function on the other contract to achieve this because I can't do it directly accessing the variables,

[2019-06-05 17:30] eggplantzzz commented on #1997
Here are the docs for express https://expressjs.com/

truffle-contract has methods for making calls to on chain stuff to get values. Check out the docs https://truffleframework.com/docs/truffle/getting-started/interacting-with-your-contracts

[2019-06-05 17:46] gnidan commented on #2079
Thanks for opening this! Marking this as help wanted, but I think there's a discussion to be had before we proceed, to make sure we don't run into performance problems or introduce overly cumbersome hacks to get this to work.

[2019-06-05 17:54] gnidan commented on #1984
Just including this for reference: https://github.com/rkalis/truffle-plugin-verify

(Can we close this yet? Thanks all.)

[2019-06-06 08:42] onggunhao opened #2080 "`Truffle test` should allow user to run a specific test using `mocha -g`"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

Following up from Twitter conversation with @gnidan - ref https://twitter.com/gnidan/status/1136386257481863169

---------------------------

## Issue

We should have a way to run individual truffle tests, similar to how `mocha -g` works (greps for a test string).
* There is an alternat

[2019-06-06 13:50] onggunhao commented on #2080
@gnidan, I splunked through the codebase. Can I ask for your feedback on developer UX and codebase intuition?

# Developer experience

[code]

# Implementation

The flow of execution of `truffle test` is the following (all in `truffle-core`):
-> `cli.js:45` & `lib/command.js:110-113`: parses args into `options` object
-> `lib/commands/test.js:112`:

) and sends it to `command.run` (:56)
-> `lib/co

[2019-06-06 14:00] onggunhao commented on #2080
@gnidan, I splunked through the codebase. Can I ask for your feedback on developer UX and codebase intuition?

# Developer experience

[code]

# Implementation

I'm fairly inexperienced with javascript + mocha - so writing the code splunk trail here:

The flow of execution of `truffle test` is the following (all in `truffle-core`):
-> `cli.js:45` & `lib/command.js:110-113`: parses args into `optio

[2019-06-07 03:51] Harkiran1251 opened #2084 "Truffle migrate --network kovan hangs"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

when i try to migrate my smart contracts to test network kovan ,it just hangs with initial dry run.

## Steps to Reproduce

truffle migrate --network kovan

## Expected Behavior

it should deploy the smart contracts to the test network

## Actual R

[2019-06-07 09:27] Amxx opened #2085 "Error: components found but type is not tuple; report on GitHub"
I got this error that asked me to report on GitHub:

[code]

[2019-06-07 12:25] eggplantzzz commented on #2080
@onggunhao I believe you can just use the path to the test file as an argument and it should work. For example `truffle test ./test/mySpecificTest.sol`.

[2019-06-07 13:38] CruzMolina commented on #2085
Hey @Amxx, thanks for reporting this.
Can you provide reproducible steps or a reproduction repo?

[2019-06-07 14:46] eggplantzzz commented on #2084
Hey @Harkiran1251, could you upgrade your version of Truffle to the latest (v.5.0.21)? Also, could you try using truffle-hdwallet-provider? I've had people have some problems with the package you are using in the past (it is not ours) and I'm not too familiar with how it works. truffle-hdwallet-provider does allow you to pass in your private keys as the first argument when instantiating it. You ca

[2019-06-07 15:03] eggplantzzz commented on #2003
Closing this for maintenance.

[2019-06-07 15:03] #2003 closed

[2019-06-07 15:05] eggplantzzz commented on #1873
PR #2043 uses the package.json to find Web3 version information. This was done to prevent loading up Web3 every time a command is run.

[2019-06-07 15:08] eggplantzzz commented on #1713
Is this still an issue on the latest version of Truffle (v5.0.21)?

[2019-06-07 17:26] eggplantzzz commented on #2080
@onggunhao Just an FYI, I have a PR out that reworks a lot of the test stuff. It hasn't been merged yet but if might be very relevant to the work you are doing. Check out https://github.com/trufflesuite/truffle/pull/2081

[2019-06-07 19:02] onggunhao commented on #2080
@eggplantzzz Ah nice work on #2081! I was actually going to offer more of my sabbatical time to ES6-ify the `truffle test` package - the callbacks were really weird to follow (esp. the `environmentCallback` calling `run`)

I'll probably branch from #2081 and follow up from there. Happy to lend a hand on other tasks - doing this as a way to learn

[2019-06-07 19:35] crazyrabbitLTC opened #2086 "Compile Error does not give the contract origin."
- [ no ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When you have a compile error, it does not tell you the origin contract:
[code]

ParsedContract.sol does not refer to the actual contracts filename.

## Steps to Reproduce

Create a simple typo, such as forgetting an end-quote on a string and co

[2019-06-07 20:10] CruzMolina commented on #2086
Good find @crazyrabbitLTC ! Working on fixing this as part of #2067

[2019-06-08 07:03] eggplantzzz commented on #2080
Ok great, I'm going to go ahead and try and get it reviewed and merged for the next release.

[2019-06-08 10:18] sunleos opened #2087 ""Migrations" -- VM Exception while processing transaction: Error: Returned error: This request is not implemented yet"
**## Issue**

While migrating contracts by using "$ truffle migrate --network localnode", I'm getting the error below:

**## Steps to Reproduce**

1. $ truffle migrate --network localnode

## Expected Behavior

The contracts for deployment should be deployed.

## Actual Results

No contracts are deployed. The error below:

`Error:  *** Deployment Failed ***

"Migrations" -- VM Exception while proc

[2019-06-08 12:31] itinance opened #2088 ""truffle debug" hangs forever after printing "...stepping""
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I want to debug a transaction after tests has run. But when I want to step into a particular function pressing "i" for "step into", the debugger process hangs after printed "...Stepping" into the console.
Although I have waited many minutes, nothin

[2019-06-08 14:21] gnidan commented on #2088
Hm, thanks for bringing this up! We'll look into it.

In the meantime, step `n`ext should be pretty close to what you want. Could you try that?

[2019-06-10 02:27] Harkiran1251 commented on #2084
hello @eggplant!!
before i could try doing anything,my screen prompts me to install scrypt.
and this throws big time errors .i can't install scrypt@3.0.6 and it has issues like "TRACKER : error TRK0005: Failed to locate: "CL.exe" . The system cannot find the file specified. [C:\Users\..\blockcha in-developer\node_modules\scrypt\build\copied_files.vcxproj]"

[2019-06-10 02:32] seongeunC commented on #1655
Hi. I am using truffle for contract testing. My contract has a bytecode size of at least 245676. If i use optimization in remix, it will be deployed without problems. However, deploying test code with optimizations in truffle will cause an 'out of gas' issue.
The gas limit for ganache-cli is set at 8000000. How can I solve this problem?
I would appreciate it if you could give us your answer.

[2019-06-10 04:13] seongeunC opened #2089 "unlimited contract size error?"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

My Contract has a bytecode size of at least 245676.
deploying contract in truffle test code with optimizations will cause an 'out of gas'
how can i solve this problem

## Steps to Reproduce

1. remix
   - enable optimization
   -> deploying Success

[2019-06-10 07:33] eggplantzzz commented on #2084
@Harkiran1251 Can you give me some more details about what you did when you received that error? And you are still using the versions specified in your original post?

[2019-06-10 07:38] eggplantzzz commented on #2087
@sunleos Do you have your code available on github somewhere? Did you check to make sure it is not legitimately reverting for some reason? Also, could you upgrade to the latest Truffle (v5.0.21)?

[2019-06-10 09:29] Jaswanta commented on #1570
I am also getting the same issue. I updated by using $ npm uninsrall -g truffle and reinstalled by $ npm install -g truffle. Still I got same error.

[2019-06-10 10:24] itinance commented on #2088
Hi @gnidan , `n` is working. After I pressed `n` some times, also `o` is working then again. But it needs some `n`-stepps to make it work and debuggable.

[2019-06-10 12:47] andvgal opened #2090 "Export 'chai' into globals"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Related #1458
A simple fix is to add one line at https://github.com/trufflesuite/truffle/blob/8013923d4a25585981d86858f4d979ac1f001fb4/packages/truffle-core/lib/test.js#L237

## Steps to Reproduce

Use `chai` directly in any test.

## Expected Beha

[2019-06-10 14:05] itinance opened #2092 "Weird behaviour: arbitrary and random REVERT while running test with same code without any changes"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I get random and unpredictable reverts while running tests on the very same code basis. Sometimes they run through, sometimes a revert is happening running on local network powered by ganache.

When it reverts, in my case it always revert at the li

[2019-06-10 15:21] CruzMolina commented on #2089
Hey @seongeunC , can you upgrade to the latest truffle and see if the issue has been resolved? 🤞

[2019-06-10 15:34] romisalve commented on #1997
Ok, @eggplantzzz thank you, whean I reach that stage I will investigate more on it.

Now I am facing the following problem and maybe you can give me a hand on it. I am working on a POC in which I have created three contracts which all together aims to act as a CRUD contract. The reason I have split them instead of having only one, is that when I tried to have only one contract it didn't compile du

[2019-06-10 15:37] CruzMolina commented on #2092
Hey @itinance, based on your repo's activity, looks like you're already on it, but I would def make sure that for **all** contract instance method calls you make sure to `await` them appropriately.

[2019-06-10 16:04] eggplantzzz commented on #1997
I think it is interpreting your extra 2 arguments to the deploy function as constructor arguments. I think the second and third arguments should be just one object. So in other words, it should look like this:

[code]

You probably already know about this documentation, but just in case you don't, check out https://www.trufflesuite.com/docs/truffle/getting-started/running-migrations#deployer-api

[2019-06-10 17:07] itinance commented on #2092
Thx for reaching out @CruzMolina. I've already found missing `await`-statements and added them to every instance method call. Nevertheless, it keeps breaking, I wrote a script where I can run `truffle test` multiple times and grep for "Error:":

`alias tt="truffle test"`

5 times "truffle test" in a row, grepped for "Error:", 4 failed:

[code]

15 tests in a row, 5 failed:

[code]

5 fails in 15 r

[2019-06-10 17:18] CruzMolina commented on #2092
Are your tests still failing on the `beforeEach`?

[2019-06-10 17:36] itinance commented on #2092
@CruzMolina yes

I switched completely into MintableCrowdsale of OpenZeppelin-eth from my own implementation and the same issues occur from time to time

[2019-06-10 18:22] CruzMolina commented on #2092
Ah, so sometimes the `time.latest()` is a second behind the `block.timestamp` mined in the `initialize` transaction in the `beforeEach`.

Perhaps it wouldn't hurt to subtract one second from `openingTime`?

[2019-06-10 18:58] itinance commented on #2092
Hey @CruzMolina , you are right! It is the time function.

When I change `[this line](https://github.com/itinance/ncd-token/blob/master/contracts/NCDTokenSale.sol#L39)` from

`require(openingTime >= block.timestamp);`

to

`require(openingTime >= block.timestamp - 1);``

everything works as expected!

I have borrowed this line from OpenZeppelin and will open a PullRequest.

THANK YOU VERY MUCH!!!!

[2019-06-10 18:58] #2092 closed

[2019-06-11 04:05] seongeunC commented on #2089
The same problem occurs when using Truffle version 5.0.21.

[2019-06-11 04:40] CruzMolina commented on #2089
Can you provide a reproducible repo for debugging purposes?

[2019-06-11 04:58] maxsam4 commented on #1713
@eggplantzzz I tried it a bit with v5.0.21 and I did not get this error. However, instead of throwing this error, truffle compiled invalid code which caused invalid opcode error when running `truffle migrate`. I think that the fix you included for this (or something else) broke some other component.

Maybe this error is still present. I did not try much as truffle v5.0.21 was unusable for me.

[2019-06-11 05:15] haltman-at commented on #2089
Is your complaint that you got the wrong error message?  If so, I think this is basically a duplicate of #1655.  Because such long bytecode *is* going to generate an error regardless...

[2019-06-11 09:05] eggplantzzz commented on #1713
To be honest I'm not sure if this was ever directly addressed or reproduced on my part but some of the code related to compilation/parsing has been worked on since 5.0.4. If you are able to provide specific reproduction steps then I would be happy to try and troubleshoot this. Let me know!

[2019-06-11 09:12] eggplantzzz commented on #2038
PR #2043 addressed this issue.

[2019-06-11 12:49] xhyumiracle commented on #1584
keccak@1.4.0 installation succeed on node@10.7.0, failed on v8.15.0 && 12.4.0

[2019-06-11 15:15] romisalve commented on #1997
@eggplantzzz thank you !! That was the problem, I knew the documentation but I was not being able to recognize what I was doing wrong.
Once I correct that, I faced another issue that was that my contracts were exceeding the gas limit. I separate the library to another file and then I was able to deploy.

I was wondering if maybe do you have some example of the suggestion you made of working with a

[2019-06-11 19:11] romisalve commented on #1997
[code]

I have defined this extremely basic function in order to test if I was being able to execute at least that of my deployed contract. Anyway, when I tried, I got
![image](https://user-images.githubusercontent.com/21060405/59299617-78550700-8c63-11e9-9036-6df72d28a238.png)

What does it refers to with those 8 expected arguments ??

Maybe there is another problem that is leading to this one.

[2019-06-11 20:07] haltman-at commented on #2088
OK, I've opened PR #2093, which should fix this.

[2019-06-11 22:20] #2088 closed

[2019-06-12 13:17] LiorRabin commented on #1586
Hello, so how do I actually send data to the fallback function?

[2019-06-12 16:19] Amxx commented on #2085
I cannot reproduce it consistently. Deleting the `build` folder and recompiling solves the issue. I don't know how to reproduce it

it happens regularly when trying to migrate/test after having modified some contracts

[2019-06-12 16:24] CruzMolina commented on #2085
Ah, I think you might have run into this issue #2048 which (hopefully 🤞) was resolved in 5.0.20, can you give that version a shot?

[2019-06-12 16:52] eggplantzzz commented on #1997
It looks strange, but with the limited amount of code above I can't really tell what is going on. Do you have your code available and can you give me very specific steps telling me what you are doing?

[2019-06-12 17:12] romisalve commented on #1997
@eggplantzzz  thank you! Yes of course, my code is here: https://github.com/romisalve/Quorum-POC.git

What I am trying to do through truffle console, is: once the contracts got deployed on the network (I ran truffle migrate --reset), I tried:

`CrudAEOCreateAndRead.deployed().then(function(instance) { crud = instance;})`  to get a contract instance in order to be able to try contract functions.

a

[2019-06-12 17:39] gnidan commented on #2090
After some discussion, I think the better approach is for users to `require("chai")` manually. Putting it in the global space feels like scope creep. We'd like to remove globals from `truffle test`, ultimately.

Closing this, but feel free to offer a counter-argument. (I don't feel too strongly). Anyway, thanks for raising this!

[2019-06-12 17:40] gnidan commented on #1984
Going once
Going twice
Closed!

Thanks for playing. (But seriously, let us know and we can re-open :)

[2019-06-12 17:40] #1984 closed

[2019-06-12 17:41] gnidan commented on #1977
Hi @jwasinger any news here? Looking to close this issue. Thanks!

[2019-06-12 17:44] andvgal commented on #2090
@gnidan  It seems @schuma7 and me could not emphasis on the problem: Truffle bundles own `chai` copy and it is NOT importable through `require('chai')`. So, it's not possible to install custom plugins.

[code]

[2019-06-12 17:45] gnidan commented on #1942
What's going on here? Web3 beta.53 is clearly a no-go :)

Any ideas @wbt? Thanks!

[2019-06-12 17:48] gnidan commented on #1936
Hi @Tammeny thanks for raising this issue. Closing this for issue maintenance; please let us know if upgrading doesn't solve the problem for you. Thanks!

[2019-06-12 17:48] #1936 closed

[2019-06-12 17:50] gnidan commented on #1884
Hi @kingvinay110, have you had a chance to look into upgrading? Doing issue maintenance and looking to close this if the problem is no longer valid. Thanks!

[2019-06-12 17:50] gnidan commented on #1873
Looks like this is merged. Closing! Thanks folks!

[2019-06-12 17:50] #1873 closed

[2019-06-12 17:51] gnidan commented on #1869
Hey @nikita-fuchs have you had a chance to get back to this? Looking to close for issue maintenance. Thanks!

[2019-06-12 17:53] gnidan commented on #1861
Hey @xiongzhend is this still a problem for you? Please let us know, thanks!

[2019-06-12 17:55] gnidan commented on #1846
Hey @daniyarchambylov did you still want this? We have an opportunity to make a breaking change to truffle-config with Truffle v5.1, in the next few months.

[2019-06-12 17:56] gnidan commented on #162
Wow an old issue! I'm gonna close this... but looks cool. Let us know if you want us to look into it some more and we can re-open. Thanks!

[2019-06-12 17:56] #162 closed

[2019-06-12 18:04] romisalve commented on #1997
@eggplantzzz for some reason the ABI of my contract is:
![image](https://user-images.githubusercontent.com/21060405/59374780-ff1ce900-8d22-11e9-94e7-589d3520fd70.png)

`function prueba`  seems to be defined with 8 inputs but on the contract code is as I mentioned:
![image](https://user-images.githubusercontent.com/21060405/59374841-27a4e300-8d23-11e9-96f0-c03039a2c986.png)

And I also do not under

[2019-06-12 18:06] CruzMolina commented on #2090
Thanks for that info @andvgal . Reopening since it sounds like we should proceed with removing the injected `chai` globals.

[2019-06-12 18:12] andvgal commented on #2090
@CruzMolina as Truffle uses a bit own `contract()` API for test declaration, I doubt it's possible to just remove injected `chai`. Also, it would break a lot of projects in field.

As there is zero benefit of locally installed `chai` import in current tests, I believe there will be no conflict. So, injecting this global won't break the majority of projects. So, it can be a safe and quick solution.

[2019-06-12 18:45] wbt commented on #1942
I have no idea currently on what's going on to cause this bug, and am wanting to hold off on upgrading to any relatively recent version until it's fixed.

I agree that it needs investigation, but invested quite a bit into making a good report including carefully building the steps to reproduce noted above, which don't take that long to walk through.  I'd be quite disappointed if this were closed e

[2019-06-12 18:51] wbt commented on #1912
@frangio Any update on if you want to move forward with developing a fork that uses web3-beta38 or otherwise fixes the issue?  The on-hold status tag indicates we should not expect an "upstream" fix in Truffle anytime soon.

[2019-06-12 19:25] adrianmcli commented on #1942
Does this have anything to do with this? https://github.com/trufflesuite/ganache-core/issues/267#issuecomment-451566546

[2019-06-12 20:49] wbt commented on #1942
@adrianmcli It might; nice find!

The stack trace differs after a few lines, and that issue reports that Truffle suppressed (all?) upstream warnings in [this PR](https://github.com/trufflesuite/truffle/pull/1088) on July 6, 2018.  That suppression appears to be in Truffle [v4.0.14](https://github.com/trufflesuite/truffle/blob/v4.1.14/packages/truffle-core/cli.js) and later (it's still there) with

[2019-06-12 21:18] adrianmcli commented on #1942
@wbt yes, if you look at what @seesemichaelj said in that issue, he mentions that the real problem is in Web3.js because of how they attach listeners. Do check out this as well: https://github.com/ethereum/web3.js/issues/1648#issuecomment-461752532

I'm pretty confident is a problem with Web3.js.

[2019-06-12 21:26] wbt commented on #1942
@adrianmcli I did read that and tend to agree, but the Web3 issue was [CLOSED WONTFIX](https://github.com/ethereum/web3.js/issues/1648#issuecomment-461743900) by someone who's much more expert than I about that codebase.  It remained closed even after [comments](https://github.com/ethereum/web3.js/issues/1648#issuecomment-461752532) by Levino et al. reporting that this was an issue with Web3 obser

[2019-06-12 22:11] adrianmcli commented on #1942
@wbt please see my latest comment there: https://github.com/ethereum/web3.js/issues/1648#issuecomment-501472899

Since I am confident this is a Web3 problem, I will continue the investigation on that issue (even if it's closed). I can petition @nivida to open it up again.

[2019-06-13 01:01] jwasinger commented on #1977
Appears fixed.  Thanks.

[2019-06-13 01:01] #1977 closed

[2019-06-13 13:19] hmijail commented on #2070
Given that this is a known problem and looks like it will take some time to fix, it would be very helpful to document the problem in the Truffle installation instructions page.

[2019-06-14 10:40] dnx2k commented on #2070
Another issue regarding Node 12 (reproduction on clean project):

[code]

If using 11.x test command is ok.

[2019-06-16 17:32] hickscorp opened #2101 "Cannot use HDWalletProvider with tests."
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When using `HDWalletProvider` so we can use our own mnemonic / private keys, unit tests cannot run.

## Steps to Reproduce

In our truffle configuration:

[code]

Then we declare our networks like so:

[code]

Then migrations work, but unit tests j

[2019-06-17 02:59] fcolecumberri opened #2102 "add a bibtex section in the readme"
This is not a very important issue, it's just that some developers add a way to cite them in academic work using bibtex in the readme or in docs (example https://www.tensorflow.org/about/bib ). I have done some research work using truffle and ganache (I'm sure I am not the first) and "Honor whom honor deserves" so I want to know how to cite you properly.

[2019-06-18 01:28] sbrichards commented on #1623
@eggplantzzz any progress on this? Or should I create a separate issue? I'm having the same issue @WyseNynja mentioned trying to add Uniswap's contracts: https://github.com/trufflesuite/truffle/issues/1623#issuecomment-464887970

I am writing vyper contracts in my Truffle project. Running `vyper --version` yields `0.1.0b10` - is this what Truffle is using? Or how can I see which version Truffle us

[2019-06-18 06:25] DiveInto commented on #1005
same here with:

[code]

fail with:

err msg:

[code]

ok with:

[2019-06-18 07:14] boolafish commented on #1705
To upvote this issue, it seems like mocha 4 has a dependency (`diff`) that might have security issue and need to be updated:
https://snyk.io/node-js/mocha

We are getting GitHub security alert because having truffle as dependency.
https://github.com/omisego/plasma-contracts/network/alert/package-lock.json/diff/open
[code]

[2019-06-18 10:12] gingerhot commented on #2070
I'm using `truffle-hdwallet-provider` on Node.js 12, and same errors with `scrypt` as shown in the logs from CI above.

[2019-06-18 14:27] bytezantium commented on #889
Hi @gnidan . I ran into the same problem today, where I want to extract the one command line argument inputted via the truffle console:
`truffle console
exec ./script.js hash
`
I want to extract the hash
But when using `process.argv[2]` I get: `undefined` (also for [4])
or just `console.log(process.argv)` all I am getting: `/usr/local/Cellar/node@10/10.16.0/bin/node,/usr/local/bin/truffle,console`

[2019-06-18 14:43] pkankipati commented on #1487
I have the same issue (Truffle v5.0.22), using Azure blockchain service.. Steps to create
Contract name (Sybr)
deployed (migrate) to blockchain
exit develop console, close terminal and reopen a new terminal
start truffle again, refer the previously deployed contract at the address.

truffle develop
Sybr.deployed('0x31728CcB2fcC6dA6527c48e2efF35AF464FA638E').then(function(instance){return instance.

[2019-06-18 16:13] CruzMolina commented on #1487
@pkankipati i believe you will have to re-migrate. IIRC, `truffle develop` starts a temporary chain w/o persistence. `Error: Returned values aren't valid, did it run Out of Gas?` typically gets thrown by `web3` when an empty value is detected.

[2019-06-18 16:19] CruzMolina commented on #889
@bytezantium can you try `exec script.js hash` while in the console?

[2019-06-18 17:10] pkankipati commented on #1487
It’s not a temporary chain, linked to the azure blockchain service,
connected to the node.

On Tue, Jun 18, 2019 at 12:14 PM Cruz Molina <notifications@github.com>
wrote:

[2019-06-18 17:23] CruzMolina commented on #1487
@pkankipati `truffle develop` is specifically meant to spin up a local development chain. It _can_ connect to another chain but since it's not designed for that purpose, I imagine there's something not working right under the hood. The command you probably want that *should* work is `truffle console`.

[2019-06-18 17:27] pkankipati commented on #1487
I did use truffle console first had issues and moved to develop. As develop
can do both local and remote.
console gave the error to even connect to azure..
Anyway will try again..

On Tue, Jun 18, 2019 at 1:23 PM Cruz Molina <notifications@github.com>
wrote:

[2019-06-18 17:31] CruzMolina commented on #1487
Did `truffle console` output the same error? If you can, please share a project repo link for reproduction/debugging purposes.

[2019-06-19 10:54] FX-HAO commented on #1487
@CruzMolina https://github.com/truffle-box/metacoin-box
and following https://www.trufflesuite.com/docs/truffle/getting-started/interacting-with-your-contracts
I got an error at `let balance = await instance.getBalance(accounts[0])`
[code]

[2019-06-19 10:54] FX-HAO commented on #1487
@CruzMolina https://github.com/truffle-box/metacoin-box
and following https://www.trufflesuite.com/docs/truffle/getting-started/interacting-with-your-contracts
I got an error at `let balance = await instance.getBalance(accounts[0])`
[code]

[2019-06-19 13:44] eggplantzzz commented on #1997
@romisalve Sorry for the delay in getting back to you, I have been traveling for the last week. I'll take a look and get back to you soon.

[2019-06-19 13:55] CruzMolina commented on #1487
@FX-HAO This looks like a separate issue. What version of truffle are you using? Make sure to follow the steps to grab the deployed instance, grab the available accounts, and send coins before attempting to get the token balance.

[2019-06-19 14:13] eggplantzzz commented on #1997
I'm having trouble compiling your code. Your compilers section in `truffle-config.js` is in the networks section when it should be outside it. Hmm, it seems strange that the abi is like that...`createMasterDataAEO` has that signature so maybe it is somehow getting confused with that. What happens when you change the name of that method?

[2019-06-19 14:25] pkankipati commented on #1487
With truffle console I get this error.. Even though the truffle-config.js
is good and truffle develop is able to look into it..
I'm using Azure Blockchain service..
Also, when I use truffle console with network specified, it just doesn't do
anything, just comes out without going into the console.
-- output with truffle console --network --
C:\projects\truffledemo>truffle console --network defaultn

[2019-06-19 14:40] eggplantzzz commented on #2090
@andvgal I could import it into my test files just fine. I just installed it with npm and added it to the dependencies section in the `package.json`. Afterwards I was able to require it in my js tests. Can you tell me exactly what you are doing when you get the `module not found` error?

[2019-06-19 14:45] CruzMolina commented on #1487
@pkankipati have you been able to complete this tutorial successfully? https://docs.microsoft.com/en-us/azure/blockchain/service/send-transaction

[2019-06-19 14:47] eggplantzzz commented on #1912
@wbt So I think we are still getting some of this web3 stuff straightened out and should have a plan forward on this in the near future. Sorry for not being able to say more with certainty but hang tight!

[2019-06-19 15:03] andvgal commented on #2090
@eggplantzzz I am not installing `chai` separately as the one used by Truffle is not getting exposed. If you install a separate `chai` instance, you need to override `assert` and `except` globals to support custom plugins.

Of course, it is a solution, but it would just break all use cases in field. Based on the semver requirements, such change should not happen neither for patch nor for minor rel

[2019-06-19 15:17] pkankipati commented on #1487
Hehe.. I ended up using truffle develop instead of truffle console..
Of course, it’s the basis for all Azure Blockchain Service stuff..

On Wed, Jun 19, 2019 at 10:46 AM Cruz Molina <notifications@github.com>
wrote:

[2019-06-19 16:34] eggplantzzz commented on #1705
It looks like version 4 of mocha was removed from the dev dependencies section of truffle. I believe that this issue can be closed...?

[2019-06-19 16:54] CruzMolina commented on #1487
interesting that ABS uses `develop` instead of `console`!  I have yet to demo ABS w/ truffle myself, adding that to my TODO list.

[2019-06-19 17:34] gnidan commented on #2101
Huh. Could you provide a repo that we could use to reproduce? (Don't share private keys for real though : ) We'll look into it. Thanks!

[2019-06-19 17:39] eggplantzzz commented on #2102
Thanks for the suggestion!! Sounds like a good idea, we'll put it in the backlog.

[2019-06-19 17:45] eggplantzzz commented on #369
Closing this during maintenance.

[2019-06-19 17:45] #369 closed

[2019-06-19 17:47] eggplantzzz commented on #455
Closing this for maintenance, but please feel free to get back to us if you still want this. Thanks!

[2019-06-19 17:47] #455 closed

[2019-06-19 17:53] eggplantzzz commented on #521
Closing this. When you destructure a method like this, it loses the `this` binding. You will need to use method call syntax to keep the binding.

[2019-06-19 17:53] #521 closed

[2019-06-19 17:54] eggplantzzz commented on #548
Looks like this is not a thing any more. Closing this but please feel free to comment if I made a mistake! Thanks!

[2019-06-19 17:54] #548 closed

[2019-06-19 21:27] wbt opened #2114 "Very unclear about which files Truffle will compile"
## Summary
Truffle is compiling contracts from a directory way outside the project where the command is entered, to include the `\contracts\` directory of a different copy of the project elsewhere on the computer.

## Issue
I have a Truffle project on a Windows 10 machine, stored in a path like `Documents/repositories/myprojectname` and in an update some months back, OneDrive decided to move the D

[2019-06-20 12:41] SvenMeyer commented on #1864
I only have `truffle-config.js` in my project folder, but get the message

`Warning: Both truffle-config.js and truffle.js were found. Using truffle-config.js`

$ truffle version

Warning: Both truffle-config.js and truffle.js were found. Using truffle-config.js. \
Truffle v5.0.22 (core: 5.0.22) \
Solidity v0.5.0 (solc-js) \
Node v10.16.0 \
Web3.js v1.0.0-beta.37

[2019-06-20 12:42] nbauernfeind commented on #915
I no longer work at that company and don't have an environment setup to further investigate. If I recall correctly, I used a value higher than 6.7M -- but at first I was trying to keep it high enough but not super close to the block limit. Things greatly improved when I turned on compiler optimizations... Sorry I'm not super interested anymore and can't quite help you further.

[2019-06-20 22:09] hickscorp commented on #2101
Thanks @gnidan .
Somehow, fiddling around with various versions of web3 fixed the problem... What's quite odd is that when I tried to report back here, it was still on the same versions. Oh well...

[2019-06-20 22:09] #2101 closed

[2019-06-22 09:05] damianlluch opened #2122 "Error in OS X"
- [X ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

hi guys, I get this error in OS X with Truffle and not found any results for the error solution.

## Steps to Reproduce

truffle compile

## Expected Behavior

contracts compiled

## Actual Results

Warning: Both truffle-config.js and truffle.js w

[2019-06-22 12:28] yxliang01 opened #2124 "feat: allow setting mocha reporter via CLI"
mocha has a cool feature that allows the change of reporter for different wanted output formats. However, currently Truffle doesn't support the change of reporter via CLI. I don't think setting the frequently-changing reporter via config is a good idea either. This issue is a feature request that adds a new command line argument to dynamically change the mocha reporter.

Thanks

[2019-06-24 03:33] andrfgs opened #2126 "Can't use constructor new"
I can't guess how to use the new constructor to instantiate a new contract. No documentation is provided for this so it's impossible to guess how to use it.

MyContract.new([arg1, arg2, ...], [tx params])

What is the format of `arg1, arg2, ..., etc`?
And where are the `tx params`?

I'm using the following
`App.contracts[contractName].new([600], {from: App.ethereumAddress});`

But this produces an

[2019-06-24 07:15] prographo opened #2127 "Truffle does not install"
## Issue

Truffle npm fails to install

## Steps to Reproduce

Get the latest version of node; 11.10.0
then type: sudo npm install -g truffle

## Expected Behavior

Install the package

## Actual Results
[code]
## Environment

$uname -a
Darwin X-MacBook-Pro-3.local 16.7.0 Darwin Kernel Version 16.7.0: Sun Oct 28 22:30:19 PDT 2018; root:xnu-3789.73.27~1/RELEASE_X86_64 x86_64

$ node -v
v11.10.0

$

[2019-06-24 08:45] andrfgs commented on #2126
After some hours testing, it seems that passing the argument as such works:
`App.contracts[contractName].new("500", {from: App.ethereumAddress})`

But now I discovered a bug. When instancing a contract with multiple arguments, the constructor fails. The following code:
`App.contracts[contractName].new("400", "4", "100", "900", {from: App.ethereumAddress})``

Fails with error:

    at Method.inputT

[2019-06-24 13:43] eggplantzzz commented on #2127
You probably shouldn't be using `sudo` with npm. The above errors are caused by permission errors on your machine. Here is an article from npm, they recommend using a version manager.
https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2019-06-24 15:12] LiorRabin opened #2128 "VM Exception while processing transaction: out of gas"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I have a contract with the following function:
[code]
When I use truffle test I get `Error: Returned error: VM Exception while processing transaction: out of gas` but when I remove the line `emit Debug(blockhash(block.number - 1), candidates());`

[2019-06-24 15:17] LiorRabin commented on #2128
Adding `--allowUnlimitedContractSize` to ganache-cli solves the issue.
And when I deploy to my private network using `truffle migrate --reset --network local` everything works perfect.

[2019-06-24 16:48] eggplantzzz commented on #2126
It is correct that you should pass the values in order like
[code]
I think the problem might be in your project, make sure that `App.ethereumAddress` is defined. I tried to duplicate your problem with a simple toy app but I couldn't. Try logging and making sure that address is good and let me know!

[2019-06-24 16:58] andrfgs commented on #2126
Address is good, I'm showing it as well in a label and it matches the currently selected account on Metamask. Would you like a zip of the project?

[2019-06-24 18:41] romisalve commented on #1997
@eggplantzzz  Sorry I am answering so late, I found that there was a problem with the truffle version. There was a bug which generates incorrect artifacts when compiling.
I believe my code has problems due to the fact that I am using too many for loops with undefined number of iterations, or something to do with that, but I don't know how could I avoid those loops.

I started testing every part of

[2019-06-24 18:48] haltman-at commented on #2128
Presumably your contract is too large; networks generally do not allow contracts with machine code longer than 24 KiB, as per [EIP 170](http://eips.ethereum.org/EIPS/eip-170).  For some reason, EIP-170 specifies that this should yield an out-of-gas error, rather than a more descriptive error specifying that the contract is too long.  Quite possibly Truffle should wrap this and return a more descri

[2019-06-25 05:20] LiorRabin commented on #2128
@haltman-at thanks for the reply.
I just don't understand how that single line of code is the one which makes me go over the limit.
How do I know the "length" of my contract?
Thanks

[2019-06-25 12:13] bh2smith commented on #1704
I can provide a situation where this happened to me that could line up with reason for this error (although it was happening non-deterministically for myself).

Consider the following contract;

[code]
and a unit test that attempts to read the value after incrementing it. Something like,

[code]

In this case we will find that the unit test inconsistently passes and fails with the error described

[2019-06-25 13:47] eggplantzzz commented on #2126
Do you have it up on github somewhere so that I can take a look?

[2019-06-25 13:53] eggplantzzz commented on #2122
Well the first thing that occurs to me is that you have two Truffle configs. You should have only one of the following files in the root directory of your project: `truffle.js` or `truffle-config.js` (preferably `truffle-config.js` as that is the current convention). Try removing one and see what happens.

Is your code available somewhere? I would like to see if I can duplicate your error.

[2019-06-25 14:32] rotcivegaf commented on #2128
Can you check the length of your contract with:
[code]
Also truffle have a default gas limit ``gas: Gas limit used for deploys. Default is 4712388.``
and you need enable the solidity optimizer in the truffle config
[code]
look in [truffle configuration](https://www.trufflesuite.com/docs/truffle/reference/configuration)

[2019-06-25 15:29] LiorRabin commented on #2128
Thanks @rotcivegaf.
I have the optimizer enabled and my contract was indeed too long.

[2019-06-25 15:29] #2128 closed

[2019-06-25 15:40] rotcivegaf opened #2130 "On create a contract: VM Exception while processing transaction: out of gas"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I can't deploy the [collateral contract](https://github.com/ripio/rcn-network/blob/rcn_burner/contracts/core/diaspore/cosigner/Collateral.sol), ganache-cli give me `VM Exception while processing transaction: out of gas`

If start ganache-cli with `

[2019-06-25 19:37] CruzMolina commented on #2130
@rotcivegaf , maybe I'm missing something but it appears your contract is too large and your test case will only work when passing `ganache-cli` `--allowUnlimitedContractSize true`

[2019-06-25 22:47] rotcivegaf commented on #2130
@CruzMolina I really sorry, you are right, my contract it's too large

[2019-06-25 22:47] #2130 closed

[2019-06-26 00:19] gnidan commented on #2127
Best practices aside, we should probably fix this. (In fact, I thought we did fix this?)

Thanks for raising this issue!

[2019-06-26 07:40] prographo commented on #2127
just fyi: I upgraded to node 12, did a bit of chmoding and got it installed.

[2019-06-26 15:12] elenadimitrova opened #2132 "Compilation with `SMTChecker` fails"
## Issue

Compilation with `SMTChecker` fails with  `InternalCompilerError`

## Steps to Reproduce

1. Build custom `solc` with Z3 support
Note that installing Z3 for me wasn't exactly straight forward, so I've recorded the steps in point 1 here https://github.com/JoinColony/colonyNetwork/issues/547

2. Switch the `truffle` compiler to use this
[code]
3. Add `pragma experimental "SMTChecker";` to

[2019-06-26 15:26] CruzMolina commented on #2132
@elenadimitrova are you able to successfully compile your contracts using the custom `solc` outside of truffle?

`InternalCompilerError` looks like a solc compiler specific error.

[2019-06-26 15:44] FlashSheridan opened #2133 "Installing truffle-contract fails with g++ present unless CXX=clang++ is set"
## Issue

Installing truffle-contract on my machine (which has g++ installed) fails with an error about a Clang-specific flag unknown to g++: “unrecognized command line option '-stdlib=libc++'`”

## Steps to Reproduce

`npm install -g truffle-contract`

## Actual Results

` SOLINK_MODULE(target) Release/copied_files.node`
`c++: error: unrecognized command line option '-stdlib=libc++'`

## Workarou

[2019-06-26 17:39] eggplantzzz commented on #2114
Thanks for reporting this @wbt, we'll check it out. Very strange.

[2019-06-26 17:43] eggplantzzz commented on #2124
Thanks for the suggestion, we'll look into it!

[2019-06-26 17:59] haltman-at commented on #2114
Huh, I'd noticed this problem as well.  I hadn't thought of it as a real problem, but I guess maybe it should be considered one.

[2019-06-26 18:15] haltman-at opened #2134 "Truffle fails due to presence of swap files in build folder"
## Issue

If you have an artifact file open in a text editor that creates swap files or backup files, various truffle commands will attempt to read this as JSON and then fail when it's improperly formatted.  (I've noticed this issue specifically with Vim; I don't know offhand how it would differ for other text editors.)  It comes up with both `truffle migrate` and `truffle console`, for instance.

[2019-06-26 18:20] CruzMolina commented on #2134
Good find @haltman-at !

[2019-06-26 18:31] elenadimitrova commented on #2132
Yes indeed. I logged it separately, see above. It'll be nice that we actually get the compiler internal output on error with `truffle` as reproducing it with `solc` itself is not always as straight forward. For example when running `solc --allow-paths` I have not found a way to do this sort of thing with the path `truffle compile --contracts_directory 'lib/dappsys/[!note][!stop][!proxy][!thing][!t

[2019-06-26 20:39] flockonus commented on #469
Still an significant _nice to have_ in big projects where there is a lot of source code to compile.

If I run `truffle build` just before testing, still some files are compiled and it takes roughly the same time as compiling all the files.

The motivation is that often I have my Solidity source but don't actually alter it that at all, just the javascript test files, many times, as I re-run the tes

[2019-06-26 23:46] kseniya292 commented on #1680
Hi,
I'm trying to deploy on Ropsten `truffle migrate --network ropsten` and my contracts aren't deploying. Only compiling.
[code]
Truffle v5.0.24
Solidity v0.5.0
Node v11.0.0
truffle-hdwallet-provider v1.0.11

[code]

[2019-06-26 23:49] CruzMolina commented on #1680
Hey @kseniya292 ! Looking into this right now 🧐

[2019-06-26 23:52] kseniya292 commented on #1680
Thank you! I've been on this for a couple hours and can't figure out if I'm doing something wrong or if it's bug.

[2019-06-27 00:00] CruzMolina commented on #1680
Hmm, @kseniya292 using the `metacoin` box (`truffle unbox metacoin`), and your truffle config (w/ my own mnemonic & api key), I'm able to deploy to ropsten.

Maybe there's something malformed in your `secrets.json` file?

[2019-06-27 04:07] wangjunbao2018 opened #2135 "accounts[0] undefined in truffle develop mode"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I have been created a project following the doc  [Truffle Quick Start](https://www.trufflesuite.com/docs/truffle/quickstart),  After I run `truffle develop`, I depolyed a  contract,  then I tried to test it. But it has a error like this:

[code]

T

[2019-06-27 04:13] wangjunbao2018 commented on #2135
BTW,  I quit and run agin, it has the following problem:

[code]

[2019-06-27 04:18] haltman-at commented on #2135
So, what's going on here is that `web3.eth.getAccounts` is an `async` method.  Since you didn't `await` it, in your code above, the `accounts` variable holds a promise rather than the array you want.  If you just type `accounts`, Truffle develop automatically resolves the promise for you and prints out the array.  However, if you type `accounts[0]`, then you're trying to take the 0th element of th

[2019-06-27 04:44] gnidan commented on #2135
Alternatively, we could just set up the `truffle develop` globals to pre-resolve the `accounts` promise!

[2019-06-27 06:40] wangjunbao2018 commented on #2135
Thx,   The reason is that  I forgot the keyword `await`, It's right after I added it.  But there is another error.

[code]

Why does it say `Out of gas` for this is a query operation?
What should I do?

[2019-06-27 06:41] wangjunbao2018 commented on #2135
Thx, I will try this method.

[2019-06-27 06:52] wangjunbao2018 opened #2136 "`Returned values aren't valid, did it run Out of Gas?` when queying eth balance"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I have created a project following the doc Truffle Quick Start, After I run truffle develop, I depolyed a contract, then I tried to test it. But it has a error like this:

[code]

For this is a query operation, why does this happen?

## Environment

[2019-06-27 07:48] pensivej opened #2137 "Quorum 2.2.1 can't migrate contracts compiled with 0.5.8 ( but 0.5.0 works)"
- [V] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I have a basic setup of truffle and Quorum network running on localhost.
When I try to migrate the contract compiled with 0.5.8 (default compiler for truffle@5.0.24) the console emits error.
So, I tried changed the compiler version to 0.5.0 in truf

[2019-06-27 07:54] pensivej commented on #2137
To check that compiler version 0.5.0 works,
`rm -rf build`
then try `truffle migrate` with 0.5.0

[2019-06-27 08:04] pensivej commented on #2137
I just checked that up to solc@0.5.4 works as fine, but from 0.5.5 and up throws error.

Here's my testing setup. I just changed the compiler solc version.

Truffle v5.0.24 (core: 5.0.24)
Solidity - 0.5.X (solc-js)
Node v10.15.3
Web3.js v1.0.0-beta.37

Also, all I did from the beginning was truffle init in an empty directory and changed the network part in truffle-config.js

[2019-06-27 08:22] PeaceHears commented on #1816
What is the solution of this problem? I am wondering so much... :)

[2019-06-27 09:12] pensivej commented on #2137
It seems like Quorum maker is having problem.
When I try to reproduce the problem with Quorum-example tutorial, it migrates fine.

[2019-06-27 12:58] gnidan commented on #2137
I believe the workaround here is to set the `evmVersion` in your solc settings:

[code]

We've been trying to figure out a way to make this default on Quorum networks, but it's tricky because of the disconnect between compile/migrate.

[2019-06-27 19:37] wbt opened #2138 "Feature request: `truffle init myProjectName`"
This is a minor feature request that the `truffle init` command take an optional string parameter which for this demonstration I'll call `myProjectName`. The command would be a shortcut that if the optional parameter is present, runs the following three commands:

`mkdir <myProjectName>`
`cd <myProjectName>`
`truffle init`

The idea is just to make that introductory process a little smoother.

[2019-06-27 20:53] gnidan commented on #2138
Love it!

[2019-06-27 20:53] gnidan commented on #2138
(Use `mkdir -p` kids)

[2019-06-27 23:14] parifuture commented on #2138
hi I will like to jump on this issue, might be a loaded question, what is the best way to get started?

[2019-06-27 23:42] MaxWMcKinley opened #2139 "Feature Request: truffle exec as a module"
- [x (kinda) ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle exec creates a very easy to use execution environment, but building additional functionality around it can be difficult since it can only be called from the command line.  If truffle exec was able to be imported as a javascript mod

[2019-06-28 01:07] SvenMeyer opened #2140 "truffle not using latest web3 version"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

truffle not using latest web3 version

I know there is a problem installing web3.js globally, only solution I have found was to install web3 locally for every project, but how do I resolve this for truffle?

## Steps to Reproduce
$ truffle version

[2019-06-28 04:52] gnidan commented on #2138
Oh hey @parifuture thank you! The code change will mostly be in `packages/truffle-core/lib/commands/init.js` and probably also in `packages/truffle-box/`. Let me know how the instructions work out for you.

Happy to give you more direction once you take a look. We just added the "good first issue" label, going to try to find other good first issues to label also; I'll keep my eyes open.

[2019-06-28 13:58] ejwessel commented on #888
@gnidan Has there been any progress on speccing the requirements and identifying issues with backwards compatibility?

Also has @tcoulter 's position changed on not `evm_revert`ing for every test per https://github.com/trufflesuite/truffle/pull/47#issuecomment-161432778 ?

[2019-06-28 14:01] alexandreValente commented on #48
Hi to all,

don't know if this is a truffle init issue but I get this...
When I try to migrate my Token smart contract (using Openzeppelin ERC20) I want to migrate using a custom script for initializing constructor parameter but I get stuck somewhere:

2_initial_migration.js
======================

   Deploying 'myToken'
   -------------------------
Error: Error: Error:  *** Deployment Failed ***

[2019-06-28 14:18] alexandreValente opened #2141 "Unable to migrate smart contract (Token ERC20) when using parameters in constructor"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
Issue not found on Gitter but still searching.
---------------------------

## Issue

Hi to all,

don't know if this is a truffle init issue but I get this...
When I try to migrate my Token smart contract (using Openzeppelin ERC20) I want to migrate using a custom script for initializing

[2019-06-28 14:39] gnidan commented on #888
Hey @ejwessel, nope, no progress yet on this specifically. Cursèd Stalebot is now disabled so we won't risk this issue getting lost to history again.

As for position on this: I'd say no, Tim probably feels the same way as he used to, and I agree with him. But! Definitely we could support this as a configuration option.

Not sure about team bandwidth to work on this in the near-term, so I'm going

[2019-06-28 14:51] ejwessel commented on #888
I'd be down for this. IMO think its better than not having it.

I just started looking at:
https://github.com/trufflesuite/truffle/blob/master/packages/truffle-core/lib/testing/testrunner.js
and it's' usage in:
https://github.com/trufflesuite/truffle/blob/master/packages/truffle-core/lib/test.js

[2019-06-28 16:41] itinance opened #2144 "Out of gas: Test networks require a different HD-Wallet-Path against to Mainnet"
**Long story short:**

I sent some Test-Ether on Ropsten into the first address, that was derived with MyCrypto out of my Mnmonics, but the deployment using truffle or `zos`-Tool was constantly running out of gas, no matter which funds was sent. And here is why this happened and will happen again without further steps. I will also provide the solution below:

**Long Story:**

When we import a Mnem

[2019-06-29 16:12] alexandreValente commented on #2141
OK I found my error...I made a mistake when calling the transfer function...transfer(msg.sender, initialSupply); This is the function causing the revert. And the parameters the error message talks about is about the function not the constructor parameters.
I have set this function in comment and the migration works as expected.

[2019-06-29 16:12] #2141 closed

[2019-07-01 02:30] pensivej commented on #2137
Okay thanks,
This works.

[2019-07-01 02:30] #2137 closed

[2019-07-01 14:13] wbt commented on #2140
Web3 abandoned semantic versioning a while back and has been releasing breaking changes on the sub-patch beta number.  As noted in the latest post in another discussion on the topic [here](https://github.com/trufflesuite/truffle/issues/1912), @eggplantzzz wrote "we are still getting some of this web3 stuff straightened out and should have a plan for moving forward on this in the near future. Sorry

[2019-07-02 04:12] ejwessel commented on #888
@gnidan
Been poking around. Are either of the two files I noted earlier areas I should start with?

[2019-07-02 07:18] prographo opened #2147 "truffle compile: respect the use-case where files in different directories have same name."
Create a file in contracts called Test.sol
[code]

Create a subdirectory called sub1, copy Test.sol into that directory, run:

[code]

Only one Test.json file will be created in build/contracts, because the first is overwritten.

Remix does it correctly.

The example is contrived, but can happen for larger projects that share source code.

[2019-07-02 07:26] prographo commented on #2147
I just renamed stuff to make it work .... It doesn't get lower priority that this, is it even worth bothering about? Probably not.

[2019-07-02 07:26] #2147 closed

[2019-07-02 09:28] gnidan commented on #2147
Not low priority at all! But tough to fix. We're working on it.

(This has an existing issue here: https://github.com/trufflesuite/truffle/issues/1087)

[2019-07-02 15:27] rotcivegaf commented on #2136
Give us the steps to reproduce the Error

[2019-07-02 15:34] eggplantzzz commented on #2140
So Web3 decided to release version 1.0.0-beta.37 as version 1 stable. [Here](https://github.com/ethereum/web3.js/pull/2905) is the PR for that. After version 1 is released then maintenance will proceed and a lot of the current issues with version 1.0.0-beta.37 can get resolved.

And sorry @wbt, Truffle doesn't intend on being secretive about its development process. With Web3, however, we've been

[2019-07-02 15:43] rotcivegaf commented on #1487
I have the same issue, I my case, the reason of the error is the events with all indexed parameters, in example:
`event Transfer(address indexed _from, address indexed _to, uint256 indexed _tokenId);`
In the [ERC721](http://eips.ethereum.org/EIPS/eip-721) the events Transfer and Approval have all indexed parameters
Truffle actually not support this events...
You can see the error in this branch [r

[2019-07-02 16:56] eggplantzzz commented on #2136
Hey @wangjunbao2018! I'm guessing that you forgot to run your migrations. If you don't run the migrations first and deploy the contract then you won't be able to interact with it. When I run them and then run the commands above, everything goes smoothly. If I neglect to run the migrations I get the error that you received above. Try running the migrations first and let me know how it goes!

[2019-07-02 17:39] wbt commented on #685
I suspect this issue may be the same as the one reported [here](https://github.com/ethereum/solidity/issues/6977), with Truffle v5.0.14, especially the original report about wrong function inputs.  In that case, additional inputs were observed being copied up from three functions below, despite having not been there even in any previously compiled version of the contract.

[2019-07-02 18:41] wbt commented on #2140
@eggplantzzz Thanks for posting that PR link.

The frustrating points around the closed-door discussions is not just in the links above, but other places in the project too.  As a handy example, [here](https://github.com/trufflesuite/truffle/issues/1726) is one where there's an issue in the code that is definitely [confusing & frustrating](https://github.com/trufflesuite/truffle/issues/1726#issuec

[2019-07-02 22:58] gnidan commented on #2140
@wbt Firstly: thank you for calling a spade a spade.

Look, if I may be candid, as you have, this whole business with Web3.js has been a significant challenge for all parties involved. Truffle v5 released, specifically only supporting beta.37. Numerous attempts have been made to upgrade to later betas, but none of them passed CI.

For some background, since web3's beta.37, there have been huge ref

[2019-07-03 04:24] krsnnik commented on #1891
I'd love to take a look at adding this!

[2019-07-03 15:07] wbt commented on #1912
For some additional context: [this](https://github.com/ethereum/web3.js/issues/2266) is a big thing that broke in beta.38, so just going up one version in the beta series does not seem to be a feasible solution even on a fork.  That was [fixed](https://github.com/ethereum/web3.js/pull/2426) on Feb. 28 which went into [beta.47](https://github.com/ethereum/web3.js/releases/tag/v1.0.0-beta.47).

[App

[2019-07-03 17:42] CruzMolina commented on #2135
@wangjunbao2018 Can you provide exact reproduction steps within the `truffle develop` context?

[2019-07-03 17:46] CruzMolina commented on #2136
@wangjunbao2018 Can you try upgrading to the latest `truffle`?

[2019-07-03 17:47] CruzMolina commented on #2135
Disregard the above, closing since the other issue is covered in #2136

[2019-07-03 17:47] #2135 closed

[2019-07-03 19:06] haltman-at opened #2152 "Truffle Console: Print inidicator when auto-resolving promise"
## Issue

If an expression entered at the Truffle console evaluates to a promise, the console will automatically resolve it and print the result rather than printing the promise itself.  While helpful by itself, this can be confusing on context.  For instance, if one, forgetting an `await`, writes:

`result = (await MyContract.deployed()).method()`

Then `result` will hold a promise and, and the c

[2019-07-03 23:47] CruzMolina commented on #1656
Closing as support for Quorum's `privateFor` transaction parameter was re-enabled in #1944.

support for signing private transactions within `truffle-hdwallet-provider` is still on the "To Do" list. Opening a separate ticket for it shortly.

[2019-07-03 23:47] #1656 closed

[2019-07-03 23:51] CruzMolina commented on #1622
Closing as I believe this has been resolved as of truffle 5.0.9 via #1543.

[2019-07-03 23:51] #1622 closed

[2019-07-03 23:56] CruzMolina opened #2153 "Add support for signing Quorum private transactions"
As noted by @benjamincburns in [#1656](https://github.com/trufflesuite/truffle/issues/1656#issuecomment-485552898):

[2019-07-04 00:07] gnidan commented on #2152
(Requirements being coming up with the specific wording / output modification to make this more clear)

[2019-07-04 09:16] yxliang01 opened #2155 "docs: no doc for turrffle test exit status code"
## Issue

There's no documentation for the exit status code of `truffle test`.

## Steps to Reproduce

Read all published documentations - `--help` message, official website(https://www.trufflesuite.com/docs/truffle/reference/truffle-commands), `README.md`.

## Expected Behavior

There should be documentation for the exit status code of `truffle test`

[2019-07-04 20:10] Aniket-Engg opened #2156 "Provide better error messaging when Truffle fails to compile due to missing compiler version"
Truffle is not able to download solidity compiler 0.5.10 even it is show in the compiler list.

## Issue

$ truffle compile --list
[
 "0.5.10",
 "0.5.9",
 "0.5.8",
 "0.5.7",
 "0.5.6",
 "0.5.5",
 "0.5.4",
 "0.5.3",
 "0.5.2",
 "0.5.1",
 ".. and 45 more. Use `--all` to see full list."
]

$ truffle compile
Error: Could not find a compiler version matching 0.5.10. Please ensure you are specifying a val

[2019-07-05 03:56] aabylay commented on #1996
Got same issue. That worked for me:

`truffle init --force`

[2019-07-05 07:32] d10r commented on #2090
I support that. Example for why:
Since truffle switched to the more promise based web3 1.0, it's often useful to add [chai-as-promised](https://www.chaijs.com/plugins/chai-as-promised/) to chai in order to more elegantly handle promise returning methods in tests.
Setting that up however requires access to the global `chai` instance ([example](https://github.com/lab10-coop/artis-bridge-contracts/bl

[2019-07-05 07:33] icherkashin commented on #2156
Hello @Aniket-Engg

I cannot reproduce your problem: the compiler is downloaded. However, I am using `node v11.15.0`, not `v11.10.0`: perhaps it will work if you update `node`?

Here is my `truffle-config.js`, which specifies the `0.5.10` compiler:

[code]

[2019-07-05 07:44] icherkashin commented on #2155
Hello @yxliang01 !

I believe that `truffle` delegates the responsibility for exit codes to `mocha`.
However, `mocha` itself does not appear to have a clear documentation on its exit codes.
The best information I have found so far is that the exit code is the number of failed tests, or `255` if there are more than `255` failed tests.

https://github.com/mochajs/mocha/issues/3559

https://github.co

[2019-07-05 13:22] xuesu commented on #1704
Try this contract, I cannot migrate this one because it is too big.
[oraclizeContractUserSimple.txt](https://github.com/trufflesuite/truffle/files/3362840/oraclizeContractUserSimple.txt)

[2019-07-05 14:48] gnidan opened #2157 "Enhancement: Add `accounts` global to truffle console"
## Issue

Spun out from #2135, this issue proposes to add a convenient global to `truffle console` and `truffle develop`, so that users can easily see their accounts.

[2019-07-05 18:45] Aniket-Engg commented on #2156
@icherkashin I updated node js version, keep the truffle-config.js same as yours, still error persists.

[2019-07-05 18:57] yxliang01 commented on #2155
Yeah, your finding matches mine. So, I believe this should be added to the truffle documentation.

[2019-07-05 19:17] eggplantzzz commented on #1891
@krsnnik Let us know if you have any questions about this. Good luck!

[2019-07-05 19:45] eggplantzzz commented on #2156
@Aniket-Engg I also am able to use the latest Solidity compiler on that version of Truffle. Can you post your Truffle config here?

[2019-07-05 20:24] Aniket-Engg commented on #2156
Here it is:
[code]

[2019-07-05 20:50] gnidan commented on #2156
Can you try to do `truffle obtain --solc=0.5.10` and see if that works for you?

[2019-07-05 20:54] Aniket-Engg commented on #2156
@gnidan Yeah this works !
[code]

[2019-07-05 20:54] gnidan commented on #2156
Huh that warning shouldn't be there. That's good to know! Does it compile now?

[2019-07-05 20:55] Aniket-Engg commented on #2156
yes

[2019-07-05 20:56] gnidan commented on #2156
Great! Weird. Not sure why this was failing; your config looks correct. You don't have two config files, do you? (We were using `truffle.js` AND `truffle-config.js` both for awhile, but now we've standardized on only the latter)

[2019-07-05 20:57] Aniket-Engg commented on #2156
No, I have only truffle-config.js with almost all other default options. It was accepting only till 0.5.8

[2019-07-05 20:57] gnidan commented on #2156
Gosh. I hope my #2109 PR didn't break anything! I'll see what I can figure out.

[2019-07-05 20:58] gnidan commented on #2156
(leaving this open as a task to improve messaging)

[2019-07-06 00:21] djokicx commented on #2157
Thank you for opening a separate issue for this!

[2019-07-06 05:54] icherkashin commented on #2156
@gnidan @Aniket-Engg

Probably, the presence of an equal sign `=` in `--solc=0.5.10` causes the warning. I.e. the command should have been `truffle obtain --solc 0.5.10`, not `truffle obtain --solc=0.5.10`.

https://github.com/trufflesuite/truffle/blob/03119a1c193ac5425e8c8d0bd4e466d822bf2d6d/packages/truffle-core/lib/commands/obtain.js#L8

[2019-07-06 14:43] Chococoin opened #2159 "Problem installing truffle-hdwallet-provider"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I can't install truffle-hdwallet-provider on different platforms getting the same error.

## Steps to Reproduce

Here a Dockerfile
https://gist.github.com/Chococoin/08c0b3cc05f48dd8b0ec75997e2719c9

The error triggers with:
npm install -g truffle-h

[2019-07-06 16:45] gnidan commented on #2159
Looks like you need to add `/usr/local/lib/node_modules` to the `node` user group and ensure the permissions are set.

[2019-07-07 18:38] JohnAllen commented on #469
It's been two years and you still can't modify JS tests without recompiling all Solidity code?

Is this just not doable for some reason that isn't obvious?  Can someone on the Truffle team chime in here?  Recompiling every time, even without any modifications, REALLY slows down testing progress.

[2019-07-08 04:08] locpv-ibl commented on #1570
This helps: `npm install -g truffle`

[2019-07-08 15:42] vincentvanhassel opened #2160 "trouble with Migrations : sender account doesn't exist"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I can't migrate my contract on rsk testnet

## Steps to Reproduce

mkdir test && cd test && truffle init

npm install truffle-hdwallet-provider

define rsk in networks of the truffle configuration

[code]

add these lines before module.exports
[cod

[2019-07-09 02:55] gnidan commented on #1832
Issue maintenance: closing this as duplicate of #1087

[2019-07-09 02:55] #1832 closed

[2019-07-09 03:02] gnidan opened #2161 "Implement resource name references"
Possibly as described in [data model](https://trufflesuite.github.io/artifact-updates/data-model.html#name-referenced-resources)

[2019-07-09 03:03] gnidan opened #2162 "Implement query pagination"

[2019-07-09 03:05] gnidan opened #2163 "Build component to load contract instance information from artifacts into workspace"

[2019-07-09 03:08] gnidan opened #2164 "Design public schema for interacting with specific data locations"

[2019-07-09 03:08] gnidan opened #2165 "Ensure docs are up to date"

[2019-07-09 03:12] gnidan opened #2166 "Model networks as forest of named resources"

[2019-07-09 03:13] gnidan opened #2167 "Implement basic JSON-file persistence"

[2019-07-09 03:13] gnidan opened #2168 "Add feature flag to project configuration"
Add a feature flag that allows a user to use Truffle DB in tandem with Artifacts, for phase 1. In phase 2 will use Truffle DB instead of the resolver. This issue is for phase 1.

[2019-07-09 06:53] marslord commented on #1996
Hi @eggplantzzz I got the same issue, my env:

What I did?
[code]
If I unbox it in any empty directory , it will be work well.

[2019-07-09 08:48] vincentvanhassel commented on #2160
The problem comes from the fact that I had no rbtc on my wallet, obviously a wallet exists only when it is active (when it has rbtc). But the error message is not very explicit.

to solve this problem you just have to get rbtc:

first get the address of your wallet
[code]
then obtain rbtc via the faucet testnet

https://faucet.testnet.rsk.co/

and finally check that you have received them
[code]

[2019-07-09 08:48] #2160 closed

[2019-07-09 09:11] aliaksandr-adzinets commented on #1729
I can confirm this issue on truffle@5.0.26.

My smart contract has a public method that, upon being called, issues Transfer/Approve events of both ERC20 and ERC721 implementations within the same transaction.

The only difference is that in my case it was an "Out of gas" error instead of the "Cannot read property 'toString' of null" error mentioned by the OP.

After I renamed ERC721 events to Tran

[2019-07-09 11:56] aliaksandr-adzinets commented on #1729
I can confirm this issue on truffle@5.0.26.

My smart contract has a public method that, upon being called, issues Transfer/Approve events of both ERC20 and ERC721 implementations within the same transaction.

The only difference is that in my case it was an "Out of gas" error instead of the "Cannot read property 'toString' of null" error mentioned by the OP...

After I renamed ERC721 events to Tr

[2019-07-09 12:43] chebykin commented on #1963
Sorry for the late response. I've successfully published several custom releases using the aforementioned workflow, thank you!

But it's still too complex for the ones who want to participate. Are there any plans for making this forking process more developer friendly? I mean plugging in a fork into your project without packing and releasing a group of npm packages?

[2019-07-09 13:48] wbt commented on #1713
I wonder if this is related to [Solidity issue 6977](https://github.com/ethereum/solidity/issues/6977), which @chriseth thinks is actually a problem in Truffle?

[2019-07-10 01:32] hrye8rghzsdf opened #2172 "澳洲大学文凭办理www.diplomaclub.net"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2019-07-10 02:32] #2172 closed

[2019-07-10 08:30] dominik992 commented on #1680
@kseniya292 I'm facing the same problem. Did you resolve it?

[2019-07-10 09:47] ethdevss commented on #1680
@kseniya292 Hello. i recommended you try this command.
truffle migrate --reset --compile-all --network ropsten

use --reset and --compile-all option.

[2019-07-10 11:26] dominik992 commented on #1680
@ethdevss I tried it and, again, it wasn't deployed.
I unpacked metacoin and just added my truffle config:

[code]

This is the terminal output:

[code]

Also, env variables are set ok. My provider is PROVIDER=https://rinkeby.infura.io/v3/<myApiKey> and MNEMONIC is a twelve-word list exported from Metamask

[2019-07-10 15:48] eggplantzzz commented on #1713
@wbt Just to confirm, you said you are unable to reproduce this? If you ever figure out a way to do this reliably then I would appreciate it! In the meantime, however, I will keep a look out for this issue.

[2019-07-10 15:53] eggplantzzz commented on #2156
Yes @icherkashin, that is right. I suppose we need to replace the `=` with ` ` before checking the options.

[2019-07-10 16:05] eggplantzzz opened #2173 "Support command-line argument `--option=value` syntax (not just `--option value`)"
When using a command line flag with an `=` sign instead of a ` `, Truffle will throw a warning that you are using an unsupported or undocumented command. This is due to the way Truffle parses out the flags [here](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/command.js#L115-L119).

This should probably be updated to replace all `=` with spaces before checking. It m

[2019-07-10 17:38] eggplantzzz commented on #2159
We're going to close this. If the problem is different from what we thought, then we can re-open it. Thanks!

[2019-07-10 17:38] #2159 closed

[2019-07-10 17:54] eggplantzzz commented on #1365
Closing this for now. If anyone can provide reliable reproduction steps then it would be super helpful in troubleshooting this!

[2019-07-10 17:54] #1365 closed

[2019-07-10 17:55] haltman-at commented on #1597
Just found this still open for some reason.  Closing.

[2019-07-10 17:55] #1597 closed

[2019-07-10 20:30] rstormsf opened #2174 "truffle test fails if migration used Truffle Artifactor"
## Issue

## Steps to Reproduce

[code]
Create migration script in special way:
https://github.com/peppersec/truffle_bug/blob/master/migrations/2_deploy.js#L14

## Expected Behavior

should be working

## Actual Results

Errors out on the first run
## Environment

* Operating System:
* Ethereum client: ganache
* Truffle version (`truffle version`): 5.0.26
* node version (`node --version`): 10

Ple

[2019-07-10 21:13] danielr6 opened #2175 "Truffle migrate --network kovan"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When i try to migrate my contracts to the test network kovan, it just compiles my contracts then nothing. No further actions.

## Steps to Reproduce

truffle migrate --network kovan

## Expected Behavior

it should deploy the smart contracts to the

[2019-07-10 22:32] CruzMolina commented on #2174
Hey @rstormsf ! As an aside, you probably want to change `unlinked_binary` to `bytecode` in `2_deploy.js`. Looks like it's been deprecated in the contract json spec.

[2019-07-10 22:49] gnidan commented on #2174
Ugh `unlinked_binary` is a mess. It should be working, though. Maybe something is up with the deprecation mechanisms in contract-schema.

[2019-07-10 23:14] CruzMolina commented on #2174
@rstormsf , looked into your issue a bit. it looks like the way migrations are currently rigged, the resolver expects to be passed artifacts (via `artifact.require`'s) _before_ the deployer module.exports. I'm not familiar with `circom`, but you might be able to hook it up to truffle as an external compiler rather than running a script in-between normal compilation and testing (`npx truffle compil

[2019-07-11 02:09] colemilne54 commented on #896
Worked for me. For those who had the error for your contract and function having the same name just add "Fuc" or "Function" onto the end of your function name and keep everything else the same.

[2019-07-11 13:30] wbt commented on #1713
I have not reproduced the specific issue `ReferenceError: e is not defined` as described in OP above.   I have seen the issue in [Solidity issue 6977](https://github.com/ethereum/solidity/issues/6977) several times but lately I have been avoiding recompilation, largely to avoid that issue and the associated delays in real development progress on the parts of the dapp that are not the smart contrac

[2019-07-11 15:04] andreafspeziale opened #2176 "Error: Callback was already called."
- [√] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I have the following error when running solidity test with truffle:
`Error: Callback was already called.`
I found something similar on the internet here: https://ethereum.stackexchange.com/questions/69406/callback-was-already-called-during-truffle-

[2019-07-11 15:10] briankostar commented on #1865
Yes this would have been useful. Spent a few hours scratching my head as there's no errors either.

[2019-07-11 15:48] CruzMolina commented on #2176
Hey @andreafspeziale ! I don't see your actual contract (`UnpackFixed`) imported in your test file.

[2019-07-11 16:25] andreafspeziale commented on #2176
@CruzMolina Hey, yes because it is a kind of a mock to check that was working. There are any requirements that I'm missing? Should not running anyway?

[2019-07-11 16:36] andreafspeziale commented on #2176
@CruzMolina By the way I get the same error even:
- Importing MyContract.sol
- Calling the file TestMyContract.sol
- Calling the contract TestMyContract.sol

[2019-07-11 16:37] CruzMolina commented on #2176
Hmm, testing this locally, I seem to be able to run your commands successfully 🤔.

If you comment out the `development` network does your test run?

[2019-07-11 16:51] andreafspeziale commented on #2176
From where? From the config? If yes it wont even start. If u mean turn off my ganache and the config and let truffle do it fail in the same way. By the way you can find me on gitter to speed it up.

[2019-07-11 17:06] hui-zhu opened #2177 "gasMultiplier issue when Truffle 5.0.26 handles the private ttransaction to quorum"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
---------------------------

## Issue
gasMultiplier issue when Truffle 5.0.26 handles the private transaction to quorum network

What the issue is, in broad strokes.
eth calls comparison between 5.0.26 and 5.0.8
![image](https://user-images.githubusercontent.com/51973396/61069280-8a94a30

[2019-07-11 17:08] FITStaff opened #2178 "Unstructured Storage Proxy Pattern with Quorum"
I implemented an unstructured storage proxy pattern that I’ve successfully tested in Remix. However, when I call the logic contract via the proxy in Truffle I get an error. There’s one function modifier and it just checks to make sure the caller is an Owner, which in this case the calling address is the owner/deployer of the contract. Any ideas? The first image below is the error message and the s

[2019-07-11 17:38] CruzMolina commented on #2178
Hmm, this probably won't fix it, but can you try passing your owner address as a string (i.e. `('FL', 1, 'test', "0x...")`?

You mention that your contract is a private contract, if so you might need to interact with it using a `privateFor` param passed in your tx call. `privateFor` params were officially supported as of truffle `v5.0.14`.

[2019-07-11 17:57] parm23 commented on #2178
@CruzMolina I moved from 4.1.15 (post deployment) to v5.0.14. After running the transaction again, it returned a more insightful error

truffle(quorumMaker1)> Directory.at(OwnedUpgradeabilityProxyDirectory.address).registerOrganization("FL", "1", "test", "0x7090462b2c5e3416fb6bb505814261772e49b194")
Thrown:
evalmachine.<anonymous>:0
Directory.at(OwnedUpgradeabilityProxyDirectory.address).registerO

[2019-07-11 18:11] CruzMolina commented on #2178
If you're using the VM on Remix, it isn't going to provide accurate quorum RPC responses, since I believe it uses `ethereumjs-vm` under the hood.

It might help to provide a repo for reproduction and/or reproduction steps since I'm not sure how you're migrating to QuorumMaker. Depending on how you deployed your various contracts, you might need to pass a `privateFor` param.

[2019-07-11 18:53] parm23 commented on #2178
@CruzMolina this specific contract is actually public. I have some others that were made private, i removed those for now but you can check out my deploy script

https://github.com/parm23/privateQuorumProxy/tree/master/truffle-init-default

[2019-07-11 19:18] andreafspeziale commented on #2176
Ok we fixed this specific issue simply by removing the `build` folder.

[2019-07-11 19:28] rotcivegaf opened #2179 "Error: Returned values aren't valid, did it run Out of Gas?"
## Issue

The problem is if one contract have an `event A(uint indexed a)` and call this event with other contract, how haves the same event but without indexed `event A(uint a)`; truffle cant interprate who event raise

## Steps to Reproduce

`git clone git@github.com:rotcivegaf/reproduce_truffle_bug.git`
`cd reproduce_truffle_bug`
`npm install`
In one terminal:
`./node_modules/.bin/ganache-cli`

[2019-07-11 19:32] parm23 commented on #2178
@CruzMolina after updating the truffle syntax, it just looks like it won't allow you to attach a Proxy contract address to a logic contract's instance, such as Directory.at()

![image](https://user-images.githubusercontent.com/42729062/61079551-1964e800-a3f1-11e9-980c-87dee7cec8d5.png)

[2019-07-11 19:36] parm23 commented on #2178
![image](https://user-images.githubusercontent.com/42729062/61079774-8f694f00-a3f1-11e9-9a46-9cd6d196355f.png)

prev. image came out a bit blurry

[2019-07-11 19:48] parm23 commented on #2178
@CruzMolina  Seems that truffle just won't let you attach a proxy contract address into a logic contract instance. The 0x89 below is the proxy contract address:

![image](https://user-images.githubusercontent.com/42729062/61080469-21be2280-a3f3-11e9-9e27-3af7264da0a1.png)

[2019-07-11 20:59] rstormsf commented on #2174
@CruzMolina I don't think I understand what you mean by that.
What should I do to fix it?

[2019-07-11 21:05] rstormsf commented on #2174
@CruzMolina
I wish it could be possible:
https://github.com/iden3/circomlib/blob/master/src/mimc_gencontract.js
take a look at it ;-)

[2019-07-11 22:12] haltman-at commented on #2179
I'm actually redoing how we do event decoding at the moment, and this is one of the problems my new event decoding system will solve.  However, I'm afraid this new system won't be ready for a while.  I don't know if there's some easier quicker solution we can do in the meantime, but I thought you should know that even if there isn't, this is something we are presently working on.

[2019-07-12 00:36] rotcivegaf commented on #2179
Well if this can help somebody, my real problem is the events on ERC20:
[code]
and the events on ERC721:
[code]
I solved this using the same indexed arguments, in my case the ERC20 its a mock and the event in ERC20 are:
[code]

[2019-07-12 13:52] eggplantzzz commented on #2144
@itinance Interesting, I didn't know about this convention. Do you have any docs that you could link to that describe this behavior?

[2019-07-12 15:34] itinance commented on #2144
@eggplantzzz it seems to be something like a "common sense" in several sections of crypto applications and/or libraries.

Since [BIP0044](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki) indicates ?`m/44'/1'/0'/0/0` as derivation path for BTC Testnet, others have adopted these rules also on other currencies (although I am not really a friend of this).

MyCrypto uses the same derivat

[2019-07-12 15:52] CruzMolina commented on #2178
Closing since I believe this has been resolved over Gitter.

[2019-07-12 15:52] #2178 closed

[2019-07-12 17:22] filips123 commented on #2070
A quick solution is to use [Yarn resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) which should force correct new version. Note that it is only supported in Yarn (not NPM) and it will still produce error output (but it won't fail installation).

You need to add this to `package.json`:

[code]

[2019-07-12 18:10] gnidan opened #2183 "Enable Solidity syntax highlighting in the debugger"
The colors, duke, the colors!

[2019-07-12 18:11] gnidan opened #2184 "Decode events with truffle-decoder"

[2019-07-12 18:12] gnidan opened #2185 "Update @truffle/contract to use @truffle/codec instead of web3/ethers"

[2019-07-12 18:13] gnidan opened #2186 "Handle return value decoding/encoding in truffle-codec"

[2019-07-12 18:13] gnidan opened #2187 "Handle transaction decoding in truffle-codec"

[2019-07-12 18:15] gnidan opened #2188 "Support decoding events and transactions given only ABI info"

[2019-07-12 18:16] gnidan opened #2189 "Design+implement a proper interface for the encoder"

[2019-07-12 18:16] gnidan opened #2190 "Improve event filtering in truffle-contract and the decoder"

[2019-07-12 18:16] gnidan opened #2191 "Revise Truffle's decoder output format"

[2019-07-12 18:17] gnidan opened #2192 "Provide good documentation for using the decoder"

[2019-07-12 18:18] gnidan opened #2193 "Document Fabric EVM integration"

[2019-07-12 18:18] gnidan opened #2194 "Document `fork` option for `truffle develop`"

[2019-07-12 18:19] gnidan opened #2195 "Document solcjs parser configuration"

[2019-07-12 18:19] gnidan opened #2196 "Document Truffle's event system"

[2019-07-12 18:19] gnidan opened #2197 "Document ENS integration"

[2019-07-12 18:19] gnidan opened #2198 "Update Truffle docs for v5.1 changes"

[2019-07-12 18:24] gnidan opened #2199 "Epic: Truffle's event system"

[2019-07-12 18:25] gnidan opened #2200 "Task: publish truffle@ens dist tag for testing"

[2019-07-12 18:26] gnidan opened #2201 "Validate requirements for ENS integration"

[2019-07-12 18:27] gnidan opened #2202 "Ensure good test coverage for ENS integration"

[2019-07-12 18:27] gnidan opened #2203 "Build ENS integration"

[2019-07-12 18:32] gnidan opened #2204 "Support debugging estimateGas operations"

[2019-07-12 18:32] gnidan opened #2205 "Support debugging contract creation operations"
This is part of epic #2206

[2019-07-12 18:33] gnidan opened #2206 "Enable in-test breaking to use Truffle's debugger"
**Epic**. Contains issues:
- [x] ~#2204 Support debugging estimateGas operations~ calling out of scope for now
- [x] #2212 Provide new truffle-compile interface
- [x] #2205 Support debugging contract creation operations

Related PRs:
- [x] #2252 Build mocha hook for truffle-debugger
- [x] #2253 Provide in-test debugging interrupts for Solidity inside JS tests
- [x] #2255 Switch debugger to use new

[2019-07-12 18:34] gnidan opened #2207 "Expose new truffle-compile interface via truffle-workflow-compile"

[2019-07-12 18:34] gnidan opened #2208 "Shim legacy compile interface as the new interface"

[2019-07-12 18:35] gnidan opened #2209 "Provide new compile interface for Vyper compiler integration"

[2019-07-12 18:35] gnidan opened #2210 "Provide new compile interface for the external compiler integration"

[2019-07-12 18:36] gnidan opened #2211 "Update in-test debugging infrastructure to use new compile interface"

[2019-07-12 18:36] gnidan opened #2212 "Provide new truffle-compile interface"
**Epic**. Contains issues:

- [x] #2207 Expose new truffle-compile interface via truffle-workflow-compile
- [x] #2208 Shim legacy compile interface as new interface
- [x] ~#2209 Provide new compile interface for Vyper compiler integration~ out of scope for now, covered by #2208
- [x] ~#2210 Provide new compile interface for the external compiler integration~ same
- [x] #2211 Update in-test debuggi

[2019-07-13 22:37] 7-- commented on #815
I get "Warning: The source code for one or more contracts could not be found." when trying to debug this second example
https://www.trufflesuite.com/tutorials/debugging-a-smart-contract#issue-2-an-invalid-error-check

[2019-07-14 18:47] mindrunner opened #2216 "Invalid Opcode"
## Issue

I am getting an invalid opcode error from solc (I think) when compiling my contracts. This happens with truffle 5.0.26 and 5.0.27. Dowgrading to 5.0.1 solved my problem. Did not test other versions. In Gitter nobody answered my question.

## Steps to Reproduce

1) clone https://github.com/mindrunner/ethereum-supply-chain-tracking
2) run truffle test

## Expected Behavior

Tests are eithe

[2019-07-14 20:41] CruzMolina commented on #2216
Hey @mindrunner , setting the compiler evmVersion for solc to `"byzantium"` in your config should do the trick 🤞 .

As of `0.5.5`, `solc` defaults to compiling to `petersburg`.

You could also use the latest version of `ganache-cli` since I believe that defaults to using `petersburg` now as well.

[2019-07-14 22:10] thecircleoflifefree opened #2217 "permission denied, open '/root/.config/truffle/config.json'"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

Didn't ask in gitter, all I see is a huge amount of questions unanswered and just broad disorder IMHO.

## Issue

Unable to get truffel working due to the permission denied, already I have tried already using nvm rather than sudo npm as per other issue, and also chmoding things.

## Ste

[2019-07-14 23:44] thecircleoflifefree commented on #2217
Looks like someone has similar issue, but instead of CentOS it is Ubuntu:

https://ethereum.stackexchange.com/questions/72894/i-am-getting-error-while-installing-truffle-in-ubuntu-16-04-lts-how-to-resolve

[2019-07-15 13:36] thecircleoflifefree commented on #2217
v12.6 solved issue

[2019-07-15 17:43] gnidan commented on #2217
Re-opening because Truffle supports v8.9.4 and higher!

[2019-07-15 17:48] mindrunner commented on #2216
Perfect, that helps a lot. Wasn't really aware of the outdated ganache-cli. All ganache and truffle packages are horribly outdated on Arch. Got everything from npm now and works way better! :)

Cheers

[2019-07-15 17:48] #2216 closed

[2019-07-15 20:42] davidmurdoch opened #2221 "Should Truffle respect a node's `eth_gasPrice` instead of using its own default gasPrice value?"
It's not very clear that truffle uses its own default `gasPrice` value when connecting to an external network (like a running `ganache-cli` node). @haltman-at recently opened https://github.com/trufflesuite/ganache-core/issues/391 because it appears as though ganache-cli doesn't respect a user-configured `gasPrice` value in its transactions (ganache-cli and truffle use the same default `gasPrice`

[2019-07-16 04:54] cgewecke opened #2222 "Plugin improvement: expose truffle-core's index.js in webpack bundle"
As a plugin I might like to compile with special settings or run tests after preprocessing something. It would be convenient to have all the resources exported in truffle-core's [index.js](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/index.js) immediately available with
[code]

Not sure but I think this is possible with webpack's [expose-loader](https://webpack.js.org

[2019-07-16 05:16] gnidan commented on #2222
_issue number with all 2's, nice @cgewecke_

Is this file actually useful in its current state? I barely even knew it existed.

Anyway, just as a quick response:

I haven't looked, but the solution you describe sounds viable, or maybe it's simpler than that... you might only need to define another entrypoint in the webpack config.

I'd be in favor of getting Truffle available as a library!

Probab

[2019-07-16 05:54] cgewecke commented on #2222
@gnidan Whoa! I didn't notice that about the 2's'. Crazy!

I don't know about other use cases but mine is coverage. I need to:
+ set the provider as a ganache-core instance (so I can listen to the vm step and watch opcodes)
+ compile from a custom contracts_directory with `optimization.enabled: false` to a custom build_directory.
+ execute the tests using the artifacts written to the custom buid_d

[2019-07-16 06:50] gnidan commented on #2222
See [this part](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle/cli.webpack.config.js#L11) of the webpack config, which defines `cli`, `chain`, `analytics`, getting bundled into `cli.bundled.js`, etc. I think you just need to add to that and specify a `main` in the package.json? Try it out, though.

...

Thinking about this some more... I don't think the risk of breaking chan

[2019-07-16 07:36] cgewecke commented on #2222
Sweet thank you and no problem I'm doing all this way in advance. Have a great vacation.

Was worried that doing it the analytics.js way might make another huge mostly duplicate bundle. Which is fine with me but will look into the other way anyway....

[2019-07-16 09:57] barakman opened #2223 "No Truffle v4.x which supports Solc v0.4.26"
As you know, Truffle v4.x is tightly-coupled with Solc v0.4.y.
For example:
- Truffle v4.1.14 is designated for Solc v0.4.24.
- Truffle v4.1.15 is designated for Solc v0.4.25.

Truffle v5.x allows the user to configure the desired Solc version (via `truffle-config.js`).
However, since this version of Truffle has switched from Web3 v0.x to Web3 v1.x, anyone upgrading to it would subsequently need t

[2019-07-16 20:02] eggplantzzz commented on #2175
Hey @danielr6, try adding the protocol to your provider specification. In other words, what happens when you prefix that kovan url with "https://"? It seems likely that this is the case.

[2019-07-16 20:26] eggplantzzz commented on #2144
Hey thanks very much for the lesson and for pointing this out! I'll get this reviewed and hopefully we can get this merged soon!

[2019-07-16 20:30] eggplantzzz commented on #2200
An 'ens' dist tag was published (truffle@5.0.28-ens.0).

[2019-07-16 20:30] #2200 closed

[2019-07-16 22:37] tjlian616 opened #2224 "empty network events in contract builds"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

events field is always empty in deployed contract's json file.

## Steps to Reproduce

1. Open any contract and define an event there
in my case I simply use the TutorialToken example like this. This token contract has multiple events defined in i

[2019-07-16 23:51] peterbroadhurst opened #2225 "npm test intermittently fails with - ParserError: Expected ';' but got 'ILLEGAL'"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Hit the following error from `truffle test` from automation:
[code]

The problem is that this regex can match `0<anything>5<anything>0` in the ethereum addresss, and replace that with the current compiler version such as `0.5.8`:
https://github.com

[2019-07-17 03:07] xuhuang37 commented on #2224
I have the same issue.

[2019-07-17 16:44] eggplantzzz commented on #2217
Actually I don't think v12 does solve this issue. It currently looks like if you use `sudo npm install -g truffle` you will get the error above due to permissions issues. For reference, the ConfigStore package is trying to access a file that is used to hold user configuration data. Perhaps there is some information about this in the ConfigStore repo?

[2019-07-17 17:17] danielr6 commented on #2175
@eggplantzzz thanks for reply! Unfortunately that didn't fix the issue. Still just compiles my contracts then nothing.

[2019-07-17 17:35] fainashalts commented on #2174
Hey @rstormsf are you still having trouble with this? It looks like Artifactor is working as expected, and you'd need to set up a separate script as @CruzMolina mentioned before you can migrate this way. We're going to go ahead and close this issue. Please bring this up in the Truffle Spectrum if you'd like to discuss it further!

[2019-07-17 17:35] #2174 closed

[2019-07-17 17:37] thecircleoflifefree commented on #2217
Plain honest the upgrade was the last thing I did, but there is certainly no track on my end of what else was done as many things were done. I would say take it with a grain of salt and just close it, if you wish I will hide/delete the fix post.

[2019-07-17 17:39] fainashalts commented on #2175
Hi @danielr6 `truffle-hdwallet-provider-privkey` is not a Truffle package. Can you try to use `truffle-hdwallet-provider` instead and see if that resolves this?  If it doesn't can you take a look at your Infura dashboard? You may need to enable your api key from there in order for this to work. Please let us know if these suggestions resolve your issue!

[2019-07-17 17:41] fainashalts commented on #2179
@rotcivegaf thanks for bringing this up! @haltman-at is hard at work to fix this issue for good, and we appreciate you sharing how you were able to address it in the meantime. Closing this issue because it appears to be "resolved". Again, thanks!

[2019-07-17 17:41] #2179 closed

[2019-07-17 17:53] fainashalts commented on #2223
Thanks for the suggestion @barakman! We'll have a discussion about this and see if we can make this change.

[2019-07-17 17:58] fainashalts commented on #2224
@tjlian616  and @xuhuang37 thank you for bringing this issue to our attention. It does seem that this is not expected behavior. We will look into it!

[2019-07-17 18:08] danielr6 commented on #2175
@fainashalts appreciate the reply! sorry but your suggestions didn't solve the issue.

[2019-07-17 18:22] CruzMolina commented on #2175
Hey @danielr6 , do you happen to have `Require project secret for all requests` selected under `PRIVATE SECRET REQUIRED` for your project in the Infura Dashboard?

[2019-07-17 19:28] danielr6 commented on #2175
@CruzMolina I do not have it selected

[2019-07-18 13:52] PyrateAkananto commented on #1650
I stumbled about this issue because of a `.gitkeep` file (using Truffle 5.0.9 or 5.0.27).

In the error message please at least output the file name of the file causing trouble. In addition I suggest to ignore all files without a `.json` extension.

[2019-07-18 14:05] rotcivegaf commented on #1729
You can try [this](https://github.com/trufflesuite/truffle/issues/2179#issuecomment-510701494)

[2019-07-18 14:21] rotcivegaf opened #2229 "improve Error message when send wrong argument on a function"
Issue

When send a wrong argument on a function on truffle test, the error display only the wrong argument: `Error: invalid number value (arg="_balance", coderType="uint256", value=undefined)`

But never gets the name of the function, the contract or line of the file who fails

## Environment

[code]

[2019-07-19 07:12] princesinha19 commented on #852
Getting the same error. I am using infura.

[2019-07-19 07:23] princesinha19 commented on #852
Getting the same error. I am using infura.

### truffle-config.js
[code]

### Error Log
[code]

[2019-07-19 07:25] princesinha19 commented on #852
Getting the same error. I am using infura.

### truffle-config.js
[code]

### Error Log
[code]

[2019-07-19 12:35] dominik992 opened #2233 "Import of `truffle-hdwallet-provider` hangs on AWS Lambda"
When I try to import truffle-hdwallet-provider on AWS Lambda, the process hangs.
Example:

[code]

`contract initialization1` gets printed while `contract initialization2` not.

Locally it works ok.

I tried changing timeout time and other parameters on AWS, but nothing solved the problem so I'm pretty sure the problem is related to the package itself.

Any suggestions?

Thanks

[2019-07-19 13:10] andreafspeziale opened #2234 "Wrong GAS estimation"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Idon't know if it is the right place where report it.
My ERC20 `transfer` gas estimation report a wrong number.

## Steps to Reproduce

`MockToken.sol`
[code]

`truffle-config.js`
[code]

`test.js`
[code]

`yarn truffle compile`
`yarn ganache-cli -

[2019-07-19 13:27] CruzMolina commented on #2233
Hey @dominik992 , I'm not familiar with AWS Lambda, but `truffle-hdwallet-provider` is webpacked for a node.js context. There might be some node-specific dependencies that aren't available on Labmda?

You might want to give `react-native-truffle-hdwallet-provider` a try: https://github.com/bpeters/react-native-truffle-hdwallet-provider

It's specifically webpacked for a frontend context.

[2019-07-19 14:07] dominik992 commented on #2233
@CruzMolina Since it's a node.js environment, importing `react-native-truffle-hdwallet-provider` just adds more problems

[2019-07-19 14:32] hickscorp opened #2235 "Inclusion paths are messed up."
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

If a truffle project is packaged as an NPM package, the relative location of `node_modules` is different whether it's being used directly or as a dependency.

## Steps to Reproduce

- In a truffle project, have a `.gitignore` file that excludes the

[2019-07-19 21:28] eggplantzzz commented on #2235
If you use a Solidity file from a package, I'm not sure we want you to import them directly using relative paths. It should behave correctly if you reference the package directly. @gndan can you weigh in on this when you get a chance? What do you think the behavior should be?

[2019-07-19 23:23] BrendanChou commented on #2005
I think this can be marked as fixed now? Not sure which version of truffle it's in

[2019-07-19 23:34] CruzMolina commented on #2005
Closing since i believe this has been resolved in 5.0.27.

[2019-07-20 13:13] hickscorp commented on #2235
@eggplantzzz You are absolutelly right! Thanks for taking the time to answer.
I think it's worth explaining that I was mislead by the VSCode extension that was signaling an error on the import, while `truffle compile` was indeed.

To make things work, I had to change a little bit of my VSCode configuration, so it probably matches the Truffle way of invoking the compiler.

For those interested, the

[2019-07-20 13:13] #2235 closed

[2019-07-20 18:32] eggplantzzz commented on #2235
This is probably interesting for those working on the VSCode extension. I'll pass it along.

[2019-07-20 20:52] eggplantzzz commented on #2175
And incidentally, does it work with `truffle develop` or a test network like rinkeby?

[2019-07-21 07:44] andreafspeziale commented on #2234
I've switched to `"truffle": "5.0.27"` and I've inserted some logs. This are some results:
[code]
In any case it is not sufficient and will run into `out of gas`

[2019-07-21 16:04] Eymos commented on #1501
How did you Solve it?

[2019-07-21 16:08] Eymos opened #2237 "Contract has not been deployed to detected network (at browser) But working fine in test file, please assist"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2019-07-21 16:11] Eymos commented on #2237
![contract](https://user-images.githubusercontent.com/8821301/61593672-874ea380-ab97-11e9-9f68-199a41886449.PNG)

[2019-07-21 16:13] Eymos commented on #2237
![config](https://user-images.githubusercontent.com/8821301/61593702-d399e380-ab97-11e9-8128-9003a0543758.PNG)

[2019-07-21 17:39] sbrichards opened #2238 "`quiet` config option doesn't silence logs for `truffle test`"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle config provides a nice feature to silence compilation logs. If I add:
[code]
To my config and run `truffle compile`, this works as expected. But when I run `truffle test`, truffle still outputs all compilation logs. I expected `truffle test

[2019-07-21 17:40] sbrichards commented on #2238
FYI @CruzMolina - here's the issue we discussed. Thanks in advance!

[2019-07-21 18:01] samajammin opened #2239 "Contracts in a subdirectory are compiled every time running `truffle test`"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Discussed this with @CruzMolina  & we believe this is a separate issue from https://github.com/trufflesuite/truffle/issues/469

I have a [large number of contracts in a subdirectory for development purposes](https://github.com/sbrichards/etherswing

[2019-07-21 21:50] Chococoin commented on #2159
Sorry, I didn't understand the solution given. But if you said it's Ok... Ok.

[2019-07-22 11:19] felixwatts opened #2240 "misleading error message when EVM code fails and using web3-provider-engine"
- [ yes] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

If you use web3-provider-engine as your web3 provider, then try to do anything that fails at EVM level then the error message is always the same and is unrelated to the actual error

## Steps to Reproduce

1. set up a `web3` using `web3-provider

[2019-07-22 12:54] andreafspeziale commented on #2234
Hi guys I reach the correct amount of GAS needed for the above `transfer` call.
The correct amount is `51382`. Now the test is working cool.

## How I reach the correct estimation?
All the above tries were made using `ganache-cli`.

I've tried to run the test on a `parity dev client` and I noticed that the test was failing on the estimation call with a general `execution error`.

The same error oc

[2019-07-22 13:54] eggplantzzz commented on #1699
@Bowfish I see that they closed that issue over on the Geth. Is that issue resolved?

[2019-07-22 16:18] eggplantzzz commented on #852
@princesinha19 Is `config` defined in the case above? I don't see it imported or defined anywhere. That would mess up your url.

[2019-07-22 16:52] princesinha19 commented on #852
Thanks @eggplantzzz.
Yes, It's declared. I didn't included it here. I have imported a file where configuration are there.

[2019-07-22 18:32] wbt opened #2242 "Please don't inaccurately call 1.0 a "stable release""
---------------------------
## Issue
As noted [here](https://github.com/trufflesuite/truffle/issues/2140#issuecomment-507798120):

And [here](https://github.com/ethereum/web3.js/pull/2905#issuecomment-513884545):

This is that issue on GitHub, for focused discussion.

Calling the pending release 1.x seems appropriate based on there being major breaking changes from any 0.x version.  Calling it sta

[2019-07-22 18:36] wbt commented on #2242
Whoops, hit "New Issue" with the wrong project open.  Migrated [here](https://github.com/ethereum/web3.js/issues/2961).

[2019-07-22 18:36] #2242 closed

[2019-07-22 19:10] eggplantzzz commented on #852
@princesinha19 Can you also upgrade to the latest version of Truffle to ensure that this is not some problem that has been patched already?

Let me know how it goes. If the problem persists I will try and duplicate your setup to see if I can replicate your problem.

[2019-07-22 21:09] nivida commented on #2140
Yes, Fabian pinged me about the coming 5.0 release of truffle and we made a release together especially for it.

The drastic change we made was that contracts do return ``BigNumber`` objects instead of strings. The workaround would be to use the ``toString()`` method the ``BigNumber`` object ist providing for normal use cases but the truffle suite doesn't count as "normal use case".

@wbt @gnidan

[2019-07-23 02:20] jamatulli commented on #2217
This solution at this [URL](https://stackoverflow.com/questions/38323880/error-eacces-permission-denied
) worked for me.

1. Back up your computer
2. On the command line, in your home directory, create a directory for global installations:
`mkdir ~/.npm-global`
3. Configure npm to use the new directory path:
`npm config set prefix '~/.npm-global'`
4. In your preferred text editor, open or create a

[2019-07-23 09:50] filips123 commented on #1690
@gnidan Web3 beta 37 is now released as `1.2.0`. Can Truffle now be updated to use it?

[2019-07-23 12:15] eggplantzzz commented on #1690
Yes, I will get in a PR for Truffle to use `1.2.0` today.

[2019-07-23 20:20] danielr6 commented on #2175
I changed to ```truffle-hdwallet-provider``` and it worked after I noticed some simple fixes. I now have this error:

[code]

[2019-07-24 17:32] CruzMolina commented on #2225
Thanks for opening this issue @peterbroadhurst ! Are you still interested in opening a PR for this?

[2019-07-24 17:43] CruzMolina commented on #2237
Hey @Eymos, FYI `truffle test` runs your migrations automatically. You might want to double-check if you have ganache running.

[2019-07-24 17:48] CruzMolina commented on #2240
Hey @felixwatts , looks like this is specific to the version of `web3-provider-engine` you're using. You might want to take a look at our fork that we use in `truffle-hdwallet-provider`: https://github.com/trufflesuite/provider-engine

Closing as this isn't something we can fix. Thanks!

[2019-07-24 17:48] #2240 closed

[2019-07-24 17:52] CruzMolina commented on #2223
Hey @barakman , we will look into releasing this!

[2019-07-24 17:54] CruzMolina commented on #1627
Closing this since it seems out of date. Feel free to open if it's not!

[2019-07-24 17:54] #1627 closed

[2019-07-24 18:17] hv7214 opened #2248 "Request error: Unable to get local issuer certificate"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Unable to download any  boilerplate code
## Steps to Reproduce

truffle unbox pet-shop

## Expected Behavior

Biolerplate code should have been downloaded
## Actual Results

RequestError: Error: unable to get local issuer certificate
    at new Requ

[2019-07-24 20:58] davidmurdoch commented on #2234
@andreafspeziale  the issue looks to be a couple of things:

1. You aren't sending the same transaction in the `gasEstimate` call and the transaction itself. This may cause the estimate to change.
2. Web3 "helps out" if you don't specify a `from` in a transaction by defaulting to `accounts[0]`. So the `from` in the `estimateGas` call ends up being `accounts[0]`.
3. `accounts[0]` can't perform this

[2019-07-25 01:58] 4Maarifa opened #2250 "Contract deployment problems with truffle !!"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------
@CruzMolina
 @cds-amal
@gwmccubbin
## Issue

When I deploy my contracts (_Migrations.sol, Token.sol and CrowdSaleT.sol_ )  to any testnet (_ganache , ropesten ...ect_) , truffle deployer deploy the migrations and Token Contracts but it is **not deployed** the

[2019-07-25 07:33] CQBinh commented on #237
You can do like this:
[code]
After migrate, you'll have 2 addresses of your contracts, say `0x1` and `0x2`
Then, on `truffle console`:
[code]

[2019-07-25 09:09] Eymos commented on #2237
Thanks for the reply Cruz, yes ganache is running as show below, still same error. btw you can git clone and try it out.  https://github.com/ssimunic/iot-device-management.git
![ganache](https://user-images.githubusercontent.com/8821301/61861646-35e93180-ae81-11e9-8672-eb431e2fb7a5.PNG)

[2019-07-25 09:11] Eymos commented on #2237
![image](https://user-images.githubusercontent.com/8821301/61861773-79dc3680-ae81-11e9-8df6-5abad7fd9bbe.png)

[2019-07-25 12:30] barakman commented on #2223
@CruzMolina:
Thank you very much!
When do you estimate this will be ready?
I'd assume it only takes changing Solc version on your dependencies, though I might be missing some of the big picture.
Thanks :)

[2019-07-25 15:19] eggplantzzz commented on #2229
@rotcivegaf Thanks for the suggestion! This does seem like it would be nice to have.

[2019-07-25 15:24] eggplantzzz commented on #2250
Hey @4Maarifa, are you able to upgrade to the latest version of Truffle (version 5.0.28)? Is your code available somewhere like github to try and reproduce your error?

[2019-07-25 16:06] 4Maarifa commented on #2250
@eggplantzzz I am able to upgrade truffle to the latest version (5.0.28 with solc 0.5.10) but solidity version of my code is ( solc 0.4.24), as you know there are a lot of break changes between solc 04.24 and 0.5.10
I have cloned the repo from [https://github.com/dappuniversity/ico_irl ] to my computer and I try to deploy the same project without any changes but I get the same problem .      :( :(

[2019-07-25 17:16] CruzMolina commented on #2223
Hey @barakman , we're looking at releasing this today. It _should_ be a simple matter of bumping the solc-js dep 🤞. The plan is to do a maintenance release if it passes CI.

[2019-07-25 17:31] CruzMolina commented on #2237
What are the steps you're taking to receive the `contract has not been deployed` error?

[2019-07-25 21:11] gnidan commented on #2223
@barakman could you open the PR to upgrade solc?

[2019-07-25 23:58] gnidan commented on #2238
This should be released in Truffle v5.0.29! Try it out and let us know. Thanks!

[2019-07-25 23:58] #2238 closed

[2019-07-25 23:59] gnidan commented on #1891
Released the PR for this in v5.0.29! Try it out and let us know how it works for you!

Thanks! Closing this for housekeeping.

[2019-07-25 23:59] #1891 closed

[2019-07-26 00:00] gnidan commented on #2140
Truffle is now using `web3@latest`! (released as part of Truffle v5.0.29)

Thanks everyone!

[2019-07-26 00:00] #2140 closed

[2019-07-26 00:00] gnidan commented on #1690
It's released! Closing this, as Truffle v5.0.29 now comes with `web3@latest`

Thanks all!

[2019-07-26 00:00] #1690 closed

[2019-07-26 06:07] sebastiantf commented on #831
It would be better if this feature was added to v4 too. I ended up in this situation:

1. I already have v5 installed globally
2. I wanted to setup a truffle project using v4
3. So I installed v4 locally in my project folder
4. Used `npx truffle init` to use the local version v4
5. Got the error: `Error: Something already exists at the destination. Please unbox in an empty folder`

[2019-07-26 06:49] barakman commented on #2223
@gnidan:
To my understanding, the PR should be conducted on the latest v4 release (v4.1.15).
I have no idea how to open a PR on an older release (let alone the fact that there is no way to reach this release from your GitHub).
Thanks.

[2019-07-26 06:52] haltman-at commented on #2250
With Truffle 5, you can set the Solidity compiler version in your `truffle-config.js`.  Try adding the following to the `module.exports` in your `truffle-config.js`:

[code]

Or, if instead of specifically 0.4.24, you're OK with later compatible versions, you can use `"^0.4.24"` instead, to allow also 0.4.25 or 0.4.26.

If you do that, does that resolve your problem, or is there more to it?  Thank

[2019-07-26 07:01] Levino commented on #1690
How about linking the PR or commit?

[2019-07-26 07:05] Levino commented on #1690
https://github.com/trufflesuite/truffle/commit/aaacccc6e85b914d295d3f1e14e60ac8ed2e568a

[2019-07-26 07:56] Eymos commented on #2237
Heree are the Steps.
1. truffle compile
2. truffle  deploy --network development
![image](https://user-images.githubusercontent.com/8821301/61935852-372d6380-af40-11e9-9b56-4d38f93d9d30.png)

[2019-07-26 08:01] Eymos commented on #2237
3. npm run start
![image](https://user-images.githubusercontent.com/8821301/61936051-bb7fe680-af40-11e9-8096-75ddd9104afd.png)
![image](https://user-images.githubusercontent.com/8821301/61936108-e10cf000-af40-11e9-8d26-06b3d9136518.png)

[2019-07-26 08:19] sebastiantf commented on #1996
same issue here.

Stuck at downloading when using local Truffle install with `npx` in a non-empty folder.

Works fine if using global truffle install

[2019-07-26 13:22] CruzMolina commented on #2237
Hey @Eymos that looks like you don't have your dapp/frontend configured to connect to Ganache properly.

[2019-07-26 13:48] Eymos commented on #2237
The contract is well deployed, right. ? ganache server is

![image](https://user-images.githubusercontent.com/8821301/61955284-8474f980-af6f-11e9-97db-a2b9feb99931.png)

[2019-07-26 13:49] Eymos commented on #2237
what do u mean by  dapp/frontend not configured to connect to Ganache properly.? where is the exact issue?

[2019-07-26 19:50] apbendi opened #2257 "Truffle Migration Failing Although Transaction Succeeds"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I'm trying to deploy a contract to mainnet. I have deployed it to Ropsten without issue. When I attempt to deploy to mainnet with truffle, I get the following error:

[code]

However, on etherscan, it seems the transaction has succeeded:

https://e

[2019-07-27 07:22] amankakar commented on #1501
@Eymos  I have changed rpc of web3 provider.
web3.setProvider("http://localhost:9545")
then the web3 object will know which protocol to use and which hostname to contact to get the block data for the blockchain or where to send transaction calls to.

[2019-07-27 08:27] filips123 commented on #2070
This will probably be fixed in next version of Web3.

[2019-07-27 17:43] cgewecke commented on #2257
@apbendi Out of curiosity, did you get a tx failure msg immediately or were you in pending state for a long time first? Is it possible that the tx timed out after 50 blocks per [your config](https://github.com/apbendi/forehash/blob/master/truffle-config.js#L24)?

[2019-07-27 19:16] diogoab commented on #2217
Very good @jamatulli for me it worked very well! thanks!

[2019-07-27 22:26] gnidan commented on #2217
Does anyone know how to fix this via a code change to Truffle? I've had it on my to-do list to look into this for a couple weeks, but haven't had the chance yet. It's definitely preferable not to have to do the above.

[2019-07-28 03:06] CruzMolina commented on #2237
@Eymos , based on your repo, it looks like your using MM to connect to Ganache. Is MM configured properly?

[2019-07-28 03:09] t4sk commented on #852
@princesinha19 I was getting the same error. My previous solution still worked on Ropsten. Here is my `truffle-config.js`

[code]

[2019-07-28 05:32] Eymos commented on #1501
Thanks for that Amankakar, though it is not running, can you please help me solve this error. check out my the git clone here https://github.com/Eymos/iot-device-management.git

[2019-07-28 06:09] Eymos commented on #2237
Hello Cruz, yes MM and Gnache are well connected, when the contracts are deployed, both the MM and Ganache reduces the balance as shown below, i really can't figure out why i am getting this error..

![image](https://user-images.githubusercontent.com/8821301/62002944-1b05ff80-b0c3-11e9-84d8-7fea77269f58.png)

![image](https://user-images.githubusercontent.com/8821301/62002971-923b9380-b0c3-11e9-80

[2019-07-28 13:00] tserg commented on #2217
I'm having the same issue. I've tried the above suggestion but it does not work.

[2019-07-28 19:43] fasidOnGit commented on #1943
Okay!! Thanks alot for the help here. Adding two things worked up for me.

1. Suggestions from @rogargon  https://github.com/trufflesuite/truffle/issues/1943#issuecomment-488741750
2. And the following webpack.config.js.  Thanks to @CruzMolina

[code]

[2019-07-28 19:56] fasidOnGit commented on #1943
Whatsoever, If someone faces another issue like `window is not defined ` even after making the above-suggested changes. that's probably because `next.js` is server-rendered out of the box. so we need support from this library for that IMO :)   I fixed it by a simple if loop to check `window is not undefined`

[2019-07-29 07:02] amankakar commented on #1501
Kindly provide some detail about your error. because this error may be
caused due to different reasons.

On Sun, Jul 28, 2019 at 10:32 AM Ole Codes <notifications@github.com> wrote:

[2019-07-29 14:24] drortirosh commented on #2005
Alas, it was not solved
with docker: **34 seconds**
without docker (solcjs) : **10 seconds**
with solc docker (without truffle) - **1.2 seconds**

Note that the solc generates different output format (the above test was with `--combined-json` with all options set, though truffle generates much more verbose info.

I'm using Mac, where I can see the currently running process.
When running `truffle c

[2019-07-29 14:28] SurfingNerd opened #2261 "build artifacts: include flattened source code"
## Issue

the build artifact json files became a very valuable source of information about the compiled source code. it tracks among others the source code, the used compiler and  settings.
But it still takes some extra error prone steps to include the full, flattened source code of a specific contract (what you usually need) to get uploaded to tools like blockscout. (means: compiled flattened sou

[2019-07-29 14:49] gnidan commented on #2261
@SurfingNerd we have an in-progress solution to address this problem systematically. See #1718 or blogposts _Introducing Truffle DB [part 1](https://www.trufflesuite.com/blog/introducing-truffle-db-part-1)_ and _[part 2](https://www.trufflesuite.com/blog/introducing-truffle-db-part-2)_.

If you're in a hurry and can't wait for Truffle DB, there might be a compromise solution that adds this informa

[2019-07-29 14:51] gnidan commented on #2005
Eek! Alright, re-opening this! Thanks for letting us know!

[2019-07-29 15:26] apbendi commented on #2257
Hey @cgewecke, it did not fail immediately and was pending for some time, but it was definitely not the ~10 minutes needed for 50 blocks. I'd guess it failed within 3-4 minutes, and that the transaction itself was mined within 5-6.

[2019-07-29 15:43] ziakhatri opened #2262 "- Fetching solc version list from solc-bin. Attempt #1 + truffle@5.0.29"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
No response
---------------------------

## Issue
zia@zia-VirtualBox:~$ npm install truffle -g
/home/zia/.npm-global/bin/truffle -> /home/zia/.npm-global/lib/node_modules/truffle/build/cli.bundled.js

- Fetching solc version list from solc-bin. Attempt #1
+ truffle@5.0.29
updated 1 packa

[2019-07-29 16:38] CruzMolina commented on #2005
Hey @drortirosh , I notice the truffle config in the referenced repo doesn't include the new config setting for speedy parsing.

For reference:

[code]

Hope this helps!

[2019-07-29 16:53] eggplantzzz commented on #2217
I think these kinds of errors are usually successfully resolved by installing npm with nvm. npm has these recommendations for issues involving these types of problems. Hopefully someone might find it helpful. https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2019-07-29 16:59] SurfingNerd commented on #2261
thank you for this fast response :) the truffle-flatterner resulted in a cylcic graph error - i did not investigate any further.
good i have the time to wait for the next upcomming release. Maybe it brings me luck :)

[2019-07-29 18:34] BrendanChou commented on #2005
I noticed the same problem on Truffle 5.0.28, but the config thing above fixed it 👍 I think you can close this again

[2019-07-29 22:13] drortirosh commented on #2005
Yes, indeed the `parse: "solcjs"` does the job. thanks -
now both truffle compilation methods take ~9 seconds to compile.

but I thought the idea was to get rid of solcjs completely (it takes ~4 seconds just to load, even before it starts doing anything)

[2019-07-30 00:02] eggplantzzz commented on #2262
This sounds very vaguely permissions-based even though you said you have all permissions given. Do you have npm installed through nvm? Sometimes these things go away when you do. You might consider trying the suggestions in this npm article. https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

If you go for it, let me know if anything improves.

[2019-07-30 04:37] CruzMolina commented on #2005
Woo! Glad to hear the parser works!

@drortirosh We opted to remove `solc-js` as a necessary external dependency when installing truffle since it appeared to be the cause of major OS-compatibility issues.

Current behavior is that truffle caches a default `solc-js`  soljson file which gets used by default for compilations. This cached file is what gets used for faster parsing when set in the confi

[2019-07-30 04:37] #2005 closed

[2019-07-30 05:17] drortirosh commented on #2005
I understand that you use solcjs internally. What I don't understand id why you need it at all when working with solc docker: why parse and compile it 2 steps, when compiling does parsing too.

[2019-07-30 08:13] #2261 closed

[2019-07-30 09:13] AminTalebi opened #2264 "Problem in installing truffle-environment"
[code]

[2019-07-30 11:52] andreafspeziale commented on #2234
@davidmurdoch Thanks for the inputs!
The main reason was point number 2 but I didn't realise it till I tried it using parity which was failing rather giving me a wrong value.

Plus I found another interesting thing.
When you estimate the gas needed for a valid transfer of a token you get a value but for example it will be less if your balance will be 0 afte that transfer. There is any more efficie

[2019-07-30 14:06] mallapurbharat commented on #1976
I face a similar issue when I download a fresh instance of MetaCoin box. Truffle compile, truffle migrate works (looks  like if Ganache is running, it detects Ganache anyway and deploys successfully), but truffle test just hangs. I was unable to understand why test was hanging, then I realized that in truffle-config.js, there was no network specified as by default all lines are commented out. Once

[2019-07-30 14:09] TripleSpeeder commented on #2157
As https://github.com/trufflesuite/truffle/pull/2218 is merged i think this can be closed.

[2019-07-30 14:29] gnidan commented on #2157
Yep! Bam!

[2019-07-30 14:29] #2157 closed

[2019-07-30 14:45] CruzMolina commented on #2264
hey @AminTalebi can you try installing without sudo? I believe that's not the npm-recommended way of installing packages. We've noticed doing so tends to cause permissions-related issues.

[2019-07-30 15:00] CruzMolina commented on #2005
IIRC, `solc` doesn't support parsing & resolving imports (ethereum/solc-js#114). We use a parser hack to quickly grab necessary imports. Unfortunately this hack works much faster when using `solc-js` then docker or native.

[2019-07-30 15:35] eggplantzzz commented on #2237
@Eymos It is because the artifact file you are using to load DeviceManager is not in sync with the network. When you run `truffle compile` and `truffle migrate`, the artifact file is built and put in `./build/contracts`. The one you are using to load from on the front end is in `./frontend/src/artifacts` which is old.

Try deleting that artifact file and copying the one from the build folder in th

[2019-07-30 16:04] peterbroadhurst commented on #2225
Sorry @CruzMolina I've not go this raised yet.
We've seen this again today in our pipeline, which reminded me. I will go ahead and get the PR raised now.

[2019-07-30 16:10] eggplantzzz commented on #2248
Hey @hv7214, this is probably not a Truffle error but rather some problem with your machine's configuration or npm. Try to google this to find out more information about what is going on. If I get any insight into this I'll try and report back here.

[2019-07-30 16:40] HarryR commented on #2174
I encountered this problem too.

Running the code which uses `truffle-artifactor` into a separate stage between `truffle compile` and `truffle test` seems to have avoided the problem of having to run `truffle test` multiple times.

However, I still run into the blank 'Error: Error: Error' message whenever I try and use any of those contracts, that's really frustrating because getting any meaningfu

[2019-07-30 16:48] CruzMolina commented on #2174
@HarryR are you trying to do something similar as rstormf?

If you're trying to migrate than I believe you will have to "make" the contract artifact and import into the migrations scripts.

[2019-07-30 16:52] pablogm95 opened #2265 "Add --rm flag to docker run command when docker setting is true"
## Issue

On run the compiler with `compilers.solc.docker: true` the docker containers are not automatically remove when it exits creating stoped containers pollution

## Steps to Reproduce

`truffle compile`   -or-  `./node_modules/.bin/truffle compile`
`docker container ls`

## Expected Behavior

adding the --rm tag for automatically remove the container when it exits at:
[https://github.com/tru

[2019-07-30 17:01] HarryR commented on #2174
I'm doing something very similar to @rstormsf - generating EVM bytecode

The fix described above has fixed half the problem - I have a separate script 'generate-artifacts.js' which is run in between `compile` and `test`, then i can import the artifacts normally using `artifact.require(...)` so `truffle-artifactor` isn't used at any point in the migration .js scripts.

However, whenever I include t

[2019-07-30 17:50] gnidan commented on #2265
Good idea! You should open a PR for this!

[2019-07-30 17:52] CruzMolina commented on #2174
@HarryR can you provide a reproduction repo for your `Library` error?

Thinking about this some more, there _might_ be a way to use the external compiler feature to get the `circom` compiler lib to work. Are you using this lib?

[2019-07-30 20:28] HarryR commented on #2174
Hi.

 I'm not using `circom`.

 My problem has nothing to do with artifactor.

 I am working around it in a different way.

[2019-07-31 06:49] haltman-at commented on #1586
Just encountered this problem.  Wanted to use `contract.sendTransaction` in a test to make sure we could properly handle some mis-encoded data, but, well, it didn't work, because it didn't send the data.

[2019-07-31 08:53] AminTalebi commented on #2264
Hi,
I could not use it without sudo. I am using ubuntu bash on windows, that is the reason why!

I delete .git folders in order to get in done.

[2019-07-31 09:24] gnidan commented on #2264
Looks like the same issue as https://github.com/ethereum/web3.js/issues/2971, which has an open PR to fix. I haven't checked... does truffle-environment use websocket directly or is this error bubbling up from web3?

[2019-07-31 09:29] obbaeiei commented on #2264
try this magic

```rm -rf node_modules/*/.git/```

[2019-07-31 11:57] barakman commented on #2223
@gnidan:
Hi, is this release due any time soon?

[2019-07-31 13:07] Eymos commented on #2237
Thanks for the comments @CruzMolina  and @eggplantzzz. i was able to check the to solve this issue. by reinstalling the dependancy - (npm i truffle-contract). Now my system is running but i am getting the error "**vm exception while processing transaction out of gas**" and it is not mining.any idea how i can solve this?

[2019-07-31 13:23] gnidan commented on #2223
Apologies for the delay @barakman. I've had to lose focus here with the upcoming TruffleCon and our team retreat the week after. There should be a branch `4.x` or something similarly named, to target for the upgrade. There is risk since we haven't done these v4 patches very much, so the release will realistically have to wait until we're back to business as usual, the week of the 12th.

Thanks for

[2019-07-31 13:45] drortirosh commented on #2005
Here's my hack to resolve dependencies for `solc`.
It compiles in ~1 second my project source tree, compared to ~10 seconds in `solcjs`

[code]

I agree that this is only a hack, not a general solution. A better solution is to add "search path" to `solc`

[2019-07-31 14:20] barakman commented on #2223
@gnidan: Thanks for the quick update.

The only branch that I've found with a similar name is [v4](https://github.com/trufflesuite/truffle/tree/v4), but it's located under your *stale-branches* list.

Is that the one that you want me to open a PR in?

[2019-07-31 14:31] eggplantzzz commented on #1586
@LiorRabin What would be the use case for supplying data to the fallback function? I don't think it would serve any purpose, correct me if I'm wrong. According to the Solidity docs, "This function cannot have arguments... It is executed on a call to the contract if none of the other functions match the given function identifier (or if no data was supplied at all)."

[2019-07-31 14:43] LiorRabin commented on #1586
@eggplantzzz the use case I had in mind when asking the question turned out to be irrelevant.

[2019-07-31 15:02] gnidan commented on #2223
Yep, that's the one!

[2019-07-31 15:19] juharris opened #2268 "`test --show-events` does not show events from `before` methods"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

`truffle test --show-events` does not show events from `before` methods.

## Steps to Reproduce

Call a contract method that emits events.
When called from a `before` method the events will not be shown.
Change `before` to `it` and the events will

[2019-07-31 15:33] bergben opened #2269 "tx_params in truffle-contract utils.js is not defined"
## Issue

tx_params in truffle-contract utils.js is not defined, this results in an error: https://github.com/trufflesuite/truffle/blob/37e99ccea11be18cb294c6813701e541780fcd20/packages/truffle-contract/lib/utils.js#L152

## Steps to Reproduce

Call any function or estimateGas.

Angular Code:
[code]

## Expected Behavior

No error

## Actual Results

[code]

## Environment

* Operating System: Ubu

[2019-07-31 15:59] barakman commented on #2223
@gnidan:
I cannot do a PR.
Git response: `Permission to trufflesuite/truffle.git denied to barakman`

[2019-07-31 16:17] gnidan commented on #2223
Oh, you need to fork first.

[2019-07-31 17:15] eggplantzzz commented on #2250
@4Maarifa I'll try and duplicate your issue and get back to you. Off the bat I don't see a CrowdSaleToken contract, do you know where that is coming from?

[2019-07-31 17:30] eggplantzzz commented on #2268
Hmm interesting, I'm not sure how to feel about this. I can understand the point of view that you might only be concerned about the tests themselves and not the setup. Perhaps we could add some option to include them? What do you think @gnidan and @CruzMolina?

[2019-07-31 18:35] juharris commented on #2268
I agree that practically you might not want to see events from setting up the test but the docs say "Log **all** contract events." (emphasis mine):
[code]

[2019-07-31 20:48] barakman commented on #2223
@gnidan:
[code]

[2019-07-31 21:24] CruzMolina commented on #2223
@barakman did you run `yarn add solc@0.4.26` when bumping the solc versions?

[2019-08-01 00:45] thecircleoflifefree commented on #2217
Looking back into this issue i'd like to add two things:

- My initial statement on Gitter was just wrong. Tyler helps and has helped alot, props to him.
- Somewhere down the road I had read that instead of using ```sudo``` with npm commands was to use ```--unsafe-perm``` . Again I don't recall much about it, but mixing up nvm and npm alone on the fly can cause issues.

[2019-08-01 06:47] barakman commented on #2223
@CruzMolina:
No, I didn't. Sorry, I wasn't aware of that.
I cannot run it on my system:
[code]
BTW, you might wanna add `yarn` to your `package.json` file.
Thanks

[2019-08-01 10:10] miyao-gmo commented on #2224
@fainashalts truffle-contract has the events porperties, but the events properties is the function which calculates events' signature. Therefore, networks.events is empty until contract calls the events property.

[2019-08-01 11:22] agatsoh commented on #2127
I am trying to play around with truffle and cannot install the hdwallet provider. Tomorrow there is a hackathon EthIndia and many people might require this. Just a heads up. Which other stable version of truffle can we install
[code]
Interestingly truffle --version gives this
[code]
And then truffle version gives this
[code]

[2019-08-01 14:53] se3000 commented on #2021
Any progress here?

[2019-08-01 15:43] juharris commented on #503
That's for the suggestion @masato25 that's really helpful! Here's a slightly nicer way:
truffle.js:
[code]
in your migration scripts (e.g. 2_deploy_token.js):
[code]

Running tests:
truffle test --network skipMigrations

[2019-08-01 20:03] ccolorado commented on #503
I was currently using somehting like that. Never realy imagine it as a way to skip migraitons.
Awesome tip :)
[code]

[2019-08-02 00:16] Eymos commented on #1501
This has been solved.

[2019-08-02 03:00] treasersimplifies commented on #2175
I got the same issue.
`truffle migrate --network rinkeby `
with no any response, either no error or success info.
And mine works with  `truffle develop`, contract can be deployed to truffle develop node.

[2019-08-02 13:48] eggplantzzz commented on #2268
Haha, yeah you are right. Do you feel strongly and/or have a strong argument one way or the other on this issue? I'll get some input from some of the rest of the team.

[2019-08-02 15:34] danielr6 commented on #2175
I was able to migrate my files by changing my truffle config file.

Now I have an error when seeding the exchange on the kovan test network.

[code]

[2019-08-03 13:49] #1586 closed

[2019-08-04 03:23] #2134 closed

[2019-08-05 03:35] boolafish opened #2278 "Document hasn't upgrade the default gas to 6721975 instead of 4712388"
---------------------------

## Issue

In [truffle doc](https://www.trufflesuite.com/docs/truffle/reference/configuration), it has the following statement for default network gas:

However, it is updated to 6721975 in [This gas update commit](https://github.com/trufflesuite/truffle/commit/0baeedd4741a484a39c2474f294c216eff88d9a1).

## Steps to Reproduce

I was deploying contract to ganache with ga

[2019-08-05 14:55] eggplantzzz opened #2279 "Version command reports wrong Solidity version"
When running `truffle version` Truffle reports the Solidity version to be `0.5.0`. It actually uses `0.5.8` by default if no other configuration is specified.

[2019-08-05 15:42] benediamond commented on #650
@dzentota @cgewecke yes, this part is key in a way I can't quite understand yet. Is this because the main deployment function "knows to wait" for the promise chain to finish executing when it depends on its return value?

Is the value returned from the deployment function actually used by truffle in any way...?

[2019-08-05 16:24] PochenriederAlex commented on #552
Happening to me on v5.0.25

[2019-08-05 18:53] krsnnik commented on #1910
I'd like to take a crack at this if no ones working on it!

[2019-08-05 20:32] gnidan commented on #1910
Yes please @krsnnik!

[2019-08-05 22:36] nicholasjpaterno opened #2280 "Solution to multiple PromEvents"
Instead of
[code]

We can return an events object with all the promises as properties that can be awaited in line.
[code]

[2019-08-06 01:59] CruzMolina commented on #552
@PochenriederAlex can you provide reproducible steps?

[2019-08-06 15:50] gnidan commented on #2280
Thanks for opening this!

[2019-08-06 15:58] gnidan commented on #2280
How about this:

[code]

Which would be equivalent to:
[code]

[2019-08-06 19:56] haltman-at commented on #2280
Quick thoughts: Why call it `listen` rather than also calling it `on` and just allowing the omission of the callback?  Hell, we can go one step further -- why not just have `instance.func().transactionHash`, `instance.func().receipt`, etc, each as promises, eliminating the use of strings?  This does create some limitations (you can't give an event the same name as a field or method of  PromiEvent,

[2019-08-07 01:00] rkalis commented on #1472
I added a reference of the config object and a walkthrough plugin development in my blog post https://kalis.me/creating-truffle-plugins/. If you want, I can contribute some of that content to the Truffle docs if you know what you want to include on the page.

[2019-08-08 09:40] adrianmcli commented on #2280
What about RxJS? I would like some more context on the specific case that this is solving though.

[2019-08-08 19:08] xhliu commented on #1927
Had the same issue using `truffle-hdwallet-provider@1.0.15`. Had to override with `--skip-dry-run`.

[2019-08-09 07:38] vinay1011998 commented on #48
can you tell  me how to make a new npm project

[2019-08-09 10:15] sebastiantf opened #2286 "Error installing truffle-contract@4.0.28"
## Issue

`npm install truffle-contract --save-dev` fails with the following error:
[code]

But the following steps work:
1. `npm install truffle-contract@4.0.21 --save-dev`
    * this would produce the same error as above
2. After 1, `npm install truffle-contract --save-dev` works fine.
    * truffle@4.0.28 is installed correctly
## Steps to Reproduce

1. `npm install truffle-contract --save-dev`

[2019-08-09 15:03] sebastiantf opened #2287 "Web3 is not defined in truffle-contract@4.0.2"
## Issue

The documentation specifies:
`Note: Web3 and its dependencies are now bundled into truffle-contract v4.0.2 or higher.`

But `new Web3()` produces error: `Uncaught ReferenceError: Web3 is not defined`

## Steps to Reproduce

1. `<script src="/vendor/truffle-contract/dist/truffle-contract.min.js"></script>`
   * Without including web3. Does not have MetaMask installed
2. `App.web3Provider

[2019-08-11 00:32] realisation commented on #1623
This is a problem for me as well. Is there a way to tell truffle which compiler to use?

[2019-08-12 02:08] gnidan commented on #2287
Ah, I think this was fixed in a subsequent release. Can you use a later version?

[2019-08-12 02:09] gnidan commented on #2286
Will have to look into this. Thanks for raising the issue!

[2019-08-12 06:58] sebastiantf commented on #2287
@gnidan I am using the latest version `4.0.28`

- npm list truffle-contract: `truffle-contract@4.0.28`

[2019-08-12 08:33] tcoulter opened #2288 "ora dependency skips the logger"
We're using the `ora` dependency to show a nice spinner. Examples [here](https://github.com/trufflesuite/truffle/search?q=ora&unscoped_q=ora).

`ora` goes straight to the console and skips any configured logger (e.g., `Config.logger`). In fact, it doesn't look like the logger configuration is even available in many places `ora` is used. This breaks the logger abstraction and prevents sending all o

[2019-08-12 19:42] #2269 closed

[2019-08-12 19:55] eggplantzzz commented on #2233
@dominik992 Hmm I can't duplicate this error on my local machine. I'm installing it, opening a Node.js console and running `const HDWalletProvider = require("truffle-hdwallet-provider");`. What happens when you use `require` syntax in your scenario?

[2019-08-13 02:15] haltman-at opened #2291 "Contract objects made with Contract.deployed() are missing transactionHash"
## Issue

Truffle contract objects made with `Contract.new()` have a field `transactionHash` which gives the transaction hash of the contract's creation.  Contract objects made with `Contract.deployed()`, though, are missing this field (or rather it's equal to `undefined`).

Note: These are not the only two ways to create contract objects.  For instance, there's also `Contract.at()`.  But it's pro

[2019-08-13 02:51] haltman-at opened #2292 "Contract.new() lacks transaction information"
## Issue

The various `sendTransaction()` methods return an object containing information about the transaction -- `tx`, `receipt`, and `logs`.  However, one runs into a problem attempting to get this information for a contract creation transaction.  The way to do these is with `Contract.new()`; however, `Contract.new()` returns a contract object, and not the transaction information.

It's possibl

[2019-08-13 15:04] eggplantzzz commented on #2237
Sorry for the delay in getting back to you but the last week or so there was TruffleCon and some team retreat stuff. Are you doing something that is causing the transactions to run out of gas?

[2019-08-14 01:57] haltman-at opened #2293 "contract.method.request() doesn't work and isn't very useful even if it did"
## Issue

This is something of a continuation of issue #381; not the original issue, mind you, but the issue raised below in the comments -- that as of Truffle v5, `contract.method.request()` no longer works.

What I want to point out here is that, in addition to no longer working, the [intended] return value of `contract.method.request()` is not really as useful as it could be.

As best I can tel

[2019-08-14 02:01] haltman-at opened #2294 "Implement contract.call and contract.estimateGas to parallel contract.sendTransaction"
## Issue

Contracts have a `sendTransaction` method, which is useful for sending transactions that don't fit any of the contract's methods (or for getting around the current encoder's deficiencies :P ).  However, this only allows one to send custom transactions, not make custom calls or estimate their gas.  Contracts should have `call` and `estimateGas` methods that parallel `sendTransaction`, for

[2019-08-14 02:14] haltman-at opened #2295 "Additional Contract.new methods"
## Issue

This is a followup to #2292 and #2293.

Ordinary methods have `sendTransaction`, `call`, `estimateGas`, and `request`, although `request` doesn't currently work.

`Contract.new`, however, only has `sendTransaction` (which it doesn't have explicitly; you can do `Contract.new()`, but not `Contract.new.sendTransaction()`), and `estimateGas`.

I would like to suggest:

1. `Contract.new.sendT

[2019-08-14 09:41] mushroom0117 opened #2297 "Error: TypeError: Cannot read property 'nodes' of undefined"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I tried to follow the instructions of [Ubin-Project](https://github.com/project-ubin/ubin-quorum#c-contract-deployment) to compile and deploy the contracts on Quorum.

## Steps to Reproduce

[code]

My truffle.js
[code]

## Expected Behavior

It wi

[2019-08-14 14:48] eggplantzzz commented on #2250
@4Maarifa Do you have the code for your project somewhere that I could use to try and reproduce your issue?

[2019-08-14 14:48] eggplantzzz commented on #2250
Oh I see you linked it above.

[2019-08-14 17:41] cgewecke commented on #2222
Published in `5.0.30`

[2019-08-14 17:41] #2222 closed

[2019-08-14 17:48] eggplantzzz commented on #2288
Hey @tcoulter, we should be able to resolve this after the new event system is out. #2199

[2019-08-14 18:03] haltman-at commented on #2293
Oh I guess actually `prepare` is exactly this, oops?  Yeah so IMO instead of fixing `request` it would make more sense to just expose `prepare`.

[2019-08-14 20:14] eggplantzzz commented on #2021
@se3000 This problem is actually not trivial to solve so I don't know how soon it will have a solution. One solution which is a bit hacky is to build out your own "external compilation" step. You can specify your own separate compilation step manually and include it in the truffle config. You could group the contracts that require a different compiler together and compile them separately. Here are

[2019-08-14 20:43] tcoulter commented on #2288
That's what I've heard! 👏

[2019-08-14 20:54] nilfdev opened #2299 "Contract deployment hanging forever"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Contract deployment  hangs forever during migration
![image](https://user-images.githubusercontent.com/15476934/63054989-348db080-bee5-11e9-9785-52c5b491679f.png)

## Steps to Reproduce
Configure networks in truffle-config.js
![image](https://user-

[2019-08-14 21:10] gnidan opened #2300 "Add readme note about Truffle's engineering processes"
## Issue

Truffle has an engineering process, but it's not really visible to the community. Fortunately, most of the artifacts of the engineering process are already publicly available, except that they are behind a ZenHub login-wall.

Since is a pretty minor barrier to entry, we should probably mention this! Really, we ought to document our processes! Maybe in the README? Or maybe we start using

[2019-08-15 17:28] haltman-at commented on #2293
Although maybe `prepare` doesn't do what I think it does.  Anyway the point is what we should expose is what I described above, whether that's what `prepare` does or not.

[2019-08-16 01:02] pizza-r0b commented on #469
Just an update - still happens on `5.0.30`

[2019-08-16 05:55] haltman-at opened #2307 "Various package.json files contain incorrect URLs"
## Issue

Various `package.json` files across the project contain incorrect URLs.  As far as I saw, the `repository` URL is always correct.  However, the `homepage` and `bugs` URLs are often incorrect.  Oftentimes they point to a nonexistent Truffle repo with the same name as the package, which isn't correct because the package is part of the `truffle` repo.  In one case, I saw a `bugs` URL that p

[2019-08-16 06:20] a10000005588 commented on #853
@hickscorp Is there any way that we can deploy the contract to Parity in POA mode?

[2019-08-16 10:25] hickscorp commented on #853
I don't know, we dropped Parity completely and we are using Geth on our
private network.

On Fri, 16 Aug 2019, 07:20 shiba, <notifications@github.com> wrote:

[2019-08-16 13:35] a10000005588 commented on #853
@hickscorp Thanks. I will also try Geth with POA and Truffle to set up my private network.

[2019-08-17 12:55] merlox commented on #1680
Check your infura and be sure to copy the "Project ID" not the "Project Secret" since they look almost the same and you may have clicked the wrong copy button when getting the infura key. Try deleting your infura project and create a new one from the page.

[2019-08-18 04:15] vinhyenvodoi98 opened #2309 "can i create 2 contracts_build_directory or not ?"
## Issue

In my project , i have backend and frontend , both of them need api so :
can i create 2 folder contract after run `truffle deploy --network rinkeby`
is this code can build 2 contract abi directory ?
[code]
## Environment

* Operating System:
* Ethereum client:
* Truffle version (`truffle version --5.0.32`):
* node version (`node --10.16.0`):
* npm version (`npm --version --6.9.0`):

Than

[2019-08-18 07:46] danielrussellLA commented on #48
@vinay1011998 I hope this answers your question: First you'll need to install nodejs at https://nodejs.org/en/. I would go for the LTS version.  Once installed, go into a folder and type `npm init` and hit enter a bunch of times on the prompts. There you go - you've created a new npm project. You'll see that two things have been created in your folder: a `package.json` file and a `node_modules` fo

[2019-08-18 07:46] danielrussellLA commented on #48
@vinay1011998 I hope this answers your question: First you'll need to install nodejs at https://nodejs.org/en/. I would go for the LTS version. Once installed, go into a folder and type npm init and hit enter a bunch of times on the prompts. There you go - you've created a new npm project. You'll see that two things have been created in your folder: a package.json file and a node_modules folder. A

[2019-08-18 16:40] #2297 closed

[2019-08-18 23:18] levilliard commented on #852
Works for me. Thanks !

[2019-08-19 07:28] a10000005588 commented on #853
@hickscorp Sorry to bother you again. May I ask you what version of geth, web3 and truffle when you use your Geth in POA mode? Because I ran into an issue: "Uncaught (in promise) Error: Returned values aren't valid, did it run Out of Gas?" After I reviewed the stack overflow, they said it might be the web3.js issue... thanks.

[2019-08-19 13:43] RyanRHall commented on #889
bump to reopen. It's quite annoying to deal with potential variations in executing like:

[code]

These should really all do the same thing as far as the script is concerned. It'd be nice to make it easier on the developer and provide an array of arguments. I'd support a function signature that looked like this...

[code]

[2019-08-19 19:02] talaikis opened #2311 "ttruffle init doesn't work"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

ttruffle init doesn't work.

## Steps to Reproduce

[code]

## Expected Behavior

Should create project files.

## Actual Results

[code]

## Environment

* Operating System: Windows 10
* Ethereum client: web3 1.2.1
* Truffle version (`truffle vers

[2019-08-19 20:03] eggplantzzz opened #2313 "Create CHANGELOG"
Truffle should keep a complete CHANGELOG that will be regularly updated with each PR.

[2019-08-19 21:12] snario commented on #1118
+1

[2019-08-20 01:40] haltman-at commented on #2292
Hey, so guess what?  It turns out we already do possibility (2) above!  If you wait for the `receipt` event, you'll get the receipt.

While this is still a little awkward, it is at least uniform between contract creations and other transactions.

Not sure if I should close this, as I would still prefer there to be a better way.

[2019-08-20 18:58] talaikis commented on #2311
Closing this, because it is Windows 10 related.

[2019-08-20 18:58] #2311 closed

[2019-08-21 04:27] DavidBurela opened #2317 "Truffle scripts: parameter passing"
## Suggestion

Passing parameters into truffle scripts. The documentation does not state if this is supported. If it is then documentation updates would be good, otherwise creating support would be desired.
https://www.trufflesuite.com/docs/truffle/getting-started/writing-external-scripts

## example use cases

useful for testing and demos.  I can run a "populate data" script and pass in how many

[2019-08-21 04:40] DavidBurela opened #2318 "Truffle repl: ignore `truffle` keyword"
## suggestion
If in `truffle dev` or `truffle console`.  Please ignore `truffle` if it is the first command.

## use case 1: context switching
Many times I'm in a loop of using `truffle test` or `truffle migrate --reset` while developing.
I then drop into `truffle console`, to test things with the repl, but muscle memory gets me to type `TRUFFLE test` again.

## use case 2: new users
When I am tea

[2019-08-21 05:31] DavidBurela commented on #2264
@AminTalebi not to hijack, but as an FYI you don't need to use sudo when using ubuntu on windows.

install node with `nvm` and it will make things easier.  This is how I do it, but you man want to use `nvm install lts/dubnium` for latest LTS release rather than node 12.
https://davidburela.wordpress.com/2017/05/12/how-to-install-truffle-testrpc-on-ubuntu-or-windows-10-with-windows-subsystem-for-li

[2019-08-21 13:37] juharris commented on #2268
I think it would be nice to for what the docs say and see **all** events even during setup.

[2019-08-21 15:51] richmanrich commented on #2173
I suppost

[2019-08-21 17:35] eggplantzzz commented on #2299
Hey @nilfdev, can you try upgrading to the latest version of truffle-hdwallet-provider? There is a version or two that has a bug. Let me know what happens!

[2019-08-21 17:44] eggplantzzz commented on #2309
@vinhyenvodoi98 Out of the box this is currently not possible with Truffle. One workaround you could use is to create a symlink to your build folder. Closing this as "can't fix". Let us know if the symlink workaround won't work for you and we'll try and give more suggestions.

[2019-08-21 17:44] #2309 closed

[2019-08-21 17:47] eggplantzzz commented on #2317
Thanks @DavidBurela, for the suggestion! We'll look into this.

[2019-08-21 17:52] eggplantzzz commented on #2175
@danielr6 I'm not sure what you are doing to get that error but it looks like you are providing an invalid address as an argument to one of your functions (or leaving it out entirely). Please share relevant code (migrations, etc.) and we can have a look!

[2019-08-21 17:54] eggplantzzz commented on #1643
Closing for issue maintenance. If still need this to be troubleshot, feel free to get back to us and we'll re-open!

[2019-08-21 17:54] #1643 closed

[2019-08-21 17:55] eggplantzzz commented on #1683
Closing for issue maintenance. Feel free to get back to us if you need this re-opened!

[2019-08-21 17:55] #1683 closed

[2019-08-21 20:18] theoretical2019 opened #2321 "err.reason undefined when require() fails with reason in a view"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

If a view fails `require()` with a reason, the reason isn't available in the error.  In other words, in a `catch(err)` block, `err.reason` is always `undefined` if a view failed.  If the Solidity code passed a reason in the `require()` that failed,

[2019-08-21 23:08] mitar opened #2324 "Providing the address/key of the creator of the smart contract being tested in Solidity"
## Feature request

When testing smart contracts in Solidity, there is magical `truffle/DeployedAddresses.sol` to obtain the address at which the contract has been deployed. But there is no really way to obtain the address which created the contract, or send transactions from that address. So one cannot verify for example if the contract has correctly stored who is the owner of the contract.

[2019-08-21 23:53] gnidan commented on #2324
Interesting!

It'd be cool if there was something like `truffle/MigrationsInfo.sol`, which could provide all kinds of information about the migration (constructor arguments, and the like). If anyone wants to open a lightweight draft PR to get the conversation started on that, that'd be awesome!

In the meantime, there is a workaround: deploy your contract from inside another contract, rather than

[2019-08-21 23:59] gnidan commented on #2321
Awesome write-up! Thank you! We'll get this triaged.

[2019-08-22 00:03] gnidan commented on #2318
Thanks @DavidBurela! Looks like this will likely go out next week.

[2019-08-22 01:45] DavidBurela commented on #2070
With the announcement of Web3 versioning, is there more that can now be said about node 12 support?

[2019-08-22 06:25] mitar commented on #2324
It looks like the easiest workaround is to simply use JavaScript for tests.

[2019-08-22 07:24] AminTalebi commented on #2264
Thank you so much @DavidBurela.
But I have already uninstalled Windows and installed Ubuntu instead :)))

[2019-08-22 07:37] tcoulter commented on #2070
I was just going to inquire, @DavidBurela. I'll dig in and see what I can find.

[2019-08-22 13:14] gnidan commented on #2070
We're actively working on it. I believe ethereumjs-vm is the last piece of the puzzle.

[2019-08-22 14:47] eggplantzzz commented on #1910
@krsnnik Any progress on your end on this? Let us know if you need some guidance or have any questions!

[2019-08-22 15:43] eggplantzzz commented on #2264
@AminTalebi Did you install Node using nvm? This is something that [npm recommends](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) and, as @DavidBurela said, it usually resolves these kinds of errors. Let me know how it goes if you try it!

[2019-08-22 16:39] krsnnik commented on #1910
yes! @CruzMolina is helping me review in the next day or two. Should have something soon!

[2019-08-23 08:06] lastmjs opened #2330 "Add Ethereum name or address to package.json"
I would like to see an Ethereum name or address added to the `ethereum` field of the package.json file. This will allow consumers of the project to know a cannonical address to send funds to, for example donations.

I'm building an application that will allow developers to automatically donate ETH to all of their npm dependencies that have Ethereum addresses in their package.json files. I'm not qu

[2019-08-23 14:56] eggplantzzz commented on #2278
Thanks for submitting this @boolafish! I'll try and get a fix in for that.

[2019-08-23 15:12] eggplantzzz commented on #2197
https://github.com/trufflesuite/trufflesuite.com/pull/498

[2019-08-23 15:12] eggplantzzz commented on #2196
https://github.com/trufflesuite/trufflesuite.com/pull/496

[2019-08-23 15:14] eggplantzzz commented on #2126
@andrfgs Did you end up resolving the issue you had?

[2019-08-23 21:17] andrfgs commented on #2126
I am sorry. I have been away from the computer and had eventually forgotten about the issue. I can't post a project now but I will do so in the near future. And no I have not been able to solve the issue.

[2019-08-24 09:34] yaoyao12138 commented on #2297
So can you tell me how to solve this question? Thank you!

[2019-08-25 06:58] adrianmcli opened #2334 "Truffle Unbox can swallow errors at "Setting Up Box""
@tcoulter recently tried to unbox the React and Drizzle boxes on an EC2 instance and it failed at the "Setting up box" step, with a red X but no error message.

This is likely due to `npm install` running out of memory. Is there something we can do to make sure these errors don't get swallowed by the process?

[2019-08-26 13:54] eggplantzzz commented on #2126
That's alright! When you get it posted, let me know and I'll be happy to take a look.

[2019-08-26 14:53] andrfgs commented on #2126
Here is the repository:
https://github.com/andrfgs/auction-ethereum

This project implements 3 simple auctions, a normal English Auction, a Vickrey Auction and a Dutch Auction. The auction I was trying to create was the English Auction.

The relevant file here is **`src/js/app.js`**
The `App.deployContract(contractName, onDeploy, ...args)` serves to create a new contract (this method doesnt really

[2019-08-26 15:14] andrfgs commented on #2126
I am using Ganache as a local testing blockchain.

The truffle contracts were already migrated. I am also using **Lite Server** to test the website.

1. Run Ganache
2. Open a browser like Chrome with Metamask extension installed and configured to use a fake account from Ganache
3. Execute `npm run dev` to start the server on the root folder
4. Open the browser on `localhost:3000`

According to the

[2019-08-26 15:35] andrfgs commented on #2126
Thank you very much, so the problem is on the ethereumAddress setup and not on how I am constructing the contract right?

Thank you so much!

[2019-08-26 16:01] andrfgs commented on #2126
Thank you very much for the input.

[2019-08-26 16:01] #2126 closed

[2019-08-28 12:25] junaidev opened #2342 "error after consuming all gas"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Compiling your contracts...

Starting migrations...

1_initial_migration.js
   Deploying 'Migrations'

   ⠋ Saving migration to chain.Error: Error: StatusError: Transaction: 0x929867ffdc2244cdc08e4e4f850c385774eead3f80815d661d5aee714dd94192 exited w

[2019-08-28 12:30] junaidev commented on #2342
down graded truffle using:
npm i -g truffle@v5.0.5 its working, but its failing with latest truffle

[2019-08-28 21:31] eggplantzzz commented on #2330
The idea is that I don't think we should be sticking arbitrary fields there. That can't be a good practice. If it is something that is standardized I have much less of a problem with it. It really has nothing to do with ease. I'll take a look at your docs though.

[2019-08-28 21:36] eggplantzzz commented on #1942
@wbt Ok sounds good! I'll look into it and thanks for the detailed report!

[2019-08-28 22:33] lastmjs commented on #2330
Yes, I'm starting to see and agree. So two options seem must appealing now. One is to enable GitHub Sponsors and include an Ethereum address or name in the FUNDING.yml file. This is how it would look and I have tested it:

[code]

You could replace truffle.eth with the actual address if you wanted to. Also, a real URL might be better, but not necessary. What I have above seems the most project agn

[2019-08-29 02:04] tcurdt commented on #2045
Not sure it's really complex as such but it surely questions how the solidity api is currently translated to js. I got my work around but this seems like a very fundamental thing worth solving.
Let me know if this needs further input from my side.

[2019-08-29 06:20] Harkiran1251 commented on #2084
Yes.My truffle version is already 5.Still facing same issues.

On Wed 28 Aug, 2019, 11:44 PM tyler feickert, <notifications@github.com>
wrote:

[2019-08-29 06:58] adrianmcli commented on #1942
@eggplantzzz this is an on-going problem, and it has something to do with the organizational structure of Web3.js, and its heavy reliance on OOP objects + EventEmitters.

[2019-08-29 16:18] eggplantzzz commented on #2084
Ok then I'm assuming you are stuck having problems installing truffle-hdwallet-provider? Like I said, don't use truffle-hdwallet-provider-privkey as I have encountered a lot of people having issues with it.

[2019-08-29 16:34] NicolaGessa opened #2347 "Truffle deployment, issues with gas?"
## Issue
I have the same very simple Smart Contract:

[code]

I'm using  a personal blockchain with Geth on localhost.

When I deploy this contract using Remix, I have no problem in call the function add(), and all works well from remix.

When I deploy this contract using truffle, I cannot call the function print():
If a call from Remix, I got

and the call doesn't work. So I guess the deployment

[2019-08-30 03:12] Harkiran1251 commented on #2084
No.truffle hd wallet provider is also installed properly.i am not able to
figure out what is going wrong .

On Thu 29 Aug, 2019, 9:49 PM tyler feickert, <notifications@github.com>
wrote:

[2019-08-30 06:46] junaidev commented on #2342
parity:
https://github.com/paritytech/parity-ethereum/releases/tag/v2.6.1
let me test it with ganache as well.

[2019-08-30 13:37] itinance commented on #2144
By the way. Just read "Mastering Ethereum". In their Book "Mastering Ethereum" from Dr. Gavin Wood and Andreas M. Antonopoulos they also write that the HD Path for all testnets across all currencies and blockchains should be "m/44'/1'/0'/0"

[2019-08-30 14:19] eggplantzzz commented on #2321
@theoretical2019 So we figured out what was going on with this issue. So it turns out that for `send`s, Truffle receives the status of the transaction through the receipt data I believe. This is how Truffle can tell whether it was successful or reverted. With `calls` (which would occur in the situation where a function declared `view`) there is no status information and thus Truffle won't be able

[2019-08-30 14:19] #2321 closed

[2019-08-30 14:20] eggplantzzz commented on #2084
Can you describe the error and precisely what you are doing to get the error?

[2019-08-30 14:21] eggplantzzz commented on #2342
Yes I know parity but I was mainly asking about your setup so that I can run it locally using the same configuration as you.

[2019-08-30 14:54] eggplantzzz commented on #1869
Closing. Let us know if it needs to be reopened! Thanks!

[2019-08-30 14:54] #1869 closed

[2019-08-30 14:54] eggplantzzz commented on #1861
Closing for maintenance. Let us know if it needs to be reopened, thanks!

[2019-08-30 14:54] #1861 closed

[2019-08-30 14:55] eggplantzzz commented on #2122
Closing for maintenance. Let us know if it needs to be reopened, thanks!

[2019-08-30 14:55] #2122 closed

[2019-08-30 15:27] eggplantzzz commented on #2318
Released into the wild with `5.0.34`!

[2019-08-30 15:27] #2318 closed

[2019-08-30 15:31] gnidan commented on #2070
Can y'all try v5.0.34 to confirm working Node v12 support?

[2019-08-30 16:02] prographo opened #2348 "Truffle lies about migration costs"

[2019-08-30 16:07] #2348 closed

[2019-08-30 17:35] GeorgePals opened #2349 "Events do not fire"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
---------------------------

## Issue

Events in deployed contracts do not fire.

## Steps to Reproduce

1. truffle migrate --reset (in order to make sure that the contracts are deployed without errors)
2. Call any function, in any of the contracts, which emits an event.
3. Events are li

[2019-08-30 19:02] gnidan commented on #2349
I think this may have been fixed in Truffle v5.0.33. Could you try upgrading and let us know?

[2019-08-30 19:12] GeorgePals commented on #2349
Updated to truffle@5.0.34
Nothing changed. [Here is a screenshot](https://previews.dropbox.com/p/thumb/AAhKPvh0NhShdQIY9Z9ut3m0fSkXHnpYjKtouSdVU0SuQMSQWHWY4VEVbYrlQ-NJ4Llt1TxpjvrbNmtmicQ11OtToJWlU1hjhJcMsVIz_dj1EIL0Z1UVxdh_zEB5P-DpZYvga3wHzkofgf7b_lT3Yg5q0k6nY9LxUgjgjmByNaWhgAwK0sh2azNICayzWVouGxmwcuG2XhfDEHepGcxZYVV_pMLG_26H0Q7GSHswuBMbvQbziBd9FR1ZKyQ851CrJ6M3RCwHfAp14DFbJUB-s_5nQ1pncKtA8wBBLRRz-

[2019-08-30 19:21] gnidan commented on #2349
@davidmurdoch is this something you're aware of?

[2019-08-30 19:22] gnidan commented on #2349
btw @GeorgePals your image links don't work (getting 401 Unauthorized)

[2019-08-30 19:28] GeorgePals commented on #2349
Oops. Sorry. Fixed it.

[2019-08-30 22:47] gnidan opened #2353 "Migrations fail with `geth --dev`"
## Issue

As reported by @axic, migrations are failing again `geth --dev` networks

## Steps to Reproduce

1. `truffle init`
2. Uncomment the `"development"` network in truffle-config.js
3. (In another terminal) `geth --dev --rpc`
4. `truffle migrate`

## Expected Behavior

Migration to succeed.

## Actual Results

[code]

## Environment

* Operating System: Mac
* Ethereum client: Geth
* Truffle v

[2019-08-30 23:23] naddison36 opened #2354 "add a command line option to specify the truffle config file to be used"
This is an enhancement request to add a command line option to specify the truffle config file to be used on compilation.

The use case I have is I'm using the Gnosis MultiSigWallet which requires Solidity `0.4.15` while the other contracts in my app are using `0.5.11` as I need ABIEncoderV2. At the moment I put the MultiSigWallet contract in a different folder and manually modify my `truffle-conf

[2019-08-30 23:26] naddison36 commented on #2021
I've got the same problem. See issue https://github.com/trufflesuite/truffle/issues/2354 for how I'm dealing with it.

[2019-08-31 01:45] CruzMolina commented on #2354
Related #1879.

[2019-08-31 04:36] gnidan commented on #2354
Oh, maybe that other one can be closed as a duplicate of this, since it's less general? Let's figure that out when we triage this.

[2019-08-31 15:49] GeorgePals commented on #2349
**Update:**
I tried using [this](https://kalis.me/check-events-solidity-smart-contract-test-truffle/) tutorial that I found in the "truffle-assertions" package.

It passed the test without any errors.

I also tried to reproduce the problem through Remix.
So, I just added a simple:
`event maxBet(uint256);`

and changed getMaxBet() function to:
[code]
and it worked. I don't really know how or why Re

[2019-08-31 17:25] PaulRBerg opened #2355 "truffle doesn't use solidity's remappings"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
- [x] I've asked for help on [Twitter](https://twitter.com/PaulRBerg/status/1167838340021936128)

---------------------------

## Issue

When compiling contracts that import other contracts, truffle behaves differently to sol-compiler and solc. The reason is that solidity's "remappings"

[2019-08-31 18:50] cgewecke commented on #2353
@gnidan @axic

Geth dev's [starting block gas limit](https://github.com/ethereum/go-ethereum/blob/cc9eb91d30a5d4806154b832b9665aecc617b6d8/core/genesis.go#L389) is lower than truffle's default "gas sent" for transactions...
[code]
A quick work-around is to set the `gas` param in the truffle config for the relevant network lower, (eg 6000000)

The block limit gas value in the error output is incorr

[2019-09-01 13:54] prographo opened #2356 "Migration script zero cost"
A migration script that does work (makes a transaction) but does not deploy a contract, always shows a zero cost.
[code]

[2019-09-01 16:13] gnidan commented on #2356
This sounds likely related to #1347

[2019-09-01 21:32] adamskrodzki commented on #889
For me that does not work

In truffle console i see no parameters from process.argv

[2019-09-01 23:42] davidmurdoch commented on #2349
@GeorgePals, this issue should be fixed in Ganache UI's [latest beta](https://github.com/trufflesuite/ganache/releases/tag/v2.1.1-beta.3). Do you mind giving this beta version a shot and letting me know if it does indeed fix the issue.

---

Previously, Truffle was (erroneously) including the event's signature in the event's ABI, and Ganache at some point began relying on the event's `.signature`

[2019-09-01 23:50] GeorgePals commented on #2349
Just checked the latest beta of Ganache and everything seems to work flawlessly.
Finally! I can see all the events.

The only _issue_, is that I still don't have the same output logs on Remix when I just **deploy** and **deploy at address**.

Thank you @gnidan and @davidmurdoch.

[2019-09-02 11:49] pepoospina opened #2357 "Adding an `Event` breaks migration using `ABIEncoderV2`"
I am seeing a weird error after adding an event to a function of a contract that uses the `ABIEncoderV2`.

It compiles and migrates to gananche-cli correctly, but if I add an `Event` and `emit` it inside a function, it won't compile anymore and will show the error:

[code]

[This is the code compiling correctly](https://github.com/uprtcl/eth-uprtcl/commit/42af41692d3bc3fd87d335b25514e6157e41633f)

[2019-09-02 12:02] dominik992 commented on #2233
@eggplantzzz you can't reproduce it on a local machine. The problem occurs only on AWS Lambda

[2019-09-02 14:25] eggplantzzz commented on #2355
Ok so looks like we just need to whitelist a remapping property for `compilers.solc.settings` in `truffle-config.js`. Then people should be able to specify remappings there. Thanks for such a detailed report @PaulRBerg!

[2019-09-02 16:40] eggplantzzz commented on #2355
https://github.com/trufflesuite/truffle/pull/2358

[2019-09-02 17:26] PaulRBerg commented on #2355
No worries. Thanks for the quick fix!

[2019-09-03 20:05] haltman-at commented on #2357
Wondering if this is a duplicate of [this](https://github.com/trufflesuite/truffle/issues/2085) earlier, seemingly fixed, issue.  Could you try this again after recompiling with the latest version of Truffle? Thanks!

[2019-09-03 20:52] haltman-at commented on #1546
Reopnening this now that Node 10 support is indeed much improved. :)

[2019-09-03 22:41] PaulRBerg commented on #2355
I guess I can use this fix only if I build truffle from scratch. How does the release process work? Do you wait for other major features on your roadmap to get done before bumping the version?

[2019-09-04 04:31] cbruguera commented on #2140
Slightly related question I have: Is it possible to specify an **older** version of web3 (e.g. 0.20.x) without having to downgrade truffle?

[2019-09-04 12:54] wbt commented on #2140
@cbruguera Others may add more detail, but the short answer is no.  The Truffle code is pretty tightly tied in to the web3 api and neither one have been good about following [semantic versioning](https://github.com/ethereum/web3.js/issues/2963).

[2019-09-04 14:36] pepoospina commented on #2357
It might be, indeed it seems the problem is not always reproduced. I will give it a try by updating.

[2019-09-04 17:41] fainashalts commented on #2347
Hi @NicolaGessa, this may not be an issue with gas per se. This appears to be an error coming from web3. What version of Geth are you using and what command are you using to run it?

[2019-09-04 17:45] gnidan commented on #2349
@GeorgePals there's probably something we can do here to make this more clear, but for now I'm just going to close this issue. Glad to hear your problem has been solved! Thanks for raising it!

[2019-09-04 17:45] #2349 closed

[2019-09-04 17:47] fainashalts commented on #2355
Hi @PaulRBerg we do weekly releases, so you should see this in the newest release sometime later today. Thanks!

[2019-09-04 17:49] PaulRBerg commented on #2355
Legend, thanks @fainashalts!

[2019-09-04 17:59] fainashalts commented on #1846
We all now want to fix this for better TypeScript compatibility, putting in the backlog.

[2019-09-04 18:08] gnidan commented on #2347
Possibly related: #2136

[2019-09-04 18:08] fainashalts commented on #2136
@wangjunbao2018 is this still an issue? Did you run your migrations and are you on the latest truffle? Thanks, please let us know!

[2019-09-04 18:09] fainashalts commented on #2347
Hi @NicolaGessa just wanted to check - did you run your migrations for this?

[2019-09-04 18:11] fainashalts commented on #2233
HI @dominik992, this seems like it may be an issue with your AWS Lambda configuration. Do you have any more information that could help us debug this? Thanks!

[2019-09-04 18:14] fainashalts commented on #2237
Hi @Eymos is this still an issue or can we close? Thanks!

[2019-09-04 18:16] fainashalts commented on #2239
HI @sbrichards can you upgrade to the latest Truffle version and see if you issue is fixed? @CruzMolina tried to reproduce and everything seemed ok. Thanks!

[2019-09-04 18:17] fainashalts commented on #2264
HI @AminTalebi are you still having a problem with this? Let us know, thanks!

[2019-09-04 18:19] fainashalts commented on #2248
HI @hv7214 we're closing this for issue maintenance, but if you are still having an issue we can help with, please open another issue with that information. Thank you!

[2019-09-04 18:19] #2248 closed

[2019-09-04 18:20] fainashalts commented on #2262
HI @ziakhatri have you had a chance to resolve this issue? Please let us know, thanks!

[2019-09-04 18:23] AminTalebi commented on #2264
No, not anymore.

[2019-09-04 18:25] #2264 closed

[2019-09-04 19:58] DavidBurela commented on #2070
I still have issues.

Truffle v5.0.34 (core: 5.0.34)
Solidity v0.5.8 (solc-js)
Node v12.10.0
Web3.js v1.2.1

Repo steps:
[code]

[2019-09-04 20:30] eggplantzzz commented on #2355
@PaulRBerg This is now out in the wild with version `0.5.35`!

[2019-09-04 20:30] #2355 closed

[2019-09-04 22:33] naddison36 commented on #2354
An update on how I work around this issue. I have separate folders for my Solidity 0.5 and 0.4 contracts with separate `truffle-config.js` files in each folder. I then run `truffle compile` from the folder I want to compile.

[2019-09-04 23:44] pyskell opened #2368 "Improve debug messages to include the full path of an error"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------
Technically I [complained on Twitter](https://twitter.com/pyskell/status/1169323268555325440?s=20) and didn't ask in Gitter but it still counts right?
## Issue
The only debug information from Mocha comes in the form of JavaScript errors. If an error exists wi

[2019-09-05 00:08] pyskell opened #2369 "Print the transaction id(s) that were involved in a failed test"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

No printing of the txid when there is an error. If you run 50 tests and one fails you have a generally difficult time tracking down the txid so you can debug it further. Essentially you end up commenting out the rest of a test file *or* pausing the

[2019-09-05 00:24] gnidan commented on #2368
This might be resolved by #2170, currently needing love. Will investigate.

[2019-09-05 11:06] angel-manuel opened #2371 "TypeScript tests dont run"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

TypeScript tests fail when parsing ES6 import and possibly all TypeScript extra stuff.
Probably mocha

## Steps to Reproduce

[code]

Is also interesting to run the following after installing ts-node
[code]

## Expected Behavior

Tests run correctl

[2019-09-05 13:46] pyskell opened #2372 "Transient `Expected n, got n'!` error"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Occasionally some tests run with `truffle test` will fail with the error `Error: Invalid number of parameters for "functionName". Got 0 expected 1!`

## Steps to Reproduce

I really don't know what causes this. The test is correct. But what fixes i

[2019-09-05 13:59] CruzMolina commented on #2371
Hey @angel-manuel ! Current TS test support requires using [`truffle-typings`](https://github.com/ethereum-ts/truffle-typings) with [`typechain`](https://medium.com/ethereum-ts/typesafe-truffle-with-typescript-and-typechain-1773e5b733b4).

[2019-09-05 15:42] pizza-r0b opened #2373 "Big Number Fails when passed as uint256"
- [ YES] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Get an error when passing the following big number value as uint256
`Error: invalid BigNumber string value (arg="value", value="1.267650600228229401496703205376e+30", version=4.0.28)`

## Steps to Reproduce
Create a contract and function within

[2019-09-05 15:55] CruzMolina commented on #2372
Hey @pyskell ! Does the bug resurface when using the latest version of Truffle?

[2019-09-05 18:44] angel-manuel commented on #2371
Solved adding the following to `truffle-config.js`

[code]

[2019-09-05 18:44] #2371 closed

[2019-09-05 20:09] rahultelgote1989 commented on #150
This could be issue with Windows Command Prompt; you can try with Windows Powershell, it worked like a charm for me:
![image](https://user-images.githubusercontent.com/5608778/64376959-167c2180-d047-11e9-99c8-8347498e4f0c.png)

[2019-09-06 03:09] wangjunbao2018 commented on #2136
I didn't remember how I fixed this problem, but it's my code that has some problems.  thanks a lot.

[2019-09-06 03:09] #2136 closed

[2019-09-06 07:59] NicolaGessa commented on #2347
Dear all,

I solved the problem just recreating the blockchain, adding in the genesis file the two rows in config:

"config": {
.....
    "constantinopleBlock": 0,
    "petersburgBlock": 0,
...
}

... honestly I did not understand well why this solution works, if someone could explain me better why it works it would be very appreciated ...

thanks to all.

[2019-09-08 08:08] mitar opened #2374 "Browser support for @truffle/hdwallet-provider"
## Issue

It looks like `@truffle/hdwallet-provider` does not wok in the browser.

## Steps to Reproduce

Try doing `const HDWalletProvider = require('@truffle/hdwallet-provider');` in the browser, in an app bundled with Webpack.

## Expected Behavior

That import will work.

## Actual Results

When I try to do so, I get the error:

[code]

[2019-09-08 11:46] yuwiggin commented on #1874
I had the same issue when deploy a contract on Rinkeby network.

[code]

How to fix it?
Here is a part of `truffle.js`:

[code]

Operating System: OXS
Ethereum client: Truffle/Infura
Truffle v5.0.27
node: v8.15.1
Solidity v0.5.11 (solc-js)

[2019-09-08 11:46] yuwiggin commented on #1874
I had the same issue when deploy a contract on Rinkeby network.

[code]

How to fix it?
here is a part of truffle.js
[code]

Operating System: OXS
Ethereum client: Truffle/Infura
Truffle v5.0.27
node: v8.15.1
Solidity v0.5.11 (solc-js)

[2019-09-09 02:09] ferittuncer commented on #1738
This issue appears again with Truffle v5.0.35

[2019-09-09 02:52] pizza-r0b commented on #231
This is still happening

[2019-09-09 03:57] pizza-r0b commented on #231
Ok the issue for me was that I had an interface defined in a contract that had the same name as one of my contracts. The interface was being compiled and I expected the contract to be compiled. I've suffixed all my interfaces with `Interface` and this has solved the issue.

[2019-09-09 08:32] mbiegert commented on #2374
I would like to second this issue. Or are we missing something here?

I get three module not found errors: `child_process`, `fs` and `net`, which is obviously understandable since we are not running on node but in the browser.

[2019-09-09 13:34] CruzMolina commented on #2374
Hey @mbiegert & @mitar. Currently `@truffle/hdwallet-provider` is not [bundled](https://github.com/trufflesuite/truffle/blob/develop/packages/hdwallet-provider/webpack/webpack.config.js#L9) for browser usage.

You might want to give [`react-native-truffle-hdwallet-provider`](https://github.com/bpeters/react-native-truffle-hdwallet-provider) a try.

[2019-09-09 14:55] #231 closed

[2019-09-09 14:56] gnidan commented on #231
@pizza-r0b sounds like this can stay closed, as a duplicate of #1087

Thanks for sharing findings of your investigation!

[2019-09-09 16:15] jmendiola222 commented on #1005
Same issue here for:

[code]

[2019-09-09 16:28] mitar commented on #2374
It looks like that one requires react-native for crypto, which is not the web platform. But yes, something similar where crypto is provided by WebCrypto should be made.

[2019-09-10 00:13] SwJay commented on #237
Any update now?

[2019-09-10 07:09] mbiegert commented on #2374
Is there something we could possibly do to facilitate that?
Maybe it's worth stating explicitly in the readme that this is not browser compatible. The requirements list `node`, but still I was thinking that it might work at first.

If I get it correctly, one would need to drop dependencies on node only packages (child_process, fs, crypto) and come up with a replacement/use `WebCrypto`.

[2019-09-10 08:05] Eymos commented on #2237
Please close the issue. This was solved.

On Thu, Sep 5, 2019 at 2:14 AM Faina Shalts <notifications@github.com>
wrote:

[2019-09-10 08:08] mitar commented on #2374
So for many node-only packages you can get browser-compatible replacements which provide the same API. The question is more if some features are needed at all in the browser, like, why is `child_process` even needed?

[2019-09-10 11:22] alsco77 opened #2377 "Node module imports throwing compilation errors as of 5.0.35"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

As of 5.0.35, imports from node packages now throw compilation errors. This may or may not be intended behaviour, but it is a breaking change from 5.0.34 compiler - which seems to work just fine. I much prefer to have these imports over relative or

[2019-09-10 16:05] CruzMolina commented on #2377
Appears to be a bug introduced by #2363 [here](https://github.com/trufflesuite/truffle/pull/2363/files).

[2019-09-10 18:19] eggplantzzz commented on #2237
Thanks @Eymos!

[2019-09-10 18:19] #2237 closed

[2019-09-11 09:40] filippetroviccc opened #2380 "Test throws out of gas error"
## Issue

I'm trying to run truffle tests on this repo [swarm-compliant-contract](https://github.com/swarmfund/swarm-compliant-contract/tree/feature/SWM-410-manual-approval)

Commnad:
`truffle test ./test/token/SRC20Factory.js`

## Steps to Reproduce

Just run the command above after:
[code]

## Expected Behavior

The test should pass or at least pass before each

## Actual Results

[code]

## Env

[2019-09-11 17:56] eggplantzzz commented on #2369
Thanks for the suggestion! We'll eventually need to spec this out.

[2019-09-11 18:00] eggplantzzz commented on #2373
Thanks for reporting this @pizza-r0b! We'll look into this.

[2019-09-11 18:04] eggplantzzz commented on #2380
Hey @filippetroviccc, can you try upgrading to the latest version of Truffle (v5.0.35)? If this is an issue for Truffle, I want to be sure it is not something that was already patched.

[2019-09-11 18:06] eggplantzzz commented on #2250
Closing for issue maintenance. Let us know if you still need help!

[2019-09-11 18:06] #2250 closed

[2019-09-11 18:06] eggplantzzz commented on #2175
Are you still having an issue with this?

[2019-09-11 18:10] eggplantzzz commented on #2330
I think we like `FUNDING.yml` idea! We are currently discussing what are strategy is going to be for taking donations. Thanks for the proposal!

[2019-09-11 18:12] eggplantzzz commented on #1698
@seesemichaelj Did you do something related to this issue?

[2019-09-11 18:16] seesemichaelj commented on #1698
Nope, it hit the back burner

[2019-09-11 18:19] eggplantzzz commented on #2217
Ok thanks @thecircleoflifefree. We want to get to investigate and get to the bottom of this. Do you have any specific steps that might help us recreate this problem? If you do, it would be super helpful!

[2019-09-11 18:57] filippetroviccc commented on #2380
Hey @eggplantzzz,

Same thing, same issue.

[2019-09-11 20:00] lastmjs commented on #2330
Something to be aware of: https://blog.npmjs.org/post/187382017885/supporting-open-source-maintainers

I'm pretty much waiting to see what npm is going to do before making any more plans with Sustainus.

That being said, I think if GitHub added native support for Bitcoin and Ethereum and potentially other cryptocurrencies into the FUNDING.yml schema, that could be a win for crypto. Show your suppo

[2019-09-11 21:40] cgewecke opened #2381 "Plugin cli flags trigger unpreventable warning"
## Issue

Truffle plugins that that use cli flags receive them as keys in the injected config (awesome.) However they also automatically trigger a warning e.g
[code]
Is there any way for plugins to hook into the option checking logic?

If not is there any appetite for a  PR that temporarily squelches the warning output when the truffle command name is `run`? e.g [at core/lib/command.js L128](https

[2019-09-12 18:24] Unmesha1 opened #2384 "Migrations" exceeded the block limit (using Truffle's estimate). * Block limit: 0x50e7c"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2019-09-13 00:02] aacampbell opened #2388 "Truffle test does not clean up temporary files"
## Issue

When `truffle test` is executed it does not clean up the files it creates in the system temporary directory. It appears that cleanup is attempted between tests of contracts, but is halted when the next test begins. When the final test concludes and `truffle test` exits cleanup appears to be incomplete.

## Steps to Reproduce

1. Run `truffle test`

## Expected Behaviour

No temporary fil

[2019-09-13 07:11] jhay006 opened #2389 "Already installed Solc via NPM and truffle not detecting it"
---------------------------

## Issue

I have already solc installed via npm , and install truffle . how should truffle detect it ?

when i run truffle compile it is trying to connect to internet to download solc and then cached it.

But i don't want truffle to behave like that because like i said . i've already a solc installed.

Any suggesstion?

## Steps to Reproduce

truffle obtain solc 0.5.11