[2018-06-11 14:56] marcosmartinez7 commented on #973
With "document" do you refer to the TrezorConnect object?

[2018-06-11 17:01] cgewecke commented on #999
@RobertoC27 This should be fixed in `darq-truffle@4.1.4-next.9`. Closing but please ping if that doesn't resolve it.

[2018-06-11 17:01] #999 closed

[2018-06-11 17:02] cgewecke commented on #996
Closing since this seems like it's not specific to Truffle - if anyone discovers otherwise or knows more about this please ping.

[2018-06-11 17:02] #996 closed

[2018-06-11 19:52] RobertoC27 commented on #999
Yes, issue was fixed. Thanks!

[2018-06-11 21:56] marcosmartinez7 opened #1001 "Testing assert/required using ThrowProxy"
Hi, im trying to test the requires of a Smart Contract using just solidity according to this article:

http://truffleframework.com/tutorials/testing-for-throws-in-solidity-tests

This is the contract, the throw proxy contract and the test:

[code]

If i run the tests i get this error:

![2](https://user-images.githubusercontent.com/14795944/41259154-f5679576-6da8-11e8-801c-784cb99d29a8.png)

If i

[2018-06-11 22:03] marcosmartinez7 commented on #1001
I have tried also with another functions that returns other types and the problem is the same, it only works for void functions

any ideas?

thanks

[2018-06-12 03:07] cgewecke commented on #554
Hi @cag oh cool!

I'm lagging really bad here sorry - I wanted to leave you a note because there's a bit of chaos coming down the line this week:
+ we're moving the whole `truffle` project back into one repo (using Lerna, on wednesday). As part of that - I'm going to merge all of your work into staging branches that will carry over into the new format.
+ we're planning a beta release for Truffle V

[2018-06-12 03:27] cgewecke commented on #997
@samaujs I see you got a response at Geth and because this is important I'm going to leave at  note here in case other people run into this. The core problem is the setting: `--rpcaddr "0.0.0.0"` which [allows anyone](https://github.com/ethereum/go-ethereum/wiki/Running-in-Docker#running-in-docker) to access the node from outside. The lead Geth dev notes at [your issue](https://github.com/ethereum

[2018-06-12 03:27] #997 closed

[2018-06-12 05:08] #343 closed

[2018-06-12 05:34] samaujs commented on #997
Thank you

[2018-06-12 11:02] tomerweisman opened #1003 "Deploy on Ropsten fails with Message "The contract code couldn't be stored, please check your gas amount""
## Issue
Deploying to Ropsten using truffle and Infura works in a dry run. this is the output:

[code]

 **BUT, when trying to deploy to the network itself I get the following error:**

[code]

The contracts I try to deploy:
[code]

[code]

**_2_deploy_contracts.js_**
[code]
**I think I gave  a sufficient gas limit and price for the transaction to push through...**

**_truffle-config.js_**
[code]

[2018-06-12 11:40] kyriediculous opened #1004 "Truffle fails to correctly process multiple exception tests"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Truffle can't process more than one exception assertion in a row without failure

Here is the code I'm using to check for revert:

[code]

## Steps to Reproduce
[code]

## Expected Behavior
All tests to pass, instead second test throws revert error.

[2018-06-12 11:54] kyriediculous commented on #1004
A different error I get is that it's not even detecting the revert.

When encapsulating the call in a try catch it will show the revert error though.

Is execution order guaranteed when using async calls?

[2018-06-12 12:11] kyriediculous commented on #1003
Possibly related to contract code size limit since homestead - https://github.com/ethereum/EIPs/issues/170

Check out https://github.com/trufflesuite/ganache/issues/674

Reply by @cgewecke :

[2018-06-12 12:17] tomerweisman commented on #1003
@kyriediculous
thank you for your fast reply.
I don't think it is about the code size limit. I'm trying to deploy crowdsale and token contracts from openzeppelin, which have been deployed many times before. I have added my contracts above for reference.
thank you again

[2018-06-12 12:18] PopTudor commented on #884
lol @cgewecke thank you too!

[2018-06-12 12:49] kyriediculous commented on #1003
Right. Shouldn't be an issue then indeed.

PS: Afaik Rinkeby is POA and should be used over Ropsten which often gets rearranged.

[2018-06-12 13:16] kyriediculous commented on #1001
Also having issues with testing exceptions in JS tests currently...

For me it's like the next test gets checked instead of the one i'm entering into my assertError.

[2018-06-12 13:36] cag commented on #554
Hey, no problem! Yeah SGTM.

On Mon, Jun 11, 2018, 10:07 PM c-g-e-w-e-k-e-> <notifications@github.com>
wrote:

[2018-06-12 14:20] cgewecke commented on #1003
@tomerweisman Etherscan [is suggesting](https://ropsten.etherscan.io/tx/0x392d9adf3402e48556e3096659d809e143a440c2b22e1e85912cd58e197f70a9) that it's hitting a revert somewhere after consuming about 200k gas. It's kind of frustrating that it passes the dry run ok. . .

If you have a chance could you put a log line in your deploy script and verify that the `wallet` param has a non-zero address when

[2018-06-12 14:38] cgewecke commented on #1001
@marcosmartinez7 This is super interesting - the ThrowProxy article was written a while ago and I wonder if recent changes at solidity have added that constraint. Will ask around this morning and see if anyone knows the answer to this question.

Out of curiosity - do your transactional methods need return signatures? If they're used within Solidity they will automatically return `true` if they run

[2018-06-12 14:38] tomerweisman commented on #1003
@cgewecke
you were right! the wallet was undefined.
I entered an address and the crowdsale contract was deployed easily...

**When does the accounts array get defined? only when using ganache? **

thank you so much

[2018-06-12 14:47] cgewecke commented on #1000
@gerchicov-bp I think this kind of integration is a ways off - occasionally this gets mentioned as something we could add to the existing ganache client UI.

If you're looking for a simple example of running a shell command from an electron app, [this](https://github.com/martinjackson/electron-run-shell-example) seems promising.

[2018-06-12 14:48] cgewecke commented on #991
@4000D Thanks for reporting - the console is going to have some work done on it soon so will flag this as something to look into.

[2018-06-12 14:53] marcosmartinez7 commented on #1001
Hi @cgewecke , thanks for the answer.

There is a couple of recent (aprox 5 months ago) articles and github repos using this aproach so thats an option, i dont know if it is a constraint or the proxy aproach just doesnt work now.

I really apreciate if you can research about this!

About the methods, the code that i have posted here is just an example, but the Smart contract that im working on is

[2018-06-12 14:56] cgewecke commented on #1003
Oh good. Yes ganache defines 10, and the Wallet only defines one by default.

It would be nice to fix this though because dry-run shouldn't have this kind of variance, otherwise its meaningless.

[2018-06-13 07:00] tomerweisman commented on #1003
agreed. thanks for the help
im closing this issue

[2018-06-13 07:00] #1003 closed

[2018-06-13 11:31] kyriediculous commented on #1004
Sadly not. The assertError code came from one of the openZeppelinLabs so it should work.

When I await the assertError the faills with assert.fail (try block) and the remainder of the tests below it won't even run.

The only seamless tests that run with assertError() are single ones or when they are at the end of a describe block (as they can't interfere with later tests in the same block then).

[2018-06-13 13:39] gunvant opened #1005 "TypeError: Cannot read property 'match' of undefined"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

MyService.deployed().then(function(instance) { meta = instance;  meta.allocate.sendTransacti
on("0xf17f52151ebef6c7334fad080c5704d77216b732",20,{from: "0x627306090abab3a6e1400e9345bc60c78a8bef57"});})

throws below error

TypeError: Cannot read pro

[2018-06-13 13:40] cgewecke commented on #1004
@kyriediculous You can see assertRevert being `awaited`at Zeppelin [here](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/f4228f1b49d6d505d3311e5d962dfb0febdf61df/test/LimitBalance.test.js#L40-L45). Have also used this pattern myself recently and everything worked. Could you post a reproduction case so I can take a look?

[2018-06-13 22:28] cgewecke commented on #879
Thanks @pkieltyka!

[2018-06-13 22:39] pkieltyka commented on #879
@cgewecke @gnidan great job guys!!! looks very clean!! ahh :)

[2018-06-13 22:44] gnidan opened #1006 "Add truffle-blockchain-utils to monorepo"

[2018-06-13 22:49] gnidan opened #1007 "Add truffle-error to monorepo"

[2018-06-13 23:18] godfreyhobbs opened #1009 "README.md npm badge link to 404's"
The markdown is not correct. Clicking the badge leads to a 404.

[2018-06-13 23:43] #1009 closed

[2018-06-14 03:05] weijunlee commented on #944
Do you find the reason of the problerm? Could you tell me what I need to do. Thanks very much.

[2018-06-14 09:48] roschler opened #1011 "Test errors during npm test with the monorepo (Node 10 only)"
I had one or two errors during the `npm test` step of installing the monorepo.  The other tests appear to have run correctly.  Attached is the error output for the failed test(s).

[truffle-monorepo-test-errors.txt](https://github.com/trufflesuite/truffle/files/2101717/truffle-monorepo-test-errors.txt)

[2018-06-14 13:51] cgewecke commented on #1011
@roschler Yes, this error is being raised on Node 10 and so far has only been reported for `truffle install` in #985. Do you know which test(s) failed? What is your Node version?

[2018-06-14 13:58] cgewecke commented on #993
@roschler Is it ok if we close here? This ishould be resolved by the new lerna setup.

[2018-06-14 14:29] roschler commented on #1011
@cgewecke Doesn't the file I attached show the failed tests?  If not, what other info do you need that's not in that file?  Let me know and I'll rerun the tests.

I'm running Node v10.2.1

[2018-06-14 14:30] roschler commented on #993
Sure.

[2018-06-14 14:30] #993 closed

[2018-06-14 14:50] cgewecke commented on #1011
@roschler Sorry maybe I'm blind but all I see is error output from `promisify-node` without any info about which test triggered it.

[2018-06-14 14:56] roschler commented on #1011
@cgewecke My fault.  I truncated the report in the wrong place.  Attached is the full tests report.
[truffle-monorepo-test-errors-full.txt](https://github.com/trufflesuite/truffle/files/2102846/truffle-monorepo-test-errors-full.txt)

[2018-06-14 17:03] cgewecke commented on #1011
Thanks @roschler - this bug originates in [ethpm-js](https://github.com/trufflesuite/ethpm-js/blob/master/lib/installer.js#L2) (thanks so much for your log output). Will get a PR open to fix today and will track problem at #985.

Closing.

[2018-06-14 17:03] #1011 closed

[2018-06-14 17:46] boorac opened #1012 "Non deterministic gas usage of the same function on truffle development server"
# Environment

[code]

# Issue
I'm calling the `claimRefund` function on my smart contract using metamask. When calling the function with **37081** gas limit at **20 gwei** gas price, the transaction spends **36924** gas and gets reverted with EVM Revert.

If I change params to **58080** gas limit at **20 gwei** gas price, the transaction passes spending **24721** gas.

The code is shown below:

[2018-06-14 18:16] mushketyk opened #1013 "Truffle contract doesn't support string array function args (ABIEncoderV2)"
Truffle seems to fail to deploy a contract with the following constructor:

[code]

It throws the following exception:
[code]

If I make the constructor parameterless everything works fine.

Here are my solc and Truffle versions:

[code]

Here is the deployment script that I use:

[code]

[2018-06-14 18:21] cgewecke commented on #1012
@boorac Just for clarification, are you connecting to ganache-cli? If so which version?

I believe there's been a known problem in the ethereumjs-vm with deleting storage (e.g. setting it to zero) - refunds haven't been handled gracefully. Might have been fixed recently though.

@seesemichaelj Does this issue ring any bells for you?

[2018-06-14 18:43] seesemichaelj commented on #1012
@boorac What is likely happening here is you're receiving a refund from the EVM.

There are two reasons for a refund (below are excerpts from the EVM Yellow Paper):
- `when the storage value is set to zero from non-zero` (refund of 15,000 gas)
- `for self-destructing an account` (refund of 24,000 gas)

It looks like `deposited[investor] = 0` qualifies for the first.

Your transaction is going to t

[2018-06-14 18:48] seesemichaelj commented on #1012
With all that said, I'm not sure if/where the issue is. Some questions to ponder:
- Does Metamask call `eth_estimateGas` to determine the suggested gas limit for a transaction?
- If it does (rather than doing it's own estimation), then the follow up question would be what blockchain are you using to do this? I would suspect you're using `ganache` with `truffle migrate`.
- If so, then the issue lie

[2018-06-15 00:52] marcosmartinez7 commented on #973
I have managed to make this works but only on Ropsten. The details are here:

https://stackoverflow.com/questions/50596256/using-truffle-or-ropsten-with-web3js-and-trezor-hardware-wallet

Using only truffle development network i couldnt add the Trezor address to the network

[2018-06-15 00:59] cgewecke commented on #973
Wow @marcosmartinez7 !! Great work.

To be clear: if you change the provider address here to target ganache-cli on localhost it fails?
[code]

Do you get a low balance error?

[2018-06-15 01:00] marcosmartinez7 commented on #1001
@cgewecke any news? The aproach that i have taken is to wrap all the functions that arent void functions in a test contract that expose that functions in a void way.. it is not something im proud of but works :/

[2018-06-15 01:08] marcosmartinez7 commented on #973
@cgewecke  Thanks!

I cant test it right now, but tomorrow i will do it.

Let me explain what you have done to try Truffle, just to make sure that my process was ok for you.

-truffle develop
-compile
-migrate

At that point I have the deployed contract and its address.

Then I need my Trezor address to integrate the network, for it to execute the following:

./node_modules/.bin/testrpc -m "the 24

[2018-06-15 01:57] cgewecke commented on #1001
@marcosmartinez7 I asked the @gnidan (another engineer here - he's recently written a solidity debugger and is intimately familiar with its workings :) He was surprised by this behavior.

Below is all the information I can find about `address.call` in the Soldity docs (from [here](https://solidity.readthedocs.io/en/v0.4.20/types.html?highlight=.call#members-of-addresses)):

[code]

There's nothing

[2018-06-15 02:11] cgewecke commented on #973
`truffle develop` is not very configurable unfortunately.

You might try downloading/running the development server separately:
[code]

It has a mnemonic [option](https://github.com/trufflesuite/ganache-cli#using-ganache-cli) although I would verify that the accounts you know about are generated in the initial output. I'm not sure it can use a 24 word mnemonic yet.

You can connect to it by defini

[2018-06-15 04:06] wadelee1986 commented on #1001
how to resolve this problem ?

truffle(develop)>
undefined
truffle(develop)>  Peggy.deployed().then(function(instance){return instance.newIpcERC20("test",10);});
Error: VM Exception while processing transaction: revert

function newIpcERC20(string name,uint decimals)external onlyOwner()  {//returns (address){
  require(ipcTokens[name] == address(0));
  IpcERC20  newToken= new IpcERC20(address(this

[2018-06-15 04:28] samaujs commented on #997
Unfortunately, tokens are transferred again today to the same account **"https://rinkeby.etherscan.io/address/0x7097f41f1c1847d52407c629d0e0ae0fdd24fd58"**
at block **"2464270"**
with the following details :
(1) The account is unlocked with Metamask and not geth; within only appropriately 20 minutes, ethers are being transferred
(2) geth --rinkeby --rpc --rpccorsdomain "http://localhost:8000" --rp

[2018-06-15 04:46] samaujs opened #1021 "Reference to issue "Ethers are wiped out in account during sendTransaction or migrations #997""
Unfortunately, tokens are transferred again today to the same account **"https://rinkeby.etherscan.io/address/0x7097f41f1c1847d52407c629d0e0ae0fdd24fd58"**
at block **"2464270"**
This time it is with the following information :
(1) The account is unlocked with Metamask and not geth; within only appropriately 20 minutes, ethers are being transferred;
(2) geth --rinkeby --rpc --rpccorsdomain "http:/

[2018-06-15 04:51] samaujs commented on #1021
Also opened issue in geth :
**Reference to issue "Ethers are wiped out in account during sendTransaction or migrations #16936" #16992**

[2018-06-15 12:02] boorac commented on #1012
@cgewecke I'm using the command `truffle develop`, not sure which cli is behind the abstraction, is there a way to find out?

@seesemichaelj I understand the issue better now, thank you. Regarding Metamask and eth_estimateGas, I suspect that Metamask uses some kind of heuristic since every time  I attempt to call a function which will be reverted the gasLimit in the transaction is automatically se

[2018-06-15 13:32] cgewecke commented on #1012
@boorac Yes `truffle develop` runs ganache-cli.

It looks like MetaMask runs [estimateGas](https://github.com/MetaMask/metamask-extension/blob/2b9925a9e4d5a1495c8ccf4a265a179eca7868ad/app/scripts/controllers/transactions/tx-gas-utils.js#L81) and adds a [gas buffer of 50%](https://github.com/MetaMask/metamask-extension/blob/2b9925a9e4d5a1495c8ccf4a265a179eca7868ad/app/scripts/controllers/transactio

[2018-06-15 14:22] cgewecke commented on #1013
@mushketyk Truffle contract uses web3 which is in the middle of adding support for ABIEncoderV2. That work is being tracked [here](https://github.com/ethereum/web3.js/issues/1241).

The upcoming major Truffle release (about a month away) will use web3 1.0 and contain whatever new ABI support is available then.

You might be interested in [ethers.js](https://github.com/ethers-io/ethers.js/) - truff

[2018-06-15 14:30] cgewecke commented on #1021
Thanks @samaujs - will repost the response you received above for anyone else running into this. Once an account has been exposed to an attack made possible by leaving a local client open on `--rpcaddr "0.0.0.0"` it is **no longer usable**.  More detailed explanation from Geth:

Closing as duplicate of #997

[2018-06-15 14:30] #1021 closed

[2018-06-15 14:30] cgewecke commented on #1004
@kyriediculous Any luck with this?

[2018-06-15 14:43] marcosmartinez7 commented on #973
When testing using:

1) Truffle develop, compile, migrate:

Error: sender doesn't have enough funds to send tx. The upfront cost is: 9000000000000000 and the sender's account only has: 0
    at Object.InvalidResponse (errors.js:38)
    at requestmanager.js:86
    at XMLHttpRequest.request.onreadystatechange (httpprovider.js:128)

2) ganache cli with the mnemonic:

Error: sender doesn't have enough

[2018-06-15 16:27] cgewecke commented on #998
Update: This turned out to be a publishing error. The debugger is a built project and the way we've been publishing `darq-truffle` failed to take that into account.

It looks like starting Monday we'll be publishing anything/everything from this repository since we've moved all the modules here and have Lerna installed. This bug should be fixed then and `darq-truffle` will just be called `truffle@

[2018-06-15 17:21] RobertoC27 commented on #998
Just to clarify, i should prepare to use `truffle@next` from Monday on.

[2018-06-15 21:50] skmgoldin opened #1022 "Truffle compile hangs indefinitely when `truffle-hdwallet-provider@0.0.5` is imported into the truffle.js"
Reproduce:
[code]
That _works_. Now open the truffle.js and un-comment everything. Nuke the build directory and `npx truffle compile` again. It will hang forever.

Truffle 4.1.11, Ubuntu 16.

[2018-06-15 21:55] skmgoldin opened #1023 "ipfs-mini reports status 429 on Truffle publish"
Reproduce, step 1:
[code]
Now delete every network that isn't Ropsten from the truffle.js (see [this bug](https://github.com/trufflesuite/truffle/issues/354)). You'll also need a Ropsten-funded `secrets.json` or a `MNEMONIC` environmental variable.

Finally, `npx truffle publish` to reproduce the error.

Truffle 4.1.11, Ubuntu 16.

[2018-06-15 22:15] cgewecke commented on #1022
@skmgoldin Yes. If you have multiple providers declared in `truffle.js` you now **must** wrap them in a function closure. This:
[code]

has to be like this:
[code]

We recently upgraded the provider-engine in HDWallet because the old one was generating npm audit warnings and something is different about the way it polls. Any time the config is loaded into truffle (even for compile) it will open al

[2018-06-15 22:33] skmgoldin commented on #1022
That worked! I was even able to use a more concise syntax:
[code]
Thanks @cgewecke !

[2018-06-15 22:33] #1022 closed

[2018-06-15 22:39] cgewecke commented on #1022
Sweet! Looking at #1023 right now.

[2018-06-15 22:40] skmgoldin commented on #1022
Thanks. Still having the same failure there.

[2018-06-15 23:00] cgewecke commented on #1023
I'm getting a different error and don't want to mess up the publication in case it magically works for some reason :)
[code]

My `truffle.js` for comparison. Only difference I see from what's in the repo is the addition of an infura API key. Is that possible?
[code]

[2018-06-15 23:13] cgewecke commented on #1023
Stealing your config warning for `truffle init` right now.

[2018-06-15 23:16] cgewecke commented on #1023
Oh one more difference - I ran this, not sure if that matters:
[code]

[2018-06-15 23:19] cgewecke commented on #1023
Lastly my [txs on ropsten](https://ropsten.etherscan.io/address/0xacb3e9205229d212db914a92c77856b228b0a4e4)

[2018-06-16 00:14] skmgoldin commented on #1023
WOAH. Looks like the office I'm in was actually being rate-limited. I VPN'd out and it worked. Sorry for wasting your time!

[2018-06-16 00:53] cgewecke commented on #1013
Just saw a [corresponding issue](https://github.com/trufflesuite/ganache-cli/issues/525) at ganache-cli as well - not clear to me that this problem originates there but leaving a note so we can watch out for it.

[2018-06-16 06:56] bhemeswararaoa opened #1024 "truffle init error"
![image](https://user-images.githubusercontent.com/40297257/41496570-5dbffb94-7160-11e8-9347-3a74fe0f77ee.png)
please give me the solution

[2018-06-16 07:08] #1024 closed

[2018-06-16 08:01] bhemeswararaoa commented on #985
Downloading...
Error: Error making request to https://raw.githubusercontent.com/truffle-box/bare-box/master/truffle.js. Got error: getaddrinfo ENOTFOUND raw.githubusercontent.com raw.githubusercontent.com:443. Please check the format of the requested resource.
    at Request._callback (C:\Users\blockchain\AppData\Roaming\npm\node_modules\truffle\build\webpack:\~\truffle-box\lib\utils\unbox.js:45:1

[2018-06-16 15:29] bhemeswararaoa commented on #985
ok i want to create ico with security please give me the help

On Sat, 16 Jun 2018 8:55 PM c-g-e-w-e-k-e->, <notifications@github.com>
wrote:

[2018-06-16 15:37] cgewecke commented on #985
@bhemeswararaoa This is a just a development tool. There is a large community of engineers developing secure crowdsale contracts (among other things) at [openzeppelin-solidity](https://github.com/OpenZeppelin/openzeppelin-solidity) you might want to check out.

Also well worth a visit is the documentation at [consensys/best-practices](https://consensys.github.io/smart-contract-best-practices/) on

[2018-06-17 02:22] cgewecke commented on #1005
@gunvant I wasn't able to reproduce this on my own and your example is specific to your project. It's hard to tell what's causing the error.

If you have a chance could you provide reproduction steps - e.g. a simple example of a call sequence that succeeds in a test but triggers this error in the console?

Could you also specify whether you're running `truffle console` or `truffle develop`?

[2018-06-17 02:43] vendor77777 commented on #1005
Das liegt wahrscheinlich das ich Clone Repo habe Datei Crash wie korrigiere
ich das Beispiel auf der haubt Seite habe ich 2 mal web3 angezeigt einmal
mit mein Profil und Original aber wenn ich drauf gehe zeigt mir eine und
die selbe Seite gipst da ein Plan?

Am 17.06.2018 04:22 schrieb "c-g-e-w-e-k-e->" <notifications@github.com>:

@gunvant <https://github.com/gunvant> I wasn't able to reproduce t

[2018-06-17 09:32] kronosapiens commented on #976
Hi! Also interested in this issue. Will the new version of Ganache also pass along `require` failure messages?

[2018-06-17 19:21] Koldus opened #1027 "truffle: command not found"
When installing truffle globally, truffle installation is completed but doesn't actually get installed in the folder with global packages.

[code]

Following which 'truffle init' always returns command not found error. I tried this locally or on EC2 instance with the same result. Node and NPM were updated to the latest version.

When I throw in sudo, it does the same thing locally, in cloud it doe

[2018-06-17 20:04] cgewecke commented on #1027
@Koldus This might be something `nvm` related. Did you follow all the instructions about bash profile aliasing [here](https://github.com/creationix/nvm#installation)?

Are you able to install other packages globally and have them work as expected?

[2018-06-17 20:05] Koldus commented on #1027
I installed ganache-cli and everything went as it should.

[2018-06-17 20:55] cgewecke commented on #1027
Hmm. Not sure. I just tried this on my computer and it works. Are there any differences you can see that would help us isolate what the issue is? I'm on OSX, Sierra
[code]

[2018-06-18 00:59] cgewecke commented on #976
@kronosapiens

On `eth_call`, ganache now returns a specially formatted error result that encodes the reason string. In the version of truffle-contract being written for V5, every transaction gets gas estimated first (and routed through `eth_call`) so we capture the return data there. You can see one strategy for extracting it as intelligible string in on the `async-deployer` branch [here](https:/

[2018-06-18 07:10] kronosapiens commented on #976
Thanks for the update! Is there anything I could help with or is it just waiting for things to be merged and released?

[2018-06-18 12:31] pradhumn28 commented on #644
@EnchanterIO  Did you find something in solidity to do it? Having hard time to switch b/w accounts in testrpc . How can i interact with my solidity test contract with more then 1 address?

[2018-06-18 16:41] cgewecke commented on #976
@kronosapiens Yes it's kind of the latter. The reason string logic looks like it's working. It's bound up with a pull-request that targets the next major release and is a rewrite truffle's migrations command. That should go into review next week and be available as an alpha (or something) relatively soon.

Thanks so much for your offer of help - really nice of you. Because we're coming up on a rel

[2018-06-18 17:29] roschler commented on #976
@cgewecke This is fantastic news!  I assume the debugger will display it during a session?

[2018-06-18 17:53] cgewecke commented on #976
@roschler I'm not sure about that actually - it should be visible in the source mapping though. What's your take on how this should work.

[2018-06-18 17:55] cgewecke commented on #1004
@kyriediculous l'm going to close this for house-keeping - will happily re-open is there's a repro though.

[2018-06-18 17:55] #1004 closed

[2018-06-18 19:41] seesemichaelj commented on #1012
Per @cgewecke's comment, this means that https://github.com/trufflesuite/ganache-core/issues/26 is causing the issue you're seeing @boorac

[2018-06-19 03:59] sebastien-kr opened #1030 "Contract send should accept a tx_params object"
This is partially copied off of the old repo issue 101 : https://github.com/trufflesuite/truffle-contract/issues/101

## Expected behaviour

`send()` should optionally consume a `tx_params` object.

## Actual behaviour

The contract.js `send()` function doesn't accept a `tx_params` object.

This is unintuitive since almost every other function provided does accept a `tx_params` object. Due to the

[2018-06-19 04:06] cgewecke commented on #1030
@sebastien-kr Thanks for opening this.

We're in the process of upgrading `truffle-contract` to `web3 1.0` and that work should available in the next few weeks. I believe this will no longer be an issue then - will add a regression test to our suite to make sure it behaves as expected.

[2018-06-19 11:09] ccpwcn commented on #667
I'm using the framework  zeppelin-solidity,  I have the same errors

and I have two contracts, one is extended CappedToken

`pragma solidity ^0.4.18;

import "../node_modules/zeppelin-solidity/contracts/token/ERC20/CappedToken.sol";

contract GustavoCoin is CappedToken {
    string public name = "GUSTAVO COIN";
    string public symbol = "GUS";
    uint256 public decimals = 2;
    uint256 public I

[2018-06-19 11:32] microdesign commented on #667
@ccpwcn

My deployment was changed in order to work as follow:

[code]

[2018-06-19 11:54] kyriediculous commented on #1004
I refactored my contracts to have access control in my user entry point as well as added the await in front as you demonstrated. Seems to work now. Thanks!

[2018-06-19 12:01] ccpwcn commented on #667
@microdesign
I have already modify my deploy scripts when I receivied your reply:
[code]
BUT The script has a syntax error:
[code]

[2018-06-19 12:04] microdesign commented on #667
You miss some lines

[code]

[2018-06-19 12:14] ccpwcn commented on #667
@microdesign
Thank you very mush, your scripts is running well, and I still have an error, as a matter of fact, I've seen this mistake many times before, but I don't know why.
[code]
As you can see, Total two contracts, the first named ```GustavoCoin``` succeeded, but the second ```GustavoCoinCrowdsale``` failed.

This error is importent for me, Thank you very much for helping me solve these diffi

[2018-06-19 12:21] microdesign commented on #667
@ccpwcn No problem - I`m happy you solve your problem. Good luck with what you going to build.

[2018-06-19 15:19] hugoweslien commented on #494
Adding the name worked for me too.

[2018-06-19 19:59] driscollco commented on #391
$ npm install truffle-contract
-bash: $: command not found

[2018-06-19 20:35] bmmpxf opened #1032 "Truffle debugger should display out of gas errors"
When an out of gas error occurs, the debugger doesn't mention it. It only says:

[code]

But it would be useful for the user to see that an out of gas error is what's causing the transaction to fail. And since the gas information is known to the debugger (via `!evm.current.state.gas`) this presumably wouldn't be that hard to daylight.

Tested on v4.1.11.

[2018-06-20 05:58] ccpwcn commented on #667
@microdesign

So, I sincerely ask you, what happened to my code that caused the following error?
[code]
Thank you again for guiding me to solve these problems. Thank you.

[2018-06-20 10:17] hugoweslien commented on #773
What @ayanez17 mentioned  worked for me.

[2018-06-20 10:37] k-misztal commented on #237
Any update on that feature?

[2018-06-20 14:28] cgewecke commented on #237
@k-misztal This is a key part of a refactor of the artifacts format we have scheduled for this summer, but work on that is just beginning. It will probably be a couple months before Migrations supports this.

[2018-06-20 15:04] huyvu88 commented on #773
I experienced the same issue with:
Truffle v4.1.11 (core: 4.1.11)
Solidity v0.4.24 (solc-js)

Deploy to Rinkeby Test Network

[2018-06-20 16:01] cckelly opened #1038 "`TypeError: Cannot read property 'apply' of undefined` while getting deployed contract"
Upon setting my contract provider I'm getting the following error (with Web3 version 0.20.6):

`TypeError: Cannot read property 'apply' of undefined`

I've seen the old issues relating to this problem but those just pose workarounds for using Web3 1.0 but it's still happening on an older version. Here's my code:

[code]

truffle@4.1.11
truffle-contract@^3.0.5
web3@0.20.6

[2018-06-20 16:45] gnidan opened #1041 "Use only one version of `fs-extra`"
<img width="381" alt="screen shot 2018-06-20 at 12 44 55 pm" src="https://user-images.githubusercontent.com/151065/41672369-c2d378ec-7487-11e8-9658-d677197163a0.png">

[2018-06-20 16:46] #1007 closed

[2018-06-20 16:50] gnidan opened #1042 "Specify packager info `x-via` property in ethpm manifest"
So that `truffle publish` identifies packages originating from Truffle

Spun out from now-unmergeable #379

[2018-06-20 17:11] #1006 closed

[2018-06-20 17:14] cgewecke commented on #1005
Closing for house-keeping, please ping if you continue to see this. A reproduction case would be really helpful here as well.

[2018-06-20 17:38] mbolotov opened #1043 "[debugger] API Documentation links are broken in the README file of debugger package"
Both `API Documentation` and `Useful API Docs References` items contain incorrect links in the [readme file](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-debugger/README.md)

[2018-06-20 20:45] gnidan commented on #1043
We recently changed our site infrastructure and those docs must've slipped through the cracks. Looking into it. Thanks!

[2018-06-20 22:43] #1041 closed

[2018-06-21 00:39] scyclow opened #1047 "Extra accounts for testing"
Running tests with truffle provides you with 10 test accounts. However, I need one more test account. How can one create an 11th test account with test ethereum?

[2018-06-21 02:29] cgewecke commented on #1047
@scyclow If you run truffle dev blockchain [ganache-cli](https://github.com/trufflesuite/ganache-cli) separately you can configure it to create any number of accounts. Set up a 'development' network config in your `truffle.js` following the docs [here](https://truffleframework.com/docs/advanced/configuration).

In a separate terminal tab, launch ganache-cli
[code]
In your original tab run
[code]

[2018-06-21 02:35] carbonnetwork opened #1048 "abstract constract truffle migrate error : "The contract code couldn't be stored, please check your gas amount.""
When I migrate a ERC20 token use "truffle migrate" command, I got an error message:"The contract code couldn't be stored, please check your gas amount."
Then I have many tries ,but it doesn't work ever unless I comment the abstract function in parent constract. I create a simple example and it also have the problem, the example code is
[code]
[code]
[code]

migrate result:
[code]
I'm not sure the

[2018-06-21 03:41] cgewecke commented on #1048
Hi @carbonnetwork That's correct - you cannot deploy an abstract contract because it has no bytecode - it's only a language feature provided by Solidity to help you define interfaces for 'real' contracts. To use one just import it into a file with a contract which implements the abstract methods.

The error messages for this case are confusing and inadequate - we're tracking that problem at #971 a

[2018-06-21 03:41] #1048 closed

[2018-06-21 03:42] cgewecke commented on #1047
@scyclow Closing for house-keeping, please ping if you'd like more help with this.

[2018-06-21 03:42] #1047 closed

[2018-06-21 04:05] carbonnetwork commented on #1048
@cgewecke Thanks for your explain.

[2018-06-21 06:42] microdesign commented on #667
@ccpwcn  I cant see your full code maybe making a repo or something. And we can eventually be blocked by a version problem which I was having one time.

[2018-06-21 10:04] umlspec opened #1049 "pet-shop box (Uncaught Error: Cannot find module 'fs')"
"truffle unbox petshop" generates a useful template for users. The issue is "app.js" in the folder "src/js/"

App = {
  web3Provider: null,
  contracts: {},

  init: function() {
    // Load pets.
    $.getJSON('../pets.json', function(data) {
      var petsRow = $('#petsRow');
      var petTemplate = $('#petTemplate');

      for (i = 0; i < data.length; i ++) {
        petTemplate.find('.panel-t

[2018-06-21 10:11] carbonnetwork opened #1050 "How to debug the "truffle test transactions""
My test contract imported ``truffle/Assert.sol`` & ``truffle/DeployedAddresses.sol``.
1. When I compile used "truffle compile" , I got error message:`` "Error: Could not find truffle/Assert.sol from any sources;``.
2. Then I used ``truffle test`` run it, it can be compiled well, but throw exception:``Error: VM Exception while processing transaction: revert``.
3. I found the the transaction id and

[2018-06-21 10:20] jleeh opened #1051 "Truffle Debug: TypeError: Cannot read property 'sourcePath' of undefined"
### Environment
- OS: W10 Pro 1803
- Truffle v4.1.12 (core: 4.1.12)
- Solidity v0.4.24 (solc-js)
- Ganache CLI v6.1.3 (ganache-core: 2.1.2)
- NodeJS v8.9.3

### Issue
Every time I try to debug a tx, I get the following:
[code]
Notice the path of `/Users/gnidan/` being referenced many times in the stacktrace, that doesn't exist on my system and can only think it refers to @gnidan.

### Additional I

[2018-06-21 11:39] NoChance777 commented on #906
same error for
Truffle v4.1.11 (core: 4.1.11)
Solidity v0.4.24 (solc-js)

[2018-06-21 13:27] RNanwani commented on #906
I am confronting the same error, If anyone has resolved this issue, please help. I have tried (npm uninstall -g truffle ------ npm install -g truffle).
truffle@4.1.12
solc@0.4.24

[2018-06-21 13:52] microdesign commented on #667
I think you must remove Crowdsale

`contract GustavoCoinCrowdsale is Crowdsale, TimedCrowdsale, CappedCrowdsale {`

because CappedCrowdsale extends already the Crowdsale contract.

so write it this way

`contract GustavoCoinCrowdsale is CappedCrowdsale, TimedCrowdsale {`

This is just a suggestion but lets try it

[2018-06-21 14:31] cgewecke commented on #906
RNanwani could you also try uninstalling solc globally?
[code]

[2018-06-21 16:02] cgewecke commented on #1049
@umlspec
+ What windows shell are you in? People seem to have good luck with [PowerShell](https://docs.microsoft.com/en-us/powershell/scripting/getting-started/getting-started-with-windows-powershell?view=powershell-6).
+ This StackOverflow [thread](https://stackoverflow.com/questions/9587665/nodejs-cannot-find-installed-module-on-windows) might be helpful.

[2018-06-21 16:53] RNanwani commented on #906
@cgewecke Thank You for your kind advice but I have already tried that but this is not working for me. Please suggest any other alternative, if possible.

[2018-06-21 16:58] cgewecke commented on #906
@RNanwani Could you show the code that's triggering this error? I will try to reproduce it.

[2018-06-21 17:07] cgewecke commented on #1050
@carbonnetwork Are you using VSCode? This error happens quite a bit with that IDE - there's discussion and (possibly) a workaround discussed at #756.

[2018-06-21 17:15] cgewecke commented on #958
@vdrg This should be fixed in `4.1.12`. Please ping if it's not working. Thanks :)

[2018-06-21 17:15] #958 closed

[2018-06-21 17:18] etsangsplk opened #1053 "Syntax error on Node 6, (Node 8 is ok)"

[2018-06-21 17:21] cgewecke commented on #1053
@etsangsplk Node 6. Please let us know if you're seeing problems with that version.

 Node's LTS is currently 8 and it should work on that as well.

We've seen a few unusual problems/crashes with the latest Node version (10).

[2018-06-21 17:44] umlspec commented on #1049
i have tested this problem at both Powershell and Gitbash. The same problem occurred.

i have added two envionments path variables, but it has not been resolved.

C://Program FIles/nodejs/node_modules/npm
c://users/my_id/AppData/Roaming/npm

let me know another suggestion.

Thanks

[2018-06-21 18:36] RNanwani commented on #906
Yes sure, here it is:
pragma solidity ^0.4.21;

contract Migrations {
  address public owner;
  uint public last_completed_migration;

  constructor() public {
    owner = msg.sender;
  }

  modifier restricted() {
    if (msg.sender == owner) _;
  }

  function setCompleted(uint completed) public restricted {
    last_completed_migration = completed;
  }

  function upgrade(address new_address) p

[2018-06-21 19:20] cgewecke commented on #906
@RNanwani

You will need to upgrade truffle to a version that supports the constructor syntax. It became possible with solc `0.4.23` and [truffle 4.1.7](https://github.com/trufflesuite/truffle/releases/tag/v4.1.7).

 I don't understand how you're getting 4.0.4 from the instructions suggested above - the current release is `4.1.12`

[2018-06-21 19:23] cgewecke commented on #1049
Hi @bmmpxf

Are you able to run Petshop on your windows box at the moment? Have you seen any of the errors that @umlspec is describing above?

[2018-06-21 19:25] umlspec commented on #1049
yes, i can run it if i do not include "const fs = require('fs')"

[2018-06-21 19:35] RNanwani commented on #906
Actually now I got it, it is showing different versions for `solc-js`
` truffle version
Truffle v4.0.4 (core: 4.0.4)
Solidity v0.4.18 (solc-js)
`
Reinstalling solc separately, it mentions `0.4.24`

 `npm install -g solc
/home/ubuntu/.npm-global/bin/solcjs -> /home/ubuntu/.npm-global/lib/node_modules/solc/solcjs
solc@0.4.24
added 66 packages in 1.312s`

May you please suggest something that I can d

[2018-06-21 20:04] cgewecke commented on #906
@RNanwani Can you install `truffle 4.1.7`?
[code]

[2018-06-21 20:05] cgewecke commented on #1053
Closing, lmk if you are having trouble with this an I will re-open.

[2018-06-21 20:14] cgewecke commented on #1027
@Koldus Any luck with this?

[2018-06-21 20:19] cgewecke commented on #985
This should be fixed in `4.1.12`. Please ping if you still see this.

[2018-06-21 20:19] #985 closed

[2018-06-21 20:21] cgewecke commented on #1012
@boorac I'm going close here and we'll track this over at [ganache-core 26](https://github.com/trufflesuite/ganache-core/issues/26)

[2018-06-21 20:21] #1012 closed

[2018-06-21 20:30] Koldus commented on #1027
@cgewecke Thanks a lot for the tips. I didn't get to it until today, but yes, I did manage to get it to work.

First, what helped was to initiate the truffle with npx.

I also tried to set up the complete environment from scratch. This time it worked perfectly. The only thing I did differently was that I also updated nvm to the latest version (not just node and npm). So that's probably what solved

[2018-06-21 20:30] #1027 closed

[2018-06-21 20:42] cgewecke commented on #573
Tracking this at #713, thanks for opening.

[2018-06-21 20:42] #573 closed

[2018-06-21 20:44] cgewecke commented on #531
We're on mocha 5 as of `4.1.12` @rstormsf. Just sweeping through the issues and closing this one for housekeeping. Hope you don't mind, thanks.

[2018-06-21 20:44] #531 closed

[2018-06-21 20:50] cgewecke commented on #1027
@Koldus Thanks! That will be super helpful to someone :)

[2018-06-21 20:57] cgewecke commented on #1038
@cckelly What's your execution context?

You should be able to write the above as follows:

[code]

[2018-06-21 20:57] benjamincburns opened #1054 "Provider factory in truffle config should be able to operate asynchronously"
When using clients/networks other than Ganache, it can be advantageous to use a provider like `HDWalletProvider`. These providers are initialized with some secret (such as a mnemonic or private key), and automatically sign outbound transactions using one or more accounts derived from this secret.

Truffle handles this today by allowing the user to specify a `provider` function in a network config

[2018-06-21 21:57] benjamincburns commented on #1054
Example of how this functionality might be used:

[code]

[2018-06-21 23:50] cgewecke commented on #998
@RobertoC27 Sorry for the delay. Just published `truffle@next`. If you have a chance to report back about whether the debugger works that would be great, thanks!

[2018-06-22 00:58] cgewecke commented on #1049
@bmmpxf Thanks - yes agree this is not pet-shop specific. It's possible the `fs` package is problematic on windows although that's not turning up a lot in a google search.

[2018-06-22 00:59] carbonnetwork commented on #1050
@cgewecke My OS is macOs high Sierra, and I used sublime text and terminal.

[2018-06-22 01:08] EduardoCortesL commented on #906
Hey @RNanwani  I'm running to the same issue with:
`truffle @4.1.12`
`solc @0.4.23`
I tried all the suggestions in this thread and none seems to be working. I'll keep you updated if I figure it out. Please let me know if you get it to work. Thanks!

[2018-06-22 01:48] cgewecke commented on #1050
@carbonnetwork Can you show the file that's triggering this so I can try to reproduce?

[2018-06-22 02:55] carbonnetwork commented on #1050
@cgewecke Yes. The No. 2 problem above have solved, but "import problem" not. The codes:
[code]

[code]
[code]

[code]
[code]
$ truffle compile
Error: Could not find truffle/Assert.sol from any sources; imported from /Users/iclick/blockchain/ethereum/carbon-ico/contracts/test/TestStandardToken.sol
    at /usr/local/lib/node_modules/truffle/build/webpack:/~/truffle-resolver/index.js:76:1
    at /us

[2018-06-22 03:28] cgewecke commented on #1050
@carbonnetwork I think the issue is this:
[code]
Truffle expects Solidity tests to be in the outer `test` directory alongside the JS tests. Could you try moving that file there? There's an example Solidity test in the `metacoin-box` [here](https://github.com/truffle-box/metacoin-box/blob/master/test/TestMetacoin.sol)  for reference.

[2018-06-22 03:39] aleybovich opened #1057 "A potential bug in contract.js - throws if the last argument of transaction call is null"
If I make a transaction call and the last argument I pass is null, the code throws an error. I found that this code is to blame (line 140 in contract.js as of current revision):

[code]

`Utils.is_object()` returns `true` for `null` values, so it's assumed to be an object and later on is attempted to get parsed for settings (like `from`, `value` etc.) and throws `TypeError: Cannot convert undefine

[2018-06-22 07:10] carbonnetwork commented on #1050
@cgewecke Thanks. It worked, but the test contract throw exception:``"Error: VM Exception while processing transaction: revert"``. Then I debug it used "truffle debug" command , got exception:
[code]
But it may not be the same issue with #721 [https://github.com/trufflesuite/truffle/issues/721].
And The javascript test transaction can debug normally.

[2018-06-22 08:45] ccpwcn commented on #667
@microdesign When I modified the codes:
[code]
And deploy scripts:
[code]
The errors still exists:
[code]
The truffle.js networks section:
[code]

[2018-06-22 10:59] 071bctajay commented on #271
I found that my cause of the error was missing '0x' in .deploy( ) parameter
So I had to use
`web3.eth.Contract(JSON.parse(filename.interface)).deploy({data:'0x' + `bytecode}).send({gas:` '1000000', from: accounts[0]});`

[2018-06-22 11:18] riccardopersiani commented on #756
I had this error with the last version of truffle: 4.1.12
I did this because I was also fine using the truffle 4.1.3 version:
[code]

That worked for me.

[2018-06-22 11:31] prographo commented on #763
Just had the "nonce too low" issue.

[2018-06-22 12:55] ccpwcn commented on #667
@microdesign Thank you very much, My question has been solved
[code]

[2018-06-22 12:55] microdesign commented on #667
@ccpwcn your code is not like I told you

MY
`contract GustavoCoinCrowdsale is CappedCrowdsale, TimedCrowdsale {`

YOUR
`contract GustavoCoinCrowdsale is TimedCrowdsale {`

[2018-06-22 12:56] microdesign commented on #667
@ccpwcn OK happy to hear this.

[2018-06-22 14:38] cgewecke commented on #1050
If you only run single test it should work. Javascript tests can be skipped by prefixing the `contract` test descriptor with `skip`, like this:
[code]
I think the reason the tx isn't found is that Truffle resets the blockchain between each test file in order to keep a 'clean-room' environment for individual suites. This means only the transactions made in the last test file to run are still availa

[2018-06-22 15:42] benjaminmbrown commented on #265
I have a use case wherein I have a requirement to test a client's smart contracts written in previous compiler versions. Currently remix allows specification for any compiler version. Just thought I'd bring up this case where latest version is not always the desire.

[2018-06-22 17:58] cgewecke commented on #265
@benjaminmbrown We've just started publishing an experimental build - truffle@byoc - which automatically pulls down any compiler you'd like from solc-bin. You just have to set a key in the `truffle.js` config specifying the version.

[Usage docs](https://github.com/trufflesuite/truffle-compile/tree/byoc-docs#truffle-compiler)

**Install**
[code]

[2018-06-22 18:04] etsangsplk commented on #1053
@cgewecke
[code]

[code]

[2018-06-22 18:20] cgewecke commented on #1053
@etsangsplk Thanks!

+ Which the command are you running?
+ If you `nvm use 8`, does that work?

Trying to identify what's going wrong here . . .

[2018-06-22 18:25] etsangsplk commented on #1053
@cgewecke
8 works but because of some project constraint, have to stick with 6
whihc on the website it says it is supporting

[2018-06-22 18:28] cgewecke commented on #1053
@etsangsplk Which truffle version are you using? You're error doesn't have a stack trace so it's hard to tell where the problem is. If you're using a newer version of Truffle you should have a non-webpacked trace.

[2018-06-22 18:30] cgewecke commented on #1053
@etsangsplk Also: which command are you running?

[2018-06-22 18:41] cgewecke commented on #1057
Nice bug report (as always ) @aleybovich - thanks.

All new `truffle-contract` work is happening on the `next` branch which uses Web3 1.0 and targets a major release coming this summer. Will make sure this is fixed there and add a regression test for it.

[2018-06-22 18:53] nbunruh commented on #843
If you deployed via Ganache, be sure to import the private key that belongs to the account you deployed the contract with into Metamask. Once imported, just refresh the page and you should see the 12000 TT balance.

[2018-06-22 18:59] RobertoC27 commented on #998
@cgewecke sorry for the delay, i'm a bit short on time but will try to do it during the weekend. Any installation instructions that may have changed? or just `npm install truffle@next`

[2018-06-22 19:02] cgewecke commented on #998
@RobertoC27 No worries at all :)  Please take as much time as you need. Yes, that installation line should work.

[2018-06-22 19:06] RobertoC27 commented on #998
@cgewecke btw, when invoking instructions from this new package. Should it be `truffle@next init` or will it collide with my current truffle global install?

[2018-06-22 20:21] djneely opened #1058 "Upgrade to 4.1.12 - Truffle Exception"
I had truffle-4.1.8 up and running fine. Did an update today to 4.1.12 and now getting the following error just trying to check the version. All other commands fail as well.

[code]

[2018-06-22 20:23] djneely commented on #1058
If it helps just uninstalled 4.1.12 and re-installed 4.1.8 and everything is back in order and working.

[2018-06-22 20:42] cgewecke commented on #1058
@djneely It looks like this is Node version related. You shouldn't see this if you update to Node 8 (LTS) - don't know if that's possible for you. We're not supposed to break Node 6 and looks like we might have, sorry. Investigating cause . . .

[2018-06-22 21:48] RobertoC27 commented on #998
@cgewecke being kind of new to this managing my dependencies and scripts stuff, seems like this learning scripts is going to take more time, to really understand what I'm configuring. Sure gonna miss that part of `darq-truffle` :(

[2018-06-22 22:31] etsangsplk commented on #1053
It just show up right from the start
truffle
that is it

[2018-06-22 22:35] cgewecke commented on #1053
@etsangsplk Yes - we've identified the problem and we're going to try fix it. We updated a dependency that uses newer JS syntax and we have to bump it down.

[2018-06-23 02:47] carbonnetwork commented on #1050
@cgewecke Thank you! The problem was solved. But got another problem that is same with https://ethereum.stackexchange.com/questions/50423/truffle-debugger-throws-error.  And much like #39

[2018-06-23 12:31] cckelly commented on #1038
@cgewecke Top level requires, unfortunately the above gives me an issue about not being able to find `artifacts`.

[2018-06-23 13:10] djneely commented on #1058
Sounds good thanks!

[2018-06-23 14:09] umlspec commented on #1049
The template "Tutorialtoken" has also the same issue.

I wish that the designer of "petshop" and "tutorialtoken" would investigate this issue soon.

They are very nice templates, which are better than "webpack" template(personally i think). But they can't be extended to other bigger projects due to failing to include modules supported by Node.js and third party.

[2018-06-23 20:55] aleybovich commented on #1057
Thank you! By the way, I'm very much looking forward to the new truffle version that uses web3 1.0 - right now I have to run with two versions side by side which sometimes causes odd issues. Now if only Metamask updated their web3 version as well, the world would become such a better place :))

[2018-06-23 21:19] RobertoC27 commented on #998
@cgewecke running the debug statement produces the issue on #1051
executed command `"./node_modules/.bin/truffle debug 0x7002c8a8eb2706d74bd8b4834b910c9d528be37776c9bacae93f4b996cf769b3"`

![image](https://user-images.githubusercontent.com/8262009/41813739-abcb6920-76f8-11e8-8e49-4f81903fbb51.png)
Notice how it is searching for a path related to your user, is that expected behavior?

[2018-06-23 21:34] cgewecke commented on #998
Ah thanks @RobertoC27 - that's a bug - actually now I realize it's also affecting the normal release.

We're having some teething problems with the new structure and it looks like webpack is not building the debugger correctly. We'll have another release for everything early next week to fix this stuff.

[2018-06-23 21:43] cgewecke commented on #1051
Hi @jleeh thanks for reporting this. It looks like something went wrong with our webpack build in the most recent release - we'll be patching it shortly. Will ping you here when that's fixed.

[2018-06-24 15:00] mushketyk opened #1062 "A cryptic "Error: sender doesn't have enough funds to send tx""
Out of the blue, I started having issues with running my unit tests with Truffle. Now when I run `truffle test` I see the following error message:

[code]

Few things that puzzle me here:

1. It seems that my tests are not even executed
2. This happens even with a version of my code that passed all tests before
3. Nothing that reduces a transaction cost helps. I've even removed all code from the c

[2018-06-24 15:06] mushketyk commented on #1062
I've restarted my machine, and now all tests are passing.

This is still an odd behavior though.

[2018-06-24 15:15] mushketyk opened #1063 "A misleading error message if an interface is not implemented completely"
If a contract inherits an interface and does not implement one of the methods Truffle test displays the following error:

[code]

Is it possible output a better error message in this case?

[2018-06-24 16:38] cgewecke commented on #1063
@mushketyk Agree - we're tracking this problem for Migrations in #971 and there's a little more detail about why this happens [here](https://github.com/trufflesuite/truffle/issues/971#issuecomment-392987770). That case is being addressed in PR #1028.

However you are seeing this with `truffle test` and I'd like to make sure we handle that correct. Could you show anything of your `beforeEach` hook

[2018-06-24 16:44] cgewecke commented on #1062
@mushketyk Thanks, for reporting. A few questions:

+ Are you running ganache-cli separately as a long running process?
+ Are you using `truffle develop`?
+ Have you defined a `test` network in `truffle.js`?
+ Have you defined your own accounts in any way?

It would be nice to have simple reproduction steps for this although from your description it seems like it might difficult to get those . . .

[2018-06-24 17:57] mushketyk commented on #1062
Hi @cgewecke

1. I am running Ganache as a separate process
2. No
3. No
3. No

[2018-06-24 17:59] mushketyk commented on #1063
@cgewecke

Here is my `beforeEach` method:

[code]

It just deploys a contract.

For migrations, for now I only have a default migration that is defined like:

[code]

[2018-06-25 08:49] timqian commented on #1038
@cgewecke Met the same issue,
- Execution context: `node v10.0.0`
- Dependencies:
  "truffle-contract": "^3.0.6",
  "web3": "^1.0.0-beta.34"
- code
[code]
- error:
[code]

[2018-06-25 11:37] ConnorChristie commented on #450
I figured out a workaround without having to do anything extra fancy! The reason this isn't working as intended is due to this pesky [resolverintercept](https://github.com/trufflesuite/truffle/blob/master/packages/truffle-migrate/resolverintercept.js) which aims to bring caching to the contract lookup functionality. ...however, this is only implemented for local contracts.

To bypass this, you can

[2018-06-25 19:17] gnidan commented on #1053
@etsangsplk what are the constraints that force Node 6 for you?

For Truffle v5, we are currently planning to drop support for Node 6, but I'd like to know more about why users might be constrained. Node 8 is now LTS, mind you.

[2018-06-25 21:10] etsangsplk commented on #1053
Using truffle as api. Node version released with internal project is pinned to that node 6.  There is nothing I can do about that part.

[2018-06-26 12:02] JonathanScialpi commented on #557
This article helped me resolve this issue and made my code much cleaner: https://medium.com/coinmonks/testing-solidity-with-truffle-and-async-await-396e81c54f93

[2018-06-26 15:03] marcosmartinez7 commented on #973
Using the solution of https://stackoverflow.com/questions/50596256/send-signed-transactions-to-ropsten-or-truffle-develop-network-with-trezor-hard and send ether as @cgewecke saids **works**!!

one detail, the upfront cost was 9000000000000000 wei (0.009 ether), so i needed to send more than @cgewecke example

[2018-06-26 15:16] breckinridge22 opened #1065 "truffle unbox Quintor/angular-truffle-box npm install error"
I am trying to unbox the angular truffle box. When I try to execute the command truffle unbox Quintor/angular-truffle-box in a new directory it fails on the node-gyp rebuild. Has anyone had this issue?

Here is a copy of the error logs:

1 error generated.
make: *** [Release/obj.target/sha3/src/addon.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! sta

[2018-06-26 15:29] scratcher221 opened #1066 "Variable inspection in debugger doesn't show array contents under certain conditions"
If a contract with a storage array inherits from another contract which has a storage variable then the debugger doesn't show the contents of the first array, when trying to inspect it with 'v'.

Example: The contract Fibonacci.sol inherits from Test.sol. Test.sol has a storage variable called id. When debugging Fibonacci.sol the contents of the fibseries array are not shown. If Test.sol doesn't h

[2018-06-26 15:48] darioAnongba opened #1067 "truffle-contract errors in react-native box"
Hi,

I'm trying to use truffle-contract in a React Native app but this error is thrown:
`undefined is not a function (evaluating 'Object.setPrototypeOf(ExtendableBuiltin, cls)')`

Surprisingly, this error doesn't appear when launching the app with the Remote JS debugger. I wasn't able to identify the cause of the error.

This issue has already been declared: https://github.com/trufflesuite/truffle

[2018-06-26 16:32] cgewecke commented on #973
@marcosmartinez7 Yes!!!!! This is fantastic!!

Thank you so much for figuring out how to do this.

[2018-06-26 16:46] cgewecke commented on #1065
@breckinridge22 Could you open this issue at the box in question?

Closing - it's conceivable that this is truffle related but we don't have the resources to support all the boxes from this repository. If the difficulty can be narrowed down to something in code-base here, please feel free to re-open.

[2018-06-26 16:46] #1065 closed

[2018-06-26 16:52] cgewecke commented on #1067
@darioAnongba Thanks for porting this over. Have renamed it the issue a bit, hope that's ok.

[2018-06-26 19:00] cgewecke commented on #852
Hi @roderik - Just wanted to leave you a note here - am testing a recent rewrite of the migrations command and might run a few (dozen?) migrations against the `minttestnet` to get a sense of the errors a Parity cluster sends back when things go wrong. Also to make sure things go right.

Please let me know if this inconveniences you in any way and I will stop. Thanks!

[2018-06-26 19:10] roderik commented on #852
why stop at a dozen, go nuts, make those nodes sweat! :)

[2018-06-26 19:22] marcosmartinez7 commented on #973
Thank you for the answers!

[2018-06-26 19:22] #973 closed

[2018-06-27 16:02] khajaasmath786 opened #1071 "Truffle exits w/syntax error on Windows & Node 10.5"
Hi, I have installed truffle framwork but I am getting below error. may I know how to resolve it.

PS C:\Windows\system32> npm install -g truffle@4.0.4
C:\Users\yyy1s41\AppData\Roaming\npm\truffle -> C:\Users\yyy1s41\AppData\Roaming\npm\node_modules\truffle\build\cli.bund
led.js
+ truffle@4.0.4
added 92 packages from 316 contributors in 3.433s
PS C:\Windows\system32> truffle version
C:\Users\yyy1s

[2018-06-27 18:53] cgewecke commented on #1053
@etsangsplk This should be fixed in `4.1.13`. Please ping if you continue have problems with it.

[2018-06-27 18:53] #1053 closed

[2018-06-27 18:53] cgewecke commented on #1071
@khajaasmath786 Are you able to use a more recent release? We're currently publishing at `4.1.13`?

[2018-06-27 18:56] cgewecke commented on #1051
@jleeh. This should be fixed in `4.1.13`. Please ping if you continue to see it.

[2018-06-27 19:03] khajaasmath786 commented on #1071
C:\Users\yyy1s41\AppData\Roaming\npm\truffle -> C:\Users\yyy1s41\AppData\Roaming\npm\node_modules\truffle\build\cli.bund
led.js
+ truffle@4.1.13
added 81 packages in 18.767s
PS C:\Windows\system32> truffle version
C:\Users\yyy1s41\AppData\Roaming\npm\node_modules\truffle\build\cli.bundled.js:2380
                    return this.Decryptor.create(ciph

[2018-06-27 19:58] cgewecke commented on #1071
@khajaasmath786 It's possible - if you `nvm use 8` does this still happen? We've seen a few unusual errors with Node 10.

The syntax error is coming from a dependency `crypto.js`, will investigate over there and see if there's a known issue...

[2018-06-27 22:50] khajaasmath786 commented on #1071
I didn't get the what is nvm use 8 does this still happen? You mean to say that I need to use version 8?

Sent from my iPhone

[2018-06-27 23:03] cgewecke commented on #1071
Oh apologies I misread your error and though you were using `nvm` which is a node version manager that lets you toggle between node versions easily.

If it's not impossible you might try Node 8 and see if it works, yes.

[2018-06-28 01:42] cgewecke commented on #998
@RobertoC27 Sorry - this took forever it seems like . . . `5.0.0-next.1` should have fixed the debugger build so `npm install truffle@next` might work.

[2018-06-28 05:07] RobertoC27 commented on #998
@cgewecke I'm not bearing good news, debugger crashed again. https://gist.github.com/RobertoC27/5b3532b82277b28e880ab8f511fe4f42 a gist with the error output

[2018-06-28 06:23] wighawag commented on #593
I had the same issue as @evgen-povt and after deleting the ```build/``` folder it worked.
There is an bug somewhere. could it be some caching issues ?

[2018-06-28 09:19] SeptiyanAndika commented on #544
@sharad-s @praveen7557  did you find any solution for this?

[2018-06-28 10:43] faizanahmad055 commented on #677
Hi,
Has anyone able to solve this yet. I tried all above mentioned comments but I'm still facing the same issue.

I'm running below mentioned command to run the ethereum node
`geth --rinkeby --syncmode "fast" --rpc --rpcapi db,eth,net,web3,personal --cache=1024 --rpcport 8545 --rpcaddr 127.0.0.1 --rpccorsdomain "*"`

My environment is

**truffle.js**
[code]

When I run truffle **migrate --reset**

[2018-06-28 11:01] jleeh commented on #1051
I've updated truffle to 4.1.3, debugger is at 4.0.2 and I'm getting a different, but similar error (looks same as #998):
[code]
Is there any quick hack I could do to get this to work? Not sure if it's anything to do with my local setup? I thought it could be related to having truffle installed globally and truffle-debugger not. I installed truffle in the package scope with debugger and got the sam

[2018-06-28 11:01] faizanahmad055 opened #1074 "Error encountered, bailing. Network state unknown. Review successful transactions manually. Error: Contract transaction couldn't be found after 50 blocks"
## Issue

I'm using [this](https://medium.com/@mvmurthy/full-stack-hello-world-voting-ethereum-dapp-tutorial-part-2-30b3d335aa1f) tutorial to develop a voting smart contract. I tested it before a few weeks ago and it was working fine but now it is showing me an error while trying to deploy the smart contract.

## Steps to Reproduce

I'm running below mentioned command to run the ethereum node
`get

[2018-06-28 11:17] #1074 closed

[2018-06-28 11:17] faizanahmad055 commented on #1074
Duplicate of https://github.com/trufflesuite/truffle/issues/677

[2018-06-28 14:46] cgewecke commented on #1051
Thanks @jleeh - re-opening. This is also being reported (for Windows) in #998 where the example being used appears to be the Fibonacci number tutorial.

For additional context: On my machine if I:
+ unbox MetaCoin
+ delete the solidity test so that there is only one contract suite
+ launch ganache-cli in a separate terminal tab
+ `truffle test`
+ pull the transaction hash from the last recorded tx

[2018-06-28 14:51] cgewecke commented on #998
Thanks so much @RobertoC27 - there's another report of this at #1051 which affects the non-next build. Hope you don't mind I'm going to close here and track the problem here, adding a link to your gist to the discussion.

[2018-06-28 14:51] #998 closed

[2018-06-28 14:56] cgewecke commented on #1050
@carbonnetwork - Thanks, I've edited your issue title to narrow the problem a bit. . .

[2018-06-28 15:01] RobertoC27 commented on #1051
@cgewecke Fibonacci example was indeed what i tried debugging, did a `truffle init` on a clean folder, then `npm init` (because i'm working with `truffle@next` and copied contract code into a new file. Added a migration file, ran `truffle console` then `compile` and finally `migrate`. Last step was entering the debugger which resulted in #998

[2018-06-28 15:07] cgewecke commented on #1071
More info: `crypto.js` is only used in `truffle-contract-schema` and was last updated 5 months ago, which makes it seem more likely that Node 10.5 is the source of the issue here.

[2018-06-28 15:12] cgewecke commented on #1013
Related issue at [web3](https://github.com/ethereum/web3.js/issues/1738) for 2D arrays

[2018-06-28 15:37] cgewecke commented on #1038
@cckelly I was able to get this to work for web3@0.20.6 by doing the following (borrowing from @timqian's reproduction case):

+ Launch ganache-cli in a separate terminal tab (default port is 8545)

[code]

**Output**
[code]

@timqian In your case I think the issue might be a web3 mismatch. I will look into publishing the new work we've done on `truffle-contract` upgrading to web3 1.0 separately t

[2018-06-28 15:47] cgewecke commented on #1071
@khajaasmath786 What is different about the second machine you installed on? Why is it working on that one?

[2018-06-28 15:59] cgewecke commented on #677
@faizanahmad055 This is a chronic problem everyone is facing using `web3` given current network conditions. The only known solution is to increase the `gasPrice` of the transaction to make it more attractive for miners to pick up, or to wait for periods of low network congestion to deploy.

The error is a hard-coded limit in web3 whose intent is to stop transactions from hanging indefinitely.

Als

[2018-06-28 16:46] cgewecke commented on #593
@wighawag Do you have a reproduction step? Also could you report your truffle version?

Will happily re-open this if we can verify it's happening again - would really like to squash any bugs here.

[2018-06-28 17:46] etsangsplk commented on #1053
Looks like you are using async which is not available in node6?

[2018-06-28 17:55] cgewecke commented on #1053
@etsangsplk Are you still seeing this error in `4.1.13`?  We downgraded the dependency that used async (in one of its dependencies) and now have Truffle's unit tests running against Node 6 in CI where it seems to be [passing](https://travis-ci.org/trufflesuite/truffle/builds/397482993).

[2018-06-28 18:02] etsangsplk commented on #1053
[code]

[2018-06-28 19:06] cckelly commented on #1038
@cgewecke Awesome thanks for your help, I'll give this a shot and report back

[2018-06-28 19:32] cgewecke commented on #1053
@etsangsplk I need a reproduction case because locally I see this:
[code]

[2018-06-28 19:33] cgewecke commented on #1053
@etsangsplk If you are running `ganache-cli` separately, you will need to downgrade to `6.1.0-beta.5`

[2018-06-29 08:40] wighawag commented on #593
Since I deleted my build folder, I cannot reproduce now. If I or someone else get it back, publishing the build folder might help reproduce it.

[2018-06-29 09:55] carbonnetwork commented on #1050
@cgewecke OK,thanks

[2018-06-29 13:46] #523 closed

[2018-06-29 16:20] evgen-povt commented on #593
I had experienced the issue event after cleaning the build directory.

On updating to Truffle v4.1.11 the issue has gone.

[2018-06-29 16:30] colus001 opened #1076 "Solidity test works fine, js test doesn't."
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I created almost same test code in javascript and solidity. Solidity version works fine but js version doesn't work.

## Steps to Reproduce

TheContract.sol
[code]

theContract.js
[code]

TestTheContract.sol
[code]

and then

[code]

## Expected Be

[2018-06-29 16:56] zulhfreelancer commented on #469
Running `truffle compile` followed by `truffle test [path]` did not work for me. I'm using Truffle v4.1.13.

Everytime I ran `truffle test [path]`, all other contracts get compiled and deployed.

I'm expecting only the contracts related in my test will get compiled and deployed. Not everything.

[2018-06-29 18:48] etsangsplk commented on #1053
Doubt if any of those tests are hitting the other libraries like eth-block-tracker.
For example for yarn.lock, these libraries are all using async
[code]

[2018-06-29 20:06] cgewecke commented on #1053
@etsangsplk What's your crash?

[2018-06-29 20:43] cgewecke commented on #1053
It looks like it might be coming from `hd-wallet-provider`?
[code]
Could you try the following:
+ Make sure your providers are wrapped in a function closure in your config as shown in the docs [here](https://truffleframework.com/docs/advanced/configuration#providers). This will stop them from automatically loading when truffle pulls the config in.
+ Pin `truffle-hd-walletprovider` to `0.0.3`, whic

[2018-06-29 21:09] etsangsplk commented on #1053
@cgewecke

this solves it: truffle-hd-walletprovider to 0.0.3,

[2018-06-29 21:47] cgewecke commented on #1053
Fantastic, thank you @etsangsplk.

[2018-06-29 23:28] cgewecke commented on #1076
@colus001 Thank's for such a clear description and reproduction case :)

It looks like the test failure here is caused by post-fixing `.call` on methods you actually want to 'send' as transactions to the network, rewriting the state of the chain. `.call` runs the transaction locally without persisting state and is useful for retrieving data from a local client, or for testing out a transaction bef

[2018-06-30 03:34] ayushgupta0610 commented on #142
Hi @louptheron , can you kindly help me understand how did you resolve this issue?

[2018-06-30 16:07] mmezian opened #1078 "Truffle registering wrong network ID artifact"
## Issue

When I complete a deployment, I have to manually edit the network ID as it is wrong.

I deploy on Rinkeby, which is network 3, but when I go to my contract's .JSON on build/contracts, there is "4" (which is mainnet) so I have to manually edit it to 3 everytime.

## Steps to Reproduce

truffle deploy --reset --network rinkeby (which is 3)

**contents of my truffle.config file:**
[code]
##

[2018-06-30 16:49] cgewecke commented on #1078
@mmezian Here is a list of network ids (source: [stackexchange](https://ethereum.stackexchange.com/questions/17051/how-to-select-a-network-id-or-is-there-a-list-of-network-ids))
[code]

+ When truffle connects to a public network in order to submit transactions, it queries it directly for its `id`. Rinkeby is `4`, so the network id being written to the artifact is correct.
+ When truffle searches

[2018-06-30 17:45] mmezian commented on #1078
Thank you CGEWECKE!

@truffle team please you need to add important things like this on your documentation...

[2018-06-30 17:51] mmezian opened #1079 "Error: replacement transaction underpriced (Infura)"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When I launch many functions that write into storage through the truffle "exec" command into RINKEBY, I often get Error: replacement transaction underpriced for some of the calls.

I'm using the HDWALLETPROVIDER to execute storage functions on RINK

[2018-06-30 18:08] cgewecke commented on #1078
Thanks @mmezian - agree this could be clearer. . . will add this to our list of docs improvements.

[2018-06-30 18:08] #1078 closed

[2018-06-30 23:34] bellaj commented on #756
on ubuntu i had the same problem
but i had 2 test files a sol and .js
when i've remove .sol test everything works fine again

[2018-07-01 08:44] bellaj commented on #494
I confirm i can reproduce the same error
and it's solved as stated by other developers by adding argument name like following :
`eventX(bool b, address a...)`

[2018-07-01 18:36] cgewecke commented on #1079
@mmezian There's more discussion of this specific error [here](https://ethereum.stackexchange.com/questions/27256/error-replacement-transaction-underpriced).

Questions:
+ Are these txs meant to occur in a strict sequence / can they run in parallel?
+ If parallel, is it possible for you to distribute them across many accounts? I'm not sure how viable this is with `truffle-hdwallet-provider` itself

[2018-07-01 22:14] mmezian commented on #1079
hi @cgewecke , thanks for your answer!

Unlike contract deployment, I don't need these to run in strict sequence, that's why I'm trying to run them synchronously.

I need it to be from one single account, as the contract verification requires those actions to be performed by the owner of the contract.

Does anyone have a workaround ?

Should I setup a higher timeout, like 5 seconds, between each o

[2018-07-02 07:42] colus001 commented on #1076
@cgewecke Thanks for your answer.

[code]

[2018-07-02 14:54] colus001 commented on #1076
I added comment but removed since I figured out somehow. But here's another question.

1)  "Why do we have two test environment. `.js` and `.sol`?"

2) "Where can I find `Assert.sol`'s full documentation?"

Let me understand better with truffle environment, please.

[2018-07-02 15:06] cgewecke commented on #1076
@colus001 Good questions

+ `.sol` allows you to test using the Solidity language itself, running on the `evm`. This useful if you are developing Solidity libraries that will be consumed by contracts and want to validate them in the context they will execute in. Solidity is a strongly typed language vs. JS so testing in that language ensures the tests lose nothing 'in translation'. The drawback is

[2018-07-02 16:01] frangio opened #1080 "Deprecated bignumber dependency in truffle-debugger"
`truffle-debugger` depends on `bignumber.js` `^6.0.0`, which resolves to the deprecated version [`6.0.0`](https://www.npmjs.com/package/bignumber.js/v/6.0.0).

[2018-07-02 21:31] seesemichaelj commented on #829
Hey everyone! The code that supports the `allowUnlimitedContractSize` flag in Ganache was merged in https://github.com/trufflesuite/ganache-core/pull/126. This should be in the next release of ganache-cli (I'll add something to the readme and link the PR to this issue).

### Warning about using allowUnlimitedContractSize
If you're having issues deploying contracts without this flag, it's likely co

[2018-07-02 21:55] seesemichaelj commented on #829
The flag was added to ganache-cli in https://github.com/trufflesuite/ganache-cli/pull/550

[2018-07-03 10:17] colus001 commented on #1076
Thanks for the answer. Everything works fine finally @cgewecke except I don't know how to handle accounts in `.sol` and unlike `.js` test it seems I can't set the `{ from: owner }` while send transaction.

[2018-07-03 12:31] HarryR commented on #1051
I'm having the same problem on Linux with Truffle v4.1.13, it means that I can't debug any transactions.

I started doing some debugging by editing the `cli.bundled.js` file directly, in `recordSources` I output `sources`, then for each item I output the `_ref2` variable (see cli.bundled.js:200413):

It turns out the problem was caused by my `std/ERC20.sol` interface. When the file is an interface

[2018-07-03 14:24] jleeh commented on #1051
Just tried that @HarryR and it got further as I saw a `debug_traceTransaction`, but got a different error:
[code]

I did the same thing as you mentioned and dumped the sources from the debugger, and there was 3 undefined entries at the top. After cross checking what was included and wasn't, it was the bang same as you:
- ERC677.sol
- ERC20.sol
- ERC20Basic.sol

I have interfaces in my own contract

[2018-07-03 14:41] cgewecke commented on #1071
@khajaasmath786 Closing for house-keeping - it seems like you might have worked this out? Please ping here if you have more info and wan't to keep this issue open.

[2018-07-03 14:41] #1071 closed

[2018-07-03 14:49] jleeh commented on #1051
I've fixed my own issue!

Weirdly, the `sourcePath` being undefined was completely fixed when I moved the ERC contracts into a std folder, deleted build and migrated them again. Proved this as I left the console output of the sources, and the 3 entries I had at the top had gone, with ERC 20, Basic and 677 appearing in the list.

Although like @HarryR said, when I dumped the contexts there were no

[2018-07-03 17:18] gnidan commented on #1051
@jleeh want to open a PR with that change here: https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-debugger/lib/evm/sagas/index.js#L28?

Thanks for finding that! I'm happy to do the change myself, but figured you should get credit :)

[2018-07-03 19:16] timothywangdev commented on #1051
same

[2018-07-03 19:20] cgewecke commented on #1076
@colus001 Yes, that's an example of how the JS interface is much more flexible. Testing solidity *with* solidity mostly makes sense for Solidity library development. In other words, for code that will only be consumed by contracts. Even then a parallel JS suite may be necessary to cover cases that are to difficult to model in Solidity itself.

I'm going to close this because it like your original

[2018-07-03 19:20] #1076 closed

[2018-07-04 01:57] lazaridiscom commented on #835
@cgewecke , @gnidan - I saw you switched to a mono-repo.

You have any regrets, or does all work out fine now?

[2018-07-04 03:33] lazaridiscom commented on #835
Nice, will keep it in mind for monorepo stuff!

[2018-07-04 04:51] colus001 commented on #1076
Thanks for great answers @cgewecke 👍

[2018-07-05 06:21] asoong commented on #829
Hey, Mike,

Hesitant to use the flag - what are some ways to improve compilation before resorting to this? I'm at a point where commenting out some logic or even modifiers will allow the specs to run successfully.

[2018-07-05 06:37] seesemichaelj commented on #829
Hey @asoong,

I'm sorry for not initially suggesting this; I didn't quite do my homework (I'm knew to the Truffle team).

Looking at the docs, I highly suggest that you use the compiler optimizer since your contracts shouldn't deploy on main and test nets without it! You can add this in your `truffle.js` configuration: https://truffleframework.com/docs/advanced/configuration#solc
[code]
You can in

[2018-07-05 06:37] #829 closed

[2018-07-05 06:46] carbonnetwork opened #1086 "Truffle debug : TypeError: Cannot read property 'children' of undefined"
[code]
If I remove the watch expression "keyIndex", It has no this exception.

[code]

I have no idea about this. Could some one help me. Thanks.

[2018-07-05 17:48] libertylocked opened #1087 "Artifact is overwritten if there is another sol file with the same name in contracts"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

If there are multiple sol files with the same name but under different folders in contracts, for example if there's 3 sol files in contracts

- contracts/Game.sol
- contracts/Game1/Game.sol
- contracts/Game2/Game.sol

Only one artifact will be gene

[2018-07-05 20:20] corydozen commented on #906
On Ubuntu 16.04, this worked for me...
[code]
But then
[code]
So. That didn't work.

[code]
That showed me where `truffle` was _still_ installed
[code]
Now, I think I may have screwed up in there with the `-R` because it was a link, not a directory. But it worked anyways. So. Now truffle is _really_ uninstalled.
[code]
Ok! Now 4.1.13 is installed! Yay!
[code]
:cry:
Oh! Maybe I need to create that

[2018-07-06 11:43] benjaimess opened #1089 "Can Truffle run multiple contracts on one single sol file?"
The following is the abstract of my codes in a single sol file containing several contracts, however error occurs when I migrate the codes. I would like to know if Truffle allows multiple contracts to be coded on one single sol file?

//Adoption.sol

pragma solidity ^0.4.17;

contract Adoption {
    address[16] public adopters;

    function adopt(uint petId) public returns (uint) {
        requir

[2018-07-06 13:18] roderik commented on #713
We were hit by some the same issue, where strangely enough all our contracts deploy correctly, all of them have a completed network section in the json file, **except** the Migrations.json. We make heavy use of async/await so I happened on this issue and tried to figure out what was wrong.

I started with a clean `truffle init` and running migrate worked like expected.

[code]

Now for the async v

[2018-07-06 15:33] gnidan commented on #1087
Thanks for raising this @libertylocked. Unfortunately this is a limitation of the way Truffle handles artifact files right now. We have this work scheduled for 5.1, as it's a substantial effort.

[2018-07-06 18:15] gnidan opened #1090 "Allow `truffle develop` to be configurable"
Right now, running `truffle develop` uses default parameters defined [here](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/environment.js#L120-L125)

It would be nice if this were configurable in `truffle.js`, perhaps under the `networks.develop` section.

[2018-07-06 23:45] tcoulter commented on #703
Good catch. Please see the comment I left [here](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1019#issuecomment-403171251)

Generally, if you're getting these files, it means you're using synchronous http requests, which is a no no. You shouldn't do that, for this effects and other reasons. Please check your code for synchronous requests and remove them.

If you see Truffle code that

[2018-07-07 08:19] mallapurbharat commented on #43
Not sure if I'm right, but document is usually defined and available in your front-end DOM/Javascript. The code you've pasted looks more like a build script (which wouldn't have any front-end objects available.)

[2018-07-07 08:30] mallapurbharat commented on #43
@FaizulMustafiz

document is a client-side javascript object (DOM). It would typically not be available in a deploy script.

[2018-07-07 10:11] vicnaum commented on #729
Would there be an universal fix available any time soon?

I have random Error: CONNECTION ERROR: Couldn't connect to node http://127.0.0.1:7545/ when I do tests too (have 39 tests, 3 of which fail by that reason).

In May everything was still okay, today - it's not :(

[2018-07-07 16:18] vicnaum commented on #729
@cgewecke it's always different tests. Can be one test failing, but can be five. Usually near three.

The sources are here: https://github.com/vicnaum/hourlyPay

[2018-07-09 02:47] mattiyat opened #1091 "Contract Change Bug"
**Environment**

Windows 10 64 bit machine running Truffle v4.1.13, Solidity v0.4.24, Ganache v1.1.0, Node v8.11.3 and npm v5.6.0

The bug is caused by a Truffle project containing two contracts of the similar filename. The user must name the second contract the same as the first with one integer appended (e.g. Test.sol, Test1.sol).
After migrating the projects' contracts to Ganache, running "truf

[2018-07-09 11:07] fyrchik commented on #186
@p14n seems like that PR is in archived repository and was not merged in core. Do you have plans on submitting a new one here?

[2018-07-09 11:38] barakman commented on #729
@cgewecke : The error specified by vicnaum has no relation whatsoever with the issue described this thread.

[2018-07-09 13:57] cgewecke commented on #729
@vicnaum I think @barakman is correct - I looked through the `hourlyPay` code a bit and see you're using a lot of methods to move time around on the chain. Would you like to open a separate issue so we can investigate further?

`ganache-cli` shouldn't disconnect from truffle under any circumstances so this is likely a bug. Could you display the entire contents of your error and stack trace as well

[2018-07-09 14:02] cgewecke commented on #1091
@mattiyat Thanks for such a clear description!

Unfortunately I followed your steps and am not able to reproduce this locally. . . could you link to a simple github repo reproduction of this problem so I can clone it and try again?

[2018-07-09 14:40] mattiyat commented on #1091
@cgewecke My apologies!

The repo: https://github.com/tcoulter/truffle-bug.git

Edit: Updated the steps above to clone this repo.

[2018-07-09 19:46] cgewecke commented on #1091
@mattiyat Thanks! It looks like this bug might affect Windows only - tried to get that to fail on OSX and everything seemed fine. . . .requires further investigation I guess.

[2018-07-09 19:59] cgewecke commented on #1089
Hi @benjaimess. Apologies for the delay responding to your issue. Yes, truffle should have no problem with this. I reproduced your case and was able to migrate Adoption and SafeMath from the same file successfully by writing a Migration for them that looks like this:
[code]

**Output**
[code]

I'm running `ganache-cli` separately at the command line and have added a development network config to `

[2018-07-09 20:30] thevaleriemack commented on #705
The solution above did not work when using `bytes`

[2018-07-09 20:42] thevaleriemack commented on #705
@scherrey requesting to reopen this

<img width="659" alt="screen shot 2018-07-09 at 1 39 43 pm" src="https://user-images.githubusercontent.com/8445610/42474927-eb885564-837d-11e8-9d42-4c22e08f3adb.png">

[2018-07-10 01:53] carbonnetwork opened #1092 "How to debug a "public view " solidity function"
The "truffle debug" argument is transaction ID, but some times we need to watch the expression's value in the function decorated by "view" identifier. What can I do for that. Thanks!

[2018-07-10 03:31] eepstein commented on #836
That's not a patch.  That's a new release with other things changed.  Borked.

[2018-07-10 13:06] ekpyron opened #1093 "solidity will remove ``constant`` from their json ABI with version ``0.5.0``"
With the next breaking release solidity will remove the ``constant`` field from the JSON ABI for contract functions, since it is redundant (``constant`` is the same as ``stateMutability === 'view' || stateMutability === 'pure'``).

I'm in the process of implementing this change in the solidity repo, but we want to make sure that everything that depends on the ``constant`` field can be updated firs

[2018-07-10 13:56] ekpyron commented on #1093
And to already give you a heads-up: We plan to remove the ``payable`` field as well, since it is the same as ``stateMutability == 'payable'``.

[2018-07-10 14:02] cgewecke commented on #1093
Thanks @ekpyron :)

The one place I see is actually at [truffle-contract/lib/contract.js](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-contract/lib/contract.js#L41) where Truffle automates whether or not web3 methods are invoked as calls or sends. This should be simple to update and be backwards compatible as well using the `stateMutability` alternative you suggest above.

@g

[2018-07-10 15:09] cgewecke commented on #1092
Hi @carbonnetwork. Support for `view` and `pure` is planned for the debugger but not currently possible. The debugger 'replays' transactions and at the moment it requires the tx hash to identify  the relevant execution.

Another trufflesuite engineer, @seesemichaelj has recently written a real-time trace debugger called Velma that supports these modifiers - you might be interested in checking it o

[2018-07-10 15:47] moshebeeri opened #1094 "Unit test wrong results not match when using async/await paradigm"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Calling same logic fails when using async/await paradigm

## Expected Behavior

expected to be the same

## Actual Results

failure to provide the result

## Environment

* Operating Syst

[2018-07-10 16:02] cgewecke commented on #1094
@moshebeeri Could you see if this discrepancy goes away when you remove the `.call` postfix from deposit in the `async/await` test?
[code]

[2018-07-10 16:44] moshebeeri commented on #1094
Yep it solved it, should not be any .call in async
But the the docs shows the wrong method
see [https://truffleframework.com/docs/getting_started/javascript-tests](url)
There is an example with call (lets call it a docs bug 🥇 )
`     let balance = await instance.getBalance.call(accounts[0]);
`

[code]

[2018-07-10 17:36] cgewecke commented on #1094
@moshebeeri Agree the docs are quite antiquated and confusing here, thank you for highlighting this.

 You actually don't need to use these postfixes at all with truffle - it automatically figures out which mode to call a function in. You might be interested in the note left [here](https://github.com/trufflesuite/truffle/issues/1076#issuecomment-401497884) that explains the difference between maki

[2018-07-10 17:36] #1094 closed

[2018-07-10 17:45] cgewecke opened #1095 "Release: v5 Beta"
Very close to releasing a V5 beta.

A checklist of things we need to get done before publishing:

- [x] Release notes enumerating new features and commands
- [X] Pre-commented config
- [X] Fork `web3-provider-engine`, update with my fork's web3 1.0 compatibility changes and publish `truffle-hdwallet-provider@web3-one`
- [x] Fix `wild-truffle` - get Colony network running on the beta.
- [x] Upgrade

[2018-07-11 01:51] carbonnetwork commented on #1092
@cgewecke Thank you for your reply !

[2018-07-11 02:57] IlIlIlIlIlIlI commented on #906
On Windos 10, this worked for me...
At first,it showed:
`\pet-shop>truffle compile
Error parsing C:\mixed\Dapp\truffle\workspace\pet-shop\contracts\Migrations.sol: ParsedContract.sol:11:14: ParserError: Expected identifier, got 'LParen'
  constructor() public {
             ^
Compilation failed. See above.`
then I tried:
`npm install -g truffle@4.1.7`
it showed:
`pet-shop/contracts/Migrations.sol:

[2018-07-11 03:05] hems opened #1096 "truffle-artifactor README.md is out of date"
As pointed out on this old issue: https://github.com/trufflesuite/truffle-artifactor/issues/49  the README.md file needs to be updated accordingly.

[2018-07-11 08:39] carbonnetwork opened #1097 "truffle debug error: "RangeError: Invalid array length""
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

truffle debug got exception:
[code]

## Steps to Reproduce
[code]
## Expected Behavior

Print the value of the variable "length"

## Actual Results

Throw the exception above

## Environment

* Operating System: Mac OS high Sierra
* Ethereum client

[2018-07-11 09:15] elenadimitrova commented on #555
This is a problem for us at Colony too where events in called contracts aren't surfaced in the transaction logs. We've solved this for `A` and `B` in the example above being the Interface and actual contract implementation. For different contracts however this is still a problem, see `Colony.addGlobalSkill` calls `ColonyNetwork.addSkill` which  emits `SkillAdded` that never surfaces in the transac

[2018-07-11 15:07] cgewecke commented on #555
@elenadimitrova Coincidentally saw a possible solution to this yesterday [here](https://github.com/zulhfreelancer/truffle-events).

It's a library that decodes logs for what the author calls 'deep events', using the data on the receipt and knowledge of what contracts are interrelated. Usage looks like this (from their docs):
[code]

We've talked about developing a global registry within Truffle an

[2018-07-11 15:28] cgewecke commented on #1089
@benjaimess I'm going to close this for house-keeping, please ping if you're still having difficulty with this / have a case I can reproduce the error with.

[2018-07-11 15:28] #1089 closed

[2018-07-11 15:58] gnidan commented on #1097
What type is `_collection`? And can you tell me the value of `_collection` before the exception? Thanks!

[2018-07-11 19:06] gnidan commented on #1093
@ekpyron is removing `payable` part of v0.5.0 also? I'd like to clean this up all in one fell swoop.

[2018-07-11 21:57] nullablebool commented on #608
Following @saradotramli method I was able to get further, I then ran into
`TypeError: Cannot read property 'line' of undefined
    at Object.formatRangeLines (\node_modules\truffle\build\webpack:\~\truffle-debug-utils\index.js:211:1)`

So as a quick fix, I just added the following two lines to this method:

`formatRangeLines: function(source, range, contextBefore) {
	range.start = range.start || {

[2018-07-11 22:19] ekpyron commented on #1093
@gnidan (Already mentioned on gitter, but I'll comment here as well for reference):

If we manage to get external projects to update to be compatible soon enough, we'd like to remove both ``payable`` and ``constant`` in 0.5.0.

[2018-07-12 02:29] carbonnetwork commented on #1097
@gnidan. Sorry for the missing information, the code is:
[code]

[2018-07-12 03:46] gnidan commented on #1097
@carbonnetwork the problem might be that `mapping` is not currently supported in truffle-debugger. Just curious, are you able to see the value of `_collection` before the for-loop?

[2018-07-12 07:47] stefek99 commented on #121
# **BUT**

* https://ethereum.stackexchange.com/questions/33154/function-call-behaves-differently-to-function-in-truffle-test

* https://ethereum.stackexchange.com/questions/16796/truffle-console-how-can-i-get-and-print-the-value-returned-by-a-contract-funct

[2018-07-12 09:16] carbonnetwork commented on #1097
@gnidan The ``_collection`` should be empty. At this time I had not put data in it. And when I  watched the value of ``_collection`` by truffle-debugger got the same error：
``
debug(development:0xe44f64f0...)> +:_collection
RangeError: Invalid array length
    at /usr/local/lib/node_modules/truffle/build/webpack:/~/reselect/lib/index.js:86:1
    at args (/usr/local/lib/node_modules/truffle/build/w

[2018-07-12 13:21] moshebeeri opened #1100 "Contracts factory unit test with javascript tests is not working as expected"
I am trying to unit test contract factory in javascript
[code]
while createDog looks like:
[code]
I am getting:
[code]
any idea whats wrong? is it a bug?

* Operating System: mac
* Ethereum client:unit test
* Truffle version (`truffle version`):Truffle v4.1.13 (core: 4.1.13) Solidity v0.4.24 (solc-js)
* node version (`node --version`):v8.11.1
* npm version (`npm --version`): 6.0.1

[2018-07-12 16:25] cgewecke commented on #1100
@moshebeeri

There are several issues here. You are post-fixing `.call` on methods you actually want to 'send' as transactions to the network, writing state to the chain. `.call` runs the transaction locally without persisting state and is useful for retrieving data from a client, or for testing out a transaction before broadcasting it.

More info about this difference  [here](https://ethereum.sta

[2018-07-12 18:30] moshebeeri commented on #1100
@cgewecke

It is not as I expect from a wrapping technology that aims to simplify the development under the mentioned libraries.
1. It is inconsistent that all values are been return from the contract function call accept addresses?!?
2. The fact that web3 is working in some way or another is irrelevant to the issue
3. It is not a solidity knowledge issue (the unit test are been written using Java

[2018-07-13 23:16] cgewecke opened #1102 "Reason string fetching should happen on error (not always)"
It's clear once you run `next` against a test suite of any size that tripling the call overhead for `truffle-contract` is not that great. Two fixes seem necessary:

+ The check for network specified gas values / `auto-gas: off` [here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-contract/lib/execute.js#L39-L40) needs to be moved back before the gas estimate call. This was acc

[2018-07-15 01:00] cgewecke opened #1104 "Use errors rather than logging to report migrations errors"
The current strategy in next only works in the context of verbose reporting. At present if a migrations fails when logging is silent (e.g. the tests) we get no information about what happened.

We need to patch this as stop-gap pending efforts to move all the deployment error reporting over to `truffle-contract`

[2018-07-15 01:04] cgewecke opened #1105 "Restore event watching callback logic"
Support for watching events without websockets / EventEmitter was removed during the `truffle-contract` rewrite. We need to restore that since it's not clear that websockets is robust enough at either web3 or Geth at the moment to rely on it as a default.

Everything works nicely out of the box for ganache but that's not enough.

[2018-07-16 12:57] RomanFro opened #1109 "Error: Method not found"
## Issue

Issue with truffle debugger.

## Steps to Reproduce

`truffle debug <txId>`

## Expected Behavior

Debug of transaction.

## Actual Results

[code]

## Environment

* Operating System: Linux Alpine 3.6
* Ethereum client: Parity 1.8.4
* Truffle version (`truffle version`): Truffle v4.1.13 (core: 4.1.13)
* node version (`node --version`): v8.11.3
* npm version (`npm --version`):  5.10.0

[2018-07-16 19:21] gnidan commented on #1109
Hi @RomanFro, thanks for bringing this up. The debugger doesn't support Parity because it doesn't provide the `debug_traceTransaction` method. Please try using geth instead.

[2018-07-16 19:21] #1109 closed

[2018-07-16 23:56] clesaege commented on #703
It seems to be fixed now. Anyone still having the issue?

[2018-07-17 08:50] LoomiDigital commented on #1086
@cgewecke Hey, I'm also getting this issue when attempting to watch certain variables. Not sure if it's due to the fact that some of the calculations are done from values inherited from another contract.

Do you happen to have any insights into the issue? As it stands I'm finding the debugger unusable.

[2018-07-17 17:02] erickearns opened #1111 "Freshly init'd truffle environment doesn't migrate Migrations contract"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

In the process of troubleshooting a migrations-related issue, I wanted to verify the deployment of the Migrations contract in a completely stripped down truffle environment. A freshly init'd truffle environment fails to properly perform the default

[2018-07-17 19:48] cgewecke commented on #1102
#1112

[2018-07-17 19:48] #1102 closed

[2018-07-17 23:20] cgewecke commented on #1111
Thanks @erickearns . . . will take a look at fixing for the Truffle V5 shortly.

For record keeping this is a duplicate of #777

[2018-07-18 10:33] gnidan opened #1118 "Feature: support Solidity metadata"
`solc` terminates all bytecode output with a CBOR-encoded hash of the metadata, intended for use in contract verification (ref: [documentation](https://solidity.readthedocs.io/en/v0.4.24/metadata.html)). Provided a commonly-used repository containing public contract metadata, wallet software should be able to perform contract verification natively, without relying on (or in addition to) centralize

[2018-07-18 17:10] cgewecke commented on #1111
@erickearns We just published a fix for this to truffle's V5 alpha - `truffle@next`.  I'm going to close this as duplicate but continue to track the issue at #777

[2018-07-18 17:10] #1111 closed

[2018-07-18 17:11] cgewecke commented on #1105
#1114

[2018-07-18 17:11] #1105 closed

[2018-07-18 17:11] cgewecke commented on #1104
#1113

[2018-07-18 17:11] #1104 closed

[2018-07-18 17:54] stefek99 opened #1119 "On Windows, running `truffle` command yields blank - please display a message to use Powershell / GitBash (or display anything at least)"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

https://gitter.im/ConsenSys/truffle?at=5b4f78d98fe2780689c152b2

---------------------------

## Issue

Windows.
`truffle`
In some folders it displays the list of commands.
In actual truffle project, output is completely empty.

## Steps to Reproduce

Get a cheap laptop from Amazon whi

[2018-07-18 19:39] Superjisan commented on #919
@mhlljm I had to disable the antivirus software from my computer to get it to work. You might need to talk to your IT department if you require a password or something

[2018-07-19 00:21] cgewecke opened #1120 "Enable migrations.sol free migrations"
This may be a non-issue after #1115 but it came up twice today (in Slack with Simon De La Rouviere and with the nori team). Lot's of people don't want to use the migrations contract as such, but they do want a place and a formalism for staging deployments. . .

[2018-07-19 02:44] cgewecke commented on #1119
@stefek99 From gitter it looks like you solved this problem:

There's more help for windows users in the docs [here](https://truffleframework.com/docs/advanced/configuration#resolving-naming-conflicts-on-windows)

Closing because docs address this issue.

[2018-07-19 02:44] #1119 closed

[2018-07-19 03:10] cgewecke opened #1122 "Upgrade ganache to 6.1.6"

[2018-07-19 03:17] cgewecke opened #1123 "Add `startStage`, `stopStage` events to migrations reporter"
Idea is that within the migrations file you should be able to tell the reporter to start collecting transaction / gas data for arbitrary web3 calls (like the kind you might make while staging things around your deployments). `stopStage` would trigger the reporter to output accumulated costs & add them to the deployment totals.

[code]

[2018-07-19 03:22] cgewecke opened #1124 "Inject command context info into migrations"
@dillonsvincent Suggested the following would be useful in the `truffle-dev` gitter:

[code]

[code]

This would address #847 and help make Migrations optional for tests without relying on shell environment variables.

[2018-07-19 20:01] haggins commented on #713
Hello guys,
I'm not sure if my issue fits 100% into this topic. Let's see:

I deploy ContractA via truffle and as a result, the contracts artifact contains its address. However, I've got a 2nd contract which is not deployed by truffle but within the ContracA's constructor:
[code]
I prefer this method over single truffle deployments because it's about 1,000,000 gas cheaper (with Ganache - idk why).

[2018-07-19 20:48] igor-dulger opened #1125 "Feature request: Create a log file with transaction details witch we created during testing process"
Nicholas D'Andrea  suggested that I should create this issue, because the idea is good (Berlin DappCon)
---------------------------

## Issue

It would be very useful if truffle after **truffle test** would create a file with all the transactions that were created during testing, for each transactions we will have all the details: hash, inputs, outputs, gas etc
With such the file if a test failed

[2018-07-20 00:05] gnidan commented on #1125
@igor-dulger thanks for following up with this!

Just a quick note: because `truffle test` reverts the blockchain after each `contract()` block, it won't be possible to use this log after-the-fact to debug transactions, at least until we can come up with a strategy to get around this issue.

Regardless, we'll look into prioritizing this. It shouldn't be too difficult, but if you're interested in h

[2018-07-20 00:06] cgewecke opened #1126 "Find elegant upgrade solution for Web3 1.0 number strings"
Problem: Web3 0.x returned numbers as BigNumber (or BN) objects. Web3 1.0 returns them as strings, IIRC they made this change because they thought the lib should be agnostic about how large numbers are managed and strings are common to all the solutions.

Unfortunately this is moderately catastrophic for large existing test suites. Was not enthusiastic about coercing the new outputs back into the

[2018-07-20 11:40] axic opened #1130 "Support local path for soljson.js in the CompilerSupplier"
The benefit here would be for the Solidity project to supply the newly built `soljson.js` library as part of the CI process when testing imported projects, such as: Zeppelin, Gnosis and Augur (the first two use truffle).

Until now we had to resort to manually:
- replacing `node_modules/truffle/bin/soljson.js` (or something like that)
- and replacing the `pragma solidity` lines.

[2018-07-20 11:45] gnidan opened #1131 "Consider using solc-js's `versionToSemver` in CompilerSupplier"
In [`translate.js`](https://github.com/ethereum/solc-js/blob/master/translate.js)

This function ensures that version strings adhere to semver, so that the normal npm semver lib can parse correctly

(@axic suggested this instead of `getCommitFromVersion`)

[2018-07-20 11:56] gnidan opened #1132 "Inform user when downloading solc version"
In case of slow internet or such. Otherwise it just appears to hang.

It'd be nice if there was an output message that indicated something like:
[code]

[2018-07-20 12:05] igor-dulger commented on #1125
@gnidan I'm interested and I thought that I might try to help you by doing it  by myself, if you don't mind. If you give me some guidance where to look, what architecture rules you have and "assign" this feature to me I will implement it. It won't be fast, but I want to do it.

[2018-07-20 12:06] gnidan opened #1133 "Backport `stateMutability` support to 4.x"
#1098 was merged targeting `next`, but it looks like this should be a straightforward cherry-pick.

This might be useful in case solc beats us to releasing this change.

[2018-07-20 12:32] axic opened #1134 "Support for "generic external" compiler"
This has been a discussion with @gnidan with goal of trying to support ewasm contracts written in Rust (in particular the https://github.com/ewasm/ewasm-precompiles) and having the ability to the test them.

It seems like that a good default behaviour in regard to ABI is to assume that if no ABI is supplied then it just accepts the fallback function, e.g. the ABI JSON is as follows:
[code]

This n

[2018-07-20 14:12] kyriediculous commented on #963
This is intended javascript behaviour, though can be a bit annoying.
You can pass the context in arrow functions explicitly as well.
[code]

[2018-07-20 16:42] bellaj opened #1135 "Solidity test : Error: VM Exception while processing transaction: revert"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I am trying to test a contract using a solidity testing contract. everything is ok except when i try to call a payable method i get the error

the function i am calling
` function join2() public payable returns(bool){ return true; } //without any r

[2018-07-20 19:32] bellaj commented on #1135
the error was caused by a bad initialization of the called contract. issue closed.

[2018-07-20 19:32] #1135 closed

[2018-07-20 21:53] cgewecke opened #1136 "Error correctly when deployer.deploy uses deprecated array syntax"
Removed support batch deployments using array syntax because believed no one uses it and it adds complexity to the reporter, but it's being used in the `colonyNetwork` migrations like this:
[code]
and the migrations just hang.

Need to find out why that's not throwing the deprecation error and add a test for this case.

[2018-07-21 00:43] eriklacson commented on #435
I'm getting this error on Ubuntu 16 running geth with an account created in Ethereum Wallet. Account has been unlocked on geth attach and I can even check the balance. Putting 'from: <account>' yields a 'Error: unknown account'

[2018-07-21 04:49] cgewecke commented on #1126
On reflection I'm going to look into how difficult it really is to return BNs from a call. It might not be that bad.

[2018-07-21 04:52] gnidan commented on #1126
Sorry for not getting back to you on this!

I'm on board with returning BN instances if it's not too hard. I think it's better than returning strings, although I expect this might not be very popular.

[2018-07-21 05:11] cgewecke commented on #1126
@gnidan Yeah, there aren't a lot of good choices here. . . we should probably talk about this more. I'll work up a PR and ask Tim what he thinks too.

[2018-07-21 16:21] cgewecke opened #1137 "Investigate variance in default compiler settings (V4/V5)"
Running the colony tests with `@next` makes it seem like there's some discrepancy in the way the optimizer settings are being applied. They have a contract that compiles fine with V4 / 6,700,000 gas but V5 requires explicitly setting the optimizer to true. (using docker 0.4.23)

Either we broke something in the way the settings are applied (or they're not really applied atm?) Not sure.

[2018-07-21 16:29] cgewecke commented on #1086
@LoomiDigital Very sorry for the delay responding.  I think you might be right about storage from inherited contracts being a problem and I believe it's on the roadmap for debugger improvements.

@gnidan might have more insight this.

[2018-07-22 02:16] zhaozhiming commented on #843
Same problem. Have any progress?

[2018-07-22 03:10] zhaozhiming commented on #843
@freshonline I find the problem reason. I think you make the same mistake like me.
Your token contract is `0x1232e0aa7a542b1daeabd4890a4566286a621d02`, not the `0x4222ed30cfe1417b23a83130059476dd4b2f8a65`.
You can find your rinkeby token here: https://rinkeby.etherscan.io/token/0x1232e0aa7a542b1daeabd4890a4566286a621d02.
It's perfectly no problem.

[code]

[2018-07-22 14:55] stefek99 commented on #1119
You are right.

There are docs.

It was just me who wasted some time.

New, cheap, travel laptop. Is `node` installed? Is `npm` in the path? Is it `cmd` or some console emulator?

[2018-07-23 00:21] cgewecke commented on #1130
@axic At the moment I think this *is* supported for npm installed solc - the relevant code is [here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-compile/compilerSupplier.js#L142-L154). It pulls `solc` in via a `require` modified to be web-packable. Does this work for your case?

Usage:
[code]

[2018-07-23 04:41] cgewecke opened #1142 "Upgrade web3 to beta 35"
`beta 33` is missing a method `web3.eth.getNodeInfo` (which aliases `eth_clientVersion`)

[2018-07-23 08:38] sweatyc commented on #825
I had this error too and it turns out nothing to do with gas, it's my ERC721 token contract didn't implement the contractor of the ERC721Token correctly...

I flatten the contracts and put it into remix, it did show me the problem.

[2018-07-23 09:42] evgen-povt commented on #593
@cgewecke
I bumped into the issue again.
I added more logs in the file `solc-js/wrapper.js`
and found out that the variable `solcStandardInput.sources` from `truffle-compile/index.js` contained a duplicates.
The first record had the absolute path and compiled successfully.
And the second one had a relative path - here the compilation failed.

I temporary fixed solc-js to search relative paths in a

[2018-07-23 12:06] boyangwang commented on #763
Any workarounds at the moment?

[2018-07-23 13:37] prographo commented on #763
I just used remix to deploy.

[2018-07-23 16:13] igor-dulger commented on #1125
I think json should look like this

[code]

[2018-07-23 19:09] cgewecke commented on #593
@evgen-povt Thanks for pinging this. What version of truffle are you using? Is there any way you can give me a way to reproduce this duplicates  relative/absolute case? I'd really like to make sure that's not happening.

[2018-07-24 06:32] evgen-povt commented on #593
@cgewecke I have found out the issue. It was on my side.

Here is my situation:
I have 3 contracts: A, B and C.
A imports B, and B imports C.
But there was small issue: A imported B as
```import "contracts/B"```
instead of
``` import "./B"```

Although A was compiled successfully the compilation failed on the contract B with message that the B couldn't import C.

The only issue of Truffle is: why

[2018-07-24 15:13] fubuloubu opened #1144 "Integrate Vyper"
## Issue
Vyper is in beta now. Would be great to have an integration for Truffle!

## Expected Behavior
Compile Vyper contracts using the vyper docker image or snap

[2018-07-24 19:02] cgewecke commented on #1144
@fubuloubu Awesome! Are you guys publishing to `docker.hub` soon? The  [ethereum/vyper](https://hub.docker.com/r/ethereum/vyper/tags/) repo there is empty . . .

Note to self - the snap installation line is:
[code]

[2018-07-24 19:32] fubuloubu commented on #1144
Yeah, we just fixed that snap install in our documentation haha.

I will loop back on docker hub. Wasn't aware that wasn't being updated

[2018-07-24 19:37] Pet3ris opened #1146 "Truffle-debugger does not load default export 'Debugger' in Typescript"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle-debugger doesn't seem to load as a default export in typescript.

## Steps to Reproduce

I'm leveraging a working typescript example project from 0x:

[code]

Then I'm following the instructions in this repository by including the following

[2018-07-24 19:43] Pet3ris commented on #1146
The correct solution was to use `import Debugger = require('truffle-debugger');`.

[2018-07-24 19:43] #1146 closed

[2018-07-24 22:45] ldub opened #1147 "Truffle test fails when defining Array.prototype function"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

`node_modules/.bin/truffle test` fails when defining an `Array.prototype.someFunction`

## Steps to Reproduce

Full repro repo here: https://github.com/ldub/truffle-bug-repro/

1. Use node 10 and npm 6
2. Add the following code to a javascript test

[2018-07-25 09:17] dshm commented on #1051
I have same issue

[2018-07-25 13:41] chenweiyj opened #1149 "TypeError: this.parent.titlePath is not a function"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I met a problem `TypeError: this.parent.titlePath is not a function` when I running `truffle test`.
It seems a mocha Error. But I cannot solve it.

## Steps to Reproduce

Running `truffle test` command and it shows out.

## Expected Behavior

It sh

[2018-07-25 16:02] cgewecke commented on #1137
#1141

[2018-07-25 16:02] #1137 closed

[2018-07-25 16:07] cgewecke commented on #1149
@chenweiyj  This is a weird mocha bug that comes from mixing versions of mocha - v3 is not compatible with v4.  We need to investigate how Mocha 3.5 is getting into the build - this should be happening since `4.1.11`

[2018-07-25 16:13] cgewecke commented on #1147
Hi @ldub 👋

Wow weird! Will investigate although this is quite strange. Out of curiosity if you use lodash or another utility that has an array `zip` method does everything work? This is something about overloading the `Array` prototype?

Also do you have an insight about how webpack might be the culprit here? The tests are passed to Mocha - that seems like another candidate.

[2018-07-25 16:14] cgewecke commented on #1136
#1139

[2018-07-25 16:14] #1136 closed

[2018-07-25 16:14] cgewecke commented on #1126
#1138 (Still need to fix events)

[2018-07-25 16:14] #1126 closed

[2018-07-25 16:15] cgewecke commented on #1122
#1140

[2018-07-25 16:15] #1122 closed

[2018-07-25 16:22] cgewecke commented on #1142
`beta 34` also:
+ sets the status field to boolean instead of returning `0x00` / `0x01`
+ breaks our error handling (because it stopped emitting a receipt on tx revert).
+ breaks method layer confirmations for reasons that are still a mystery. The confirmations are emitted but the `number` param passed to the event isn't incremented.

[2018-07-25 16:43] cgewecke opened #1150 "Fix `truffle watch`"
[code]

On OSX, possibly others, originating in `chokidar`

[2018-07-25 17:47] gnidan commented on #1150
Proposal: we just remove this command (#1151 does this), and instead, we add a `--watch` flag:

- `truffle compile --watch` to recompile on changes
- `truffle test --watch` to rerun tests on changes

WDYT?

[2018-07-25 17:53] cgewecke commented on #1150
@gnidan Yes sounds good.

[2018-07-25 18:52] ldub commented on #1147
Definitely not using lodash and the bug can be reproduced with any identifier, not just zip:

[code]

As for why I suspect webpack
* `ldubFunc` does not overload anything
* `ldubFunc` is never called
* webpack supports transpiling and stack trace contains webpack in  `truffle/build/webpack:/~/event-pubsub/es5.js:74:1`
* actual error is at `at Client.Array.ldubFunc (/Users/lev/dev/truffle-bug-repro

[2018-07-25 23:35] XertroV commented on #596
@swader - your problem is obfuscated via the (terrible) Promise pattern of .then chaining.

If you write this in async/await syntax the problem is somewhat obvious.

your first code was equiv to

[code]

Anyway, the problem is generally the same as above: passing in an unrecognised object instead  of a value (like string, number, BigInteger, etc)

[2018-07-26 02:57] JoyCood commented on #684
when i run this comment `truffle migrate --reset` for deploy a smart contract,  but get the error message below:
truffle version: Truffle v4.1.13 (core: 4.1.13)
os: macOS Sierra  10.12

`192:client-server knight$ truffle migrate --reset
Compiling ./contracts/c1.sol...
Writing artifacts to ./build/contracts

Using network 'development'.

Running migration: 1_initial_migration.js

/usr/local/lib/nod

[2018-07-26 10:33] FahdLihidheb commented on #787
what is mean by reinstalling the project ?
i deleted the project that i am working on ( pet-shop tutorial ) and cloned ( pet-shop-box ) and nothing changed.
and where should the global Truffle files be ?

[2018-07-26 14:30] aleybovich opened #1153 "Passing error messages from `require` down to the client in truffle-contract"
- [ x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

There is no way of getting the actual error message when a `require`  statements throws.

## Steps to Reproduce

Have a contract that throws in `require` with an error message, like

[code]

## Expected Behavior

The error message that the client

[2018-07-26 16:49] cgewecke commented on #1153
@aleybovich This has been implemented in Truffle V5, which we're planning to release in beta shortly. You can preview it by installing truffle at the `@next` tag and there is a draft release notes with detailed instructions open as a PR [here](https://github.com/trufflesuite/truffle/pull/1129). Checkout the `web3 1.0` section for more detail about reason strings.
[code]

There's another issue abou

[2018-07-26 16:56] cgewecke commented on #976
Small update: - `truffle@next` contains reason string handling and it seems to be working ok based on some early experimental use over at EthPM and Colony. There is a draft release notes open as a PR [here](https://github.com/trufflesuite/truffle/pull/1129) with instructions and info about breaking changes to `truffle-contract`.

We're getting ready to release a beta soon - @next is an unstable pr

[2018-07-26 17:49] gnidan commented on #1134
@axic Are you content to use JS testing for this? Things are getting tricky trying to get Solidity testing working with external compilers; I'm wondering whether or not this is a priority to fix.

[2018-07-26 18:48] kiiruha commented on #43
Hi, please explain to me, how to deploy the contract if one of the parameters of its constructor is the address of the previous contract.

[2018-07-26 18:54] cgewecke commented on #1153
@aleybovich I'm using it right now to write the tests for a package registry at EthPM [here](https://github.com/ethpm/escape-truffle). And Colony has PR open upgrading to it. That said I wouldn't describe it as "stable" and there are various small bugs still to work out.

Also contains significant breaking changes in `truffle-contract` - returning BN instead of BigNumber is the main one.

Obviousl

[2018-07-26 20:33] danielfx90 opened #1154 "Allow default network configuration"
## Issue

Current default network name is hard-coded to `development`, which may collide with the naming convention for the homologous remote environment. It would be nice to be able to override this default, maybe by placing a `defaultNetwork` option in `truffle.js` file.

## Steps to Reproduce

Declare a `development` network configuration in the `truffle.js` file and run `truffle console`.

##

[2018-07-26 20:58] gnidan commented on #1154
@danielfx90 I'd definitely consider this. Please feel free to open a PR!

[2018-07-26 21:00] gnidan commented on #1154
Note though: there's a couple "default" networks:
- `"develop"` for `truffle develop`
- `"test"` for `truffle test`
- `"development"` for migrate / catch-all

It might be worth taking this into account when deciding on the config params.

[2018-07-26 21:19] axic commented on #1134
Yes I would still be very happy to use truffle for this.

[2018-07-26 22:29] gnidan commented on #1134
@axic Excellent! This work is coming along nicely in #1148, nearly ready-for-review. I've had to adapt the config you specified a bit. What do you think of this:

[code]

In this example, you'd define a script `process-wasm-output-to-artifact` that would read each matching `*.wasm`, piping to your script as stdin, and your script would print JSON to stdout that conforms to the Truffle artifact for

[2018-07-27 00:16] danielfx90 commented on #1154
@gnidan Sounds great! We'll open a PR at @wibsonorg as soon as we meet our next deadline.

[2018-07-27 09:21] kyriediculous commented on #976
Cool ! I will check it out over the weekend and report my findings! Many thanks.

[2018-07-27 10:44] hotsiam opened #1156 "Error: RiskxTokenSale contract constructor expected 1 arguments, received 0"

[2018-07-27 10:49] #1156 closed

[2018-07-27 17:39] axic commented on #1134
If possible I'd propose to have both:

Either `command` is specified (and nothing else is allowed) and it generates the artefacts:
[code]

Or what the original proposal was:
[code]

I still think this is generic enough and doesn't put a lot of stress on truffle, while in the majority of external cases this is exactly what the script has to do.

[2018-07-27 17:55] gnidan commented on #1134
@axic so I'm hesitant to add specific fields to that target object, because I think it constrains the external compilation to that specific use case. I'd like to address your requirement though, of not having to write a script. What do you think of this proposal for a target object:

[code]

This way, the artifact can be built in a generic way, without needing to add additional fields later as the

[2018-07-27 18:48] axic commented on #1134
Isn't this proposed layout pretty much the same but with different field names? Is the benefit that this matches the layout of the artifact file? :)

So
- 1) if no `path` is specified it just runs the script (and in this case practically the user would only have a single array entry to `targets`),
- 2) if `path` is specified the content of that is put onto stdin.

For case 2) I have a couple of qu

[2018-07-27 18:54] gnidan commented on #1134
Yep exactly. This way there's no need to maintain _specific_ allowed fields, it's just "this object is used to populate the artifact directly".

Yep, it's just gonna shell-out to that command, with the contents at `path` piped as stdin. If you want your script to do `./scripts/process <path>` (instead of stdin), well, there's always: `command: "xargs ./scripts/process` :)

Ah shoot, good point. I

[2018-07-27 19:07] axic commented on #1134
I like it. I guess it also means that if the artifact format changes, this will change too.

Does that mean for glob match each of the individual files are passed one-by-one to the command?

[2018-07-27 19:19] gnidan commented on #1134
Correct, although hopefully the basics like `contractName` / `abi` won't change.

Yep, so Truffle does the glob-expansion, rather than having the shell do it.

[2018-07-27 22:02] gnidan commented on #1134
@axic I updated this a bit, renaming `paths` in the properties example to (hopefully more clear) `fileProperties`. See this [Configuration Example](https://github.com/trufflesuite/truffle/blob/d6b957ba9d7a7468de3559bf5e387e9b2e483b06/packages/truffle/test/sources/external_compile/truffle.js#L2-L22)

[2018-07-27 22:42] axic commented on #1134
Looks great! I guess it will need some explanation / tutorial / guide to make the most out of it :)

[2018-07-27 22:52] gnidan commented on #1134
@axic I'm going to be away next week so I might not have time to follow-up. When I get back I'll make a real README. In the meantime, I just published NPM tag `external-compiler` if you want to start trying this out:
[code]

Let me know if you make any headway. Thanks!

[2018-07-27 23:12] axic commented on #1134
Oh, is the `abi` still optional? If optional default to the single fallback function?

[2018-07-27 23:13] axic commented on #1134
Also do I need to keep `truffle.js` and `truffle-config.js` in sync?

[2018-07-27 23:15] axic commented on #1134
I've tried this but it doesn't seem to be picking it up:
[code]

[2018-07-27 23:17] axic commented on #1134
Never mind, seems like my reinstall command failed. Now I am on the correct one:
[code]

It seems to be working.

[2018-07-28 09:22] robertbob987 opened #1157 "Deploy simple ERC20 token and simple Crowdsale contract into ropsten network with locally installed Truffle, but received this error: The contract code couldn't be stored, please check your gas amount"
I am trying to deploy simple ERC20 token and simple Crowdsale contract into ropsten network with locally installed Truffle, but received this error: The contract code couldn't be stored, please check your gas amount
`truffle migrate --reset --network ropsten
Using network 'ropsten'.

Running migration: 1_initial_migration.js
  Replacing Migrations...
  ... 0x0ff37e7ba5a0eb4f8600984db8ba13fac80f5e6

[2018-07-30 07:41] piggyman007 commented on #558
@SumitRajpal

thanks, your working around works

[2018-07-30 13:47] AndyWatt83 commented on #703
I still see this occasionally. I've not been able to reliable reproduce.

[2018-07-30 14:14] clesaege commented on #703
Yeah, this came back to me once. Now it seems to appear randomly (before it was systematic).

[2018-07-30 15:38] gnidan commented on #1134
@axic that second file exists for Windows users, where running `truffle` in a project directory by default executes `./truffle.js` instead of the node_module binary. Feel free to delete one or the other. (Note there's an issue for standardizing on only one, but it's up in the air - feel free to weight in at #895)

[2018-07-30 16:53] axic commented on #895
Two alternative suggestions:
- `truffle/config.js`
- `truffle.config.js`

Does any of that clashes with Windows?

[2018-07-30 22:48] gus-canya commented on #825
In case someone stumbles upon here.

I was trying to migrate with zeppelinOS:

[code]

This truffle-config.js worked for me:

[code]

[2018-07-31 00:26] Pneumaticat commented on #1109
Does that mean it's impossible to debug contracts on Kovan, a Parity-only network? Is there an alternative way to debug the transaction?

[2018-07-31 03:13] bmmpxf commented on #895
@axic Both of those would be fine. The conflict is with the `truffle.cmd` file, the script that runs all of the Truffle commands. On Windows, `.js` has priority over `.cmd` by default when the extension isn't specified and both are on the path.

[2018-07-31 17:33] cgewecke commented on #1157
@robertbob987 Just scanning the code, one thing I see that might be a problem is the way you're passing the `rate` in. In JS the maximum integer is:
[code]
Your rates are:
[code]
You might try using web3's `toWei` methods to convert the value you want into a BigNumber first before passing them in.

Also:
+ try searching the Truffle issues for migrations and crowdsale threads - problems with start

[2018-07-31 17:33] #1157 closed

[2018-07-31 17:39] cgewecke opened #1159 "Use `noVMErrorsOnRPCResponse` as default setting for built-in ganache"
This will produce a nicer error message that contains the tx hash.  People will be able to modify their tests to run a single contract suite using the `.only` prefix, grab the hash out of the error and pull up the debugger.

[2018-07-31 18:20] okwme commented on #852
+1

[2018-08-01 02:27] alacret commented on #896
Make sure you have the Migrations.sol and that the name of the contract is the same as the name of the file, that solved the issue for me.

[2018-08-01 09:16] vauvenal5 commented on #912
@Arvanaghi can you please describe what the issue was? I am discovering the same problem. When running "truffle test" all tests pass and in the end the error message is thrown. If I run them in "truffle develop" everything is fine, also when I configure a network in truffle.js they pass without any issues.

@cbruguera did you find the issue?

[2018-08-01 15:53] Grapefruit19 opened #1161 "Events across multiple contracts do not display in transaction receipt"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Events across multiple contracts do not display in transaction receipt

## Steps to Reproduce

Please see this repository for test code and reproduction steps:

https://github.com/Grapefruit19/ethereum-event-bug

## Expected Behavior

When one cont

[2018-08-01 17:04] anxolin opened #1162 "Contract name collisions on truffle projects"
## Issue

Error compiling a contract that depends on two different truffle projects, if these dependency projects have a contract with the same name.

## Steps to Reproduce

Follow the steps in:
https://github.com/anxolin/truffle-dep-error

In the example I try to compile `CoolApp` contract that depends on `DepA` contract (in `./depA` project), and `DepB` contract (in `./depB` project).

`DepA` de

[2018-08-01 19:41] cgewecke commented on #1161
Hi @Grapefruit19 we're tracking this issue at #555. That thread also [links](https://github.com/trufflesuite/truffle/issues/555#issuecomment-404204133) to some small utilities that should help to get around this limitation.

Closing as duplicate of #555

[2018-08-01 19:41] #1161 closed

[2018-08-02 10:28] haraldini commented on #852
+1

[2018-08-02 11:39] danielCommitted commented on #852
+1

[2018-08-02 12:12] haraldini commented on #852
v4.1.13

[2018-08-02 18:38] cgewecke opened #1164 "web3 `getPastEvents` failing on geth:latest"
Needs investigation.

[2018-08-02 18:41] cgewecke opened #1165 "Reformat event numbers as BN"
Companion to #1145

[2018-08-02 19:00] cgewecke commented on #1164
annnnnnd.....it [stopped failing](https://travis-ci.org/trufflesuite/truffle/jobs/411415105#L1437) of its own accord. Thanks geth.

[2018-08-02 19:00] #1164 closed

[2018-08-02 22:31] ProphetDaniel commented on #700
This problem is still happening with latest version on windows.

[2018-08-03 11:45] roma-glushko commented on #463
The same issue for running truffle serve installed on level of project (not globally):

### Docker container with:
- Based on Image:
**node:8.0.0-alpine**
- Truffle Version:
Truffle **v4.1.13 (core: 4.1.13)**
Solidity **v0.4.24 (solc-js)**

### OS X
- System Version:
**High Sierra 10.13.3 (17D47)**
- Node Versions:
**v8.11.3**
- Truffle Version:
Truffle **v4.1.13 (core: 4.1.13)**
Solidity **v0.4.2

[2018-08-03 20:46] EdsonAlcala commented on #500
I have seem Jest and I like the Immersive Watch Mode approach, is there a way to do that in truffle or mocha?

[2018-08-04 00:00] cgewecke commented on #1165
Fixed in `next.7`

[2018-08-04 00:00] #1165 closed

[2018-08-04 00:00] cgewecke commented on #1159
`next.7`

[2018-08-04 00:00] #1159 closed

[2018-08-04 00:02] cgewecke commented on #1123
This was implemented as `startTransaction`, `endTransaction` in `next.7`

[2018-08-04 00:02] #1123 closed

[2018-08-04 11:48] haggins opened #1170 "myContract.MyEvent() doesn't accept filter options"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
`let myFilter = myContract.MyEvent({ fromBlock: x, toBlock: y })` doesn't work as both properties stay undefined when I inspect `myFilter`.

According to [this issue](https://github.com/trufflesuite/truffle-contract/issues/117) it should work.

## S

[2018-08-05 07:37] stefek99 opened #1171 "When running Truffle tests unable to call a derived method with a different number of arguments."
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue [here](https://gitter.im/ConsenSys/truffle?at=5b66a67c5d1362758b34ed67) and once more previously, cannot find too much to scroll.

---------------------------

## Issue

Testing.
ABI.
Derived class.
Cannot call the method in the derived class.

## Steps to Reproduce

#### Base.sol

[code

[2018-08-05 17:59] cgewecke commented on #1171
Hi @stefek99.

This is supported in the Web3 1.0 version of `truffle-contract` which will ship with Truffle V5. You can check out a prerelease of that by running:
[code]
Usage notes can be found at PR #1129 (see the Web3 1.0 section). NB: there are some breaking changes. ...

The syntax for function overloading is:
[code]

Duplicate of #737.

[2018-08-05 17:59] #1171 closed

[2018-08-05 18:10] cgewecke commented on #1170
@haggins We're migrating to Web3 1.0 with Truffle V5 and it looks the filter implementation there is more reliable - have had good luck with the `.getPastEvents` method and we have some tests and example usage for that [here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-contract/test/events.js#L118-L143)

You can install a pre-release of V5 by running:
[code]
Usage notes are

[2018-08-05 18:10] #1170 closed

[2018-08-05 18:12] cgewecke commented on #1149
@chenweiyj I wasn't able to reproduce this locally. . . it may be a quirk of how truffle installed on your machine / in your project. The upshot is that mocha versions can't conflict so if you see this error run
[code]
and try makes sure that you're using Mocha 4 or above.

Closing for now but please ping if anyone continue to have this problem and there's a clear reproduction path.

[2018-08-05 18:12] #1149 closed

[2018-08-06 08:58] cbruguera commented on #912
Apologies, I haven't been able to reproduce the error. And I can't recall right now what was the truffle-js file that was being used at the time (I'm working on multiple different projects). Since in my latests test runs I haven't seen this error, I'll regard it as "fixed" for me.

I'll give notice in this thread in case I see the error again.

[2018-08-07 02:37] chenweiyj commented on #1149
Yes, in node v6 it only supports mocha 3.5.3. By using node v8, it is solved, and I can use mocha 4 now.

[2018-08-07 13:06] Freyert commented on #1142
May I propose `beta 35`? It includes a fix that allows for websocket communication with basic auth headers.

[2018-08-07 18:21] cgewecke opened #1172 "Error: Attempting to run transaction which calls a contract function"
~~Not sure where this originates, probably web3.~~ Looks like this is a ganache error that's [under investigation](https://github.com/trufflesuite/ganache-core/pull/119).
[code]

This seems to be thrown when you inherit from an abstract contract and forget to implement one of its methods.

[2018-08-07 22:18] cgewecke commented on #1149
@chenweiyj Ah thanks! That's helpful.

[2018-08-07 22:25] cgewecke commented on #1142
@Freyert Yes definitely - thanks for suggesting. Might be a little bit before this happens though because some of the changes in 34 (especially the way the receipt is withheld on error for standard clients) are a little problematic for `truffle-contract`.

[2018-08-09 01:24] gnidan opened #1176 "Release: v5"
Stuff left out of the beta but must be done before full release:

- [ ] New feature documentation
  - [ ] BYOC
    - [ ] Use cases (see #1129 / release notes)
- [ ] Outdated documentation
  - [ ] Web3.js v1.0
    - [ ] Number output - `string` vs. BN.js vs. BigNumber.js, configuring, etc.
 - [ ] Revert #1151, which removed `build`/`serve`/`watch` from Truffle v5

[2018-08-09 14:17] karapish opened #1177 "How to use {privateFor:['...']} in truffle-contract package (Quorum)"
Truffle deployment scripts can gracefully deploy private contracts and issue **private** transactions. I would like to reference truffle-contract npm package in my nodejs service to emit private transactions as well. Unfortunately, I am getting errors while invoking a function of my private contract, e.g. myContract.myFunc(params, {privateFor:['..']}). I can't find any example here explaining how

[2018-08-09 16:21] cgewecke commented on #1177
@karapish There's a Quorum tutorial [here](https://truffleframework.com/tutorials/building-dapps-for-quorum-private-enterprise-blockchains), that contains a number of examples of `privateFor`.

Your syntax looks correct to me, what is the error?

[2018-08-09 19:11] karapish commented on #1177
The call with privateFor never returns. It just hangs. When I call a function from JS then Quorum's log on the submission node contains the following spew

INFO [08-09|18:59:57] sent private tx                               data=69da2463f186....
INFO [08-09|19:03:06] sending private tx                       data=e7c890f800....
-----END-----

But when I call the same function directly from truffle

[2018-08-09 19:17] cgewecke commented on #1177
@karapish To be clear when you say: `call the function from JS` you mean call it using Web3 from the geth console?

Could you show your `truffle.js`?

[2018-08-09 19:25] karapish commented on #1177
I can share truffle.js but my deployment works absolutely fine. I can successfully call
myContractInstance.myFunction(10, {privateFor:["key of node at port 22001"])};

module.exports = {
  // See <http://truffleframework.com/docs/advanced/configuration>
  // to customize your Truffle configuration!
  networks: {
    development: {
      host: "127.0.0.1",
      port: 9545,
      network_id: "*"

[2018-08-09 19:42] cgewecke commented on #1177
@karapish

Are you actually `await`ing it? Is that missing as a typo?
[code]

[2018-08-09 19:50] karapish commented on #1177
Yes, I have await in front of it.

[2018-08-09 20:02] cgewecke commented on #1177
@karapish Ok hmmmmmm. One thing that the commands do is set some default values for tx params including `gas`, `gasPrice` and `from`. Maybe setting those explicitly in the Node script (using an unlocked account address for `from`)?
[code]

[2018-08-09 20:05] karapish commented on #1177
Yes, there must be something you guys do to make private tx work during the deployment. I also that that it's the gas price. Similar to what https://github.com/web3j/quorum/blob/defe1af8f0cca87200454903aaf08007124dec8a/src/main/java/org/web3j/quorum/methods/request/PrivateTransaction.java#L22 these guys are doing.

Can you point to the code in truffle which does account unlocking and gas price ove

[2018-08-09 20:15] cgewecke commented on #1177
@karapish Truffle doesn't do anything specific to unlock accounts - that has to be done on the client. Truffle fetches accounts using: `await web3.eth.getAccounts()`. You can set those per transaction in the same options object that contains the `privateFor` on the `from:` key.

[2018-08-09 20:36] karapish commented on #1177
It works now!
function makeOptions(from, privateFor) {
    return {from: from, privateFor: privateFor, gas: 900000, gasPrice: 0};
}

[2018-08-09 20:37] cgewecke commented on #1177
@karapish Sweeet! Nice job. Closing.

[2018-08-09 20:37] #1177 closed

[2018-08-09 20:42] lychees commented on #237
+1

[2018-08-10 05:11] TinyCalf opened #1180 "Error Revert when call a function between contracts"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
when i calling a contract function that contains calling another contract, it will always throw this error
Error: VM Exception while processing transaction: revert

## Steps to Reproduce
here are the core functions of the two contracts,i deployed th

[2018-08-10 13:24] djudjuu opened #1181 "scripts won't exit in 4.1.13"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
When running truffle scirpts (e.g. 'truffle compile' or 'truffle networks') the script runs, but does not exit. This is annoying as it is impossible to use truffle scripts in pipelines such as npm's "prepublish"

## Steps to Reproduce

- run truffle

[2018-08-10 16:41] cgewecke commented on #1181
Hi @djudjuu.

Can you show your `truffle.js`? There was a change in the `hdwallet-provider` a couple months ago that makes it critical to wrap it in a function, as shown in the docs [here](https://truffleframework.com/docs/truffle/reference/configuration#providers). If this isn't done it automatically connects to a network and leaves an interval timer open that prevents the script from exiting cor

[2018-08-10 16:53] cgewecke commented on #1180
@TinyCalf Could you show everything else around these failures? For example: how is A deployed? How do you get that address into B's contract? Please provide a link to a working reproduction of the bug or complete reproduction steps.

There's Solidity code in the contracts you've provided that's not correct and/or mocked in:
[code]

[2018-08-10 21:11] djudjuu commented on #1181
spot on. that fixed it!

[2018-08-10 21:11] #1181 closed

[2018-08-11 07:42] yyd106 commented on #677
@faizanahmad055 Hi I faced same issue. And the solution is to replace 'Migrations.sol' with solidity 0.4.23 version
[code]

[2018-08-11 12:48] KamesCG commented on #476
When I was deploying TCR contracts (https://github.com/skmgoldin/tcr) I also was given this error.

To silence the ~violence~ error I simply commented out the gas settings in the `truffle.js` config file.

[code]

[2018-08-11 21:52] cliffhall commented on #596
In my case, I was taking the result of one contract method and passing it as an argument to another. What I didn't realize was that the result coming back from that first method was a TRANSACTION not the uint that it was supposed to return. I'm now baffled about how to test these contracts from JS if the values they're supposed to return aren't returned to me.

[2018-08-11 22:48] gnidan commented on #1134
This has been merged into `next` and released on `truffle@5.0.0-next.8`

Please try it out and let me know of any problems. Thanks!

[code]

[2018-08-11 23:10] axic commented on #1134
Great, I get a message during deployment now:
[code]

I guess the "gas limit" refers to "block gas limit" here?

[2018-08-12 02:31] birutavideo commented on #787
It seems that this issue is related to [naming conflict](https://truffleframework.com/docs/truffle/reference/configuration#resolving-naming-conflicts-on-windows) in Win env.
Try moving/renaming **truffle.js** in project root dir to truffle-config.js. This works for me.

[2018-08-12 15:25] daithi-coombes commented on #1062
I am having the same issue.

underTest:
[code]

test suite:
[code]

Also seems my error is happending before the test cases are called:
[code]

[2018-08-12 15:51] seesemichaelj commented on #1062
@mushketyk what version of Ganache CLI are you using? v6.1.5 introduced a similar error that got fixed in v6.1.6

@daithi-coombes same for you; are you using Ganache/ganache-cli in the loop? If so, Is it v6.1.5?

[2018-08-12 15:57] daithi-coombes commented on #1062
Using `v6.1.6`

Here's my stack:
[code]

[2018-08-12 16:39] cgewecke commented on #1062
@daithi-coombes Does setting the `initialBalance` value lower fix this error? Ganache initializes accounts with 100 ether and the entire amount is being sent to the Solidity test for use within that context.

Ex:
[code]

[2018-08-12 21:12] sebasgoldberg opened #1182 "Truffle Deploy Limitation"
## Issue

I made a simple test in Remix to check if cycle dependencies between libraries are supported, and works like a charm.
When I tried to replicate the exact behavior using Truffle, there is an error when I execute `truffle migrate --reset`
The error is the following: "Error: TestLib contains unresolved libraries. You must deploy and link the following libraries before you can deploy a new v

[2018-08-12 23:52] #1182 closed

[2018-08-12 23:53] sebasgoldberg commented on #1182
Sorry, I was wrong.

The code compiles, but it is not possible to deploy.

[2018-08-13 01:07] karapish opened #1183 "Truffle console throws for web3.eth.mining status"
Hello. After I am logged in to truffle's console and then type in _web3.eth.mining_ to inquiry the status it throws the following

truffle(REGULATOR)> web3.eth.syncing
false
truffle(REGULATOR)> web3.eth.protocolVersion
'0x3f'
truffle(REGULATOR)> web3.eth.coinbase
'0x978a347c8abcf88b1facdf04664669c3ad0f3b75'
truffle(REGULATOR)> web3.eth.mining
**Error: The method eth_mining does not exist/is not av

[2018-08-13 11:05] SwJay opened #1184 "[Proxy] truffle init or unbox fail, cause=connect EINVAL"
## Issue
`truffle init` or `truffle unbox` fails for tunneling socket, arised from connect EINVAL.

## solution
It's solved. I'm behind a proxy, and set the config of *proxy* and *http-proxy* in npm correspondingly. However, truffle goes via the environment variable *HTTP_PROXY* and *HTTPS_PROXY* which I haven't set. After setting environment proxy, quizzles solved.

[2018-08-13 16:46] john-osullivan commented on #494
Another confirmation for the pile -- saw the same bug, fixed it by naming the event params.

[2018-08-13 19:25] cgewecke commented on #1184
@SwJay Thanks for opening this with the solution, should be helpful. This is similar to #766.

Closing as duplicate.

[2018-08-13 19:25] #1184 closed

[2018-08-13 19:26] cgewecke commented on #1180
@TinyCalf Closing for housekeeping - please ping if you need further help with this.

[2018-08-13 19:26] #1180 closed

[2018-08-13 19:26] cgewecke commented on #1183
@karapish What client are you using?

[2018-08-13 21:04] karapish commented on #1183
@cgewecke Please advise on what you exactly mean by 'client'. Maybe you meant the version of truffle?

[2018-08-13 21:14] cgewecke commented on #1183
@karapish Apologies, ethereum client e.g geth? ganache-cli? parity?

[2018-08-13 21:16] karapish commented on #1183
Quorum from Azure's marketplace. https://azuremarketplace.microsoft.com/en-us/marketplace/apps/enterprise-ethereum-alliance.eea-single-member?tab=Overview

[2018-08-13 21:33] cgewecke commented on #1183
@karapish I guess they don't implement it, not sure why. Just tried running the console vs. `geth v1.8.2` in dev mode, auto-mining with `dev.period=1`  and it worked:
[code]

[2018-08-13 22:48] eduardonunesp opened #1189 "Truffle init --force, please"
## Issue

When run `truffle init` on a directory that already exists `truffle` gives an error.

```Something already exists at the destination. `truffle init` and `truffle unbox` must be executed in an empty folder. Stopping to prevent overwriting data.```

## Steps to Reproduce

`yarn add truffle`
`yarn truffle init`

## Expected Behavior

Truffle should have an option `--force`, to force the cre

[2018-08-14 02:19] Axe-Usa opened #1191 "left-pad bug ubuntu 16.04"
Error: Cannot find module 'leftpad'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/home/omar/Descargas/bitconyellow-token-master/test/solidity-helper.js:3:16)
    at Module._compile (module.js:571:32)
    at Object.Module._extens

[2018-08-14 15:30] cgewecke commented on #1191
@Axe-Usa Looking through your stack-trace it seems like the problem might originate in a helper library you're using...
[code]
What happening at that line? Does running `npm install --save left-pad` make this error go away?

[2018-08-15 16:16] cgewecke commented on #1191
@Axe-Usa Closing for house-keeping. Please ping if you (or anyone else) sees this and it coming from Truffle.

[2018-08-15 16:16] #1191 closed

[2018-08-15 16:17] cgewecke commented on #1183
@karapish I'm going to close because it looks like this a quirk of the Quorum client implementation. Thanks for raising this.

[2018-08-15 16:17] #1183 closed

[2018-08-15 16:18] cgewecke commented on #1189
@eduardonunesp Yes this is a very reasonable suggestion. . . thanks for proposing.

[2018-08-15 20:00] benjamincburns commented on #729
@cgewecke & @barakman & others having this issue: I haven't dug into this too deeply, but my guess is that either Truffle or the tests in question are creating new instances of `provider` very frequently.

Optimal resource management would be to take advantage of HTTP keep alive by reusing provider instances between tests rather than recreating them.

I can say from experience that sending `Connec

[2018-08-15 20:25] cgewecke commented on #1142
@Freyert This is shipped with`next.9` and hopefully from here on out we'll be able to bump web3 easily whenever they make improvements.

[2018-08-15 20:25] #1142 closed

[2018-08-15 21:29] cgewecke commented on #729
@benjamincburns Yes, it turns out this originates at web3 and they're fixing it in `beta.36`.

(It was keep-alive - the [change](https://github.com/ethereum/web3.js/pull/1753/files)).

[2018-08-16 08:32] LiorRabin opened #1194 "Cannot use .catch on Contract.at(...) function"
See:
https://github.com/trufflesuite/truffle/blob/80d2afab45c9e16e1c73d99170daa46601dd1d02/packages/truffle-contract/contract.js#L422

If there's an invalid address than have to use try-catch block in order to not cause an `UnhandledPromiseRejectionWarning`

[2018-08-16 15:54] lrettig commented on #1134
I noticed that my Wasm bytecode is correct inside the contract artifact JSON but it's being mangled inside `Migrations.json`:

[code]

Any idea what could be causing this?

[2018-08-16 16:02] axic commented on #1134
@lrettig that looks a Solidity bytecode.

[2018-08-16 16:07] lrettig commented on #1134
I think that's the solc bytecode for `contracts/Migrations.sol` - I don't know enough Truffle internals to understand how migrations are handled but I suppose as long as the client speaks both EVM 1.0 and Ewasm then the migration contract could remain in solc/EVM.

[2018-08-16 18:34] lrettig commented on #1134
Okay so ignore my previous question, I'm just demonstrating my ignorance about how Truffle works. I just needed to add a second migration for my contract proper. It appears to be working.

[2018-08-16 21:16] cgewecke commented on #1194
@LiorRabin Yes. . . thanks for raising this.

The problem is fixed Truffle V5 where `.at` is fully `async`. A pre-release of that can be downloaded from NPM as `truffle@next` and there are draft release notes over at #1129.

[2018-08-17 08:35] Bowfish opened #1195 "Issue with contract function call in truffle 4.1.14"
## Issue

I installed truffle 4.1.14. When I run `truffle init' the contracts are deployed correctly, but the migration scripts where I set some contract addresses aborts without any error message after the first contract call. I deleted 4.1.14 again and reinstalled 4.1.13 and everything worked as expected again. It is the same when I call a contract function in my dapp. It executes the first func

[2018-08-17 09:50] pospi commented on #664
I think registering load hooks within the module system won't work around this issue anymore. All scripts now seem to be loaded through [truffle-require](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-require/require.js), and this imports `original-require` which gets a handle on `require` prior to any code in `truffle.js` being executed.

End result is any changes you make

[2018-08-17 16:16] cgewecke commented on #1195
@Bowfish Thanks for reporting.

`4.1.14` contains a small of set changes (mostly targeting the debugger). One of them addresses the way truffle commands exit in order to prevent a persistent hanging problem people have seen when using hd-wallet provider. It's possible that there's an issue managing async methods in your code that's been hidden by a bug on our side in previous versions...

+ Could

[2018-08-17 17:00] Bowfish commented on #1195
Here is the migration script. It works with 4.1.13 but a soon as I switch to 4.3.14 it will stop at the point where it put the Note. If there is an issue with my async methods I would be grateful if you could point it out.

I use canache v1.2.1

Thanks for you help

[code]

[2018-08-17 18:05] cgewecke commented on #1195
@Bowfish Could you try wrapping the entire contents of your migration file in a `deployer.then` block which you return your promise to as below and see if that works? (see [this issue comment](https://github.com/trufflesuite/truffle/issues/501#issuecomment-373886205) for another example).

[code]

[2018-08-17 19:13] Bowfish commented on #1195
@cgewecke That solved the issue.

Nevertheless, I still don't understand why it worked with 4.1.13 without the `deployer.then(function() {})` wrapper and it didn't work with 4.1.14. Is this documented anywhere?

Thanks for your support.

[2018-08-17 19:39] cgewecke commented on #1195
@Bowfish Not sure... it's possible the provider was hanging open and allowing those promises to resolve. The pattern of returning the promise to the deployer is technically 'correct' and should work for all cases though.

FWIW the migrations function and the deployer API has been a source of confusion for many and there have been problems integrating it with `async/await` as well.  We tried to rem

[2018-08-17 19:39] cgewecke commented on #1195
Duplicate of #501.

[2018-08-17 19:39] #1195 closed

[2018-08-18 00:21] michaeljohnbennett opened #1196 "assertEventEmitted from new contract construction call."
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Upon contract consutruction I would like to be able to read the event logs to ensure an Event was emitted during.

## Steps to Reproduce

At present there is no way I can see or is documented to be able to easily use something like this:

[code]

My

[2018-08-18 01:14] cgewecke commented on #1196
@michaeljohnbennett The new contract instance has a transactionHash property which should allow you to fetch the receipt (which has a logs property). Truffle does some post-processing of the transaction return value (see [here](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-contract/contract.js#L184-L187) ) so you might have to extract the logs from the receipt yourself for

[2018-08-18 01:54] michaeljohnbennett commented on #1196
Thanks for this @cgewecke thats helpful. the new V5 syntax looks like it might solve my problems as this event catching chain methods would make it very easy to test with, rather than the 2 stage, go and check the blockchain route.

I'll use the solve for the current version right now and take it from there and look forward to seeing the new release.

As an aside, would it be worthwhile putting a

[2018-08-18 02:26] michaeljohnbennett commented on #1196
I tried this:

    c = await MyContract.new();
    const receipt = web3.eth.getTransactionReceipt(c.transactionHash);

But I can't see how to access the decode logs call from Contract easily enough. do I need to get it from the contract class `MyContract` or the instance `c`?

Also the signature needs

    decodeLogs: function(C, instance, logs) {
    // and its called like so:
    return accept({

[2018-08-18 04:57] cgewecke commented on #1196
@michaeljohnbennett Thanks for opening and apologies - after looking into this a bit I see it's not the easiest thing to do and the decoding utility isn't well exposed.

The following worked for me: Install [web3-eth-abi](https://web3js.readthedocs.io/en/1.0/web3-eth-abi.html#).
[code]
Then:
[code]

TLDR; watching seems simpler? In Web3 1.0 all of this decoding happens automatically for the receip

[2018-08-18 05:42] Bowfish commented on #1195
@cgewecke How would I call an .at() call in the migration script?

[2018-08-18 08:13] Bowfish commented on #1195
I installed truffle v 5 and it works like a charm. That is a big improvement. Thanks for the good work

[2018-08-18 09:51] michaeljohnbennett commented on #1196
yes I can see its a not trivial fix with the current versions. Super explanation, I'll try it out and also look at using the latest releases of truffle as well.

What's the ETA for the V5 release? I might just push up to using that if we are close to release?

[2018-08-18 17:59] ferittuncer commented on #302
This bug still exists in 0.4.24.

[2018-08-18 18:37] ferittuncer opened #1198 "Wrong abi for mapping(address => uint[])"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Wrong abi for `mapping(address => uint[])`

## Steps to Reproduce

Create a contract with `mapping(address => uint[]) foo`.

## Expected Behavior

A getter exactly like this: `foo(address) returns (uint[])`

## Actual Results

A getter exactly like

[2018-08-18 19:53] ferittuncer commented on #302
@dob @tcoulter It doesn't work when second argument is not `0`. I get invalid opcode error.

[2018-08-19 09:41] dwardu opened #1199 "v5 Solidity tests: Assert doesn’t work"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

In truffle@next, in Solidity tests, `Assert.fail()` doesn’t fail the test.

## Steps to Reproduce

Run this test:

[code]

`Assert.equal`, `Assert.notEqual`, and possibly all the rest, also do not work.

## Expected Behavior

As in Truffle v4.1.14:

[2018-08-19 20:08] cgewecke commented on #1198
Hi @ferittuncer. It looks like this is just the way solc implements the getter for that case.

From [Arrays](https://solidity.readthedocs.io/en/develop/types.html?highlight=accessor#arrays) section at the Solidity docs:

More discussion about this topic in #302, including a workaround :)

[2018-08-19 20:08] #1198 closed

[2018-08-19 20:18] #1196 closed, assigned to nobody

[2018-08-19 20:42] sebasgoldberg commented on #315
Hi @raineorshine , did you solve your problem for library linking to itself?

I am using Truffle v4.1.13 (core: 4.1.13)/Solidity v0.4.24 (solc-js) and I get this error when try to deploy MyLib:

[code]

[2018-08-19 21:05] dwardu commented on #1199
Thanks @cgewecke!

[2018-08-19 22:39] lazzarello commented on #831
This same problem exists on my computer with a blank, uninitialized directory

[code]

[2018-08-19 23:37] michaeljohnbennett commented on #1196
Thanks @cgewecke super helpful feedback on this issue, I'm using this framework a lot for projects, looking forward to the next gen release. I'll take it onboard for the next iteration of our current project. I need to get this out the door for a MVP so jumping to Alpha release is just a bit too risky right now.

[2018-08-20 01:21] cgewecke opened #1201 "Parsing failure in profiler doesn't name contract correctly in error"
**Example**
[code]
* Truffle version (`v5.0.0-next.6`):

[2018-08-20 17:17] raineorshine commented on #315
@sebasgoldberg I think I had to put the library in a separate file and import it.

[2018-08-20 21:36] Mischi commented on #500
We just released a first version of https://github.com/AsureFoundation/truffle-jest. It allows you to run your truffle tests with *Jest* instead of `truffle test`. Give it a try if you like. This is mostly a PoC and has some rough edges 😉

We played with *Mocha / Mocha CLI* too but in the end *Jest* had better support for "Async Initialization before executing tests" as *Mocha*.

PS: I just stumbl

[2018-08-20 22:07] raineorshine commented on #315
@sebasgoldberg That's too bad. It's a good syntax. You may have to use the normal syntax instead. :)

[2018-08-21 03:49] alsco77 commented on #237
As a workaround to (for example) deploy multiple ERC20 tokens, I have created extra `OneERC20.sol` and `TwoERC20.sol` files which inherit ERC20, and deploy as individual entities. Not ideal but whatever, it works.

[2018-08-21 08:15] SvenMeyer opened #1205 "truffle --version correct / upgrade failed"
I tried to upgrade to version 4.1.14 ... it looked ok, but truffle version still says its 4.1.13

[code]

[2018-08-21 09:11] kronosapiens commented on #1023
Noting that I'm also running into this error. I know error code 429 is rate limiting, but I've tried using three different networks and two API keys at different times of day, so... 😭

You can  reproduce by:

[code]

Truffle 4.1.14, OSX 10.11.6

[2018-08-21 19:40] axic opened #1206 "Since truffle uses web3 1.x, it may consider also using web3-extended"
See https://github.com/axic/web3-extended.js. It is not published on npm yet, but will be soon.

It aims to implement the RPC methods the official web3 will not take in due to various reasons (mostly client specific or debugging).

Also a PR for adding ganache specific ones would be welcome 😉

[2018-08-21 19:41] axic commented on #1134
Implemented by the 5.0 release.

[2018-08-21 19:41] #1134 closed

[2018-08-21 20:10] eduardonunesp opened #1207 "Check interface compatibility before deploy"
## Issue

On the current implementation, if you have a contract with an abstract interface and the overwritten function is implemented, but with a different arity, for instance: override the function name but not the params correctly, it will compile (perhaps this is the Solc compiler), however during the deployment it will fail with an error that doesn't say anything related to the incorrect impl

[2018-08-21 20:58] cgewecke commented on #1205
@SvenMeyer This might be an npm caching issue - had some trouble with here this morning as we released the `truffle@beta`.

If you're seeing unusual installs - e.g. not getting the latest version - you can also try:
[code]

[2018-08-21 21:17] cgewecke commented on #1199
@dwardu This should be fixed on:

+ `truffle@next`
+ `truffle@beta`

[2018-08-21 21:17] #1199 closed

[2018-08-21 21:18] cgewecke commented on #1201
#1203 / `truffle@beta`, `truffle@next`

[2018-08-21 21:18] #1201 closed

[2018-08-21 21:19] #1095 closed

[2018-08-21 22:00] cgewecke commented on #1207
Hi @eduardonunesp, thanks for this issue. In the new beta of Truffle we're throwing an error for this case:
[code]

But it needs to be improved to add the case you raise here, where you *thought* you implemented all the functions but made a small mistake somewhere.

NB: There's a similar [issue](https://github.com/ethereum/remix/issues/665) at Remix suggesting that the error should identify at lea

[2018-08-21 22:09] cgewecke opened #1208 "Syntax / JS errors in migrations not propagating correctly for classic migrations (v5)"
In V5 you're meant to mark your migrations function as `async` and `await` the deployments. But you should also be able to use the older syntax without serious problems. In the following case where a variable is misnamed:

[code]
The migrations hang for a long time and then exit silently. They throw appropriately if we async/await the deployment but get swallowed otherwise. We need to add a classi

[2018-08-22 01:01] eduardonunesp commented on #1207
@cgewecke thanks for the feedback, is possible to add another hint too? isn't the best case scenario, but to warn that the interface on `MyContract` and `AbstractContract` aren't right already helps to avoid a waste of time trying to fix `gas` issues :)

[2018-08-22 04:31] cgewecke opened #1209 "blockchain-utils is still using `sendAsync` (V5)"
[here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-blockchain-utils/index.js#L3-L21). This is breaking `truffle publish` with the following error:
[code]

[2018-08-22 10:26] SwJay commented on #1062
@cgewecke solves my problem.
Each time for a test, you consume `initialBalance` out of initial 100 ETH of Ganache account. If you set `initialBalance` to be 100, the test only passes the first time and you will have no ethers next time to run another test.

[2018-08-22 12:12] dwardu commented on #1199
Fantastic @cgewecke. It works. Thanks for letting me know!

[2018-08-22 12:37] gerchicov-bp opened #1210 ""truffle create contract ..." generates deprecated code"
## Issue

The problem with deprecated code is described for example here:
https://ethereum.stackexchange.com/questions/47175/defining-constructors-as-functions-with-the-same-name-as-the-contract-is-depreca

## Steps to Reproduce

run "truffle create contract <some_name>"

## Expected Behavior

generated code:
[code]

## Actual Results

generated code:
[code]

## Environment

* Truffle version (`tr

[2018-08-22 14:29] Bowfish opened #1212 "truffle compile error after installing truffle v5"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

After installing truffle V5 when `truffle compile` is called the following error message appears:

Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/truffle/node_modules/.cache'

## Steps to Reproduce

`npm install -g truffle@ne

[2018-08-22 15:16] cgewecke commented on #1212
@Bowfish Does this problem go away if you `sudo npm install -g truffle`?

[2018-08-22 17:04] gnidan commented on #1212
So generally you probably don't want to be doing `sudo npm install -g` anyway. It's better to configure NPM to allow user-level global installs.

Here's a guide: https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md

[2018-08-22 17:44] cgewecke opened #1213 "Dynamically set contract gas defaults based on client block limit"
Ganache has a default gas limit of ~6700000 and Truffle hard-codes that as the default in `truffle-config` unless it's over ridden by a preference defined in the network config. This leads to a lot of confusion:
+ `Exceeds block gas limit` when transitioning from ganache-cli to Ropsten (where limit is low)
+ Running ganache-cli at the command line with a higher gas limit and *still* running out of

[2018-08-22 18:17] taylorjdawson commented on #975
@cgewecke Yes, I agree. Please colorize the solc output that would be extremely helpful! It would be helpful to either rename this issue or create a new issue as: **Colorize the solc output**.

[2018-08-22 19:03] cgewecke commented on #975
@taylorjdawson After this issue was opened I happened to see a [great PR](https://github.com/ethereum/solidity/pull/3046) over at solidity which suggests they're moving in this direction themselves. . .it looks like there's active work there if you follow the links to corresponding pull requests.

[2018-08-22 19:31] Bowfish commented on #1212
Thanks for the hint.

Sent from [ProtonMail](https://protonmail.com), Swiss-based encrypted email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
Am 22. August 2018 7:05 PM schrieb gnidan <notifications@github.com>:

[2018-08-22 20:35] jdkanani commented on #555
We are using following code to decode logs:

[code]

**Usage:**

[code]

[2018-08-22 22:43] benjamincburns commented on #976
Turns out we didn't have the reason string in the `ganache-core` log (which in turn feeds the Ganache log view), so I added it just now. https://github.com/trufflesuite/ganache-core/commit/8d311f3245d510a90407ee1d1bccfb33756fface

Not sure when this will make it out for release - I'd guess sometime in the next couple of weeks. That said I'm in the process of automating our releases so that we'll b

[2018-08-22 23:07] cgewecke commented on #1210
@gerchicov-bp This is fixed in the latest version of Truffle 4 (4.1.14). The solidity version is `^0.4.22` but the constructor syntax is correct.

[2018-08-23 02:09] Maushundb opened #1217 "Contract events getting missed with multiple listeners (v5)"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
When trying to create a utility to wrap truffle contract events in a promise, it seems that adding consecutive  "once" listeners causes only the first callback to fire, and the second never triggers.

## Steps to Reproduce

[code]

A workaround I've

[2018-08-23 07:55] gerchicov-bp commented on #1205
I have the same issue - truffle 4.1.11 persists, `npm uninstall -g truffle` doesn't work

[2018-08-23 08:07] gerchicov-bp commented on #1205
@SvenMeyer @cgewecke
https://ethereum.stackexchange.com/questions/52812/error-in-installing-truffle-in-macos
but of course nobody wants to add this info into readme!

[2018-08-23 08:11] gerchicov-bp commented on #1210
@cgewecke updated but syntax checker still says `No visibility specified. Defaulting to "public"`

what about to fix that?

[2018-08-23 08:18] jchittoda commented on #517
When can we expect this feature ?

[2018-08-23 08:49] Mischi commented on #500
We've published a blog post about `truffle-jest`. Take a look if you like 😃

https://medium.com/@ASURE.io/running-truffle-unit-tests-with-jest-f59b5049b66a

[2018-08-23 13:08] eduardonunesp opened #1220 "Migrations to rinkeby get stuck on V5"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

On truffle v5 when try to deploy on rinkeby with `--interactive` mode after select `yes` it get stuck

## Steps to Reproduce

On `truffle@next` create a rinkeby migration using infura and deploy with `--interactive`

## Expected Behavior

Deploy li

[2018-08-23 15:31] cgewecke commented on #1220
@eduardonunesp Are you using the new version of `truffle-hdwallet-provider` with V5?

[code]

[2018-08-23 15:37] cgewecke commented on #1210
Oops yes you're right.

[2018-08-23 16:04] cgewecke commented on #1217
Hi @Maushundb Looked into this and agree that its seems like there's a problem repeatedly registering listeners for `once` to the same event. Thanks for your workaround. Was also able to get the expected result using `on` after reworking `waitForEvent` slightly.

It looks like the hanging you're seeing is caused by the way the promises are written in `waitForEvent`. . . on ganache at least, the ev

[2018-08-23 16:48] cgewecke commented on #1205
@gerchicov-bp Thanks for adding that link - it looks like an `nvm` configuration issue though right? Is there something specific to truffle going wrong here in your view?

[2018-08-23 16:55] cgewecke commented on #1220
@eduardonunesp Oh also - do you have an example that I can try to reproduce this with. Ideally we can catch whatever is going wrong here and throw an error that makes sense.

[2018-08-23 16:58] eduardonunesp commented on #1220
Sure, I'll test and update an example ASAP thanks @cgewecke

[2018-08-23 17:11] Maushundb commented on #1217
Something along the lines of:

[code]

Thanks for the quick turnaround @cgewecke !

[2018-08-23 17:44] cgewecke commented on #1217
Mmm. I think the promise construction in `waitForEvent` might be problematic. There's a mix of async and 'resolve in a callback' there that's not mapping to the sequence things occur in.

[2018-08-23 19:41] Maushundb commented on #1217
Yeah thats the idea of how to turn a callback into an async function - wrap it in a promise and return that to be `awaited` on. The idea is that I want to not await the method, but rather the event the method will eventually trigger. In that case, the sequence is `method` -> `event` -> `promise resolves`, which is what that is supposed to abstract.

For a little more context, the method is trigger

[2018-08-23 19:51] cgewecke commented on #1217
Ah yes I get the promisify event part - the oraclize part has been abstract away in your example in a way that is not reproducible. . . could you show in more detail what that actually looks like?

[2018-08-23 21:56] cgewecke opened #1222 "Add code coverage"
To see our own internal code coverage

[2018-08-23 22:13] eduardonunesp commented on #1220
Thanks for the help @cgewecke, after install `truffle-hdwallet-provider@web3-one` it worked

[2018-08-23 22:13] #1220 closed

[2018-08-23 22:14] #1207 closed

[2018-08-23 22:15] eduardonunesp commented on #1207
Thanks 👍

[2018-08-23 23:02] eduardonunesp opened #1224 "Better help on command line"
## Issue

Currently the terminal still a good source of help when the user needs to get a depth of a command, I wish that too for `truffle`, the main help is `truffle --help` command, but there's no more than that.

## Steps to Reproduce

`truffle --help`

## Expected Behavior

When the user wants to know more options available about a command the user can get help like `truffle help deploy` which

[2018-08-24 02:27] Eggsyz opened #1225 "MetaCoin, addr.balance ,Integer overflow"
Hello, when I tested the MetaCoin demo, I made a change to the smart contract. I want to get the balance of the local account, but there is an integer overflow. Who can help me answer it? Here are the results of the web page and the results obtained by the geth。

web：You have 1.15792089237316195423570985008687907853269984665179395437614845217563129639935e+77
META
geth：

4841649000000000000

smart

[2018-08-24 02:54] subramanianv commented on #1210
Is anybody working on this issue ? I would like to take this up if its open

[2018-08-24 05:57] SvenMeyer commented on #1205
I am using nvm as well, so that might cause the problem.
I have the same problem with another packcgae (ganache-cli) and "npm cache clear --force" did not help

[2018-08-24 12:10] schemar commented on #1001
Just wanted to chime in and say that I have the same problem and am also using wrapper contracts now. It appears the problem is that the fallback function does not have a return value, right?

[2018-08-24 13:06] karalabe commented on #624
Hey all, I'm not sure why this was closed. The issue still persists, blocks take 1 second to be detected by Truffle after they are mined by Geth.

[2018-08-24 15:27] cgewecke commented on #624
Hi @karalabe apologies -

We've started running part of truffle's own test suite in [CI](https://travis-ci.org/trufflesuite/truffle/builds/419409671) with geth using `--dev --dev.period 1` and the next version of Truffle (`truffle@beta`) should be able to run without the period flag because the underlying issue has been resolved in web3 1.0.

Will update our test scripts to verify that is case.

[2018-08-24 15:30] cgewecke commented on #1210
@subramanianv Ah actually a fix was merged yesterday in #1219 :)

Thanks though.

[2018-08-24 15:39] cgewecke commented on #1224
Yes this is a really good idea.

[2018-08-24 15:42] cgewecke opened #1226 "Run Geth CI without the `period` flag (insta-mine)"
This should be possible with web3 1.0 now.

#624

[2018-08-24 20:32] jeichel-miovision commented on #1023
I've been running into the Error: [ipfs-mini] status 429 error as well. While looking into it, I think I may have found a few bugs in truffle-core...

https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/package.js#L220
There are references to `data.contract_name` and `data.unlinked_binary` that are not compatible with the solc compiler that ships with the truffle npm pac

[2018-08-24 21:44] jeichel-miovision commented on #1023
so with a bit more experimenting and code tracing, I agree with @cgewecke, it looks like the default IPFS gateway, ipfs.infura.io (https://github.com/search?q=org%3Aethpm+ipfs.infura.io&type=Code), might have a content-length limit or some data bandwidth cap.

When I installed a local IPFS host (https://ipfs.io/docs/getting-started/ and https://docs.ipfs.io/introduction/install/) and updated my et

[2018-08-25 03:17] nikola-wyatt commented on #237
+1

[2018-08-25 09:27] krzkaczor opened #1228 "Mocha compatibility"
## Advantages
All advantages that I can see are around tooling support (mostly IDEs and editors). For example, things that would work out of the box if it was pure mocha:
- support for seeing test results directly in your IDE with VS Code (plugins) or webstorm (built in)
![Webstorm support](https://d3nmt5vlzunoa1.cloudfront.net/webstorm/files/2015/08/mocha-ui.png)
- easy jumping to different test

[2018-08-25 10:07] acidfreako commented on #773
Truffle v4.1.14 (core: 4.1.14)
Solidity v0.4.24 (solc-js)
getting the same error too on ropsten

[2018-08-25 14:38] fubuloubu commented on #1144
Note: @maurelian has some prior work with this: https://github.com/maurelian/truper

[2018-08-25 15:48] iwkse commented on #1062
Having a similar issue here when I run ganache-cli with --db for persistence.
Without --db it's going to be fine. Any hint?

[2018-08-25 22:45] rstormsf opened #1229 "Why bytes data returns null in v5-beta?"
in truffle v4 test would look like this:
solidity:
[code]

[code]

now in truffle v5, it returns `null`, not `0x`

[2018-08-25 22:48] rstormsf commented on #1229
Second issue is that events in ganache-cli does not emit if it was called by
[code]

[2018-08-25 23:03] rstormsf opened #1230 "Where is `getData` or `encodeABI()` in truffle v5"
[code]

I'd expect to  have `encodeABI()` function from web3 1.0

I had to use workaround:
[code]

[2018-08-26 03:21] karenwang38 opened #1231 "cant change web3.eth.coinbase by web3.defaultAccount = "other account address""
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce
cant change web3.eth.coinbase by web3.defaultAccount = "other account address"

![image](https://user-images.githubusercontent.com/40733201/44624443-9db99400-a921-11e8-9927-bdceaf4fe610.pn

[2018-08-26 13:01] vs77bb commented on #1144
@evgeniuz Glad to see you here! You've been approved. Thanks for the detail and prior work, @fubuloubu :)

[2018-08-26 16:21] cgewecke commented on #1229
Hi @rstormsf

Yes - just saw the same decoding problem with `boolean` [here](https://github.com/trufflesuite/truffle/pull/1200) last week. Will investigate some more to see if it's on this side but I *think* it's at `web3-eth-abi` and might be resolved by a pending release over there.

Will also look at problem #2. . . you're note suggests you think it's at ganache-cli - are you seeing this fire i

[2018-08-26 16:26] cgewecke commented on #1230
It should be [available](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-contract/lib/contract.js#L23-L34) via the `contract` object:
[code]

[2018-08-26 17:43] nicosquare commented on #862
Good afternoon everyone,

Is there any advance on this issue? I'm facing exactly the same and I'm running out of options, I really need to change the directory of artifacts. It's the same issue:

1. Change contracts_build_directory
2. Run truffle compile
3. Run truffle migrate --network=development
4. It fails with the following stack trace:

Using network 'development'.

Running migration: 1_init

[2018-08-27 00:53] sweatyc opened #1233 "[5.0][truffle-contract] execute.js Unexpected token"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Failed to compiled in truffle-contract. Working correctly previously on non-beta version (truffle-contract 1.1.8).

## Steps to Reproduce

`npm install -g truffle@beta`
`mkdir react-box & cd react-box`
`truffle unbox react`
`npm i truffle-contract@

[2018-08-27 01:07] cgewecke commented on #1233
@sweatyc It looks like this is because the `react-box` isn't ES6 compliant. The syntax error is on an arrow function.

That box is in the process of being updated. Additionally there's a really nice ES6 / Web3 1.0 option at [truffle-react](https://github.com/adrianmcli/truffle-react),  maintained by one of Truffle's engineers. They're also the one working on the boxes :)

Duplicate of [react-box 5

[2018-08-27 01:07] #1233 closed

[2018-08-27 07:24] #1231 closed, assigned to nobody

[2018-08-27 13:19] iisaint commented on #559
+1

[2018-08-27 16:27] stefek99 commented on #1171
Sorry.

I should have better search skills.

A lot wasted effort on that one :(

(life of a developer)

[2018-08-27 17:41] xitter commented on #186
Submitted https://github.com/trufflesuite/truffle/pull/1232

[2018-08-27 22:35] kdelwat opened #1235 "Cannot run migration with fresh init using Geth (v5)"
## Issue

After initialising a new Truffle project, migration fails when deploying to a local geth testnet, even though it works with Ganache.

I suspect this is due to not using HDWalletProvider, but a clearer error message could be a good idea.

## Steps to Reproduce

1. Install Truffle 5.0.0 beta
2. Run `truffle init` in an empty directory
3. Edit `truffle-config.js` to add a development networ

[2018-08-27 22:59] cgewecke commented on #1235
@kdelwat Agree this message is not good. . . could you see if it works if you specify an unlocked `from` address in your network config?

[2018-08-28 00:52] cgewecke commented on #1235
@kdelwat One more thing - we run migrations in CI against `geth --dev`.
+ there's a test specifically for the `truffle init` case [here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle/test/scenarios/migrations/init.js)
+ the geth client launch script is [here](https://github.com/trufflesuite/truffle/blob/next/scripts/geth.sh)

If you could identify any differences between your

[2018-08-28 08:53] ABBDVD opened #1236 "Output of the identifier used in source maps is not given"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The built json files in /build/contracts contain source maps. The identifiers which source file has which index are not explicitly given, thus making it much less useful to work with for building tools that want to make use of the truffle.

## Ste

[2018-08-28 09:37] hobofan commented on #957
Something that might help people stumbling upon this issue:

I ran into the same reason with a `truffle migrate` because I had ~80 files in `build/contracts` that were each ~25Mb big, so the process ran out of memory when deploying. Using the `--max-old-space-size=4096` workaround worked but deploying took a few minutes every time (which quickly got annoying).

What I did was alter the `1_initial_

[2018-08-28 12:03] matt9ucci opened #1237 "Write a new CONTRIBUTING guide"
The current [CONTRIBUTING.md](https://github.com/trufflesuite/truffle/blob/5ec81e4246d9e56af0b4534b8bf5a5bc94c3ae1b/packages/truffle/CONTRIBUTING.md) is outdated.

The following is @gnidan's comment in #1218:

[2018-08-28 13:15] jchittoda commented on #596
I was having the same problem. But figured out the problem is with HDWalletProvider.
If you are using HDWalletProvider for your network config and using accounts[] other then 0 (zero), then it will cause this problem.
Use only accounts[0] wherever you are putting some wallets into migration scripts. As HDWalletProvider do not have capability to support multiple wallets.

[2018-08-28 16:32] cgewecke commented on #1172
@haydenyoung added that they saw this error under another condition too:

[2018-08-28 16:46] cgewecke commented on #1237
Hi @matt9ucci

Just a note: there are some simple instructions in the README [here](https://github.com/trufflesuite/truffle#development) for anyone who wants to develop in the truffle codebase. I guess we'd add some guidelines about including tests with your PR or something....

[2018-08-28 19:44] mjibril commented on #548
I still had the same issue despite doing as @86me suggested. It turned out I had previously created an account with

`geth account new`

and the account was not found.
If you are using the testnet network you need to create a different account with

`geth --testnet account new`

[2018-08-29 04:44] kdelwat commented on #1235
@cgewecke Thanks for the help, I've done some digging and think it stems from something in the Geth genesis block.

These are my geth options:
[code]

Using the following genesis block (from [here](https://medium.com/@chim/ethereum-how-to-setup-a-local-test-node-with-initial-ether-balance-using-geth-974511ce712)) works perfectly:
[code]

However, the Geth node I was using was created with [dapptoo

[2018-08-29 05:35] cgewecke commented on #1235
Ah super interesting. The only issue see at web3 triggering a similar failure is [something](https://github.com/ethereum/web3.js/issues/1215) about Quorum client timestamps where quorum is using Unix nano-second precision.

That DappTools starting balance is pretty big - I wonder if that's a possible problem. They're solidity based so they don't have to worry about translating values out to JS.

T

[2018-08-29 05:35] #1235 closed

[2018-08-29 23:15] kdelwat opened #1241 "Migration error on mining Geth client even though contract was successfully deployed (v5)"
## Issue

I've encountered another issue with Geth and Truffle v5 😢.

When running the default Truffle migration (`1_run_migrations.js`), the dry-run completes successfully, but the actual deployment of `Migrations.sol` throws an error. However, the contract is deployed to the network anyway.

This occurs when using Geth, but not Ganache.

## Steps to Reproduce

1. `truffle init`
2. Add a network

[2018-08-30 00:10] cgewecke commented on #1241
@kdelwat This is a bit difficult to reproduce because it takes a while to get a node running the way you've configured it . Could you fetch the transaction receipt for the deployment that errors and post it to this thread? You should be able to do that by launching `truffle console --network <your-network> and typing:
[code]

Also could you verify that the Migrations is saving to the build file by

[2018-08-30 00:29] kdelwat commented on #1241
@cgewecke No problem, I know how annoying this is to track down.

The transaction receipt:
[code]

There is no listing for the Geth node in networks so it isn't getting to the save stage.

My Truffle config: https://gist.github.com/kdelwat/26d9049adbe6e165e8ba774e7034d231

[2018-08-30 01:11] cgewecke commented on #1241
@kdelwat Ah that's just bizarre. The receipt looks good. I don't understand why this configuration is producing a different response than `geth dev` (or Infura for that matter). I'll have to spin up a node with your config overnight and take a look.

Thanks for finding this!

[2018-08-30 09:36] spursy opened #1243 "Contract code is hash code"
I use truffle compile and truffle migrate to deploy my contract code, After checking my contract in [reposten etherscan](https://ropsten.etherscan.io/address/0xf97398011f5676dc0bc7188c58ff87440a4c1052#code), I found contract code is hash list  as the foolowed:

[code]

[2018-08-30 12:46] 360disrupt opened #1244 "Truffle Compile Forgets Booleans in ABI"
- [ x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Booleans are not included into the ABI.

## Steps to Reproduce

Compile the example code of the [ethereum homepage](https://www.ethereum.org/crowdsale) (changed constructor naming => constructor):

[code]

## Expected Behavior

Booleans included

[2018-08-30 13:47] roderik commented on #1244
I think you need to make them public before they go into the ABI

[2018-08-30 17:01] gnidan commented on #1243
@spursy that's expected behavior.

It's not a hash, that's actual EVM machine language binary, expressed as a hex string. If you want to see your actual source code, you'll have to follow the Etherscan verify process here: https://etherscan.io/verifyContract

[2018-08-30 17:01] #1243 closed

[2018-08-30 17:06] cgewecke commented on #1241
@kdelwat Unfortunately I ran out of disk space trying to run the node locally. . . Don't know if your interested but we could set up a chat session where I ask you to insert random debugging lines in Truffle and we try to figure out how the error is getting thrown. You could also look into this on your own if you feel like it.

The place I'd start is [here](https://github.com/trufflesuite/truffle/

[2018-08-30 19:27] ccolorado commented on #734
@Emobe @Nagaraj007 @pd164594 So from what I understand is that fsevents is an osx only pice of sowftware.

Truffle shouldn't rely on it if it's considered multiplatform or at least have a flag to opt out from the config file instead of the source code  pointed out  here https://github.com/trufflesuite/truffle/issues/734#issuecomment-358528186

[2018-08-30 22:28] kdelwat commented on #1241
@cgewecke I'm happy to try to do some debugging myself, and failing that will collaborate with you. Is there a way to link the development repo for Truffle to debug against that instead of the installed file?

[2018-08-30 22:50] cgewecke commented on #1241
@kdelwat Ok sounds good. The equivalent of `truffle` at the repo is in `packages/truffle/build/cli.bundled.js`. To generate a build of the current state of your edits you:
[code]

With the truffle repo in an outer folder you would alias within your 'real' project using something like:
[code]

The only thing that's annoying about this is that you have to remember to run the build command and make i

[2018-08-31 00:11] kdelwat commented on #1241
@cgewecke I've worked it out (finally).

The issue is the `eth_getTransactionReceipt` RPC call.

We can see this when manually sending the same deployment transaction that Truffle sends:

[code]
When connected to Ganache, this returns:
[code]

But connected to Geth it returns:
[code]

The breaking difference is the lack of `status` field from Geth, which breaks the check in `truffle-contract` [her

[2018-08-31 00:29] cgewecke commented on #1241
@kdelwat Fantastic! Thank you - such great work. If you don't open the PR by tomorrow I'll put it in but I really feel you deserve credit for this.

Everything for V5 targets the `next` branch (in case you end up doing it.)

[2018-08-31 00:40] cgewecke commented on #1241
There's *one* other place in `truffle-contract` we check the status....

https://github.com/trufflesuite/truffle/blob/next/packages/truffle-contract/lib/handlers.js#L105

[2018-08-31 04:27] rocky opened #1246 "Consider adding solc assembler output in /build"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

For various analysis tools it may be helpful to look at the assembler output of solc.  Could this be done as a configuration switch, if not always?

I also note that `-asm` seems to give more information than `-asm-json`, but `asm-json` has intere

[2018-08-31 12:53] gakonst commented on #237
Thanks @mryellow this did the trick for me. I imagine this could be included in truffle to accompany the syntax @tcoulter mentioned?

[2018-08-31 16:12] cgewecke commented on #1228
@krzkaczor Do the mocha options in the config work for your use case? Is this closable?

[2018-08-31 19:53] cgewecke commented on #1228
@krzkaczor At the moment no - unless you write your own version of what happens at truffle in the test command. That code is mostly [here](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/test.js) and the key resources injected into the test environment are [here](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-core/lib/test.js#L209-L213). Mocha'

[2018-08-31 22:52] frangio opened #1250 "Provide a way to obtain dependency artifacts"
If someone wants to deploy a contract provided in OpenZeppelin they currently have to somehow put it in a place where Truffle will compile it. A common hack is to create an `Imports.sol` file in the project with contents `import 'openzeppelin-solidity/contracts/...';`. This is not ideal. OpenZeppelin should provide the artifacts in the npm package and Truffle should be able to create a contract ab

[2018-08-31 22:53] cgewecke commented on #624
@karalabe Small update here . . . have opened a [PR](https://github.com/trufflesuite/truffle/pull/1247) to run truffle's integration and contract wrapper tests with insta-mine. With an http provider It works (and it's fast).

However, if web3 connects to the client over websockets, there are occasional non-deterministic failures I can't isolate the cause of. Do you have any advice about this? Do y

[2018-08-31 22:54] gnidan commented on #1250
I believe @cag has been working on this on-and-off over at #1085

I'll leave this open for now because I'd like to consider that syntax, it's neat!

[2018-08-31 23:08] cgewecke commented on #1250
FWIW I think #1095 is pretty migrations specific but there might be some overlap. I like that syntax too.

[2018-09-01 01:01] gwenf commented on #596
FYI this error is also thrown if one of the arguments that you are calling a contract function with isn't the right type that Solidity is expecting.

[2018-09-01 06:03] SvenMeyer commented on #685
Truffle v4.1.14 (core: 4.1.14)
Solidity v0.4.24 (solc-js)
I actually spent a couple of days researching why my JavaScript UI using web3  complains about non existing solidity functions, although they were there. I found that these function names were missing in the json.
I would have to reproduce this to provide further evidence unless somebody else has the same problem and can share some files.

[2018-09-01 13:37] roderik opened #1252 "[v5] Migrations loss of information"
I use migrations quite extensively, not only for deploying contracts, but also to execute a lot of other transactions like assigning permissions etc. in the v4 migration output you could see all tx hashes, in v5 I only see the contract deployments. Is it possible to put the others back?

[2018-09-03 12:12] Sulaiman-Said opened #1253 "Integrating Ionic project with Truffle"
Hello there, can somebody guide me how to integrate an existing ionic app that I've created using ionic framework with truffle, in order the make it a DApp.

[2018-09-03 13:13] whittlem commented on #1253
I'm not familiar with the ionic framework but I assume you have standard contract files (*.sol)?

Install Truffle:
sudo npm install -g truffle

Make a directory for your DApp:
mkdir ionic_new
cd ionic_new

Create a new project:
truffle init

Copy your contract .sol files into the contracts/ directory

Should be able to compile your contracts now... truffle compile --all

The next parts you need to

[2018-09-03 16:27] cgewecke commented on #1252
Hi @roderik, thanks for raising this.

The non-deploy transaction hash logging was removed because it was difficult to represent meaningfully (although you were able to interpret it :) ). Web3 1.0 exposes event listeners for transaction hash and receipt so a work-around for your case might look something like:
[code]

More broadly, the Migrations module has been rewritten to emit await-able events

[2018-09-03 22:33] frangio commented on #1250
@cag Nice!! I can't believe I hadn't seen this. Very cool. We can close this issue then.

[2018-09-04 11:51] Levino commented on #550
This should be reopened. If one is using https://github.com/MetaMask/provider-engine with truffle it will never stop.

[2018-09-05 01:08] tarekskr opened #1254 "MyEvent.watch() returns `watch is not a function` error (V5)"
---------------------------

## Issue

Using MyEvent.watch() now raises an error.

## Steps to Reproduce

[code]

## Expected Behavior

As of `truffle-contract` v.1.1.11, the above code worked flawlessly.

## Actual Results

Now it gives the following error:
[code]

## Environment

* Operating System: macOS 10.13.6
* Ethereum client: Ganache v1.2.2
* truffle-contract version: 4.0.0-next.0
* Truffl

[2018-09-05 01:45] cgewecke commented on #1254
@tarekskr Hi thanks for noting this.

`4.0.0-next.0` uses Web3 1.0 and has a number of API changes detailed in the new Truffle beta [release notes](https://github.com/trufflesuite/truffle/releases#web3js-1.0).

`watch` is no longer supported. Instead you can use an EventEmitter-like interface (requires that you have websockets enabled in your network config) or a callback (see the Web3 1.0 docs [h

[2018-09-05 02:12] tarekskr commented on #1254
Thank you so much @cgewecke for getting back to me.

I followed your recommendation and was able to eliminate the error. The event code however doesn't seem to ever get called. Here is what my code looks like now:

[code]

I've also updated my networks config to enable websockets as follows:

[code]

Am I still missing anything here?

[2018-09-05 05:46] cgewecke commented on #1254
@tarekskr There are a few things here: I think port 7545 might be a problem. . . that's the automatically launched ganache instance that isn't really configurable unfortunately.

Could you try again after launching ganache-cli separately on the command line at 8545 and changing your development config port to the same?

The other thing to check might be the `truffle-contract` [events tests](https: