[2019-09-13 15:27] Aleione opened #2390 "truffleAssert problem"
Hi,

i have a problem with truffleAssert during truffle test. On local ganache blockchain test is passed because revert string is the same of that indicate in javascript test code. When i run test with the same code on ropsten using truffle-hdwallet-provider module, it returns this error:

AssertionError: Expected to fail with SafeMath: subtraction overflow, but failed with: StatusError: Transacti

[2019-09-13 15:57] CruzMolina commented on #2389
Hey @jhay006!

You should be able to pass your local solc-js compiler to Truffle by specifying the path to it within your `truffle-config.js` file:

[code]

[2019-09-13 18:04] eggplantzzz commented on #2388
@aacampbell Where do these files get created and left after running `truffle test`?

[2019-09-13 18:08] eggplantzzz commented on #2389
You can also specify the keyword "native" for the version property in the config example above.

[2019-09-13 19:48] eggplantzzz commented on #2380
I couldn't really duplicate your error, I probably did something wrong. I cloned your repo and then after running the test command specified above, I got an error:
[code]
So then, I changed `test/token/SRC20Factory.test.js` to `test/token/SRC20Factory.js`. I think this is what you intended? Afterwards I was able to run the tests with all 18 passing. Did I do something wrong?

[2019-09-14 00:22] filippetroviccc commented on #2380
Hi,

Just to point out it is `feature/SWM-410-manual-approval` branch.

Still out of gas error just I found out that I don't get this error if I comment out 2 functions so I would assume that bytecode limit is the issue. Just wondering how this "small" contract could have that error.

Thank you again for taking time to resolve this issue :)

[2019-09-16 13:28] chainsulting commented on #2069
Fix:
Check Node Version needs to be v8.9.4 or higher
Check with node -v
1) sudo npm install -g truffle@5.0.19

[2019-09-16 21:55] realisation opened #2391 "Truffle test"
- [yes] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Running truffle test gives me the error
`Error: Could not find artifacts for some/path/test.sol from any sources`

## Steps to Reproduce

Standard project aside from unique path for contract source and build destination in truffle config.

## Exp

[2019-09-16 22:06] realisation commented on #2391
Solved - it turns out my contract name in the test wasn't the same name as the file for the test. That's important.

[2019-09-16 22:06] #2391 closed

[2019-09-17 16:16] gnidan commented on #2390
Hi @Aleione, thanks for raising this! We'll triage this and get back to you as soon as we can!

[2019-09-17 21:32] realisation opened #2393 "Truffle test fails with solidity contracts that inherit"
- [ yes] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I was excuting a solidity test that inherited from another contract  and something in the test process failed. The test itself was not reached.

## Steps to Reproduce

Try to test a contract that inherits from another contract.

## Expected Beha

[2019-09-18 12:21] dominik992 commented on #2233
It's just a regular AWS Lambda with preinstalled node v8.

[2019-09-18 14:29] gnidan commented on #2233
@dominik992 hm, can you get a stacktrace or error message? If it doesn't show up automatically, maybe do this:

[code]

Also, what specific version of Node v8 do you get? Some of the earlier versions aren't supported anymore.

[2019-09-18 16:30] eggplantzzz commented on #2389
@jhay006 Were you able to resolve this? Can I close this issue?

[2019-09-18 17:38] haltman-at commented on #2384
Hi, it's hard to tell what's going on here.  Could you explain this in more detail, including reproduction steps and what behavior was expected?  Thank you!

[2019-09-18 17:41] haltman-at commented on #2388
Hm, @davidmurdoch, the described files sound like Ganache temp files.  Do you know anything about this?

[2019-09-18 17:50] haltman-at commented on #2390
This sounds like it might be a problem with truffle-assertions rather than Truffle; @rkalis, do you know anything about this?  I do have to wonder whether truffle-assertions may be relying on special Ganache behavior here (I don't know anything about truffle-assertions' internals); providing revert strings for transactions (as opposed to calls) is nonstandard Ganache behavior that won't occur with

[2019-09-18 17:57] haltman-at commented on #2393
Hi, could you provide us a simple reproduction example so we can get a better understanding of this?  Thank you!

[2019-09-18 17:59] haltman-at commented on #2089
Closing this for issue maintenance; please let us know if this is still a problem and we can re-open it.  Thank you!

[2019-09-18 17:59] #2089 closed

[2019-09-18 18:05] haltman-at commented on #1942
@michaelsbradleyjr, do you know anything about this?

[2019-09-18 18:06] haltman-at commented on #2357
Hi, was this issue successfully resolved?  Thank you!

[2019-09-18 18:09] haltman-at commented on #2347
Glad to hear this was resolved; we're going to close this for now, as we don't really have enough information to go on.  If this becomes an issue again or if you can provide more detailed information, we can re-open it.

[2019-09-18 18:09] #2347 closed

[2019-09-18 18:11] haltman-at commented on #2299
Hi, was this successfully resolved?  Thank you!

[2019-09-18 18:16] haltman-at commented on #2374
So, `@truffle/hdwallet-provider` itself does not rely on `child_process`; rather, some of its dependencies do.  As such, there's not much we can do about this at the moment, but we'll keep this open with the hope that we can fix it in the future.

[2019-09-18 18:30] Unmesha1 commented on #2384
actually i was following the step by step tutorial of dapp university to
create a voting dapp, setup was complete. But i got an error as gas limit
exceded( as was estimated by truffle) , i was using powershell, there it
was written try changing it manually in migrations folder, or ask in github
link.

On Wed, 18 Sep, 2019, 11:08 PM Harry Altman, <notifications@github.com>
wrote:

[2019-09-18 18:44] michaelsbradleyjr commented on #1942
@haltman-at I don't. But looking at the comment history of https://github.com/ethereum/web3.js/issues/1648 it seems that issue may need to be reopened or a new one created.

[2019-09-18 18:52] adrianmcli commented on #1942
@michaelsbradleyjr @haltman-at Let's try to petition @nivida to re-open https://github.com/ethereum/web3.js/issues/1648.

[2019-09-18 19:54] mitar commented on #2374
One can always mock them with dummy functions. If `hdwallet-provider` never really invokes that code path, this will work out.

[2019-09-18 19:58] gnidan commented on #2374
Sounds like that's worth a shot @mitar!

[2019-09-18 20:28] davidmurdoch commented on #2388
@aacampbell, are you using Ganache UI?

[2019-09-19 05:50] rkalis commented on #2390
Hey @haltman-at, thanks for the ping.

[This](https://github.com/rkalis/truffle-assertions/blob/master/index.js#L146-L162) is the function in `truffle-assertions` that asserts a revert. [This](https://github.com/rkalis/truffle-assertions#truffleassertfailsasyncfn-errortype-reason-message) is the documentation for the function.

The function takes a Promise produced by a contract function on a Truf

[2019-09-19 10:31] filippetroviccc commented on #2380
The issue was to large bytecode size EIP-170

[2019-09-19 10:31] #2380 closed

[2019-09-19 13:45] xavierlepretre opened #2398 "`selfdestruct` in constructor gives "The contract code couldn't be stored, please check your gas limit""
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When your contract `selfdestruct`s in its constructor, and you deploy it, the transaction receipt has `status: true`, but Truffle is unable to understand this as a successful transaction.

## Steps to Reproduce

Create this contract:

[code]
Then,

[2019-09-19 13:53] xavierlepretre commented on #2398
Here is my workaround:

[code]

[2019-09-19 17:02] haltman-at commented on #2398
I'm not sure this is an issue with Truffle per se; I think this is an issue with web3 (I've noticed the same thing happening when I have a selfdestruct during deployment while using web3 directly).  Fixing this may have to wait until we're less reliant on web3.

[2019-09-19 17:16] haltman-at commented on #2390
So, I'm not the expert here; @eggplantzzz would know more I think.  But I think if you're doing things by means of Truffle, you ought to be able to make use of its doing that rather than having to do it yourself.  Except this might be quite troublesome because I think this gets thrown in an exception and it may not be a proper `Error` object and extracting it may require hackery?  Like I said, thi

[2019-09-20 09:41] pepoospina commented on #2357
I am not sure. It was not reproducible.

[2019-09-20 11:06] nilfdev commented on #2299
@haltman-at
Hi.
not really. I had to create another account.
and only with another account I could deploy it.

I have assumption that I tried to deploy multiple times and because of this I created long queue of deployments. that is why it was blocked.
we could close the issue probably

[2019-09-20 11:06] #2299 closed

[2019-09-20 19:41] eggplantzzz commented on #2291
So I'm proposing that the answer to this is to store a property like `creationTransactionHash` in the `networks.<id>` property in the artifact.

[2019-09-20 20:09] haltman-at commented on #2373
OK, I've just pushed PR #2401 which should fix this.

[2019-09-21 00:08] CruzMolina commented on #2291
Looks like this already part of the artifact spec as `transactionHash`: https://github.com/trufflesuite/truffle/blob/develop/packages/contract-schema/spec/network-object.spec.json#L9

I imagine the fix is to add the hash in same area where events are saved in the codebase.

[2019-09-21 12:40] pianchemist commented on #896
I should feel that I explain the solution.  'truffle init' make folders (and sample files). The folders include the 'contract' folder. The 'contracts' folder must consist of sol program files (for example. MetaCoin.sol). Sol program has been written with a solidity programming language.

[2019-09-23 17:07] #2373 closed

[2019-09-23 19:22] gnidan opened #2405 "Document in-test debugging feature"
https://github.com/trufflesuite/truffle/issues/2206

[2019-09-24 00:09] gnidan commented on #2389
Hm I wonder if this is related to the build failure (fixed temporarily by #2403, failure currently seen in #2404)

[2019-09-24 01:48] rkalis opened #2409 "Support for Truffle plugins in Yarn workspaces"
## Issue

@PaulRBerg raised an [issue in truffle-plugin-verify](https://github.com/rkalis/truffle-plugin-verify/issues/10) about the plugin not working in Yarn workspaces. The contents of his issue:

---

Yarn workspaces is this new way of intelligently managing your npm modules in a monorepo by installing them only once (or multiple times if there are overlapping versions). What it does is that i

[2019-09-24 04:58] Arachnid opened #2410 "Truffle returns `UnimplementedFeatureError` when compiling contracts with public struct return types"
I'm using Truffle 5.0.37, with solc 0.5.8, and I have a contract that returns an array of structs using `pragma experimental ABIEncoderV2`. [Here's](https://github.com/ensdomains/resolvers/compare/multicoin?expand=1#diff-d52ef609ec88a2eb218f95fa4e33cdd5) the code.

When I use remix with the same solc version, the code compiles fine with no errors. When I run `truffle build`, though, I get the erro

[2019-09-24 05:54] cds-amal opened #2411 "truffle-db unable to resolve npm installed contracts"
Given a project that installs solidity contracts via npm, like openzeppelin-solidity,

The following mutation query fails
[code]

with error output

[code]

[2019-09-24 07:36] haltman-at commented on #2410
That's a solc error message you're getting, not a Truffle error message; but it's very possible that it's a Truffle error that's causing it to come up.  Thanks for bringing this up -- we'll have to check this out.  (I just tried this with your code and, yup, same error.)

My initial thought was that maybe something was causing Truffle to not actually be using 0.5.8 like it should be, but I tried e

[2019-09-24 07:42] haltman-at commented on #2410
Here's something odd I noticed while playing around with this -- the error seems to be coming from `profiles/AddrResolver.sol`, that being the only one that makes use of anything of type `AddressInfo[] memory` (specifically, the return value of `addresses`).  However, if I strip down the project by removing all contracts other than `profiles/AddrResolver.sol`, `ResolverBase.sol` (which it imports)

[2019-09-24 07:50] haltman-at commented on #2410
Ah, here's something -- the problem is likely related to import handling.  (Whether on our end or solc's, I don't know.)  If you delete just the three files that import things from outside the project, the error goes away.  Interesting...

[2019-09-24 11:46] PaulRBerg commented on #2409
Thanks @rkalis!

## Environment

- Operating System: macOS 10.14.6
- Truffle Version: 5.0.35
- node version: 10.15.3
- npm: 6.11.3

[2019-09-24 13:29] gnidan commented on #2409
Thanks both of you! We'll triage this and get it sorted out.

[2019-09-24 22:43] fainashalts opened #2414 "Truffle config.load() does not pass expected parameters to new Config()"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

The Config constructor in the `config/index.js` file expects three parameters to be passed: the truffle_directory, the working_directory, and the network. When `new Config()` is called in the `load()` function

[2019-09-25 00:27] eggplantzzz commented on #2410
So I deleted all the contracts except for 3: OwnedResolver, ResolverBase, and AddrResolver. For OwnedResolver, I deleted all the imports except for Ownable and AddrResolver and adjusted the contract code (i.e. made the first line `contract OwnedResolver is Ownable, AddrResolver {`.
This will still generate the error.

[2019-09-25 02:20] rkalis opened #2416 "Default EVM version for solidity 0.5.8 appears to be byzantium"
## Issue

I have been in touch with @mattBlackDesign of Atomic Loans about using truffle-plugin-verify in their project, which they were having trouble with. We manually copied over the required data into [Etherscan's verification web form](https://kovan.etherscan.io/verifyContract), which failed initially, but after selecting EVM version 'byzantium' (rather than 'default' or 'petersburg') on the

[2019-09-25 14:01] eggplantzzz commented on #2410
So it seems like there is something up with `OwnedResolver` and `PublicResolver`. They both have functions named `isAuthorised`. If you change the name of this function in both contracts to something (even `isAuthorise`) else the project will compile successfully.

[2019-09-25 17:48] eggplantzzz commented on #2398
We can consider checking for this specific error and handling it for a nice user experience. Note that this exception occurs when a transaction reverts as well so we could check for multiple conditions.

[2019-09-25 18:02] eggplantzzz commented on #1698
@seesemichaelj Do you have more information about this issue that you could link here?

[2019-09-25 18:10] eggplantzzz commented on #2384
Hi @Unmesha1! Is your code available somewhere to look at? And if it is, could you please tell us exactly what you were doing when you got this message?

[2019-09-25 18:16] eggplantzzz commented on #2390
Hey @cgewecke, do you happen to know offhand if Truffle provides a way for truffle-assertions to get at the revert string for this?

[2019-09-25 18:19] eggplantzzz commented on #1942
We are marking this as blocked by web3 stuff. :)

[2019-09-25 18:21] eggplantzzz commented on #2357
Closing for now for maintenance. If you find this problem consistently occurring then please let us know! Thanks!

[2019-09-25 18:21] #2357 closed

[2019-09-25 19:06] cgewecke commented on #2390
@eggplantzzz (Just speculating here..)

The truffleAssert code LGTM. I suspect this might be a bug in the way TC handles reason fetching from geth-like clients when gas estimation is enabled. There's a related issue at [ganache-core 480][2] - they're behavior became more geth-like last month.

@Aleione is using Ropsten via HDWalletProvider.
+ Ropsten is geth and there are reason fetching tests for

[2019-09-25 19:54] eggplantzzz opened #2419 "truffle test error when empty folder in test folder"
When running `truffle test`, if an empty folder exists in the test directory it will fail with
[code]

[2019-09-25 20:19] eggplantzzz commented on #2419
It turns out this issue is related to the `node-dir` library and unfortunately it has not been published for the last 2 years.

https://github.com/fshost/node-dir/issues/53

[2019-09-25 21:23] Arachnid commented on #2410
@eggplantzzz That seems completely disconnected from the error message, though? And `OwnedResolver` isn't imported by the contract in question.

[2019-09-26 10:24] kkx commented on #1707
@gnidan
The config used in truffle-config is for configuring mocha itself, there is no way to change using other enchanced mocha library instead of the standard mocha.
would be great if user can select the mocha library to use and import it dynamically when creating Mocha instance here in this line:
https://github.com/trufflesuite/truffle/blob/b4b26add0239bb89da0aa562e730023d5eb35341/packages/core

[2019-09-26 15:21] gnidan commented on #1707
Sure @kkx I think that can work by adding a field to the `mocha` part of the Truffle config: https://www.trufflesuite.com/docs/truffle/reference/configuration#mocha

Feel free to open a PR for this and we can make sure it won't break anything. Seems straightforward though... good idea!

[2019-09-26 16:08] gnidan commented on #2419
good find!

[2019-09-26 22:20] seesemichaelj commented on #1698
This is what @nicholasjpaterno wrote on our other repo about the issue:

To add more background info, echoing @seesemichaelj's comments on this issue for solidarity:

web3.eth.getAccounts() with an infura provider returns an empty array, causing https://github.com/trufflesuite/truffle/blob/reporter/packages/truffle-environment/environment.js#L46 to send an empty array to ganache as what accounts a

[2019-09-27 12:41] eggplantzzz commented on #1698
So currently Ganache cannot handle an empty array for that option and that is the root of the problem?

[2019-09-27 13:09] eggplantzzz commented on #2410
@Arachnid Yes but I'm thinking this might be a Solidity bug of some sort. I'm going to get the raw input for the compiler and ask the Solidity people about this.

[2019-09-27 13:18] eggplantzzz commented on #2410
So @Arachnid, turns out if you add the experimental pragma statement to the contracts that import `AddrResolver` then the project compiles successfully with warnings. I'm not sure if this is what should be expected or not.

[2019-09-27 17:42] eggplantzzz commented on #2410
So I created a stripped down example that illustrates this whole issue. https://github.com/eggplantzzz/toySolidityExample

[2019-09-27 18:11] eggplantzzz commented on #2354
@naddison36 This feature has been merged and released with version 5.0.38. https://github.com/trufflesuite/truffle/releases/tag/v5.0.38

[2019-09-27 18:11] #2354 closed

[2019-09-27 18:14] eggplantzzz commented on #2389
@jhay006 Just a note, if you use `truffle obtain` to install the package, this is not the same as the "native" setting. If you use "native", Truffle assumes that you have installed solc externally to Truffle through something like `brew` or `apt-get`. See [this doc](https://solidity.readthedocs.io/en/v0.5.11/installing-solidity.html#binary-packages) for more info.

[2019-09-27 18:31] eggplantzzz commented on #2307
I believe a lot of these incorrect URLs are probably resolved now that we have switched to the new package names. In that process most (if not all) were updated. I'll take another look to see if we can close this issue.

[2019-09-27 19:57] alexanderatallah commented on #2175
It would be great if the truffle hdwallet provider showed an error when it can't connect to Infura, instead of showing nothing and exiting. That's been a very confusing part of the process for many devs.

[2019-09-27 21:56] MrRefactoring commented on #2374
With the release of version 1.0.19, I got the opportunity to build a package for the browser, but there was a problem with the `debug` package that `hdwallet-provider` uses, do we really need it?

[2019-09-27 22:03] gnidan commented on #2374
I'd be fine removing it, although it's common throughout the monorepo to use that module. I worry it might come back to bite someone later if it gets accidentally put there again.

If we do remove it, probably best to leave a note at the top of the code with a link to [@MrRefactoring's comment](https://github.com/trufflesuite/truffle/issues/2374#issuecomment-536109086), to provide the reasoning.

[2019-09-30 14:58] eggplantzzz commented on #2410
Does adding the extra experimental pragma statements solve it for you @Arachnid?

[2019-09-30 20:54] Arachnid commented on #2410
I've actually since rewritten the code to not return an array of structs - but when it did I tried adding the pragma to PublicResolver.sol - which I think is the only file to import AddrResolver.sol - and it didn't solve it.

[2019-10-01 14:58] eggplantzzz commented on #2410
You also would need to add it to `OwnedResolver` which imports that file as well.

[2019-10-02 14:19] salanfe opened #2431 "@truffle/hdwallet-provider does not work with Geth, err="invalid sender""
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

conversation link: https://gitter.im/ConsenSys/truffle?at=5d94748c6d4b2512c1519b87

---------------------------

## Issue

I'm trying to migrate a helloworld smart contract on my local ethereum dev/test net (geth + genesis with my keys) using truffle. The migration fails when the packag

[2019-10-02 14:35] rkalis commented on #2416
I also observed this issue in @makoto's [wearekickback/contracts](https://github.com/wearekickback/contracts) repo (Solidity v0.5.11).

It appears to occur when compiler settings are provided, e.g.:

[code]

But I haven't observed this issue in projects where there's no compiler settings specified whatsoever (i.e. using the builtin compiler). So that might be related to the problem.

[2019-10-02 17:39] gnidan commented on #2431
Thanks for raising this! We'll look into this and let you know what we find.

[2019-10-02 17:41] gnidan commented on #2239
@samajammin closing this for issue maintenance... but I have a feeling this hasn't gone away so let us know if you get the chance to try a newer version!

[2019-10-02 17:41] #2239 closed

[2019-10-02 17:42] gnidan commented on #2262
Hey @ziakhatri here's another ping :)

Closing this for issue maintenance, but please do get back to us and we'd love to help out!

[2019-10-02 17:42] #2262 closed

[2019-10-02 17:46] gnidan commented on #2175
@alexanderatallah this might get fixed by #2430, at least for migrations. We have a plan to make error handling more robust for provider errors like that.

That should catch the general case, but @danielr6 is your specific issue still occurring? Closing this for issue maintenance, but do let us know!

[2019-10-02 17:46] #2175 closed

[2019-10-02 17:48] gnidan commented on #1698
@davidmurdoch @nicholasjpaterno we can fix this inside Truffle as proposed above, but y'all really should make Ganache accept an empty array :)

[2019-10-02 17:50] gnidan commented on #2389
@jhay006 since this looks like the issue is just "Truffle's not as clear as it could be", not sure what to do here. Closing this for issue maintenance, but please feel free to weigh in if something could be more clear. Thank you!

[2019-10-02 17:50] #2389 closed

[2019-10-02 17:54] gnidan commented on #2390
Hm so what do we do here? @haltman-at says that this is a truffle-assertions issue, not a Truffle issue, which I'm inclined to believe... although there seems to be more that Truffle could do to make truffle-assertions' life easier?

Thoughts for resolving this, anyone?

[2019-10-02 19:05] cgewecke commented on #2390
My belief is that's a reasonable test of whether or not it's a Truffle gas estimation error handling problem. If the reason **is fetched** - it's Truffle's problem.

[2019-10-02 22:42] davidmurdoch commented on #1698
@gnidan, are you suggesting `unlocked_accounts: []` should unlock _all_ accounts instead of no accounts?

[2019-10-02 22:59] seesemichaelj commented on #1698
This is a discussion that should be on the https://github.com/trufflesuite/ganache-core repo, but the UX would indicate that `unlocked_accounts: []` should unlock no accounts rather than all accounts, which I would argue that the proposed change in Truffle would need to happen as that's not the desired outcome of this scenario

[2019-10-03 00:05] pklinger commented on #1347
this bug is open >1 year. is a fix in sight?

[2019-10-03 01:22] gnidan commented on #1347
@pklinger We're in the process of getting the new Event system accepted for merge. We're treating having a path to address this issue as acceptance criteria for that system. Plan is for v5.1, which you can see on [the ZenHub release](https://app.zenhub.com/workspaces/truffle-dev-5c67177dfd28fb7faae0855e/board?releases=5cf06c33c71e7b2c66e4551a&repos=38267641)

[2019-10-03 08:49] rkalis commented on #2390
Hmm. I did some digging into this, and tested some of the things mentioned here. Doing so, I noticed though that this actually just seems to work out of the box.

Considering the following ([source](https://github.com/rkalis/truffle-assertions/blob/master/docs/kalis-me-tutorial-code/test/test-reverts.test.js#L26-L29)):
[code]

When following these steps in my [tutorial code project](https://github

[2019-10-03 16:00] olekon commented on #2239
The issue still persists in 5.0.39

Truffle v5.0.39 (core: 5.0.39)
Solidity - 0.5.12 (solc-js)
Node v10.15.1
Web3.js v1.2.1

Would it be better just to introduce a flag for truffle-config.js that if turned on would skip the compilation process at all when running `truffle test`?

[2019-10-03 20:43] LiangHanLyu commented on #2431
Thank goodness, I'm going to be tortured to death.

[2019-10-04 00:42] pklinger commented on #1347
Thanks for pointing there. You should add this issue's id to the "This Issue is blocking" list at https://app.zenhub.com/workspaces/truffle-dev-5c67177dfd28fb7faae0855e/issues/trufflesuite/truffle/2199, to not forget about issue #1347 in the "icebox". At least i'm unable to find it on zenhub where i'd expect it when following your guidline on finding v5.1 releases.

[2019-10-04 01:51] gnidan commented on #1347
#2199 is set as blocking this issue.  I moved this (#1347) to the Blocked column.

This isn't part of the schedule for v5.1... the plan was to release the event system, then resolve this missing logs problem, although I'm happy to revisit that decision. My thinking is that this issue is a bug, not a feature, and so the fix here could be a patch release.

But, It'd be nice to get this into v5.1, ce

[2019-10-05 20:48] caa1982 commented on #2431
I have the same issue with Infura

[2019-10-07 09:43] earizon commented on #2217
I could fix it cheating about the $HOME directory.

    set HOME_BACKUP=$HOME
    export HOME=/tmp/truffle_install
    mkdir -p $HOME/.config/truffle
    chmod a+rwx $HOME/.config
    chmod a+rwx $HOME/.config/truffle     # <- install fails with EACCESS (dir doesn't exists)
    npm install -g truffle@${TRUFFLE_VERSION} # <- $HOME is ignored. Install in correct path

[2019-10-07 13:23] Shrikee commented on #2431
Same here, using @truffle/hdwallet-provider. Deploying to ropsten using Infura

[2019-10-08 09:14] johnletey commented on #2138
I was planning on starting to work on this, but since #2387 was merged, this should be closed 😄

[2019-10-08 14:11] eggplantzzz commented on #2431
So the last working version seems to be `@truffle/hdwallet-provider@1.0.18`. I just confirmed that `@truffle/hdwallet-provider@1.0.19` fails as described above.

[2019-10-08 17:02] #2138 closed

[2019-10-08 18:05] CruzMolina commented on #2138
Closing since #2387 was released in `v5.0.37`.

[2019-10-08 18:34] dmihal commented on #2431
Commenting to help anybody else: I was getting the following error:

[code]

Downgrading to `@truffle/hdwallet-provider@1.0.18` fixed it. Thanks @eggplantzzz

[2019-10-08 18:56] johnletey commented on #2431
Would love to help fix this. How do I get started?

[2019-10-08 19:03] eggplantzzz commented on #2431
Sorry @johnletey, I found the library that caused the problem and downgraded it to fix this issue [here](https://github.com/trufflesuite/truffle/pull/2438) :(

However! We will probably want to eventually upgrade this dependency for realz soon...so if you want to upgrade the dep and try to make it function properly then it would be super! But no pressure.

[2019-10-09 01:31] olegabr commented on #2431
Confirm that downgrade fixes this issue. just make sure to have an exact version specifier in your `package.json` file. I've got `"@truffle/hdwallet-provider": "^1.0.18"` and it actually installs the `1.0.20` version. The `"@truffle/hdwallet-provider": "1.0.18"` solved the problem.

[2019-10-09 08:52] johnletey commented on #2431
No need to say sorry! Just wanted to start contributing to this amazing project!

I'll definitely look into it and see what I can do!

[2019-10-09 14:14] eggplantzzz commented on #2410
Closing this for issue maintenance.

[2019-10-09 14:14] #2410 closed

[2019-10-09 14:16] eggplantzzz commented on #2374
Closing as it was released in Truffle 5.0.39. Here is the PR https://github.com/trufflesuite/truffle/pull/2427

[2019-10-09 14:16] #2374 closed

[2019-10-09 15:43] chebykin opened #2440 "Why truffle npm package is distributed in a minified version?"
- [ no] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Hi! I'm curious why `truffle` npm package is distributed in an already minified version? I can imagine only the following cases:

- if I use it with front-end, it's a big chance that I do minification using my own `webpack` config or another tool

[2019-10-09 16:50] gjgd commented on #2431
Thanks for the fix @eggplantzzz, do you know when this will be released?

[2019-10-09 17:28] eggplantzzz commented on #2431
@gjgd It should be released tomorrow. I think it will be version 5.0.40.

By the way @johnletey, check out the [CONTRIBUTING.md](https://github.com/trufflesuite/truffle/blob/develop/CONTRIBUTING.md) for some general information about Truffle's flow. Truffle is kind of complex and a little hard to get involved with in the beginning. That doc might give you a leg-up in understanding the project if y

[2019-10-09 17:38] eggplantzzz commented on #2440
Hey @chebykin! The main entry file for Truffle is actually not minified. Will you tell me why you think it is minified? Do you have something specific that you can refer me to?

[2019-10-09 17:42] eggplantzzz commented on #2084
Closing for issue maintenance. Please let us know if you want us to re-open it and troubleshoot further!

[2019-10-09 17:42] #2084 closed

[2019-10-09 17:44] eggplantzzz commented on #2372
Closing for issue maintenance, please let us know if you'd like it re-opened! Thank you!

[2019-10-09 17:44] #2372 closed

[2019-10-09 17:45] eggplantzzz commented on #2217
Closing this issue for maintenance. Please let us know if you want it re-opened to troubleshoot further, thanks!

[2019-10-09 17:45] #2217 closed

[2019-10-09 19:48] johnletey commented on #2431
Thanks! Checking it out now!

[2019-10-09 19:59] eggplantzzz commented on #2416
I don't think Truffle has any reference to `evmVersion` any more and it should use the default for the version of solc you are using if nothing is specified. I will do a check to try and verify this.

[2019-10-09 20:25] eggplantzzz commented on #2416
There must be something else going on here. I confirmed that the output from solc on version 0.5.8 with a simple test contract is the same whether the `evmVersion` is specified as `petersburg` or `undefined` or not specified in the options at all. I also confirmed that in general in Truffle, when `evmVersion` is not specified, `undefined` is the value that gets passed in the options. I'll think ab

[2019-10-09 22:02] Arachnid commented on #2410
I feel like the larger issue here isn't my specific contract - it's how Truffle doesn't provide any context to the error message (file or line number).

[2019-10-09 22:34] CruzMolina commented on #2410
Hey @Arachnid , definitely sounds like something worth looking into. It's been a while since I've used `solc` from the command line, so I'm curious to know if `solc` already provides more context and we're just missing/dropping it somewhere on our end. Can you open a Feature Request for this?

Btw, looks like your original error _is_ coming from solc `0.5.8`, [see line 8](https://solidity.readthed

[2019-10-09 22:51] Arachnid commented on #2410
@CruzMolina I thought *this* was the feature request? Can't we just reopen this issue to address it?

[2019-10-09 23:08] CruzMolina commented on #2410
You're reporting this as a Truffle error, which it isn't. I can open one for you and ref this issue. Would like to cut down the signal to noise ratio.

[2019-10-10 04:24] rkalis commented on #2416
Hey, I double checked as well and you're right that not specifying `evmVersion` has the same bytecode result as compiling with `petersburg` set. But still, the code verifies on Etherscan only when it's set to `petersburg` in the truffle config. So something else must be happening.

@RyuuGan, do you think this could be related to sol-merger? I guess I should test this by taking a  single-file contr

[2019-10-10 09:25] chebykin commented on #2440
I'm sorry, you are right, it isn't minified. That was my mistake, I had incorrectly used this term.

The question should sound `Why almost all truffle modules are bundled into a single file?`. By the single file, I mean `node_modules/truffle/build/cli.bundled.js`.

The problem is that it's too difficult to edit a file that is over 500K lines of code. All of my code editors hang when I trying to do

[2019-10-10 13:00] reuvenpo opened #2442 "Question - Is there a way to compile just one contract in the contracts/ folder?"
The title is pretty much my question. Is there a way to compile just one contract in the `contracts/` folder? If i have a lot of contracts in the Contracts forlder, but only need one, i stil have to wait for them all to compile when i compile from a fresh checkout.

## Expected Behavior
executing `truffle compile MyContract` should compile `contracts/MyContract.sol` only, and not all the contracts

[2019-10-10 13:09] gnidan commented on #2442
This doesn't exist today but it should be pretty straightforward to add to `@truffle/core`'s `lib/commands/compile`. PRs welcome, or we'll triage this and get to it sooner or later!

Thanks for suggesting!

[2019-10-10 13:21] reuvenpo commented on #2442
Thanks for the quick reply!

I'm not too well versed in JS, so i'm not sure i can pull it off myself, but i might give it a shot over the weekend, see if i can find my way around the code. By all means though, don't wait for me "^_^

[2019-10-10 16:38] eggplantzzz commented on #2431
So this issue should be fixed with the release of `@truffle/hdwallet-provider` version 1.0.21. [Here](https://github.com/trufflesuite/truffle/pull/2438) is the relevant PR.

[2019-10-10 16:40] eggplantzzz commented on #2419
This issue was resolved with the release of v5.0.40. https://github.com/trufflesuite/truffle/pull/2420

[2019-10-10 16:40] #2419 closed

[2019-10-10 16:45] eggplantzzz commented on #2440
Ah ok, the bundled file is the binary that is executed. However, if you want to edit that file, you shouldn't do it directly. Instead you should make changes in the necessary packages and then rebuild that file.

If you need any guidance on what to edit and where then feel free to ask more questions! Another thing that might help a bit for gaining an understanding of the flow of Truffle, you can c

[2019-10-10 16:55] eggplantzzz commented on #2410
Well, the thing is, we just forward the `solc` error on to the user here. Is there something more that we could do that you would suggest @Arachnid?

[2019-10-10 17:30] gjgd commented on #2431
I'm still getting the same error with 1.0.21

[code]

[2019-10-10 19:21] eggplantzzz commented on #2431
@gjgd Ok, let me know if you make one. I can't duplicate this error when deploying to Rinkeby any more.

[2019-10-11 06:01] RyuuGan commented on #2416
@rkalis I don't compile any contracts, I just build a new one based on one entry contract file. So I'm not sure if this is related to `sol-merger`. Better to find the smallest contract that reproduces this cituation and then find out why it is happening.

But if there is an error in `sol-merger` then it should be in `pragma` versions. Take attention to this please when you will be looking in this.

[2019-10-11 13:49] eggplantzzz commented on #2442
You might find the [CONTRIBUTING.md](https://github.com/trufflesuite/truffle/blob/develop/CONTRIBUTING.md) a helpful doc before trying to dig in to Truffle's code.

[2019-10-11 14:25] gnidan commented on #2440
To add: the bundle exists to provide a mechanism to ensure portability. In the past (and maybe today, even), a number of Truffle's dependencies have required native dependencies. Our solution has been to bundle into a single Node-only module.

[2019-10-11 15:25] zgorizzo69 commented on #2431
working with ganache and kovan but not with a private POA running geth 1.9.6

[2019-10-11 16:41] eggplantzzz commented on #2431
I am able to migrate a simple project to Kovan, Rinkeby, and Ropsten. Do you have a project that I could try to deploy @zgorizzo69? Perhaps this problem is not related to the provider at all.

It is possible that this change to hdwallet-provider is causing it to error differently and it just seems like a different problem. If you can give me a project to try and migrate it might be helpful to have

[2019-10-11 18:09] frangio opened #2447 "artifacts.require of npm dependency artifacts does not work"
`artifacts.require('<dependency>/<Contract>')` is supposed to create a Truffle contract class based on `node_modules/<dependency>/build/contracts/<Contract>.json`. We are not able to get this to work in tests or migrations.

After some debugging we realized that the resolver is searching for this path under the working directory, which in tests and migrations is set to a directory like `/tmp/test-

[2019-10-12 03:02] icherkashin commented on #2442
@reuvenpo

Having faced a similar problem in the past, I resorted to the [approach](https://www.trufflesuite.com/docs/truffle/reference/configuration#contracts_directory) of using `truffle-config.js` to selectively compile contracts. In particular,

Thus, for a single contract, the `truffle-config.js` may look like akin to this:
[code]

I believe then, whether you do `truffle compile`, `migrate`,

[2019-10-12 04:35] Arachnid commented on #2410
Is there any additional information at all available from solc?

At a minimum it'd be good to know which file was being compiled when the error occurred.

[2019-10-12 05:25] gnidan commented on #2410
Hm, check the metadata section on the Solidity docs, but I believe Solidity just compiles input sources en masse.

[2019-10-12 05:35] gnidan commented on #2442
Ooh, if that works, you don't even need to put it in the config, you can just pass it as `--contracts_directory <path/to/contract>`! (Config values work as command line options typically)

But note, if your single contract file depends on other files, it starts to get a bit more complicated.

[2019-10-12 20:01] Arachnid commented on #2410
Truffle must be compiling a particular contract, though, right? I don't think there's a way to tell solidity "compile all of these files at once"?

[2019-10-13 01:41] gnidan commented on #2410
Telling Solidity "compile all these files all at once" is exactly what we do! See [this section](https://solidity.readthedocs.io/en/v0.5.12/using-the-compiler.html#compiler-input-and-output-json-description) of the docs to see how that works, or see [this part](https://github.com/trufflesuite/truffle/blob/develop/packages/compile-solidity/run.js#L25) of Truffle's code to see how we integrate.

[2019-10-13 04:15] gjgd commented on #2431
@eggplantzzz Here is a minimal example of the bug: https://github.com/gjgd/truffle-hdwallet-provider-bug-example

Instructions to run are in the README.

The bug is reproduceable with version 1.0.21, 1.0.20 and 1.0.19 of @truffle/hdwallet-provider but not with versions below 1.0.18

[2019-10-13 10:54] chebykin commented on #2440
Ok, I see that things are more complex than I thought. Thank you for the answers!

If someone is looking for including non-bundled truffle packages I found the following hack. In your `package.json` file instead of including `truffle` package into your dependencies, include `@truffle/core` and `@truffle/environment`:

[code]

I was able to compile my contracts and run test cases, but there was a p

[2019-10-13 10:54] #2440 closed

[2019-10-13 11:39] chebykin opened #2449 "Truffle error when executing method call. Probably, error with event parsing."
- [ no] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When calling a contract method in my tests I'm getting `Error: TypeError: Cannot read property 'toString' of null Given value: "null"`.

What I've found is when two different contracts have two events with the same signatures but different argume

[2019-10-14 03:39] haltman-at commented on #2449
Yes, this is a problem with event decoding at the moment, which is currently done by an external library that doesn't know how to handle such cases of overlapping signature.  I'm working on writing a new decoder that will be able to handle such cases, but it will be a while until it's fully ready and integrated into the rest of Truffle.  In the meantime perhaps we can find a workaround -- perhaps

[2019-10-14 13:41] eggplantzzz commented on #2431
Thanks for the example @gjgd! I will check it out today.

[2019-10-14 14:10] eggplantzzz commented on #2431
So when I follow your instructions, I get the error specified. However, when I change the mnemonic to be the one ganache is using to create unlocked accounts, I do not get it. Instead it endlessly polls for the block number. I'm still not sure what's going on here, I'll keep investigating.

[2019-10-15 10:12] reuvenpo commented on #2442
@icherkashin a technique that requires editing a js file would not be very viable for automation from a Makefile. There's also the issue that you, @gnidan , raised, that doing this will not work for contracts that span more than one file :/

[2019-10-15 10:35] PyrateAkananto opened #2453 ""truffle test" failing while "../" within "contracts_build_directory" in "truffle-config.js""
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The command `truffle test` fails and creates error messages if the the value `contracts_build_directory` inside `truffle-config.js` uses a directory "outside" the current directory, for example `contracts_build_directory: "./../somewhere/build"` (n

[2019-10-15 12:56] MrRefactoring commented on #2431
@gjgd Thank you very much for the example provided! It looks like my bad.

I was guided by types for `web3-provider-engine` where it was specified that `send` method does not require `callback`.

I'll fix it now.

I apologize for the inconvenience

[2019-10-15 13:41] eggplantzzz commented on #2453
Thanks for the writeup @PyrateAkananto! I'll look into this soon!

[2019-10-15 14:27] eggplantzzz commented on #2453
@PyrateAkananto I can't seem to duplicate your issue. I set the `contracts_build_directory` to `../build` but it doesn't fail like you describe above. If you have a toy project that I could try and clone to investigate it would be appreciated!

However, when you run `truffle test` it creates it's own version of the artifacts and copies them to a temporary directory. It then deletes them afterwards

[2019-10-15 14:29] eggplantzzz commented on #2453
Actually, try deleting your `build` folder. The error that you mentioned seems to indicate that your artifacts are messed up somehow. See if that solves your problem.

[2019-10-15 14:50] PyrateAkananto commented on #2453
First of all, thank you for your help!

It seems the `contracts_build_directory` folder has to be empty or at least contain no other files than the generated `.json` files. I had a `.keep` file in that directory, for version control to keep this directory. `truffle test` seems to try to parse all files within that folder as if they are JSON files. If I delete my `.keep` file, it works fine. But st

[2019-10-15 17:58] ashish10677 commented on #2377
Is this issue still open? I would like to work on it.

[2019-10-15 18:17] eggplantzzz commented on #2377
@ashish10677 I don't think anyone currently is working on this issue so please feel free! I haven't investigated too much, let me know if you get to the bottom of this.

[2019-10-15 19:17] yxliang01 opened #2457 "Document --quiet flag"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The very useful CLI flag `--quiet` is undocumented.

## Expected Behavior

Should be documented.

CC: @eggplantzzz

[2019-10-16 03:06] NickCuso opened #2461 "Tests not executing with the 5.0.40 update"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

After upgrading truffle to 5.0.40, my tests are no longer executed.

5.0.39 works correctly.

I've hit this on a couple projects now but I wasn't able to reproduce it in a barebones repository.

## Steps to Reproduce

[code]

## Expected Behavior

[2019-10-16 11:47] eggplantzzz commented on #2461
With the latest version of Truffle (5.0.40) I was able to run your tests using the instructions above. For you, the last thing you see are the compilation messages?

[2019-10-16 13:36] eggplantzzz opened #2463 "Problem running `test` from `truffle develop`"
## Issue

`truffle test` fails when run from `truffle develop`

## Steps to Reproduce

1. In a new directory, run `truffle unbox metacoin`
2. After unboxing, run `truffle develop`
3. When the prompt appears, run `test`

## Expected Behavior

I expect the tests to run

## Actual Results

[code]

## Environment

* Operating System: Mac OS
* Ethereum client: truffle develop
* Truffle version (`truffl

[2019-10-16 14:03] eggplantzzz commented on #2463
This bug is specific to Node 12 and is present in `5.0.39` and `5.0.38`.

[2019-10-16 14:11] eggplantzzz commented on #2463
Looks like it was referenced by David Burela here https://github.com/trufflesuite/truffle/issues/2070

[2019-10-16 14:20] eggplantzzz commented on #2086
I believe this has been fixed. Let me know if I'm wrong and we need to re-open!

[2019-10-16 14:28] PyrateAkananto opened #2464 "truffle test parsing files not related to Truffle within ./build/contracts"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The command `truffle test` fails if the directory `./build/contracts` contains any files not related to Truffle.

Sidenote: That directory can be changed by setting `contracts_build_directory` inside of `truffle-config.js` ([documentation](https://

[2019-10-16 16:07] NickCuso commented on #2461
Hmm that's strange.  On my local machine I see the same results as the CI build I linked.

[code]

[2019-10-16 16:15] NickCuso commented on #2461
I just confirmed the repo steps above on both Windows and on Linux.  And of course we have the CI repros.

...Is it possible there's a global dependency conflict of some sort (?)
not sure how it works for you.

[2019-10-16 17:49] haltman-at commented on #2442
This should be straightforward using `compile.with_dependencies`; is anybody actually looking at working on this?

[2019-10-16 17:51] haltman-at commented on #2447
Thanks for raising this!  We'll look into it.

[2019-10-16 17:55] reuvenpo commented on #2442
Just in case someone's holding back on this because I said i might dog into it myself... I probably won't after all :/

@haltman-at what do you mean by `compile.with_dependencies`?

[2019-10-16 18:10] haltman-at commented on #2464
Thanks, we'll have to look into this.

[2019-10-16 18:12] vittominacori commented on #2461
Yes it seems `5.0.40` doesn't run test located in `./test/**` subfolders.

Like in my travis task [here](https://travis-ci.org/vittominacori/erc1363-payable-token/jobs/598327037) it produces `0 passing`.

But if I put a `.js` in `./test` folder it works properly for this file.

[2019-10-16 18:15] haltman-at commented on #2384
@Unmesha1, could you link us to this tutorial you're referring to?

[2019-10-16 18:16] haltman-at commented on #2388
Closing for issue maintenance.  If you're interested in a fix, please let us know.

[2019-10-16 18:16] #2388 closed

[2019-10-17 14:06] eggplantzzz commented on #2461
Oh I see, you have the truffle version pinned in the `package.json`. I think that was why it was passing for me. I was able to reproduce your bug, looks like we might have to adjust the mechanism that searches for files! Thanks for reporting this!

[2019-10-17 14:19] eggplantzzz commented on #2461
So here is the PR for the fix for this https://github.com/trufflesuite/truffle/pull/2468

[2019-10-17 15:15] Unmesha1 commented on #2384
The link is
https://www.dappuniversity.com/articles/the-ultimate-ethereum-dapp-tutorial.
Thanks for the help!

On Wed, Oct 16, 2019 at 11:45 PM Harry Altman <notifications@github.com>
wrote:

[2019-10-17 17:23] haltman-at opened #2469 "Add method for getting all artifacts"
## Issue

It would be quite useful for the codec (or users of the codec) if there were a method that allowed one to get all the project's artifacts (say as an array).  These could just be artifacts or they could be whole constructor objects like `artifacts.require` returns; I guess the latter would be more convenient.  It could be called `artifacts.requireAll` or something similar.  This would all

[2019-10-17 17:25] haltman-at commented on #2469
Note: @gnidan remarks in Slack that the method should just return a list of names, not actual artifacts; it could be called `artifacts.list`.

(And then you could do `artifacts.list().map(artifacts.require)` for what I want, I guess...)

[2019-10-17 18:16] NickCuso commented on #2461
Confirmed this is fixed with the 5.0.41 update.  Thanks for the fast turn-around!

[2019-10-17 18:16] #2461 closed

[2019-10-17 20:40] gjgd commented on #2431
Can confirm that v1.0.22 solved the error, thanks @MrRefactoring @eggplantzzz

[2019-10-17 20:52] haltman-at commented on #2449
OK, started on this and turns out it's more complicated than that actually.  Doing that just results in an error stemming from `contract`.  Indeed, now that I look again, the originally reported error stems from `contract` -- it's not even the error I was thinking of!  The `null` here is presumably coming from when I wrapped event decoding in `contract` in a try/catch as well a while back; I retur

[2019-10-17 21:16] haltman-at commented on #2449
Hm, nope -- it's not that null at all!  The decoding itself isn't crashing.  I'm having trouble finding what is...

[2019-10-18 12:22] hickscorp opened #2472 "Environment script to be ran by Truffle when starting a console."
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

Note that this is not an issue, but rather a feature request. I asked a question on the Truffle's Gitter and I was pointed at opening an issue here.

The original question was:

Let me expand on that - when in a truffle console, it'd be great to have a way to have some "environmental" s

[2019-10-18 17:48] #2431 closed

[2019-10-18 18:05] haltman-at commented on #2449
OK, put up PR #2474 as a temporary workaround for this (thanks to @eggplantzzz for figuring out a significant part of the problem).  Again, a real fix will have to wait until the new decoder is ready.

[2019-10-19 05:37] roamabit commented on #2070
Currently working in Windows 10 - reloading node.js via .msi installer worked. https://nodejs.org/en/download/

Current specs:
Truffle 5.0.40
Node: 10.16.3
NPM 6.9.0

[2019-10-19 05:37] roamabit commented on #2070
Currently working in Windows 10 - reloading node.js via .msi installer worked. https://nodejs.org/en/download/

Current specs:
Truffle 5.0.40
Node: 10.16.3
NPM 6.9.0

[2019-10-21 05:20] kottackalthulasi opened #2476 "Truffle version is getting v5.0.32 (core: 5.0.32) Solidity v0.5.0 (solc-js) when installed truffle 4.1.5 version. How to downgrade it?"
I installed v4.1.5 of truffle using

`sudo npm install -g truffle@4.1.5`

But when I checked the version i get the result like,

[code]

I can't execute my solidity files because of this issue. I need v4.1.5 for that. Anyone please help me to downgrade the truffle.

[2019-10-21 16:02] gnidan commented on #2472
Hm we can probably hook up the `truffle exec` plumbing to this. What would this be... a config option?

[code]

something like that maybe?

[2019-10-21 19:29] gnidan commented on #2476
Can you use a later v4 version?

[2019-10-21 20:18] eggplantzzz commented on #2476
@kottackalthulasi Why do you not want to use version 5 of Truffle? In 5 you can specify the version of the Solidity compiler to use in `truffle-config.js`. You can check out the docs [here](https://www.trufflesuite.com/docs/truffle/reference/configuration#compiler-configuration).

Also, you probably just did not uninstall version 5. I would recommend that you run `npm uninstall -g truffle` and the

[2019-10-22 07:10] KBriverun opened #2481 "truffle test: console.warn does not work as expected"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

`truffle test` command uses an [overloaded](https://github.com/trufflesuite/truffle/blob/master/packages/core/lib/test.js#L50) `console.warn()` function.

https://github.com/syscoin/sysethereum-contracts/blob/63be76b53b9f97f35c079c275c4b45e8eaec2af

[2019-10-22 08:17] Vasiliy-Bondarenko commented on #2257
Same issue here. Sometimes it happens, sometimes - not (with absolutely no changes, just rerun the same command). Very unstable.
[code]
i've got this error quite fast, without any long wait.
transaction was a success: https://goerli.etherscan.io/tx/0xf42b864701208f1ae10608ca750288198f87867723793b6173e2ab8934ee9d25

on the next run a minute later...
[code]

[2019-10-22 13:04] gitpusha opened #2482 "npm install @truffle/hdwallet-provider does not work on macOS Catalina 10.15"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Cannot `npm install @truffle/hdwallet-provider` on `macOS Catalina 10.15`

## Steps to Reproduce

1. setup: macOS Catalina 10.15
2. run `npm install @truffle/hdwallet-provider`

## Expected Behavior

The `@truffle/hdwallet-provider` package should

[2019-10-22 13:55] eggplantzzz commented on #2464
This has been merged in https://github.com/trufflesuite/truffle/pull/2470 and will be released this week.

[2019-10-22 14:56] eggplantzzz commented on #2307
I think this has been corrected. Closing

[2019-10-22 14:56] #2307 closed

[2019-10-22 17:26] eggplantzzz commented on #2447
@frangio Do you have a project where this is not working that I could clone to reproduce your issue?

[2019-10-22 17:47] Vasiliy-Bondarenko commented on #2257
Also i get the same issue with other contracts deployment. Not only Migrations. So it's not specific to the contract.

[2019-10-22 20:09] frangio commented on #2447
Unfortunately I don't have a project ready to share, but we were able to reproduce this easily on a freshly initialized project with `@openzeppelin/contracts` installed via npm.

Hm, I'm not sure if we're talking about the same thing. I'm talking about contract that are precompiled in the dependency, and that are not imported in any Solidity file. So there is nothing that Truffle should compile he

[2019-10-23 14:27] gitpusha commented on #2482
I was able to resolve the issue by deleting my `/Library/Developer/CommandLineTools` directory and reinstalling via `xcode-select --install` -- I followed this way of reinstalling the xcode commandlinetools because I never installed Xcode the app itself - I only ever installed the command line tools. The approach for reinstalling them might differ for people that installed them via Xcode the app i

[2019-10-23 14:27] #2482 closed

[2019-10-23 16:38] eggplantzzz commented on #2447
So in other words you are talking about importing JSON files with the artifact information instead of Solidity files. I'll take a look into this today. I'll get back to you about what I find, thanks!

[2019-10-23 17:38] CruzMolina commented on #2393
Closing for maintenance. Happy to re-open if this is still an issue.

[2019-10-23 17:38] #2393 closed

[2019-10-23 17:39] CruzMolina commented on #2233
Closing for maintenance. Let us know if this is still a problem.

[2019-10-23 17:39] #2233 closed

[2019-10-24 14:56] eggplantzzz commented on #2257
Can anyone reliably reproduce this error? This would be a great help if anyone can provide repro steps.

[2019-10-25 15:53] mrwillis opened #2497 "Truffle doesn't catch revert reason in error and bubbles up"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

Code:

[code]

Truffle test with chai cannot catch revert reason. The try catch block does not work

[code]

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expec

[2019-10-25 18:18] chebykin commented on #2449
@haltman-at Thanks for this hotfix! Should we keep this ticket open until the new decoder?

[2019-10-25 18:21] haltman-at commented on #2449
No, I don't think that's necessary.  I'll go ahead and close this.  We can look at this again once the new decoder is ready.

[2019-10-25 18:21] #2449 closed

[2019-10-28 14:16] eggplantzzz commented on #2447
Hey @frangio can you give me a link to some docs describing what you are doing or give me a small snippet demonstrating what you want to do? I'm trying to figure out how to test and reproduce your error.

[2019-10-28 14:41] eggplantzzz commented on #2447
I tried using an ENS library to recreate your problem. I installed `@ensdomains/ens` and am able to successfully instantiate instances of `ENSRegistry` in both tests and migrations by doing the following...
[code]

If you have a couple minutes and are able to provide a simple repro example then let me know! I would love to try and help you get to the bottom of the issue.

[2019-10-28 18:22] #2464 closed

[2019-10-28 18:22] eggplantzzz commented on #2476
Closing this for issue maintenance.

[2019-10-28 18:22] #2476 closed

[2019-10-28 22:04] frangio commented on #2447
Oh I see. It seems we are putting our artifacts under the wrong directory, in `build/*.json` instead of `build/contracts/*.json`.

@eggplantzzz Thanks for looking into this! We'll fix our package

[2019-10-28 22:04] #2447 closed

[2019-10-28 23:20] gnidan opened #2505 "Finish preparing @truffle/codec and @truffle/decoder for release"
## Issue

Part of #2191, this issue seeks to gather known work remaining for the upcoming releases:
- @truffle/codec v0.1.0 (new package)
- @truffle/decoder v4.0.0 (major, breaking)

This issue should represent that which is blocking release, generally related to interface concerns and documentation. This issue constitutes outstanding tasks listed in #2485 and #2467, as well as from informal discu

[2019-10-29 01:40] haltman-at commented on #2505
Note: I'm hoping my new docs written for `redo-interface` address point no. 2 somewhat.

[2019-10-29 01:44] haltman-at commented on #2505
Claiming the `protected` and `nativize` points.

[2019-10-29 02:21] Water-bamboo commented on #1205
That's because you have two truffle bin, the new version install correct, but `truffle version` invoke the wrong one.

[2019-10-29 15:34] gnidan commented on #2505
[Current docs preview](http://gnidan.org/tmp/codec/)

[2019-10-29 18:14] eggplantzzz commented on #2457
Hmm, actually it looks like this is documented for the `compile` command. What command were you using it with @yxliang01? Was it `truffle test`?

[2019-10-29 19:27] yxliang01 commented on #2457
Yes `truffle test` @eggplantzzz

[2019-10-30 01:22] hanstf opened #2512 "Truffle does not catch ganache error"
- [X ] I've asked for help in the [Truffle Gitter](https://gitter.im/ConsenSys/truffle?at=5dad0b13ea0d6159fd9f33c0) before filing this issue.

---------------------------
I have submitted my issue in ganache [here](https://github.com/trufflesuite/ganache-core/issues/493) but seems there is no feedback about it, so I am trying to submit it here since it can be error from the truffle contract.

## I

[2019-10-30 16:16] gnidan commented on #2505
Took a look at it, and I'm calling "Determine feasibility of modifying the TypeDoc theme's display of `async` functions (to differentiate them more clearly from regular functions" out of scope because of difficulty

[2019-10-30 17:42] gnidan commented on #2512
Hm, thanks for this. We'll have to dig into it, but we're about to release #2466, which should fix at least the undefined transaction hash. I don't expect it will fix the other issues you describe, but we'll see!

[2019-10-30 19:04] haltman-at commented on #2505
OK.  What do you think of me going through and just manually marking all the `async` functions with bold notices?

[2019-10-30 22:34] hickscorp commented on #2472
@gnidan I think your suggestion is pretty much what would be needed for a first iteration - as long as the script receives proper environment (particularly `artifacts`).

[2019-10-30 23:59] hanstf commented on #2512
@gnidan sure thing! will try that version out and let you know.
Thanks.

[2019-10-31 00:06] #1723 closed

[2019-10-31 02:14] cgewecke commented on #2512
@hanstf I am seeing this too but with Geth. If you move down to a lower Truffle version does this go away?

[2019-10-31 05:01] cgewecke commented on #2512
Couple of triage notes. Not sure why this isn't being caught by the tests here, but this line:

https://github.com/trufflesuite/truffle/blob/8fdd56f7c45f2b36baeaa71e94f74d956cde1e79/packages/contract/lib/override.js#L53

is not bound correctly to an event emitter. You can see how that's typically done in the `handler.js`.

There's also an (unrelated?) problem in `override.extractReceipt` where the

[2019-10-31 10:14] Vasiliy-Bondarenko commented on #2257
@eggplantzzz this IS the problem itself! it is not reliable and that's why it is a problem :) so i guess - it's impossible to reliable reproduce it.

[2019-10-31 10:26] hanstf commented on #2512
@cgewecke tried the truffle contract  v4.0.32 but is shows the same?

I was looking at that too, the extractReceipt is checking too general.

But what I also don't understand is in testnet, I was getting a js object but then in ganache, I got an js
Error with stack trace in its message. I also waiting the feedback from ganache, maybe this because ganache does not return standard error object?

[2019-10-31 10:31] cgewecke commented on #2512
@hanstf Thanks for checking the truffle version (Do you mean 5.0.32?) Also are you running ganache-cli with `--noVMErrorsOnRPCResponse`?

That flag is described as:

[2019-10-31 13:56] hanstf commented on #2512
@cgewecke I am not sure which truffle version was it, I tried it with https://www.npmjs.com/package/@truffle/contract/v/4.0.32

actually that flag does not make any difference. It gave me exactly the same error either way.

After checking my ganache logs, I don't even see any `eth_sendRawTransaction`.
I guess the error was since the
[code]
but it was always resolved in `getGasEstimate` function. B

[2019-11-01 00:44] KadenZipfel opened #2528 "Truffle install <ethPM package> failing"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Trying to install ethPM packages with truffle install is not working. Initially I tried it on v5.0.42 and received the error `Error: Returned values aren't valid, did it run Out of Gas?`, then I tried rolling back to v5.0.19 and now I'm getting `Er

[2019-11-01 14:19] eggplantzzz commented on #2528
Thanks for reporting this! We will look into it

[2019-11-01 14:58] #2279 closed

[2019-11-01 20:35] rogerioyuuki commented on #2497
I'm also having this problem and what I noticed is the weird string being thrown instead of an Error object. The string is `abort(...something...). Build with -s ASSERTIONS=1 for more info.`, which I think comes from here:
https://github.com/emscripten-core/emscripten/blob/8d265e61d4313246b0682c6298b42c640aaaf046/src/preamble.js#L722

And this crashes the test because mocha doesn't support strings

[2019-11-01 22:15] gnidan commented on #2505
@haltman-at I believe **Finish exporting Codec.*.{Allocate|Decode|Encode} as appropriate** is sufficient for now, so I've marked it as done. Let me know if you disagree!

[2019-11-02 14:50] Leocn commented on #2528
same issue.
return code
`Error: Returned values aren't valid, did it run Out of Gas?`

Truffle v5.0.34 (core: 5.0.34)
Solidity v0.5.8 (solc-js)
Node v10.16.3
Web3.js v1.2.1
npm v6.9.0

[2019-11-03 03:53] loo41 commented on #766
- i try to upgrade version，but not resolve this problem.
- i try to ping the address, but no response.
- i try to vpn, but invalid.
[code]
[code]

[2019-11-03 04:24] cgewecke opened #2539 "Gas multiplier is never applied in truffle-contract"
## Issue

By default, contracts using autoGas should multiply the gas estimate by 1.25.  At the moment, the multiplying logic seems like it just returns the original estimate value.

Web3 1.2.2 [fixes][1] long-broken logic that registers a transaction as failed when the gas consumed equals the gas sent. In older versions of the eth chain and some contemporary forks ( ETC? maybe Quorum?) failing tx

[2019-11-03 16:01] k06a commented on #1707
@kkx any chance you will contribute this?

[2019-11-03 16:34] k06a commented on #1707
This is my try: https://github.com/trufflesuite/truffle/pull/2540

[2019-11-04 00:55] 7-- opened #2542 "truffle test - locks when after truffle init"
![Screenshot from 2019-11-03 19-50-12](https://user-images.githubusercontent.com/4725003/68095010-eea51080-fe73-11e9-91eb-c40af07119ba.png)

Only after you truffle-config.js development to a client. There should be an error message saying to set it maybe.

[2019-11-04 18:42] gnidan opened #2545 "Write v5.1 release notes"

[2019-11-04 18:44] gnidan opened #2546 "Ensure features targeting v5.1 meet acceptance criteria"

[2019-11-04 18:44] gnidan opened #2547 "Author blog post about using ENS in Truffle v5.1"

[2019-11-04 18:44] gnidan opened #2548 "Author blog post about using `--debug` in Truffle v5.1"

[2019-11-04 19:02] gnidan commented on #2505
I added "Add usage notes/example for ResultInspector" since there's nothing there now, but we probably need something, since we point users in that direction.

[2019-11-04 19:13] eggplantzzz commented on #2497
Do you have a specific example that I could use to reproduce this error? If I just make a Solidity function that reverts it doesn't crash the test runner.

[2019-11-04 19:42] eggplantzzz commented on #2539
Ahh yes I see what you mean. It looks like the logic in that method isn't sound. Thanks for pointing this out!

[2019-11-04 19:58] gnidan opened #2549 "Publish Codec docs somewhere on trufflesuite.com"

[2019-11-04 20:13] gnidan commented on #2192
Close this for issue maintenance, as this issue is superseded by #2505

[2019-11-04 20:13] #2192 closed

[2019-11-04 21:43] elranu commented on #1092
Hi,
     it is still not possible to debug a view function with truffle? Thanks

[2019-11-04 22:03] haltman-at commented on #2505
OK, I can add those.

[2019-11-04 22:53] MicahZoltu opened #2551 "Make Debugger show reject message"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
When using Truffle Debugger to debug a contract call rejection without source maps available, the debugger does not show you the rejection message.

## Steps to Reproduce
Debug a contract without source maps.

## Expected Behavior
See the rejection

[2019-11-04 23:42] gnidan commented on #2551
cc @haltman-at

[2019-11-05 00:43] KadenZipfel opened #2552 "Truffle develop timeout error"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I'm trying to run `truffle develop`, but about 95% of the time I get the following timeout error:
[code]

So I've added `networkCheckTimeout: 10000000` to my `develop` network in `truffle-config`, as the error appears to suggest, but it hasn't solv

[2019-11-05 00:46] CruzMolina commented on #2552
Hey @KadenZipfel ! If you are using GanacheUI, I would recommend connecting using `truffle console` instead of `truffle develop`.

[2019-11-05 05:31] haltman-at commented on #2551
Huh, that's odd.  I'm afraid I'm currently quite busy preparing for the 5.1 release, but as soon as that's out of the way I'll take a look at this first thing.  Thanks for reporting this!

[2019-11-05 05:58] MicahZoltu opened #2555 "NPM packages don't have pinned versions."
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
`npm install @truffle/workflow-compile` will result in getting different transitive dependencies depending on what is available from NPM at install time.  While this is a specific problem that can be addressed, the bigger issue is that none of the d

[2019-11-05 13:03] gnidan commented on #2505
Docs will have permanent URL at https://www.trufflesuite.com/docs/truffle/codec

[2019-11-05 13:04] gnidan commented on #2549
Thanks to @seesemichaelj for getting this sorted out!

[2019-11-05 13:04] #2549 closed

[2019-11-05 14:32] eggplantzzz commented on #2457
So we decided to add a new flag for `truffle test`, the `--runner-output-only` option. This will suppress all output except for the runner output (see PR above).

[2019-11-05 15:03] eggplantzzz commented on #2528
The last version I can find where this worked is `5.0.8`.

[2019-11-05 16:04] eggplantzzz commented on #2528
Actually it looks like it works with openzeppelin. Try doing `truffle install zeppelin`. For me it is successful, there must be something particular about `ds-math` that is causing it to fail.

[2019-11-05 16:45] savil commented on #2528
hmm `sai` also doesn't work (but perhaps that is related to `ds-math` as well, since both are from makerdao).

Prior to truffle 5.0.32 (if i recall correctly), the error is: `Cannot find any published versions of 'sai' with the specified version range (*)`. Note: adding a valid version number (`1.0.0`) doesn't help :)
Stack trace: https://gist.github.com/savil/d11f54e5598f873652f83c576b98c27c

and

[2019-11-05 17:33] eggplantzzz commented on #2552
What network are you connecting to? Are you using ganache?

[2019-11-05 17:45] KadenZipfel commented on #2552
I'm using ganache with port 8545

[2019-11-05 18:13] KadenZipfel commented on #2552
`networkCheckTimeout` does work with truffle console at least, but it will just hang and never connect

[2019-11-05 18:21] eggplantzzz commented on #2552
What does your Truffle config look like? It looks like it is having trouble connecting to your network for some reason. Under the hood it is just trying to get the latest block number (using `web3.eth.getBlockNumber()`) to make sure it gets a valid response. I cannot duplicate your error here locally.

[2019-11-05 18:24] KadenZipfel commented on #2552
[code]

[2019-11-05 20:03] eggplantzzz commented on #2552
What happens if you set your `network_id` to "*"?

[2019-11-05 20:38] KadenZipfel commented on #2552
[code]

[2019-11-05 22:46] nventuro opened #2560 "@truffle/contract 'confirmation' listener cannot be configured"
## Issue

`@truffle/contract` registers a `'confirmation'` event listener, which gets fired every time there is a new block, until the number of requested confirmations is reached. The default number of confirmations is 24, and there is no way to configure this value from the outside.

This means that sending a transaction via a `@truffle/contract` object will spawn a Node timeout object that will

[2019-11-06 04:05] gnidan commented on #2560
I'm in favor of making this configurable, if anyone wants to open a PR

[2019-11-06 07:16] loveship00 opened #2563 "download what ?"
This directory is non-empty...
? Proceed anyway? Yes
√ Preparing to download
× Downloading
RequestError: Error: connect ETIMEDOUT 69.171.225.13:443
    at new RequestError (C:\Users\HONGJE3\AppData\Roaming\nvm\v12.6.0\node_modules\truffle\build\webpack:\~\request-promise-core\lib\errors.js:14:1)
    at Request.plumbing.callback (C:\Users\HONGJE3\AppData\Roaming\nvm\v12.6.0\node_modules\truffle\bui

[2019-11-06 08:02] gnidan commented on #2563
Yes, `truffle unbox` downloads a Truffle Box from the internet and sets it up for you!

[2019-11-06 08:02] #2563 closed

[2019-11-06 18:38] eggplantzzz commented on #2528
Since `zeppelin` does work and the others don't I'm going to close assuming that it is not a problem on Truffle's side. If you can verify that it is indeed a Truffle problem, we can definitely re-open it! Thanks.

[2019-11-06 18:38] #2528 closed

[2019-11-06 18:50] gnidan commented on #2542
Could you provide your `truffle version` info?

After some discussion, it seems like restarting your computer might fix this.

The underlying problem seems like it might be related to Truffle's management the separate process it uses for ganache-core when running tests. This mechanism starts roughly [here](https://github.com/trufflesuite/truffle/blob/develop/packages/environment/environment.js#L67

[2019-11-06 18:54] gnidan commented on #2555
We definitely want to look into this, perhaps urgently.

My biggest question is: what do other projects that use Lerna/Yarn do about this?

Also cc @davidmurdoch because I may recall your mentioning this in the past? Or was that something else?

[2019-11-06 18:56] gnidan commented on #2555
Also @eggplantzzz makes a strong case that this is glaringly unbelievable and warrants reproduction.

[2019-11-06 19:00] gnidan commented on #2390
@rkalis our ticket processing process says it's time to close this from no response, but want to leave it up to you... what do we do here, do you think?

[2019-11-06 19:03] rkalis commented on #2390
Haven't heard back from @Aleione, and I couldn't reproduce the issue without their response, so closing is fine by me. It can always be reopened with new information in the future.

[2019-11-06 19:05] gnidan commented on #2390
Sounds good, thanks @rkalis! Doing that!

[2019-11-06 19:05] #2390 closed

[2019-11-06 19:32] eggplantzzz commented on #2552
This kind of sounds like there might be several chains running on your computer and messing up things. Make sure all of your other instances of Ganache and whatnot are terminated and see if your problem persists. To make sure you might restart your computer as well. Let me know how it goes!

[2019-11-06 20:21] davidmurdoch commented on #2555
Truffle uses `yarn`, which doesn't generate a `package-lock.json` or `npm-shrinkwrap.json` (note: only `npm-shrinkwrap.json` can be published to npm). If `npm-shrinkwrap.json` files are never published, `npm` will always respect semver for all dependencies and transitive dependencies based on the contents of
the package.json.

Example:

If `@truffle/fictional-package@1.1.1`'s `package.json` contai

[2019-11-06 22:20] KadenZipfel commented on #2552
Initially it seemed the issue was still there after restart, but now it seems to be working fine... We'll see how it works going forward.

[2019-11-06 23:31] MicahZoltu commented on #2555
I believe it does, just to a more limited extent:
[code]

[2019-11-06 23:35] MicahZoltu commented on #2555
Where can one read this strong case?

[2019-11-07 00:01] davidmurdoch commented on #2555
Well, I stand corrected! :-D

`original-require` doesn't have any external dependencies, so that one is effectively pinned. `app-module-path` doesn't have external dependencies either, but still allows for updated versions due to the loose semver. Then there is the pinned `mocha` which itself includes 23 pinned dependencies; I haven't checked if its transitive-dependencies are all pinned and locke

[2019-11-07 00:05] MicahZoltu commented on #2555
Mocha has [86 transitive dependencies](http://npm.anvaka.com/#/view/2d/mocha)!  It is one of those packages that brings in the kitchen sink with it.  😢

[2019-11-07 01:38] cds-amal commented on #1865
PR #2121 resolved this.

[2019-11-07 01:38] #1865 closed

[2019-11-07 06:35] gnidan commented on #2555
It was over Zoom, in our internal Wednesday weekly ticket processing meeting. I took notes on the nature of the "strong case" but was unable to capture a summary. I better leave it to @eggplantzzz to summarize (if he can remember why the case was strong before we had all this new information)

[2019-11-07 07:01] gnidan commented on #2555
@davidmurdoch thank you for presenting a strong case for shrinkwrap guarantees.

I believe there are other significant factors in deciding whether the benefits of those guarantees outweigh other costs:
- There's likely a significant operational cost to switch Truffle's development to NPM
- We'd lose the benefits of Yarn workspaces, which helps ensure we have valid `truffle` builds

Theoretically,

[2019-11-07 11:25] adrianmcli commented on #2505
Just wanted to document where and how Web3.js is used within `@truffle/decoder` (`@truffle/codec` only uses `web3-utils` which is relatively lightweight). The intention is to find out how coupled we are with Web3.js and whether or not it is feasible to decouple from it.

#### `utils.ts`

- [Line 141](https://github.com/trufflesuite/truffle/blob/next/packages/decoder/lib/utils.ts#L141):

[code]

##

[2019-11-07 11:52] eggplantzzz commented on #2552
Super! I'm going to close this for now, if the problem ends up persisting then I'll be happy to re-open it.

[2019-11-07 11:52] #2552 closed

[2019-11-07 11:58] MrRefactoring opened #2567 "@truffle/hdwallet-provider is not supported events subscribing"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Add HDWalletProvider to drizzle store

## Expected Behavior

Drizzle successful subscribed to events

## Actual Results

![subscriptions problem](https://user-images.githubusercontent.com

[2019-11-07 15:27] PyrateAkananto commented on #2464
Tested and working, thanks a lot!
:thumbsup:

[2019-11-07 15:54] gnidan commented on #2567
Hm, sounds like this is a Drizzle issue, for https://github.com/trufflesuite/drizzle/issues

[2019-11-07 15:55] eggplantzzz commented on #2555
Incidentally, it seems maybe yarn workspaces are not meant for what we are using it for.
“Workspaces are not meant to be published” and “Yarn will use a single lockfile rather than a different one for each project”
https://yarnpkg.com/lang/en/docs/workspaces/

[2019-11-07 19:43] eggplantzzz commented on #2555
Also related https://github.com/yarnpkg/yarn/issues/5428

[2019-11-07 23:21] eggplantzzz commented on #2539
A fix for this is now out in the wild with v5.0.44.

[2019-11-07 23:21] #2539 closed

[2019-11-08 04:16] gnidan commented on #2505
@adrianmcli thank you so much for the thorough digging and record-keeping!

[2019-11-08 11:35] MrRefactoring commented on #2567
I am afraid that if I inherit from ProviderEngine this problem will be solved

[2019-11-08 16:02] eggplantzzz commented on #2457
The option mentioned above is now a feature as of v5.0.44.

[2019-11-08 16:02] #2457 closed

[2019-11-08 16:15] yxliang01 commented on #2457
Thanks! @eggplantzzz

[2019-11-08 16:30] eggplantzzz commented on #2377
@alsco77 I actually have no problem importing an openzeppelin contract in my project. I have the following file and it compiles fine on the latest Truffle.
[code]
If you can provide an example repo, perhaps, I will try again to duplicate your issue.

[2019-11-08 19:00] haltman-at opened #2580 "Various packages lack source mapping support"
## Issue

I noticed that `@truffle/codec` (on `next`) uses `source-map-support` to allow for source mapping despite being written in TypeScript.  It seems likely this should also be used in our other TypeScript packages (or compiled packages more generally, such as the debugger, which is written in JS but compiled with Webpack).

[2019-11-08 22:06] haltman-at commented on #2551
Ah, I see -- this is a feature request, not a bug report.  The description was a misleading here; it made it sound like it *does* determine a reason string when there is source, but not when there isn't.  When in fact, it does not determine a a reason string regardless.  It's just that, if there's source, you can often determine the reason string anyway by stepping through to the end.

OK.  So you

[2019-11-09 00:24] justinjmoses commented on #2239
I'm getting this also in CircleCI. I am caching and restoring the `build` folder  between processes - is there a `tmp` file or some such where truffle caches the last compilation time? Either way, a flag on `truffle test` seems like an easy win.

[2019-11-11 17:09] win2win commented on #2552
I had exact problem with deploying to reinkeby using Infura.  Simply timeouts.

I have used this command to test response coming back from Infura and it works.

curl -X POST --data '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":83}' https://rinkeby.infura.io/v3/[ my key]

I got this response.
{"jsonrpc":"2.0","id":83,"result":"0x52c10d"}

[2019-11-12 06:26] gnidan commented on #2505
we did 'em

[2019-11-12 06:26] #2505 closed

[2019-11-12 16:47] #2546 closed

[2019-11-12 16:47] #2545 closed

[2019-11-12 16:49] #2405 closed

[2019-11-12 16:49] #2205 closed

[2019-11-12 16:49] #2206 closed

[2019-11-12 16:49] #2183 closed

[2019-11-12 16:50] #2184 closed

[2019-11-12 16:50] #2187 closed

[2019-11-12 16:50] #2188 closed

[2019-11-13 15:24] eggplantzzz commented on #2547
Here is the PR for the blog post.
https://github.com/trufflesuite/trufflesuite.com/pull/563

[2019-11-13 18:37] fainashalts commented on #2567
Hi @MrRefactoring! I don't totally understand what you mean about ProviderEngine, can you clarify? Do you mean instead of accessing HDWalletProvider directly?

[2019-11-13 18:41] #2201 closed

[2019-11-13 18:42] #2197 closed

[2019-11-13 18:48] #2202 closed

[2019-11-13 18:50] #2193 closed

[2019-11-13 18:50] #2198 closed

[2019-11-13 19:00] #2166 closed

[2019-11-13 19:06] fainashalts commented on #1997
Hi @romisalve, we're closing this for issue maintenance as its been a while. If you'd still like some guidance here, please open a new issue and we'll take a look!

[2019-11-13 19:06] #1997 closed

[2019-11-13 19:09] fainashalts commented on #1950
Hi @adriendulong thanks for opening this issue! Can you get back to us about @eggplantzzz's question? We'll close this for issue maintenance next week unless it's still an issue.

[2019-11-13 19:15] fainashalts commented on #1629
I believe this is solved in the most recent versions of Truffle. Closing for issue maintenance, but please let us know if it is still an issue and we will reopen. Thanks for bringing this to our attention!

[2019-11-13 19:15] #1629 closed

[2019-11-13 19:29] haltman-at commented on #1455
Extracting the `web3.eth.Contract` instance and using that is definitely *not* recommended.

We don't have an official recommentation on this at the moment, but I'd like to note that if you want the extra consistency, you can use `.sendTransaction()` or `.call()` just as well with Truffle Contract.  And if you *really* want the extra consistency, you can use `.methods`.  Again, all these things ar

[2019-11-14 08:36] Nayyar525 opened #2594 "how to call constructor from the test smart contract will doing the unit testing."
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

 i am writing the test cases for unit testing of smart contract. So my contract contain constructor now i need to test the same. but i am failing the same while doing that.

My contract
[code]
## Steps to Reproduce

want to know how i can call the

[2019-11-14 11:07] ktecho commented on #2217
I cannot install truffle in Ubuntu 19.10 even with @earizon's method. I guess this should not be closed...

[2019-11-14 11:13] ktecho commented on #2217
It works if I do `npm install truffle`, but fails if I do `npm install -g truffle`

[2019-11-14 23:53] gjgd commented on #2070
Status update: web3 supporting node 12 is a great step forward, but we still cannot use node 12 in [our project](https://github.com/decentralized-identity/element) because of `@truffle/hdwallet-provider@1.0.25` depending on `ethereumjs-wallet@0.6.3`

Looks a `ethereumjs-wallet` being dependent to scrypt.js is the issue here

https://github.com/ethereumjs/ethereumjs-wallet/pull/92

[2019-11-15 00:24] gnidan opened #2599 "Resolver.resolve doesn't make any sense"
## Issue

[@truffle/resolver](https://github.com/trufflesuite/truffle/blob/develop/packages/resolver) provides two main methods for external use:

- `require()` (as in, `artifacts.require()`... `artifacts` just an instance of a resolver)
- `resolve()`

Now, the resolver's purpose is to load build artifacts, not sources, and so, when you do `artifacts.require("MetaCoin")`, it reads it from `build/c

[2019-11-15 10:03] unboxedtype commented on #1976
Same issue with  truffle v5.1.0

[2019-11-15 10:22] unboxedtype commented on #2176
Same issue happening.

[2019-11-15 11:39] MrRefactoring commented on #2567
I think that HDWalletProvider should inherit ProviderEngine, and not write an adapter for it

[2019-11-15 18:27] gnidan commented on #2176
@unboxedtype can you please provide additional reproduction steps?

[2019-11-15 18:54] CruzMolina opened #2602 "Transition to publishing bundle with a shrinkwrap"
Currently we only bundle and publish the truffle cli w/ a `package.json`. This is because there is only a `package.json` in `packages/truffle`. See #2555 for the possible security issues with this current setup.

We should probably generate a `package-lock`, convert it into a `shrinkwrap`, & proceed with publishing the truffle cli with a shrinkwrap. (Recommended for global cli installations [which

[2019-11-15 18:57] CruzMolina opened #2603 "Generate package-lock files for every @truffle/module"
Currently we publish all `@truffle` libraries w/ only a `package.json`. This is because there is only a `package.json` in those pkg directories (no `shrinkwrap`). See #2555 for the possible security issues with this current setup.

We should generate a `package-lock` & then generate a `shrinkwrap` for our library users and proceed with publishing our `@truffle` modules with a `shrinkwrap`.

[2019-11-15 18:59] CruzMolina opened #2604 "Feature Request: make hdwallet-provider's unlocked accounts configurable"
It would be nice for the number of accounts `@truffle/hdwallet-provider` unlocks to be configurable.

[2019-11-15 20:01] CruzMolina commented on #2604
It's already configurable!

[2019-11-15 20:01] #2604 closed

[2019-11-15 20:02] gnidan commented on #2604
Look at that!

[2019-11-16 00:42] CruzMolina commented on #2603
Looked into this briefly.

We would probably have to switch over completely to using `npm`. Would be wayyy too much overhead to use `yarn` AND `npm`.

[2019-11-16 00:42] #2603 closed

[2019-11-16 00:45] CruzMolina commented on #2602
Since we rarely update the deps for `truffle`, going to check out pinning the dep or two that isn't pinned, & generating a shrinkwrap.

[2019-11-16 16:06] guix77 commented on #1874
I’m also having this problem with truffle migrate using latest Truffle 5.1.0

[code]

[2019-11-17 02:30] canercidam commented on #2176
Magic steps :)

1) `truffle unbox metacoin`

2) Create `contracts/Foo.sol`:
[code]

3) `truffle test test/TestMetaCoin.sol`

<details><summary>Full output:</summary>

[code]
</details>

[2019-11-17 03:36] CruzMolina commented on #1874
Hi @guix77, can you confirm that your Infura Project is set to use Project IDs? (See https://community.infura.io/t/legacy-key-deprecation/443)

Based on your code snippet it looks it already uses Project IDs, but wanted to double-check. 🙂

[2019-11-17 11:06] guix77 commented on #1874
Hi @CruzMolina, yes I set up a project in my Infura account, and in my .env I have :

`INFURA_PROJECT_ID=abcd...`

I tried with "" too and with wss:// but this one does not seem to be implemented.

Furthermore on my Infura account I can see my amount of requests attached to this project.

The error is consistently :

[code]

[2019-11-18 00:39] ilanolkies opened #2611 "Compile contracts from npm"
# Issue

I use contracts from an npm package. When running tests without migrations I use this trick to make npm contracts code appear in build/contracts and deploy them using `artifacts.require`.

https://github.com/ensdomains/resolvers/blob/master/test/mocks/dummy.sol

## Steps to Reproduce

1. Import an npm package with a smart contract
[code]
2. Add `artifacts.require('@ensdomains/ens/ENSRegis

[2019-11-18 07:33] Leocn commented on #402
thx

[2019-11-18 10:40] Shirikatsu commented on #2176
I'm also having this issue and could reproduce steps above. Removing build folder did nothing.

I've found that testing a contract that does not have any functions to test does not result in the error.

[2019-11-18 11:31] Nayyar525 commented on #2594
@Debasis261 check this

[2019-11-18 14:37] eggplantzzz commented on #2176
Thanks for the repro steps @canercidam! I think this was closed because there was a bug fix for an error with similar symptoms. We probably thought this was the same problem when closing it.

I was able to reproduce your error and I'll investigate this week!

[2019-11-18 19:07] eggplantzzz commented on #1874
Hey @guix77, two things that come to mind:
 - try logging the url that you are creating exactly as it is written to confirm that it is indeed the url that you want to use
 - try making the value of provider a function that returns the created provider

In some cases not having the provider be a function causes issues (though I forget exactly what the conditions are!). So your network config should

[2019-11-18 20:15] tuler opened #2612 "Using deployed contracts packaged as npm"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When importing contracts packaged as npm the deployment information for those contracts is not being used. The contract is being recompiled, and not resolving to the original dependency already compiled code.

## Steps to Reproduce

The following t

[2019-11-19 13:07] Unmesha1 opened #2622 "hey just needed a small help. I have built a blockchain dapp, a simple one which just has a user form and accepts some data. I want to host it on any cloud platform, how to do it? please help"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2019-11-19 13:15] alsco77 commented on #2377
Hey @eggplantzzz, thanks for looking into this. I note there have been a few releases since i posted this and the url for the package import in your file seems a bit different (maybe OZ updated their node package). If you can't replicate and nobody else has reported this then chances are it was something on my end

[2019-11-19 14:34] digulla commented on #644
Bug was probably introduced in 5.0.31. 5.0.30 works for me on Linux.

[2019-11-19 15:09] Shirikatsu commented on #557
Is this still the same on latest versions?

Now we can simply run `truffle test` without prior compilation or deployment and it gets compiled and deployed on the fly. This means we don't have control over how this happens yet I am still having issues where there seem to be race conditions and tests fail mid-execution throwing errors like:

[code]

Changing some of the functions from `async` to not

[2019-11-19 15:12] gnidan commented on #557
@Shirikatsu no way this is the same issue as the original. Mind opening your issue as a new one, to reduce the noise? Thanks!

[2019-11-19 15:58] mickys commented on #644
@digulla this issue is not a bug, it's the way msg.sender works in solidity, you probably have the wrong thread.

[2019-11-19 16:57] digulla commented on #2371
What dependencies need to be in package.json for this to work?

[2019-11-19 17:19] johnda98 commented on #2070
yep same result here on as David B..   Im on ubuntu1604

all other parts of the suite work ok if on node  v12+  ?  i want to drizzle.. the tests i can do in remix on its in memory chain

"johnda@ymirjda:~$ truffle version
Truffle v5.1.0 (core: 5.1.0)
Solidity v0.5.12 (solc-js)
Node v12.8.0
Web3.js v1.2.2
johnda@ymirjda:~$

[2019-11-20 09:23] kartojal commented on #2257
v5.0.30

[2019-11-20 10:54] Shirikatsu commented on #557
Sure! Sorry :)

[2019-11-20 13:34] eggplantzzz commented on #468
This has been fixed for a while now. Closing this for issue maintenance.

[2019-11-20 13:34] #468 closed

[2019-11-20 13:36] eggplantzzz commented on #2223
This has been resolved with the release of Truffle v4.1.16
https://github.com/trufflesuite/truffle/releases/tag/v4.1.16

[2019-11-20 13:36] #2223 closed

[2019-11-20 13:43] eggplantzzz commented on #1879
A feature resolving this was released a number of versions ago. Use the `--config` flag on the command line to specify a path to the Truffle config to be used.

[2019-11-20 13:43] #1879 closed

[2019-11-20 13:45] eggplantzzz commented on #1729
This should be resolved on the latest Truffle (currently 5.1.0). We are still left with a problem decoding both of the events but it will no longer error.

In the future at some point we are going to work on correctly decoding both events from the logs.

[2019-11-20 18:05] gnidan commented on #2599
Some scratch-paper notes that @eggplantzzz and I came up with: https://peerpad.net/#/r/markdown/2FjSfHhW5bT18dBCqshwj9ZmvZrBMdi7TsyxLbnN5CTF/4XTTM7a4mmELQnm5eGAYobAbBcyGeW85a8K1PDLfh2WpgzG3N

[2019-11-20 18:40] fainashalts commented on #2594
Hi @Nayyar525 can you provide some more information? What do your tests look like so far? Are you writing them in solidity or javascript?

Testing a constructor function would usually require calling a new contract. If Javascript its `MyContract.new()`, and if in Solidity, `new MyContract()`. Let me know if that helps!

[2019-11-20 18:53] fainashalts commented on #2611
HI @ilanolkies thank you for bringing this to our attention! Can you clarify, is the issue that `artifacts.require()` is not working in this case?

Can you take a look at issue #2612 and let us know if that issue is the same thing? If it is different, can you make a test repo for us to reproduce this issue from? Thanks!

[2019-11-20 19:00] fainashalts commented on #2612
Hi @tuler, thank you for bringing this up!
There may be no way to avoid re-compilation, but the issue here is that the artifacts from the previous compilation in the npm dependency are not being merged with the new compilation as they should, making you lose the networks info. We'll take a closer look at this issue once #2599 is resolved, which will lay some groundwork for fixing this.

[2019-11-20 19:08] fainashalts commented on #2622
Hi @Unmesha1, thanks for reaching out about this! Since this isn't a bug or a feature request, you may be better served by asking other DApp developers about this. Some good resources are ethereum.stackexchange.com and reddit.com/r/ethdev, as well as the Truffle gitter.com/consensys/truffle where someone may be able to point in the right direction. Closing for issue maintenance, but I hope that he

[2019-11-20 19:08] #2622 closed

[2019-11-20 20:09] cgewecke opened #2628 "Empty folder in migrations directory throws: "Cannot read property 'files'...."
## Issue

Cross-reporting from [solidity-coverage 432][1]. This was fixed for the `test` directory in #2419 but seems to affect `migrations` as well.

Without an empty folder staged for quick access in an emergency, it wont be possible to put something in a folder when the need arises (without first creating a folder).

## Steps to Reproduce

[code]

## Actual Results
[code]

## Environment

* Ope

[2019-11-20 22:31] fainashalts opened #2629 "Path normalization"
The path written to the build.json files is not internally consistent on Windows machines and it is also not consistent with what glob returns (c:/Path/to/file.sol). We should look into path normalization across machines to ensure consistent behavior.

[2019-11-20 22:40] fainashalts commented on #2629
Note: The path normalization issue may be caused by the code here --- https://github.com/trufflesuite/truffle/blob/develop/packages/compile-solidity/run.js#L161-L177

[2019-11-21 00:00] haltman-at commented on #2469
Worth noting that `truffle console` and `truffle test` both currently do primitive versions of this where they just read the `build` directory, but that isn't the only source of artifacts potentially.

[2019-11-21 02:23] codepandy commented on #2217
Here's my solution：
[code]

[2019-11-21 09:22] codepandy commented on #2217
modify the permission of the file:
[code]

[2019-11-21 09:53] codepandy opened #2631 "Downloading compiler"
[code]
then
[code]

[2019-11-21 11:26] AfonsoMiao opened #2632 "Command truffle develop BUG"
## Issue

When I use command `truffle develop` it doesn't show the `truffle(development)>` console .

![bugTruffle_Develop](https://user-images.githubusercontent.com/29982581/69333651-fffe6300-0c50-11ea-83d4-a1f165fca109.png)

## Expected Behavior

![expected](https://user-images.githubusercontent.com/29982581/69333764-3d62f080-0c51-11ea-8ef3-ead9058118a4.png)

## Environment

* Operating System:

[2019-11-21 11:38] eggplantzzz commented on #2628
Thanks @cgewecke, looks like it's time for another quick patch :)

[2019-11-21 14:45] kartojal opened #2634 "Factory contract double bytecode size versus Native solc"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle compiler seems to generate much longer bytecode when compiling (a bit big) factory contract, making impossible to deploy in testnets or mainnet, due the execution of the deployment  is higher than the block gas limit.

On the other side, i

[2019-11-21 14:46] kartojal commented on #2634
is this issue related? https://github.com/trufflesuite/truffle-compile/issues/77

[2019-11-21 14:48] kartojal commented on #2634
Currently this issue makes me impossible to continue using Truffle for this project, so any workarounds are welcome.

[2019-11-21 15:38] kartojal commented on #2634
If i use solc 0.5.13  directly, i got a bytecode of 28654 character length, matching Remix IDE bytecode.

[2019-11-21 16:33] CruzMolina opened #2635 "Fix weird intermittent node-ipc/chain.js bug"
Every once in a while something goes wrong and it appears to happen in `chain.js`.

90% of the time the only thing that works is restarting one's computer.

What does _on a rare occasion_ work is deleting the truffle ipc lockfile in `/tmp/`.

[2019-11-21 16:35] CruzMolina commented on #2635
#2632 is possibly related.

[2019-11-21 16:39] CruzMolina opened #2636 "Fix fabric-evm Travis job"
Looks like the `fabric-evm` job is broken from unpinned docker dependencies in the `hyperledgerledger/fabric-samples` repo. We've been checking out `v1.4.1` & it's been working but not no more: https://travis-ci.org/trufflesuite/truffle/jobs/615132771

Needs investigation.

[2019-11-21 17:11] CruzMolina opened #2637 "Windows CI Job/check"
It's be pretty awesome to have a Windows Travis job or Github Action check to run through some tests.

[2019-11-21 17:11] ilanolkies commented on #2611
That issue has a great idea! Contracts should be deployed with the provided bytecode. That bytecode could be audited.

I'll close this. Thanks.

[2019-11-21 17:11] #2611 closed

[2019-11-21 17:12] CruzMolina opened #2638 "Windows CI Jobs/Checks"
It's be pretty awesome to duplicate every CI job/check we run on Ubuntu, on Windows!

[2019-11-21 20:55] CruzMolina commented on #2636
Turns out we just needed to update the build's version of Golang.

[2019-11-21 21:20] #2636 closed

[2019-11-21 21:28] CruzMolina opened #2640 "Migrate tests to use the InterfaceAdapter instead of Web3 (where applicable)"
Note: There are some libraries (`@truffle/debugger` & `@truffle/decoder` come to mind), where we still want to only use `Web3` while testing (for now).

Probably need to document which tests we _don't_ want to swap out.

[2019-11-21 21:32] haltman-at commented on #2632
Wondering if #1975 is related to this.

[2019-11-22 14:42] digulla commented on #2176
Bug was probably introduced in 5.0.31. 5.0.30 works for me on Linux.

[2019-11-22 17:42] CruzMolina opened #2642 "Add an additional 'truffle test' resolver test case"
In #2272, a resolver bug was created during the `truffle test` flow (reproduction steps: [here](https://github.com/trufflesuite/truffle/issues/2176#issuecomment-554695994)). #2641 resolves that issue, but a test case should be added to make sure it doesn't happen again!

Works towards eliminating `Callback already called` errors that pop up intermittently.

[2019-11-22 22:04] #2176 closed

[2019-11-24 16:30] CruzMolina opened #2644 "Add a 'truffle test' test case for recursive test directories"
The ability for `truffle test` to successfully search recursively the test folder for test files has been broken (#2420), fixed (#2468) & re-broken (#2465) enough times that we should probably add a test case to catch mistakenly breaking this feature.

[2019-11-25 02:40] imehy3u commented on #2070
Same issue, easier way out of this issue is to install node v11.15.0. As node v12 and v13 both will encounter the issue.

[2019-11-25 02:40] imehy3u commented on #2070
Same issue, easiest way out of this issue is to install node v11.15.0. As node v12 and v13 both will encounter the issue.

[2019-11-25 11:00] eggplantzzz commented on #2377
Ok @alsco77, I'm going to go ahead and close this. If you find later that it is something to do with Truffle, then please get back to us and we'll investigate! Thanks!

[2019-11-25 11:00] #2377 closed

[2019-11-26 14:31] shch commented on #2631
me too ,same problem

[2019-11-26 18:20] CruzMolina commented on #2631
Hey @shch & @codepandy , can you provide full reproduction steps?

Which version's of Node, Truffle, & Solidity are you using while this error is happening?
Does Truffle provide an error or does the process just hang?

[2019-11-27 04:09] Vasiliy-Bondarenko commented on #2257
@eggplantzzz
how to reproduce the issue:

- `git clone https://github.com/atato/eth-deployment-error.git`
- `cd eth-deployment-error/`
- `cp .env.example .env`
- update .env with infura api key
- `docker-compose up`

- it will build `Migration` smart contract and try to deploy it 500 times in a row. it is expected to fail pretty fast. i am not sure what can speed up this process. some particular t

[2019-11-27 08:09] digulla commented on #2594
In TypeScript, you can get an array with addresses for testing like so:

    contract("Lottery Tests", accounts => {
        const deployer = accounts[0]; // this is the default for msg.sender
        const manager1 = accounts[1];

[2019-11-27 12:11] digulla opened #2647 "Please add helper methods to test contract failures"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

I'd like to make sure contracts contain the necessary `require()` calls and that they trigger under the correct circumstances.

This is especially important when using modifiers and inheritance between contracts.

    contract Foo {
        address owner;

[2019-11-27 13:55] digulla commented on #2647
Related to #2497

Note: The tests above will only start to pass when after adding

    if (typeof(err) === 'string') {
      err = Error(err);
    }

after the line

    Runner.prototype.uncaught = function(err) {

of `./node_modules/truffle/node_modules/mocha/lib/runner.js` (around line 730).

[2019-11-27 14:12] digulla commented on #2497
Workaround: Add

[code]

after the line

`Runner.prototype.uncaught = function(err) {`

of `./node_modules/truffle/node_modules/mocha/lib/runner.js` (around line 730).

[2019-11-27 18:34] gnidan commented on #2628
I believe this is released in v5.1.1! Closing. Let us know if the problem persists.

[2019-11-27 18:34] #2628 closed

[2019-11-27 18:38] gnidan commented on #2629
This stems out of @MicahZoltu's PR #2576

[2019-11-27 18:40] gnidan commented on #2629
Calling this medium priority, but happy to revisit. @MicahZoltu, could you lend any insight
you've come up with around this issue? Thanks!

[2019-11-27 18:44] gnidan commented on #2632
Thanks for opening this! We'll have to figure out what's going wrong here.

Are you doing anything else besides running `truffle develop`?

Also, does the prompt appear if you type something and then hit backspace?

Could you share your `truffle-config.js` in case something there is causing this? Thanks!

[2019-11-27 18:46] gnidan commented on #2634
Thanks for raising this @kartojal, we'll have to look into it! Not sure offhand what's causing this.

[2019-11-27 18:52] gnidan commented on #2647
This is a neat idea, thanks for suggesting it!

You might be interested to take a look at @rkalis's https://github.com/rkalis/truffle-assertions library.

[2019-11-27 18:55] gnidan commented on #2567
I'm generally opposed to inheritance in favor of composition, but that seems like an implementation detail. Is there more information about what is causing this not to work? Thanks!

[2019-11-27 18:56] gnidan commented on #1950
Closing now for issue maintenance. Feel free to get back to us an we'll re-open! Thanks!

[2019-11-27 20:50] MicahZoltu commented on #2629
The general problem is that different parts of the truffle system use different mechanisms for acquiring and normalizing paths.  This leads to differences in casing and separator (`/` vs `\`).  Since the path is used as a key in a map, this means you end up with two keys for a particular thing in the map, one of which gets populated and the other doesn't, which then leads to invalid artifacts.

[2019-11-27 20:50] MicahZoltu commented on #2629
As for workarounds, I didn't find any short of monkey patching Truffle.

[2019-11-27 23:16] CruzMolina opened #2648 "Add Goerli's network id to the migrations whitelist"
Noticed during the trufflesuite crash course workshop that migrations targeting `goerli` don't dry-run by default. We should add it to the migrations network whitelist.

[2019-11-28 08:58] digulla commented on #2647
I just found `truffle-assertions`. It also supports testing events. It would be great if you could integrate both features into the core testing framework.

[2019-11-28 09:00] digulla commented on #2497
I almost always get this when moving common code into an async helper method and a contract method fails there.

[2019-11-28 09:19] rkalis commented on #2647
I'm not opposed to contributing the truffle-assertions functionality into the Truffle codebase some time down the line. Can't really make it a priority though, as I think the current workflow (`npm i -D truffle-assertions` and import it in the test files) is good enough for most people, and reduces the maintenance burden on the core Truffle team.

[2019-11-28 15:30] digulla commented on #2647
Agreed. `truffle-assertions` works me so I'd vote for priority "low" / "minor". Thanks :-)

[2019-11-29 23:21] MaxFeldman1 commented on #255
Yes I ran into this problem with a more recent truffle version(truffle 5.0.44) though this was fixed with the kind advice of @360disrupt  and @MareoRaft.
please note that in order to run `truffle exec <path/To/File>` said file must have `module.exports` equal to one function that accepts one callback parameter, the code in that function is what will be executed upon `truffle exec <path/To/File>` I

[2019-11-29 23:50] KadenZipfel opened #2650 "Upgrade contracts using unstructured storage method"
It would be really useful if we could make use of [unstructured storage upgradeability](https://blog.openzeppelin.com/upgradeability-using-unstructured-storage/) similarly to how OpenZeppelin has set it up in their [SDK](https://docs.openzeppelin.com/sdk/2.6/). That way developers don't have to go through the arduous process of managing upgradeability manually, and it could make the whole process

[2019-11-30 14:22] sabertooth9 commented on #1049
Facing the same issue in windows

[2019-12-02 04:27] matmar10 commented on #2560
Note that fixing this would also remove the need for this rather silly code that fakes 24 confirmations:

[truffle/packages/deployer/src/deployment.js](https://github.com/trufflesuite/truffle/blob/4c2409f4c5ac500472f4a5a6cf6049519ae98c78/packages/deployer/src/deployment.js)

[code]

[2019-12-02 14:31] #2648 closed

[2019-12-02 15:55] Vasiliy-Bondarenko commented on #2257
repeated deployment with latest truffle 5.1.2 - same error.

[2019-12-02 21:39] CruzMolina opened #2651 "Leverage workspace lerna dependency when bootstrapping"
For local project development consistency's sake, we should probably use the workspace `lerna` dependency instead of requiring a global version be installed and update the README.

[2019-12-03 13:31] coventry opened #2653 "eth_increaseTime breaks subsequent contract calls"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

https://gitter.im/ConsenSys/truffle?at=5de5c3d91659720ca8eb0c4c

---------------------------

## Issue

I'm seeing the failure reported here: https://ethereum.stackexchange.com/questions/15101/how-to-use-the-testrpc-evm-increasetime-parameter-from-truffle-console#comment89683_21515

Nam

[2019-12-03 17:53] CruzMolina opened #2654 "Investigate & fix bug surfaced in 5.0.44"
Greenkeeper caught a bug released in 5.0.44 over in Colony's repo: JoinColony/colonyNetwork#734.

~Appears to be related to `InterfaceAdapter` changes, but it could be something else. Seems like this is relatively high priority.~

EDIT: So far it seems like this is actually a Web3.js issue that appeared in the past. See #1504, #1461, & ethereum/web3.js#2105.

[2019-12-03 18:10] CruzMolina commented on #2195
Relevant PR #2067

[2019-12-03 18:29] #2195 closed

[2019-12-03 19:02] CruzMolina commented on #2654
When investigating locally, I hit this type of error:

[code]

[2019-12-03 19:10] CruzMolina commented on #2654
In 5.0.44 we bumped Web3.js to 1.2.2 (#2558), so there could be something going on with the "backported" typings, or the fact that the `ganache-core` dep truffle & colony uses (`ganache-core@2.8.0`) is still on 1.2.1 and appears to have unpinned types being pulled in.

Going to downgrade priority since this _appears_ to be more of a connectivity issue.

[2019-12-03 20:12] justinjmoses commented on #2654
We received this error as well in CI for https://github.com/Synthetixio/synthetix when upgrading truffle from 5.0.43 to 50.0.44, and we're on web3 1.2.2 and ganache 6.7.0. FWIW I also tried upgrading web3 1.2.4 and ganache-cli to 6.8.1-beta.0 (which uses ganache-core `2.9.1-beta.0`) but it still appears.

[2019-12-04 01:39] cgewecke commented on #2654
@CruzMolina I think I have a repro (or a guess about the problem).

+ unbox metacoin
+ in `test/metacoin.js`, add

[code]

If you compare outputs for Truffle v5.0.43 vs v5.1.2, you'll see that the `web.currentProvider` injected into the global mocha context has a `connected` property which is `true` in the earlier version, but `false` on latest. The web3s attached directly to the contracts are `tr

[2019-12-04 03:25] JCwow commented on #1566
I have the same issue as you, I still don't know how to fix it. Please help!

[2019-12-04 04:39] enderphan94 commented on #2217
`chmod 777 /Users/XXX/.config/`

[2019-12-04 06:57] ObjSal commented on #2070
This is not a solution, but a workaround while this is being fixed:
1. Uninstall node
2. Install [nvm](https://github.com/nvm-sh/nvm)
3. Install node v10 LTS by running: `$ nvm install 10 --lts`

The above will install node v10 long-term support

Now you can successfully run
[code]

Hope it helps!

[2019-12-04 09:11] IamRohitMittal commented on #255
Getting following error

D:\Blockchain\social-network>truffle test D:/Blockchain/social-network/tests/socialNetwork.js
You can improve web3's peformance when running Node.js versions older than 10.5.0 by installing the (deprecated) scrypt package in your project
You can improve web3's peformance when running Node.js versions older than 10.5.0 by installing the (deprecated) scrypt package in your p

[2019-12-04 09:13] IamRohitMittal commented on #255
truffle test on other hand seem to be working fine but does not display the status of tests

[2019-12-04 15:23] johnda98 commented on #2070
thanks we use v10 node now...

*John D Allen.*

*Leveridge Systems INC.   *

*T +1 417 849 0705 ** CST  | john.allen@leveridgesystems.com
<john.allen@leveridgesystems.com>  | https://www.leveridgesystems.com
<https://www.leveridgesystems.com> | linkedin.com/in/johndallen1
<http://linkedin.com/in/johndallen1> | skype john.allen_67
https://www.yourhashgraphtoken.com <https://www.yourhashgraphtoken.c

[2019-12-04 16:17] adrianmcli commented on #2070
What are the steps remaining to make this work on Node v12 (which is now also on LTS)?

[2019-12-04 16:27] CruzMolina commented on #2070
@adrianmcli see mochajs/mocha#4009.

Don't have the bandwidth currently to do so myself, but feel free to smoke test my fork of mocha (https://github.com/CruzMolina/mocha/tree/v5.2.1) with truffle bundled.

[2019-12-04 18:55] gnidan commented on #1540
@coventry you (reasonably so) deleted your branch for reproducing this. Do you know if it's still a problem? Doing issue maintenance and wondering what's going here.

[2019-12-04 18:57] gnidan commented on #1473
Looks like this is a duplicate of #1551. Closing for issue maintenance. Thanks!

[2019-12-04 18:57] #1473 closed

[2019-12-04 18:58] gnidan commented on #1266
Done for ages

[2019-12-04 18:58] #1266 closed

[2019-12-04 18:58] gnidan commented on #1118
PRs welcome on this!

[2019-12-04 19:01] gnidan commented on #1246
Could be related to the stuff in artifact-updates, but I think it's separate from #1645.

The work here is just adding to the artifacts. Should be fine.

[2019-12-04 19:02] gnidan commented on #1124
Hm, PRs welcome!

[2019-12-04 19:04] gnidan commented on #354
How bout now? Is it still an issue now?

[2019-12-04 19:08] gnidan commented on #1147
Is this still a problem? Doing issue maintenance and wondering what the status here is. Thanks!

[2019-12-04 19:12] gnidan commented on #1172
So, it's been a year. What's going on here? Are the errors still bad? Looks like there's a couple different underlying situations that could use better error reporting.

If anyone can give us some specific reproduction steps, we can take a look at improving the experience here. Thanks all!

[2019-12-05 02:18] coventry commented on #1540
Seems to be fixed now, thanks.

[2019-12-05 07:11] ChaoChason commented on #2631
I have the same problem. The versions are
`
#solc --version
solc, the solidity compiler commandline interface
Version: 0.5.14-develop.2019.12.2+commit.a7d481fb.Darwin.appleclang

#node -v
v13.2.0

#truffle --version
Truffle v5.1.2 - a development framework for Ethereum
`

It's just a hang, no mistakes .Is it due to version incompatibility ？

[2019-12-05 07:11] ChaoChason commented on #2631
@CruzMolina

[2019-12-05 07:29] ChaoChason commented on #2631
me too ,same problem ,just hang,No report error .
[code]

[2019-12-05 07:36] ChaoChason commented on #2631
Hey  @shch   @codepandy  @CruzMolina

The compilation and execution are successful without any changes, but it has been waiting for a long time, and there is a probability of failure. I don't know if it is caused by network communication.

[2019-12-05 07:40] ChaoChason commented on #2631
Hey @shch @codepandy @CruzMolina

After a long wait, it can finally be executed. Guess what it's running in the background, and it's fast to execute now. It's so sad that there is no error.

[2019-12-05 08:04] TripleSpeeder opened #2655 "HDWalletProvider silently exits when rpc endpoint is not available"
- [ X ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
-> No luck there :-(

---------------------------

## Issue

Using HDWalletProvider in a node.js application. When the rpc endpoint is not available the whole node process exits silently, instead of throwing an error.

## Steps to Reproduce

Short testcase:
[code]

Output:
[code]

## E

[2019-12-05 08:04] TripleSpeeder commented on #2655
Note that this looks similar to #1865 which has been closed due to inactivity.

[2019-12-05 23:31] nimakam commented on #1726
This is a really bad "getting started" user experience, that I hit also. If Ethereum wants to hit Joe's 1 million developers goal, this type of UX won't do. It sends the massage to developers that the tools aren't ready yet.
Once you use Ganache once, then you cannot get the happy path `truffle test` command to work without adding a `ganache` config and using `--network ganache` switch.

[2019-12-06 01:54] wjmelements opened #2676 "sporadic ECONNRESET when running for a long time"
Using ganache-cli 6.8.1-beta.0. Also happens on ganache-cli 6.8.0-istanbul.0.

The error is
```Invalid JSON RPC response: "Error: connect ETIMEDOUT 127.0.0.1:8545\n    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1113:14)"```

The truffle mocha tests run fine for the first 10 minutes or so but then the tests start to take longer and fail sporadically, sometimes mid-test and sometimes in

[2019-12-06 16:09] gnidan commented on #1540
Glad to hear, thank you!

[2019-12-06 16:09] #1540 closed

[2019-12-06 22:54] pcowgill commented on #1896
If you have a Truffle config file setting your solc compiler to a version of 0.5.2 through 0.5.6, one concrete step you can try to confirm this is the issue you're running into is commenting out that `solc` line in the config in order to use the Truffle default instead (as long as you're using a Truffle version that doesn't default to one of those solc versions) or specifying a newer solc version

[2019-12-07 02:36] wjmelements commented on #469
Because we are working around [another issue](https://github.com/trufflesuite/ganache-cli/issues/703) we are redoing truffle test once per test file. Not having this feature means that we recompile the contracts for each test file, which almost doubles test time.

[2019-12-07 22:46] tinchoabbate commented on #624
Just ran into this issue, and still persists. My environment:

Truffle:
[code]

Truffle config
[code]

Geth in Docker:
[code]

I'm connecting to the Geth running in the Docker container over websockets. Setting `--dev.period 1` solves the issue.

[2019-12-08 23:47] cgewecke commented on #2654
@CruzMolina Just circling back here, for a quick look. In case the note above isn't clear - believe the bug is at Truffle, possibly where [Web3 is instantiated in  core/test][1].

#2653 looks related and might provide a simple test case as well.

But if you discover the problem is the dependency, please just lmk and will try to get it fixed.

[1]: https://github.com/trufflesuite/truffle/blob/b16fb

[2019-12-09 08:36] pepihasenfuss commented on #1874
I did get the same error message and switched my web3.js dapp towards v3 while generating a fresh API-ID. Then it worked for me. BTW, I did slow down the firing of requests towards Infura. It also helped. It seems that Infura load-balancing or some sort of middleware takes a bit of time between different calls. After a deployment of a contract, e.g., I really need to wait a bit (for confirmations)

[2019-12-09 18:01] CruzMolina commented on #2653
Having difficulty diagnosing this issue, although the error message definitely appears to happen when hitting the [`web3.currentProvider.send`](https://github.com/coventry/white_elephant/blob/failing-eth_increaseTime/test/white_elephant_test.js#L115) call on line 115.

Can't seem to find an older v5.0.x version of truffle that works with this test because of unpinned Web3 dependencies 😬.

[2019-12-09 18:03] CruzMolina commented on #2654
So far #2653 looks somewhat related but a [different issue](https://github.com/trufflesuite/truffle/issues/2653#issuecomment-563357906) altogether.

[2019-12-09 19:38] okwme opened #2661 "add no-compile flag"
## Issue

It would be nice to have a `--no-compile` flag that skips compilation on commands that otherwise include it by default. This would also solve the issue here: https://github.com/trufflesuite/truffle/issues/469.

This is a command I needed and had to switch to buidler to use because I have some contracts which for legacy purposes must remain tied to solc4 and some contracts which should us

[2019-12-09 20:14] CruzMolina commented on #2653
Okay, so AFAICT, `web3.currentProvider.send` expects a callback to be passed.

See Synthetix and JoinColony's use of `web3.currentProvider` in their test helpers :

+ [Synthetix helper example][1]
+ [JoinColony helper example][2]

[1]: https://github.com/Synthetixio/synthetix/blob/debf03c2afcc63607d4be3f7482ccc52e2c38e3c/test/utils/testUtils.js#L13-L19
[2]: https://github.com/JoinColony/colonyNetw

[2019-12-09 21:29] CruzMolina commented on #2654
Hmm, I'm not exactly sure what's going on here. Is this a timeout issue or an issue with using web3's low-level rpc request method `web3.currentProvider.send`?

It doesn't seem like we should be using the `connected` boolean as the determining factor here. `5.0.44`'s `connected` is coming up true locally, yet Colony's tests fail on that version.

Furthermore, the `web3js` default instantiation in

[2019-12-09 23:34] haltman-at commented on #2551
OK, I've created PR #2662 to address this.

[2019-12-10 00:28] CruzMolina commented on #2654
It's looking like downgrading to web3 `1.2.1` is the solution here.

[2019-12-10 02:52] cgewecke commented on #2654
@CruzMolina I will open a PR on latest with a reproduction / test case. If it passes then downgrading Web3 makes sense. If it doesn't, then downgrading Web3 won't fix the problem.

[2019-12-10 04:15] cgewecke commented on #2654
Ok yes, I'm wrong about currentProvider (unhappily because this problem seems worryingly non-deterministic). Will look back over on the Web3 side...

Colony's tests are:
+ Truffle 5.0.44 [155 passing / 15 before blocks failing](https://circleci.com/gh/JoinColony/colonyNetwork/10234?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link)
+ Truffle 5.1.3 [428 passing / 6

[2019-12-10 09:47] nivida commented on #2654
@cgewecke Thanks for giving support here to the Truffle team!
I've checked the changeset between 1.2.1 and 1.2.2 related to the used HttpProvider. We were changing some smaller stuff which shouldn't have an impact on existing code.
The [``withCredentials``](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/withCredentials) options property does now default to ``false`` instead to ``t

[2019-12-10 16:51] pcowgill opened #2664 "Add support for ethers.js in @truffle/contract"
## Issue

Feature request: Modify [`@truffle/contract`](https://github.com/trufflesuite/truffle/tree/develop/packages/contract) to support `ethers.js`-style contract abstraction.

## Steps to Reproduce

n/a

## Expected Behavior

For dapps that use `ethers.js` rather than `web3.js` on the front end, it's nice if the test suite, etc. can use a similar API for contracts that the front end does.

##

[2019-12-10 16:54] CruzMolina opened #2665 "CI Job - E2E Testing"
We've talked about it in the past, but would be nice to add a job for E2E testing on more advanced projects that leverage the CLI ([Colony](https://github.com/JoinColony/colonyNetwork) comes to mind...).

[2019-12-11 00:51] PaulRBerg commented on #2654
Not sure if this helps, but for https://github.comsablierhq/sablier,  downgrading and pinning web3@1.2.1 alone was not sufficient. I also had to also downgrade and pin truffle to `5.0.37`.

[2019-12-11 01:03] CruzMolina commented on #2654
Hey @PaulRBerg, I see a failing job using 5.1.3. Are there logs available for any version between 5.0.37 and 5.0.44?

[2019-12-11 01:15] PaulRBerg commented on #2654
I think the latest CircleCI workflow finished right after you replied: https://circleci.com/workflow-run/00101565-3959-48d0-9e9e-b587c768c9e8

Unfortunately, no. I left the contracts untouched for a while.

[2019-12-11 01:25] CruzMolina commented on #2654
Based on the diff, it looks like the unpinned truffle deps were pulling in 5.1.3. Would love to know if this same issue was present between 5.0.37 & 5.0.44.

[2019-12-11 01:32] PaulRBerg commented on #2654
There you go, I created a branch for you where truffle is pinned to 4.0.40.

https://circleci.com/workflow-run/6bad4d9a-c04c-4820-990e-3f69cca867f3

[2019-12-11 02:31] zach-is-my-name opened #2673 "Debugger fails cryptically on successful transaction"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

On hash of _successful transaction_, "next" triggers debugger failure, after completing several prior "next" steps
`⠋ Stepping...TypeError: Cannot read property 'ref' of undefined
`

In my case, debugger is in a function modifier defined in a base contract,

[2019-12-11 04:05] CruzMolina commented on #2654
@PaulRBerg , not quite sure what's going on with your workflow. Seems like it is either an unrelated issue or a different one.

[2019-12-11 16:54] #2654 closed

[2019-12-11 18:39] CruzMolina commented on #2655
@TripleSpeeder , will need to reproduce & investigate locally, but does the same behavior happen when using Web3.js v1.2.1?

[2019-12-11 18:42] CruzMolina commented on #2655
Noting here for future investigation: because of possible changes (bundled typings) in Web3.js in 1.2.2 and later versions, we might need to update the `@truffle/hdwallet-provider` docs to state compatible versions of that library with Web3.js.

[2019-12-11 18:53] haltman-at commented on #2673
Thanks for reporting this!  This is the second time someone's reported this, actually, but the first time we were unable to reproduce it.  Do you have a reproduction project or code we could test this out with so we can find the problem?  Thank you!

[2019-12-11 19:05] CruzMolina commented on #1086
Closing for issue maintenance. Happy to reopen if this is still an issue!

[2019-12-11 19:05] #1086 closed

[2019-12-11 19:19] CruzMolina commented on #1635
Hi @zhidongluo , is this still an issue on the latest version of truffle?

[2019-12-11 21:06] #2665 closed

[2019-12-11 21:29] kattybilly commented on #1726
Thanks @wbt .

[2019-12-12 04:55] ldub commented on #1147
Just tried this with the following versions and the exception no longer happens.

[code]

[2019-12-12 04:55] #1147 closed

[2019-12-12 10:41] TripleSpeeder commented on #2655
Yes, same behaviour confirmed with web3 1.2.1.

[2019-12-12 16:06] nmclrn commented on #2317
I'd also find this useful. There is a workaround of using `process.argv` but (this comment)[https://github.com/trufflesuite/truffle/issues/889#issuecomment-503160567] describes why that workaround is unsatisfactory.

[2019-12-12 16:41] #2676 closed

[2019-12-12 16:42] CruzMolina commented on #2676
Closing as I believe this has been resolved, but happy to reopen if this week's release or pinning to 5.0.43 does not in fact resolve this issue.

[2019-12-12 17:02] CruzMolina commented on #2257
#763 appears to be related.

[2019-12-12 17:14] CruzMolina commented on #2257
I was going to suggest that we add some configurable polling logic possibly in [here](https://github.com/trufflesuite/truffle/blob/develop/packages/migrate/index.js#L189-L193), but it looks like we may already have this as either a [poorly documented or mostly undocumented feature](https://www.trufflesuite.com/docs/truffle/reference/configuration#networks) (see the bullet point about `websockets`

[2019-12-12 17:25] CruzMolina opened #2677 "Document networks.<network>.confirmations"
It's in v5.0.0's [release notes](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0#user-content-what-s-new-in-truffle-v5-truffle-migrate-wait-for-confirmations-and-custom-block-timeouts), but not really documented anywhere else.

Opening this here instead of [trufflesuite/trufflesuite.com](https://github.com/trufflesuite/trufflesuite.com) since we tend to keep more tabs on this repo.

[2019-12-12 17:31] CruzMolina opened #2678 "Improve networks.<network>.websockets documentation"
It's in v5.0.0's [release notes](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0#user-content-what-s-new-in-truffle-v5-interacting-with-your-contracts-websockets), and mentioned [here](https://www.trufflesuite.com/docs/truffle/reference/configuration#networks), but it seems like we should have an example somewhere that explains why enabling websockets would make your dev experience mor

[2019-12-12 18:06] CruzMolina commented on #2655
Hey @TripleSpeeder , after digging around in the code, it looks like [this](https://github.com/trufflesuite/truffle/blob/develop/packages/hdwallet-provider/src/index.ts#L160-L170) is probably why the `getNodeInfo` call is not failing as expected. IIRC, `web3-provider-engine` (which `@truffle/hdwallet-provider` uses under the hood) mocks a legitimate provider. Not sure what the solution is here off

[2019-12-12 19:04] CruzMolina commented on #2291
Closing since I believe this has been resolved by #2466.

[2019-12-12 19:04] #2291 closed

[2019-12-12 19:30] CruzMolina commented on #2293
Did some sleuthing a while back and it turns out `contract.method.request(params)` is not only super old, but also commented out in the [0.2x.x docs](https://github.com/ethereum/wiki/wiki/JavaScript-API#contract-methods)!

It also appears it was deprecated at some version of Web3.js 0.2x.x in favor of `contract.method.getData(params)`, which returns a bytestring. It's quite possible that `request`

[2019-12-12 21:44] CruzMolina opened #2679 "Document interacting with overloaded solidity functions using @truffle/contract"
It's in v5.0.0's [release notes](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0#user-content-what-s-new-in-truffle-v5-interacting-with-your-contracts-overloaded-solidity-functions), but not really documented anywhere else.

Opening this here instead of [trufflesuite/trufflesuite.com](https://github.com/trufflesuite/trufflesuite.com) since we tend to keep more tabs on this repo.

[2019-12-12 22:42] zach-is-my-name commented on #2673
If I can't reproduce it with a minimal example, I'll send the contract code
I ran with steps to reproduce

On Wed, Dec 11, 2019 at 1:53 PM Harry Altman <notifications@github.com>
wrote:

[2019-12-12 22:45] haltman-at commented on #2673
OK, please do, thank you!  We totally failed at reproducing this last time it came up so I'm hoping this time we can finally pin it down.

[2019-12-12 22:50] AmrEShaker opened #2680 "Couldn’t use Truffle HDWallet Provider with Infura websocket"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2019-12-13 07:28] Vasiliy-Bondarenko commented on #2257
@CruzMolina, thanks for ideas... let's try...
some time passes by...
hm... not really helps :(

demo repo updated: `git clone https://github.com/atato/eth-deployment-error.git`
also i tried to use nonce tracker locally to avoid relying on infura nonces.
plus log level increased.

this time failed after 21 contracts deployed - i added counter.

log tail here: https://github.com/atato/eth-deployment

[2019-12-13 09:26] adrianmcli commented on #2679
Just to summarize our private conversation, it seems that Web3.js and its weird way of handling overloaded functions seems to mean we need to be careful how we call these functions. And apparently [here](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0#user-content-what-s-new-in-truffle-v5-interacting-with-your-contracts-overloaded-solidity-functions) is where it is documented.

Here is

[2019-12-13 13:01] knightlands commented on #1729
Truffle 5.1.3 issue is still there.

`event Transfer(address indexed _from, address indexed _to, uint256 _tokenId);`  and
`event Transfer(address indexed from, address indexed to, uint256 value);`

will not be parsed in the same transaction and will throw <b>Error: Returned values aren't valid, did it run Out of Gas?</b>

[2019-12-13 16:52] CruzMolina commented on #2257
Thanks for giving those suggestions a shot @Vasiliy-Bondarenko ! It looks like the possible solution will be to add some polling logic to the `getCode` call on Migrations. I don't have the bandwidth to work on this in the short-term, but PRs are definitely welcome!

[2019-12-13 17:48] #2651 closed

[2019-12-13 20:37] CruzMolina opened #2685 "Fix @truffle/contract webpacking bug"
In a recent release, something changed in `@truffle/contract` that no longer allows it to be bundled.

Let's fix it! 🔧

[2019-12-13 23:20] #2685 closed

[2019-12-14 15:28] Vasiliy-Bondarenko commented on #2257
@CruzMolina well... i have tried to dig the code...
i have found where we error originates (sorry, in compiled bundle only)
in my truffle/build/cli.bundled.js it's line 76779, screenshot:
![pycharm64_8JIHiZBMcJ](https://user-images.githubusercontent.com/5263184/70850624-fddd9c00-1ebe-11ea-9f7d-e287b57f3b21.png)
i collapsed some blocks to have a bigger picture on screen.
also i added `throw new Err

[2019-12-14 18:35] Leon-Africa commented on #852
https://www.seek.com.au/aws-architect-jobs/contract-temp

https://www.google.com/search?q=aws+cloud+architect+contract+rates&oq=aws+cloud+architect+contract&aqs=chrome.0.0j69i57j0l3.5669j0j7&sourceid=chrome&ie=UTF-8

https://github.com/trufflesuite/truffle/issues/852

rm node_modules/
rm -package.json
rm package-lock.json

Create an empty package.json file like this:
{
  "dependencies": {
  }
}

U

[2019-12-15 16:18] GregTheGreek commented on #2080
Did this ever get worked on? Being able to test a single case is extremely useful in large test files

[2019-12-15 21:36] cgewecke opened #2688 "Upgrading Web3 >= 1.2.2"
This is a tracking issue for changes necessary at Truffle to upgrade Web3 above 1.2.1.

**Resolve #2654**

In #2654, users with long-running test suites saw performance reduction and random ganache disconnection in Truffle versions which use Web3 1.2.2.

Based on experiments with some of the projects reporting the bug,  I think the underlying issue is the way that truffle/contract manages confirma

[2019-12-16 03:56] hrishikeshio commented on #2257
Having same issues. This is slowing down us a lot. We have to try around 12 times to finally complete the migration succesfully.

`% truffle migrate --reset --network goerli

Compiling your contracts...
===========================

Starting migrations...
======================

1_initial_migration.js
======================

   Replacing 'Migrations'
   ----------------------

   ------------------

[2019-12-16 04:37] Vasiliy-Bondarenko commented on #2257
@hrishikeshio, which Ethereum node are you using? private node or infura or something else?

[2019-12-16 21:19] seesemichaelj opened #2689 "Sometimes Truffle Squashes Errors"
I was running a `truffle migrate`  and the only output I received was:

[code]

I looked at the exit code with `$?` and it said `1`, so an error did happen, but it was not displayed at all.

I had an error in my `truffle-config.js`, so perhaps a reproduction step might be throwing an error in `truffle-config.js`, but I'm not sure.

There is internal discussion here: https://trufflesuite.slack.com/

[2019-12-16 21:41] CruzMolina commented on #2690
Hi @anidhya ! Can you share a reproduction repo link for debugging purposes?

[2019-12-17 07:13] unstopablewoman opened #2692 "Error while unboxing the pet-shop box"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
 truffle unbox pet-shop
√ Preparing to download
× Downloading
RequestError: Error: read ECONNRESET
    at new RequestError (C:\Users\Administrator\AppData\Roaming\npm\node_modules\truffle\build\webpack:\node_modules\request-promise-core\lib\errors.j

[2019-12-17 09:30] adrianmcli commented on #2692
I've tried to replicate this on both Node v10 and Node v12 w/ MacOS, but was unsuccessful. Let me see if I can find another team member with more Windows knowledge to look into this.

[2019-12-17 16:20] raphaelpg commented on #724
Worked.
To avoid this issue, make sure your contract's and the contract file has the same name:
ie:
"pragma solidity 0.5.12;

contract Token20 {
...
"
in file named Token20.sol

[2019-12-18 06:51] CruzMolina opened #2698 "update truffle boxes for solc v0.6.x"
Opening this issue here instead of somewhere in the truffle-box org repo.

[2019-12-18 12:36] adrianmcli commented on #2698
I can just do this, but is there anything I need to be aware of? Or do I just bump the number?

[2019-12-18 17:32] CruzMolina commented on #2698
It should suffice to bump most pragma statements to...

`pragma solidity >= 0.4.22 < 0.7.0;`

[2019-12-18 17:34] adrianmcli commented on #2698
Sounds good:

- [ ] Webpack
- [ ] React
- [ ] Pet-Shop
- [ ] Drizzle

[2019-12-18 18:06] adrianmcli commented on #2698
@CruzMolina this is all done for the "first-class" boxes. Let me know if I am missing any other ones. Otherwise, we can close this issue.

[2019-12-18 18:11] CruzMolina commented on #2698
don't forget metacoin! :joy:

[2019-12-18 18:17] CruzMolina opened #2701 "investigate & resolve failing colony job"
On the merge for PR #2646, the colony job [failed](https://travis-ci.org/trufflesuite/truffle/jobs/626420945#L1506). We only run the colony job on pushes to `develop`, so there will need to be some investigation to figure out what exactly is causing the new behavior. So far it appears transactions cost more than they used to 🤷‍♂.

Unclear whether this is a regression or actually a fix made to ensu

[2019-12-18 18:38] eggplantzzz commented on #2680
Can you please give us a little more information about what you are trying to do so we can be sure to fully understand what your issue is?

[2019-12-18 18:50] adrianmcli commented on #2698
https://github.com/truffle-box/metacoin-box/pull/20

Done, but I think we should probably deprecate it eventually. I don't see much use for that box. I guess we can revisit this once we have our v2 of the box registry system.

[2019-12-18 18:53] CruzMolina commented on #2698
Closing since it looks like this has been resolved.

[2019-12-18 18:53] #2698 closed

[2019-12-18 18:58] eggplantzzz commented on #2594
Closing this for issue maintenance. Thanks!

[2019-12-18 18:58] #2594 closed

[2019-12-18 19:07] eggplantzzz commented on #1647
This is done in https://github.com/trufflesuite/truffle/pull/2646. Thanks everyone!

[2019-12-18 19:07] #1647 closed

[2019-12-18 19:15] eggplantzzz commented on #1659
Looks like this is solved!! 🥇 If there is still some problem here, feel free to open another issue! Thanks

[2019-12-18 19:15] #1659 closed

[2019-12-18 19:26] eggplantzzz commented on #1679
Just to note, perhaps (check the code) currently Truffle no longer uses the `legacyAST` field.

[2019-12-18 21:31] PaulRBerg opened #2702 "Error: TypeError: soljson.Pointer_stringify is not a function"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Solidity v6 contracts cannot be compiled with truffle 5.1.4

## Steps to Reproduce

1. git clone git@github.com:PaulRBerg/truffle-sol-v6-bug.git
2. yarn install
3. truffe compile

## Expected Behavior

I should be able to compile contracts written

[2019-12-18 22:41] CruzMolina commented on #2702
Should be resolved by #2695 & out in this week's release.

[2019-12-18 23:14] PaulRBerg commented on #2702
Okay, great!

[2019-12-19 03:57] MaxFeldman1 commented on #416
To anyone who is seeing this error I dealt with it for many hours only to realise that it was being caused by overloading. The program worked fine in the remix ide but when I called the overloaded function on localhost I got an error saying:
[code]
As soon as I gave the functions separate names the program started operating as expected. Hope this helps you all save some time.

[2019-12-19 15:34] tuler commented on #1584
We need to get rid of all transitive dependencies from `keccak@1.4.0` and only have `keccak@2.1.0` in the dependency tree, because it solved the issue as can be seen [here](https://github.com/cryptocoinjs/keccak/issues/10) and [here](https://github.com/cryptocoinjs/keccak/pull/13).

The current dependency tree as defined by `yarn` is this:

[code]

We can see that `keccak@1.4.0` is being brought b

[2019-12-19 15:36] tuler commented on #1584
This is the output of `yarn why keccak`:

[code]

[2019-12-19 16:03] tuler commented on #1584
So one of the reasons is coming from `merkle-patricia-tree@3.0.0`.

[code]

The `master` branch of `merkle-patricia-tree` already has [update of ethereum-util](https://github.com/ethereumjs/merkle-patricia-tree/commit/3061de7c41e87190f55bcb5babdd74d8c2c8b6c7#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R53), but it's still unreleased. I raised this issue in [this discussion](https://github.com/ethereumjs/

[2019-12-19 20:08] k06a opened #2705 "Disconnect from ganache-cli forked mainnet"
##  Issue

I run project tests in ganache-cli fork of mainnet over infura. And when tests took too long I receive this:
[code]

But I am pretty sure `ganache-cli` is still running. What's happening?

## Environment

* Operating System:
* Ethereum client:
* Truffle version (`truffle version`): 5.1.4
* node version (`node --version`): 10.17.0
* npm version (`npm --version`): 6.11.3

[2019-12-20 02:29] hrishikeshio commented on #2257
@Vasiliy-Bondarenko private geth node for görli

[2019-12-20 07:01] Vasiliy-Bondarenko commented on #2257
thanks, @hrishikeshio.
this means the issue IS NOT specific to infura and load balancing. it should be only related to truffle/web3.

[2019-12-20 07:51] jbunce commented on #2257
We're experiencing similar behaviour on mainnet. The migration fails with

[code]

And the transaction is successful: https://etherscan.io/tx/0x5f3fa29a35623e7f8e1e3a8724acc1856d2248eb1eb9cd441d6114af8d22c0a7

Interesting I've not experienced this with Rinkeby or Ropsten, only Mainnet.

No joy with implementing the work around from @CruzMolina with:

[code]

[2019-12-20 10:55] AleG94 commented on #1795
I'm currently having the same issue with Truffle 5.1.5. In the migration file I require artifacts from a dependency like:

`const ProxyFactory = artifacts.require('@openzeppelin/upgrades/ProxyFactory')`

If I run `truffle migrate` and then `truffle test` everything goes well but if I delete the build folder and I directly run `truffle test` (without migrate first) it will fail with error:

`Error:

[2019-12-20 17:30] gnidan commented on #2702
Hey @PaulRBerg how's Truffle v5.1.5? Can you try 0.6.0 now?

[2019-12-20 20:04] fabianriewe commented on #2655
Hey, I don't know if this is relevant in this issue. I was using the provider as a string which was working for me fine when executing a JS script in node locally. But when moving the code to VueJs, nothing was happening. The HDWallet was not loaded correctly:
[code]
But after replacing the string with HttpProvider, everything was working fine:
[code]

[2019-12-21 13:19] PaulRBerg commented on #2702
Yeah I confirm it's working well now.

[2019-12-21 13:19] #2702 closed

[2019-12-23 01:01] robertmagier commented on #2661
**I would like to work on this issue.**

How exactly this flag should work ?
There is also --compile-all flag already which will force truffle to compile all contracts. And there is also --debug flag which will set --compile-true to be true. How should it work when user sets --compile-all and --no-compile together.

Also, if user sets --no-compile flag should we also avoiding compiling when ./buil

[2019-12-23 03:43] okwme commented on #2661
--compile-all has always confused me, it seems like it's always on. Does
truffle skip compiling a contract that it sees is already compiled? does it
have a timestamp or a hash on the un-compiled code to see if there are
changes?

wrt no-compile and an empty build folder i think throwing an error is
appropriate and not a problem

On Sun, Dec 22, 2019 at 8:01 PM robertmagier <notifications@github.co

[2019-12-23 04:40] robertmagier commented on #2661
I used to get this error while working on windows. I don't get this working on Linux. It might be related to test resolver and timestamps as you say. @okwme do you have a project I can use to reproduce this error ? What is the environment you are working on ?

We will have to throw an error every time we are missing even one of contracts in build folder.

[2019-12-23 05:18] robertmagier commented on #2661
Ok. And I see also you have an issue with two different compiler versions. So basically we simply have to use -no-compile flag to make it work properly.

So I think I will implement like this:
1. if some contract is missing from the build folder then I will log an error message.
2. if we have --compile-all and -no-compile together then I will also throw an error message.

I still  think we should

[2019-12-25 04:10] robertmagier commented on #2661
What about test written in solidity ? If flag --compile-none is true should I compile those tests ?
Or should I skip running solidity tests ?

If I compile solidity test then it means I will have to also compile all contracts those tests  test. Which means I can get to the same problem I was trying to avoid at the first place - trying to compile files using two different compiler versions.

[2019-12-25 04:16] robertmagier commented on #2661
I also don't think I don't have to do anything to throw an error about missing artifact. It is already implemented in truffle.
Truffle will throw an error message:
`Error: Could not find artifacts for LostArtifactName from any sources
`
and exit. This should be clear enough to either remove flag --compile-none or run build command to build missing artifact.

[2019-12-27 21:14] mrice32 opened #2710 "Test Isolation in Truffle 5.1.5"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I think truffle 5.1.5 broke test file isolation.

The same contract addresses seem to be used across multiple test files when running `$(npm bin)/truffle test`. From a deeper investigation, it looks like a fresh migration is occurring, but the addr

[2019-12-28 08:37] Mr124 opened #2711 "HD-wallet-provider cannot be installed with npm"
## Issue

I somehow can't install the hdwallet-provider. When I'm in my project directory I'm using npm i @truffle/hdwallet-provider but I only receive errors "npm ERR! enoent This is related to npm not being able to find a file." Could there be a problem with hosting the file?

## Steps to Reproduce

Latest truffle version v5.1.4
Latest npm version 6.13.4

## Expected Behavior

I would expect the

[2019-12-28 17:58] robertmagier commented on #2442
Ok. I will work on it. I have one question should we add extra flag like --file-to-compile=[list of files] or just assume that anything which is not a flag is a file to be compiled. Just like it works with test ?

[2019-12-30 12:02] AfonsoMiao commented on #2632
![image](https://user-images.githubusercontent.com/29982581/71581258-47073000-2afc-11ea-8dd8-c55dbb7c041b.png)

[2019-12-30 20:48] robertmagier commented on #2644
Ok. I will do it.

[2019-12-31 18:48] robertmagier commented on #2442
One question. compile command is using legacy version from workflow-compile, compile-solidity, compile-vyper. This is where I should implement those changes. What about new/ folder in those packages ? Should I put my changes also there ?

[2020-01-02 06:21] caoyifeng007 commented on #2692
I have some question
╰─ truffle unbox pet-shop                                                              1 ↵  3349  14:15:44 
✔ Preparing to download box
✖ Downloading
✖ Downloading
RequestError: Error: connect ECONNREFUSED 151.101.228.133:443
    at new RequestError (/usr/local/lib/node_modules/truffle/build/webpack:/node_modules/request-promise-core/lib/errors.js:14:1)
    at Request.plum

[2020-01-02 08:22] Nicca42 commented on #557
Has this issue been opened with Ganache? I don't use truffle at all (using Etherlime) and I get the same inconsistent failing tests. (Same issues as mentioned by others above, a big contract ecosystem, complex testing and every couple of times when testing a random test will fail).

[2020-01-02 09:42] okwme commented on #2661
Excited to see this @robertmagier !!!
`--compile-none` make sense in the context of `--compile-all`.
Tests should be able to skip compilation too.

[2020-01-02 15:31] robertmagier commented on #2634
Can I work on it ?

[2020-01-02 16:12] robertmagier commented on #2661
Test will skip compilation. The way I implemented this is that we are not going to compile tests. Because if we do it then we will also have to compile all dependencies. The option would be to use --compile-none flag and add another feature to choose which test you want to compile. I have also implemented another feature to choose which files to compile in truffle compile command so it will be eas

[2020-01-02 19:02] robertmagier commented on #2634
Ok. There is an error in truffle-config.js in this project.
It is:
 // Configure your compilers
[code]
But should be:
[code]

Optimizer settings must be included in settings object in config file.
As it is described on truffle website in
[compiler configuration section](https://www.trufflesuite.com/docs/truffle/reference/configuration)

Once you change it then truffle will produce shorter bytecode

[2020-01-03 21:10] #2644 closed

[2020-01-03 21:33] robertmagier commented on #2637
Ok. Will work on that. It might be a bit difficult to run all tests, but I will see  how it goes. Would be great to have some way of direct communication with a team to be able to clarify what should be included in tests and what not. Windows support  on Travis is still in beta.

[2020-01-05 18:20] k06a commented on #2705
Any thoughts?

[2020-01-05 23:15] mrwillis opened #2722 "Truffle doesn't display compilation warnings"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Compilation warnings do not print

## Steps to Reproduce

Create a project with compilation warnings

## Expected Behavior

Get compilation warnings printed out

## Actual Results

`truffle compile --all`

## Environment

* Operating System:
* Eth

[2020-01-06 08:15] MrRefactoring commented on #2711
Everything works for me. Strange behavior

[2020-01-06 14:48] Amxx opened #2723 "Getting a typeError when running `truffle test` after update"
Coming back from vacations, I just updated my truffle install from v5.1.4 to v5.1.7.

When running truffle tests (that used to work) I'm now getting:

[code]

[2020-01-06 16:10] gnidan commented on #2723
Looks like something's gone awry with our decoder. @haltman-at might be able to help if you provide some reproduction steps. Sorry about that!

[2020-01-06 17:56] haltman-at commented on #2701
Hm, wondering if #2710 could be related? (Although, now that #2723 has come up as well... oy.)

[2020-01-06 18:01] gnidan commented on #2701
Welcome back from break @haltman-at 😄

[2020-01-06 20:54] ElYusubov commented on #2070
Is there any progress to make this work on Node v12  (which is currently on LTS)?

[2020-01-06 20:56] johnda98 commented on #2070
Idk.  I went back to 10

On Mon, Jan 6, 2020, 2:54 PM EL Yusubov <notifications@github.com> wrote:

[2020-01-06 21:40] haltman-at opened #2724 "Truffle doesn't delete old artifacts on recompile"
## Issue

On recompiling a project, Truffle doesn't delete old artifacts that no longer correspond to any contract.  This can cause problems with functionality that ingests all the artifacts from a project, since it will take in artifacts that correspond to contracts that no longer exist.  E.g., if a contract is moved from `contracts` to `test`, this can cause problems.

[2020-01-06 22:55] CruzMolina commented on #2724
@haltman-at by recompile, do you mean a simple recompilation (i.e. running `truffle compile` again at a later point in a project) or a full recompilation (`truffle compile --all`)?

[2020-01-07 00:08] haltman-at commented on #2724
I mean the latter, simply because it's not obvious to me what the appropriate behavior is in the former case.

[2020-01-07 03:00] haltman-at commented on #2722
I'm getting this too now, quote marks are being printed instead of compilation warnings.  Not sure which particular release introduced this, but it was fine before we went on break...

[2020-01-07 03:43] acheron2302 opened #2726 "Cannot compile vyper"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Error cannot compile vyper contract

## Steps to Reproduce

Compile vyper contract with truffle on vyper-example box with truffle version 5.1.7

## Actual Results

KeyError: '/home/<user>/project/vyper_ERC20/contracts/ERC20.vy'

Compilation of /hom

[2020-01-07 13:51] GiovanniCapizzi commented on #2711
same problem here

[2020-01-07 21:10] haltman-at commented on #2710
OK, it looks like what happened here is that I accidentally broke the logic used to detect if we can use snapshots to revert the state.  So, instead of reverting via snapshot like would've happened prior to 5.1.5, instead a redeploy is happening (the fallback used if snapshots aren't available).  I think I exposed an underlying bug in that.

Anyway, I'm just going to try to fix the snapshot logic

[2020-01-07 21:54] haltman-at commented on #2710
OK, I've put up PR #2727 to fix this.  Or at least to fix the immediate problem; I have no idea what to do about the underlying bug that got exposed, but things will at least be back to working how they were before.

[2020-01-08 07:44] TechBeatle opened #2732 "Debugging a transaction in (develop) mode gives Error"
I've seen someone asked for help about the same issue in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue. But no answer was provided.

---------------------------

## Issue

I am using React with truffle for development.
I am trying to use the Debugger package to debug a transaction. I have used both truffle and truffle(debug) and face the same issue.

## Steps to

[2020-01-08 09:15] cfelde opened #2733 "Truffle 5.1.5 and later does not handle Solidity require fail correctly in test"
## Issue

When running a test that expects a require(..) condition to fail, the require failure is not handled correctly in Truffle v5.1.5 and later. This works correctly in v5.1.4 and earlier.

## Steps to Reproduce

Please see bug POC at https://github.com/cfelde/truffle-requirebug

## Expected Behavior

Test should pass.

## Actual Results

Test does not pass.

## Environment

* Operating Syste

[2020-01-08 18:34] fainashalts commented on #2705
Hi @k06a, thanks for bringing this up! Can you share some steps to reproduce this issue, so we can dig in?

[2020-01-08 18:38] fainashalts commented on #2711
@Mr124 do you have git installed locally? It looks like you need to have git in order to install HD-wallet-provider. We should fix this though, because you should be able to do this without git. Thank you for bringing this to our attention!

[2020-01-08 18:49] fainashalts commented on #2726
Hi @acheron2302, thanks for bringing this up! What version of Vyper are you using?

[2020-01-08 18:56] fainashalts commented on #2732
Hi @TechBeatle, thank you for bringing this to our attention! Can you try this on 5.1.6 and/or 5.1.4 and let us know if you encounter the same problem?

[2020-01-08 19:05] fainashalts commented on #2733
Hi @cfelde, it looks like this is due to an accidental breaking change in 5.1.5, as of #2691. We will look into a fix for this, thanks for bringing it up!

[2020-01-08 19:06] gnidan commented on #2733
Oops, sorry!

[2020-01-08 20:40] eggplantzzz commented on #2442
It might be best if @gnidan chimes in for guidance on this one. I'm not entirely sure when we will be fully switched over to the non-legacy code.

[2020-01-08 20:43] eggplantzzz commented on #2722
There is a fix for this in https://github.com/trufflesuite/truffle/pull/2725

[2020-01-08 20:46] robertmagier commented on #2442
There is already PR for this. #2713 So it is best to review it instead answering here.

[2020-01-08 23:05] #2710 closed

[2020-01-09 01:43] haltman-at opened #2735 "Test isolation doesn't work when snapshots aren't available"
## Issue

This issue is a continuation of issue #2710.  When I broke test isolation in Truffle 5.1.5, what actually happened was that I broke `truffle test`'s ability to use snapshots.  Fortunately, Truffle has a fallback ready if snapshots aren't available: Doing a reset redeploy.  Unfortunately, it seems this fallback doesn't actually work for test isolation, which is why it caused a problem whe

[2020-01-09 01:47] TechBeatle commented on #2732
@fainashalts Thank you. Working on 5.1.4

[2020-01-09 03:32] acheron2302 commented on #2726
@fainashalts i am currently using vyper version: 0.1.0b14+commit.4ac5ef5. And i’m running it in a virtual env

[2020-01-09 16:48] Shubhajit1997 commented on #222
when I write truffle compile/migrate/test I am having this error:

Compiling your contracts...
===========================
C:\Users\user\.config\truffle\compilers\node_modules\soljson-v0.5.12+commit.7709ece9.js:16
function N7a(a,c,d,e,g,h){a=a|0;c=c|0;d=d|0;e=e|0;g=g|0;h=h|0;var i=0,j=0,k=0,l=0,m=0,n=0,o=0,p=0,q=0,r=0,s=0,u=0,w=0,x=0,y=0,z=0,A=0,B=0,C=0,D=0,E=0,F=0,G=0,H=0,I=0,J=0,K=0,L=0,M=0,N=0,

[2020-01-09 19:06] CruzMolina commented on #2726
Hey @acheron2302 , vyperlang/vyper#1828 appears to be related.

I'm not sure about the exact commit, but downgrading to exactly 0.1.0b14 seems to resolve the issue (at least in our CI).

[2020-01-09 21:00] fubuloubu commented on #2726
We're working on a fix for this! Our apologies!

[2020-01-09 21:52] haltman-at commented on #2701
Huh, looks like this is no longer a problem?

[2020-01-09 22:13] CruzMolina commented on #2701
Looks like #2737 resolved it. 👏

[2020-01-09 22:13] #2701 closed

[2020-01-09 22:30] GoodnessEzeokafor opened #2738 ""Migrations" -- transaction's gas price lower than block's minimum."
I get **"Migrations" -- transaction's gas price lower than block's minimum.** when running `truffle migrate --reset`

[code]

[2020-01-09 22:50] fubuloubu commented on #2726
Fixed in: https://github.com/vyperlang/vyper/pull/1829

Release incoming!

[2020-01-10 00:25] fubuloubu commented on #2726
b16 has been released. please try again with the new version, this issue should be fixed

[2020-01-10 13:14] vporton opened #2745 "Code not reached (testing)"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

A `then()` is not reached in unit test.

## Steps to Reproduce

Download https://github.com/vporton/courts/tree/4c57e854c80ba6a6ce87739a5ca61669915de979

Run `npm test`.

You see no error message, despite there should be, because in an unknown reas

[2020-01-10 13:55] gnidan commented on #2745
Looks like on [this line here](https://github.com/vporton/courts/blob/4c57e854c80ba6a6ce87739a5ca61669915de979/test/reward-courts.js#L9), you need to `return` at the beginning (`return RewardCourts.deployed()...`)

The reason for this is that the test runner must know there is a promise to wait for, so you must return that promise.

Hope this helps!

[2020-01-10 20:46] CruzMolina commented on #2070
Hey everyone! ✋

We just published an experimental prerelease that uses a [fork of mocha](https://github.com/trufflesuite/mocha/tree/v5.2.1) with [one tiny](https://github.com/mochajs/mocha/compare/v5.2.0...trufflesuite:v5.2.1) change. 🤞

Our node 12 CI [appears](https://github.com/trufflesuite/truffle/pull/2730/checks) to be pleased and smoke testing locally w/ node 12 LTS seems to be fine.

Plea

[2020-01-10 23:08] theoretical2019 commented on #2732
Also experiencing same issue.  Fixed by downgrading to 5.1.4.

[code]

Perhaps this ticket should be re-opened, if the issue still occurs in `master`?

[2020-01-10 23:54] gnidan commented on #2732
Yep, @theoretical2019! Guess we didn't get all the 5.1.5 bugs yet :/

Sorry about that!

cc @haltman-at

[2020-01-11 03:52] acheron2302 commented on #2726
fixed with vyper version: 0.1.0b16+commit.5e4a94a

[2020-01-11 03:52] #2726 closed

[2020-01-11 05:34] haltman-at commented on #2733
This is fixed now, right?

[2020-01-11 19:17] gnidan commented on #2723
@Amxx [writes on twitter](https://twitter.com/amxx/status/1216048040404049922) that this is still broken in v5.1.8

[2020-01-11 23:00] adriaanbd commented on #2070
Thanks for the lifesaver @CruzMolina, reporting success over here too!

[2020-01-12 07:47] adrianmcli opened #2749 "Add Node v13 as a CI job"
Owing to previous problems we had catching up to Node.js LTS versions (see #2070), I have decided to try running the tests under Node v13 in preparation for Node v14 LTS coming online in about 9 months time, or October 2020.

See Node.js release schedule here: https://github.com/nodejs/Release

As of today (2020-01-12), all tests are passing without errors. Commands run:

[code]

That being said,

[2020-01-12 11:19] kartojal commented on #2634
Oh! Thanks for your time for this issue, dont know why i missed that extra config. I was going crazy. @robertmagier

[2020-01-12 11:19] #2634 closed

[2020-01-13 00:39] adrianmcli commented on #2749
This is kind of strange, because when I did `npm ls scrypt` and even `npm ls scrypt.js`, I find nothing at all.

[2020-01-14 00:34] heathdrobertson commented on #2711
I ran into the same issue.  Installing @truffle/hdwallet-provider into a Docker container running a NixOs development environment.  Adding git to my Nix packages solved the problem.  @fainashalts thanks!

[2020-01-14 07:42] adrianmcli opened #2756 "Unhelpful error message when name of contract does not match file name"
When the name of a contract does not match the name of the file, the resulting error upon migration is:

[code]

That doesn't exactly show or suggest what could be wrong. I propose that we add a suggestion to the error:

[code]

Something like that or similar would aid in the developer experience, especially for newbies.

Relevant: https://github.com/trufflesuite/truffle/issues/606#issuecomment-36

[2020-01-15 01:03] Gre3nergy opened #2759 "I cant get my new token to go public. I am throwing the following error! All efforts to resolve online have been unfruitful"
I am attempting to compile my test token to a live setting.  When I compile, I get the following error. I assume that this callback is not reaching the destination.

myc:3:1: ParserError: Source "EIP20Interface.sol" not found: File import callback not supported
import "./EIP20Interface.sol"
^----------------------------^

I am using v0.4.21+commit.dfe3193c and have made sure that the optimization

[2020-01-15 01:04] Gre3nergy commented on #2759
![AVNT problem](https://user-images.githubusercontent.com/26776754/72395949-52f81200-36f8-11ea-8546-744c9f345f05.JPG)

[2020-01-15 04:49] ravi19999 opened #2760 "There might be a problem with the project dependency tree. It is likely not a bug in Create React App, but something you need to fix locally."
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
Everytime I try to unbox react through truffle, the following message appears, I've tried everything it says but the problem still persists.

[code]

## Steps to Reproduce
truffle unbox react
Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior
unbox

[2020-01-15 18:41] gnidan commented on #2738
Hi @GoodnessEzeokafor - since you're using RSK, you might want to check out their docs to see how they recommend configuring this. You could try upping the `gasPrice` value and see if that helps.

I also hear that there will soon be example RSK boxes that you will be able to use for reference.

Closing this since this isn't likely a bug. Happy to continue the discussion on [our Spectrum channel](h

[2020-01-15 18:41] #2738 closed

[2020-01-15 18:42] gnidan commented on #2749
Hey @adrianmcli what's the action here?

[2020-01-15 18:44] gnidan commented on #2756
Good suggestion @adrianmcli.

FYI the canonical way to use `artifacts.require(...)` is to specify a _contract name_, not a _file name_. I think this is probably the source of confusion, although there are likely edge cases with subdirectories involved.

Marking this as bug/error-better.

[2020-01-15 18:46] gnidan commented on #2756
Note: the error probably should say something like:

[code]

[2020-01-15 18:47] gnidan commented on #2759
Hey @Gre3nergy, what's your `truffle version`? Can you also share your truffle config? (Please remove any sensitive information before sharing)

[2020-01-15 18:52] gnidan commented on #2680
Closing for issue maintenance. Let us know and we'll reopen!

[2020-01-15 18:52] #2680 closed

[2020-01-15 18:52] gnidan commented on #2690
Closing this for issue maintenance. Ping and we'll re-open! Thanks!

[2020-01-15 18:52] #2690 closed

[2020-01-15 18:53] gnidan commented on #2692
Do either of you reporting this problem have a proxy or other specific network configuration that could give us clues as to what's happening?

Thanks!

[2020-01-15 18:55] gnidan commented on #2673
Hey @zach-is-my-name, I don't suppose Truffle v5.1.8 fixed this?

Would love those reproduction steps!

[2020-01-15 18:57] cds-amal commented on #2760
Hi @ravi19999, what version of windows are you using? If you're on windows 10, do you have [developer mode enabled](https://docs.microsoft.com/en-us/windows/uwp/get-started/enable-your-device-for-development)?

[2020-01-15 18:59] gnidan commented on #1874
Thanks for the confirmation @pepihasenfuss that v3+fresh ID works.

I'll leave this open because it sounds like there's documentation to improve on our side. Can others confirm that @pepihasenfuss's fix works?

Would love this to stop being a source of confusion.

[2020-01-15 19:01] gnidan commented on #2567
Hey @MrRefactoring or maybe @adrianmcli, could either of you lend any clarity to this issue? Thanks in advance!

[2020-01-15 19:02] gnidan commented on #354
Closing for issue maintenance, but @skmgoldin you just let us know if this is a still a problem and we'll reopen :)

[2020-01-15 19:02] gnidan commented on #1172
And now it's been a year and a month :)

Going once? Going twice?

Thanks all 🙇

[2020-01-15 19:04] gnidan commented on #1635
Closing this for issue maintenance. Let us know if this is still an issue and we'll happily reopen. Cheers!

[2020-01-15 19:04] #1635 closed

[2020-01-15 19:05] gnidan commented on #2705
Could you log the JSON RPC (`truffle test --verbose-rpc`) and show us that? Might provide some insight.

[2020-01-15 19:06] gnidan commented on #2711
NPM package requiring Git? Sounds like a bug!

[2020-01-15 19:07] gnidan commented on #2723
Hey @Amxx can we get reproduction steps? Pretty please?

[2020-01-15 19:11] gnidan commented on #2733
@haltman-at you're correct. Process dictates this should've been closed. Closing it now!

Y'all tell me if I'm wrong; happy to reopen :)

[2020-01-15 19:11] #2733 closed

[2020-01-15 19:12] Gre3nergy commented on #2759
Hey gnidan,
Thank you for your response! how do I view/access the truffle version? " v0.4.21+commit.dfe3193c"?

[2020-01-15 19:13] MrRefactoring commented on #2711
Yeah. After all, he has a git repository in his dependencies :)

[2020-01-15 19:14] MrRefactoring commented on #2567
@gnidan I'm busy at work so far, I can’t see this issue, sorry :(

[2020-01-15 19:29] gnidan commented on #2759
Run `truffle version` in the command line and that'll tell you mostly all the relevant information.

[2020-01-16 05:22] adrianmcli commented on #2749
@gnidan setup CI to also test on Node v13.

[2020-01-16 05:27] adrianmcli commented on #2756
@gnidan Yeah that error is better.

For what it's worth, I didn't know that `artifacts.require()` refers to a contract name. In my mind (and I assume many others), the word "require" is most closely associated with CommonJS module `require` statements which are usually file paths.

I wonder if it would be better in the future to call it something else, like `requireContract` or `importFrom` or som

[2020-01-16 17:07] gnidan commented on #2207
This done been done

[2020-01-16 17:07] #2207 closed

[2020-01-16 17:07] gnidan commented on #2208
Yep we're done here

[2020-01-16 17:07] #2208 closed

[2020-01-16 17:07] gnidan commented on #2211
Already donezo

[2020-01-16 17:07] #2211 closed

[2020-01-16 17:07] gnidan commented on #2212
This is done!

[2020-01-16 17:07] #2212 closed

[2020-01-16 17:52] Gre3nergy commented on #2759
Do i have to install the npm truffle application within dev box?

[2020-01-16 17:54] Gre3nergy commented on #2759
i think i may have put this issue in the wrong place...i am attempting to get general help to get my test token into a public domain and have it be searched publicly for an ICO. any help would be greatly appreciated.

[2020-01-16 21:39] gnidan commented on #2759
Ah, this is probably not the best place for that sort of thing, since Truffle's GitHub issues are meant for bugs and/or feature requests related to Truffle itself. Maybe try Reddit?

But to answer your question:

Yep, you'll need to do `npm install -g truffle` in order to use Truffle.

[2020-01-16 21:46] gnidan commented on #2756
I think this probably is due in part to the fact that it used to be the filename, not the contract name, but that's just not meaningful, primarily since files can define more than one contract.

I don't think I like that longer name, but I'm not sure what other solution there is, other than maintaining the compatibility of allowing filenames.

[2020-01-16 22:16] cliffhall commented on #1655
Getting the same issue with `ganache-cli 6.7.0`. Same question. Split contract or abandon ganache?

[2020-01-16 22:41] gnidan commented on #1655
Best practice probably dictates that splitting up contracts is the right move... We had to do this internally inside Truffle's [Assert.sol](https://github.com/trufflesuite/truffle/blob/develop/packages/core/lib/testing/Assert.sol), for instance.

But, it depends on your use case. If you're targeting mainnet for future deployment, then you probably want to make sure that your contract fits inside t

[2020-01-17 06:59] anidhya commented on #2690
Apologies for replying so late. The issue was back in 2018 and havent worked with quorum since, and also believe that the issue may not exist anymore, so best to leave it closed.
Thanks.

[2020-01-18 15:22] zjuguyunzhe commented on #2692
I also got this issue
when running:
truffle unbox webpack
-------------------------
√ Preparing to download box
× Downloading
RequestError: Error: read ECONNRESET
    at new RequestError (C:\Users\admin\nvm\npm\node_modules\truffle\build\webpack:\node_modules\request-promise-core\lib\errors.js:14:1)
    at Request.plumbing.callback (C:\Users\admin\nvm\npm\node_modules\truffle\build\webpack:\node_m

[2020-01-18 16:23] akrolak commented on #2217
jamatulli method worked for me as well, thank you!

[2020-01-18 22:50] pik694 opened #2768 "Truffle fails to resolve solc remapping"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue. []()

---------------------------

## Issue

I tried to use `solc` `remapping` by adding the proper option to `truffle-config.js`, but `Resolver` fires an exception before the flow even reaches solc.

`solc remapping` has been enabled (the option is passed from config to `solc`) as a fix

[2020-01-21 06:10] naddison36 opened #2769 "Override the Solidity `outputSelection` via config"
## Issue

I've like to be able to specify the Solidity `outputSelection` in my Truffle config as defined by the Solidity compiler
https://solidity.readthedocs.io/en/v0.6.1/using-the-compiler.html#input-description

For my use case, I'd like to include the `evm.methodIdentifiers` in the Solidity compiler output. But it'd be good to allow all the `outputSelection`s to be overridden.

## Steps to Rep

[2020-01-21 15:03] eggplantzzz commented on #2768
@pik694 Thanks for reporting this and providing the repro steps! I'll see if I can get to the bottom of this.

[2020-01-22 00:33] haltman-at commented on #2732
I can't seem to reproduce this issue, unfortunately.  To be clear, this is the `SimpleStorage.sol` contract from `react-box`?  (Not like it seems like the particular contract is that relevant here, but just being sure.)

[2020-01-22 01:47] yxguo2536 opened #2771 "Can't get value from deployed contract"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I'm trying to use truffle on Quorum, so I followed tutorial - [Building dapps for Quorum: Private Enterprise Blockchains](https://www.trufflesuite.com/tutorials/building-dapps-for-quorum-private-enterprise-blockchains)

## Steps to Reproduce

1. un

[2020-01-22 02:32] TechBeatle commented on #2732
@haltman-at, Yes it was `SimpleStorage.sol` contract from 'react-box'.

[2020-01-22 06:01] gnidan commented on #2769
This one is tricky. Happy to take a PR, but what behavior should we allow? Truffle constructs outputSelection precisely based on the information it needs. What kind of overrides can we permit? Do we allow users to remove fields for information that Truffle needs? The format is a nested mapping - selectors to selections, allowing wildcards for the selectors. Note that Truffle uses the `*` for some

[2020-01-22 06:05] gnidan commented on #2769
(There also might be a viable approach of PRing a change to the hardcoded logic to include `evm.methodIdentifiers` so users of `@truffle/compile-solidity` as a library can have access to it. Assuming you don't need that information in the artifacts also, separately from `metadata`. Not sure where that would go in the artifacts.)

[2020-01-22 07:25] haltman-at commented on #2732
OK, thanks, just checking.  We'll see if we can get anywhere on reproducing this.  Let us know if you can think of any unusual details of your setup that might be relevant.  In the meantime, until we do reproduce this, you can try upgrading Truffle and see whether perhaps we've fixed it accidentally? :-/

[2020-01-22 08:44] mcplums opened #2772 "Truffle test does not work when using a ganache networkID of my favourite number: 69420"
# Issue

If ganache is run with a network ID of 69420 I get the error "TypeError: Cannot read property 'gasUsed' of null".

It has to be 69420. Not 69419, or 69421.

## Steps to Reproduce

Clone this https://github.com/ConsenSys-Academy/truffle-test-debugging

Start ganache- `ganache-cli -l 10000000 --networkId 69420`
In a different  terminal, navigate to project-dir
`truffle test`

## Expected Be

[2020-01-22 12:58] dmigwi commented on #2732
Its seems like the temporary solution to this, is downgrading to `v5.14`:
[code]

[2020-01-22 13:21] wei193 commented on #2692
If you are in China, You can use a hosts to solve this problem.
https://github.com/googlehosts/hosts

[2020-01-22 16:39] k06a commented on #2705
@gnidan will check!

[2020-01-22 17:25] k06a commented on #2705
[log.txt](https://github.com/trufflesuite/truffle/files/4098781/log.txt)

[2020-01-22 18:49] gnidan commented on #2771
Hey @yxguo2536, could you throw an extra `.then` onto the end to convert to string?

[code]

The first thing to notice is that the tutorial is probably out of date. Your expected result is a BigNumber, but Truffle now uses the BN library instead. If you convert to a string, you'll see if you get `"42"` or not.

Let us know! Thanks!

[2020-01-22 18:53] fainashalts commented on #2772
Hi @mcplums is this a real issue? 😂 I agree 69420 is a fantastic number. We got together all our best men(and women) and couldn't reproduce it. If you are still having trouble with this, please send more steps on how to reproduce, thanks!

[2020-01-22 18:58] fainashalts commented on #2673
Hi @zach-is-my-name, wanted to check in with you on this issue - did Truffle v5.1.8 resolve this? And any chance you can send us reproduction steps? Thanks!

[2020-01-22 19:04] gnidan commented on #1172
Gone!

[2020-01-22 19:04] #1172 closed

[2020-01-22 19:09] fainashalts commented on #2705
Hi @k06a thank you for providing your logs, it does look like ganache is not responding as expected. Can you provide a link to your project so we can try to reproduce this? Thanks!

[2020-01-22 19:12] fainashalts commented on #2745
Since it doesn't seem like there's a bug here, closing this for issue maintenance. Let us know if the proposed solution above doesn't work. Thanks!

[2020-01-22 19:12] #2745 closed

[2020-01-22 19:31] k06a commented on #2705
You can run `yarn && yarn run test` from this repo: [@CryptoManiacsZone/1split](https://github.com/CryptoManiacsZone/1split)
Truffle verbose: [truffle.txt](https://github.com/trufflesuite/truffle/files/4099540/truffle.txt)
Ganache-cli verbose: [ganache-cli.txt](https://github.com/trufflesuite/truffle/files/4099539/ganache-cli.txt)

[2020-01-22 22:49] haltman-at commented on #2732
OK I have finally successfully reproduced the problem!  Thanks for bringing it to our attention, I'll have to see about fixing this...

[2020-01-22 23:20] haltman-at commented on #2732
OK, I've put up PR #2777 to fix this.

[2020-01-23 04:37] mcplums commented on #2772
Haha well, the issue is real, but it is not one worth taking seriously since it is easy to just use a different ID :) probably not worth the effort to try and get you guys to reproduce it! So I have closed it :)

[2020-01-23 04:37] #2772 closed

[2020-01-23 06:16] naddison36 commented on #2769
From my perspective, adding `evm.methodIdentifiers` to the hardcoded `outputSelection` items works fine.

I see the difficulty in you don't want to override `outputSelection` items that Truffle needs internally. In that case, it should be considered extending rather than overriding. `evm.gasEstimates` is the only other `outputSelection` that I'd be interested in.

Does that help?

[2020-01-23 06:31] vishnutm opened #2779 "could not deploy the contract in Quorum network"
**Issue**
I'm trying to use truffle on Quorum, i build a 3 node setup from the using raft consensus. But i can not depoly a contract in that network

**3Node setup:**
./startnode1.sh
./startnode2.sh
./startnode3.sh

My smart contract in truffle is
[code]

after compiling the smart contract . i copy the abi and byte code public-contract.js
[code]

when truffle migrate it . it generate the error lik

[2020-01-23 15:01] yxguo2536 commented on #2771
Hi @gnidan, thanks for the help, now I can get a clear value.

But strangely, even from sender node, I still get `0` from it.

I also tried to get value using geth:
[code]

and it also return `0` instead of what I initialized `42`

Does it means my deployment went wrong somehow?

[2020-01-23 16:47] mcwebdev opened #2785 "$Truffle Develop missing from readme.md"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

New users will be confused that `truffle test` returns the following error.
[code]

## Steps to Reproduce
run `truffle test` before running `trufle develop`

## Proposed resolution
Add instructions for running `truffle develop` in new cmd window pr

[2020-01-24 02:39] eggplantzzz commented on #2768
Oh it looks like this problem will be a bit more involved than I thought. The problem is that the resolver doesn't know how to deal with (resolve) the remappings. I don't think we'll have time for it in the immediate future but if anyone is interested in tackling this then let me know!

[2020-01-24 10:41] adrianmcli commented on #2692
To everyone in this thread, can we confirm that this is a problem with China's great firewall?

[2020-01-24 22:07] eggplantzzz commented on #2632
@AfonsoMiao This seems really strange. Is this still a problem on the latest version of Truffle? Is your code available so I can see if I can reproduce it? I can't reproduce it on an arbitrary new unboxed project on a mac.

[2020-01-24 22:15] eggplantzzz commented on #2785
Hey @mcwebdev, you shouldn't need to run `truffle develop` before you run `truffle test`. You can run the test command after running `truffle develop` but you should be able to run `truffle test` without it. I think there will be a problem if you have a network named `develop` in `truffle-config.js` with bad network settings however...

[2020-01-25 19:54] cds-amal opened #2792 "truffle-migrate records invalid event property in contract artifact json file"
## Issue

Invalid event property in artifact files after migration

## Steps to Reproduce

I used this deployed [1] this project to a test network
1: https://github.com/cds-blog-code-samples/MarketSample

## Expected Behavior
There should only be valid event properties

## Actual Results

Events have a `signature` property, which @truffle/contract-schema's `validate` rejects.

[code]

## Environme

[2020-01-27 07:46] durgeshkmr commented on #402
@niuwenchen  it worked , thanks

[2020-01-27 10:38] sobolev-igor commented on #2705
Hi, everyone!

I'm facing the same issue when running tests and coverage locally. However, the issue does not appear when running tests using GitHub Actions.

Unfortunately, I work in a private repo, but I can provide any logs if needed.

[2020-01-27 16:51] eggplantzzz commented on #2785
Perhaps we should put a note in the README specifying that if Truffle finds a network named "develop", it will use those settings when running `truffle develop`? Although it might already be in there somewhere, I will have to check!

[2020-01-27 22:14] wbt opened #2795 "Add documentation/example with deployment on private geth chain"
## Issue
Available examples for `truffle migrate` focus on using a development blockchain like `ganache` or `testrpc.` An example should be given of deployment to a private `geth` node.

Specifically, this documentation addition should demonstrate how to connect to geth (examples show use of the HTTP RPC endpoint Geth can provide) while allowing an account to be unlocked sufficiently for truffle t

[2020-01-28 11:41] zjuguyunzhe commented on #2692
I added the #GoogleHosts# part to my hosts file, and then I ran truffle unbox webpack.
It seems to work now.

√ Preparing to download box
√ Downloading
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"}

[2020-01-28 20:33] eggplantzzz commented on #2785
So it looks like we do already have that in the docs [here](https://www.trufflesuite.com/docs/truffle/getting-started/using-truffle-develop-and-the-console#configuring-truffle-develop).
Do you think it would be helpful to add it elsewhere @mcwebdev?

[2020-01-28 21:05] EmanHerawy commented on #2779
Hi, How does your truffle.js / truffle-config.js look like ?
To use Quorum, you must modify your network in truffle-config.js to include a parameter type set to "quorum"
`      type: 'quorum' // needed for Truffle to support Quorum`
please check this https://www.trufflesuite.com/docs/truffle/distributed-ledger-support/working-with-quorum

[2020-01-28 22:28] wbt opened #2799 "Error message when exceeding block gas limit presents comparable numbers in different bases"
## Issue
When sending more gas than the network's current block limit, the error message that comes back is confusing and can/should be clarified.

## Steps to Reproduce
In truffle-config, specify a "gas" value which is higher than the block gas limit for the network you are connected to.  Attempt to do a basic migration or any other Truffle transaction.

## Expected Behavior
The "Block limit" and

[2020-01-29 02:13] Arachnid commented on #1575
I'm having this problem intermittently, and I'm fairly sure that the issue is that infura serves requests from a cluster of nodes; when a contract creation transaction is mined, it calls `eth_getCode`, and sometimes gets a response from a node that hasn't seen that new block yet.

A stopgap solution might be to try again after a short delay if getCode returns nothing, before giving up.

[2020-01-29 02:54] mcwebdev commented on #2785
The problem I had was this line of instruction in the readme.md after `$ truffle init`.

`From there, you can run truffle compile, truffle migrate and truffle test to compile your contracts, deploy those contracts to the network, and run their associated unit tests.`

given the inited boilerplate generated above using `$ truffle init`. I was unable to run `truffle test` until I ran `truffle develo

[2020-01-29 03:09] gnidan commented on #1575
That's a fantastic hypothesis @Arachnid!

Some quick implementation thoughts, for any takers:

A [similar retry mechanism](https://github.com/trufflesuite/truffle/blob/develop/packages/contract/lib/override.js#L28-L37) already exists, to handle Web3.js's 50-block timeout (side note: does that limitation still exist?).

Defining another "override" like that one seems viable and at low-risk of break

[2020-01-29 05:53] tcoulter opened #2801 "nonce-like issues with Tezos contract?"
In the `alphaTez` branch, in a console, I pressed Ctrl+C while a call to a contract function was executing. I forgot to add `await`, so I "quit it" to send the request again.

On the second request, I got an error from the blockchain node suggesting it expected `962`, but got `961`. I tried the request again, and it failed in the same way. Eventually the transaction succeeded. This suggests a nonc

[2020-01-29 14:15] wbt commented on #2799
On further reflection, I think it would actually be better to show both numbers in both bases, aligned between rows, e.g.

In the example copied in, the clearer message format doesn't seem consistent with the error message given, which may be a separate issue, but having comparable bases will at least help in cases where the gas sent is actually greater than the block gas limit.

[2020-01-29 16:36] wbt commented on #2795
For anyone hoping to do a PR or find a solution on this, the instructions are roughly:

  - Use a Hierarchical Deterministic (HD) wallet provider such as MyEtherWallet to generate an HD wallet mnemonic.  It may not be best for security to use one's primary MetaMask wallet mnemonic here.
  - Get the address of at least one account from that wallet, e.g. the first one.
  - Run geth with RPC enabled

[2020-01-29 16:43] tcoulter opened #2802 "Tezos truffle-contract returns BigNumber instead of BN"
In the `alphaTez` branch, I noticed today that the Tezos version of `truffle-contract` returns BigNumber objects instead of BN. As a matter of standardizing our output, we should move to BN.

Steps to reproduce:

1. Get the `alphaTez` branch and `yarn`, `yarn bootstrap`, etc. (referred to as `truffle` below)
2. Create a new project using the `truffle unbox tezos-example` box. Make sure you have al

[2020-01-29 16:53] CruzMolina commented on #2801
Unfortunately this appears to be a known issue with the current implementation of Tezos.

See ecadlabs/taquito#213, https://gitlab.com/tezos/tezos/issues/644, & https://gitlab.com/tezos/tezos/issues/36.

[2020-01-29 17:26] cds-amal opened #2803 "Strictness is coming: schema validation"
#2792 taught us there is a class of validation ingest issues we need to be aware of. We can get ahead of them by validating `TruffleContract` schemas prior to persisting. @fainashalts suggested the concept of a strictness version, at which point Truffle will enforce strict contract version conformity. Validations will now throw exceptions and we will rely on Travis CI, our test coverage, and git w

[2020-01-29 18:37] gnidan commented on #2779
@eggplantzzz suggests that there might be a problem with the tutorial. Can anyway verify whether this tutorial is up-to-date or not?

[2020-01-29 18:37] gnidan commented on #2779
@vishnutm also, you might have more luck with Node v10 instead of Node v12

[2020-01-29 18:40] gnidan commented on #2795
Thanks for submitting this, @wbt! Good to see you again 😄

[2020-01-29 18:42] gnidan commented on #2799
Yeah totally we should have both bases there.

(You don't like subtracting decimal from hex numbers?? ;)

[2020-01-29 18:46] gnidan commented on #1575
Ah but @CruzMolina says `eth_getCode` might not happen inside @truffle/contract, so my implementation ideas may not hold. Further investigation required.

[2020-01-29 18:59] gnidan commented on #2802
@haltman-at asks: do we even use the `numberFormat` mechanism for Tezos right now?

[2020-01-29 19:02] gnidan commented on #2802
These are my take on requirements:

- Truffle **must** respect the number reformat mechanism
- Truffle **should** use the same default, no matter what chain

[2020-01-29 19:06] gnidan commented on #2771
Hm, this is a bit strange... you're configuring Truffle for Quorum, but Geth is not Quorum. Not sure if that discrepancy matters here, but that's my first thought. You might want to remove `type: quorum` if you're only planning to use Geth.

[2020-01-29 19:07] gnidan commented on #2759
Closing this for issue maintenance. Let us know if there's anything else we can do to help!

[2020-01-29 19:07] #2759 closed

[2020-01-29 19:09] CruzMolina commented on #1575
#2257 appears to be the same issue.

[2020-01-29 19:10] gnidan commented on #2705
Thanks @k06a for that extra information!

Adding this to our backlog to dig into.

(@sobolev-igor will ping you if more data will be helpful!)

[2020-01-29 19:14] CruzMolina commented on #1575
Reproduction steps [here](https://github.com/trufflesuite/truffle/issues/2257#issuecomment-558919818). Hopefully still working ( 🤞).

Potential solution [here](https://github.com/trufflesuite/truffle/issues/2257#issuecomment-565516714).

[2020-01-29 19:24] eggplantzzz commented on #1729
@knightlands Do you have a project and steps that I could use to reproduce this error?

[2020-01-29 19:26] eggplantzzz commented on #2080
@GregTheGreek You should be able to just run one test file by passing the path in as follows:
[code]

[2020-01-29 19:51] eggplantzzz commented on #2705
@k06a I was able to successfully run `yarn run test` in that repo. I hope that helps!

[2020-01-29 19:55] k06a commented on #2705
@eggplantzzz sometimes it works, but in 90% cases doesn’t. Check Travis-CI logs, for example.

[2020-01-29 20:04] eggplantzzz commented on #2705
Hmm, I was able to successfully run it thrice in a row. This might be tricky to track down...

[2020-01-29 20:30] eggplantzzz commented on #2705
Hmm, I wonder if this suggests it might be some sort of performance issue...

[2020-01-29 20:30] k06a commented on #2705
@eggplantzzz maybe you also really close to Infura HQ 😁

[2020-01-29 21:01] #2792 closed

[2020-01-29 21:55] ltfschoen commented on #2552
I'm having similar issues in my project https://github.com/DataHighway-com/mining
I'm using Truffle v5.1.10.

If I run a separate "development" chain on port 8545 with `ganache-cli` by following my steps [here](https://github.com/DataHighway-com/mining#configure-blockchain) so I can specify custom CLI options such as where the chain database is stored, then when I run `truffle migrate --reset --ne

[2020-01-29 23:14] CruzMolina commented on #2802
Since Tezos does not currently support views, Tezos contract instances are not hooked up to appropriately utilize the `numberFormat` mechanism.

Furthermore, the current formatter expects an ABI (`methodABI.outputs`) and LIGO does not currently provide a ready-made ABI for contracts.

The good(?) news is that because the only "view" we need to handle currently is a `storage` call, it might not be

[2020-01-29 23:48] haltman-at commented on #2802
Ugh, the current formatter expects an ABI?  Ugh, I hadn't realized... what a mess.  With any luck I'll redo all this before too long, but who knows how long that'll take...

One thing worth noting, we currently support three values for `numberFormat`: `BN`, `BigNumber`, and `string`.

[2020-01-30 02:37] yxguo2536 commented on #2771
I've tried to change geth version of host machine to quorum, but still no luck
[code]

and since I want to send private transaction, so I do need to config truffle for quorum

[2020-01-30 22:18] eggplantzzz commented on #1707
Merged in Truffle [v5.1.11](https://github.com/trufflesuite/truffle/releases/tag/v5.1.11)

[2020-01-30 22:18] #1707 closed

[2020-02-02 17:59] jeffor12 commented on #2070
Hey @CruzMolina can you plz help me with that? I have installed nodejs 12.14.1 ... how can I apply your solution? thx

[2020-02-02 19:31] CruzMolina commented on #2070
Hi @jeffor12 !

You should be able to re-install the `nodeLTS` compatible (🤞) version of truffle via:

[code]

You can verify the `nodeLTS` release of truffle is node 12 compatible by running:

[code]

If the test run completes without throwing an error, you should be good to go.

[2020-02-04 15:56] vitaliy-kuzmich opened #2811 "Error: Returned error: Cannot get state root with uncommitted checkpoints"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
[code]

## Steps to Reproduce
Take this contract :
[code]

And execute this test :
[code]

## Expected Behavior

pass test

## Actual Results

failed because of exception

## Environment

* Operating System:  arch linux
Truffle v5.1.11 (core: 5.1.11

[2020-02-04 23:25] jeffor12 commented on #2070
Hi @CruzMolina!

I found a solution for my test error:
TypeError [ERR_INVALID_REPL_INPUT]: Listeners for uncaughtException cannot be used in the REPL

I had to downgrade to node 10.18.1. then all went well...

[2020-02-04 23:33] CruzMolina commented on #2070
Hey @jeffor12 ,

are you confirming that `truffle@nodeLTS` still throws that error?

Can you share your truffle version?

[2020-02-04 23:41] jeffor12 commented on #2070
right now its
Truffle v5.1.11 (core: 5.1.11)
Solidity - 0.5.12 (solc-js)
Node v10.18.1
Web3.js v1.2.1

[2020-02-04 23:51] CruzMolina commented on #2070
@jeffor12 , it sounds like you have `truffle` latest installed.

You'll need to `npm un -g truffle && npm i -g truffle@nodeLTS` to use truffle on node 12.

[2020-02-05 12:55] k06a commented on #2705
@eggplantzzz checkout CI logs or the repo

[2020-02-06 11:31] SvenMeyer commented on #2070
@CruzMolina thanks, that worked !
but why is the nodeLTS version not the default one? ... why are there two different versions?

[2020-02-06 16:47] pranav-deshpande commented on #1803
Any update on this?

[2020-02-06 17:50] bwheeler96 opened #2815 "Test passes when Assert.fail is called and on other assertions that should fail."
- [ x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle tests do not fail when I call `Assert.fail("this should fail");`

## Steps to Reproduce

Write a test that calls Assert.fail("this should fail"), and it won't fail.

## Expected Behavior

I expect the test to fail.

## Actual Results

The

[2020-02-07 00:36] kostysh commented on #2811
faced the same issue

[2020-02-07 01:57] justinjmoses commented on #795
@cgewecke we're seeing this but also seeing ERC20 `Transfer` events included in the log from one of our internal contracts but not other events off the same internal contract. I went looking and can't see base support for ERC20 decoding in `truffle/contract` or `abiDecoder`. Is seeing internal Transfer events expected or is it some anomaly in our (Synthetix) environment?

[2020-02-07 20:45] robertmagier commented on #2799
Seems like easy to do. Can you assign it to me ? @gnidan

[2020-02-08 22:12] soylent opened #2817 "TypeError: Assignment to constant variable when using native solc"
## Issue

`truffle test` fails when using native solc

## Steps to Reproduce

1. `truffle unbox metacoin`
2. add the following to `truffle-config.js`:
[code]
3. `truffle test`

## Actual Results

Solidity tests fail:
[code]

## Environment

* Operating System: Arch
* solc: 0.6.2+commit.bacdbe57.Linux.g++
* Truffle v5.1.11 (core: 5.1.11)
* Node v10.16.0
* Web3.js v1.2.1

[2020-02-09 02:06] justinjmoses opened #2818 "Mocha globals in exec to iterate quickly on tests"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I'd like to know if there is a way to execute tests in truffle console (or otherwise) without having to restart ganache and redeploy between test runs. This is imperative to speed up the feedback loop when iterating on test specs when there are no