[2022-06-29 18:10] eggplantzzz commented on #5233
Hey, thanks for reporting this! This occurs as @truffle/hdwallet-provider doesn't yet support `eth_signTypedData_v4`. We will release a new version of @truffle/hdwallet-provider in the next day or two that will fix this. See https://github.com/trufflesuite/truffle/issues/5220 for some more info on this.

[2022-06-29 19:14] eggplantzzz commented on #5229
Ah yes that looks like a very old tutorial. Currently I don't believe Truffle supports this but I will leave this issue here as a feature request. Thanks for submitting this issue!

[2022-06-29 21:38] cliffoo opened #5247 "`@truffle/core` cannot be individually installed."
## Steps to Reproduce

`npm install --save @truffle/core`

## Actual Results

Process will hang when it tries to install `oboe@2.1.4`

## Environment
* Operating System: Monterey 12.3.1
* Truffle version (`truffle version`): 5.5.19
* node version (`node --version`): 16.15.0
* npm version (`npm --version`): 6.14.17

[2022-06-30 08:51] bruck93 commented on #5084
Hey @sukanyaparashar .
Yes I still have the issue.

But I've runned manually all the tests... which I didn't like honestly but was the only way

[2022-06-30 12:39] MicaiahReid commented on #3756
We haven't heard anything back on this, so we're calling it fixed! Please open another issue if you're finding that this is still happening.

[2022-06-30 12:42] MicaiahReid commented on #2928
We haven't heard anything back on this, so we're calling it fixed! Please open another issue if you're finding that this is still happening.

[2022-06-30 12:42] #2928 closed

[2022-06-30 12:43] MicaiahReid commented on #5129
Closing for issue maintenance.

[2022-06-30 12:43] #5129 closed

[2022-06-30 12:47] MicaiahReid commented on #4832
Closing for issue maintenance.

[2022-06-30 12:47] #4832 closed

[2022-06-30 15:18] moshmage commented on #5235
Hey @cliffoo while that fix _might_ solve some instances on the truffle plugin itself, if changes aren't made to the dependencies on what truffle depends on we will keep having these problems as every dependency on every package on truffle repository uses a "at least" approach, meaning that whenever you bump to `0.0.2` and introduce new stuff, even if I require `0.0.1` _the dependencies_ will stil

[2022-06-30 17:31] cds-amal opened #5251 "Truffle CI should update to latest GETH stable"
Truffle had to pin GETH version because their [latest stable broke our CI](https://github.com/trufflesuite/truffle/pull/5250). We should get back on stable.

[2022-06-30 17:34] cds-amal commented on #5202
Hey @benjamincburns do you have that list of tests?

[2022-06-30 17:39] cds-amal commented on #5204
There are two issues, 1) building truffle on windows and 2) installing truffle on windows. We should have a team discussion. @cds-amal, will schedule.

[2022-06-30 17:53] cds-amal commented on #5213
Hey @fainashalts, can you link the multi-network configuration issue to this please?

[2022-06-30 17:55] cds-amal commented on #5215
@dkillen what's the status on this one?

[2022-06-30 18:32] cliffoo commented on #5235
@moshmage It's not that semver isn't respected, but a lapse on our end that caused this breaking behavior to slide into the release. We probably don't want to pin versions as there are other implications.

We are looking to integrate CI checks (outlined in [this PR](https://github.com/trufflesuite/truffle/pull/5246)) that can make us aware of such issues (by simulating install from registry) and g

[2022-06-30 22:48] dkillen commented on #5215
It is done. It was actually done before the task was added to the L2 project.

[2022-07-01 12:32] igbinore commented on #3356
please how did you set the "networkCheckoutTimeout" attribute

[2022-07-01 12:47] fosgate29 commented on #3356
@igbinore It is inside truffle config. Search this thread for **networkCheckTimeout** and you will find an example.

[2022-07-01 13:40] neetu-sharma opened #5254 "CompileError: project:/contracts/kyc.sol:4:1: DeclarationError: Identifier already declared."
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

ompiling your contracts...
===========================

CompileError: project:/contracts/kyc.sol:4:1: DeclarationError: Identifier already declared.
contract KYC is admininterface {
^ (Relevant source part starts here and spans across multiple lines).
project:/contracts/kyc.sol:2

[2022-07-01 17:18] eggplantzzz commented on #5254
Hey @neetu-sharma, looks like you may have a Solidity error as that error is coming from the Solidity compiler. Can you check your code for syntax errors? Also, if you want to link to your project on GitHub I'll happily take a look to see if I can spot an error.

[2022-07-01 20:12] haltman-at commented on #5254
It looks like most likely they're trying to redeclare an identifier that was already declared in an import.

[2022-07-01 21:19] lsqproduction commented on #5063
Added in [Truffle 5.5.20](https://github.com/trufflesuite/truffle/releases/tag/v5.5.20).

[2022-07-01 21:19] #5063 closed

[2022-07-01 21:20] lsqproduction commented on #5220
Added in [Truffle 5.5.20](https://github.com/trufflesuite/truffle/releases/tag/v5.5.20)

[2022-07-01 21:20] #5220 closed

[2022-07-01 21:20] lsqproduction commented on #5233
Added in [Truffle 5.5.20](https://github.com/trufflesuite/truffle/releases/tag/v5.5.20)

[2022-07-01 21:30] lsqproduction commented on #5235
Yay. Fixed in [Truffle 5.5.20](https://github.com/trufflesuite/truffle/releases/tag/v5.5.20)

[2022-07-01 21:35] lsqproduction commented on #5251
Done in [Truffle 5.5.20](https://github.com/trufflesuite/truffle/releases/tag/v5.5.20)

[2022-07-01 22:02] #5235 closed

[2022-07-02 01:03] wbt commented on #5251
The release notes for 5.5.20 say it's not done, but rather pinned at the prior version.

[2022-07-03 07:49] natysav commented on #391
Had the same issue, fixed by installing Xcode. Thanks

[2022-07-04 05:05] vaimdev opened #5257 "TruffleLogger already merged?"
I came across TruffleLogger https://github.com/trufflesuite/truffle-logger-example

And I wonder it has been merged into the main trufflesuite, if yes, what is the version?
because I try to do

[code]
but it says file missing

[2022-07-05 05:19] gnomesaregreat commented on #3356
had the same issue over a year with many networks.
using **--compile-none** solve this right away

[2022-07-05 14:37] benjamincburns commented on #5231
@cds-amal suggested that this is possibly related to #4454. Will investigate that when I check this one out.

[2022-07-05 14:47] cliffoo commented on #5247
Never mind, it just takes a really long time. (Issue unrelated to bundle size or the dependency tree itself, I believe. Network issues?)

[2022-07-05 14:47] #5247 closed

[2022-07-05 14:53] eggplantzzz commented on #5257
That was actually an example for a feature that got put on hold. Hang tight though, it is still on our roadmap and should be implemented in the near future!

[2022-07-05 18:38] wbt opened #5260 "hdwallet-provider uses old ethereumjs-util"
## Issue

@truffle/hdwallet-provider [specifies ethereumjs-util@6](https://github.com/trufflesuite/truffle/blob/develop/packages/hdwallet-provider/package.json#L29). This uses an older version of @types/bn.js which aren't compatible with the new types incorporated by #5177, a breaking change rolled out in [Truffle's latest patch-level release](https://github.com/trufflesuite/truffle/releases/tag/v

[2022-07-07 17:06] cliffoo commented on #5185
Closing for Issue Maintenance.

[2022-07-07 17:06] #5185 closed

[2022-07-07 17:09] cliffoo commented on #5149
Closing for Issue Maintenance.

[2022-07-07 17:09] #5149 closed

[2022-07-07 17:48] eggplantzzz commented on #5257
Follow the following two issues for updates on this feature
 - https://github.com/trufflesuite/truffle/issues/5193
 - https://github.com/trufflesuite/truffle/issues/5195
Closing for maintenance.

[2022-07-07 17:52] kevinweaver commented on #5084
@bruck93 please send over any reproduction steps you can provide so we can help you look into this. Thanks!

[2022-07-07 18:20] kevinweaver commented on #3765
Closing for issue maintenance :( (RIP Travis)

[2022-07-07 20:09] emilyJLin95 opened #5268 "Update `truffle init` artifacts"
## Issue

We should make the following updates on `truffle init`:

- Replace Migrations.sol with a SimpleStorage.sol
- Replace the initial_migration with a deploy_contracts or something that deploys the SimpleStorage contract
- Update the sample truffle-config to use Goerli or Sepolia as the testnet (right now it's ropsten)

[2022-07-07 21:34] kevinweaver commented on #5209
This is done! https://trufflesuite.com/blog/introducing-the-optimism-bridge-truffle-box/

[2022-07-07 21:34] #5209 closed

[2022-07-07 21:38] kevinweaver commented on #5138
Thank you for your interest @swisstackle! I plan to look into this a bit next week. Let me know if you've researched it at all, otherwise I'll report back here with my findings.

[2022-07-07 21:42] #4418 closed

[2022-07-07 21:55] sukanyaparashar commented on #5251
This issue is resolved with this PR #5258 and released in [Truffle v5.5.21](https://github.com/trufflesuite/truffle/releases/tag/v5.5.21)

[2022-07-07 21:55] #5251 closed

[2022-07-08 00:34] haltman-at commented on #5225
OK, it turns out I don't know how to fix this after all.  I thought I could fix this by removing the line `self._error(e)` from `DeferredChain.prototype.then` and instead adding a `.catch(this._error)` in `DeferredChain.prototype.start` (line 42; actually I used a a second argument to `then`, rather than a `catch`, but you get the idea).  For whatever reason, this caused all sorts of hangs.  I dun

[2022-07-08 16:58] eggplantzzz commented on #3041
Hey @PyrateAkananto, I finally got around to taking a look at this and can't duplicate this problem. I blocked all cookies and opened a very simple html file that just loads the Truffle Contract script but I don't get anything in the console like what you  described. Is there anything else I need to do besides block cookies?

[2022-07-08 19:05] RedBullWeb3 commented on #4692
Try few hours to find solutions and it's working finally! Thank you!

problem: wrong version of npm
solution: npm install -g npm@6

[2022-07-08 21:20] fainashalts commented on #5207
Just wanted to leave a note here that the redesign should take into account multi-network deployments, perhaps by initiating an "Environment" concept. Whoever works on this should reach out to the Truffle Layer 2 team to ensure that the solution meets the needs of Layer 2 developers.

[2022-07-08 21:22] fainashalts commented on #5213
@cds-amal I believe it is [this one](https://github.com/trufflesuite/truffle/issues/5207)

[2022-07-08 21:23] fainashalts opened #5272 "Configuration changes for multi-network projects"
Consult with gnidan on specs for this.

* truffle-config.js probably needs to have separate environments baked in; may be a breaking change depending on how we set it up (default to no environment to prevent breaking changes)

* Really how we already built the L2 boxes, but would be nice to have it all in one file (be aware that Starknet may be a special case and consider elements that may be spec

[2022-07-08 21:23] fainashalts commented on #5213
@cds-amal but also [this one](https://github.com/trufflesuite/truffle/issues/5272) from the Layer 2 team

[2022-07-09 01:04] emilyJLin95 commented on #5050
Just ran into this

The inspect gives:
[code]

Nothing looks weird on the terminal side

[2022-07-09 01:19] emilyJLin95 commented on #5050
Actually uninstalled truffle, updated node, and reinstalled truffle, and now everything works find again. Feel free to close then?

After reinstalling:
Truffle v5.5.21 (core: 5.5.21)
Ganache v7.2.0
Solidity v0.5.16 (solc-js)
Node v16.16.0
Web3.js v1.7.4

[2022-07-09 01:38] sg552 commented on #548
If using `truffle`, you should best always specify the `--network` option. e.g.

[code]

[2022-07-09 03:58] cliffoo commented on #5050
🤷‍♂️ I guess I'll keep this in the back of my head as I work through [pr#5241](https://github.com/trufflesuite/truffle/pull/5241). Thanks for reopening this.

[2022-07-10 10:37] Vishvesh-Codehunt commented on #3270
hey i received the error like this while installing the trffule. What should i do to remove that error
<img width="1440" alt="Screen Shot 2022-07-10 at 4 06 28 PM" src="https://user-images.githubusercontent.com/75875506/178141321-b694c07d-8f44-42a8-8aeb-1e583404cfed.png">
?

[2022-07-10 12:46] abhi-sharma901 commented on #3728
Thanks, it worked for me!!

[2022-07-10 12:47] abhi-sharma901 commented on #3728
Thanks, it worked for me!!

[2022-07-10 20:52] knandersen commented on #463
I got the same error on truffle v5.5.21 running on node v16.15.1. When digging into it, I got a warning that fsevents could be breaking.
`npm install
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemental metadata must be fetched from the registry.
npm WARN old lockfile
npm WARN old lockfile This is a one

[2022-07-11 07:21] PyrateAkananto commented on #3041
Hello @eggplantzzz . Thank you for having a look at it. The issue is over two years old and I am not working on anything related to Ethereum anymore. Nevertheless I had a look at my old code which does the following regarding Truffle. But I only took a look because I neither have the environment nor the time to actually run the code again.

1. Check myself whether local storage is available using

[2022-07-11 15:54] eggplantzzz commented on #3041
Actually it kind of seems like blocking all cookies blocks the local storage any more. After blocking cookies I am still able to go into the dev console and set values...

[2022-07-11 17:41] haltman-at commented on #5260
(Temporarily reopening this per our usual practice of close-on-release rather than close-on-merge.)

[2022-07-11 17:57] eggplantzzz commented on #5260
Did we not release this change?

[2022-07-11 18:07] cds-amal commented on #5260
Nope. The last release was Jul-08 and the associated PR (#5261) was merged on Jul-11, three days later.

[2022-07-11 19:45] eggplantzzz commented on #5260
Ah ok sorry, I thought this was released.

[2022-07-11 20:29] cds-amal commented on #4587
I changed this to new issues to give it an appropriate status update, as well as link it to work that @benjamincburns is doing.

[2022-07-11 20:42] cds-amal commented on #4441
Added to team align meeting

[2022-07-11 20:42] #4441 closed

[2022-07-11 20:52] cds-amal commented on #4152
Closing this as issues seem to be related to PROXY configuration. Anyone coming here, please see if the following links help

- https://github.com/trufflesuite/truffle/issues/4016#issuecomment-1023471003
- https://github.com/trufflesuite/truffle/issues/2692#issuecomment-577178735

[2022-07-11 20:52] #4152 closed

[2022-07-11 21:10] eggplantzzz commented on #5214
Testing this on the metacoin box I found that there were 5 calls for gas estimation (I checked in @truffle/contract's `getGasEstimate` function so is possible that it is being called from web3 separately?). It turns out that 3 were for the contract deployments. The other 2 I believe were for the transactions that call `setCompleted` on the `Migrations` contract. I deleted the `Migrations` contract

[2022-07-12 02:12] cds-amal commented on #5214
Thanks, @eggplantzzz! Is it time to drop `Migrations.sol` and `1_initial_migrations.js` from `truffle init`?

[2022-07-12 06:36] PyrateAkananto commented on #3041
In the settings of Chrome 103 (on Windows) I cannot find anything about local storage. I don't know how Chrome handles it currently.
In the site settings of Firefox 102 there are different settings for cookies and persistent storage (which I assume is local storage) for every website. In the generic settings there is only a single setting called "cookies and site data".
I did not experiment with t

[2022-07-12 14:35] eggplantzzz commented on #5214
I think we decided to do this, didn't we? Or maybe we decided to drop it for Truffle Boxes?

[2022-07-12 15:02] eggplantzzz commented on #3041
Makes sense. On searching the entire codebase it looks like there is no mention of `localStorage` with the one exception of a variable name in debugger's tests (which is entirely unrelated). I'll go ahead and assume this is no longer an issue and close this. If someone figures out otherwise then please let me know!

Thank you again @PyrateAkananto for submitting this and following up with me here

[2022-07-12 15:02] #3041 closed

[2022-07-12 16:27] forencen opened #5281 "truffle install error"
##  `npm install -g  truffle`, error logs:

<details><summary>Click for logs</summary>
<p>

[code]

</p>
</details>

## environment

new nvm environment;
[code]

how can I solve this problem? thank you for your help

[2022-07-12 17:35] haltman-at commented on #5214
Oh, OK, so there's still a bug here then, even without `Migrations`?

[2022-07-12 18:37] davidmurdoch opened #5282 "console.sol"
- [x] trufflesuite/ganache#3327
- [x] trufflesuite/truffle#5193
- [x] trufflesuite/truffle#5195
- [x] trufflesuite/trufflesuite.com#1267

[2022-07-12 21:51] nixorokish opened #5285 "Add GitPOAP bot"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Add in GitPOAP notification bot for new merged pull requests

## Steps to Reproduce

https://docs.gitpoap.io/github-bot

## Expected Behavior

Bot will comment on newly merged pull requests to inform contributors that they've earned a POAP a

[2022-07-13 01:48] lidaxuan commented on #2832
weishenmequanshiyngwen

[2022-07-13 07:59] cliffoo commented on #5020
Some updates on this issue as I work through [pull#5241](https://github.com/trufflesuite/truffle/pull/5241).

In fear of potential supply chain attack (no hard feelings to [lists.eth](https://github.com/ethereum-lists/chains) or [defillama](https://github.com/DefiLlama/chainlist)), I'd like the new Dashboard to minimize all network requests that are not strictly related to processing Dashboard mes

[2022-07-13 17:33] sukanyaparashar commented on #5281
Hi @forencen, thanks for raising this issue. Can you please downgrade your `node` version to **16** with `npm` version **6** and try to install truffle again with `npm install -g truffle`?

[2022-07-13 20:49] eggplantzzz commented on #5214
I'm not sure, @cds-amal you had some more information on this?

[2022-07-13 20:56] cds-amal commented on #5214
Yes, there's still an issue. I did a sanity check with @davidmurdoch and @gnidan. We observed that ganache  logs 2 `eth_estimateGas` per deployment. @gnidan's hunch is truffle-contract calls it once and web3 the second time.

You can set up a truffle project w/ one contract sans the migrations.sol it's associated migration file. In one terminal run `ganache --verbose` and in a second `truffle cons

[2022-07-14 06:42] BCEivan opened #5294 "Truffle installation Error"
[code]

[2022-07-14 06:44] BCEivan commented on #5294
how should i do with these problem, thx for helping in davance

[2022-07-14 11:34] zrock23 opened #5295 "There is a debugger error!? Needs an update!"
there is a debugger error!?

[code]

-----------------------------------------------------------------------------

it's the right record and the validation works...!

[code]

[2022-07-14 12:49] cds-amal commented on #5295
Hey @zrock23,

The `--url` and `--network` options are mutually exclusive here. Try using one option to see if it resolves the problem.

[2022-07-14 13:09] cds-amal commented on #5295
@zrock23, I notice the transaction hash is incorrect because it ends with non HEX digits (`sage`).  [There is a valid ropsten transaction hash without the suffix](https://asciinema.org/a/fdpUb5Ol11lxm1zV9XJDUBlcP).

[2022-07-14 13:20] zrock23 commented on #5295
thanks for the ideas i didn't notice some of the things, i'll try again!😀

[2022-07-14 16:03] eggplantzzz commented on #5294
Looks like there are some permissions errors, I would recommends re-installing Node and npm with a Node version manager like nvm and this is, in fact, what npm recommends. Usually this resolves these types of errors. See [this article from npm](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) for more information on doing this.

[2022-07-14 17:42] gnidan commented on #5295
let us know if you get this sorted out, please, @zrock23! thank you!

[2022-07-14 17:44] gnidan commented on #5295
oh wait there is likely more we could say here about getting `truffle debug` to work with ropsten... you'll have to run `ganache --fork=ropsten` and have truffle connect to that. I'll see if I can find somewhere where this process is documented.

[2022-07-14 18:01] davidmurdoch commented on #5285
@nixorokish this looks cool! I've added this to our issue backlog and internal discussion. Thanks for letting us know about it!

[2022-07-14 18:33] davidmurdoch opened #5296 "Use a `TruffleError` instead of `Error` error for options parsing errors"
See #5295 for additional context.

[2022-07-15 05:39] SmartArray opened #5297 "Empty error description when deploying a smart contract (Detailed trace)"
## Issue
When deploying a smart contract, sometimes we get a stack trace like
[code]

This is not very developer friendly and should be changed.

Fortunately, I was able to dig into the webpack-compiled bundles and take a look what's going on.

https://github.com/trufflesuite/truffle/blob/b9ed05e806b5de524cc1c5489cdd28e0fced573f/packages/deployer/src/sanitizeMessage.js#L6-L7

just tries to print t

[2022-07-15 10:37] Apdlrcjafg19 opened #5301 "4152313898563320"
https://github.com/trufflesuite/truffle/blob/b9ed05e806b5de524cc1c5489cdd28e0fced573f/CODEOWNERS#L6

[2022-07-15 14:04] #5301 closed

[2022-07-15 17:32] eggplantzzz opened #5305 "Installed Truffle not fully compatible with Node 18"
This issue is to keep track of some known issues with Truffle running in Node 18.

- when running `truffle develop`, I receive `Error: error:0308010C:digital envelope routines::unsupported` - this comes from ethereumjs-wallet and there is an open issue on that repo [here](https://github.com/ethereumjs/ethereumjs-wallet/issues/171)

[2022-07-15 17:32] eggplantzzz commented on #5305
https://github.com/ethereumjs/ethereumjs-wallet/issues/171

[2022-07-15 19:22] debo024 opened #5306 "How to deploy a smart contract on multiple networks and keeping the contract address same in all the networks?"
### Discussed in https://github.com/orgs/trufflesuite/discussions/5300

<div type='discussions-op-text'>

<sup>Originally posted by **debo024** July 15, 2022</sup>
How to deploy a smart contract on multiple networks and keeping the contract address same in all the networks? Please help me with this situation, if is there any way to do such .</div>

[2022-07-15 20:15] sukanyaparashar commented on #5268
I guess, according to @gnidan's suggestion, we should keep both the `contracts` and `migrations` folders empty on `truffle init`.

[2022-07-15 21:32] cliffoo commented on #5050
So this just happened to me on Truffle v5.5.20. I got similar error output as @emilyJLin95 shared.

I restarted `truffle dashboard`, hard-refreshed the page and it's back.

Doesn't seem like a frontend issue as the build is clearly there. Perhaps something is up with how the build is served by the dashboard server. I'll keep this in mind.

[2022-07-15 22:03] cliffoo opened #5311 "Cannot migrate in dashboard console"
## Steps to Reproduce

- Start dashboard: `truffle dashboard`
- In a truffle project, connect to dashboard console: `truffle console --network dashboard`
- In the dashboard console, run `migrate`
- Fail

## `migrate` in _console_ is broken but

`truffle migrate --network dashboard` works just fine 🤨

Other things work ok in console too, like `compile` and `SomeContract.new()`

## Which release int

[2022-07-15 22:09] cliffoo opened #5312 "`help` in Truffle console is not useful"
## Steps to Reproduce

- `truffle console`
- `help` in the Truffle console
- Get this:
[code]

## Expected Behavior

Give the same output as `truffle help`

[2022-07-15 22:12] cliffoo commented on #5186
Fixed in [pull#5266](https://github.com/trufflesuite/truffle/pull/5266) and in the [latest release v5.5.22](https://github.com/trufflesuite/truffle/releases/tag/v5.5.22). Thanks @agro1986 for opening this issue!

[2022-07-15 22:12] #5186 closed

[2022-07-15 22:15] cliffoo commented on #2894
[pull#5286](https://github.com/trufflesuite/truffle/pull/5286) is merged and made it to the [latest release v5.5.22](https://github.com/trufflesuite/truffle/releases/tag/v5.5.22). Not closing since feature is added to library, but not yet the CLI.

[2022-07-15 22:16] cliffoo commented on #3349
Fixed in [pull#5270](https://github.com/trufflesuite/truffle/pull/5270) and in the [latest release v5.5.22](https://github.com/trufflesuite/truffle/releases/tag/v5.5.22). Thanks @haltman-at!

[2022-07-15 22:16] #3349 closed

[2022-07-15 22:17] cliffoo commented on #5160
Fixed in [pull#5283](https://github.com/trufflesuite/truffle/pull/5283) and in the [latest release v5.5.22](https://github.com/trufflesuite/truffle/releases/tag/v5.5.22). Thanks @sukanyaparashar!

[2022-07-15 22:17] #5160 closed

[2022-07-15 22:18] cliffoo commented on #5260
Fixed in [pull#5261](https://github.com/trufflesuite/truffle/pull/5261) and in the [latest release v5.5.22](https://github.com/trufflesuite/truffle/releases/tag/v5.5.22). Thanks @wbt and @eggplantzzz!

[2022-07-15 22:18] #5260 closed

[2022-07-15 22:20] cliffoo commented on #5236
Fixed in [pull#5264](https://github.com/trufflesuite/truffle/pull/5264) and in the [latest release v5.5.22](https://github.com/trufflesuite/truffle/releases/tag/v5.5.22). Thanks @cds-amal!

[2022-07-15 22:20] #5236 closed

[2022-07-17 07:00] gnidan commented on #4439
@RatanRSur sorry I missed this. Our plans for implementing this fix rely on producing ABI JSON for the imported contract and generating Solidity `interface`s for the importer to use. Since Truffle currently uses the [my personal other] library [abi-to-sol](https://github.com/gnidan/abi-to-sol) for this purpose elsewhere in an experimental capacity (in Truffle, you can import `.abi.json` files dire

[2022-07-18 09:24] cds-amal opened #5316 "Webpack warning while testing @truffle/debugger"
There is a webpack error when [testing the debugger package](https://github.com/trufflesuite/truffle/runs/7364997126?check_suite_focus=true#step:8:3379).

[code]

Repro steps
 1. check out develop
 1. bootstrap
 1. cd packages/debugger ; yarn test
 1. check output for error

[2022-07-18 17:25] eberkeaydin opened #5319 "ReferenceError while migrate the contracts"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I got ReferenceError while I was trying migrate the contract.

I have got Wallet.sol for ERC20 wallet contract and Tokens.sol testing wallet with sample token with its constructor as :

[code]

2_wallet_migration.js:

[code]

3_tokens_migrat

[2022-07-18 17:43] haltman-at commented on #5319
The problem is here:

[code]

You named the variable `Migrations`, but then you tried to deploy `Wallet`.

Hope that helps!

[2022-07-18 23:08] haltman-at opened #5322 "Truffle DB has outdated version of `ts-node-dev`"
## Issue

The `@truffle/db` package currently uses `ts-node-dev` version `^1.0.0-pre.32`.  Yikes!  This is responsible for one of our dependabot alerts, namely, `trim-newlines`.  This package should be updated (or possibly just removed).  It does look to me like the latest version in the 1.x family would resolve in the alert, hopefully nothing should break on switching to that?

(...OK, OK, so the

[2022-07-19 00:04] haltman-at commented on #3824
Hey, what's this still doing open?  I'm going to close this and open a new issue for the CLI stuff.

[2022-07-19 00:04] #3824 closed

[2022-07-19 00:05] haltman-at opened #5323 "Debugger CLI should have event log"
## Issue

Now that #3824 is done and events are added to the txlog, there's still the task of adding an event log to the CLI (when you press `e`, say).

## Environment

* Truffle version (`truffle version`): 5.5.22

[2022-07-19 04:13] benjamincburns opened #5325 "Enhancement: Support user projects that make use of ES modules (aka EJS modules, ESMs, mjs files, and mts files)"
Currently Truffle only supports CommonJS modules for user code like migrations, tests, and exec scripts. EJS modules however are quickly becoming the way of the world. Several very popular node modules have converted over to EJS from CommonJS and won't be supporting CommonJS moving forward.

There are likely numerous things that need to be done to support this, and I think the NodeJS docs on the [

[2022-07-19 04:14] #5325 closed

[2022-07-19 04:14] benjamincburns commented on #5325
Closed as this accidentally duplicated #4328

[2022-07-19 04:17] benjamincburns commented on #4328
I ran into this while implementing TypeScript support for migrations.

There are likely numerous things that need to be done to support this, and I think the NodeJS docs on the [differences between ES modules and CommonJS](https://nodejs.org/api/esm.html#differences-between-es-modules-and-commonjs) are a good starting place to identify what needs to be done.

Proper ESM support will likely require

[2022-07-19 09:14] benjamincburns commented on #5020
Open question (no bias from me toward yes/no here) - if we're considering bundling the network list in with the dashboard that will mean that old versions will never "discover" new network configurations. Do we care about that? Perhaps we could make that JSON object something that could be fetched periodically?

[2022-07-19 12:51] cds-amal opened #5328 "@truffle/spinners package has no tests"
There should be tests in this package.

[2022-07-19 13:12] #5319 closed

[2022-07-19 14:45] Deepthitv commented on #4152
✓ Preparing to download box
✖ Downloading
Unbox failed!
Error: Truffle Box at URL https://github.com:chainskills/chainskills-box doesn't exist. If you believe this is an error, please contact Truffle support.
    at /usr/local/lib/node_modules/truffle/build/webpack:/packages/box/dist/lib/utils/unbox.js:43:1
    at Generator.throw (<anonymous>)
    at rejected (/usr/local/lib/node_modules/truffle/b

[2022-07-19 16:27] cliffoo commented on #4152
That url looks invalid: Try `truffle unbox chainskills/chainskills-box`

[2022-07-19 16:31] cliffoo commented on #3356
👋 啥问题，`truffle migrate` 报错是吗？你把报错的output贴一下，还有你的truffle config

[2022-07-19 17:05] cliffoo commented on #4152
Hey @Deepthitv, looks like [chainskills/chainskills-box](https://github.com/chainskills/chainskills-box) doesn't have a `truffle-box.json` file at the repo's root, which is what the `unbox` command uses to identify if the repo is indeed a Truffle box.

Give our [react box](https://github.com/truffle-box/react-box) a try?

[2022-07-19 17:36] Shivam-vishwakarma991 commented on #2711
Thankyou

[2022-07-19 22:13] shivammsingh commented on #4431
work also for me thanks  :)

[2022-07-19 22:28] eggplantzzz commented on #4431
Just for a little bit more context, `~/Library/Preferences/truffle-nodejs` is the folder in which Truffle stores user settings and, more importantly, the cache of Solidity compilers. I'm not sure why this would fix your issue but glad it resolved it!

[2022-07-20 14:26] Kipkurui-mutai commented on #5294
@eggplantzzz I had the same issue during installation. Used that code and it worked.

[2022-07-20 14:49] eggplantzzz commented on #5294
@Kipkurui-mutai are you sure it was the same? did it say "permission denied"?

[2022-07-20 16:04] jinxlo opened #5332 "Resolver cannot find `Timelock` contract"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I'm trying to run https://github.com/dappuniversity/governance However I keep running into this issue when I deploy the contracts

I'm running everything out the box without making any changes at all

~/Desktop/governance-master$ truffle mig

[2022-07-20 17:21] cliffoo commented on #5332
Hey @jinxlo thanks for opening this issue, it looks like the resolver cannot find the timelock contract. I followed the reproduction steps but I was actually able to get the contracts deployed successfully.

I guess you could check two things?
1. Did you modify the [dappuniversity/governance](https://github.com/dappuniversity/governance) repo after clone? Is the timelock contract actually there?
2

[2022-07-20 19:17] jinxlo commented on #5332
Hey thank you for your time on helping me solve this issue.

- [* ] 1. Did you modify the [dappuniversity/governance](https://github.com/dappuniversity/governance) repo after clone? Is the timelock contract actually there?
- No i did not modify the [dappuniversity/governance](https://github.com/dappuniversity/governance) repo and yes the timelock.sol is contract is there
- [ *] 2. Your npm version

[2022-07-20 19:30] #5332 closed

[2022-07-20 19:37] haltman-at opened #5334 "Debugger txlog should include raw data for external calls somehow"
## Issue

I recently added raw data for events in the txlog (#5324).  This suggests that the same should happen for calls and returns (presumably just external calls/returns, the idea doesn't make a lot of sense for internal calls and returns).

How this would work would have to be figured out, though.  For calls it makes sense to attach it to the `callexternal` action.  But what about for returns

[2022-07-20 19:38] cliffoo commented on #5332
Hm weird not sure why you had to manually rename it, the lower|upper case should be consistent. It migrated fine for me without changing anything.

Anyway glad it's resolved for you! Cheers.

[2022-07-21 03:22] benjamincburns opened #5335 "Enhancement: support error chaining in @truffle/error"
As of node v14.0.0 the `Error` type supports error chaining by passing an [optional second argument of type `{ cause: any }` to the constructor of `Error`](https://tc39.es/ecma262/multipage/fundamental-objects.html#sec-error-message), with the value of that `cause` property appearing as the value of the [`cause` property on the resulting `Error` instance](https://developer.mozilla.org/en-US/docs/W

[2022-07-21 03:30] Kipkurui-mutai commented on #5294
@eggplantzzz mine was on windows, this one is probably on mac

[2022-07-21 03:38] TheCodeInjection opened #5337 "truffle installation error"
![instessss](https://user-images.githubusercontent.com/97714325/180124802-b197bc03-4f7f-47b4-9666-205683503e9f.PNG)
idk whats the problem...

[2022-07-21 03:44] molecula451 commented on #5337
there is no issue here so far, truffle should be already installed, you may ignore these npm warning but you can still use truffle run a command <code> npx truffle --help </code>

[2022-07-21 03:44] benjamincburns commented on #5337
@TheCodeInjection I don't see any error in the screenshot that you posted. In the future please copy and paste the actual error text into the issue, and please be sure to follow the issue template when reporting a problem.

[2022-07-21 03:45] benjamincburns commented on #5337
Closing this as there isn't enough information here to solve your problem. Please open a new issue with the information requested if you are still having an issue.

[2022-07-21 03:45] #5337 closed

[2022-07-21 17:46] haltman-at commented on #5305
Note: This issue is closely related to #5203.  It's distinct in that this one is about *running* Truffle rather than *installing* it.

[2022-07-21 17:46] haltman-at commented on #5203
See also #5305.

[2022-07-21 17:52] eggplantzzz commented on #5306
Closing as a duplicate of #5141

[2022-07-21 17:52] #5306 closed

[2022-07-21 18:03] eggplantzzz commented on #5322
After a small bit of discussion, we decided that we can replace this package with `ts-node`. We might need to update some of the scripts as a part of this task.

[2022-07-21 18:19] eggplantzzz commented on #5335
According to [Node.green](https://node.green/#ES2022-features-Error-cause-property-Error-has-cause) this feature is supported from Node 16 on.

[2022-07-21 18:54] haltman-at commented on #4594
This is happening again, reopening.  (Really this has been happening again for a while, but I didn't think to reopen this until now...)

[2022-07-22 01:01] fainashalts commented on #5203
Moving DB to its own repo, like preserves, seems reasonable to me. We can always move it back when it is being actively worked on. Or develop it as a plug-in instead perhaps.

[2022-07-22 02:31] sukanyaparashar commented on #5268
Should we also include a `package.json` having a dependency of `dotenv` package with `truffle init`, so that the users get a complete development environment to start with? And we can give examples of the environment variables being imported to `truffle-config.js`. Any thoughts on this?

[2022-07-22 04:32] arjunpat commented on #3777
Same issue

[2022-07-22 05:25] benjamincburns commented on #5202
Just had some tests hang on this build: https://github.com/trufflesuite/truffle/actions/runs/2716306424

I strongly suspect that a lot of our test flakiness is due to the slowness of box retrieval. We should probably make an effort to remove as many box downloads as possible from our scenario test suite.

[2022-07-22 05:32] benjamincburns commented on #5202
I've also seen a handful of transient build failures recently due to HTTP errors while fetching packages from NPM.

[2022-07-22 05:37] benjamincburns opened #5345 "Internal enhancement: implement JUnit test reporting so we can treat our test runs as data"
We have an issue open (#5202) in which we'd like to audit and fix our flaky tests. Unfortunately, our current tooling doesn't make this an easy job, as we don't have a good source of historical data on which tests are flaky (failing on one build, then succeeding on another build of the same commit).

To get this historical data we'd need to collect all of our stored logs from GitHub Actions and pa

[2022-07-22 05:38] benjamincburns commented on #5202
I created #5345 to account for this

[2022-07-22 05:44] benjamincburns commented on #5345
Also likely useful: GH Action that detects flaky tests from junit and xunit test report output: https://github.com/F-Secure/flaky-tests-detection based on _[Modeling and Ranking Flaky Tests at Apple](["Modeling and ranking flaky tests at Apple"](https://dl.acm.org/doi/10.1145/3377813.3381370))_ by by Kowalczyk, Emily & Nair, Karan & Gao, Zebao & Silberstein, Leo & Long, Teng & Memon, Atif.

[2022-07-22 17:43] cds-amal opened #5347 "Sync our tools and docs with upcoming merge"
Truffle tools and docs should reflect upcoming changes to test networks.

Three [testnets scheduled to be shutdown in the near future](https://blog.ethereum.org/2022/06/21/testnet-deprecation/). Rinkeby (Q2/Q3 2023), Ropsten (Q4 2022), and Kiln (Q3/Q4 2022).
 - truffle scaffolding
 - ganache zero config forking
 - truffle website docs
 - Boxes will have to be audited to be deprecated? or updated a

[2022-07-23 11:22] ZEINO2022 commented on #5345
It was just a test, I'm trying to develop some programs like remix

[2022-07-23 11:23] ZEINO2022 commented on #5345
It was just a test, I'm trying to develop some programs like remix

[2022-07-23 15:10] yahyeShorie opened #5354 "Error: error:0308010C:digital envelope routines::unsupported"
## I'm using truffle and ropsten  network to deploy smart contract with testnet. when i configure truffle-config.js and run truffle deploy --network ropsten i found this error.

Compiling your contracts...
===========================

Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:67:19)
    at Object.createHash (node:crypto:133:10)
    at h

[2022-07-23 22:02] cliffoo commented on #5354
Hey @yahyeShorie, thanks for opening this. There is an [open issue](https://github.com/trufflesuite/truffle/issues/5305) on node 18 support (which Truffle is actively working towards but doesn't currently have). Could you try downgrading to node 16 and give it another try? Thanks.

[2022-07-24 12:50] majorisgit opened #5355 "npm i @truffle/hdwallet-provider failing"
D:\Crypto\Project\rinkeby-faucet>npm i @truffle/hdwallet-provider
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno -4058
npm ERR! enoent An unknown git error occurred
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\user\AppData\Local\npm-cache\_logs\2022

[2022-07-24 13:28] majorisgit commented on #5355
Issue was with git.

[2022-07-24 13:28] #5355 closed

[2022-07-24 17:50] yahyeShorie commented on #5354
Thanks. I will try it.

On Sun, 24 Jul 2022, 01:02 Cliff Zhang, ***@***.***> wrote:

[2022-07-25 12:48] edugrip commented on #3728
after many years of experience, to me,  it turns out that using solc is a
far better choice :)

On Sun, 10 Jul 2022 at 18:17, Abhinav Sharma ***@***.***>
wrote:

[2022-07-25 16:21] safeparadise commented on #4700
oh yeah  I changed my network to  vEthernet(WSL) is worked.how can? go to **ganache ->settings->server** and change the hostname to vEthernet(WSL) and next got to your project and change the file **truffle-config.js** and change the
[code]
like this.beacause the vEthernet ip is 172.23.112.1 , I put it for the people may not found how to fix it.

[2022-07-26 19:15] cliffoo commented on #5120
This issue still exists on the new dashboard, so it may be a Metamask issue, specifically an optimism kovan rpc url problem (I'm pointing at https://kovan.optimism.io) Maybe that endpoint isn't giving Metamask enough gas-related info?

[2022-07-26 19:16] emilyJLin95 commented on #5120
@cliffoo I think Optimistic Kovan is deprecated. You should be using goerli instead (https://dev.optimism.io/kovan-to-goerli/)

[2022-07-26 19:17] emilyJLin95 commented on #5120
@cliffoo separate to this, optimistic kovan has been deprecated in favor of goerli (https://dev.optimism.io/kovan-to-goerli/)

My suspicion before was that it was a MetaMask issue - perhaps it's not possible with self-added networks?

[2022-07-26 19:22] cliffoo commented on #5120
Oh I see. Yea that's not a limitation: It is possible with self-added networks. Actually I just tested on optimism goerli (I pointed it at https://goerli.optimism.io) and it lets me edit gas!

[2022-07-26 19:25] cliffoo commented on #5120
Closing as it's resolved and not specific to Truffle.

[2022-07-26 19:25] #5120 closed

[2022-07-26 19:34] cliffoo commented on #5312
Related to [issue#2041](https://github.com/trufflesuite/truffle/issues/2041)

[2022-07-26 19:56] haltman-at commented on #5297
Hm, when I try this I'm seeing the error message just fine.  Could you give more detailed reproduction steps?  Thanks!

[2022-07-26 21:08] sukanyaparashar opened #5360 "Some files in truffle package need to exclude the use of prettier in git commits"
## Issue
Truffle uses `prettier` for consistent code style across the whole codebase. But there may be some files that need to exclude the use of `prettier` in the git commits. For example, `truffle-config.js` in `packages/core/lib/commands/init/initSource` has few trailing commas that are needed, which are automatically removed by `prettier` once that file is committed. We generally use `--no-ver

[2022-07-27 02:28] benjamincburns commented on #5335
Ah you're correct. Since 16.9.0 [according to MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/Error#browser_compatibility). I'm not sure where I got v14 from... 🤔

Regardless, there's a nice polyfill for it in [`core-js`](https://github.com/zloirock/core-js#ecmascript-error), so we should be able to use it on all node versions.

[2022-07-27 10:52] benjamincburns commented on #5202
Flaky test:

[code]

[2022-07-28 03:15] benjamincburns opened #5366 "Error reporting to analytics looks to be woefully broken"
## Issue

While working on #5335, I noticed [a chunk of code in `cli.js`](https://github.com/trufflesuite/truffle/blob/ad74c8e47ed19303be050dc18e74bcc9137c1283/packages/core/cli.js#L90-L115) that looks to be reporting error statistics back to our opt-in analytics suite. Unfortunately, I think that code is rather broken.

- Nothing actually throws `TaskError`
- There are no child classes of `TaskEr

[2022-07-28 04:33] benjamincburns opened #5368 "Enhancement: Automatically include correct global types for TypeScript scripts (migrations, tests, exec scripts, etc) when using Truffle VSCode plugin"
## Enhancement

Much of the value of TypeScript comes at editing time, when the developer can write code with the benefit of inline type hints, typedoc, etc. In order to enable this value for our users, the VSCode plugin should detect when a developer is editing a TypeScript file and apply the appropriate global types to the language server instance.

[2022-07-28 05:06] benjamincburns opened #5369 "Enhancement: Provide a TypeScript-enabled version of `truffle init`"
With all of the TypeScript enhancements coming via epic #5194, we should make a TypeScript-friendly version of our default truffle box.

Loose requirements:

- [ ] `truffle init --typescript` creates a new project with TypeScript files instead of JavaScript
- [ ] includes `tsconfig.json` that assigns correct global types for each project area (migrations, tests, exec scripts, etc)

[2022-07-28 05:08] benjamincburns commented on #4587
This ticket seems to duplicate #3467, so I'm going to close it in favour of that one. I'll do my best to capture any details here that aren't already covered by that issue.

By way of status report, #5222 was merged last week, and it will go out with the next Truffle release. That PR contains the core changes necessary to support TypeScript migrations, but I'd consider this as being an initial "be

[2022-07-28 05:08] #4587 closed

[2022-07-28 05:33] benjamincburns opened #5370 "Enhancement: Fully typed @truffle/contract instances"
If we're gonna support TypeScript for smart contract dev, we should really have properly typed `@truffle/contract` instances.

## Challenges

This is going to be challenging for a number of reasons, so I'm going to say up front here that we won't be making "perfect" the enemy of "good enough."

For example, smart contract method overloading works differently from TS/JS method overloading, and ther

[2022-07-28 05:35] benjamincburns commented on #5370
#4825 and #5124 look to be relevant

[2022-07-28 05:45] benjamincburns commented on #3467
#5222 was merged last week, and it will go out with the next Truffle release. That PR contains the core changes necessary to support TypeScript migrations, but I'd consider this as being an initial "beta" feature. We are still working on fleshing out the other details of the feature, including docs (trufflesuite/trufflesuite.com#1276), VSCode integration (#5368) and initial TypeScript migrations w

[2022-07-28 05:51] benjamincburns commented on #4825
@wbt I'm really sorry about the experience that you've been having here with `@truffle/contract` and TypeScript. You may want to follow #5370 for updates on improvements, as well as the issues linked to the wider TypeScript support epic, #5194.

TypeScript support is now my primary focus. If you're willing, I'd be very appreciative if you could chime in on those issues to share your experiences an

[2022-07-28 06:13] benjamincburns opened #5371 "Enhancement: Support TypeScript `@truffle/config`"
If we're to have _full_ support for TypeScript in Truffle, we should allow users to specify their `truffle-config.js` files as `truffle-config.ts` files, with appropriate typing.

[2022-07-28 06:17] benjamincburns commented on #5371
## Note for internal backlog review call

I'm leaving this one in "New Issues" pipeline for now, as I don't want to decide unilaterally that we should add this feature given other potentially more fundamental changes to truffle config that are being discussed internally.

That said, I think any such fundamental changes to `@truffle/config` will take a significant amount of time to complete, so it

[2022-07-28 07:33] xkazm04 commented on #3083
not sure if helpful, but for example in Hardhat this error occurs while running .sol contract instead of .js deployment script

`npx hardhat run contracts/Token.sol --network rinkeby`

[2022-07-28 08:37] mipicdev commented on #5297
I had the same issue when executing `truffle test --network=test`.

This error occurred because I had forgotten to add the condition `network === "test"` to the corresponding migration file:

[code]

[2022-07-28 12:43] krzkaczor commented on #5370
@benjamincburns thanks for tagging me. Just to put it out there, we do have Truffle v5 support in TypeChain already: https://github.com/dethcrypto/TypeChain/tree/master/examples/truffle-v5

It's not perfect, AFAIR migrations need to be transpiled but still, I think it's pretty good ;)

[2022-07-28 14:36] dongmingh commented on #5200
Closing for Issue Maintenance.

[2022-07-28 14:36] #5200 closed

[2022-07-28 14:40] #5189 closed

[2022-07-28 14:48] dongmingh commented on #5219
Hi, @sarthak550 we will close this issue for issue maintenance.  If you have any further questions, please open a new issue. Thanks.

[2022-07-28 14:48] #5219 closed

[2022-07-28 18:10] davidmurdoch commented on #5285
@nixorokish does the bot comment for _every_ PR from a contributor or only their first contribution for the year?

[2022-07-28 18:16] davidmurdoch commented on #5305
Closing in favor of #5203

[2022-07-28 18:16] #5305 closed

[2022-07-28 18:46] nixorokish commented on #5285
@davidmurdoch just double-confirmed with our guy who wrote the bot and with previous interactions - only one comment per year, per user. It only comments when the PR made the user newly eligible for a GitPOAP :)

[2022-07-28 20:02] haltman-at opened #5374 "Contract instances should have `instance.estimateGas` (and probably `instance.call`) similar to `instance.sendTransaction`"
## Issue

Truffle Contract instances let you do `instance.sendTransaction({...})` to easily send an arbitrary transaction to the instance; this is useful, for instance, for deliberately invoking the contract's fallback or receive functions.  However there's no corresponding `instance.estimateGas({...})` for if you just want a gas estimate.  There's also no `instance.call({...})`, although it's not

[2022-07-28 21:06] fainashalts commented on #5366
I wrote the analytics code nearly 4 years ago (!), and it definitely worked when implemented, in that errors were reported to analytics for users that opted in. @benjamincburns I'm not clear from your description whether Google Analytics isn't getting the error reports, or the error handling is wrong altogether in `cli.js`. Can you clarify which you mean?

If I recall correctly, I didn't change an

[2022-07-28 23:57] benjamincburns commented on #5366
No worries, @fainashalts - this is definitely an issue of code rot.

Just to be clear, I think the reporting transport probably still works just fine, it's just that the statistics will be skewed at the moment due to the meaning of the error types having changed.

[2022-07-29 01:02] benjamincburns commented on #5370
That'll change as of tomorrow's release now that #5222 is merged.

Yep, it's really great work that you've done with TypeChain and co, @krzkaczor. We're looking to make typed contracts much more of a seamless, first-class experience than they are today, and the fact that you've got a straightforward mechanism for Truffle contract type generation is really appealing.

I can't say for certain yet th

[2022-07-29 21:14] CruzMolina commented on #4431
Hi @eggplantzzz !

A colleague ran into this issue today and [this](https://github.com/trufflesuite/truffle/issues/4431#issuecomment-1108053572) ended up being the solution.

My hunch is that `truffle` was trying to read from the cache and needing `sudo` privileges to do so.

cc @gnidan @cds-amal

[2022-07-29 21:15] CruzMolina commented on #4597
In case anyone else is still running into this issue, [this](https://github.com/trufflesuite/truffle/issues/4431#issuecomment-1108053572) might help.

[2022-07-30 02:38] cds-amal commented on #5297
@SmartArray, closing as this should be fixed in [Truffle v5.5.24](https://github.com/trufflesuite/truffle/releases/tag/v5.5.24). Kindly let me know if it isn't.

[2022-07-30 02:38] #5297 closed

[2022-08-01 05:20] benjamincburns opened #5381 "Bug: `@truffle/require` not able to resolve locally-installed modules (e.g. `ts-node`, `typescript`) when running under the globally-installed truffle bundle"
## Issue

When testing TypeScript migrations under the latest Truffle release, we observe `@truffle/require` fails to resolve `ts-node`, `typescript`, or other locally-installed modules when attempting to run TypeScript modules.

## Steps to Reproduce

**Important Note:** This issue does not reproduce when running truffle from the local dev environment (either via `cli.js` or the webpack bundle).

[2022-08-01 05:27] benjamincburns commented on #5381
Note that when I attempt to work around the issue by installing `ts-node` and `typescript` globally, it will then fail on a missing `@truffle/resolver` package. It _should_ be resolving this from the bundle, but that doesn't seem to be happening. That said, if I go ahead and install that package (globally - yuck), it does work.

[2022-08-01 06:08] benjamincburns commented on #5381
Note: the simplest workaround that I've found so far is to install truffle locally and run it from `node_modules/.bin/truffle` or via the `npx` or `yarn exec` commands.

[2022-08-01 18:24] cds-amal commented on #3467
Sorry for the confusing status @paulrberg. Truffle `v5.5.24` did not completely implement this feature, but is an important first step towards this feature. Please follow #5381 for updates.

[2022-08-03 05:48] benjamincburns commented on #3467
I think this issue can still be closed @cds-amal. The wider feature is tracked by epic #5194, and as you mentioned, the bug in release v5.5.24 is tracked by #5381.

Note that until #5381 is fixed, the issue can be worked around by installing `truffle@5.5.24` as a local dependency, and executing it using `npx` or `yarn exec`.

[2022-08-03 13:56] revoltez commented on #2631
i changed the ownership of ~/.config/truffle-nodejs and it worked
chown userName -R ~/.config/truffle-nodejs
in my case the problem was that the file was locked to use only by root even though i never installed truffle using sudo

[2022-08-03 13:56] revoltez commented on #4431
i changed the ownership of ~/.config/truffle-nodejs and it worked
chown userName -R ~/.config/truffle-nodejs
in my case the problem was that the file was locked to use only by root even though i never installed truffle using sudo

[2022-08-03 16:58] cds-amal commented on #4431
Hi @CruzMolina !

Your hunch is correct. We've seen this with *nix systems  due to root privileges unnecessarily applied. For example, using sudo with node package managers or npm.

[2022-08-03 17:03] cds-amal commented on #4431
Truffle would use the privileges it inherited from the shell. I recommend you use [npm doctor](https://docs.npmjs.com/cli/v6/commands/npm-doctor) to verify its basic requirements are met.

[2022-08-03 21:33] Kaleb47 opened #5390 "Can't deploy smart contracts to Rinkeby"
### Description

I have altered my `truffle-config.js` like so,

[code]

I ran the following command ```truffle console --network rinkeby```

I received this error:
[code]

[2022-08-03 21:41] sukanyaparashar commented on #5390
Hi @Kaleb47. The `network_id` specified in your `truffle-config.js` under `rinkeby` network is **3**, which should be **4** for `rinkeby` network. Please let us know if that resolves your issue. Thanks for raising this.

[2022-08-03 22:25] BilliDaGOAT commented on #5390
i changed it to 4. but I have another issue.

[code]

[2022-08-03 22:32] sukanyaparashar commented on #5390
Hi @BilliDaGOAT. Thanks for posting this. We are currently working on fixing this issue and we will let you know as soon as it is resolved.

[2022-08-03 22:49] sukanyaparashar commented on #5311
Hey @cliffoo. Thanks for raising this. This is a known issue for the `truffle console` and `truffle develop` with `dashboard` and public testnets. This PR #5329 is currently up for resolving this.

[2022-08-03 23:04] benjamincburns commented on #3467
After a bit of internal discussion I too think this should remain open for the reasons @cds-amal mentioned. For others looking for this feature, please check related issues in ZenHub epic #5194 for progress updates. In the meantime this issue will remain open until those items are complete.

[2022-08-04 14:06] cds-amal commented on #5254
Closing for issue maintenance. Thanks!

[2022-08-04 14:06] #5254 closed

[2022-08-04 14:23] cds-amal commented on #5152
Hey @mmichaud93, @Afrahdev - I'm closing this for issue maintenance. Please comment if you have any information to share, and we'll reopen.

[2022-08-04 14:23] #5152 closed

[2022-08-04 14:26] cds-amal commented on #5295
Hi @zrock23, is this still an issue?

[2022-08-04 16:52] cds-amal commented on #5084
I'm closing this for issue maintenance @bruck93. If you can share any information, please feel free to comment, and we'll re-open. Thanks!

[2022-08-04 16:52] #5084 closed

[2022-08-04 16:54] cds-amal commented on #5354
@yahyeShorie, did you have any luck downgrading Node?

[2022-08-04 17:48] cds-amal commented on #5285
Seems like we should move forward with this!

[2022-08-04 18:04] cds-amal commented on #3860
Truffle React box has been updated and should resolve these issues. I'm closing this issue, but feel free to comment if it is still a problem for you.

[2022-08-04 18:04] #3860 closed

[2022-08-04 18:09] cds-amal commented on #3710
Hey everyone, can you try using latest truffle and let us know if you're still experiencing issues.

[2022-08-04 21:46] haltman-at commented on #3649
Hm, it can't be that -- all of these start with the delegatecall guard; that's only used in deployed bytecode for libraries.  So these can't be constructor bytecode.

[2022-08-04 22:29] haltman-at commented on #3649
@Aleione I'm trying to reproduce this problem, but I can't seem to clone the repo; I'm getting a permission denied error.  How can I clone your repo?

[2022-08-04 23:05] haltman-at commented on #3649
@Aleione OK, I just downloaded it as a zip file instead.  Problem is, neither `yarn truffle compile` nor `yarn hardhat compile` seem to do anything.  Do I need to use an older commit or something?  Thank you!

[2022-08-05 01:01] haltman-at commented on #5334
(The call data part of this is now done; see #5391 for more details.)

[2022-08-05 01:04] haltman-at commented on #5390
This should be fixed in the latest Truffle release (5.5.25), so I'm closing this.  Thanks for bringing this up!

[2022-08-05 01:04] #5390 closed

[2022-08-05 01:04] haltman-at commented on #5311
This should be fixed in the latest Truffle release (5.5.25), so I'm closing this.  Obviously go ahead and reopen this if there's still a problem!

[2022-08-05 01:04] #5311 closed

[2022-08-05 01:05] haltman-at commented on #4654
Hooray, this is done!

[2022-08-05 01:05] #4654 closed

[2022-08-05 04:57] benjamincburns commented on #5202
Flaky test:

[code]
https://github.com/trufflesuite/truffle/runs/7685133626?check_suite_focus=true

[2022-08-05 04:58] benjamincburns commented on #5202
Flaky test:

[code]
https://github.com/trufflesuite/truffle/runs/7685126493?check_suite_focus=true

[2022-08-05 09:58] Haianh9999 opened #5403 "On android react native bug invalid integer"
When importing truffle/hdwallet-provider I get an error invalid integer on android but ios work fine
- @truffle/hdwallet-provider(2.0.13)
- Node version (16.15.0)

[2022-08-06 00:36] haltman-at commented on #4779
Btw, here are the issues I've filed with Blocksout:
1. https://github.com/blockscout/blockscout/issues/5746
2. https://github.com/blockscout/blockscout/issues/5747
3. https://github.com/blockscout/blockscout/issues/5748
4. https://github.com/blockscout/blockscout/issues/5749

[2022-08-06 02:18] cds-amal opened #5409 "Javascript's console.log doesn't work in develop REPL"
This seems to have happened sometime after v5.5.22. Note, if you try to install v5.5.22 it would not be the same because of caret/semver resolution.

[code]

## Reproduction steps

- `truffle develop`
- try to use console.log

[2022-08-06 10:49] cds-amal commented on #5409
doh! Turned out to be a contract name collision!

[2022-08-06 10:49] #5409 closed

[2022-08-07 07:39] cliffoo commented on #5403
Hey @Haianh9999 thanks for opening this. Could you share the full error message? Also, do you have some reproduction steps (RN / expo CLI? Anything other than installing and importing hdwallet-provider?) that we can follow to help you debug? A repo would work!

[2022-08-07 07:42] Haianh9999 commented on #5403
@cliffoo error message is invalid integer 0x420000000. I’ve been install @truffle/hd-walletprovider then import this. When restart app i catch the error on android

[2022-08-07 07:53] cliffoo commented on #5403
Could you share the full error message with stacktrace please? That would help us in trying to pinpoint where the error is coming from. Thanks.

[2022-08-07 07:55] Haianh9999 commented on #5403
@cliffoo Sorry i only see error: INVALID INTEGER 0x4200000

[2022-08-07 08:01] cliffoo commented on #5403
Okay. Are you using expo or react native CLI? And what version of hdwallet-provider are you using? If it's not the latest version `2.0.13`, could you try installing `@truffle/hdwallet-provider@latest` and see if there's still problems?

[2022-08-07 08:04] Haianh9999 commented on #5403
@cliffoo i use react-native cli. Version off @truffle/hdwallet-provider is latest version. I still got the error INVALID INTEGER on android, ios work normally

[2022-08-08 03:00] Haianh9999 commented on #5403
@cliffoo Could you help me to solve this problem?

[2022-08-08 06:11] cliffoo commented on #5403
I'm actually getting import errors related to hdwallet-provider's dependencies, not the invalid integer error you're getting... I guess there are two things you can do:
1. Are you sure there's no more to the error message than `INVALID INTEGER ...`? When you're running the app and something goes wrong, the metro server should complain with meaningful error messages.
2. Can you create a minimum RN

[2022-08-08 06:28] Haianh9999 commented on #5403
@cliffoo Sorry I investigated and know the error is with other library not @truffle/hdwallet-provider. Thank you for your help 🙇

[2022-08-08 18:19] gnidan commented on #4261
@haltman-at can you please summarize? That PR is a bit hard to catch up on

[2022-08-08 19:41] haltman-at commented on #4261
Basically, the thing there is that when the compiler supplier retries, it's not retrying with the same URL but with a different one.  That likely makes something like `axios-retry` inappropriate, since the point of that is to perform appropriate backoff when retrying against the same server.

[2022-08-08 19:45] eggplantzzz commented on #4261
So basically the whole flow needs to be retried which entails getting the list of available versions for the source, finding the correct one (if available), and then fetching it.

[2022-08-08 22:40] gnidan commented on #4261
Is it no longer true that the CompilerSupplier does too much manual retry logic? It sounds like the amount of retry logic is still too much.

Ah but this issue is specifically about moving to axios-retry or some other automated retry mechanism... and I concur that that's probably not feasible, considering the necessary behavior. Bam, I love using the close-button dropdown!

[2022-08-08 22:40] #4261 closed

[2022-08-09 01:00] CleoPatra2772 opened #5414 "Getting Errors on running truffle command: Cannot find module '@truffle/db-loader'"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------
I had several problems when downloading truffle -g. I had Error: EACCES: permission denied error. On my final attempt, I used  sudo chown -R $USER /usr/local/lib/node_modules, and was able to download it successfully.

## Issue

After downloaded Truffl

[2022-08-09 14:45] eggplantzzz commented on #5414
Oh yeah, don't use `sudo` when installing Truffle. The best thing to do is re-install npm and Node using a Node version manager which is what npm recommends. This resolves these types of permissions errors. Using `sudo` can cause problems later on down the line and it is likely that is what you are experiencing here. Check out this article from npm which elaborates a bit more on using nvm. https:/

[2022-08-09 14:52] cliffoo commented on #1668
Closing. See https://github.com/trufflesuite/truffle/pull/5283

[2022-08-09 14:52] #1668 closed

[2022-08-10 03:14] benjamincburns opened #5419 "No source for EVM bytecode in many of our tests"
## Issue

In reviewing #5408 I observed that it's apparently common practice in our test suite to generate EVM bytecode for testing something, but not document or otherwise check-in the source and/or a script or repeatable steps for building said bytecode from said missing source code. Usually said bytecode is included as a const hex string in the test source.

Tests that do this are very expensiv

[2022-08-10 10:37] CleoPatra2772 commented on #5414
I re-installed npm and Node.js. I was able to download truffle globally. But then, when I tried to run "truffle compile", I get the "zsh: command not found: truffle" error

[2022-08-10 10:46] cds-amal commented on #5414
Since you're still having issues, can you try using the `npm doctor` diagnostic command? It is a good way to check the status of your node/npm setup.

:thinking: Do you mean you installed truffle globally with npm? Can you share the output if is the case?

[2022-08-10 10:58] hackvick commented on #3728
Don't do anything just update the truffle
Your error will be removed🥇

[2022-08-10 13:00] benjamincburns opened #5421 "Typedoc missing on numerous types in @truffle/db"
When I run `typedoc@0.22.18` in the `@truffle/db` package, it gives me the following warnings.

Note that these are valid warnings, but to avoid dropping a pile of new warnings into the db build I've disabled these warnings in the PR that updates to this version of `typedoc`. As a result, please be sure to remove the `validation: { notExported: false }` config from the `typedoc` config in `package

[2022-08-10 13:01] benjamincburns opened #5422 "Typedoc missing on numerous types in @truffle/db-kit"
When I run `typedoc@0.22.18` in the `@truffle/db-kit` package, it gives me the following warnings.

Note that these are valid warnings, but to avoid dropping a pile of new warnings into the db build I've disabled these warnings in the PR that updates to this version of `typedoc`. As a result, please be sure to remove the `validation: { notExported: false }` config from the `typedoc` config in `pac

[2022-08-10 13:49] CleoPatra2772 commented on #5414
Yea, I was able to install -g truffle without Error: EACCES:, When I run the command like `truffle compile`, I get `zsh: command not found: truffle `

But when I ran `npx truffle compile`, it worked. so hooray! I can finally work on my project

[2022-08-10 13:49] #5414 closed

[2022-08-11 04:29] fainashalts commented on #5403
Thanks for the update @Haianh9999! I'll close this issue for maintenance but please open a new issue if you encounter any problems using Truffle!

[2022-08-11 04:29] #5403 closed

[2022-08-11 06:45] CleoPatra2772 opened #5427 "ReferenceError: artifacts is not defined"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
Trying to deploy my contracts, but gets `ReferenceError: artifacts is not defined`

## Steps to Reproduce
Here is what it looks like :
[code]

## What each contract looks like --
Tether:
[code]

RWD:

[code]
DecentralBank:

[code]
This is ini

[2022-08-11 11:20] cds-amal commented on #5427
Hi @CleoPatra2772, you are using an outdated Truffle version. Can you upgrade and see if it resolves your issue? To upgrade: `npm -g uninstall truffle && npm -g install truffle`. Thanks!

[2022-08-11 13:51] CleoPatra2772 commented on #5427
Yep. It seems to be the problem. thanks !

[2022-08-11 13:51] #5427 closed

[2022-08-11 13:55] cds-amal commented on #5281
Closing for issue maintenance.

[2022-08-11 13:55] #5281 closed

[2022-08-11 14:09] cliffoo commented on #4158
Looks like this should be closed but slipped by! Thanks @paimon0715 for bringing this up

[2022-08-11 14:09] #4158 closed

[2022-08-11 16:33] kevinbluer commented on #5065
Heads up that this is addressed in https://github.com/trufflesuite/truffle/pull/5407 👌

[2022-08-11 17:52] eggplantzzz commented on #3710
Closing for issue maintenance.

[2022-08-11 17:52] #3710 closed

[2022-08-11 17:55] gnidan opened #5429 "test"

[2022-08-11 18:06] eggplantzzz commented on #1206
Closing this as a won't implement. We decided that the overhead of a new dep isn't worth the value provided.

[2022-08-11 18:07] #1206 closed

[2022-08-11 18:10] eggplantzzz commented on #1557
Closing as there is nothing actionable.

[2022-08-11 18:10] #1557 closed

[2022-08-11 18:13] eggplantzzz commented on #1584
This issue is quite old, can anyone confirm that this is still an issue with the latest version of Truffle?

[2022-08-11 18:18] eggplantzzz commented on #1585
Closing this as we no longer require a separate script tag to load web3.

[2022-08-11 18:18] #1585 closed

[2022-08-11 18:22] eggplantzzz commented on #1587
Closing this as it appears to no longer be relevant. @wbt let me know if you disagree and there is something actionable here! Thanks!

[2022-08-11 18:22] #1587 closed

[2022-08-11 18:34] wbt commented on #1584
I vaguely recall seeing it recently, but don't recall if that was with the latest version.

[2022-08-11 18:39] wbt commented on #1587
The links and docs are still there, though it's now @truffle/contract.  However, [this comment](https://github.com/trufflesuite/truffle/issues/1587#issuecomment-483363758) seems to explain it, that the `contract` package simply is at a different major version number than the main Truffle package.

Adding some documentation somewhere (ideally automatically generated) which shows which version of @t

[2022-08-12 12:59] fw-aaron commented on #1584
I just started a new docker container (to ensure I was working from a clean environment) and installed `truffle`. I don't see any errors. `npm ls` shows that `@ethersproject/keccak256@5.6.1`, `keccak@3.0.2`, and `keccak@3.0.1` are installed. Dockerfile:

[code]

Hopefully this is helpful. Godspeed.

[2022-08-12 18:20] haltman-at commented on #5374
A note, this issue arose out of discussion #5353.

[2022-08-13 20:23] InfectedIsm commented on #3780
@rchrdw could you provide more details about your workaround ? I face the same issue and I don't know how to implement your solution (wihch http provider ? which websocket provider ?)
Are you talking about infura or something like that ? So you do this on a testnet ?

[2022-08-14 00:09] cds-amal commented on #3780
@InfectedIsm, [Truffle v5.5.26](https://github.com/trufflesuite/truffle/releases/tag/v5.5.26) includes [a change](https://github.com/trufflesuite/truffle/pull/5407) that should speed up tests. Can you upgrade your truffle version and let me know if your issue is resolved?

[2022-08-14 07:20] InfectedIsm commented on #3780
@cds-amal hey, thanks for replying, I'm using 5.5.6 right now (I started with this version)
I noticed the issue was related when a compared my execution time to the instructor time (the training is 2-3 yo)
Same code, ~50ms per test for him, 1000ms on my side (x20, like rchrdw)
Truffle v5.5.6 (core: 5.5.6)
Ganache v^7.0.3

[2022-08-14 11:40] cds-amal commented on #3780
Thanks, @InfectedIsm. That is interesting! Is sharing your repo an option? I'd like to investigate the issue.

[2022-08-14 13:44] InfectedIsm commented on #3780
Sure @cds-amal, I've added you as a collaborator rn because it is set as private. I suppose you should be able to check what you want

[2022-08-14 16:45] cds-amal commented on #3780
Thanks for the access @InfectedIsm. The tests didn't run, and I don't see how this project resulted in slower test speeds, as the tests did not run!  Anyway, after fixing the error, the two tests took 53ms and 135ms, for a total of 1sec runtime, rounded up. Did you share the correct project?

[2022-08-14 17:34] rchrdw commented on #3780
Manually starting ganache, instead of using letting truffle start and use its own internal instance, and rerunning the tests resolved the issue for me.

[2022-08-15 13:18] abrindam opened #5440 "[Bug in dependency] Introducing HDWalletProvider causes responses to get mixed up"
- [ x ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I wanted to make you aware of the following issue which I have just filed: https://github.com/MetaMask/web3-provider-engine/issues/418

This is a bug in one of your dependencies, not in your own code, but it initially looked like a Truffle

[2022-08-15 19:55] gnidan commented on #5440
Thanks for bringing this to our attention! We'll triage this and figure out next steps and post our next steps here on this issue.

[2022-08-16 00:38] haltman-at opened #5441 "Truffle's default optimizer settings actually have an effect"
## Issue

When Truffle compiles Solidity, it merges the settings from the Truffle Config into some default settings, those default settings being:

[code]

Seems harmless, right?  Well... turns out that on Solidity versions prior to 0.8.6, having `enabled` set to `false`, and having it absent entirely, had different results.  Having it set to `false`, as opposed to absent entirely, actually turned

[2022-08-16 01:12] haltman-at commented on #3649
Oh hm, wonder if #5441 could be responsible here...?

[2022-08-16 02:19] benjamincburns opened #5442 "Add tests to the @truffle/from-hardhat package"
As per @benjamincburns's [review comment](https://github.com/trufflesuite/truffle/pull/5420#pullrequestreview-1073370698), we need to open an issue to add tests to this package.

_Originally posted by @gnidan in https://github.com/trufflesuite/truffle/pull/5420#discussion_r946274501_

[2022-08-16 05:44] gnidan commented on #5442
This should also likely include some kind of scenario test for `truffle debug` in a Hardhat project

[2022-08-16 11:32] cliffoo commented on #5440
Related issue: https://github.com/trufflesuite/truffle/issues/5068

[2022-08-16 14:13] eggplantzzz commented on #1584
So it may have disappeared due to dependency updates or something similar. I'll leave this here for a bit longer and if no one else can confirm that this still exists I'll go ahead and close this. Thanks again everyone!

[2022-08-17 23:44] benjamincburns opened #5452 "Truffle scenario tests exercises `@truffle/preserve`, but that package is no longer part of the truffle monorepo."
This is currently blocking #5335 (and PR #5367) due to there being scenario tests in this repo that are meant to be testing the `@truffle/preserve-*` plugins.

Specifically in this case, `@truffle/preserve` depends on `@truffle/error`, and #5367 introduces breaking changes to that package. As a result, there's a chicken/egg problem where we have to publish an update for `@truffle/error` in order t

[2022-08-18 15:53] tomasz90 opened #5459 "Not able to debug transaction in hardhat project"
## Issue

Not able to debug transaction in hardhat project.

## Steps to Reproduce

1. Run node at localhost using hardhat
2. Make any transaction
3. Grab the hash
4. Try to debug this transaction using accuired hash

## Expected Behavior

I am able to debug transaction

## Actual Results

Not able to debug transaction, error:

[code]

## Environment

* Operating System: MacOS Monterey
* Hardhat v

[2022-08-18 16:02] kevinbluer commented on #5268
Addressed in https://github.com/trufflesuite/truffle/pull/5320 if you want to validate @emilyJLin95 👌

[2022-08-18 16:03] kevinbluer commented on #5296
Addressed in https://github.com/trufflesuite/truffle/pull/5433 👌

[2022-08-18 16:20] EmmanuelRigobert commented on #2711
Me too. Thanks

[2022-08-18 17:45] gnidan commented on #5459
Oh no! Thanks for reporting this. I haven't seen this before. I don't suppose your project is open source so I can try to reproduce locally? Or if there's any additional information you can provide?

[2022-08-18 17:53] lsqproduction commented on #5440
Thank you @abrindam, we are closing this issue as it is related to #5068. Please follow the changes there.

[2022-08-18 17:53] #5440 closed

[2022-08-18 18:00] gnidan commented on #5459
(In the meantime, I'll add some extra error logging and release a dist tag later today for you to try.)

[2022-08-18 18:14] lsqproduction commented on #5347
Check through boxes and tutorials.

[2022-08-18 18:18] #5065 closed

[2022-08-18 18:20] lsqproduction commented on #2631
Closing for issue maintenance.

[2022-08-18 18:20] #2631 closed

[2022-08-18 18:22] #5296 closed

[2022-08-18 20:40] haltman-at opened #5462 "Slack notifications keep failing on dependabot PRs"
## Issue

Dependabot PRs keep failing CI because the Slack notifications keep failing??  For some reason this only seems to happen on Dependabot PRs, but happens consistently on them (even when repeatedly rerun).  I am so confused.

## Environment

* Truffle version (`truffle version`): 5.5.27

[2022-08-18 23:31] fainashalts opened #5464 "Build educational materials for internal use around Layer 2"
Education series for Trufflers: ORUs, ZKRs, bridges, etc.

Materials for organizing this will live in Confluence. This will be updated when the Confluence page exists.

[2022-08-19 02:13] haltman-at opened #5466 "Truffle debugger & decoder should handle new-style internal function pointers"
## Issue

So, if you compile Solidity with `viaIR` turned on, it uses a different representation for internal function pointers.  Instead of them containing actual program counter values, internal functions are now represented by an abstract index.

Fortunately, this index isn't hard to compute.  The order that the functions are given in is just the order they appear in the contract's source, and

[2022-08-19 10:24] benjamincburns commented on #5202
Flaky test:

[code]

https://github.com/trufflesuite/truffle/runs/7913565921?check_suite_focus=true

[2022-08-19 10:25] benjamincburns commented on #5202
Hung tests (had to cancel job):

https://github.com/trufflesuite/truffle/runs/7914744801?check_suite_focus=true

[2022-08-19 14:39] tomasz90 commented on #5459
yep, unfortunately the project is not open source :(

I can add that when I call "truffle debug" without hash I am getting similar message:

`SyntaxError: Unexpected token N in JSON at position 0
    at JSON.parse (<anonymous>)
    at ChildProcess.<anonymous> (/usr/local/lib/node_modules/truffle/build/webpack:/packages/from-hardhat/dist/src/ask-hardhat.js:91:1)
    at Object.onceWrapper (events.js

[2022-08-20 00:26] gnidan commented on #5459
How do you normally run Hardhat? Do you follow their recommendation and install it locally (`npm install --save-dev hardhat`) and then run it via `npx hardhat`?

[2022-08-20 00:42] gnidan commented on #5459
Alright, I just published a dist-tag release that should hopefully provide more error information. Could you try installing `truffle@hardhat-error`, e.g.:

[code]

... and then let me know what `truffle debug` gives you? Clearly I made some false assumption when I implemented this 😭

[2022-08-20 16:14] ngochiencse commented on #4618
@kevinweaver Hi, I encounter this problem too so I have created a minimal demo for this issue here: https://github.com/ngochiencse/truffle_contract_angular
Note: In this demo I use node 16.

[2022-08-21 13:18] carnato opened #5471 "I try to install the truffle but not installed"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give exa

[2022-08-21 13:29] carnato commented on #5471
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated multicodec@1.0.4: This module has been superseded by the multiformats module
npm WARN deprecated uuid@2.0.1: Please upgrade  to version 7 or higher.

[2022-08-21 14:18] cliffoo commented on #5471
Hey @carnato can you confirm you installed via `npm install -g truffle`?

Also, can you provide your npm and node versions? Find out by typing `npm -v` and `node -v`

[2022-08-21 17:12] carnato commented on #5471
Yes I am using the npm i -g truffle command

Yes
npm version ---:   8.1.2

node version:----v16.13.2
I try my best but the problem can not solve

and I open  cmd in administration mode

[2022-08-21 17:20] tomasz90 commented on #5459
Thanks for your quick response!

Yep, I I have hardhat installed locally and when I run node, I use "npx hardhat node"

Here is my latest error message:
[code]

[2022-08-21 18:54] gnidan commented on #5459
Thanks for the info @tomasz90! I just reached out to you on Telegram as per your link in your GH readme to help you debug this.

[2022-08-22 05:45] benjamincburns opened #5472 "Remove `truffle build` command"
Is the `truffle build` command widely used? If not, we should consider removing it in order to reduce maintenance workload.

Note: This was captured from an internal session where we discussed **potential** future breaking changes for major releases. Until the team assigns this ticket, this is merely a proposal, and not a commitment to make this specific change.

[2022-08-22 05:46] benjamincburns opened #5473 "Remove the `truffle watch` command"
Is the `truffle watch` command widely used? If not, we should consider removing it in order to reduce maintenance workload.

Note: This was captured from an internal session where we discussed **potential** future breaking changes for major releases. Until the team assigns this ticket, this is merely a proposal, and not a commitment to make this specific change.

[2022-08-22 05:51] benjamincburns opened #5474 "Rewrite `@truffle/contract` around `@truffle/encoder`"
Rewriting `@truffle/contract` to depend primarily on `@truffle/encoder` rather than `web3.js` would likely help us to achieve a few goals:

- Decouple `@truffle/contract` from `web3.js`
- Make it possible to properly resolve overloaded functions (#5061)
- Give better control over argument and return types (e.g. #3914)

Note: This was captured from an internal session where we discussed **potential

[2022-08-22 05:58] benjamincburns opened #5475 "Remove internal dependencies on web3.eth.contract"
Instead of internally depending on `web3.eth.contract`, we should instead depend on `@truffle/contract`. This would remove a great deal of our internal dependence on `web3.js`, and it would cause us to better define `@truffle/contract` for the needs of the Truffle project as a whole.

Creating this as an (empty) epic, as it's likely that a fair amount of scoping work would need to be done before w

[2022-08-22 06:37] benjamincburns opened #5476 "Disallow unrecognized options in @truffle/config"
Truffle should error when it receives a config field that is unrecognized. Doing this helps users to spot typographical errors in field names.

Unfortunately this change may make things more challenging for plugin developers who want users to be able to specify additional fields in the config object for their plugin to use. If this is the case, then as part of this change it should be possible for

[2022-08-22 06:47] benjamincburns opened #5477 "Update Truffle to depend strictly on providers that comply with EIP-1193"
The Ethereum provider API has changed a bit over the years, and as of June 2018 [EIP-1193](https://eips.ethereum.org/EIPS/eip-1193) has standardized this API.

Unfortunately Truffle internals still make use of the older `sendAsync` provider method. We should probably knock that off and get with the times.

This is labeled conservatively as requiring a breaking change, however it's open for conside

[2022-08-22 07:31] benjamincburns opened #5478 "Allow users to specify their project config for different environments (aka "environment-based config")"
Today `@truffle/config` allows users to specify a list of target networks, and at runtime a user must select a specific network for whatever operation that they're looking to perform.

This was a great design back when dApp devs generally only cared about one L1 chain, but with the rise of L2, many dApps are written to deploy to multiple chains. Naturally, the desire to deploy a dApp across multip

[2022-08-22 15:23] eggplantzzz commented on #5471
Those are warnings that you are seeing printed and shouldn't affect installation. I think the installation was successful.

[2022-08-22 15:25] carnato commented on #5471
But when I run command for checking truffle version then it show an
error message

On Mon, 22 Aug 2022, 8:53 pm tyler, ***@***.***> wrote:

[2022-08-22 15:33] lsqproduction commented on #5471
Can you help to share the error message from when you run `truffle version`?

[2022-08-22 15:46] carnato commented on #5471
Sure but i take some time for sending

On Mon, 22 Aug 2022, 9:03 pm Liang Liang, ***@***.***> wrote:

[2022-08-22 17:37] haltman-at commented on #5475
This should probably be combined with #5474; as far as I'm aware, the only place we rely on web3.eth.Contract is inside Truffle Contract.

[2022-08-22 17:45] abrindam commented on #5440
Thanks you folks for the quick response.

I wanted to provided some frank but hopefully constructive feedback. This issue is particularly disturbing to me, for two reasons.

First, the issue results in data corruption, with the effect that a blockchain query can seemingly result in completely incorrect and made-up data. There are numerous scenarios in which is this would be a major problem. While

[2022-08-22 19:23] haltman-at opened #5482 "Change format of artifact bytecode with library links (if that's allowed!)"
## Issue

This might be *too* breaking, @gnidan will have to say something about that.

Currently, the way that bytecode with library links is stored in artifacts is to have two underscores, followed by the library name, followed by underscores to pad it out to 20 bytes (40 characters, since it's basically in hex).  This format has a number of problems.  It can't handle long library names (#954).

[2022-08-22 21:45] haltman-at opened #5483 "Potentially rework codec output format?"
## Issue

This is an issue to collect some potential breaking changes to the codec output format we might want to make.  Not all of these are compatible with one another, and some of them might be bad ideas.  But I thought I'd collect them here!

1. Replace `BN`s with `BigInt`s

The format was designed before `BigInt`s were safe to use everywhere.  `BN`s are mutable objects which is annoying.  `Bi

[2022-08-22 21:45] gnidan commented on #5459
@tomasz90 I just put out a new dist-tag release ([`truffle@5.5.28-hardhat-error.1`](https://www.npmjs.com/package/truffle/v/5.5.28-hardhat-error.1)).

Unfortunately, the log dump you shared didn't confirm my hypotheses, but I made a change that hopefully makes things more robust. Would you mind trying that new version and letting me know what happens?

[2022-08-23 06:04] benjamincburns commented on #5475
Yeah, I agree. Closing in favor of that one.

[2022-08-23 06:04] #5475 closed

[2022-08-24 16:19] eggplantzzz opened #5486 "Confusion with `option` and `config` in migrate command flow"
When the migrate command is run, a config object is created (see https://github.com/trufflesuite/truffle/blob/develop/packages/core/lib/commands/migrate/run.js#L12-L41) from the input options. Then this options object is used later on. All of the options are used to create the config object and then should probably be discarded in favor of using this config object as all of the information from op

[2022-08-24 18:11] gnidan commented on #5459
Wait, is that the entire error message? It doesn't say show this? `Error reading information from Hardhat console. Expected valid JSON, got: ${output}`

[2022-08-24 18:19] tomasz90 commented on #5459
Sorry to be specific:

Error: Error reading information from Hardhat console. Expected valid JSON, got: No need to generate any newer typings.
✅ Generated documentation for 24 contracts
 ·---------------------------|--------------|----------------·
 |  Contract Name            ·  Size (KiB)  ·  Change (KiB)  │
 ····························|··············|·················
 |  Address

[2022-08-24 18:21] gnidan commented on #5459
Oh! Now that's interesting!

So it seems like `npx hardhat console` is automatically generating typings, and then printing this on stdout? Do you know how I can make this behavior happen locally so I can figure out a workaround?

[2022-08-24 18:23] tomasz90 commented on #5459
This project is using typechain, so the table might be generated by it.

[2022-08-24 18:24] gnidan commented on #5459
Hm, I thought I had that turned on in my test project. I will play around and see if I can't figure it out. Stay tuned... thank you for this crucial missing piece of information!

[2022-08-24 18:32] tomasz90 commented on #5459
Do I have to have some additional configuration except hardhat? I am running node on localhost:8545
Then I generate testing data against this node and grab tx hash of this transaction. Please let me know :)

[2022-08-24 18:35] gnidan commented on #5459
It should just work with no extra config. I'll figure out how to handle this situation with TypeChain and then hopefully check with @alcuadrado about other, similar possible situations where `npx hardhat console` will print to stdout unprompted.

[2022-08-24 18:36] gnidan commented on #5459
In the meantime, if you can turn off TypeChain temporarily, hopefully that's a valid workaround.

[2022-08-24 18:43] gnidan commented on #5459
Hm... I'm not sure how to make that table appear. I just confirmed that my test project **does** have TypeChain turned on, but I don't see that output. Is there something you're doing in your hardhat.config.ts?

[2022-08-24 18:53] gnidan commented on #5459
Can you share the list of HH plugins you're using?

[2022-08-24 22:46] #4874 closed

[2022-08-24 22:46] #4949 closed

[2022-08-24 22:47] #4982 closed

[2022-08-24 22:47] #5020 closed

[2022-08-24 22:47] haltman-at commented on #5050
OK, this should now be fixed!  There is still a problem where you'll get a blank page if MetaMask isn't installed, but I'm going to open that as a separate issue.

[2022-08-24 22:47] #5050 closed

[2022-08-24 22:48] #5106 closed

[2022-08-24 22:48] #5452 closed

[2022-08-24 22:50] cliffoo opened #5488 "Dashboard cannot connect on linux chromium"
I'm not sure about < v5.5.28 but hey now we here.

Other browsers need investigation too. We may not need thorough e2e testing (the frontend) but I'd like a manual happy path to pass on `[macos|windows|linux] x [chromium|chromium-derivatives|firefox|safari]`

Truffle version: 5.5.28

[2022-08-24 22:54] haltman-at commented on #5488
More environment information, from the person this happened to:

OS: Release Linux Mint 20.3 Una 64-bit
Kernel: Kernel Linux 5.4.0-124-generic x86_64
Desktop environment: MATE 1.26.0
Chromium version: Version 95.0.4638.54 (Official Build, ungoogled-chromium) Ubuntu (64-bit)

Also, not only did it fail to connect, but it caused the developer tools to freeze up. O_o

[2022-08-24 22:56] cliffoo opened #5489 "Dashboard shows blank page"
As far as I know, this only happens when `window.ethereum` is `undefined` (lack of injected wallet, e.g. MetaMask).

Solution: Error boundary

Related issue: https://github.com/trufflesuite/truffle/issues/5050, though I strongly suspect the _reasons_ are not related.

[2022-08-24 23:10] cliffoo opened #5490 "Dashboard dull bus: Requests appear to not go anywhere"
Sometimes, the two bus clients (frontend and dashboard server) would appear to connect just fine to the bus, but the bus just doesn't want to relay the messages. You'd have to refresh frontend, which means new bus client initialized with fresh connection, for the messages to send.

This is unrelated to the changes released in v5.5.28.

[2022-08-25 07:04] benjamincburns commented on #5202
Flaky test:

[code]

https://github.com/trufflesuite/truffle/runs/8009652049?check_suite_focus=true

[2022-08-25 07:13] gnidan commented on #5459
Got one more build for you to try, taking a slightly different approach. 🤞 I think this will do it: [`truffle@5.5.29-hardhat-error.0`](https://www.npmjs.com/package/truffle/v/5.5.29-hardhat-error.0).

Please let me know if this fixes things for you, and then I'll clean up the changes to get reviewed for our next release!

Thanks for your help!

[2022-08-25 17:37] eggplantzzz opened #5495 "`truffle migrate` `--save` flag doesn't work and is not documented"
While digging through migrations code, we found out that there is the undocumented option `save`. If you set this to `false`, Truffle will omit saving the set migrations on chain. This option should probably be documented on the website and in the Truffle help.

Additionally there is a bug with this option. If you pass it as a flag (`--save`) on the command line, it gets parsed as a string and wil

[2022-08-25 17:39] dongmingh commented on #5464
It makes sense to change this to epic.

[2022-08-25 17:44] dongmingh commented on #5472
closing as duplicate #3226

[2022-08-25 17:44] #5472 closed

[2022-08-25 17:45] dongmingh commented on #5473
closing as duplicate #3227

[2022-08-25 17:45] #5473 closed

[2022-08-25 17:47] dongmingh commented on #5474
We need more information before prioritizing it.

[2022-08-25 18:00] gnidan commented on #5483
We may want to hold off on this until we have @truffle/codec-components, since the absence of that library makes this format more externally-facing than if we had that library.

[2022-08-25 18:18] haltman-at commented on #5483
Note: @gnidan points out the existence of the [superJson](https://github.com/blitz-js/superjson) package, which would allow us to use `BigInt`s.  Obviously `Big`s would still be a problem, but I'm more OK with using strings there (so long as we can agree on a string format!).

[2022-08-25 18:23] gnidan commented on #5483
I'm torn... I really like the simplicity of just using strings everywhere and avoiding the need for custom JSON logic. But yeah, trade-offs... 🤷

[2022-08-25 19:39] fainashalts commented on #5464
Done. :)

[2022-08-26 16:23] ysh-rawat-11 commented on #1212
go to that folder in which your file in present open terminal and drag and drop that folder to terminal
and then give cammand
truffle compile

[2022-08-26 17:34] mrhouzlane opened #5498 "node version"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Node version.

## Steps to Reproduce

Run : ` truffle develop`

## Expected Behavior

 Expected to open console

## Actual Results

[code]

It worked when I used node v16.15.0  (doing ```nvm use 16```  )

## Environment

* Operating System:

[2022-08-28 20:07] codewizard26 commented on #3539
Using  "truffle init" first and then "truffle development " worked for me successfully

[2022-08-29 06:05] NeverFearTomorrow commented on #2994
I'm getting `InternalCompilerError: Compiled contract not found.` with `npx hardhat compile`
Seems like there are still some issues.
Since a repro was mentioned above, don't want to cut a minimal repro right now.
This issue has persisted even after i deleted `artifacts` and `cache` and even after I changed the part of the code that I thought may have been causing the issue.

[2022-08-29 06:12] Hitanshu5979 commented on #5498
Truffle currently only supports Node.js till the last stable release, ie, 16.17.0 LTS.
Downgrading from the Beta Version, ie, 18.4.0 seems to be the most straightforward solution to this problem.

[2022-08-30 01:35] benjamincburns commented on #5472
@dongmingh this issue was captured to remove this command. #3226 only captures the need to deprecate it. Given that a deprecation notice has been added, I'm not sure why #3266 is still open.

[2022-08-30 01:35] benjamincburns commented on #5473
@dongmingh this issue was captured to remove this command. #3227 only captures the need to deprecate it. Given that a deprecation notice has been added, I'm not sure why #3227 is still open.

[2022-08-30 09:45] tomasz90 commented on #5459
@gnidan
This time I am getting:
Could not connect to your Ethereum client with the following parameters:
    - host       > 127.0.0.1
    - port       > 7545
    - network_id > 5777
Please check that your Ethereum client:
    - is running
    - is accepting RPC connections (i.e., "--rpc" or "--http" option is used in geth)
    - is accessible over the network
    - is properly configured in your T

[2022-08-30 09:48] gnidan commented on #5459
Ah! @tomasz90 You'll need to pass `--network localhost`, same as you would via `npx hardhat run --network localhost. This doesn't work with the built-in `hardhat` network, sorry.

[2022-08-30 09:49] gnidan commented on #5459
Oh I didn't even get to the end of your unhandled exception to see that you got this working :D

Yeah, will have to clean up the error messaging! Thanks for following up!

[2022-08-30 10:15] roland-becsi-veratrak commented on #3739
Hi, this would be a neat improvement, we use truffle in an AWS lambda function and the ~60MB size is huge!

[2022-08-30 17:06] tomasz90 commented on #5459
Yep, but this message was very helpful ;)
I tested debugging once again using official truffle release, but same problem. So this fix wasn't released yet? :)

[2022-08-30 17:09] gnidan commented on #5459
Nope, not yet... wanted to get your test results first with that build. ConsenSys gave everyone this week off, so next week when the team is back, I'll get those changes into a PR for a stable release. Let's leave this issue open until that's live.

In the meantime, feel free to keep using that dist-tag version :) Thank you!

[2022-08-30 21:44] Josip230 opened #5499 "Blank Dashboard HELP!"
## Issue
I'm trying to create Nft Collection But my truffle dashboard is blank Please help

* Operating System:
* Windows
* Truffle version (`I've just ran install truffle`):
* node version (`idk`):
* npm version (`idk`):

[2022-08-30 21:49] gnidan commented on #5499
Hm this keeps happening to some users periodically. Unfortunately the team is out of office this week and we can't help diagnose this until we return.

In the meantime, please make sure you have MetaMask installed, or maybe try a different browser (also with MetaMask)

[2022-08-30 21:58] cliffoo commented on #5499
Hey @Josip230. On top of trying different MetaMask-enabled browsers as @gnidan mentioned, can you run `truffle version` and see what version of Truffle you have?

[2022-08-30 22:28] cds-amal commented on #5499
Hi @Josip230, sorry to add another environment request, but it will help us understand this issue.

- What version of windows are you using?
- Do you have developer mode enabled?
- Do you use WSL v1, or WSL2?

Thanks in advance.

[2022-08-31 15:46] cliffoo commented on #5499
Ah you might want to look elsewhere then. Solana has their own tooling, and Truffle has no support for it at the moment.

But... Check out our [nft marketplace tutorial](https://trufflesuite.com/guides/nft-marketplace/) since you have Truffle installed anyway?

Also it'd still be very helpful for us if you could kindly provide more info about your setup (Is it still blank after you installed MetaM

[2022-08-31 18:43] ahmed-fz11 commented on #2711
Wonderful. It worked for me

[2022-09-01 09:54] gtandes commented on #1746
You are a mental health saver. Thank you sir.

[2022-09-02 04:32] carnato commented on #5471
of course see that :
when I type the truffle version then shows an error like that 👍

'truffle' is not recognized as an internal or external command,
operable program or batch file.

[2022-09-02 04:44] carnato commented on #5471
when I further try to install then show an error like that .

when I write this command on the cmd npm install -g truffle

npm notice
npm notice New minor version of npm available! 8.1.2 -> 8.19.1
npm notice Changelog: https://github.com/npm/cli/releases/tag/v8.19.1
npm notice Run npm install -g npm@8.19.1 to update!
npm notice
npm ERR! code EPERM
npm ERR! syscall mkdir
npm ERR! path C:\WINDOWS\sy

[2022-09-02 13:38] cliffoo commented on #5471
Hey @carnato can you try doing the following:
1. `npm uninstall -g truffle`
2. `npm install -g npm@6`
3. `npm install -g truffle`, give it some time
4. `truffle version`, does it execute OK?

[2022-09-02 15:06] carnato commented on #5471
Okay I try and follow your instructions.
The. See what happens😊

On Fri, 2 Sept 2022, 7:08 pm Cliff Zhang, ***@***.***> wrote:

[2022-09-02 19:39] ochecodes7 opened #5504 "Can't install truffle again"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
npm ERR! code ENOTEMPTY
npm ERR! syscall rename
npm ERR! path /home/oche/.nvm/versions/node/v18.3.0/lib/node_modules/truffle
npm ERR! dest /home/oche/.nvm/versions/node/v18.3.0/lib/node_modules/.truffle-mqLHVn4M
npm ERR! errno -39
npm ERR! EN

[2022-09-03 11:57] carnato commented on #5471
1. npm install -g truffle

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@~2.3.2 (node_modules\truffle\node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@2.3.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: sqlite3@4.2.0 (node_modules\tru

[2022-09-03 11:57] carnato commented on #5471
what next I do

[2022-09-03 11:58] carnato commented on #5471
I follow your procedure but the problem not resolved.

[2022-09-03 12:02] carnato commented on #5471
when I run the npm i -g truffle then show.

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(403): https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v4.2.0/node-v93-win32-x64.tar.gz
node-pre-gyp WARN Pre-built binaries not found for sqlite3@4.2.0 and node@16.13.2 (node-v93 ABI, unknown) (falling back to source compile with node-gyp)
gyp ERR! fin

[2022-09-03 13:37] carnato commented on #5471
I also, recognize one more point.
can you explain what I can do?

You need to install the latest version of Visual Studio
gyp ERR! find VS including the "Desktop development with C++" workload.
gyp ERR! find VS For more information consult the documentation at:
gyp ERR! find VS https://github.com/nodejs/node-gyp#on-windows

[2022-09-03 15:25] baibinghere opened #5505 "Forked network can't deploy if dryRun is true"
- [ Y ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Forked ethereum mainnet can't deploy any contract because insufficient fund (0 wei).

## Steps to Reproduce

Env:

[code]
Ganache:

[code]

truffle-config.js network part:

[code]

truffle deploy
[code]

## Expected Behavior

Deploy succes

[2022-09-03 15:52] cliffoo commented on #5471
Ok yes you need the build tools. I realized that we have a pretty thorough [windows guide](https://github.com/trufflesuite/truffle/discussions/5089) so I'm going to redirect you there. Can you try following that and let me know if you're able to install? @carnato

[2022-09-03 15:56] carnato commented on #5471
Then plz guide me

[2022-09-03 16:46] carnato commented on #5471
can

[2022-09-03 18:03] ochecodes7 commented on #5504
So I actually solved the  problem myself
go to where it was installed with root
and type npm cache clean --force or npm cache verify then
npm install -g truffle

[2022-09-03 18:03] #5504 closed

[2022-09-03 18:03] ochecodes7 commented on #5504
hope this helps

[2022-09-06 10:20] DennisVonDerBey opened #5506 "Deployment migration & `build` folder tracking"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I have a problem understanding the development lifecycle including network deployments with Truffle. We're currently looking at how to do this in general and have built a repository based on Truffle + Ganache including Typescript support. I

[2022-09-06 17:53] cliffoo commented on #5203
Jest cannot be upgraded because they dropped support for node 12, and we might run into similar trouble with other dependencies since node 12 reach EOL > 4 months ago. Just adding a note here since #5507 closed.

[2022-09-07 21:37] fainashalts commented on #5471
@carnato was the [windows guide](https://github.com/trufflesuite/truffle/discussions/5089) helpful for your needs? I see you reopened this issue and wanted to check in on whether we can help. Thanks!

[2022-09-07 21:39] fainashalts commented on #5354
Hi @yahyeShorie! It looks like we haven't had any activity on this issue since our suggestion to try downgrading Node. I'm going to close this issue for maintenance but please feel free to open a new issue if anything else comes up. Thanks!

[2022-09-07 21:39] #5354 closed

[2022-09-07 21:43] fainashalts commented on #5294
Hi @Kipkurui-mutai it looks like we haven't heard from you on this issue in a while. Are you still experiencing an installation error? I am going to go ahead and close this for issue maintenance. If you encounter this or another error please feel free to open a new issue. Thanks!

[2022-09-07 21:43] #5294 closed

[2022-09-07 21:45] fainashalts commented on #5295
Hi @zrock23 thank you for bringing up this issue. As we haven't heard back from you in a while I am going to close it for maintenance. Please feel free to open a new issue if this is not resolved or you encounter a new error. Thanks!

[2022-09-07 21:45] #5295 closed

[2022-09-07 22:55] haltman-at commented on #5374
This is now released!

[2022-09-07 22:55] #5374 closed

[2022-09-07 22:56] haltman-at commented on #4425
OK, I think we can finally close this with 5.5.29 released!

[2022-09-07 22:56] #4425 closed

[2022-09-08 01:34] benjamin852 opened #5511 "Error: error:0308010C:digital envelope routines::unsupported"
## Issue

I am trying to deploy my contract which I know should be working and I keep hitting this error
[code]

## Steps to Reproduce

the issue occurs when i run ```truffle migrate --reset --network goerli```

## Environment

I think the error is a node issue I recently upgraded my node to version to v18.4.0
I saw on another post that the fix they used was to downgrade to version 16.4 [https://g

[2022-09-08 01:41] cds-amal commented on #5511
Hi @benjamin852, Truffle doesn't support node v18 yet. Please use node 16 and npm v6. Once node 16 is configured, run `npm -g install npm@6` to use npm v6.x

[2022-09-08 01:42] benjamin852 commented on #5511
Thank you very much for the quick response. Do you know if support for the newer node version is in development? And how long it might be till its ready? Thanks again

[2022-09-08 01:54] cds-amal commented on #5511
Hey @benjamin852, it is being worked on, but I can't give you a timeline. Please follow [this issue](https://github.com/trufflesuite/truffle/issues/5203) for updates.

[2022-09-08 17:40] lsqproduction commented on #5498
Hi, @mrhouzlane were you able to downgrade to node version 16 and able to have fun with `truffle develop`?

[2022-09-08 17:52] lsqproduction commented on #5506
Hello, @DennisVonDerBey. Thank you for opening this.
We want to also recommend checking out `truffle networks` https://trufflesuite.com/docs/truffle/reference/truffle-commands/#networks as an alternative to the methods mentioned in the article above.

As for the actual issue, we will discuss it with our team further for a way forward. stay tuned.

[2022-09-08 20:28] gnidan commented on #5459
@tomasz90 (and anyone else following this)... #5510 is good to go and this issue should be fixed in the next stable release, sometime during the middle of next week.

[2022-09-09 00:34] kevinweaver commented on #5138
I spiked on this this issue for a some time, but have to leave it as it. In an attempt to capture my findings, I put together this research doc: https://hackmd.io/bncUOJIFSMmFp9qGVVdgbg and a branch:  `add-ethers-provider-support`

There’s not much of value in that branch, I mainly used it to poke around while I was learning what does what. That doc holds more of my learnings.

To anyone that pick

[2022-09-11 00:19] nidhhoggr opened #5528 "SyntaxError: Unexpected token in JSON at position"
## Issue

This is possible related to https://github.com/trufflesuite/truffle/issues/3755

The issue is that a migration fails with the following error:
[code]
## Steps to Reproduce

[code]

## Actual Results

In troubleshooting the issue I found that the following code is responsible for throwing the error:

[code]

What I was able to find is that the file in question generated in the `/tmp` dire

[2022-09-11 02:50] nidhhoggr commented on #5528
Strangely enough, the issue resolved itself after rebooting my machine. The question is what is wrong with the code to be appending NUL bytes to the json artifacts based on my previous machine state? Closing for now.

[2022-09-11 03:01] nidhhoggr commented on #5528
I spoke too soon. After deploying the contract to Goreli and rerunning a simple migration, the issues reoccurs.

## Migration

[code]

## Output

[code]

Rebooting the machine fixes it again. But why do I have to keep rebooting my machine after every deployment?

[2022-09-11 03:36] gzliudan opened #5529 "Support XinFin blockchain"
The address prefix of XinFin blockchain is xdc, not 0x. So the truffle report below error when deploy contract:
[code]

JSSONRPC request:
[code]

JSSONRPC response:
[code]

The miner is `xdc0000000000000000000000000000000000000000`, not `0x0000000000000000000000000000000000000000`.

[2022-09-11 16:06] cds-amal commented on #5528
Hi @nidhhoggr, can you provide a git repo that reproduces this? The Issue reproduction steps doesn't specify truffle-config settings, migration files or contracts.

[2022-09-12 03:24] mastercodingbear opened #5531 "Does truffle support testing functions with string array parameters?"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I'm going to test function with **string array** parameters. But it seems like being passing an empty array in the truffle test.

## Steps to Reproduce
`*.sol`
[code]
`*.test.js`
Try to call `createParent` function like this.
[code]

## Expe

[2022-09-12 12:05] cuongrep opened #5532 "npx truffle init does not create Migrations.sol"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

I hope that the Migrations.sol file will be automatically generated when we initial a ne

[2022-09-12 18:42] sukanyaparashar commented on #5532
Hello @cuongrep. Thanks for bringing this up. Truffle has removed the inclusion of `Migration.sol` on `npx truffle init` command since `v5.5.27`. Now when you run `npx truffle init`, it includes the following -

- an empty `contracts` folder.
- an empty `migrations` folder.
- an empty `test` folder.
- a `.gitignore` file.
- a `truffle-config.js` file.

Please let us know if this information is hel

[2022-09-12 19:04] haltman-at commented on #5531
Yes, passing in arrays of strings is supported.  Do you have more detailed reproduction steps so we can try to determine what's going wrong here?  Thanks!

[2022-09-13 02:04] lokera666 opened #5533 "My practice"
https://github.com/trufflesuite/truffle/blob/f625faa2c925d71d808108b8c586838686a82549/scripts/geth.sh#L0-L1

[2022-09-13 02:09] nidhhoggr commented on #5528
Hello @cds-amal The migration file to trigger the error is in provided in a comment above. The truffle config doesn't have anything fancy from the standard convention. The issue of NUL bytes /0 being appended to the file happens when a buffer is overallocated for a string and gets converted back to a string. I was tracing through the code and suspect it's happening somewhere in the normalization f

[2022-09-13 02:36] cds-amal commented on #5528
Oh, this would be very helpful. Thanks!

[2022-09-13 07:35] haltman-at commented on #5533
This appears to just be a link to part of our code, rather than an issue, so I'm going to go ahead and close this.  However, if you encounter any problems with our software, feel free to open a new issue describing them!

[2022-09-13 07:35] #5533 closed

[2022-09-13 12:51] mastercodingbear commented on #5531
I'm trying to push `Child` struct array to `Parent` struct.
[code]
After creating a parent there are no children in `Parent` struct.
`children` is `undefined`

[2022-09-13 17:24] haltman-at commented on #5531
The field `children` cannot be `undefined`, because Solidity doesn't have any notion of `undefined`.  How are you determining this?  Do you have more complete code we could check out?

[2022-09-13 18:52] haltman-at commented on #5531
I should probably be more explicit -- I expect the problem is probably in whatever Javascript code you've written to interact with the contract, so I'd want to see that to determine what's going on.  That's part of what I meant when I said I was looking for more complete code.

[2022-09-13 20:29] gnidan commented on #5532
Maybe we should make it an option for `truffle init`, like `truffle init --with-migrations`. But yeah honestly I recommend never using on-chain migrations.

[2022-09-14 04:28] itsMarcoSolis commented on #3710
I have the same issue, can confirm It still happens with the latest version.

[2022-09-14 08:17] Faisal-FS commented on #5050
Although the issue is closed but I am sharing my solution here.

Got the same issue but the error output was different for me:
![image](https://user-images.githubusercontent.com/25268271/190099458-beaed4bc-1b4d-406b-865b-f21d4d79b6b6.png)

On the suggestion of @haltman-at.

After the installation of MetaMask extensions in chrome. The page is back again.

Thanks @haltman-at

[2022-09-15 00:44] haltman-at commented on #5459
This should be fixed now in the latest release!

[2022-09-15 00:44] #5459 closed

[2022-09-15 00:45] haltman-at commented on #5244
Huh, I thought #5445 was supposed to resolve this, but it's still around...

[2022-09-15 16:00] adityagupta29 commented on #1746
Well, I don't know much about contributing, pull requests & more. If you can do a favor for me. Suggest to me how can I learn to contribute to different projects.

[2022-09-15 17:12] davidmurdoch commented on #3649
@Aleione are you still available to help @haltman-at with his question from above? We'd love to figure out what the cause is.

[2022-09-15 17:14] davidmurdoch commented on #1584
Closing this issue as no one has confirmed that this still exists since @eggplantzzz comment above. Please leave a comment or open a new issue, dear future reader, if you find that this is still an issue for you! <3

[2022-09-15 17:14] #1584 closed

[2022-09-15 17:51] haltman-at commented on #5529
It's necessarily a little difficult to handle such violations of the JSON RPC standard.  Is it possible that XinFin could change its behavior here to be conformant?  I might suggest filing an issue with them...

[2022-09-15 18:06] haltman-at commented on #5505
Hi, I want to confirm my understanding of what's going on here.  So, you are saying, that with `skipDryRun`, the deployment to `mainfork` succeeds, but with the dry-run enabled, the dry run fails due to insufficient funds?  That's pretty surprising, because it means that the fork works fine, but the fork *of* the fork does not.  Is that in fact what's going on?  If it is, then this sounds like a G

[2022-09-15 18:15] haltman-at commented on #4326
Unfortunately, our team's current priorities no longer provide a path towards near-term Tezos support.  I'm afraid that we're going to close this, sorry for the inconvenience.

[2022-09-15 18:15] #4326 closed

[2022-09-16 01:01] cliffoo commented on #5488
Mysterious. It was OK for me on ubuntu:

OS: Ubuntu 22.04.1 LTS x86_64
Kernel: 5.15.0-47-generic
DE: Unity
Chromium: Version 105.0.5195.102 (Official Build) snap (64-bit)

Tests on other OS * browser combinations still need to be done, as mentioned. I'm unsure on how to proceed on this one. @haltman-at I can't tell from the version info, does that mean your chromium is installed via apt or snap?

[2022-09-16 03:24] baibinghere commented on #5505
Hi @haltman-at,

Thanks for your reply!

Your understanding is correct. As the steps to reproduce demonstrates, seems that the fork is fine, but the fork of the fork is not correct. I'm not sure if this is truffle's issue or ganache. Since I executed with `truffle` command, I'm opening the ticket here.

I don't think the unlock option is relevant, I'm just randomly using an account with huge eth f

[2022-09-16 16:39] haltman-at commented on #5488
It's via APT, but it's not the default chromium package, it's ungoogled-chromium.  So it was installed separately, I forget how though...

[2022-09-17 08:31] baibinghere commented on #5505
Hi @haltman-at,

Thanks for your suggestion. I've created a [temporary repo for the example](https://github.com/baibinghere/truffle_5505).

While I was testing this, I suddenly found that when I create the mainnet fork, I specified `chain.chainId` option.

If I directly start the mainnet fork like below, it won't complain during dryRun.

[code]

But if I add the `chain.chainId` option, it will com

[2022-09-17 11:58] guilhermemauro commented on #5498
Hi guys, I got run using Node v18.9.0 setting this env before run truffle:

`export NODE_OPTIONS=--openssl-legacy-provider`

$ truffle --version:
Truffle v5.5.29 (core: 5.5.29)
Ganache v7.4.0
Solidity v0.5.16 (solc-js)
Node v18.9.0
Web3.js v1.7.4

[2022-09-19 07:26] Miladinho commented on #4327
Hello, I am having this same issue, seems like it has been fixed but is there documentation for this? How do I keep my "networks" block available in the config but force "truffle test" to use its own internal ganache when it spins up?

[2022-09-19 11:44] cds-amal commented on #4327
@Miladinho do you mean you want a long-running ganache instance to be used for all your CI tests? This can be accomplished by:
- starting a ganache instance at the port you'd like
  ```ganache --port <my-port-number>```
- configuring a `development` network
[code]

NOTE: You could also define a `test` network, however Truffle will use `development` if it also exists.

[2022-09-19 15:16] Miladinho commented on #4327
@cds-amal

Not quite. I'm curious to see how i can get `truffle test` to default to its own ganache instant that it spins up. If I have a "networks" block defined in the config, it will force me to determine a network and uses the "development". If I do not have a "networks" block defined, running `truffle test` will work by using its own ganache instance i've read. Regardless of how it does it (l

[2022-09-20 18:11] haltman-at commented on #4327
My understanding is that, as long as you don't have a `development` network, it will do this as long as no network is specified at the command line (or if `test`is the specified network).  I think if you do have a `development` network defined though it will default to that instead.

[2022-09-21 03:45] lam268 commented on #3357
Any updates on this problem ? I still got this error sometimes when running my application on bsc testnet

[2022-09-21 03:54] son-of-win opened #5555 "Error: PollingBlockTracker - encountered an error while attempting to update latest block"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
I have tried to fix the error on my website with the suggestion in [issue 3356](https://github.com/trufflesuite/truffle/issues/3356)
* replace 'https' in the provider url with 'wss', but i still got the same error.
Hope it helped!
[code]

[2022-09-21 15:26] Miladinho commented on #4327
@haltman-at yes you're right, thanks. It would be nice to have that in documentation too. But also, do you think it is easier to have it as an option to force the internal/default ganache? Like `truffle test --default-ganache`

I also seem to have a problem with some RPC commands when I run with the internal vs using a self-defined network (ganache running locally). Basically, I have 2 tests faili

[2022-09-21 16:28] haltman-at commented on #4327
Well, you could file an issue asking for this! :)

No idea, sorry. I'd suggest either asking support or filing issue (as appropriate).

[2022-09-22 17:39] cliffoo commented on #5555
Hey @son-of-win could you try connecting to other bsc endpoints as listed [here](https://docs.bnbchain.org/docs/rpc/)? Do you encounter the same error?

[2022-09-22 17:47] cliffoo commented on #5498
We're currently working hard on node 18 support, you can track it on [pr#5543](https://github.com/trufflesuite/truffle/pull/5543).

For now you can export that openssl node option but please keep in mind that it isn't fully tested.

[2022-09-22 18:03] cliffoo commented on #5193
To add some clarifications: This can be closed when `@truffle/console.sol` can be imported inside solidity contracts.

[2022-09-23 01:37] #5244 closed

[2022-09-23 21:02] king112ola commented on #2711
this worked, thx

[2022-09-25 19:57] LuisUrrutia commented on #4181
I would like to see an improved version of the contribution guide, specifically about compiling, debugging & tools. I found an issue, and I would like to contribute, but I don't even know how to "run" truffle from the repository.

[2022-09-26 20:34] Samboy76 opened #5567 "getPair call via Ethers.Contract does not return a pair address"
### Discussed in https://github.com/orgs/trufflesuite/discussions/5566

<div type='discussions-op-text'>

<sup>Originally posted by **Samboy76** September 26, 2022</sup>
Hi,

When I call following **getPair** under uniswapFactory contract I created via ethers.Contract in my javascript it doesn´t return any pair address.

[code]
Strange thing is if I removed `await `keywork it returns _Promise { <p

[2022-09-27 17:24] yu5ufyilmaz opened #5569 "download latest uuid version"
npm WARN deprecated uuid@3.2.1: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.
*****************************************************************************************************************
I have this issue but when i install latest version or 7.02th vers

[2022-09-27 18:39] eggplantzzz commented on #3777
So it turns out this won't affect the distributed package. I tried this and manually included it in a test project. However, there is nothing in there that would affect things at compilation-time it seems.

[2022-09-29 17:44] gnidan commented on #5567
Hey @Samboy76 could you please share what you actually do get for `pairAddress`? It's weird that the behavior is different for `truffle console` vs. inside a JS file.

Could you also please share the output of `ethers.version` (or `require("ethers").version` if you want a one-liner), both via `truffle console` and via this JS script?

Just trying to figure out what's going on here. Thanks!

[2022-09-29 17:47] gnidan commented on #5569
Thanks for raising this! Sorry about this. As a reminder, I'd encourage you to avoid using any private keys generated by Truffle (or any JS project) for anything with strong security requirements.

In the meantime, I think this is part of the bigger issue that a lot of our dependencies are out of date. Closing this issue as duplicate of https://github.com/trufflesuite/truffle/issues/3986.

[2022-09-29 17:47] #5569 closed

[2022-09-29 17:56] gnidan commented on #5505
We'll add this to our backlog. Seems like next step here is for someone on the team to reproduce this issue locally. From there we'll have a better sense what is going wrong.

Thank you!

[2022-09-29 18:06] gnidan commented on #4272
We've made significant headway addressing these warnings. We'll likely need to re-assess and re-prioritize the remaining warnings.

Sorry everyone, we're aware of the concerns here and are doing what we can to address it! Thanks all.

[2022-09-29 18:07] gnidan commented on #5272
Discovery efforts for designing the format of these changes is underway.

[2022-09-29 18:14] gnidan commented on #5272
Actually, seems like we should close this as duplicate of #5478

[2022-09-29 18:14] #5272 closed

[2022-09-29 18:18] gnidan commented on #5138
@benjamincburns are you the keeper of the current status of this issue? any latest updates on it? thanks!

[2022-09-29 18:28] Samboy76 commented on #5567
Hi @apdan510, at the end I tried also using `@uniswap-sdk` library so here´s the actual code snippet, which still generates the same issue, along with the output Truffle console commands demonstrating the expected results.

[code]
**Output Truffle console commands**

_truffle(mainnet_fork)> const { INFURA_URL, METAMASK_ADDRESS } = process.env;
undefined
truffle(mainnet_fork)> const { ChainId, Toke

[2022-09-29 18:31] Samboy76 commented on #5567
truffle(mainnet_fork)> ethers.version
'ethers/5.7.1'

[2022-09-29 18:32] Samboy76 commented on #5567
When I run `await uniswapFactory.getPair(wethAddress, otherAddress);` it calls the `callback()` method and doesn´t return any value when I run this through the console.

[2022-09-29 18:56] cds-amal opened #5578 "truffle develop/console does not exclude `console` or `develop` commands"
When this condition is hit, you have to enter multiple `.exit`s to leave the REPL.

## Reproduction steps
- `reprod`
- `truffle init`
- `truffle develop`
- `console`
- `console`
- `console`
- You will need to enter `.exit` 4 times to leave the REPL

[2022-09-29 20:41] gnidan commented on #5578
I've also observed this behavior with bash and zsh ;)

[2022-09-29 20:56] cds-amal commented on #5578
`truffle develop` behaves differently than Node's REPL.  Is this the expected behavior @gnidan?

[code]

[2022-09-29 21:07] gnidan commented on #5578
It used to be that Truffle wouldn't let you run `console` or `develop` from within its repl. We should probably go back to that behavior.

[2022-09-29 22:39] cds-amal commented on #5578
I missed that. Somehow, by the time we filter `excludedCommands`, the `truffle-command`, that should be excluded, [is already executing](https://github.com/trufflesuite/truffle/blob/develop/packages/core/lib/commands/console/run.js#L23-L27). I suspect this may be related to the `meta/run/help` refactor.

[2022-09-30 13:40] kwakyebrilliant commented on #4306
Use brew install truffle

[2022-09-30 14:24] cds-amal commented on #4306
@kwakyebrilliant, Please do not install Truffle from brew, we have no idea about that project and cannot vouch for it.

[2022-09-30 20:13] lsqproduction commented on #5495
Addresses in [Truffle v5.5.32]( https://github.com/trufflesuite/truffle/releases/tag/v5.5.32).

[2022-09-30 20:13] #5495 closed

[2022-10-01 07:32] BabyBluezz opened #5582 "How to get the historical floor price data (in 1 minute units) of a specified NFT ?"
**Sorry, as many paths have been tried without success. There are a lot of experienced people here, so will ask questions here.
   If this ask is inappropriate, please delete it.**

  **How to return the floor price of NFT at that historical moment through an NFT contract address and a timestamp with 1 minute precision.**

  This floor price is the floor price listed in the market (like the floor

[2022-10-01 07:34] gnidan commented on #5582
@BabyBluezz interesting question! I'm going to move this to GH Discussions because we try to keep the "Issues" list limited strictly to things that could be better about Truffle itself.

Then we'll see if this question nerdsnipes me right before I was about to go to bed ;)

[2022-10-01 11:26] matteo-dirollo commented on #5532
truffle unbox works fine for me

[2022-10-02 13:42] Prathamesh532 opened #5586 "Truffle in not recognize in vs code"
truffle is not install properly in vs code

[2022-10-05 09:14] glaksmono commented on #2702
How do you fix this issue?

[code]

[2022-10-05 20:36] eggplantzzz commented on #5498
This should be fixed in the latest Truffle (v5.6.0).

[2022-10-05 20:36] #5498 closed

[2022-10-05 20:38] haltman-at opened #5595 "Polyfills for Node 12 support should be removed"
## Issue

We finally dropped Node 12 support, so we can remove the various polyfills that were added as stopgaps for it.

## Environment

* Truffle version (`truffle version`): 5.6.0

[2022-10-05 23:02] haltman-at commented on #5466
So, this has turned out to be more of an issue than I realized -- it turns out that indices are only assigned to functions that get pointed to, which is substantially harder to determine.  We may have to wait for https://github.com/ethereum/solidity/issues/13425 before properly addressing this, although determining that isn't necessarily *impossible*, just a bunch of work.  Still, I'm putting asid

[2022-10-06 00:44] haltman-at commented on #5499
OK, we're going to close this for issue maintenance, but let us know if there's still a problem here!

[2022-10-06 00:44] #5499 closed

[2022-10-06 16:46] eggplantzzz opened #5600 "There is a dependency cycle involving db"
@truffle/db has a devDependency on @truffle/migrate even though it is not listed in the package.json. See [this](https://github.com/trufflesuite/truffle/blob/develop/packages/db/src/project/test/integration.spec.ts#L9).

When you add @truffle/migrate to the devDependencies for @truffle/db, lerna complains about the dependency cycle. We should get rid of this somehow.

[2022-10-06 17:36] leeftk commented on #5586
Hey @Prathamesh532 would you mind giving us some more details on what the issue is here? Do you mean the vs code extension is not installing or truffle itself? If you could provide some screenshots or error output of the issue that would be great. Thanks!

[2022-10-06 18:07] leeftk commented on #5347
Ganache is done here.

[2022-10-06 18:15] leeftk commented on #3977
We went through the git history on `https://github.com/sirenmarkets/core.git` and could not reproduce the issue so we are closing it.

[2022-10-06 18:15] #3977 closed

[2022-10-06 22:33] davidmurdoch commented on #5203
Fixed by https://github.com/trufflesuite/truffle/pull/5543

[2022-10-06 23:08] cliffoo opened #5602 "Cannot add compilation to `ProjectDecoder` instance"
Current workaround is to re-instantiate when new compilations come. It would be nice if I can keep feeding that one instance.

[code]

[2022-10-06 23:30] #5203 closed

[2022-10-06 23:31] davidmurdoch commented on #2749
Closing, as we've dropped Node 12 (and v13, too)

[2022-10-06 23:31] #2749 closed

[2022-10-07 15:21] #3518 closed

[2022-10-09 12:25] sahilrajput03 commented on #4084
mann... I just came here to find how to make watch mode work and I am disappointed by this thread here...

Watch mode is really the key feature for any development environment..., and I might do a PR in future when I get time to add this watch mode feature. I like hardhat specifically for this feature though and I want truffle to support this as well.

[2022-10-09 16:04] sahilrajput03 commented on #3780
for me the command `truffle test` command waits for 10 more seconds before exiting.

I mean I see that tests gets passed in 5 seconds and after that it takes additional 10 seconds,, and god knows why is that?

and for me `truffle watch` is not working, i.e,
![image](https://user-images.githubusercontent.com/31458531/194767217-1f9d4661-dc99-48ae-a7b5-6d0ff26e47f1.png)

[2022-10-11 15:24] eggplantzzz commented on #3780
Hey @sahilrajput03, I want to look into this issue of the test suite running slowly. On my own toy project the tests don't seem to hang, do you have a repo I could use to try and reproduce your issue? Maybe you forgot to tear down something that is causing Node to hang? Let me know if you have something on GitHub that I could pull down and try.

[2022-10-11 18:47] eggplantzzz commented on #3509
Can anyone confirm that this is still an issue with Truffle? Over the past year we have made some significant steps forward with getting Truffle's speed up. If anyone has any feedback about the most recent version (v5.6.0) I would love to hear about it!

[2022-10-11 18:49] eggplantzzz commented on #3986
Hey @AltBy55! Sorry, looks like your commend slipped through the cracks and we missed it. Do you still get a lot of warnings? I think a lot of these were probably fixed recently.

[2022-10-11 20:13] sahilrajput03 commented on #3780
https://github.com/sahilrajput03/dapp-6fig-eattheblocks/tree/main/multisig-wallet

@eggplantzzz

[2022-10-12 04:00] cds-amal commented on #5165
Fixed in [v5.6.0](https://github.com/trufflesuite/truffle/releases/tag/v5.6.0)

[2022-10-12 04:00] #5165 closed

[2022-10-12 05:27] dav1app commented on #3468
Polygon testnet is failing on the same circumstances and unfortunately infura doesn't provide a WSS connection to Polygon.

I've decided to debug `node_modules/request/request.js` and it seams that Truffle is attempting to make multiple requests at once, despite of NodeJS well-known concurrency request issues.

Editing `pollingInterval` has no effect, since the requests are not for the pooling its

[2022-10-12 19:26] eggplantzzz commented on #3780
Thanks @sahilrajput03!

[2022-10-12 19:42] eggplantzzz commented on #3780
Hey, so I tried the test suite for multisig-wallet locally here and the tests run speedy quick! I used a separate Ganache instance as well as `truffle develop` to run the tests. They both took around 2-3 seconds to run the suite. Maybe something got fixed since the last time you ran these. If you have time, could you try again with the latest version? If you are still having slow tests maybe I can

[2022-10-12 20:52] sahilrajput03 commented on #3780
@eggplantzzz can you show the outputs of the following command of yours please:

![image](https://user-images.githubusercontent.com/31458531/195445409-4ddb3b2d-0a36-416a-a273-451f79ca2f33.png)

[2022-10-12 23:01] cliffoo opened #5615 "Auth error during release when using `npm@8`"
[code]

[2022-10-12 23:12] cliffoo commented on #3518
This is fixed in the [latest release](https://github.com/trufflesuite/truffle/releases/tag/v5.6.1). Thanks @marsrobertson and @thgaskell !

[2022-10-13 14:32] eggplantzzz commented on #3780
I'll post some images below.
<img width="1696" alt="Screen Shot 2022-10-13 at 10 30 59 AM" src="https://user-images.githubusercontent.com/14827965/195625352-2334b768-c59d-491d-a89a-e38bb9574569.png">
<img width="1713" alt="Screen Shot 2022-10-13 at 10 32 07 AM" src="https://user-images.githubusercontent.com/14827965/195625762-f8f119ca-fa77-49cf-9d69-fce862be18e1.png">
<img width="1705" alt="Screen

[2022-10-13 14:40] sahilrajput03 commented on #3780
In the last message, I posted all the versions.

[2022-10-13 17:05] cliffoo commented on #5528
Closing this one for issue maintenance. @nidhhoggr Whenever you're ready with the repro steps and if you're still running into this issue, feel free to open a new issue. Thanks!

[2022-10-13 17:05] #5528 closed

[2022-10-13 17:08] cliffoo commented on #5531
Closing for issue maintenance. @mastercodingbear Feel free to open a new issue if you're still running into this, along with repro steps that we can follow. Thanks!

[2022-10-13 17:08] #5531 closed

[2022-10-13 17:09] cliffoo commented on #5532
Closing for issue maintenance.

[2022-10-13 17:09] #5532 closed

[2022-10-13 17:14] cliffoo commented on #5471
Closing for issue maintenance.

[2022-10-13 17:14] #5471 closed

[2022-10-13 17:18] cliffoo commented on #3649
Closing for issue maintenance. @Aleione When you have the repro steps and if you're still running into this problem please feel free to re-open! Thanks.

[2022-10-13 17:21] cliffoo commented on #5567
@Samboy76  ^

[2022-10-13 17:27] #5529 closed

[2022-10-13 17:47] lsqproduction commented on #5595
Closing because the Polyfills are for Node 14 as well.

[2022-10-13 17:47] #5595 closed

[2022-10-13 21:32] lsqproduction commented on #5105
Closing as it has been fixed by #5395

[2022-10-13 21:32] #5105 closed

[2022-10-14 04:42] carnato commented on #5471
Thanks for your support.
But my problem no resolve

On Thu, 13 Oct 2022, 10:44 pm Cliff Zhang, ***@***.***> wrote:

[2022-10-14 06:07] haltman-at commented on #5602
Question, which of the three decoder classes is this referring to?  Just the `ProjectDecoder`?  All of them?

[2022-10-14 06:18] cliffoo commented on #5602
Yea only `ProjectDecoder` for this one. I don't know if the same need will arise for contract and contract instance decoders; if they do I guess I'll open issues separately.

[2022-10-14 07:59] haltman-at commented on #5602
OK cool, if it's just `ProjectDecoder` I don't think this should be too hard.

[2022-10-14 09:20] ryanc414 opened #5617 "Tests fail when including multiple Openzeppelin artifacts"
- [ x ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

All Truffle tests fail before they start when including multiple artifacts from Openzeppelin's contracts repo from the migrations via `artifact.require()`.

## Steps to Reproduce

Please see the minimal repro here: https://github.com/ryanc

[2022-10-14 10:22] cds-amal commented on #5617
Hi @ryanc414,

Thanks for the reproduction repo! The error happens because the project has no declared Solidity contracts and therefore during the compilation phase, needed before running tests, no sources are compiled and truffle will have no sources to test. Another minor issue is the path to the OZ contracts are incorrect.

You can apply this patch to the project to address the issues:

1. crea

[2022-10-14 10:54] ryanc414 commented on #5617
Hi there, thank you for your response.

I originally repro'd the issue a  contract definition and I only removed it for the sake of simplicity.

In your suggested fix, it is strange that you are importing the OpenZeppelin contracts in the Solidity code despite the fact that the contract code does not depend on them. It appears that importing these contracts causes them to be compiled and included

[2022-10-14 15:36] lsqproduction opened #5619 "Error better when using <bad_cmd> inside of truffle console"
## Issue

Currently, Truffle produces a not-so-pretty error message when <bad_cmd> is entered inside of a Truffle REPL.
This can be either a user trying to use an invalid Truffle command or some bad javascript.

## Steps to Reproduce
`truffle develop` inside of a truffle project.
`bad_cmd`

## Expected Behavior
returns a less scary error like how Node handles it.
`Uncaught ReferenceError: bad_cmd

[2022-10-14 16:10] lsqproduction opened #5620 "Error better when only `truffle` is entered inside of a REPL"
## Issue

Unclear error messaging is used when only `truffle` is entered inside of a Truffle REPL.
This can be because the user forgets to enter a valid truffle command or is not sure how to use Truffle REPL.

## Steps to Reproduce

`truffle develop` inside of a truffle project
`truffle`

## Expected Behavior
Prompt the user to use `--help | help` to display the full list of valid truffle commands

[2022-10-14 18:28] davidmurdoch commented on #3596
See comment: https://github.com/trufflesuite/truffle/pull/5618#issuecomment-1279330041

[2022-10-14 19:23] haltman-at commented on #5617
Hi!  Jumping in here to clarify a bit what I'm pretty sure is going on here.

The lack of contracts in the original project is not a problem.  Truffle can compile a project with no contracts in it just fine (if you create an empty project and compile there should be no problem).

What is going wrong, then?  Well, one thing I notice is that you're trying to require by source name, rather than contr

[2022-10-15 16:25] ryanc414 commented on #5617
Hi @haltman-at,

Unless this has changed recently, Truffle always used to support importing contract artifacts directly from `node_modules` without requiring them to be compiled and included in the `build/` directory. See e.g. https://github.com/trufflesuite/truffle/issues/1791 for context.

This is a very useful feature to have, as it is very common to want to deploy contracts you didn't write yo

[2022-10-16 21:30] ryanc414 commented on #5617
I've raised a PR - very small change but it fixes the issue in my testing.

[2022-10-17 04:12] Thaina commented on #4456
[code]

[2022-10-17 04:12] Thaina commented on #4456
[code]

[code]

[2022-10-17 06:05] haribidda commented on #4185
if you working on local network
please change to local network from etherum network in metamask wallet

[2022-10-17 12:14] quantix-nft opened #5623 "Unable to deploy to Goerli"
Unable to understand a working configuration to deploy to Goerli.
I've tried a few but the migration remains pending and after 750 sec is aborted.

My current config is:
[code]
impossible to set EIP-1559 too, please help !

[2022-10-17 14:59] eggplantzzz commented on #5623
I'm not sure what is going on but it could be something related to your configuration options. To start with, try a more simple configuration like
[code]

Does this simpler version work? Do note that `gas`/`gasPrice` and `maxPriorityFeePerGas`/`maxFeePerGas` are mutually exclusive.

[2022-10-17 15:11] quantix-nft commented on #5623
with a simpler configuration (like that one you've suggested) the result is the same.
The deploy stucks and  after 750 secs fails . I'm desperate

[2022-10-17 19:25] sahilrajput03 commented on #3780
@eggplantzzz My computer is not slow at all and my system I am not running heavy applications at all. My specs:

CPU: Intel i5-6200U (4) @ 2.800GHz
GPU: AMD ATI Radeon HD 8670A/8670M/8690M / R5 M330 / M430 / Radeon 520 Mobile
GPU: Intel Skylake GT2 [HD Graphics 520]
Memory: 7849MiB

I have a very minimal setup on my desktop and using i3wm.

[2022-10-17 19:25] sahilrajput03 commented on #3780
@eggplantzzz My computer is not slow at all and my system I am not running heavy applications at all. My specs:

CPU: Intel i5-6200U (4) @ 2.800GHz
GPU: AMD ATI Radeon HD 8670A/8670M/8690M / R5 M330 / M430 / Radeon 520 Mobile
GPU: Intel Skylake GT2 [HD Graphics 520]
Memory: 7849MiB

I have a very minimal setup on my desktop and using i3wm.

[2022-10-18 09:50] cds-amal commented on #3780
@sahilrajput03, what do the numbers look like when you [comment out the `development` network](https://github.com/sahilrajput03/dapp-6fig-eattheblocks/blob/main/multisig-wallet/truffle-config.js#L79)? Truffle will use an in-memory Ganache provider when`development` is unspecified.

[2022-10-18 09:57] sahilrajput03 commented on #3780
@cds-amal

[2022-10-18 10:07] sahilrajput03 commented on #3780
@cds-amal here is a video of how it looks in that time on my system: https://www.youtube.com/watch?v=UHDuL7lcv1Q

[2022-10-18 11:51] earizon commented on #5623
Same problem for me.  I can deploy to Goerli from remix online IDE, using the metamask plugin and transactions are committed in about 10-15seconds.

Not sure if this is a truffle or infura "gateway" problem.

Is there any debug flag to help dig into the problem and provide better bug reports?

[2022-10-18 14:29] eggplantzzz commented on #5623
Hmm, I just used @truffle/hdwallet-provider to deploy a test toy project to Goerli successfully. If you want to link me a project on GitHub I can try and use your configuration (minus your Infura key of course) to deploy and troubleshoot this. Let me know if you have a public project you can link for me to use!

[2022-10-18 15:36] eggplantzzz commented on #5505
@baibinghere I just noticed that you are using `ganache-cli` which is a deprecated package. Try using `ganache` and using the latest version (7.4.4). I was able to successfully migrate a test project using a setup similar to yours. Let me know how it goes and I'll try and help get to the bottom of this!

[2022-10-18 15:43] eggplantzzz commented on #3780
@sahilrajput03 hmm very strange. I can't reproduce those results. I'll have to try and think of another way to troubleshoot this.

[2022-10-18 17:28] eggplantzzz commented on #5619
Hmm, I'm not sure we want to deviate from the results that Node gives you. This is what occurs in the Node console when you enter something random in the Node console and hit enter. `truffle develop`/`truffle console` is a Node console with "extra Truffle stuff" after all. :)

[2022-10-18 20:03] earizon commented on #5623
@eggplantzzz Can you share the output of `npm list`. I think my problem is related to some wrong version in truffle of hdwallet.

[2022-10-19 15:05] eggplantzzz commented on #5619
Ah yeah, good point!

[2022-10-19 16:08] cds-amal commented on #3780
Ouch, @sahilrajput03! I couldn't reproduce that on Ubuntu, Arch, Manjaro, or OS X. I wonder if we're testing the same config/code, as the main branch doesn't work without setup. Can you push a branch that I can run w/o modification? **Please do not include mnemonics, or private keys**.

## test output

[code]

[2022-10-19 17:31] sahilrajput03 commented on #3780
I don't think its related to my specific code, even if I run any simple test with just hello world it takes same time.

So, from now we can consider this example:
![image](https://user-images.githubusercontent.com/31458531/196761747-90bc92f9-e6f2-4ace-b0d4-a1e5e7d55ce3.png)

tests take 7 seconds but program exits in in 26 seconds.

I tried to use raspberry pi:

![image](https://user-images.githubu

[2022-10-19 19:23] sukanyaparashar commented on #3329
This should be fixed in [v5.6.2](https://github.com/trufflesuite/truffle/releases/tag/v5.6.2)!

[2022-10-19 19:23] #3329 closed

[2022-10-19 19:25] sukanyaparashar commented on #3412
This should be fixed in [v5.6.2](https://github.com/trufflesuite/truffle/releases/tag/v5.6.2)!

[2022-10-19 19:25] #3412 closed

[2022-10-20 00:06] haltman-at commented on #5617
Ah, sorry, looks like I was mistaken there.  I came in to correct things without actually knowing that area of the code!  Oops.  Well, thanks for correcting me there.

Oh, yikes, that definitely sounds like a bug then.  Thanks.  I'll check it out.

(I'm not sure that your PR is the right way to fix this.  I'll have to go take a look.)

[2022-10-20 00:40] haltman-at opened #5627 "Debugger / decoder / encoder test setup doesn't allow setting config per-test"
## Issue

Honestly, for debugger, this is probably pretty easy to fix.  Likely also for encoder as well.  Decoder may be more of a problem...

## Environment

* Truffle version (`truffle version`): 5.6.2

[2022-10-20 01:25] cds-amal commented on #3780
I tried [different node versions and can't reproduce your issue](https://asciinema.org/a/1GOgjYDZID5NnZIfc1CLHgfYK). I'm at a loss on how to debug this. Did you observe the same performance issue on different Node versions?

- Truffle v5.6.2 (core: 5.6.2)
- Ganache v7.4.4
- Solidity - 0.8.13 (solc-js)

| Node Version  | npm version   | clock/real time (sec)  | user time (sec)  | system time (sec)

[2022-10-20 07:41] sahilrajput03 commented on #3780
Okay, I'll test on a new docker image soon and post the results here.

[2022-10-20 07:44] hellwolf commented on #3780
can we not use benchmarking software to see where is the bottleneck?

Last time (1.5 years ago almost) I remember where was the problem, it was some buggy callbacks build-ups when using web3.js stack.

The point is, if we just have some bechmarking setup it could turn out to be quite obvious, but that has to be built into the truffle development process.

[2022-10-20 09:34] kolebayevv commented on #4123
@johnnylambada I understand that I'm asking a year later, but what is the error model that you get from the revert? I'm working with handling reverts made with customErrors now and getting just `{ message: string; stack: string }` from revert. which is strange, information about the error lies as a string inside the message field, for example:
[code]

[2022-10-20 17:39] drintg commented on #5050
Hi ! I have a similar problem, but for me, didn't even worked for once the "truffle dashboard" command. All I see is a blank white page since the beginning.
<img width="556" alt="2" src="https://user-images.githubusercontent.com/116302475/197019743-ff55ee80-27c5-48f1-bde7-cf9ff02d36f2.png">
<img width="1194" alt="1" src="https://user-images.githubusercontent.com/116302475/197019746-47359251-2bc8-4

[2022-10-20 20:32] haltman-at commented on #4617
We no longer support node 12 so I'm closing this!

[2022-10-20 20:32] #4617 closed

[2022-10-22 05:29] wrule commented on #5210
Great, looking forward to it

[2022-10-23 08:04] Sveagruva opened #5638 "hdwallet-provider never being garbage collected"
## Issue

hdwallet-provider not being garbage collected

## Steps to Reproduce

create hdwallet-provider
track weak reference
stop engine

[code]

## Environment

* Operating System: Linux
* Truffle version -
* @truffle/hdwallet-provider: 2.1.0,
* node version 18.11.0
* npm version 8.19.2

[2022-10-23 14:04] cds-amal opened #5639 "Testing `compile --list docker` shouldn't rely on networking"
[core/test/lib/commands/compile.js](https://github.com/trufflesuite/truffle/blob/develop/packages/core/test/lib/commands/compile.js#L83) causes CI to fail, specifically for the `--list docker` which times out when querying Docker-hub. We should probably evaluate the tests' benefits and consider mocking away network calls as @haltman-at previously suggested.

[2022-10-25 21:07] gnidan opened #5643 "Truffle DB's Project abstraction lacks any read interface"
## Issue

The [@truffle/db Project abstraction](https://trufflesuite.com/docs/truffle/db/classes/project.project-1.html) allows loading compilations and migrations, but does not provide an easy means to query a particular project for contracts or contract instances, thus requiring someone who wants this data to construct a graphql query by hand.

Like, no one really wants to have to do this:
[code

[2022-10-26 20:36] sukanyaparashar commented on #5617
This should be fixed in the new release https://github.com/trufflesuite/truffle/releases/tag/v5.6.3

[2022-10-26 20:36] #5617 closed

[2022-10-26 20:38] sukanyaparashar commented on #5578
This should be fixed in the new release https://github.com/trufflesuite/truffle/releases/tag/v5.6.3

[2022-10-26 20:38] #5578 closed

[2022-10-27 16:43] cliffoo commented on #5505
Closing this for issue maintenance. @baibinghere If you're still experiencing this with the latest `ganache` feel free to open another issue! Thanks :)

[2022-10-27 16:43] #5505 closed

[2022-10-27 16:47] cliffoo commented on #5623
^ @quantix-nft

[2022-10-27 16:51] cliffoo commented on #5567
Closing for issue maintenance.

[2022-10-27 16:51] #5567 closed

[2022-10-27 16:53] cliffoo commented on #5555
Closing for issue maintenance.

[2022-10-27 16:53] #5555 closed

[2022-10-27 17:53] davidmurdoch commented on #5638
Interesting. I was able to reproduce this, and even tried enclosing the `provider` in its own scope just in case the while loop was keep a reference to it some how, but still wasn't seeing the GC happen.

How did you stumble on this issue?

[2022-10-27 18:08] davidmurdoch commented on #5366
@benjamincburns We're triaging this in ticket processing and it isn't clear what you think we should do about this? Should we move it to Backlog or should we keep it in Needs Followup in order to encourage more discussion?

[2022-10-27 18:09] davidmurdoch commented on #5138
New keeper of the current status is @gnidan. @benjamincburns if you are available before this gets done @gnidan welcomes your assistance.

[2022-10-27 18:13] davidmurdoch commented on #4272
We've updated our internal process at Truffle to continually address these deprecated dependency warnings, including warnings for development packages! Because many, if not all, of the warnings that were present when this issue were opened have been taken care of, and because this is now a part of our process, i'm going to go ahead and close this issue. Thanks!

[2022-10-27 18:14] Sveagruva commented on #5638
I was creating new provider for every operation on backend with user provided pk. every instance was continuing making web3 requests

[2022-10-27 19:29] davidmurdoch commented on #5638
I think I've figured out what is going on. During the lifecycle of a `truffle` command, like `migrate or `test`, a `truffle-config.js` file may be loaded several times. Each config instance may have its own `HDWalletProvider`, but all set with the same accounts. Because `HDWalletProvider` tracks the current nonce of each account, if different instances of a provider is used during the life of the

[2022-10-27 21:14] benjamincburns commented on #5366
Sorry, I think I discussed this one offline with Faina but never circled back to update the ticket.

The issue as I see it isn't that the GA client code is broken. Rather the issue is that the logic required to actually trigger an error to be reported via that client seems to be broken for the reasons that I documented in the original description.

The code that I linked in the original descriptio

[2022-10-27 21:20] benjamincburns commented on #5366
Ah sorry, I just noticed the final `else` condition that does handle the base `Error` case, however I think the other concerns (especially the one about `TruffleError` as it relates to config issues) are still valid.

[2022-10-28 01:25] haltman-at commented on #4272
FWIW, the warnings I just got on trying installation just now are:
[code]

That's so much less than it used to be!

Anyway it looks like @davidmurdoch forgot to actually close this like he said, so I'll go ahead and close it.

[2022-10-28 01:25] #4272 closed

[2022-10-28 13:47] earizon commented on #503
I think that it will be enough for truffle test to accept the "-f" (from) and "--to" flags, as interpreted by truffle migrate.
At this moment those flags are ignored.

There are very good reasons to skip deployments while executing tests. Functional test or integration test will require deployments to get sure that functional and/or integration tests work as expected. Unit-test have a real need to

[2022-10-28 17:13] fainashalts opened #5659 "Add Ethers provider support to Truffle"
In our efforts to support various L2s, we have found that many of these protocols rely on ethers definitions for things like signers and providers. Truffle does not seem to deeply support ethers, defaulting in many cases to web3.js. We need to fix this!

- [ ] Audit everywhere the Truffle code relies on web3js
- [ ] Scope out the changes needed to support ethers in addition
- [ ] Implement

[2022-10-28 17:13] fainashalts commented on #5659
@benjamincburns are you working on this? I believe Kevin had planned to pass this work to you to complete but wanted to check in!

[2022-10-28 19:00] wbt commented on #4272
Are there open issues tracking the remaining ones?

[2022-10-30 21:48] OnlyOneJMJQ opened #5662 "The help command for `truffle console` doesn't mention the `--network` option"
## Issue

The help command for `truffle console` doesn't mention the `--network` option.

## Steps to Reproduce

Run `truffle console --help`, you'll see the following output:

<img width="570" alt="image" src="https://user-images.githubusercontent.com/3990373/198902947-ffe4b571-704e-489f-8908-ec08b8b99acc.png">

In this screenshot you'll also note I successfully use the `--network` option in the

[2022-10-30 22:54] gnidan commented on #5662
Good catch!

[2022-10-31 17:36] lsqproduction commented on #5662
Yeah, That's because on the command's meta.js. The help and builder objects have different info. `--help` uses the information from the `builder` object.  in this case, it is missing those.  Going to put in a fix for this.

[2022-10-31 23:39] lsqproduction commented on #503
Hi @earizon.
Thank you for bringing this to our attention.
Can you help to open a new issue, and we can coordinate the code changes needed for this?

[2022-11-01 21:44] benjamincburns commented on #5659
I'm not working on it per se, I just had a conversation with Kevin about it prior to his departure.

Unfortunately I don't have much to add beyond what he already captured in the HackMD document linked from issue #5131

[2022-11-02 09:52] Akabanes opened #5667 "Truffle test issues "segmentation fault (core dumped)""
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

When i try to connect to Blockchain, terminal issues says that program try to get access to unavaible part of memory
Maybe it's happend because i used virtual machine, not a whole operating system

## Steps to Reproduce
![1](https://user-ima

[2022-11-02 20:44] lsqproduction commented on #5323
released in truffle [v5.6.4](https://github.com/trufflesuite/truffle/releases/tag/v5.6.4)

[2022-11-02 20:44] #5323 closed

[2022-11-02 20:47] lsqproduction commented on #5600
released in truffle [v5.6.4](https://github.com/trufflesuite/truffle/releases/tag/v5.6.4)

[2022-11-02 20:47] #5600 closed

[2022-11-02 22:01] gnidan commented on #5659
Note that we do have to distinguish "relies on Web3.js" from "exposes Web3.js to our users". Obviously we're not going to rework the internals of Truffle for an external concern.

[2022-11-03 03:53] cds-amal opened #5670 "db: update apollo-server to @apollo/server"
apollo-server (v3.x) is now @apollo/server (v4.x), we should upgrade.

[2022-11-03 04:12] haltman-at commented on #5659
Note we already have issue #5138.  Is this one intended to be broader?  If so you might want to change the titles to clarify the difference.

[2022-11-03 05:38] anisurrahman072 commented on #3357
Hey I have solved finally ✌️🎉
I didn't use truffle HD Wallet anymore as it gave me a lot of pain 😞. Finally, I used the core etherium web3.js for everything like provider instance creation, wallet selection, pay gass, everything. I used core etherium library https://github.com/ethereum/solc-js  for the ABI (Application Binary Interface) & bytecode generation.

I used Alchemy for my Polygon mumbai

[2022-11-03 17:25] fainashalts commented on #5659
I think we can close this issue in favor of #5138. Thanks!

[2022-11-03 17:25] #5659 closed

[2022-11-03 17:44] kevinbluer commented on #5667
Hey @Akabanes, thanks for opening this! Any chance you'd be able to share the project / repo so we can test it on our side? In addition, it could be worth seeing if you can allocate more memory to the VM just to see if that helps resolve things.

[2022-11-03 17:53] kevinbluer commented on #3780
Hey @hellwolf, if we do a special release to test @haltman-at's theory regarding the web3.js version difference would you be willing to test it and let us know what happens? Thanks again for working with us on this!

[2022-11-03 18:19] kevinbluer commented on #4662
Note that this is related to the fact that we don't have a fully automated release process. Also a possible interim fix could be for whomever's doing the release do to it from a `/Users/truffle` path.

[2022-11-03 21:32] kevinbluer opened #5673 "When debugging certain txns (via --fetch-external) incorrect lines are being selected when stepping"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

When debugging certain transactions that are externally fetched, it appears that the incorrect lines are being selected when stepping through. Example transactions include [0xc5091f01de2e571c7cc54a9743a9d90e26209b7e5ca739bd78cd50e86f82db00](

[2022-11-03 22:51] fainashalts opened #5674 "Convert Truffle Configuration to be Environment-Based"
Notes from meetings about this topic can be found here: https://hackmd.io/DW9pzTwUQkG1hof8iG2G4Q?both

Essentially, we want Truffle users to be able to specify development environments (testing, staging, production, etc.). Each environment should mirror the others, so that a user can run `truffle migrate production`, for instance. Each environment can contain multiple networks, allowing Truffle to

[2022-11-03 22:56] fainashalts opened #5675 "Research task: find all places where config object is used"
We need to know where and how the config is being used across Truffle, to better understand what will need to be changed for environment-based configuration. This is the first task moving us toward that goal.

- [ ] Locate and record all places where the Truffle `config` object is used
- [ ] Note the shape of the config object expected in each place

[2022-11-04 00:57] cliffoo commented on #4850
That definitely doesn't happen by default. Perhaps when dashboard starts needing data from more Truffle events we can add some boilerplate, using a new message type as @benjamincburns suggested:
[code]
We are able to configure it! In my decoding in dashboard PR I'm [explicit about](https://github.com/trufflesuite/truffle/blob/95a094218a2c7a4983723bf9149f0ef34131940d/packages/events/defaultSubscrib

[2022-11-04 00:57] cliffoo commented on #4850
Thanks @benjamincburns @MicaiahReid!

[2022-11-04 00:57] #4850 closed

[2022-11-04 16:51] haltman-at commented on #5674
Note we already have issue #5478... is this intended to be different?

[2022-11-04 16:52] haltman-at commented on #5673
This is probably just due to bad sourcemaps resulting from optimization, unfortunately.  I don't know that there's anything we can do about this without better sourcemaps.

[2022-11-05 00:09] berrezougAbdelhak commented on #3356
This solution worked for me thanks

[2022-11-07 22:17] benjamincburns commented on #5371
Note that with potential upcoming changes to @truffle/config (switching to JSON and/or YAML), this ticket may need to be rewritten to apply to any offshoot scripts that need to be created (e.g. provider factory function).

[2022-11-08 00:32] jeffsmale90 opened #5679 "`truffle create test` has confusing UX"
- [x ] I've discussed with @haltman-at before filing this issue.

---------------------------

## Issue

After calling `truffle init`, the following message is shown:
[code]

When creating a test via `truffle create test`, if the argument provided for `YourTestName` does not match the name of a contract, then it will fail to deploy.

## Steps to Reproduce

1. Create a contract with `truffle create

[2022-11-08 00:36] jeffsmale90 opened #5680 "Compilation warning is returned from contract created by truffle"
- [x] I've discussed with @haltman-at before filing this issue.

---------------------------

## Issue

A contract created via `truffle create contract` will return a compilation warning.

## Steps to Reproduce

1. Create a contract with `truffle create contract YourContractName`
2. Attempt to compile the contract `truffle compile`

## Expected Behavior

Contract compiles successfully with no warn

[2022-11-08 00:39] jeffsmale90 opened #5681 "`truffle help` version command mismatches implementation"
- [x] I've discussed with @haltman-at before filing this issue.

---------------------------

## Issue

`truffle help` shows incorrect instructions for accessing the version information.

## Details

`truffle help` shows `truffle --version` but returns:

[code]

`truffle version` is the actual command to show version information

## Environment

* Operating System: MacBook pro
* Ethereum client: G

[2022-11-08 20:32] Pobepto commented on #5619
@lsqproduction @eggplantzzz
Hi all, I can help if you tell me what needs to be done :)

[2022-11-09 15:48] eggplantzzz commented on #5619
Hey hey @Pobepto! Sure, you'll notice that if you open up a normal Node terminal, enter some random text, and then hit enter you will receive a message that reads something like "Uncaught ReferenceError: someText is not defined". This should be what you get if you do the same thing in the Truffle console (try running `truffle develop` inside the directory for a Truffle project and you will be give

[2022-11-09 16:23] Pobepto commented on #5619
Yeah, I think I can figure it out 🤔
Anyway, I'll get to work and if there's any news I'll let you know

[2022-11-09 18:09] eggplantzzz opened #5688 "Add spinner to Docker download flow"
In https://github.com/trufflesuite/truffle/pull/5672 I removed a spinner that wasn't working. We should add that in in the event system.

[2022-11-09 19:12] MysticDakra commented on #3710
I fixed this issue with the same solution...

const Web3 = require("web3");

module.exports = {
  // ...
  networks: {
    development: {
      provider: () => new Web3.providers.HttpProvider("http://127.0.0.1:7545"),
      host: "127.0.0.1",
      port: 7545,
      network_id: "*",
    },
    // ...
  },
  // ...
}

[2022-11-09 19:29] bater53 commented on #3710
You do realize that you can change the port number to 8545?  It is just
that simple.   Just check what truffle is pointing at for the point and
change it to that port or change the port in the truffle settings to 7545,
Not difficult.   I hope this helps.

On Wed, Nov 9, 2022 at 2:12 PM Dakra-Mystic ***@***.***>
wrote:

[2022-11-09 19:32] MysticDakra commented on #3710
The port number wasnt the issue, I had mine set at 8545 as well the problem was the provider.

[2022-11-09 19:44] bater53 commented on #3710
Sorry I responded.  I won't the next time.

---------- Forwarded message ---------
From: Dakra-Mystic ***@***.***>
Date: Wed, Nov 9, 2022 at 2:32 PM
Subject: Re: [trufflesuite/truffle] RuntimeError and then Could not connect
to your Ethereum client with truffe > 5.1.49 (#3710)
To: trufflesuite/truffle ***@***.***>
Cc: Byron Stephen Ater ***@***.***>, Comment <
***@***.***>

You do realize that you

[2022-11-10 00:19] benjamincburns opened #5690 "Dashboard sometimes only listens on ipv6 loopback by default"
## Issue

While helping @OnlyOneJMJQ troubleshoot an issue with the truffle dashboard, we encountered a problem where the dashboard's HTTP server was listening only on the IPv6 loopback interface, while his `truffle migrate` command was attempting to connect to the IPv4 interface. This resulted in a mix of `ECONNREFUSED` and `ECONNTIMEOUT` errors from the `truffle migrate` process as it was attemp

[2022-11-10 00:47] benjamincburns commented on #5690
Hmm, it doesn't seem that ExpressJS is the culprit. When we call `expressApp.listen`, [express is just proxying that call over to `httpServer.listen`](https://github.com/expressjs/express/blob/ea537d907d61dc693587fd41aab024e9df2e14b1/lib/application.js#L616-L619) (permalink points to current, at time of writing, HEAD of `4.x` branch). 🤔🤔🤔

[2022-11-10 01:16] benjamincburns commented on #5690
On further inspection, I don't think the `net` package makes any effort to bind to both IPv4 and IPv6 addresses on a call to `listen`.

I traced the code through to where it opens up the file descriptor to listen on the port, and [the logic](https://github.com/nodejs/node/blob/09ae62b9a869ff19d634b0fd1f5a17f198cd1ae7/lib/net.js#L1396-L1411) is clearly mutually exclusive.

I have however confirmed

[2022-11-10 01:28] benjamincburns commented on #5690
Also related:

- nodejs/node#40702
- nodejs/node#41625 - [Happy Eyeballs](https://en.wikipedia.org/wiki/Happy_Eyeballs) support
  - this likely will fix this issue when implemented, but said fix won't apply to current versions of node

The first issue above suggests alternative workaround that is arguably simpler to implement than the one I proposed in my previous comment: simply setting [dns.setD

[2022-11-10 03:28] benjamincburns commented on #5690
Looks like changing it to explicitly listen on both protocols will work.

Note that I haven't changed the message bus yet (will need to do that as part of this), but for only the dashboard server's HTTPServer here's the before/after view as shown by `lsof -i -P | grep LISTEN`:

Before:
[code]

After:
[code]

[2022-11-10 08:33] Pobepto commented on #5619
@eggplantzzz, yeah, it's okay, I've already created a couple of PR's here 🙂

[2022-11-10 14:38] Dania001 opened #5695 "Error: Returned error: VM Exception while processing transaction: revert"
can someone please help me...my tests are not running
this is what my terminal is showing

 Contract: DecentralBank
    mock tether deployment
      √ should match the name and symbol correctly (1518ms)
    reward token deployment
      √ should matches the name and symbol correctly (635ms)
    decentralBank deployment
      √ should match the name successfully (291ms)
      √ contract has enough

[2022-11-10 15:51] eggplantzzz commented on #5695
It looks like a transaction is reverting somewhere for some reason. Check your code and see if you can trace down which transaction is reverting.

[2022-11-10 15:55] Dania001 commented on #5695
hey @eggplantzzz i have checked everything soo many times i dont know what is wrong everything is compiling and migrating successfully i have no idea why its reverting back ....kindly help

[2022-11-10 17:13] leeftk commented on #5586
Closing here for issue maintenance. Feel free to open another issue if you're still having any problems with this. Thanks!

[2022-11-10 17:13] #5586 closed

[2022-11-10 17:18] lsqproduction commented on #5681
Hi @jeffsmale90 Was this inside `truffle develop` or `truffle console`?

[2022-11-10 18:42] fainashalts commented on #5674
Thanks @haltman-at! Not sure how I missed the previous epic. Closing this one in favor of the previously opened epic.

[2022-11-10 18:47] cliffoo commented on #5680
The scaffold contract provided by `create` can use the version of solidity the user has configured, but this has some gotchas since the compiler supplier is needed for using the accurate version of the compiler.

[2022-11-10 18:53] cliffoo commented on #5681
Hey @jeffsmale90 were you trying `truffle --version` in a truffle REPL? Try `truffle --version` on the latest version.

[2022-11-10 19:12] cliffoo commented on #5695
Hey @Dania001 take a look at our [debugger docs](https://trufflesuite.com/docs/truffle/how-to/debug-test/use-the-truffle-debugger/) and try it out in your project, see if you can crack this issue a bit with it.

[2022-11-10 19:22] cliffoo commented on #4601
The high severity labeled warning appears to no longer be present on the latest version of `@truffle/contract`. Closing.
Thanks @wbt !

[2022-11-11 07:18] xl180500 opened #5697 "✖ Setting up box"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
The terminal returned a bunch of them. Can someone help me see if this works?

## Steps to Reproduce

? Proceed anyway? (Y/n)
Starting unbox...
=================

? Proceed anyway? Yes
✓ Preparing to download box
✓ Downloading

npm WARN old l

[2022-11-11 09:30] cds-amal commented on #5697
Hi @xl180500, the error indicates the `unbox` failed. What box are you trying to set up?

[2022-11-11 17:25] xl180500 commented on #5697
NFT BOX

[2022-11-12 20:30] kaber2 opened #5698 ""Could not decode event" - decoding 3rd party contract events"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I'm trying to write test for a contract which internally interacts with various other pre-existing contracts. Both for debugging and for testing these interactions, I would like to decode events emitted by these contracts. However after read

[2022-11-14 19:33] kaber2 commented on #5698
Thanks for your response. I'll try to put something together tomorrow.

[2022-11-14 22:20] acuarica opened #5701 "Support `--url` option in all Truffle CLI commands that accept a network"
- [x] I've discussed with @gnidan and @haltman-at before filing this issue.

---------------------------

## Issue

Some Truffle CLI commands need a network connection to perform their action. Here is a _non-exhaustive_ list of these commands:  `console`, `debug`, `deploy`/`migrate`, `exec`, `test`, and `run`. All these commands accept the `--network` option, that allows the user to indicate the n

[2022-11-15 01:56] haltman-at opened #5702 "No source fetcher for Subscan"
## Issue

See also: #4779

So in addition to Etherscan, Sourcify, and Blockscout, [Subscan](https://www.subscan.io/) also supports contract verification.  At least, on some of its networks; not on most of them.  But it supports it on a few of them, and even some ones that Etherscan and Sourcify currently don't.

(Note: One of these is Astar's Shibuya network, which uses chain ID 81, but which does

[2022-11-15 09:27] marcello33 opened #5703 "Vulnerability in one dependency"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

`truffle@5.6.5` comes with vulnerabilities, as detected by `snyk`.

Please, update that dependency.

## Steps to Reproduce

Run `snyk test` or - theoretically - any other dependencies' vulnerabilities detector on any truffle project

## Expe

[2022-11-15 09:32] marcello33 opened #5704 "Vulnerabilities in some dependencies"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

`@truffle/hdwallet-provider@2.1.1` comes with vulnerabilities, as detected by `snyk`.

Please, update the dependencies.

## Steps to Reproduce

Run `snyk test` or - theoretically - any other dependencies' vulnerabilities detector on any truf

[2022-11-15 16:03] davidmurdoch opened #5705 "Truffle packages' `package.json`s have a bunch of extra fields that shouldn't exist"
Like this one: https://github.com/trufflesuite/truffle/blob/275115e1ce358aad3050a7583c034e5d19d885a1/packages/environment/package.json#L40

These extra fields should be identified and removed.

[2022-11-15 17:08] lsqproduction commented on #5705
@davidmurdoch, thanks for catching these. Any thoughts on how one might identify these?

[2022-11-15 17:44] davidmurdoch commented on #5705
I think @eggplantzzz added them all in a single commit long ago. Doing a git blame on that line above should reveal the commit that caused it.

[2022-11-15 19:34] haltman-at commented on #5705
Huh, I thought these got added by our release process?

[2022-11-15 19:35] haltman-at commented on #5704
This appears to be identical to #5703, so I'm closing it in favor of that one.

[2022-11-15 22:43] davidmurdoch commented on #5705
Per this comment https://github.com/lerna/lerna/issues/1880#issuecomment-456160357:

1. `gitHead` provides metadata for packages in the registry, and is based on the [existing behavior](https://github.com/npm/read-package-json/blob/6bac747004d5bc334a9f37c3799a965954d16641/read-json.js#L363) of npm publish.
2. It is not meant to be versioned. `lerna publish` should always be [resetting those change

[2022-11-16 04:10] haltman-at commented on #5702
OK, I took a look at this because I didn't have time for much else tonight.  Conclusions:

1. Unlike the Blockscout API, the Subscan API does seem to be good enough to be usable.  However...
2. I wasn't able to determine how it handles linked libraries.  It clearly *does*, there's a field for this, but the docs don't explain it; the example in the docs doesn't use linked libraries, so I don't know

[2022-11-16 06:30] marcello33 commented on #5704
Hi @haltman-at, my bad sorry, I updated the description, the issues here are different now, as you can see (these are related to `@truffle/hdwallet-provider@2.1.1`.

Can you reopen the PR?
Thank you

[2022-11-16 17:23] eggplantzzz commented on #5705
I don't really know how these get committed to source control to be honest. I assume they accidentally get committed along the way.

[2022-11-16 17:32] cds-amal commented on #5697
@xl180500 I was able to unbox it, though it did have some npm lockfile warnings and deprecation notices. Are you behind a proxy?

[code]

[2022-11-16 21:49] dongmingh commented on #5602
Close the issue since this is fixed in Truffle v5.6.6.

[2022-11-16 21:49] #5602 closed

[2022-11-17 01:20] haltman-at commented on #5704
Sure, I can reopen the issue.  For simplicity in the future I'd recommend just filing a new issue in a case like this.

[2022-11-17 07:42] aftab-blockchaindev opened #5712 "installing truffle install"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give exa

[2022-11-17 16:42] eggplantzzz commented on #5712
Will you provide some more information about the problem you are experiencing?

[2022-11-17 18:49] cds-amal commented on #5704
These seem to be coming from web3, but we'll add to our backlog and eventually get to it.

[2022-11-17 18:58] cds-amal commented on #4564
@fainashalts says this is no longer the case.

[2022-11-17 18:58] #4564 closed

[2022-11-17 18:59] cds-amal commented on #4559
@fainashalts says this is no longer true!

[2022-11-17 18:59] #4559 closed

[2022-11-17 19:08] cds-amal commented on #4254
Hey @mortyly,

Can you clarify in what situations you'd want this warning? Specifically, which commands should emit these warnings?

Thanks

[2022-11-17 19:10] cds-amal commented on #4181
Hey @LuisUrrutia , are you still interested in contributing? Let me know, and I'll go over the tasks.

[2022-11-17 19:12] cds-amal commented on #1679
Should this be reprioritized? @gnidan

[2022-11-17 19:13] gnidan commented on #1679
Yes, I don't think this is as urgent as a 3. Maybe 5?

[2022-11-17 19:19] cds-amal commented on #1728
Might be related to #1885.

[2022-11-18 03:19] #2194 closed

[2022-11-18 03:19] #4114 closed

[2022-11-18 03:19] #4382 closed

[2022-11-18 03:21] haltman-at commented on #4114
OK, we've finally documented this on [the configuration reference page](https://trufflesuite.com/docs/truffle/reference/configuration/); the update hasn't gone up yet but it should soon!  Sorry for taking so long to get to this!

[2022-11-18 03:21] haltman-at commented on #4382
All the parts of this are finally done, pretty sure!

[2022-11-18 04:22] sachintha00 commented on #5667
I have the same error. But I'm running Ubuntu without a virtual machine. 

![image](https://user-images.githubusercontent.com/80079235/202616196-549ed923-711d-4361-b9cb-e7d6df132975.png)

[2022-11-18 04:47] cds-amal commented on #5667
Hey @sachintha00, could you share a git repo with reproduction steps, so I can investigate?

[2022-11-18 06:02] sandeshwalunj commented on #4000
Hii Have you got solution i also got this error today...plz tell me a solution...?thank you!

[2022-11-18 07:34] marcello33 commented on #5704
Will report to web3 too. Thanks.

[2022-11-18 17:35] cliffoo opened #5714 "Dashboard should add compilations to decoder via `addAdditionalProjectInfo`"
#5646 introduced a new interface to add compilations to an existing `ProjectDecoder`. Dashboard should make use of this instead of making a new instance when new compilations come in.

[2022-11-18 19:45] gnidan opened #5718 "@truffle/source-fetcher uses HTTP for Sourcify instead of IPFS"
There's no way to configure @truffle/source-fetcher (or @truffle/fetch-and-compile) to use the more decentralized interface to Sourcify of IPFS via IPNS. We likely should make this configurable, for users who can/want to read directly from the repository and not have to go through Sourcify's servers.

[2022-11-21 15:41] rsodre commented on #3436
I up this request.

My use case is very simple, I have 2 distinct truffle projects, and Project2 accesses can access Project1 contracts.
I just need to read the other project deployed addresses.

[code]

I used to create symbolic links but it does not work sometimes.

[2022-11-21 19:00] rsodre commented on #3436
I made a workaround for my use case...

[code]

Using `build_directory` from the `truffle-config.js`...

[code]

[2022-11-22 20:25] lsqproduction commented on #4000
@sandeshwalunj Can you please help to open a new issue with the exact error message you got as well as the reproduction steps to get the error message?

[2022-11-23 02:32] cliffoo commented on #4618
Hey @AOUNT and @ngochiencse I got `@truffle/contract` working in angular 13 [here](https://github.com/cliffoo/trufflesuite-reprod/tree/truffle%234618), please take a look (`npm i` and `ng serve` to try it out). If you're unsure about what's going on have a look at the git history as I've separated the various steps (bootstrapping, adding polyfills, etc.) to get this working.

Let me know if this w

[2022-11-23 05:49] ngochiencse commented on #4618
@cliffoo have you tried angular 14?

[2022-11-23 13:05] XavierTM opened #5729 "Error downloading solidity compiler on macOS"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Truffle failing to compile contracts

## Steps to Reproduce
[code]

## Expected Behavior
Expected the command to be successful

## Actual Results
[code]

## Environment
**Operating System**: macOS 13.0.1 Ventura
**Truffle version**: `v5.6.6

[2022-11-23 13:22] cds-amal commented on #5729
Hello @XavierTM,

Are you connected to the internet?

The error indicates you might have a network issue.  Can you run the following command and share the output? `DEBUG=*,-compile*,-dashboard*,-db*,-profile* truffle migrate`

[2022-11-23 15:40] XavierTM commented on #5729
Hi @cds-amal I don't think it's a network issue, my internet is working fine. Here is the output of the command you told me to run:

[code]

[2022-11-23 15:45] cliffoo commented on #4618
I've not, since @AOUNT was specific about using angular 13. I don't imagine angular 14/15 being any different in this regard (you need to install and configure the polyfills).

[2022-11-23 15:58] cds-amal commented on #5729
@XavierTM Thanks for the data point! I was able to reproduce this by deleting my compiler cache.

[2022-11-23 16:17] XavierTM commented on #5729
@cds-amal any idea how to fix it?

[2022-11-23 16:31] cds-amal commented on #5729
@XavierTM, It started working for me. Strange! It's possible there was an intermittent issue on the Solidity side (endpoint that hosts the compilers). Can you try the command again?

I'll keep an eye for connectivity issues, and leave updates here. Sorry for the inconvenience!

[2022-11-23 18:40] XavierTM commented on #5729
@cds-amal I figured out this could be a macOS issue, I tried on Kali Linux VM and it's working

[2022-11-23 23:54] cliffoo commented on #4897
Released in [v5.6.7](https://github.com/trufflesuite/truffle/releases/tag/v5.6.7). Dashboard now persists workflow-compile results.

[2022-11-23 23:54] #4897 closed

[2022-11-23 23:56] cliffoo commented on #5705
#5710 is merged and included in the [v5.6.7](https://github.com/trufflesuite/truffle/releases/tag/v5.6.7) release. Closing.

[2022-11-23 23:56] #5705 closed

[2022-11-23 23:58] cliffoo commented on #5703
Hey @marcello33 can you see if snyk can detect the same vulnerability in [v5.6.7](https://github.com/trufflesuite/truffle/releases/tag/v5.6.7)? It includes the mocha upgrade.

[2022-11-25 14:41] dancespiele opened #5735 "Cannot initialize HDWalletProvider"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

When I try to initialize `HDWalletProvider` I get this error:
[code]

## Steps to Reproduce

The code to reproduce:
[code]
I checked that SEE_WORDS contain the 12 words

## Expected Behavior

HDWalletProvider should initialize

## Actual Res

[2022-11-26 00:54] cds-amal opened #5736 "Truffle doesn't decode custom revert error"
## Issue

Can't decode a custom error with truffle develop or console.

## Steps to Reproduce

1. Create a new truffle project and add the following contract.

[code]
1. start truffle develop
  `truffle develop`
1. Compile the contracts, instantiate and interact with contract
  - `compile`
  - `clue = await Clue.new()`
  - `await clue.poke({gas: 0xfffff})`

## Expected Behavior

The contract shoul

[2022-11-26 10:53] earizon opened #5737 ""Critical" dependency in broken@ethersproject/bytes"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.
---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce
`methodA(address inputVal )` is a mock Solidity pure function returning incomming `inputVal`.

Next truffle test work as expected:

      result = await contract.methodA.call('0x3598

[2022-11-26 19:12] #5737 closed

[2022-11-26 19:13] earizon commented on #5737
(Closing now. I need to investigate further, I'm not able to reproduce the bug in a new fresh environment)

[2022-11-28 13:33] marcello33 commented on #5704
I reported it to web3 too. They'll include a fix in the next release.

[2022-11-28 13:38] marcello33 commented on #5703
It worked, thanks @cliffoo .

[2022-11-28 16:28] eggplantzzz commented on #5704
Sure! Sometimes keeping up to date with web3 is not trivial. I'll go ahead and put in a PR for that version to see if it is an easy upgrade and will pass CI.

[2022-11-29 15:19] xluckydegen commented on #2090
Is there ay news about this issue? I also would like to use chai-bn to compare BN in the test framework

[2022-11-29 22:59] haltman-at commented on #5736
We already have #4123; can this be closed as a duplicate?

[2022-11-29 23:02] haltman-at commented on #3944
Hm, looks like this never got closed.

[2022-11-29 23:02] #3944 closed

[2022-11-30 10:57] LinLL opened #5745 "Truffle test wrong with "after each" hook"
- [O] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Truffle test failed when using ganache with alchemy. I will get  failed "after each" hook.

## Steps to Reproduce
[code]
truffle-config.js
[code]
TestGameOmni.js
[code]

## Expected Behavior
I want to only get test2 failed.

## Actual Result

[2022-11-30 14:55] wbt opened #5746 "TS compilation errors in contract-schema"
In addition to issues duplicating #4825 (closed & I can't reopen, but for a different package) about types being messed up, in @truffle/contract-schema the [index.d.ts](https://npm.runkit.com/@truffle/contract-schema/spec/index.d.ts?t=1669818862275) file triggers 21 errors on compilation, related to possibly-undefined values not being assignable to a definitely-defined index type:

[code]

I don't

[2022-11-30 19:44] truegff commented on #5667
Hi @cds-amal ,

I'm experiencing the same issue.
Here's the project repo as you've asked:
https://github.com/truegff/cbde_practice/tree/main/02_supply_chain_app

Environment:

alexander@alexander-ThinkPad-X250:~/Documents/blockchain_workspace/02_supply_chain_app$ truffle --version
Truffle v5.6.6 (core: 5.6.6)
Ganache v7.5.0
Solidity - 0.8.17 (solc-js)
Node v16.18.1
Web3.js v1.7.4
alexander@alexand

[2022-11-30 23:06] haltman-at opened #5748 "Debugger CLI doesn't display types of decoded variables"
## Issue

@gnidan has suggested that the debugger CLI should display the types of variables; currently it doesn't do this.

## Environment

* Truffle version (`truffle version`): 5.6.8

[2022-11-30 23:36] truegff commented on #5667
Uninstalling and reinstalling of nodejs and truffle fixed the issue:
[code]

I can't reproduce this issue anymore.