[2018-09-05 10:54] Levino commented on #713
So this works:

[code]
So you have to start with one `deployer.then` call.

The problem is obviously also that the exported function is **not expected to return a promise**. You can see this because the following actually works:
[code]
While I actually would expect only this to work:
[code]
So instead of attaching some weird own `then` property to the deployer object, `truffle` should expect a pro

[2018-09-05 15:09] tarekskr commented on #1254
Thanks @cgewecke , I am actually using MetaMask to access my daap on Ropsten.

So I used the callback `tokenInstance.Transfer(function(error, event) {`  instead of `.on('data', event => {` and I actually got the following error:
[code]

With further research, it turns out MetaMask [does not support websockets yet](https://github.com/MetaMask/metamask-extension/issues/2601).

My question remains, h

[2018-09-05 15:48] cgewecke commented on #1254
@tarekskr Ah!! I didn't know the callback was *also* websockets - my understanding was that it was a polling fallback. I'll look into this further today.

[2018-09-05 15:59] cgewecke commented on #713
@Levino Agree, this has been the source of confusion for a while.

[truffle@beta](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#new-migrations) includes a fix for it. The migrations can now be written  using `async/await` and behave more a little more intuitively:

[code]

[2018-09-05 17:31] cgewecke commented on #550
@Levino How are you using the provider engine? Through a Wallet Provider?

At the moment we address this within truffle by running `process.exit` at the end of a command. And Web3 1.0 has [just added](https://github.com/ethereum/web3.js/releases/tag/v1.0.0-beta.36) a way of closing the provider in `beta.36` so that should be available soon for Truffle V5 as well.

[2018-09-05 21:32] gnidan commented on #1222
Might be tricky re: monorepo, might need to check another monorepo to see how they do it

[2018-09-05 21:33] gnidan commented on #1222
Probably want to hook into something like https://coveralls.io/

[2018-09-05 21:50] gnidan commented on #1189
Note: the work that originally forced the empty directory is here: https://github.com/trufflesuite/truffle-box/pull/15

Might be useful to see how to undo this.

[2018-09-06 04:11] Zou-XueYan commented on #911
@sahar-fehri How did you fix this ?  Need HELP friend 😢

[2018-09-06 09:42] jfkidear opened #1256 "Deploying Migrations... Error encountered, bailing. Network state unknown. Review successful transactions manually. insufficient funds for gas * price + value"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.
root@ubuntu:/home/jfk/voting# truffle migrate --network ropsten
Using network 'ropsten'.

Running migration: 1_initial_migration.js
  Deploying Migrations...
Error encountered, bailing. Network state unknown. Re

[2018-09-06 16:59] cgewecke commented on #1079
@mmezian Status update: this topic has come up at truffle-hdwallet-provider recently and a little bit of headway has made there in [issue 65](https://github.com/trufflesuite/truffle-hdwallet-provider/issues/65). Did you ever find a workable solution for your use case?

[2018-09-06 18:27] cgewecke commented on #1256
@jfkidear Could you try running this migration with Truffle's new beta? It's available by running:
[code]
It should give you a (slightly) more helpful error message. Things to check:
+ Are you definitely looking at the balance with Metamask set the Ropsten network? You could also verify on [ropsten etherscan](https://ropsten.etherscan.io/).
+ Is the mnemonic being passed to the wallet provider in

[2018-09-06 18:36] cgewecke commented on #1254
@tarekskr It looks like Web3 only supports websockets, so there's a fundamental incompatibility with MetaMask at the moment. . . will ping this issue if I see a resolution (or cool workaround).

[2018-09-06 18:36] brianmcmichael commented on #559
+1

[2018-09-06 19:08] sahar-fehri commented on #911
@Zou-XueYan , i just didn't noticed that the account i was sending the transaction from actually doesn't have any tokens. Which is unlikely to be the same problem you have if your contract is not manipulating tokens. Check your gas limit, perhaps your transaction costs more gas,, and check again your smart contract function, perhaps you are writing some " require(....) " that is actually raising t

[2018-09-06 20:28] tarekskr commented on #1254
Thanks a lot @cgewecke . I actually pinged MetaMask and they said they should have something rolled out next week 🤞 https://github.com/MetaMask/metamask-extension/pull/4279#issuecomment-418810239

[2018-09-08 11:38] liderako opened #1257 "Truffle migrate, error"
I have an errors after this command `truffle migrate`
[code]
### error output
<img width="1077" alt="screen shot 2018-09-08 at 2 36 50 pm" src="https://user-images.githubusercontent.com/25816656/45253720-a922ab80-b374-11e8-9be2-8182e5e65d64.png">
### truffle.js
<img width="217" alt="screen shot 2018-09-08 at 2 37 21 pm" src="https://user-images.githubusercontent.com/25816656/45253725-c5bee380-b374

[2018-09-08 12:39] liderako commented on #1257
truffle@beta error input
[code]

[2018-09-08 12:51] liderako commented on #1257
Using the solc optimizer settings in 'truffle.js', solves the problem

[2018-09-08 12:51] #1257 closed

[2018-09-09 11:29] arisAlexis opened #1258 "test contract should be also the address that deploys the contracts"
## Issue

The Test contract should be the same address that deploys the contracts to be tested so that you can test ownership. There should be no reason why the deploy address and test contract address would be different?

## Expected Behavior

the deployed contract's owner is the msg.sender which is the address(this) test contract address.

## Actual Results

You need to redeploy the contract in

[2018-09-10 05:47] thekevinbrown opened #1259 "Truffle compile fails with Truffle v5 (Beta)"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When using Truffle v5 and running `truffle compile` I get this stack trace:

[code]

## Steps to Reproduce

1. `yarn global add truffle@beta`
2. `truffle compile`

## Expected Behavior

I expect the `truffle compile` command to work.

## Actual Res

[2018-09-10 06:17] rushairer commented on #734
@SachinJanani  Thanks.

[2018-09-10 06:31] thekevinbrown commented on #1259
Also, when trying to use a local solc-js to work around this, it doesn't work how I'd expect it to. The release notes say I can use a relative path, so I did:

* `yarn add solc`
* Edited `truffle.js` to have this section:

[code]

But then I get: `Error: Could not find compiler at: ./node_modules/solc`, even though that appears to be the path where solc is living relative to `truffle.js`:

[code]

[2018-09-10 11:08] sinanofficial opened #1260 "Lost ganache connection when running tests"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Lost etherium connection when running tests, especially tests in loops.
{ Error: Could not connect to your Ethereum client. Please check that your Ethereum client:
    - is running
    - is accepting RPC connections (i.e., "--rpc" option is used in

[2018-09-10 14:54] cgewecke commented on #1259
@thekevinbrown Thanks for both of these...

Going to open a fix for the first part of this issue shortly. Out of curiosity - are you still having problems getting that url to resolve? Clicking the link shows results and curl also works fine on my end. Are you behind a proxy or were you off the internet?

[2018-09-10 16:39] cgewecke commented on #1259
@thekevinbrown The relative path is also a bug - very sorry. Getting fixed in the same PR. . .

[2018-09-10 16:44] cgewecke commented on #1260
@sinanofficial How many iterations are your loops? This looks like it might be a duplicate of #729. We think will be resolved with some recent changes at Web3 that make sure the provider is invoked with `KEEP-ALIVE`. At the moment if you are running many thousands of calls to the client Web3 can consume all the available port resources on your OS and triggers this error.

[2018-09-10 16:45] cgewecke commented on #1258
@arisAlexis Could provide a clear example of the problem you're describing? Are you using solidity tests?

[2018-09-10 16:46] cgewecke commented on #1256
Closing for housekeeping, please ping if you're still seeing this error.

[2018-09-10 16:46] #1256 closed

[2018-09-10 19:47] arisAlexis commented on #1258
Yes.

There is a contract that is deployed that is Ownable and implements the onlyOwner modifier.
For example let's say we are using Ganache on the local network.

The deployer of the contract is the first account on Ganache and that's the owner of the deployed contract.

You can't test the  functions that use the onlyOwner modifier because the Test Contract is not the owner.

Of course you can re

[2018-09-10 22:47] cgewecke commented on #1259
Both of these issues should now be fixed on `truffle@next` if you need these changes sooner than the next time we publish the beta.

[2018-09-10 22:52] thekevinbrown commented on #1259
Awesome, thanks so much @cgewecke!

I was definitely connected to the internet when I was doing this and could get all sorts of other sites to resolve, just not that one. It's working for me this morning though, so not sure what changed (maybe my ISP did something), but looks all good now.

Appreciate your help!

[2018-09-10 22:52] #1259 closed

[2018-09-11 02:10] thekevinbrown opened #1264 "[v5] Out of Gas error when trying to deploy a contract"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When deploying my contract, I get an out of gas error, but this same contract with the same ganache instance and configuration, compiled with solc-js (same version as I've specified in `truffle.js`) works fine.

The bytecode produced by truffle is

[2018-09-11 02:37] cgewecke commented on #1264
@thekevinbrown It looks like there's a missing level in your config. The optimizer settings are a subset of `compilers.solc.settings` per example below:
[code]

[2018-09-11 03:05] thekevinbrown commented on #1264
Yup, that was it! The example I was going from was the main docs: https://truffleframework.com/docs/truffle/reference/configuration But looks like they're not v5 yet (which makes sense).

Sorry for the noise.

[2018-09-11 03:05] #1264 closed

[2018-09-11 06:45] niuwenchen commented on #402
I just change  to
 import "../node_modules/openzeppelin-solidity/contracts/token/ERC20/StandardToken.sol";
it done.

[2018-09-11 23:04] gnidan opened #1266 "Add debugger support for globally available variables"
Moved from https://github.com/trufflesuite/truffle-debugger/issues/32

Enable the debugger to allow reporting [globally available variables](https://solidity.readthedocs.io/en/v0.4.24/units-and-global-variables.html), e.g. `msg.sender`

[2018-09-11 23:12] gnidan opened #1267 "Improve debugger variable scoping"
As far as call-stack or scopes are concerned, the debugger right now only tracks:
- EVM call depth
- Solidity function depth (integer)

Instead, there's no tracking of scope, and each variable has a constant L-value that corresponds to its AST node ID.

This should be fixed so that looking up data for variables can be done by (name, scope) instead of just (name).

[2018-09-12 08:32] jfkidear commented on #1256
Where do you get mnemonic words? When I import mnemonic the MetaMask creates in MyEtherWallet I find many  addresses you would like to interact with. But nothing is my address.

[2018-09-12 08:32] jfkidear commented on #1256
@cgewecke

[2018-09-12 18:28] PochenriederAlex commented on #1062
Happens to me too. In my case the test i was running had an incorrect amount in the value of the transaction (a javascript number with decimals) that made the transaction cost a lot and throw the error.

[2018-09-13 10:32] kartojal commented on #1259
Hitting this again with truffle@next:

[code]

[2018-09-13 10:41] kartojal commented on #1259
This is strange. Now i can see the json file at https://solc-bin.ethereum.org/bin/list.json with the Chrome browser but can't `curl` it via the terminal or running truffle commands.

[2018-09-14 03:43] interfect opened #1269 "Truffle contract artifacts are too big and contain too much sensitive detail to actually deploy on the web"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The .json build artifacts from Truffle are supposed to be put onto a web server, where in-browser dapps can download them and use them to interact with the blockchain.

But my contract files are all huge, ranging from 11 KB at the smallest to almos

[2018-09-14 06:55] ferittuncer commented on #1258
Why `{from: accounts[0]` doesn't work?

[2018-09-14 06:58] waylandc commented on #756
Deleting the file isn't really a resolution. The .sol file is an example of how to write tests in Solidity as opposed to JS.

FWIW, I'm having this problem also on OSX.
VSCode 1.27.2
OSX High Sierra 10.13.6
Node 10.8.0
Truffle 4.1.14
Solidity 0.4.24

[2018-09-14 07:01] ferittuncer commented on #1150
Doesn't work on Ubuntu either.

[2018-09-14 09:56] arisAlexis commented on #1258
the default account of TestContract has 0 Ether while the Ganache accounts have 100ETH each.  That tells me that the private key is different and it's not the one taken from Ganache.

[2018-09-15 06:09] ferittuncer commented on #1258
Oh, you mean Solidity testing. Yes it's not possible when testing with Solidity at the moment. I wrote my answer above thinking it's a JS test.

[2018-09-15 12:34] vince16 opened #1271 "Truffle Compile (Named imports not working) : Cannot read property '2' of null"
## Issue

Named imports are not working when I try to compile a contract using truffle. When I try to use statement like :

**import "./V1__Item.sol" as V1__Item;**

then I get the following error :
[code]
The same things works in remix ide and inter contract calls are working fine too.

## Steps to Reproduce

1. Write a contract and import another contract using a named import.
2. Compile the con

[2018-09-16 14:53] #1224 closed

[2018-09-17 06:45] vindberg commented on #1086
This also seem to be the case when using a single .sol file.

[2018-09-17 09:15] jdparkinson93 commented on #186
@gnidan when will this be released on the npm version of truffle?

[2018-09-17 19:27] gnidan opened #1273 "Notify user when using unsupported version of Node"
Truffle v5 is going to require Node v8 or later.

When users are using a version of Node lower than that, an error message should be raised to let the user know.

Thanks to @axic for raising this concern.

[2018-09-17 19:47] axic opened #1274 "Compiler configuration could support not only paths but https URLs (V5)"
According to the [0.5.0 release notes](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0) there are different ways to select a compiler version.

Using a version number
[code]
only seems to work with releases, and `truffle compile --list --all` also only lists them.

It would be nice to support nightly releases (in some cases), though it may be a bad idea supporting that easily vi

[2018-09-17 21:31] seesemichaelj opened #1275 "Using truffle-config detect() throws an exception"
## Issue

When trying to use `truffle-config@1.1.0-beta.0` as a dependency within Ganache UI (an electron application), when I try using the `detect()` function, I get the below error:
[code]
where `inline-react-svg` is a Babel plugin used within Ganache. After talking to @gnidan, we think there may be an issue with how `original-require` is loading the file.

## Environment

* Operating System: E

[2018-09-17 21:47] gnidan opened #1276 "Improve debugger breaking"
# Overview

Breakpoints in Truffle's debugger are kind of useless.

# Background

Currently, breakpoints can be set at a particular location in the code, but not set ahead of time. So a user has to step through the trace to the point of execution where they wish the debugger to `(b)`reak, and then `(c)`ontinue. The debugger then steps until it hits that point in the code on subsequent times.

Inte

[2018-09-17 21:55] gnidan commented on #1274
From conversation with @axic offline: there might also be an issue with how CompilerSupplier is wrapping `soljson`. It seems that truffle-compile is not working correctly with raw `soljson` values, and instead only works with the full `solcjs` pre-built wrapper.

This should not be necessary because of the `solcWrap` functionality in that package (invoked [here](https://github.com/trufflesuite/tru

[2018-09-18 12:00] jtakalai commented on #522
I had this problem, and solved it by pasting the flattened code into Remix that then gave a better error description: I had an interface in the contract that I had not implemented correctly (wrong function signature). Trying to deploy an "abstract contract" gives this error, but a much better error would be what Remix gives: "This contract does not implement all functions and thus cannot be create

[2018-09-18 17:56] cgewecke commented on #1274
@axic @gnidan

Not sure if this is helpful but it *is* currently possible to get a list of nightlies and to pull one from solc-bin:
[code]
Tests for that [here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-compile/test/test_supplier.js#L127-L143).

`getByUrl` assumes you'll a version string (like the ones above) and the Supplier manages the url path construction.

`solcWrap`

[2018-09-18 18:15] axic commented on #1274
~~I could have sworn I have tried this yesterday and it didn't list preleases.~~

I see what the problem was, tried `--list --preleases`. It seems to be working with `compile` too.

I have two suggestions:
- add an some progress indicator when soljson is being downloaded the first time (I see it caches it after)
- improve the release notes / documentation about using prereleases

This issue can be

[2018-09-18 19:01] cgewecke commented on #1274
Yes completely agree - we have this open at #1132.

This command is documented in the release notes, but maybe we should have good examples for all the possibilities in the config as well. There's also ongoing work on #1262 which will looks like it will improve the help command a lot as well.

[2018-09-18 20:11] jmendiola222 opened #1279 "Fail to port tests to v5.0.0-beta.0"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Running working `v4.1.14` tests to [v5.0.0-beta.0 – Chocolate Sushi](https://github.com/trufflesuite/truffle/releases) fails without clear error description.

## Steps to Reproduce

- set up some test to a simple Contract that interacts with pretty

[2018-09-19 01:33] gnidan opened #1281 "Establish user-level Truffle configuration"
Instead of just per-project config files.

We should add logic so that, if it doesn't exist, Truffle creates a directory somewhere in the user's home directory (e.g. `~/.config/truffle` on Linux/Mac), to enable future configuration options.

We likely want to find a widely-used library for this purpose (there's probably _something_ on NPM that can do this in an OS-independent manner).

For purpose

[2018-09-19 01:36] gnidan opened #1282 "Enable opt-in analytics reporting for CLI usage"
# Overview

It's currently hard to answer the question of how many users Truffle has. In order to evaluate our usage over time, as well as to make informed decisions for future improvements, we should allow Truffle to collect anonymized usage metrics and publish them to Google Analytics.

# Requirements

- Must be opt-in.
- We should prompt the user when they first run Truffle, asking for their pe

[2018-09-19 03:49] haltman-at opened #1283 "Add a reset command to the debugger"
## Issue

Currently, the debugger has no command to reset the program being debugged.  This means that to reset the program, one must quit and restart the debugger, which is slow.

## Expected

There should a reset command that resets the state of the trace.

[2018-09-19 08:30] tsingyi commented on #737
@vrogojin The workaround given by @etherwaifu for multiple arguments is incorrect and is not work for either. After debugging the code, I found that `instance.contract.functionName` is an object, the key of the object is the string of arguments type concatenate by the comma, so the right solution would be `await instance.contract.functionName['argType1,argType2'](arg1, arg2);`.

[2018-09-19 14:07] jtakalai commented on #1172
Here's a situation where I got that error:

I'd written in a file `test/A.js` something like
[code]
and as a result another file `test/B.js` would give that error. After fixing A.js to
[code]
the problem disappeared. So it can be... almost anything. Fun times with Truffle.

[2018-09-19 23:40] ebaizel opened #1284 "Docs: add info about contract compilation with the optimizer"
This is more of a documentation request around compiling contracts with the optimizer enabled.

**tldr;** It would be very helpful to know when would be the best time to enable the optimizer.

**Background**
I wrote a contract that cost quite a bit to deploy on main net.  I recompiled it with the optimizer turned on, and the cost of the contract was cut in nearly half.  I am trying to understand w

[2018-09-20 11:46] Chippi commented on #1051
same error in truffle@5.0.0-beta.0. pls fix

[2018-09-20 13:36] ei08047 opened #1286 "onReceipt ??"
Isn't it :
MyContract
.new()
.on("Receipt", rec =>{...} )

[2018-09-20 17:48] gnidan commented on #1286
Hi @ei08047 could you please provide more context/information about what you are asking?

[2018-09-20 18:11] cckelly commented on #1038
@cgewecke I believe this is old and can be closed.

[2018-09-21 09:53] justinkchen commented on #888
I'm also having trouble resetting in between tests. (it works at the contract level of each file but I need to reset account balances more often). Was there ever a solution? I'm trying evm_snapshot and evm_revert but the revert keeps having issues it seems

[2018-09-21 13:30] eduardonunesp commented on #888
[code]

[2018-09-21 15:30] ajaysingh902 opened #1290 "ERC-20 Testing issue"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

there is testing issues in the beta version .web3.wei ,bignumber and a lot this cannot be used in tested in the beta version .By using the previous version of truffle all the test cases are running properly using the truffle 4.1.14

## Expected Beh

[2018-09-21 16:55] rjkz808 opened #1292 "Update solc to 0.4.25"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

There's a new solidity compiler version

[2018-09-21 23:12] andrewosh opened #1294 "Custom build pipeline stderr semantics"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When using a custom build process, any output on stderr is assumed to be a "build error," and the CLI messages reflect this. I'd imagine Truffle should instead assume that the custom build process interprets its own output correctly, and limits its

[2018-09-22 16:53] moranthomas commented on #187
I got this error too and the reason was a variation of the others already highlighted.

So I had tried to upgrade the MetaMask Chrome plugin and it was in the process of doing that - So MetaMask was enabled but I had not logged in.

Removing MetaMask from Chrome did the trick (and later I re-installed the upgraded version)

[2018-09-22 21:29] LionByol commented on #192
can we call the link() function directly?

[2018-09-23 08:46] eloudsa commented on #976
Hi
I have installed the beta version of Truffle (v5.0.0-beta.0) and tried to display the error reason thrown in my contract. I have followed this: [https://github.com/trufflesuite/truffle/releases#reason-strings]

I tried displaying the error reason string in my JS test without success. The error string is always "Transaction has been reverted by the EVM" even if my test is running on ganache-cli

[2018-09-23 09:53] danaki commented on #976
I used these reasoning strings in my contracts until I got my contract so huge that it couldn't fit into ethereum transaction limit. I would like to see these reasoning strings in tests to distinguish one case from another but can skip for production use. Is it possible somehow?

[2018-09-23 17:12] cgewecke commented on #976
@eloudsa We have some unit tests that verify that the reason string works as expected with ganache [here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-contract/test/methods.js#L416-L427) (for ganache when its --noVMErrorsOnRPCResponse flag is set to true) and [here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-contract/test/errors.js#L134-L144) for the d

[2018-09-23 17:50] cgewecke commented on #1279
@jmendiola222 The error you're getting is coming from the contract constructor and suggests that one of the constructor inputs you supplied to MyContract is undefined? Or missing?

If you can show the code around that deployment it might help with debugging.

[2018-09-23 18:38] eloudsa commented on #976
@cgewecke Thanks for your reply. I'm using ganache as I can check transactions in the console window. Without the  --noVMErrorsOnRPCResponse flag, the reason string message is displayed in the error message. But, the reason remains undefined. Do you have a any small truffle project (contract and test) I can use to check my environment?

[2018-09-23 20:27] roschler commented on #976
Does the reason string propagate through Web3.js?  If so, any particular
version/library?

On Sun, Sep 23, 2018 at 2:39 PM, Said Eloudrhiri <notifications@github.com>
wrote:

--
Thanks,
Robert Oschler
Twitter: https://twitter.com/roschler <http://twitter.com/roschler>
LinkedIn: https://www.linkedin.com/in/natlang/

[2018-09-24 01:01] gnidan commented on #1294
Thanks for bringing this up! That's a really good point. Feel free to open a PR against `develop` with the change.

[2018-09-24 01:43] gnidan commented on #634
Outdated, closing

[2018-09-24 01:43] #634 closed

[2018-09-24 01:44] gnidan commented on #641
(Closing this since it's outdated)

[2018-09-24 01:44] #641 closed

[2018-09-24 16:17] jmendiola222 commented on #1279
Thanks @cgewecke, I can't yet share the complete code base, but here are the basics. Let me enforce once again that this test do work on `v4.1.14`, with almost 100% coverage.

[code]
Then in out tests we have something like:

[code]

Hope this clarifies. Thanks!

[2018-09-24 16:45] cgewecke commented on #1279
Hi @jmendiola222 it looks like the error message is coming from a migrations file rather than a test. Truffle will run your migrations are run as part of the preparations for the test suite execution.

Could you look in the relevant file and see if there's something amiss there in one of your `deploy` statements?

[2018-09-24 23:55] sebastiankozub commented on #787
Try to install truffle with -g option...

[2018-09-25 03:10] vs77bb commented on #1144
Hi @evgeniuz sorry for Gitcoin Bot's craziness here (we're looking into it -- cc @mbeacom / SaptakS). Noticed you are keeping up with the PR so these comments shouldn't have happened; snoozing it for 10 days now.

[2018-09-25 05:31] rstormsf opened #1298 "Linking libraries inside of test suite without using migrations"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Curious how one should link a library inside of test suite without using migrations.
For example:

[code]

getting
[code]

* Operating System: OSX
* Ethereum client: ganache-cli (truffle test internal)
* Truffle version (`truffle version`): `Truffl

[2018-09-25 19:36] fainashalts opened #1300 "Create user-level default mnemonic for use with truffle develop"
## Issue

Users often use the default mnemonic that is hard-coded into the truffle develop console by accident, sending real funds to what is supposed to be an example wallet. Users would be well-served by a default mnemonic saved in their user-level configuration file, so that if they accidentally(or purposely) send Ether using it, they are able to retrieve their funds.

## Expected Behavior
A us

[2018-09-25 19:54] mryellow commented on #656
Believe this remains an issue in 4.1.8.

'Invalid JSON RPC response'

Sent from mobile (no connectivity)

[2018-09-26 06:54] thekevinbrown opened #1302 "[BETA] truffle debug - ReferenceError: callback is not defined"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When I run `truffle debug` without a transaction hash I get this stack trace:

[code]

## Relevant Code

[code]

`callback` is not defined in this context, so error handling needs to be different here.

I don't know the code, but looks to me like i

[2018-09-26 10:05] Xaber20110202 commented on #717
I tried a way is like that:
[code]

But the specific thing is that truffle.js or truffle.config.js must be a js file.

So, we need to add a field `allowJs: true` to `tsconfig.json`

[2018-09-26 11:30] jmendiola222 commented on #1279
Thanks @cgewecke that was correct, on my migration file a had:
[code]
Where as we saw, `MyContract` contructor receives a `uint256`. Changing it to `deployer.deploy(MyContract, 1000)` solved this issue. Any clue on why this is not a problem in `v4`? Migrations are not runned on test for that version?

Thanks again!

[2018-09-26 17:45] gnidan commented on #1298
It looks like it might be that `ContractZ`, after linking, does not reflect the link added. Will look into. Thanks!

[2018-09-26 17:51] gnidan commented on #1290
Truffle v5 uses Web3.js 1.0. Please see the corresponding docs for that version; you will need to update your tests accordingly: https://web3js.readthedocs.io/en/1.0/web3.html

Thank you!

[2018-09-26 17:51] #1290 closed

[2018-09-26 17:54] gnidan commented on #1284
Thanks for raising this concern. If you'd like, feel free to open a PR with additional documentation, or we will prioritize doing so accordingly.

For background, here is some information about why the optimizer is off by default: https://github.com/trufflesuite/truffle-compile/pull/5

This might be historical and now not necessary. More research warranted.

[2018-09-26 18:00] gnidan commented on #1275
@seesemichaelj can this be closed? Thanks!

[2018-09-26 18:01] seesemichaelj commented on #1275
Yup! Good catch.

This can be closed as the issue was not related to truffle at all.

[2018-09-26 18:01] #1275 closed

[2018-09-26 18:02] gnidan commented on #1271
Thanks for raising this.

I don't suppose you could see if this is still a problem in Truffle v5?

Install by doing:
[code]

Thank you!

[2018-09-26 18:04] gnidan commented on #1269
Thanks for raising this issue!

We plan to address this concern as part of a major feature upcoming on our roadmap. We will keep you informed here as this progresses.

[2018-09-26 18:06] gnidan commented on #1267
Fixed by #1280

[2018-09-26 18:08] gnidan commented on #1258
@arisAlexis You have to use something like Zeppelin's `ClaimOwnership` or some kind of ownership transference mechanism to get what you want.

An alternative is to ensure that your contracts are all deployed via migrations - if you have a Solidity test that deploys a contract, then that Solidity test *is* the msg.sender.

Closing as this is an inherent limitation. Thanks for bringing up this conce

[2018-09-26 18:08] #1258 closed

[2018-09-26 18:09] gnidan commented on #1254
@tarekskr looks like that MetaMask PR got merged. Can this be closed? Thanks!

[2018-09-26 18:12] gnidan commented on #1253
Hi @Sulaiman-Said, thanks for opening this issue. Please use our [Gitter channel](https://gitter.im/ConsenSys/truffle) for support questions like these.

If you would like to see additional documentation around topics like this, please feel free to open a new ticket outlining the specific documentation updates you would like. Thank you!

[2018-09-26 18:12] #1253 closed

[2018-09-26 18:17] gnidan commented on #1230
Hi @rstormsf, can this be closed? Thanks!

[2018-09-26 18:21] gnidan commented on #1225
Hi @Eggsyz, did you try asking on [Gitter](https://gitter.im/ConsenSys/truffle)? I'm not sure what the issue might be off the top of my head, if there is an issue with Truffle or not. Any additional information you could provide would be helpful. Thank you!

[2018-09-26 18:21] #1222 closed

[2018-09-26 18:29] vince16 commented on #1271
Still a problem in the latest truffle.
Version :Truffle v5.0.0-next.12

[2018-09-26 18:29] gnidan commented on #1150
cc @eggplantzzz

[2018-09-26 18:30] gnidan commented on #1147
@ldub Could you please paste the output of `./node_modules/.bin/truffle version`? Just in case it's different?

Thanks!

[2018-09-26 18:32] gnidan commented on #1133
We probably don't actually to do this.

[2018-09-26 18:32] #1133 closed

[2018-09-26 18:34] gnidan commented on #1130
Closing this as duplicate of #1274

[2018-09-26 18:34] #1130 closed

[2018-09-26 18:35] gnidan commented on #1125
Note that we probably want to make sure that _each line_ in the log file is self-contained JSON, so that we can avoid reading/writing the entire file every time.

[2018-09-26 18:37] gnidan commented on #1120
We'll consider possible solutions in the future for how to address this. Thanks for bringing this up!

[2018-09-26 18:45] gnidan commented on #1093
Truffle will support either format in v5 onward. Closing this for issue maintenance. Please let us know if you run into any trouble.

(Also please let us know when you plan to proceed with that ABI format change!)

Thanks!

[2018-09-26 18:45] #1093 closed

[2018-09-26 18:50] tarekskr commented on #1254
@gnidan awesome! Thanks again @cgewecke for all your help.

[2018-09-26 18:50] #1254 closed

[2018-09-26 18:51] gnidan commented on #1162
Closing this as duplicate of #1087

[2018-09-26 18:51] #1162 closed

[2018-09-26 20:32] ldub commented on #1147
@gnidan

[code]

[2018-09-26 23:18] rstormsf commented on #1230
Ok, perfect! thanks a lot

[2018-09-26 23:18] #1230 closed

[2018-09-27 07:42] H34D commented on #1292
closes with #1277

[2018-09-27 10:48] anxolin commented on #1087
I find this issue important for projects that have a dependencies on other projects with collisions in the name of the contracts.

General names as `StandardToken`, `Token`, etc. can appear in your project dependencies easily, so I guess it would be a good idea to have a namespace functionality in place.

In any case, if it's scheduled to `v5.1`, wouldn't be better to re-open the issue, so we can

[2018-09-28 11:01] ferittuncer commented on #450
@ConnorChristie I get `TypeError: Cannot read property 'require' of undefined` for `artifacts.resolver.require`

[2018-09-28 13:04] billieluxu opened #1308 "Contract deployment using truffle and Ganache: out of gas"
---------------------------

## Issue

I tried to use truffle connected to Ganache to deploy my contract which imports two other contracts but does not initialise any of these two imported contracts upon deployment. Truffle kept on reporting the error "out of gas". But no matter how high the attached gas is (also adjusted the ganache chain gas limit and truffle.js gas parameter to allow higher tra

[2018-09-28 18:21] eduardonunesp opened #1309 "Failed to unbox truffle box"
## Issue

Truffle unbox saying that repo doesn't exist even, however, the URL exists also the `truffle-box.json` also exists

## Steps to Reproduce

[code]

## Expected Behavior

Download the box and run the scripts according to with `truffle-box.json`

## Actual Results

[code]

## Environment

* Operating System: `macOS 10.13.6`
* Truffle version (`truffle version`):  `Truffle v4.1.14 (core: 4.1

[2018-09-28 21:15] gnidan commented on #1309
Interesting @eduardonunesp. Does it work if you provide the full git URL? `git@github.com:...`

It's possible that something is going on where it is trying to use `https://github.com/`, and permissions don't line up correctly (or the other way around, trying to use `git@...`. You can also try configuring git to use one or the other in all cases. (Here's how to force https:// https://gist.github.co

[2018-09-28 21:15] gnidan commented on #1309
Let me know what you find! Thanks!

[2018-09-28 21:31] gnidan commented on #150
@haghighatcs use `truffle-config.js` instead of `truffle.js` (either rename truffle.js or delete it)

[2018-09-28 21:33] eduardonunesp commented on #1309
It failed for `truffle unbox git@github.com:loomnetwork/truffle-dappchain-example` allso `truffle unbox https://github.com/loomnetwork/truffle-dappchain-example`

[2018-09-28 21:35] eduardonunesp commented on #1309
Force `https` using the `gist` above didn't work also

[2018-09-28 21:37] gnidan commented on #1309
@eduardonunesp this might be redundant but I'm assuming it also doesn't work if you include the `.git` suffix on those URLs?

[2018-09-28 22:14] eduardonunesp commented on #1309
Nope didn't work, does that works for you?

[2018-09-28 22:16] gnidan commented on #1309
Nope, I'm getting the same thing, also on the beta. Will have to look into why this is going on next week.

[2018-09-29 11:04] sidsverma commented on #660
What worked for me is:
truffle migrate --clean --network ropsten

[2018-09-29 13:37] chaitanyapotti opened #1311 "Migration + Infura stuck at polling "eth_getBlockByNumber""
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Unable to deploy contracts to any live/test networks.
The deployment works perfectly for ganache/ganache-cli.

## Steps to Reproduce
[code]

Here is my truffle-config

[code]
## Expected Behavior
Expected to deploy the contracts

## Actual Results

[2018-10-01 00:49] gnidan commented on #1311
Are you currently using the version of `truffle-hdwallet-provider` installed via:
[code]

The current default version of that package only works with Truffle v4, and results in hanging much like you describe.

Please let us know if that does not fix the issue for you. Thanks!

[2018-10-01 06:00] chaitanyapotti commented on #1311
Thanks. It resolves the issue.

[2018-10-01 06:00] #1311 closed

[2018-10-02 08:19] leapming commented on #766
https://stackoverflow.com/questions/10888610/ignore-invalid-self-signed-ssl-certificate-in-node-js-with-https-request
truffle init uses request to check the url availability, which throw an error as the above stackoverflow thread mentioned

[2018-10-03 03:01] agxmeister opened #1312 "Official website (http://truffleframework.com/) is down"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Your official website http://truffleframework.com/ is down at least two days: ERR_CONNECTION_TIMED_OUT. Is it moved to another location or the Truffle project is dead?

## Steps to Reproduce

Just try to open http://truffleframework.com/ title page

[2018-10-03 07:12] gnidan commented on #1312
It's up for me. Is it still down for you? If so, does https://truffleframework.com work?

[2018-10-03 07:21] branaway opened #1313 "compilation keeps fetching versions"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

The compilation would fetch all versions from the Internet every time I compiled something.
case 1: I have version = "native"
case 2: I have version = "0.4.25"

Neither would prevent the process from fetching the sole version info.

Effectively I c

[2018-10-03 07:29] gnidan commented on #1309
Found the issue, the PR above should fix.

Workaround in the meantime: make sure the box defines `truffle.js` (since that's the filename currently used to ensure the box is valid)

[2018-10-03 07:47] branaway opened #1315 "error message for calling missing function did not show where the problem was."
- [ x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

My contract had this line:

_erc721.symbol(), where is the symbol() was missing from the contract. I was calling the relevant code from a test script.

The error message was not helping:

    Error: Returned error: VM Exception while processing tr

[2018-10-03 07:51] gnidan commented on #1315
To summarize: it seems like it'd be a nice feature if Truffle could report the original _test line_ in the stacktrace for exceptions.

Might be challenging to do this because of the way promises are handled in a separate event loop, but there might be some support for this in mocha somewhere that we could use.

[2018-10-03 09:27] agxmeister commented on #1312
Looks like this issue is actual only for Russia. :-( I will use VPN to access it, thank you!

[2018-10-03 09:27] #1312 closed

[2018-10-03 11:19] eduardonunesp commented on #1309
Nice ! well I do prefer to use `truffle-config.js` (and remove `truffle.js`) to make sure that Windows users are fine too, I'll wait for the fix. Thanks.

[2018-10-03 15:54] #1309 closed

[2018-10-03 16:35] tcoulter opened #1316 "Network id configuration doesn't protect user from deploying to different network"
As we saw during the retreat demo, if you specify a specific number in your truffle config (say, `3`), if the actual network id of the chain doesn't match, Truffle won't error (and it should, to protect the user from inadvertently deploying with real Ether).

Steps to repro:
1. Set Truffle config network id to 3.
1. Deploy to rinkeby (which has network id of 4). Notice Truffle doesn't error, and p

[2018-10-03 16:38] seesemichaelj opened #1317 "Debugger: Move breakpoint down if the current line is a declaration"
Breaking/stepping along variable declarations is natural, but if a breakpoint is set on one of these lines that is being skipped, the breakpoint is currently being skipped.

We should do what most normal debuggers do: move the breakpoint down to the next valid non-skipped line (or AST).

[2018-10-03 22:32] adrianmcli opened #1318 "Add ability to do a dry-run contract migration without migrating on the real network"
It might be a good idea to add a flag for migration: `--dry-run-only` in order to do a dry run migration without actually making changes to a live network. This could be very useful for continuous integration.

[2018-10-04 09:16] maxme commented on #18
I was looking for this, but I didn't find it, so I wrote a simple tool that looks for `"abi": ...` in the build files and merge all of them to a single array:

https://github.com/maxme/truffle-export-abi

[2018-10-05 21:10] bwheeler96 opened #1319 "Javascript debugger is not supported in tests"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

[code]

is not usable in tests, probably due to some black box with mocha.

[2018-10-05 21:53] davidmurdoch opened #1320 "Add code coverage as part of `truffle test`"
This was a feature requested by an attendee at the TruffleCon workshops.

[2018-10-06 05:17] itstehkman commented on #1276
@gnidan I think this is a good question to look into. Without looking into it much, my intuition says the breakpoint should match with the left-most AST node, if that corresponds to the left-most part of the line of code. I am probably oversimplifying the problem and am wrong, but would love to hear some more about it.

[2018-10-06 06:00] Ratul143 opened #1321 "Truffle can not be installed (showing errors)"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I am trying to install truffle but it's always showing me the same errors and i cannot encounter the problem. I have tried all the possible solution but it cannot be installed. Can you help me to solve this issue?

## Steps to Reproduce

I Used my

[2018-10-06 17:54] roderik commented on #1252
@gnidan this is the loss of information issue I mentioned during TruffleCon

[2018-10-06 18:01] roderik opened #1322 "[v5] Dry run never triggers"
## Issue

Using any of the v5 beta's, dry run never triggers

## Steps to Reproduce

An open-source project where I noticed the issue when executing this migration
https://github.com/DataBrokerDAO/dtx-crowdsale-contracts/blob/master/migrations/42_locked_tokens.js by running `ETHEREUM_DEPLOYER_SEED="my seed goes here" truffle migrate --network mainnet`.

It might have something to do with my truffl

[2018-10-06 20:31] pynchmeister commented on #1309
So is this fixed? Still having trouble here

[2018-10-08 12:20] kikoncuo opened #1323 "Truffle migrate fails on parity:v2.1.1"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

truffle migrate on parity node fails with generic message

## Steps to Reproduce

1. Install truffle globally
2. Check migration to ganache works fine by executing truffle migrate with ganache running on the default port
3. Define partity's IP insi

[2018-10-09 09:04] kikoncuo commented on #1323
Confirmed, I'm not the only one with this problem

[2018-10-09 12:14] yvital opened #1324 "truffle unbox webpack"
## Issue
Hello,
When trying to install  truffle webpack error is displayed:

PS E:\tmp> truffle unbox webpack
Downloading...
Unpacking...
Setting up...
Error: Command failed: npm install
npm WARN deprecated browserslist@1.7.7: Browserslist 2 could fail on reading Browserslist >3.0 config used in other tools.
npm WARN rollback Rolling back readable-stream@2.3.6 failed (this is probably harmless): E

[2018-10-09 20:08] gnidan opened #1326 "Remove Session's dependence on individual transaction"
This came up in conversation with @elenadimitrova (I believe she came up with the idea)

## Overview

Starting the debugger should not tightly couple it with a particular transaction. It should be possible to debug more than one transaction, or debug the same transaction multiple times, without restarting completely.

## Rationale

The debugger does a lot of preprocessing that doesn't relate to a

[2018-10-09 20:36] CruzMolina commented on #1302
Thanks for raising this @thekevinbrown !

Fix has been merged via #1325.

[2018-10-09 20:36] #1302 closed

[2018-10-09 20:46] gnidan commented on #1292
Closing!

[2018-10-09 20:46] #1292 closed

[2018-10-09 23:18] jaycenhorton opened #1328 "Truffle will always recompile contracts"
## Issue

Truffle always compiles files, regardless if they have been compiled already

## Steps to Reproduce

`truffle compile`
`truffle test`
or
`truffle develop`
`compile`
`test`

## Expected Behavior

After the contracts are compile using `compile`, they should not be compiled again when running `test`, `migrate`, or `compile`

## Actual Results

Contracts always compile again, example output:

[2018-10-10 05:41] yvital commented on #1324
Thanks to all!
I reinstalled Visual Studio Build Tools and it all worked.

[2018-10-10 05:41] #1324 closed

[2018-10-10 14:12] pieterhartel opened #1329 "deployer.deploy() does not throw when a create fails"
## Issue

How do I catch a failed require in the Truffle migration script?

## Steps to Reproduce

`$ truffle init`

[code]
[code]

## Expected Behavior

I would have expected the catch block in the migration script to be able to deal with the failed require.

## Actual Results

I get a VM exception that I do not know how to catch.

## Environment

* Operating System: MacOS Mojave 10.14
* Ethereum

[2018-10-10 22:05] #1300 closed

[2018-10-10 23:40] #1144 closed

[2018-10-10 23:42] CruzMolina commented on #1271
Thanks for raising this @vince16 !

Fix has been merged into truffle@next via #1330.

[2018-10-10 23:42] #1271 closed

[2018-10-11 14:34] MareoRaft commented on #255
See also https://truffleframework.com/docs/truffle/getting-started/writing-external-scripts

[2018-10-11 15:02] mszykora commented on #1324
I have the same problem under macOS.

* macOS: 10.14
* `truffle version`
    * Truffle v4.1.14 (core: 4.1.14)
    * Solidity v0.4.24 (solc-js)
* `npm --version`
    * 6.4.1

Could not fix the problem yet

[2018-10-11 16:42] #1281 closed

[2018-10-11 23:32] CruzMolina commented on #862
Thanks for raising this issue @barakman !

We've finally merged a fix for this into truffle@next via #1331.

[2018-10-11 23:32] #862 closed

[2018-10-11 23:35] CruzMolina commented on #724
Thanks for raising this issue @leochan007!

We've finally merged a fix for this into truffle@next via #1331.

[2018-10-11 23:35] #724 closed

[2018-10-11 23:37] CruzMolina commented on #538
Thanks for raising this issue @szerintedmi!

We've finally merged a fix for this into truffle@next via #1331.

[2018-10-11 23:37] #538 closed

[2018-10-12 00:32] gnidan opened #1332 "Include transaction hash in console output for failed transaction"
## Issue

When you run a failing transaction in the console, it doesn't indicate the transaction hash anywhere, only the VM exception.

## Steps to Reproduce

Define a contract with a Solidity function that does a revert, e.g.:
[code]

Run `truffle develop` and do:
[code]

## Expected Behavior

The output in the console should be pretty and have useful information, including:
- REVERT reason strin

[2018-10-12 00:49] gnidan commented on #1323
@kikoncuo can you please run this in Truffle v5 and paste the stack trace? It will be easier to track down the problem. Thank you!

[2018-10-12 01:18] gnidan opened #1333 "Event handlers are not available after transaction failure"
## Issue

It's hard to get a failed transaction hash.

Truffle v5 supports the [EventEmitter interface for contract methods](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#methods-eventemitter), which works for successful transactions, but not for failed transactions. (Possibly a timing issue with Ganache instamine)

## Steps to Reproduce

Define a Solidity file

[code]

Then o

[2018-10-12 02:52] benjaminmbrown commented on #1269
@gnidan Is there a publicly accessible roadmap?

[2018-10-12 09:55] sunlggggg opened #1334 "Why the code in 3 will run many times"
[code]

[2018-10-12 09:58] sunlggggg commented on #1334
Transfer is a event call.

and the contract code is that :

[code]

[2018-10-12 23:46] gnidan opened #1336 "Run separate CI task for all tests with external (`apt-get`) dependencies"
## Issue

Travis is slow and getting slower now that both `solc` and `vyper` have to get installed.

## Steps to Reproduce

1. https://travis-ci.org/trufflesuite/truffle
2. Options -> Trigger Build -> etc.
3. Wait longer than an amount of time for which it is reasonable to have patience

## Expected Behavior

The two main CI jobs (Packages & Integrations) should not run any tests that rely on any

[2018-10-14 02:48] Mordax opened #1338 "npm test failing on Vyper checks"
## Issue

npm test fails on Windows, fails at Vyper checks.

## Steps to Reproduce

Install Lerna, Yarn, run bootstrap, then npm test. Git Bash and Admin Command Prompt
has the same issue.

## Expected Behavior

All checks pass.

## Actual Results

[code]

## Environment

* Operating System: Windows 10
* Ethereum client: Is it needed for running developer tests on Truffle?
* Truffle version (`truf

[2018-10-14 13:00] zak100 opened #1339 "Error: VM Exception while processing transaction: revert"
- [ ] I've asked for help  "https://ethereum.stackexchange.com/questions/60549/error-vm-exception-while-processing-transaction-revert-in-the-context-of-a-te"

and also at:
https://forum.ethereum.org/discussion/19027/error-vm-exception-while-processing-transaction-revert-in-the-context-of-testing/p1?new=1
---------------------------

## Issue

I am trying to run a test tutorial provided at:
https:/

[2018-10-14 18:40] ccolorado commented on #503
I think the migration part needs more work and love, @nuliknol just hating, but he is welcome to not use truffle migrate.

[2018-10-14 22:01] dipeshnuco commented on #524
this worked for me

[2018-10-14 23:07] gnidan commented on #1338
Thanks for raising this issue! I opened #1336 recently, to address the problem of tests with external dependencies running locally. Closing this issue as duplicate of that.

[2018-10-14 23:07] #1338 closed

[2018-10-15 12:10] eggplantzzz opened #1340 "'watch' and 'build' commands should be implemented"
- [] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

`watch` and `build` commands should exist in version 5

## Steps to Reproduce

N/A

## Expected Behavior

`truffle build` should execute the user's build script and recompile the project's contracts if necessary.
`truffle watch` should build wheneve

[2018-10-15 13:05] #1273 closed

[2018-10-15 13:09] eggplantzzz commented on #1132
@gnidan Was this resolved with PR #1299 ?
https://github.com/trufflesuite/truffle/pull/1299

[2018-10-15 15:13] NoahZinsmeister opened #1341 "Truffle v5 preFlightCheck error after clean compile when testing"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

## Issue

After running a clean `truffle compile`, running `truffle test` gives a `Deployer._preFlightCheck` error. However, by saving one or more contract files after building, so that the test command triggers a re-compile before running, temporarily fixes the issue. For example, the

[2018-10-15 16:45] CruzMolina commented on #1322
For reference, the spec'd behavior for V5 should be:

if you specify `--dry-run`, it should run only the dry run and then quit ( Currently on v5 beta1: ✅ )
if you specify `--interactive`, it should run the dry run, then prompt to continue with the real migration ( v5 beta1: ❌ )
if you specify neither, the default behavior is to dry-run first, then do the real migration if there are no errors. ( v5

[2018-10-15 16:48] gnidan commented on #648
Can anyone confirm if this is still an issue or not? Looking to close. Thanks!

[2018-10-15 16:50] CruzMolina commented on #1318
The current flag for this behavior is `--dry-run`. Let me know if this meets your specs 😎

[2018-10-15 17:29] roderik commented on #1259
I had intermittent failures today.

[2018-10-15 18:01] ryanliu285 opened #1342 "Error encountered, bailing. Network state unknown. Review successful transactions manually. Error: The contract code couldn't be stored, please check your gas amount."
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Whenever I run truffle migrate I get the following line: Error encountered, bailing. Network state unknown. Review successful transactions manually. Error: The contract code couldn't be stored, please check your gas amount.

This is the repository

[2018-10-15 18:43] CruzMolina commented on #1150
@eggplantzzz is this fixed in #1305?

[2018-10-15 20:14] okwme opened #1343 "No error on bad RPC endpoint"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

If your truffle config contains an error in the RPC endpoint, the migrate command fails silently.

## Steps to Reproduce
this was my config, using env variables for the sensitive stuff. I had prefixed my infura key with `v3/` so the final URL ended

[2018-10-16 10:26] kyriediculous opened #1345 "provider broken"
Truffle config will not accept a provider from any other libraries such as web3 0.2.6+ or ethersj

https://github.com/trufflesuite/truffle-provider/issues/12

[2018-10-16 12:30] kyriediculous commented on #1269
Sorry but this is not an issue.

You do never ever ever have to put your JSON build files on a webserver.

You never ever ever have a webserver when running a dappclient

You ALWAYS include the necessary information in your client build.

can be closed.

[2018-10-16 12:47] farhanhvf commented on #906
Thanks @IlIlIlIlIlIlI, Its worked!!!

[2018-10-16 13:32] maxaleks opened #1347 "[Truffle 5.0] No logs for simple transaction"
- ✅ I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

There are no logs in Truffle 5 for simple (not deployment) transactions when using deploy, as it was in Truffle 4

## Steps to Reproduce

[code]

## Expected Behavior

_**Deploying 'Test'**_ with the details, then hash (and details maybe) of transact

[2018-10-16 14:40] #1340 closed

[2018-10-16 20:29] eduardonunesp commented on #469
@gnidan any fix for this issue? beyond the workaround? for version `4.1.15`

[2018-10-16 23:37] eggplantzzz commented on #1336
**Random Note**: having the keyword 'native' in the string that heads a `describe` or `it` block (in the tests) causes that chunk of tests to be excluded while running the tests in `truffle-compile` due to the testing script found in that package.

[2018-10-16 23:48] CruzMolina commented on #152
Closing as I've verified this is no longer an issue on the current stable release (v4.1.14) and the current v5 beta release (beta.1) .

[2018-10-16 23:48] #152 closed

[2018-10-17 20:31] aleybovich commented on #265
@cgewecke Is this feature in the latest 5.0.1 beta? I just realized I need to compile abi's for multiple solc versions at the same time and looking for ways to do that.

[2018-10-17 21:19] eggplantzzz commented on #1342
Does anything change when you adjust your gas values?

[2018-10-17 23:48] ryanliu285 commented on #1342
No, nothing happens

[2018-10-18 00:45] m-chrzan commented on #1342
The build artifact for KomoCoin appears to have empty bytecode. Are you sure you implement all functions declared but not implemented in interfaces/abstract contracts you inherit from?

[2018-10-18 02:48] gnidan commented on #1347
Thanks for opening an issue for this. We're aware of this problem, will need to prioritize implementation. (Or feel free to open a PR!)

[2018-10-18 21:31] rrubo opened #1353 "Error: Invalid JSON RPC response: {"id":3,"jsonrpc":"2.0"}"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

When trying to migrate the contract, I am receiving the jsonRPC error. Can't seem to understand what is the reason of this error, since the contract works just fine when deploying from the Remix browser.

Results:

`$ truffle migrate
Using network

[2018-10-18 23:26] thekevinbrown opened #1354 "[BETA] Truffle Install fails"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Trying to run `truffle install zeppelin` errors

## Steps to Reproduce

[code]

## Expected Behavior

Zeppelin library should be installed.

## Actual Results

[code]

## Environment

* Operating System: OS X 10.14 (18A391)
* Ethereum client: `gana

[2018-10-19 03:02] interfect commented on #1269
Sorry, I'm completely unfamiliar with the build process you are referring to @kyriediculous.

I've been building my dapp with Browserify to package up the `truffle-contract` module, and then invoking the module's constructor function that it exports according to https://github.com/trufflesuite/truffle/tree/next/packages/truffle-contract#usage which says to pass in the JSON data for the contract, w

[2018-10-19 04:47] interfect opened #1355 "Forcing a transaction to be signed and broadcast to call a view method with truffle-contract"
## Issue

I am writing an on-chain API that will be invoked from other smart contract clients, and I am converned about gas usage.

I need to force `truffle-contract` to send a transaction invoking a `view` method on-chain, during my Truffle tests, so I can see how much gas it uses with [eth-gas-reporter](https://github.com/cgewecke/eth-gas-reporter), which apparently only reports gas usage for me

[2018-10-19 09:55] ferittuncer commented on #469
There should be an option to disable compiling also.

I needed to debug a flaky test situation so I wanted to run a test a hundred times to be sure. But compiling a hundred times is totally unnecessary and a waste of time.

[2018-10-19 12:57] eggplantzzz commented on #1322
Is this still an issue?  For me, deploying to Rinkeby does successfully run the dry run.  Do you have the same behavior while deploying to other networks?

[2018-10-19 13:45] eggplantzzz commented on #1354
This feature is kind of incomplete at the moment...we are currently working to revamp EthPM and hope that within the next couple of months we'll be able to have something useful in place!

[2018-10-19 17:57] ryanliu285 commented on #1342
I don't really know what to do at this point, I tried to implement every function in Ownable.sol and ERC721Token.Sol, and I still end up with the same problem

[2018-10-19 19:05] CruzMolina commented on #1322
Looks like the fix is `npm install --save truffle-hdwallet-provider@web3-one`.

After installing @web3-one, all three behaviors detailed above work as described. 👍

[2018-10-19 21:11] fainashalts commented on #1090
@CruzMolina is this issue resolved now? Wondering if we can close it.

[2018-10-19 21:15] CruzMolina commented on #1090
Thanks for the reminder! Closing.

[2018-10-19 21:15] #1090 closed

[2018-10-20 04:03] twinkleshine opened #1358 "Truffle migrate got stuck"
`-` [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I ran the official example code: truffle migrate,and stuck there for a long long time:

#truffle migrate
Running migration: 1_initial_migration.js
Deploying Migrations...

## Steps to Reproduce
I started my geth using command:
`geth --port 3000 -

[2018-10-20 04:36] roderik commented on #1322
Are you testing this with a migration file that does not deploy any contracts? For me, this is still not working as it is supposed to.

[2018-10-20 10:32] ZeCarlosCoutinho opened #1359 "Ethereum Overview Webpage not showing properly"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Markdown in the Ethereum Overview page, on the website, is not showing up properly.

## Steps to Reproduce

Go to https://truffleframework.com/tutorials/ethereum-overview and check the text after the first image.

## Expected Behavior

I expected f

[2018-10-20 11:51] loreberti89 opened #1360 "Error on test when call a function of contract"
version : Truffle v4.1.14
node: 8.12.0
ganache-cli : Ganache CLI v6.1.8 (ganache-core: 2.2.1)
Windows: 10
npm : 6.4.1

## Issue

Hello I'm trying to test a simple contract:
[code]
I have this migrations:

[code]

And I have this test:

[code]
I can't undestand Why it return:

[2018-10-21 03:03] patt0 commented on #1324
@mszykora have you managed to fix the problem yet?

[2018-10-21 19:07] roderik opened #1361 "[v5] Allow configuration of allowed_extenstions for the migrations"
I'm using https://github.com/ethereum-ts/truffle-typechain-example to get everything into typescript but `truffle migrate` cannot find any migrations ending in .ts due to thus config option: https://github.com/trufflesuite/truffle/blob/46fc7bdb9fde7cc3fa99b94fef04b1d6c04c38f7/packages/truffle-migrate/index.js#L30

There is however no option to configure this in the truffle.js file.

Crosslink: htt

[2018-10-21 19:08] roderik commented on #1347
See https://github.com/trufflesuite/truffle/issues/1252

[2018-10-21 19:56] rrubo opened #1362 "Network/artifact mismatch error: Remix ABI vs Truffle artifacts .json"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I can't understand the concept of Truffle's artifatcs .json files in comparison to Remix IDE. When exporting the ABI and the Bytecode from Remix IDE, I would expect those to be exactly the same as in Truffle's artifatcs.

## Steps to Reproduce

1.

[2018-10-22 12:47] hickscorp commented on #853
I'd like to bump this - to this day, we're not able to use Truffle with Parity in POA mode - it hangs forever at the migration step.

[2018-10-22 14:33] eggplantzzz commented on #1322
I am testing it with a toy app that I made and according to the logging it is deploying contracts.  I'll take a look at the code you referenced above to see if anything jumps out at me.

[2018-10-22 15:07] eggplantzzz commented on #1358
What happens when you try and run the migrations just using the truffle development chain?  In other words, run `truffle develop` and then try and run your migrations using that test network that gets spun up.  Do they run successfully?

[2018-10-22 15:15] eggplantzzz commented on #1359
Thanks for the heads up!  We'll try and get this sorted out.

[2018-10-22 16:27] NoahZinsmeister commented on #1341
So, I tracked down the bug. In [line 231 of index.js in truffle-compile](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-compile/index.js#L231), interfaces/contracts defined in source `.sol` files are written to a `returnVal` object. However, if the same contract/interface name exists in multiple source files, the last contract/interface with the same name to be processed is the

[2018-10-22 18:59] #1313 closed

[2018-10-22 19:50] eggplantzzz commented on #1354
Thanks for the PR!  I talked with some other members of the team and we're planning to try and look into fixing this.  It might only be working for specific packages as some of them mentioned that there might be some people successfully using this feature.  It might work for just a selection of packages...it might be more correct to say that we are not totally sure what its current state is.  Howe

[2018-10-22 20:37] eggplantzzz commented on #1150
I think it should be fixed for v5 as #1305 is now merged into next.

[2018-10-22 20:52] loreberti89 commented on #1360
My error, for a lack of extension "Js" on migration file

[2018-10-22 20:52] #1360 closed

[2018-10-23 00:33] gnidan commented on #1362
Hi @rrubo, thanks for raising this.

Could you paste a diff of bytecode/ABI fields? Or explain how they're different?

I suspect it might be the bytecode, which contains [metadata](https://solidity.readthedocs.io/en/v0.4.25/metadata.html#encoding-of-the-metadata-hash-in-the-bytecode). The bytecode would thus likely differ, compiled in two different places.

[2018-10-23 05:21] thekevinbrown commented on #1354
That sounds great, is there anything I can do to help here? Does it still work in v4? I might be able to find some time before devcon to chip in.

[2018-10-23 05:55] mesqueeb opened #1365 "[BUG] Cannot destructure property `context` of 'undefined' or 'null'. @ truffle debug"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Right after `truffle debug txid` I get:

[code]

## Expected Behavior

Start the debug process.

## Actual Results

See "issue" above.

## Environment

* Operating System: `macOS mojave latest`
* Ethereum client: `ganache-cli@6.1.8`
* Truffle versi

[2018-10-23 08:35] Mordax commented on #1336
Regarding the tests on Vyper failing issue, maybe Vyper can be checked separately to Solidity? Like having two test bundles that depend on a flag to run one at a time when needed, so that any Vyper issues are separated and easier to tackle and build more test support?

[2018-10-23 18:50] rocky opened #1366 "Speed up initial truffle loading? (4.1.13 is 1.5 seconds 5.0.0-beta is 2.8 seconds)"
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Running the most trivial truff truffle command like `truffle version` seems to take in excess of 2.5 seconds. Is that acceptable? Is there a way to speed what appears to be simple nodejs loading?

## Steps to Reproduce

* Install truffle 4.1.13 (e

[2018-10-24 03:01] aleybovich opened #1370 "Any potential problems with distributing built contracts' json?"
It's really a question rather than a bug. I am planning to distribute the contracts json produced by running `truffle compile` as a public npm package for various client apps to consume and access my smart contracts easier and unit test their code on deployed contracts (using `truffle-contract`, truffle resolver etc). Are there any potential problems with that?

[2018-10-24 15:18] eggplantzzz commented on #1354
Hmm, I think you might take it up with @gnidan...I'm not sure we've fully taken stock of what it will take to fix.

[2018-10-24 15:22] #1318 closed

[2018-10-24 17:50] gnidan commented on #1205
I'm closing this as it seems to be a problem with NPM or NVM. Please reach out on [Gitter](https://gitter.im/ConsenSys/truffle) if this kind of problem persists. Thanks!

[2018-10-24 17:50] #1205 closed

[2018-10-24 17:57] gnidan commented on #1237
This work is probably never done, but closing because the CONTRIBUTING.md has been updated. Thanks!

[2018-10-24 17:57] #1237 closed

[2018-10-24 18:02] gnidan opened #1373 "Set up a bot for cleaning up issues"
## Issue

We have a lot of old issues.

## Expected Behavior

A cron job should run that finds all issues without activity older than a certain amount of time and comment with a warning "we will close this soon unless you respond"

Then, 7 days later, the robot should close the issue.

[2018-10-24 18:02] gnidan commented on #162
Is this still something you want @raineorshine? Let us know or please close the issue. Thanks!

[2018-10-24 18:03] gnidan commented on #186
This is in the beta, but not the full release. Closing this for issue maintenance. Thanks!

[2018-10-24 18:03] #186 closed

[2018-10-24 18:06] gnidan commented on #237
This is part of a task on our roadmap. For more information, please see requirements listed the [artifact-updates doc](https://trufflesuite.github.io/artifact-updates/trufflesuite/master/docs/use-cases.html)

[2018-10-24 18:07] gnidan commented on #261
Looks like this issue can be closed. Thanks! (Feel free to holler at me to reopen)

[2018-10-24 18:07] #261 closed

[2018-10-24 18:08] gnidan commented on #265
@aleybovich This _is_ in the beta, but not what you're asking for. Truffle v5 supports specifying a single solc version to use, but does not support multiple simultaneous versions of solc natively.

Please feel free to open an issue for the "multiple versions" enhancement if you would like. In the meantime, closing this issue for maintenance. Thanks!

[2018-10-24 18:08] #265 closed

[2018-10-24 18:10] gnidan commented on #271
This issue is old. Closing for maintenance. Thanks!

[2018-10-24 18:10] #271 closed

[2018-10-24 18:11] gnidan commented on #275
Is this still an issue? It looks like I said that it wasn't in the PR. Let me know and I'll reopen. Thanks!

[2018-10-24 18:11] #275 closed

[2018-10-24 18:12] gnidan commented on #281
@adklempner do you still want this? If not, please feel free to close. Thanks!

[2018-10-24 18:13] gnidan commented on #314
This ticket is out of date, probably in a couple different ways. Closing. Thanks!

[2018-10-24 18:13] #314 closed

[2018-10-24 18:13] gnidan commented on #316
This is probably not still a thing. Let me know if that's not true. Thanks!

[2018-10-24 18:13] #316 closed

[2018-10-24 18:14] gnidan commented on #324
I'm betting this issue is out of date. Closing. Feel free to correct me, and I will reopen. Thanks!

[2018-10-24 18:14] #324 closed

[2018-10-24 18:15] gnidan commented on #367
Closing for issue maintenance. Thanks!

[2018-10-24 18:15] #367 closed

[2018-10-24 18:16] gnidan commented on #369
Is this still a problem? In Truffle v5 I think we changed how this works (for starters, we're using BN.js instead now)

Let me know! Thanks!

[2018-10-24 18:16] gnidan commented on #375
This is kinda cool. Feel free to open a PR! Thanks!

[2018-10-24 18:17] gnidan commented on #376
This is part of Truffle v5. Closing for issue maintenance. Thanks!

[2018-10-24 18:17] #376 closed

[2018-10-24 18:19] gnidan commented on #382
This issue is pretty old, so I'm gonna close it. Feel free to comment with more information if it is still relevant to you. Thanks!

[2018-10-24 18:19] #382 closed

[2018-10-24 18:28] gnidan commented on #852
Re-opening this because it seems some users are having trouble with this still.

[2018-10-24 20:45] joshorig commented on #852
+!
Truffle v4.1.13 (core: 4.1.13)
Solidity v0.4.24 (solc-js)

[2018-10-24 21:10] mryellow commented on #237
One issue with the above hacky code is that it requires that a build already exists, so running in tests it gets those paths wrong and will fail unless a build directory full of artefacts has previously been created.

[2018-10-24 22:35] #1189 closed

[2018-10-24 22:38] joshorig commented on #852
FYI upgrading the HDWallterProvider to version 0.0.7-beta.0 resolved the issue for me

[2018-10-25 04:45] CruzMolina commented on #1361
@roderik would love to support this. Please feel free to submit a PR!

[2018-10-25 05:37] porobov commented on #852
@danielCommitted
Truffle v4.1.13 (core: 4.1.13)
Solidity v0.4.24 (solc-js)

[2018-10-25 12:57] shumail92 opened #1381 "How to use truffle-hdwallet-provider with ethereumjs-tx?"
I am wondering how can I use it to sign transactions with ethereumjs-tx?
The sign() method of ethereumjs-tx accepts private key Buffer as mentioned in docs:
https://github.com/ethereumjs/ethereumjs-tx/blob/master/docs/index.md#sign

**How can I use truffle-hdwallet-provider to sign the transaction?**

_This is the duplicate_ of https://github.com/trufflesuite/truffle-hdwallet-provider/issues/73 an

[2018-10-26 01:40] fulldecent opened #1382 "Remove/obviate boilerplate files"
I loathed getting started with Truffle because there are so many files necessary to get hello world running. Then while I am learning it, I find out that these files deliver no value and are simply boilerplate.

Truffle should learn to work well without these files. Copy-pasting these files into my project do not make me a better programmer, they do not help me learn anything, and they are a distr

[2018-10-26 02:39] fulldecent commented on #1382
P.S. Here is the minimal project I can create that works with Truffle test.

[code]

[2018-10-26 06:58] kennblvnp opened #1383 "How to install truffle solidity 0.4.2?"
is this correct?

[2018-10-26 09:42] tanhuiya opened #1384 "insufficient funds for gas * price + value"
I test in my private network, and the address of the account has 10 eth.
when I `truffle migrate`, it failed.

[code]

const privateKey ="05530B3575CD37DA646E51AABDC9E02271809DE......";

The private key was exported from metamask.

here is my network config
[code]

[2018-10-26 20:36] sneko commented on #1361
Thanks @roderik for making Truffle Typescript-compatible , I hope it will be included in beta.2 👍

[2018-10-26 21:18] CruzMolina commented on #1361
Yes thank you @roderik for getting the ball rolling. Right now we have our hands full prepping for Devcon, but shooting to have some of this included in beta.2 👍

[2018-10-26 21:40] gnidan commented on #1383
I don't think Truffle supports Solidity v0.4.2 anymore, but you can try using the [BYOC feature](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#bring-your-own-compiler)

Closing this (since it's not an issue, just a question). Thanks!

[2018-10-26 21:40] #1383 closed

[2018-10-26 22:16] gnidan opened #1386 "Add integration tests for `truffle develop`"
## Issue

Ahhh! `truffle develop` was broken on `next`! This shouldn't happen!

## Requirements

The scenario tests should at least exercise `truffle develop` a little bit. Just so it doesn't get totally broken.

There's potentially more work in engineering a testing strategy for interacting with our various REPLs, but this should probably be excluded from the scope of this work.

The scope of wor

[2018-10-27 15:35] zdesiree commented on #684
It's the same for me like @JoyCood reported. Any advice on the issue?

[2018-10-28 11:49] jleeh commented on #1381
I use the `truffle-hdwallet-provider-privkey`, along with `nonce-tracker` to avoid issues with load-balanced clients. See my snippet of my `truffle.js`:
[code]

[2018-10-28 11:54] jleeh opened #1389 "Using Web3 1.0 BatchRequests with Truffle contract calls"
## Issue

Get an error when using Web3 1.0 batch requests with truffle contract calls:
[code]

I've Googled around a bit for this, but I can't really see any attempts of people trying to use batch requests with truffle, or whether it's intended to be supported.

## Steps to Reproduce

Create a web3 BatchRequest and add a truffle call to it:
[code]

## Expected Behavior

Batch request is built with

[2018-10-29 12:19] eggplantzzz commented on #953
This feature has been added in version 5!

[2018-10-29 12:19] #953 closed

[2018-10-29 12:41] eggplantzzz commented on #777
Closing as I believe this issue has been resolved.  If I'm mistaken please feel free to re-open this issue!

[2018-10-29 12:41] #777 closed

[2018-10-29 12:50] eggplantzzz commented on #831
Truffle 5 now allows you to unbox/init in a non-empty folder.  If there are name conflicts, it now prompts you to see if you want to overwrite the conflicting files.  There is also a `--force` option for both init and unbox which forces the unbox/init without the prompt.  Closing this issue.

[2018-10-29 12:50] #831 closed

[2018-10-29 12:52] eggplantzzz commented on #1038
Closing this issue as it seems to have been resolved.  Feel free to re-open if I'm mistaken.

[2018-10-29 12:52] #1038 closed

[2018-10-29 12:56] #1210 closed

[2018-10-29 13:34] eggplantzzz commented on #631
Closing this as a linter has been added to version 5!

[2018-10-29 13:34] #631 closed

[2018-10-29 13:35] eggplantzzz commented on #618
Closing this as `truffle help <command>` is now functional in version 5.

[2018-10-29 13:35] #618 closed

[2018-10-30 09:09] gnidan commented on #1389
@jleeh Web3.js 1.0 is only supported in Truffle v5 beta or higher. Please try out the beta by running the following commands:

[code]

And let me know if that works for you. Thanks!

[2018-10-30 10:04] salmanahmad3333 commented on #943
Please tell me how you resolved the issue. I have the same issue.

[2018-10-30 12:13] lakamsani opened #1392 "Upgrade to truffle 5 causes migration to fail with "error while converting number null to BN.js""
- [x ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
- Tried the workaround suggest in that Gitter channel and also after talking to @gnidan just now at [Devcon4](https://devcon4.ethereum.org) but not having luck. Tried [right after](https://github.com/PulseBlockchain/oz-sample-app/blob/ed52f82b5d0a504adf4950f3e975f90d2be5cdbc/test/TestCr

[2018-10-30 12:16] lakamsani commented on #1392
BTW, I have truffle4 installed globally and truffle5 installed separately so I can try both quickly without another `npm install -g`. That is the reason for `truffle5` command above. Perhaps there is a way to have multiple versions globally.

[2018-10-30 13:14] nklipa13 commented on #792
Hey, I had same issue with this and I think that I figured out what was the problem, so basically problem is if you have event with same name in your contract (i.e. Transfer) Truffle gives you that error message. So just try changing name of your event to TransferA and it should work

[2018-10-30 19:41] salmanahmad3333 opened #1393 "Reference Error - not defined (develop console)"
I've asked for help in the Truffle Gitter before filing this issue.

truffle(development)> Election.deployed().then(function(instance) { app = instance })
ReferenceError: Election is not defined
truffle(development)> app.address
ReferenceError: app is not defined

Not sure why I'm receiving reference errors.

Here is the previous issue link which is closed.
https://github.com/trufflesuite/truffle/

[2018-10-30 19:42] salmanahmad3333 opened #1394 "Thanks! I think it was just due to truffle not being unboxed into an empty directory, something which the tutorials I was following didn't mention as they maybe thought it was obvious."
_Originally posted by @ArranMcC in https://github.com/trufflesuite/truffle/issues/943#issuecomment-391326824_

Please tell me how you resolved this issue. I still can't be able to figure it out.

[2018-10-31 15:35] mGrossSRT commented on #684
Hi all, same issue as @zdesiree and @JoyCood. Anybody found a workaround and or a solution?

[2018-10-31 16:09] BenWute opened #1396 "Truffle not found cmd"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Hi,
I'm following the video "How to Build Ethereum Dapp (Decentralized Application Development Tutorial)" from the DappUniversity and I were able to install everything but when I had to call truffle there was a problem.
![image](https://user-images.

[2018-11-01 00:05] fainashalts commented on #1392
Hi @lakamsani, thanks for reaching out about this. I cloned your repo to see what I could do to help. There appear to be a few things going on here so I hope you don't mind but I'll walk you through what I was able to address:

First, you should make sure that you are actually connected to web3. I didn't see a requires in the 2_Test-Crowdsale.js file, and when I added it I was able to get the late

[2018-11-01 00:05] #1392 closed

[2018-11-01 06:10] code-brewer commented on #501
Yes, i encountered this issue with node v8.10.0, it look like await() don't return but the test flow exited normally. Finally i upgrade nodejs to 9.11.1.

[2018-11-01 12:41] lakamsani commented on #1392
@fainashalts  thanks for looking into this providing detailed feedback. Given that all my tests were working with Truffle4, looks somehow `web3` instance was being magically injected by Truffle4 but not anymore. If you could send a PR with all your changes or simply paste the changes you made in `2_Test-Crowdsale.js` that would be great. I can pick up from there and figure out the other issues.  I

[2018-11-01 15:12] ayanez17 opened #1400 "Truffle migrate/compile fails; "Cannot find module './js'""
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
When I try to run truffle compile or truffle migrate I get the following error:
`Error: Cannot find module './js'`

## Steps to Reproduce
While inside the contracts folder, I run `truffle compile` or `truffle migrate --network rinkeby` and I get the

[2018-11-01 15:18] fainashalts commented on #1392
Hi @lakamsani, happy to help. I don't have the code anymore as I was just digging around to see if this is an issue with Truffle v5 that needs addressing in our code. The steps above should get you most of the way there though!

You are right, I believe web3 was previously being globally required and now needs to be required explicitly. Also, I forgot to mention in my previous comment that the `we

[2018-11-01 16:09] fainashalts commented on #1396
Hi there, I was not able to reproduce this issue. I do believe that the advice in #542 is correct regarding your need to fix the path setup to ensure you can access truffle appropriately.

This stackoverflow discussion should make things a lot clearer: https://stackoverflow.com/questions/14803978/npm-global-path-prefix

Basically, you'll need to check if your path is correct for npm and truffle. W

[2018-11-01 16:09] #1396 closed

[2018-11-01 17:30] fainashalts commented on #1393
Hello, thanks for reaching out! I am not able to reproduce this issue. Without any code to look at it's a difficult to figure out why you are getting this error.

On first glance, I wonder if you have required your Election contract appropriately. It may help to try this out with a Truffle box so you can see how all the pieces are supposed to work. Perhaps try truffle unbox metacoin in a separate

[2018-11-01 17:30] #1393 closed

[2018-11-01 17:57] fainashalts commented on #1384
Hi, and thanks for reaching out about this issue! I believe the actual problem is in the "Network state unknown" portion of the error you're getting. You seem to be trying to put your private network info into `networks.development`, but you should have a `networks.private` with this information and be using that if you're using the private network. The key here is you want your migration to be ac

[2018-11-01 17:57] #1384 closed

[2018-11-01 21:31] levelvc commented on #1345
Has this issue been resolved?

[2018-11-01 22:32] lakamsani commented on #1392
@fainashalts  I just pushed a commit to my branch where I tried some of your instructions. I do see a change in behavior but now it stopping with a different error as shown below. So I 'm not able to get to the point where you were. Can you send me a sample project that shows the correct way to initialize web3 in Truffle5 now that it is not being injected anymore?

You can see in my latest commit

[2018-11-02 07:53] luckyyang commented on #1233
upgrade `react-scripts` works, thanks @sweatyc

`yarn add react-scripts@2.0.5`

[2018-11-02 11:16] benjamincburns opened #1403 "Proposal: Make event/log tests easier to write by returning an iterator which returns promises"
[Testing for events today](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/test/crowdsale/Crowdsale.test.js#L86-L91) -- [is kind of a pain](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/test/helpers/expectEvent.js).

It'd be really nice if I could do something like the following:

[code]

[2018-11-02 11:18] benjamincburns commented on #1403
to avoid breaking things I'd also be happy with `const eventGenerator = myContract.EventName({}).toAsyncEventGenerator();` or some such...

[2018-11-02 11:30] eggplantzzz commented on #552
I attempted to duplicate this on the most recent version of truffle and could not do so.  Is this still a problem?  If not I will close this issue in a few days.

[2018-11-02 11:34] eggplantzzz commented on #611
I could not duplicate this issue with the most recent version of truffle, is it still an issue?  If not I will close this in a few days.

[2018-11-02 12:19] RolandBarro commented on #852
Hi, I have got the same Error but the got it from different scene.
it happen during my token.methods.transfer(spender, amount)

Truffle v4.1.14 - a development framework for Ethereum
pragma solidity ^0.4.21;
"web3": "^1.0.0-beta.20",
---
Error: Invalid JSON RPC response: ""
    at Object.InvalidResponse (D:\projects\blockchain\bitxcoin\node_modules\web3\packages\web3-core-helpers\src\errors.js:42:

[2018-11-02 14:00] davidperrenoud commented on #611
Still an issue with Truffle v4.1.14. To reproduce you need to start with a brand new project where you haven't run `truffle migrate`.

Here is the error I get now:
[code]

[2018-11-02 17:41] fainashalts commented on #1392
Hi @lakamsani, unfortunately we don't have the bandwidth to troubleshoot questions that are not directly related to issues/bugs in Truffle's codebase. The error you posted is likely due to web3 still not being connected as you have it written, also you should make sure you have a blockchain running on 8545 if that is what you're using to connect web3.

Gitter is a great place to ask for help with

[2018-11-02 18:10] benjamincburns commented on #1394
Please wait for response in thread rather than opening duplicate issues.

[2018-11-02 18:10] #1394 closed

[2018-11-02 19:58] fainashalts commented on #1339
Hi @zak100 are you still having trouble with this error? This error may bubble up when something is wrong with the way conditions in a require statement are being met. For more info see this similar resolved issue: https://github.com/trufflesuite/truffle/issues/884

[2018-11-02 20:30] fainashalts commented on #1381
Hi @shumail92, it looks like @jleeh has addressed your question (thanks!). I'm going to close this issue, but please feel free to open another if something else comes up!

[2018-11-02 20:30] #1381 closed

[2018-11-02 20:56] lakamsani commented on #1392
@fainashalts this is serious DX (developer experience) problem. Gitter is completely useless as far as getting support is concerned. Questions get lost if no one answers them in time. If the truffle team is really serious about developer adoption you should provide a sample "hello world" type project (outside of the truffle boxes) that shows how to initialize web3 in truffle5 as it has changed qui

[2018-11-02 23:01] zak100 commented on #1339
Thanks. I made some changes in the code and now its giving another unsolved exception. I ran the contracts on Remix. It did not give me any such error and generated warning messages. However it did not deploy the contract.
I would add my problem to git hub.
Thanks for your response.
Zulfi.
    On Friday, November 2, 2018, 3:32:50 PM CDT, Faina Shalts <notifications@github.com> wrote:

Hi @zak100 a

[2018-11-03 05:19] lakamsani commented on #1392
@fainashalts  I had an incorrect import for the nee web3 in the migrations script. After I fixed that getting this error which I believe you fixed before in your local test. From the truffle error message, it is not clear what line of the migration script is problematic. Is there some way to find that?

[code]

[2018-11-03 13:08] rrubo commented on #1362
Sorry for the late answer. I suspect they are different, since when I deploy a contract from the Remix IDE, and then run `truffle compile`, when launching, the dapp does not recognize that the contract is deployed from the Remix IDE (I am **not** running` truffle migrate`).

Perhaps, I understand this whole process wrong, but my understanding was that `truffle migrate ` and deploying from Remix ID

[2018-11-03 23:17] zak100 commented on #1339
Hi @fainashalts,
I think I am getting error at this line:
MyContract5(address(throwproxy)).storeNum(22);

In the MyContract5 constructor is empty and in the above statement I am passing a value to it as done in the tutorial. The statement before its is:

ThrowProxy throwproxy = new ThrowProxy(address(mycontract));
This is storing the address of MyContract5 in 'throwproxy'. So we have to call store

[2018-11-04 15:51] burdakovd commented on #564
Despite original issue was about building additional files needed for verification proces on etherscan.io, I think Truffle could go a step further, and instead actuall call etherscan API for verfication. Ideally it would do so for every deployed contract (i.e. in deployer), subject to config option (as I guess some people may prefer not to share source code).

It is at the position to do so, it ju

[2018-11-05 14:47] matthieu-merlyn commented on #624
@karalabe @cgewecke @gnidan

Any updates on this issue? Thanks.

[2018-11-05 19:58] eggplantzzz commented on #1334
@sunlggggg Is your codebase available anywhere?

[2018-11-05 20:11] eggplantzzz commented on #1362
It looks like the Remix artifacts have a different structure than the Truffle equivalents.  When you compile and migrate there is also some metadata (like networks where it is deployed and their address)that Truffle needs for access.  Currently I'm not sure if there is a way to 'sync' them up as far as I know.  It could be an interesting feature to look into!

[2018-11-06 05:48] sahad752 opened #1410 "Any way to interact with smartcontracts from android"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2018-11-06 05:48] #1410 closed

[2018-11-06 10:35] sunlggggg commented on #1334
I use the stopWatching() deal with this question().

[2018-11-06 10:37] sunlggggg commented on #1334
I use the stopWatching() deal with  the problem.

[2018-11-06 14:36] eggplantzzz commented on #1392
I think version 1 of web3 uses the BN library and not BigNumber.  In your migration file you are doing `const BigNumber = Web3.BigNumber;` which for me on my local comes out as `undefined`.  I haven't scoured your code but try and resolve that issue and see what happens.

[2018-11-06 14:41] jleeh commented on #1389
I tried with Truffle v5 and got the same error I mentioned in the original issue. I'm going to close this issue as I think it's deps problem rather than an actual one, then I just ran single TX's rather than batching. Thanks for the help though @gnidan

[2018-11-06 14:41] #1389 closed

[2018-11-06 21:00] eggplantzzz commented on #1358
@twinkleshine Did you get this issue worked out?

[2018-11-07 05:12] Frankie34 commented on #488
start ganache
truffle compile + truffle migrate
that works for me

[2018-11-07 13:28] #1359 closed

[2018-11-07 13:31] #1334 closed

[2018-11-08 08:36] axic commented on #1131
I think this is still valid.

[2018-11-08 08:36] axic commented on #1206
I think this is still valid.

[2018-11-08 08:46] eliceaas commented on #788
thank u man ! i use "db,eth,net,web3,admin,personal,miner" and it worked !

[2018-11-08 08:47] mryellow commented on #517
This issue presents alternative possible syntax.

https://github.com/trufflesuite/truffle/issues/237#issuecomment-252607611

Which I see @tcoulter has included here:

https://github.com/trufflesuite/truffle/issues/237#issuecomment-314233073

It could probably be closed as duplicate.

[2018-11-08 12:00] LogvinovLeon commented on #387
I think it's still valid

[2018-11-08 19:06] obernardovieira commented on #1386
Hi,
I think I can do this, but I don't know exactly where to start. Can you please give me a hint?
I ran the `npm run test` and I was looking into files.

[2018-11-08 19:45] #1373 closed

[2018-11-08 20:03] #1361 closed

[2018-11-08 20:56] Meabo commented on #1386
Same here, I was looking for an entry point @gnidan, thanks

[2018-11-08 21:03] Meabo commented on #1343
I reproduced the error, and found that no promise are returned at this line: https://github.com/trufflesuite/truffle/blob/next/packages/truffle-core/lib/commands/migrate.js#L170

As it's my first time diving into the code, it will take me more time to fix the issue but I will 👍

[2018-11-08 21:30] roschler opened #1414 "Feature request : step over funtion modifiers"
While stepping through an Ethereum transaction with the Truffle debugger, currently there is no way to step over a Solidity function modifier.  The `step out` or `o` command, still steps one line at a time through the function modifier.  It would be very helpful if the `step out` command stepped completely over the function modifier.

An added feature would be to have a `step into function body` c

[2018-11-09 00:57] gnidan commented on #1386
@obernardovieira @Meabo thanks for the interest in this!

The basic task here is to write a scenario test in `packages/truffle/test/scenarios`, to invoke `truffle develop` and run commands inside it.

For a more sophisticated approach, there might be something to the idea of modifying `packages/truffle/test/scenarios/commandrunner.js` script to run all scenario tests in various ways:
- via `truffl

[2018-11-09 06:41] haltman-at opened #1416 "Various oddities with references, decodings, and values"
## Issue

This is not really one singular issue; apologies for submitting a grab-bag, but separating this out would take some work, and I wanted to get written down all the oddities I'd noticed.

It's very possible all of this is fixed in the `decoder` branch; I'm not familiar with what's going on there.  But I wanted to get these oddities written down.  All of these were initially found while doi

[2018-11-09 16:08] kyriediculous commented on #552
This is still a problem in 4.1.14 yes.

[2018-11-09 16:12] kyriediculous commented on #1400
On windows use truffle-config.js instead of truffle.js

[2018-11-09 16:17] ayanez17 commented on #1400
I’m in a Mac

[2018-11-09 19:51] celeduc commented on #1292
Why, why, _why_ does Truffle persist in hard-coding the solc version? Allowing users to manage this dependency would allow us to upgrade solc to avoid dangerous compiler errors as they arise without maintaining our own fork.  It would be as simple as putting `"solc": "^0.4.25"` instead of `"solc": "0.4.25"` in the package.json.

[2018-11-09 19:58] gnidan commented on #1292
@celeduc Truffle does not persist in hard-coding the solc version. The hard-coded there is now to serve as a convenient default. See the Truffle v5.0.0-beta.0 release notes: https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#bring-your-own-compiler

[2018-11-09 20:02] celeduc commented on #1292
@gnidan Thanks, I appreciate the tip. TFM is excellent :+1:

[2018-11-10 19:29] 0sk11 commented on #48
I tried to unbox pet-shop (screenshot attached).It's says downloading... but the folder remains empty.
![dapp](https://user-images.githubusercontent.com/22243353/48305237-0c83b200-e54d-11e8-9578-ff14440486c1.PNG)

[2018-11-10 19:36] 0sk11 opened #1418 "Truffle unbox pet-shop seems to do nothing"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue Nothing is downloaded, no error is shown.

What the issue is, in broad strokes.

## Steps to Reproduce
truffle unbox pet-shop
Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

#

[2018-11-12 00:46] roschler commented on #1308
@rsamo Thanks Ryan!  I had the same problem and that fixed it.

[2018-11-12 01:10] rsamo commented on #1308
Glad I could help @roschler!

[2018-11-12 10:43] obernardovieira commented on #1386
Thanks @gnidan for quick response.
I have one doubt, `CommandRunner.run` is running commands but actually waiting them to end at some point. Since I want to run the `truffle develop` and then the other commands inside, is there any example I can follow or do I need to build this kind of thing from scratch?

[2018-11-12 14:59] gnidan commented on #1386
From scratch, I'm afraid. :/
On Mon, Nov 12, 2018 at 05:43 Bernardo Vieira <notifications@github.com>
wrote:

--
---
G. Nicholas D'Andrea
Truffle Engineering
nick.dandrea@consensys.net

[2018-11-12 15:32] roschler opened #1419 "Revert error only shows in Verbose mode, only shows error code -32000"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

I did not ask in Gitter because this post contains a lengthy stack dump.

---------------------------

## Issue

When making a smart contract call the Ganache client throws a `revert` error.  The `revert` error does **not** show up in the transaction logs if VERBOSE MODE is turned _off_

[2018-11-12 17:47] obernardovieira commented on #1386
Ok, doesn't seem easy at first sight, but I will have a try and reply asap. Thanks so far.

[2018-11-12 20:46] pipermerriam commented on #511
@maraoz the latest evolution of EthPM abandons the centralized registry in favor of a federated model.  We have no intentions of maintaining the existing registry and will likely get that site taken down and replaced by something else soon.

[2018-11-12 21:02] gnidan commented on #511
Oh hey @pipermerriam, thanks for the response!

Gonna close this now. Will have more word on Truffle's upcoming EthPM integration once the EthPM v2 work settles. Thanks!

[2018-11-12 21:02] #511 closed

[2018-11-13 04:25] jerryji opened #1421 "Truffle v5.0.0-beta.0 Release Page Documentation Error"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
At the Truffle v5.0.0-beta.0 release page ( https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0 ), the solc optimizer example incorrectly puts the config under "settings", while they should have been child of "solc" --

[code]

## Ste

[2018-11-13 14:12] mihairaulea opened #1422 "Callback hell in tests, be gone!"
<img width="898" alt="screen shot 2018-11-13 at 4 07 06 pm" src="https://user-images.githubusercontent.com/1550452/48418718-a40c1f00-e75e-11e8-9ff2-aba84748daa7.png">

[code]
 i have been working on a new testing framework that makes the units more readable and fluent. Would love to get some feedback. Is this something that truffle is willing to pursue? Any feedback would be very well received!

[2018-11-13 16:04] maraoz commented on #511
@pipermerriam sounds good! thanks for the heads up :)

[2018-11-13 17:14] danielpenagos commented on #684
Hi everyone. I am getting this error. I'm trying to figure it out what is the cause, without any success.

Any ideas?

/usr/local/lib/node_modules/truffle/build/cli.bundled.js:101723
    var artifact = JSON.parse(
                        ^
undefined:1
0 info it worked if it ends with ok
  ^

SyntaxError: Unexpected token i in JSON at position 2
    at JSON.parse (<anonymous>)
    at FS.getContract

[2018-11-13 20:36] axic opened #1426 "Consider using solc-js and not copy called solcWrap"
This piece of code seems to be an extract from solc-js:
https://github.com/trufflesuite/truffle/blob/next/packages/truffle-compile/solcWrap.js

Based on the change history, it seems it was introduced to speed up the load time: https://github.com/trufflesuite/truffle/commit/729996d119c0d651ca9daed00ef31634dc33902a#diff-10cfe2841404f9da71374b9f32176bae

The real solution would be to use `require('so

[2018-11-13 23:10] gnidan commented on #1386
Thank you!

[2018-11-13 23:34] adrianmcli opened #1427 "Add ability to do truffle unbox with branches of a repo"
Continuation from an issue here: https://github.com/trufflesuite/truffle-box/issues/11

The ability to unbox a branch of a repo would be great. It would allow the ability to test out unboxing without pushing to master.

[2018-11-14 00:20] kennblvnp commented on #1256
@jfkidear did it work? dont just tag him, tell something

[2018-11-14 11:10] luckyyang commented on #1308
@rsamo That really helps, thank you!

[2018-11-14 13:09] lrettig opened #1429 "truffle migrate hangs with HDWalletProvider on ewasm testnet"
## Issue

When I attempt to migrate (deploy) a contract to the ewasm staging testnet using HDWalletProvider, truffle hangs and doesn't get past the first RPC call, `eth_getBlockByNumber`. (Without HDWalletProvider it works fine.)

## Steps to Reproduce

`truffle.js`:

[code]

Changing the network ID, etc. didn't help.

## Expected Behavior

I expect to be able to deploy a contract.

## Actual Resu

[2018-11-14 14:52] blockchainbuddha commented on #1418
Windows and Truffle don't mix well...yet!

Try following this guide to get Truffle installed properly.
https://davidburela.wordpress.com/2017/05/12/how-to-install-truffle-testrpc-on-ubuntu-or-windows-10-with-windows-subsystem-for-linux/

[2018-11-14 15:03] roschler commented on #1365
I encountered this error too today.  I am using Ganache v 1.2.2, Node.JS 8.1, and NPM 5.6.0.

[2018-11-14 20:50] gnidan commented on #1429
@lrettig You need to grab `truffle-hdwallet-provider@web3-one`; that's probably your problem.

[2018-11-14 20:59] PaulRBerg commented on #1341
In my case, this occurred when, by mistake, I prevented the `Migrations` contract from being deployed.

[2018-11-14 21:26] gnidan opened #1432 "Enable the CompilerSupplier to auto-pull Docker images"
## Issue

Truffle v5's compiler auto-downloading works for solcjs but not for Docker. It's likely that we want to avoid requiring the user to grab the image themselves.

Effectively, when the user does not have the Docker image, Truffle should run `docker pull ethereum/solc:<image-version>`.

Truffle should select the best-match `image-version` for the user's specified config value, similar to how

[2018-11-14 22:29] lrettig commented on #1429
Thanks, that worked. What on earth is `web3-one`?

[2018-11-14 22:29] #1429 closed

[2018-11-15 06:09] gnidan commented on #1426
Thanks for opening this issue @axic. On it!

[2018-11-15 08:58] RobinJQ commented on #548
I have the same problem! What is the solution??

[2018-11-15 09:10] #1067 closed

[2018-11-15 09:10] #1050 closed

[2018-11-15 09:10] #1080 closed

[2018-11-15 09:10] #1032 closed

[2018-11-15 09:10] #1091 closed

[2018-11-15 09:10] #1063 closed

[2018-11-15 09:10] #1013 closed

[2018-11-15 09:10] #917 closed

[2018-11-15 09:10] #435 closed

[2018-11-15 09:10] #763 closed

[2018-11-15 09:10] #1154 closed

[2018-11-15 09:10] #703 closed

[2018-11-15 09:10] #895 closed

[2018-11-15 09:10] #494 closed

[2018-11-15 09:10] #975 closed

[2018-11-15 09:10] #500 closed

[2018-11-15 09:10] #555 closed

[2018-11-15 09:10] #1023 closed

[2018-11-15 09:10] #1079 closed

[2018-11-15 09:10] #559 closed

[2018-11-15 10:04] axic commented on #895
@gnidan was this solved in the end?

[2018-11-15 10:10] #561 closed

[2018-11-15 10:10] #520 closed

[2018-11-15 10:10] #697 closed

[2018-11-15 10:10] #546 closed

[2018-11-15 10:10] #690 closed

[2018-11-15 10:10] #880 closed

[2018-11-15 10:10] #674 closed

[2018-11-15 10:10] #801 closed

[2018-11-15 10:10] #595 closed

[2018-11-15 10:10] #931 closed

[2018-11-15 10:10] #554 closed

[2018-11-15 10:10] #1000 closed

[2018-11-15 10:10] #971 closed

[2018-11-15 10:10] #1042 closed

[2018-11-15 10:10] #984 closed

[2018-11-15 10:10] #967 closed

[2018-11-15 10:10] #933 closed

[2018-11-15 10:10] #991 closed

[2018-11-15 10:10] #848 closed

[2018-11-15 10:10] #949 closed

[2018-11-15 10:10] #847 closed

[2018-11-15 10:10] #899 closed

[2018-11-15 10:10] #988 closed

[2018-11-15 10:10] #987 closed

[2018-11-15 10:10] #1049 closed

[2018-11-15 10:10] #1066 closed

[2018-11-15 10:39] axic opened #1436 "Solidity 0.5.0"
The new Solidity release has a small breaking change on the solc-js interface. The `compileStandard` and `compileStandardWrapper` methods were replaced with `compile`, but their interface is unchanged - it still expects a "standard compiler json" as a string and returns the result json as a string.

Using an old solc-js will not work with the new release, however using the new solc-js should be fu

[2018-11-15 11:10] #623 closed

[2018-11-15 11:10] #630 closed

[2018-11-15 11:10] #654 closed

[2018-11-15 11:10] #609 closed

[2018-11-15 11:10] #398 closed

[2018-11-15 11:10] #665 closed

[2018-11-15 11:10] #657 closed

[2018-11-15 11:10] #649 closed

[2018-11-15 11:10] #676 closed

[2018-11-15 11:10] #675 closed

[2018-11-15 11:10] #574 closed

[2018-11-15 11:10] #610 closed

[2018-11-15 11:10] #651 closed

[2018-11-15 11:10] #696 closed

[2018-11-15 11:10] #701 closed

[2018-11-15 11:10] #710 closed

[2018-11-15 11:10] #726 closed

[2018-11-15 11:10] #752 closed

[2018-11-15 11:10] #755 closed

[2018-11-15 11:10] #639 closed

[2018-11-15 11:10] #771 closed

[2018-11-15 11:10] #389 closed

[2018-11-15 11:10] #807 closed

[2018-11-15 11:10] #545 closed

[2018-11-15 11:10] #606 closed

[2018-11-15 11:10] #640 closed

[2018-11-15 11:10] #643 closed

[2018-11-15 11:10] #541 closed

[2018-11-15 11:10] #877 closed

[2018-11-15 12:09] #388 closed

[2018-11-15 12:09] #424 closed

[2018-11-15 12:09] #515 closed

[2018-11-15 12:09] #530 closed

[2018-11-15 12:09] #536 closed

[2018-11-15 12:09] #442 closed

[2018-11-15 12:09] #533 closed

[2018-11-15 12:09] #577 closed

[2018-11-15 12:09] #588 closed

[2018-11-15 12:10] #602 closed

[2018-11-15 12:10] Lagar44 opened #1437 "Prueba"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give examples a

[2018-11-15 12:10] #1437 closed

[2018-11-15 17:44] blockchainbuddha commented on #1422
@mihairaulea So we can get a better idea, could you please show an example both with and without this new feature?

[2018-11-15 19:51] cckelly commented on #763
Just got this as well.

[2018-11-15 21:39] adibas03 commented on #773
For those using `ganache-cli`
Ganache-cli has a default `gasLimit` of `0x6691b7`,
so your `gas` value in truffle.js must not exceed it.
If you need a higher gasLimit, you need to set a higher gasLimit when starting ganache-cli
`ganache-cli -l 8000000`
https://github.com/trufflesuite/ganache-cli#command-line

[2018-11-16 11:08] sulliwane commented on #1269
@kyriediculous not familiar with your workflow neither.

Most projects run ```truffle compile``` to get ```/build``` directory containing all ```ABI.json``` files, and then publish to NPM. Then in js file, ``` { abi } = require('packagename/build/contracts/ABI.json')```

That's indeed a BIG issue when size matters, ie: frontend applications (Single Page App for instance).

We can't reasonably impo

[2018-11-16 17:29] abdennour commented on #677
now I fixed the issue by omitting `gasPrice` and keeping `gas`but with higher value

[code]

[2018-11-16 22:35] tjanson commented on #822
I’m not sure if Truffle’s folder / project structure changed, but in any case the CLI runner is present at this path now: `node_modules/truffle/build/cli.bundled.js`

[2018-11-17 02:29] tobyjaguar opened #1441 "Truffle v5 Solc configuration default"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
I am filing this issue for the default configuration of solc in the v5 documentation and truffle.js as a request from gitter.

I was attempting to change the compiler for truffle v5 and the documentation wasn't quite clear.

truffle.js in the drizzl

[2018-11-17 10:32] kyriediculous commented on #1269
I guess I took a very long sentence to say that webpack removes unused JSON if u import JSON files.

[2018-11-17 11:31] sulliwane commented on #1269
@kyriediculous oh cool, didn't suspect webpack to be that clever ;) thanks for making that clear

[2018-11-17 20:17] #1260 closed

[2018-11-18 01:38] bryanmojica commented on #1309
+1, I'm also having this issue currently with `truffle unbox oasislabs/oasis-box` - confirmed that the truffle-box.json exists @ https://github.com/oasislabs/oasis-box, yet am receiving the "doesn't exist" readout.

[2018-11-18 01:45] bryanmojica opened #1442 "Truffle unbox fails, returns "truffle box.. doesn't exist" despite the truffle-box.json existing @ the target"
I see this issue was reported a ~month ago with a fixing PR pushed 10/6, however I'm receiving the same error while running `truffle unbox oasislabs/oasis-box`. I've confirmed the truffle-box.json exists @ the target, https://github.com/oasislabs/oasis-box

currently running:
Truffle v4.1.14 (core: 4.1.14)
Solidity v0.4.24 (solc-js)

[2018-11-19 10:59] kyriediculous commented on #680
@owocki this problem is not solved.

[2018-11-19 21:47] flockonus commented on #1365
Having the same error when debugging some transactions on Truffle 4.1.14

I'm under the impression that it happens more often on larger functions, but i could be wrong.

[2018-11-19 22:07] RobertoC27 opened #1443 "installing truffle@next vs truffle@beta"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Noticed that when current releases(5.0) suggest installation with truffle@beta. When darq-truffle became truffle@next i was told to use it. But now that both truffle@next and truffle@beta produce a valid installation which one should I use.

@cgewe

[2018-11-19 23:51] gnidan commented on #1443
We use `truffle@beta` for mostly-stable product releases, which include full changelog + release notes. We plan these ahead of time and do our best to ensure everything works as best we can. Beta releases are not entirely stable, but bugs found in them are usually a higher priority for us to fix.

On the other hand, `truffle@next` is more akin to a "nightly", or a development release. It represent

[2018-11-20 00:06] #1443 closed

[2018-11-20 10:15] sugalivijaychari commented on #271
how to set gas limit to 1 ether

[2018-11-20 16:46] eggplantzzz commented on #1442
That box will only unbox on truffle 5.  Try installing truffle 5 and unboxing.

[2018-11-20 17:41] gnidan commented on #1282
Not stale

[2018-11-20 22:15] stevenleeg commented on #1051
Seeing the same issue on 4.1.14. Any updates here?

[2018-11-21 09:18] axic commented on #1436
Closing this as it has been released.

[2018-11-21 09:18] #1436 closed

[2018-11-21 11:33] hadarbmdev commented on #1051
Same issue here. Truffle v5.0.0-beta.1 Solidity v0.4.25 Ganache v1.2.2

[2018-11-21 16:03] chriseth commented on #1118
Would be really great to have this...

[2018-11-21 16:18] gnidan commented on #1118
You're right, @chriseth :)

[2018-11-21 16:43] elenadimitrova opened #1448 "Truffle migrations fails against `parity` and `geth` for large contracts"
- [v] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle migrations fails against `parity` and `geth` with `TypeError: Cannot read property 'transactionHash' of undefined`

## Steps to Reproduce

It is quite possible this is a race condition as it happens on migrating larger contracts. Overall tr

[2018-11-21 16:44] elenadimitrova commented on #1448
@area investigated this too and [this](https://github.com/trufflesuite/truffle/blob/40c66daea581e16d825283d7a39ed24a8b4b6ec3/packages/truffle-deployer/src/deployment.js#L335-L337) seemed suspicious as we were not convinced that `await`ing there ensures the events have fired

[2018-11-21 19:48] gnidan commented on #1448
Hi @elenadimitrova can you let me know if beta.2 fixes this for you?

[2018-11-21 20:10] #1354 closed

[2018-11-21 20:54] eggplantzzz commented on #1400
@ayanez17 Is your code available somewhere?

[2018-11-21 21:41] eggplantzzz commented on #1421
@jerryji Thanks for the heads up about this!  We have updated the release notes.  I'm going to close this issue.

[2018-11-21 21:41] #1421 closed

[2018-11-22 00:14] Schwartz10 opened #1449 "Calls to `.deployed()` do not resolve or reject (truffle-contract@beta)"
## Issue

Talked about this `truffle-contract@beta` issue with: @gnidan

When I use `.deployed()` to connect w/ the deployed version of my smart contract on rinkeby, the call hangs - it does not get resolved or rejected.

## Steps to Reproduce

1. Mobile hotspot yourself (this has only happened to me on crappy internet connection)
2. Install and create a wallet in MetaMask
3. Our repo uses this co

[2018-11-22 01:20] rawadrifai opened #1450 "truffle-contract and truffle-hdwallet-provider do not work - Account Not Found"
I am not sure if this is an issue of truffle-contract or truffle-hdwallet-provider.
I created this: https://github.com/trufflesuite/truffle-hdwallet-provider/issues/78

Can someone help please? We've been stuck on this for some time.

[2018-11-22 02:34] ldub commented on #1365
+1 Same issue here, also this appears to be related to https://github.com/trufflesuite/truffle/issues/1051

Folks in that thread were seeing the same issue towards the end.

[2018-11-22 06:47] rawadrifai commented on #1450
solved in trufflesuite/truffle-hdwallet-provider#78

[2018-11-22 06:47] #1450 closed

[2018-11-22 07:24] ivanzhelyazkov opened #1451 "Add default transaction options in truffle console"
**This is only a suggestion for improvements of your interface.**
When you enter truffle console on a test or main network, it would be a huge time-saver to be able to specify the gasPrice of transactions automatically, due to differing transaction times and some transactions not passing at all.

For example :
By typing _contract.sendTransaction(10000)_,
the truffle console automatically appends _

[2018-11-22 07:38] jerryji opened #1452 "Truffle v5.0.0-beta.2 compilers config error"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
On Truffle 5.0.0-beta.2 release page ( https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.2 ), "Bring Your Own Compiler" links to https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#bring-your-own-compiler , which states

[2018-11-22 11:18] jtakalai commented on #522
Probably still valid though

[2018-11-22 12:57] elenadimitrova commented on #1448
It does! Thanks @gnidan

[2018-11-22 12:57] #1448 closed

[2018-11-23 07:20] 2581097678 opened #1454 "npm ERR! pna.nextTick is not a function"
Recently, when installing scaffolding for vue, this problem occurred. How to solve it?

[2018-11-23 15:15] francofs commented on #906
Just wanted to share what solved for me.

I have nvm for windows installed and the problem was that no matter what, my truffle wasn't being updated. So I figured that I had it installed both no my AppData (outside nvm) and on nvm (with the latest).

Since I had on my path both nvm and my AppData locations for the global installations of truffle, whenever I ran it, it was picking up the AppData ins

[2018-11-23 16:32] PaulRBerg opened #1455 "Suggestion: make @truffle/contract more strict when interacting with its methods"
## Scenario

Let's say we have a contract instance `myContractInstance` and methods `myPureMethod` and `myStateMethod`.

Using truffle `5.0.0.beta.2`, I can do the following in my test files:

    await myContractInstance.myPureMethod(...params);
    await myContractInstance.contract.methods.myPureMethod(...params).call();

And also:

    await myContractInstance.myStateMethod(...params);
    awai

[2018-11-23 17:52] RobertoC27 opened #1456 "Truffle init deletes existing readme when saying no to overwriting"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Using truffle init in a folder that already contains a README.md file and choosing not to overwrite it results in the README file being deleted

## Steps to Reproduce

1. Create a new folder
2. Create a README.md file
3. execute truffle init inside

[2018-11-23 20:00] PaulRBerg commented on #1455
## Update

After doing more [investigation](https://ethereum.stackexchange.com/questions/47206/difference-between-truffle-contract-and-web3-eth-contract), I now understand that truffle-contract was developed in the first place to have a promise-based version of the old callback-based Contract class found in the 0.20.6 version of the web3 library.

As web3 ^1.0.0 implemented Promises and PromiEvent

[2018-11-24 18:22] nikita-fuchs opened #1457 "Function execution fails in Ganache, works in Remix"
## Issue

A function is executable in Remixs' JS EVM, but failing in Ganache

## Steps to Reproduce

1. deploy following contract:
[code]
1.5 point remix to ganache

2. Execute ```pay () ```with "0xcafe" as parameter and provide some ```value```

## Expected Behavior

It would succeed both times.

## Actual Results

It fails only in ganache.
What actually happened. Please give examples and support

[2018-11-24 18:24] #1457 closed, assigned to nobody

[2018-11-26 07:00] webtip commented on #734
why do?

[2018-11-26 09:16] TimDaub commented on #852
I'm getting this error with darq-truffle@next. After it deploys my smart contracts and wants to save the artifacts, I get the following error:

[code]

[2018-11-26 09:52] sparrowDom commented on #888
Has anybody tested solution presented by @eduardonunesp? And if yes how long does it take to save/revert state?

[2018-11-26 12:01] anxolin commented on #1087
Hi @gnidan ! Do you still plan to include this in 5.1? Do you know if there any progress regarding this issue?

Thanks!

[2018-11-26 12:14] schuma7 opened #1458 "Cannot add custom Chai helpers"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I am trying to add custom Chai helpers as described [here](https://www.chaijs.com/guide/helpers/). I installed chai as a dev dependency, since it was not available as a global.

When trying to apply the helper using ```expect(someObject).to.myCusto

[2018-11-26 16:03] eggplantzzz commented on #1246
Not stale

[2018-11-26 16:12] rocky commented on #1246
Actually, I think this is part of a bigger discussion of what whould go into the the build/contracts JSON.

I don't think solving this as an independant thing is as important as the discussion of what should go in there.

I am hoping that by working with folks in integrating Mythril into the currently developing plugin architecture we can resolve this an other things

[2018-11-26 17:32] CruzMolina opened #1459 "Add integration tests for `truffle init`"
## Issue

`truffle init` currently has no integration tests! this can inadvertently allow breaking of `truffle init` when refactoring or modifying the `truffle-box` package (specifically when playing around with `truffle unbox <options>`).

## Requirements

The scenario tests should at least exercise a basic `truffle init` .

[2018-11-26 18:56] #1286 closed

[2018-11-26 19:12] elenadimitrova opened #1461 "Random "Could not connect to your Ethereum client""
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
We encounter a client disconnect issue at seemingly random points when running our test suite. Tests pass when run individually.

The following issues appear related:
https://github.com/trufflesuite/truffle/issues/729
https://github.com/trufflesuite

[2018-11-26 20:47] roschler opened #1463 "ParserError: Expected identifier, got 'LParen' for constructor parameters"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

I have not asked for help yet as this requires a detailed breakdown of the problem.
---------------------------

I am referencing this similar issue but please note, I believe it's due to a different cause than the one hypothesized in the issue linked to below, which indicates that it w

[2018-11-27 19:01] rocky opened #1470 "global configuration for run plugin (5.0.0-beta2)"
## Issue

If you want to install a plugin-in (new in 5.0.0-beta2), you have to configure it for each truffle project.

Shouldn't there be a way to specify it globally?

Let's say I want to add verification to my Smart Contracts and there's a plugin that does that. I'm not sure why I'd want to have that available for some of my truffle projects but not all of them.

[2018-11-27 20:05] eggplantzzz commented on #1456
@RobertoC27 Thanks for bringing this issue up!  We should have a fix for it soon.

[2018-11-27 20:56] rocky opened #1472 "run plugin example and documentation"
The section in "truffle run <command>" is sparse in useful documentation. First, most plugins are going to want to use the config parameter that passed in. `hello.js` omits this parameter, and probably some mention should be made that it exists.

There there should probably be mention as to how flags/switches get passed to the plugin and how command arguments are passed.  Here is a more complete `

[2018-11-27 21:16] rocky opened #1473 "run plugin "help" features.."
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle)

It would be nice to be able to get a list of plugins that are installed other than looking at the truffle configuration file.

Is there a preferred way for a plugin to provide help for it? In the example of https://github.com/trufflesuite/truffle/issues/1472 I used `console.log` after looking at `config.help`, b

[2018-11-27 21:17] rocky opened #1474 "How does a plugin specify the format of options?"
If I am using a run plugin, how do I let truffle know which options take parameters and which don't?

[2018-11-27 21:19] rocky opened #1475 "Run plugins registering as promises"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle)

For a MythOS analysis plugin, when run from a develop console I would like this to be asynchronous, is there a way to register a plugin that when run from develop works expects a promise back?

[2018-11-28 01:47] RobertoC27 commented on #1456
No problem!

[2018-11-28 10:19] roschler opened #1477 "getGasPrice() with Ganache returning 2 Ether as the gas price"
When I call the getGasPrice() via Web3 with Ganache as the Ethereum network provider I get an extraordinarily large value of 20000000 (2 ETHER).  The Web3 docs say that the gas price is calculated by recent block activity.  However, I get this value even when I have just started the Ganache GUI client.  At one point when trying to solve an out of gas error when deploying a contract, I did set the

[2018-11-28 10:40] roschler opened #1478 "Can not clear Gas Limit field on CHAIN settings page. Always resets to the number 0 causing transaction failures."
During an attempt to solve an out of gas problem when deploying a contract, I put a high value in the Gas Limit field on the Ganache client CHAIN settings page.  Later I wanted to clear that field and leave it blank to return to the default value.  Unfortunately you can not do that.  If you clear out that field, then Save & Restart the client, the value changes to 0.  This of course causes errors

[2018-11-28 15:45] sarbogast commented on #1005
There definitely is an issue with the way Truffle console parses contract function calls.

Here is a simple project (https://d.pr/f/AwkhIa) that you can migrate to Ganache with:

`truffle migrate --compile-all --reset --network ganache
`
Then:

[code]

Notice how, in the first attempt, there are 2 spaces after each parameter passed to the function. And in the second call, there is only one space.

[2018-11-29 08:53] l-henri commented on #494
Same issue here

[2018-11-29 09:47] anxolin commented on #1087
@gnidan that's a really nice document!

I'm not sure I understood correctly, the idea is to use as part of the new schema new abstractions to differentiate Contrat type and Contract instances of it?

I think this would solve this issue, but would it handle the problem of the "name collisions", I mean, if you depend on two projects that happen to use 2 contracts with the same name (i.e. Token), tru

[2018-11-29 10:22] schuma7 commented on #1458
For anyone interested in a temporary workaround, I got around this issue by creating the following init-test.ts file:

[code]

The main drawback of this solution is that you need to remember to require this file at the top of every test suite. But it does the trick until the truffle framework offers a way to add mocha test fixtures.

[2018-11-29 23:40] jlindberg-oss commented on #763
I got stuck on this issue too.  This workaround solved it for me:
https://ethereum.stackexchange.com/questions/44349/truffle-infura-on-mainnet-nonce-too-low-error

[2018-11-30 03:24] rocky opened #1482 "5.0.0-beta2 run plugins with callbacks not working"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle)
---------------------------

## Issue

I am not able to write a simple plugin that uses a callback and see the results of the callback. Here is plugin code:

[code]

Running this produces no output.

## Steps to Reproduce

Go through the plugin instruction at https://github.com/trufflesuite/truffle/releases and u

[2018-11-30 13:47] #1294 closed

[2018-11-30 13:47] #1176 closed

[2018-11-30 15:08] #1459 closed

[2018-11-30 15:18] eggplantzzz commented on #1441
@tobyjaguar Thanks for the feedback!  We should have some new documentation that will make this much clearer with the release of v5.  We'll also consider adding defaults in the config.

[2018-11-30 17:51] eggplantzzz commented on #1463
@roschler Is the code you are working with available anywhere?

[2018-11-30 17:57] #1274 closed

[2018-12-01 22:45] amankakar commented on #450
this code
`const Contract = truffleContract(ReceptionsitFactory);
    Contract.setProvider(web3.currentProvider);
    const instanceFactory = await Contract.at(this.state.instanceFactory1);

    const newReceptionist = await Contract.at(this.state.instanceFactory1);

    await newReceptionist.createReceptionist(
      this.state.hospitalName,
      this.state.receptionistName,
      {
        from

[2018-12-02 11:28] amankakar opened #1485 "TypeError: address.replace is not a function"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
 TypeError: address.replace is not a function

## Steps to Reproduce

[code]
## Expected Behavior

after this Recetionist contract would be created with provided value in createReceptionist functon

## Actual Results

What actually happened. Please

[2018-12-02 20:37] #1097 closed

[2018-12-02 20:37] #1092 closed

[2018-12-02 20:37] #1298 closed

[2018-12-02 20:37] #1284 closed

[2018-12-02 20:37] #1267 closed

[2018-12-02 20:37] #1225 closed

[2018-12-02 20:37] #1279 closed

[2018-12-02 20:37] #717 closed

[2018-12-02 21:20] gnidan commented on #1316
Not stale

[2018-12-03 05:46] daniyarchambylov commented on #1482
Tried same code and it doesn't work. It would be useful to allow truffle handle plugins with asynchronous code correctly. I don't see any reason why it can't be implemented. I've looked into source code and found that callback function  `done` is called right after plugin command has been called. Why just not pass `done` as second parameter to a plugin's exposed function?

https://github.com/truff

[2018-12-03 06:43] roschler opened #1486 "FEATURE REQUEST: Enable/disable solc optimizer on a per-network basis."
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

I did not ask for help on Truffle because this is a feature request.

---------------------------

Currently you turn the `solc` optimizer on by adding a top-level section to your _truffle.js_ file like this:

[code]
I would like to be able enable/disable the `solc` optimizer on a per-n

[2018-12-03 09:55] rocky commented on #1475
_Note: This is related and would be fixed by the proposal in #1482._

[2018-12-03 10:36] amitkot opened #1487 "Error printing emitted events of failed test, probably due to web3@v1.0.0-beta.36"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Printing events of a failing test returns an error, probably due to a known issue with web3@v1.0.0-beta.36: https://github.com/ethereum/web3.js/issues/1916
## Steps to Reproduce

Run `truffle test` with a failing test.

## Expected Behavior

Emitte

[2018-12-03 15:18] eggplantzzz commented on #1485
@amankakar Is your code available somewhere where I can take a look?

[2018-12-03 18:56] gnidan commented on #1282
This is merged and released in beta

[2018-12-03 18:56] #1282 closed

[2018-12-03 19:00] gnidan commented on #1283
This is done and released in beta

[2018-12-03 19:00] #1283 closed

[2018-12-03 20:32] amankakar commented on #1485
thank you for your reply ... i have solved error.
below line of code caused error
        `from: this.state.accounts.`
because it try to replace account.
i changed it to `accounts[0]`. which solve error
thank you @eggplantzzz

[2018-12-03 22:16] mrwillis commented on #1054
Is this supported?

[2018-12-04 15:17] eggplantzzz opened #1491 "Test - Network Id Check"
Upon running migrations, PR #1490 makes it so that the truffle config network id is checked against the network id returned by the provider.  If it does not match, it ejects from the migrations for safety.  This feature needs to be tested.

[2018-12-05 06:05] adibas03 commented on #494
@l-henri check at the comment above
https://github.com/trufflesuite/truffle/issues/494#issuecomment-316044753

[2018-12-05 16:12] pf89 commented on #369
Hello, does anyone have a solution or at least a workaround? Get this bug too. Thank you very much

[2018-12-05 19:12] #1485 closed

[2018-12-05 23:10] psiva commented on #958
Am on Truffle v4.1.14 and still experiencing this issue. Any suggestions?

[2018-12-06 08:37] ganeshdipdumbare opened #1496 "getting bytecode as 0x"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I am getting bytecode as 0x even if the compilation is successful without any error using truffle compile

## Steps to Reproduce
I am not sure about reproducing it. As I have added extra code to smart contract and it starts giving bytecode as 0x.

[2018-12-06 14:54] ganeshdipdumbare commented on #1496
Closing the issue as the bytecode was 0x for abstract contract which was inheriting but not implementing the function.

[2018-12-06 14:54] #1496 closed

[2018-12-06 18:44] danfinlay commented on #1449
Could you maybe provide a git repo that allows easy reproduction of this issue?

[2018-12-06 23:20] CruzMolina opened #1499 "Autogenerate Assert.sol"
@gnidan: "Future work for `packages/truffle-core/lib/testing/Assert.sol` we can use the ABIs for the various Assert type libraries and autogenerate Assert.sol"

[2018-12-07 18:39] amankakar opened #1501 "Contract has not been deployed to detected network (at browser) But working fine in test file"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

deploy contract in magiration file with out any error but in browser truffleContract gives  error
Contract has not been deployed to detected network (network/artifact mismatch)

## Steps to Reproduce
3_deploye.js
`var PatientFactory = artifacts.req

[2018-12-07 21:35] CruzMolina opened #1502 "Fix compilerSupplier caret bug"
On `next`, specifying a truffle config to use a caret in compilers.solc.version (like so):

[code]

Will result in this error when calling `truffle compile` in a valid truffle directory:

[code]

[2018-12-07 21:48] gnidan commented on #1482
@daniyarchambylov thanks for investigating this!

I spoke with @rocky and concluded that we should support plugins that accept a callback as well as plugins that return a promise. I don't suppose you would be interested in opening a PR containing this change?

Thank you!

[2018-12-08 00:37] gnidan opened #1504 "Sort out web3.js release blocker issues"
There are two outstanding issues identified in the latest web3.js that are blocking the Truffle v5 release. We have identified root causes of these and identified solutions for each.

For timeline reasons, and given sufficient confidence in the acceptability of our solutions, we plan to author PRs upstream to get these fixes into web3.js beta.37 and release Truffle v5.0.0 on a fork of web3 in the

[2018-12-08 03:52] gnidan opened #1505 "Task: Publish `next.19`"
Currently blocked by overhead related to Web3.js fixes, required for validation/acceptance before full release.

[2018-12-08 05:24] gnidan opened #1506 "Task: Prepare v5.0.0 release notes"
- [ ] Come up with sweet name

[2018-12-08 05:27] gnidan opened #1507 "Task: Prepare v5.0.0 introductory blogpost"
To highlight breaking changes and new features.

[2018-12-08 05:41] gnidan commented on #1475
Closing as duplicate. Thanks!

[2018-12-08 05:41] #1475 closed

[2018-12-08 06:15] adrianmcli opened #1508 "[truffle-contract] Provide access to web3.js's PromiEvent when calling contract methods"
Currently, the `truffle-contract` package only returns a regular Promise. This negates a lot of the benefits of Web3 v1.0, which is the new Promi-Event API: https://web3js.readthedocs.io/en/1.0/callbacks-promises-events.html

[2018-12-08 06:17] adrianmcli commented on #1508
Please also take a look at https://github.com/trufflesuite/truffle/issues/1455, where another user seems to have the same inclination.

[2018-12-08 06:18] adrianmcli commented on #1455
This makes a lot of sense, I'll try to bring this up with the team.

[2018-12-08 07:52] amankakar commented on #1501
solved

[2018-12-08 09:53] frozeman commented on #1504
Well get them in and make a new release.

[2018-12-08 12:57] nivida commented on #1504
@gnidan Merged these PRs and should be released today. :-)

[2018-12-08 16:35] balexander4 commented on #1507
We have released the most awaited version of Truffle just in time for….________. There are SO many exciting things to mention that will make your Truffle experience a rich one. We also have a few things to watch out for when using Truffle v5. (TBD)

[2018-12-08 17:43] gnidan commented on #1504
Thanks so much @nivida and @frozeman!

[2018-12-09 06:43] sgryphon opened #1509 "Vyper bytecode invalid on Windows"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue. => No

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

On Windows:

* install ganache
* install truffle
* install python
* git clone vyper v0.1.0-beta.5
* Work around: vyper Make doesn't work on Windows, so need to manually build:
`pyth

[2018-12-09 15:58] quantumproducer commented on #677
@abdnennour did you see in the logs what gas price was used in the transaction?
What solidity version are you using?

[2018-12-09 20:45] #1509 closed

[2018-12-10 05:59] rotcivegaf commented on #737
In the meantime you can use web3.eth.sendTransaction and web3.eth.call to send your transactions
In example, you have this functions in a contract:
`function foo (uint256 x) external view returns (uint256) { return x; }`
`function foo2 (uint256 x, uint256 y) external view returns (uint256) { return x + y; }`
get foo its easy... but for get foo2 you can calculate the signature, in this case:
`const

[2018-12-10 10:57] daniyarchambylov commented on #1482
@gnidan submited PR https://github.com/trufflesuite/truffle/pull/1512

[2018-12-10 16:58] gnidan commented on #1504
This is closable now that there is no outstanding fork. Woot!

[2018-12-10 16:58] #1504 closed

[2018-12-10 17:15] gnidan opened #1514 "Fix truffle-hdwallet-provider webpack warnings"
Got this when upgrading packages in **truffle-hdwallet-provider**:

[code]

[2018-12-10 17:50] CruzMolina commented on #1502
Resolved by #1503

[2018-12-10 17:50] #1502 closed

[2018-12-10 17:58] #1315 closed

[2018-12-10 17:59] gnidan opened #1516 "Specify configured `solc` version in `truffle version` output"
Last minute issue, TBD if it's a blocker for release.

I've been seeing a lot of confusion about the Solidity version info when running `truffle version`.

We should display the version of Solidity that will actually be invoked, so as to avoid displaying confusing info.

[2018-12-10 18:57] #1505 closed

[2018-12-10 19:15] gnidan opened #1517 "Task: Publish `next.20`"
Another acceptance testing build

[2018-12-10 19:18] gnidan opened #1518 "Publish a new `web3-one` build of hdwallet-provider"
Spun out of #1514 (fixing hdwallet build warnings), this is just to make sure we don't need to fix the warnings ASAP.

[2018-12-10 22:08] john-osullivan commented on #339
In case somebody else is Googling and comes across this issue, I got this error when I used the `internal` visibility modifier on a constructor function -- keep 'em `public`!

[2018-12-11 02:05] gnidan commented on #1518
Just published `truffle-hdwallet-provider@1.0.0-web3one.3` and tested using it in a Truffle project. Everything seems fine, but probably worth a second opinion.

[2018-12-11 02:51] gnidan commented on #1517
Done

[2018-12-11 02:51] #1517 closed

[2018-12-11 03:03] gnidan commented on #1501
Glad to hear!

[2018-12-11 03:03] #1501 closed

[2018-12-11 03:04] gnidan commented on #1487
@amitkot can you install `truffle@next` and try this again?

[code]

Published fixes today that should address the problem, please let us know! Thanks!

[2018-12-11 03:54] daniyarchambylov commented on #1482
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

After PR #1519 has been merged and truffle version updated to v5.0.0-next.20 running 3rd party plugins fail due to missing dependency. Required package `app-module-path`  hasn't been installed.

## Steps to Reproduce

1.  Install truffle (v5.0.0-ne

[2018-12-11 16:35] eggplantzzz opened #1523 "Unbox tests in truffle-core need cleanup"
The unbox tests for truffle-core unbox and do not clean up the files that they create.

Create a clean up phase

[2018-12-11 17:03] #1514 closed

[2018-12-11 18:45] mswezey23 commented on #564
@burdakovd Completely agree with you as I've had the some thoughts for over a year now.

Any update on getting a true 1 for 1 Truffle Deployed Smart Contract source code file to verify on etherscan?

[2018-12-11 19:00] mtbitcoin commented on #564
For reference the API endpoint for the source code verification is available at https://etherscan.io/apis#contracts

[2018-12-11 19:41] gnidan commented on #564
This is a great candidate for a `truffle run` plugin, which is part of the Truffle v5 release. See the [release notes section](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.2#truffle-run) about this feature, and stay tuned for more updates to come.

[2018-12-11 21:05] eggplantzzz opened #1527 "Tests hanging in truffle-core"
Something in the tests for truffle-core is causing them to hang at the finish of the test suite.

[2018-12-11 22:03] mswezey23 commented on #564
Good callout @mtbitcoin, I found that link earlier today when doing some research since it's been awhile since I looked for a solution last time. Couple that with `truffle run` as @gnidan suggested would be awesome to see.

I'm going to start work on implementing this within Validity Labs toolchain (to be opensource in the future)

[2018-12-12 00:21] gnidan commented on #1482
@daniyarchambylov this should be resolved now on `5.0.0-next.22`

[2018-12-12 01:57] gnidan commented on #1316
Colony's build is [failing](https://circleci.com/gh/JoinColony/colonyNetwork/5323?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link), seems to be a result of the change in the above PR.

Relevant CI output:
[code]

Looks like the error is constructed wrong [here](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-core/lib/environment.js#L65-L74), a

[2018-12-12 03:45] mtbitcoin commented on #564
We’ve been running that api endpoint for quite a while. It is stable and should have 100% compatibility with the manual source verification on Etherscan (minus the error messages and some input checking). It does however require an api-key which can be generated for free on Etherscan.io

Ping if you have questions

[2018-12-12 05:31] CruzMolina commented on #1473
jotting down for posterity (if I'm unable to get to this before going on leave), I think this should be handled in the "runHandler" in `truffle-core/lib/run.js`. completely agree that we should provide a standard/recommended way for plugin writers to specify in some manner what they would like to display (perhaps using our `displayCommandHelp` func from our end) when a `--help` flag is passed. Ide

[2018-12-12 09:46] #1319 closed

[2018-12-12 11:44] souravk9709 commented on #787
Thanks it worked over truffle(develop)>

[2018-12-12 17:23] gnidan commented on #1461
Seems like this is resolved*. Closing, but let us know if the problem starts happening again!

* https://github.com/JoinColony/colonyNetwork/pull/461

[2018-12-12 17:23] #1461 closed

[2018-12-12 17:24] #1518 closed

[2018-12-12 18:17] gnidan commented on #1516
Compromise solution:

If the user has a version constraint specified for BYOC, show the constraint

Otherwise, show the built-in

[2018-12-12 19:19] gnidan opened #1531 "Test acceptance of features/enhancements in beta.0"
To take stock for the full release.

Release notes: https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0

For each feature, enhancement:
- Does it work as described in the release notes?
- Is it in the docs? Are the docs correct? If no, please create issue at https://github.com/trufflesuite/trufflesuite.com/issues
- How high-visibility is the feature/enhancement? Should we feature it

[2018-12-12 19:19] gnidan opened #1532 "Test acceptance of features/enhancements in beta.1"
To take stock for the full release.

Release notes: https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.1

For each feature, enhancement:
- Does it work as described in the release notes?
- Is it in the docs? Are the docs correct? If no, please create issue at https://github.com/trufflesuite/trufflesuite.com/issues
- How high-visibility is the feature/enhancement? Should we feature it

[2018-12-12 19:20] gnidan opened #1533 "Test acceptance of features/enhancements in beta.2"
To take stock for the full release.

Release notes: https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.2

For each feature, enhancement:
- Does it work as described in the release notes?
- Is it in the docs? Are the docs correct? If no, please create issue at https://github.com/trufflesuite/trufflesuite.com/issues
- How high-visibility is the feature/enhancement? Should we feature it

[2018-12-12 19:23] gnidan opened #1534 "Test acceptance of enhancements since latest beta"
To take stock for the full release.

List:
- #1524 Stop saving this.mnemonic in truffle-hdwallet-provider @gnidan
- #1520 Add message to confirm that all breakpoints have been removed @haltman-at
- #1519 Handle asynchronous 3rd party plugins  @CruzMolina
- #1500 Add command to remove all breakpoints @haltman-at
- #1484 Compartmentalize Assert.sol & Add Legacy SafeSend.sol @CruzMolina
- #1445 Truff

[2018-12-12 19:36] gnidan opened #1535 "Suppress "Could not find config" warning for `truffle version`"
Work to fix #1516 has now caused this warning to appear. We should suppress this warning.

[code]

[2018-12-12 19:36] flockonus opened #1536 "package:truffle-hdwallet-provider pin dependencies"
## Issue

This package is a big service to the community, and hugely important for many deployment flows.
But it also bears the responsibility of holding private keys, and as such it would be better off with pinned dependencies, a package-lock.json and yarn.lock file, given the recent attacks to npm dependencies.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your

[2018-12-12 19:40] gnidan commented on #1536
Hello, nice to see you here!

Now that hdwallet-provider is in the monorepo, it uses the `yarn.lock` that's in the root. We are also now webpacking hdwallet-provider so that most dependencies are even more locked, cause they make it into the bundle completely.

I think the only work left here is to pin the dependencies.

[2018-12-12 22:46] rocky commented on #1473
You are very welcome. Thanks for considering this and working on this.

Please keep us (me, and more generally the Mythrili team) apprised of run plugin work. We can and do want to help here. We can help test things.

I am (now) watching release tags, but that can be a little to late to get the most benefit before a release.

[2018-12-12 23:01] flockonus commented on #1536
Cool! Indeed it's most of the way through.

My original concern was about ppl like me installing `truffle-hdwallet-provider` from npm or yarn. I don't think yarn.lock on the root of the monorepo relevant for this purpose.

Would you happen to know exactly how those 2 package managers pull dependencies of dependencies? I'd expect it to obey a package-lock.json if that is present in the package 🤔

[2018-12-13 05:32] TheoTomalty commented on #1449
I'm having this issue too when many calls to contract.deployed() happen simultaneously. I've refactored to remove successive calls but this might be something to look into

[2018-12-13 09:28] eloudsa opened #1538 "Truffle5: issue with truffle-hdwallet-provider"
Hi

I'm using Truffle 5 beta 2 and the Truffle HDWallet Provider.
For an unknown reason, I'm not able anymore to deploy my contract to Ropsten.

I have the following error:
[code]
I use the following dependencies:
[code]

I have the same problem with `Truffle v5.0.0-next.24`.

Any idea how to fix this issue?

Thanks

[2018-12-13 18:58] eggplantzzz commented on #1326
Not stale

[2018-12-13 19:21] coventry opened #1540 "ERC20-like contract can't take BN for amount parameter"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I have an ERC20-like contract, whose `transfer` function doesn't accept a `BN` for the a amount parameter. See [this line](https://github.com/smartcontractkit/chainlink/blob/gnidan-link-transfer-BN-amount/solidity/test/Coordinator_test.js#L271). It

[2018-12-13 19:23] gnidan commented on #1506
Note: we must determine v5 Quorum support and make sure we include status update in the release notes with full disclosure

[2018-12-13 19:27] #1482 closed, assigned to nobody

[2018-12-13 20:07] timothywangdev commented on #664
the solution is not working anymore. Agree with @pospi

[2018-12-14 02:47] daniyarchambylov commented on #1482
@gnidan I confirm it's working with 5.0.0-next.24 for sure!

[2018-12-14 11:46] jmendiola222 commented on #1308
That worked for a while, but our contract kept growing and now that isn't enough. We did notice that the compiler doesn't ignore the docs & comments (with represents almost 50% of out contracts), removing some doc lines shrinks the contract size and the `out of gas` error is pushed back.
Is there a way to configure truffle to ignore docs and comments by default?

[2018-12-14 17:51] kk412027247 opened #1541 "Error: insufficient funds for gas * price + value"
---------------------------

## Issue

Error: insufficient funds for gas * price + value.
I have read all the issue that is similar to me,  I still can not find the solution.
want some help.

## Steps to Reproduce
when i deploy the my contract to the development network, it success.

[code]

## Expected Behavior
[code]

But when i deploy to the rinkeby, I got an error.
[code]
## Actual Results
[co

[2018-12-14 21:15] #1531 closed

[2018-12-14 21:15] #1533 closed

[2018-12-15 00:35] eggplantzzz commented on #1535
Fix merged PR #1539

[2018-12-15 00:35] #1535 closed

[2018-12-15 00:39] gnidan opened #1543 "Accommodate broken support for Quorum/other chains via `--legacy` flags to use old code"
Discovered by @CruzMolina and @EdsonAlcala: Quorum support in Truffle seems to be broken with the new migrations system.

This is most directly observed in the failing `web3.eth.getBlock()` call on [this line](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-migrate/migration.js#L186), where web3.js fails to decode the blog gas limit due to a web3-internal `bn.toNumber()` call (`

[2018-12-15 10:11] d10r opened #1546 "truffle console can't handle statement with nested await"
Because of the switch to web3.js 1.0, more functions do now return a Promise.
The console of truffle 5 supports the `await` keyword, making it much more convenient to interact with Promise-returning functions. However the support is limited. This for example doesn't work yet:

[code]

When executed in a non-interactive environment (e.g. as a truffle js test), this statement would work.

[2018-12-15 22:33] eloudsa commented on #1538
Btw, I fixed the issue by installing "any promise", so I'm not stuck.
Do you plan to include this package in a next version or will we have to install it ourselves in our projects?

[2018-12-16 22:00] timothywangdev commented on #1062
same error

[code]

[2018-12-16 22:07] roschler commented on #1062
To all who come here.  There may be multiple causes to the error referenced on this thread but in my case it had to do with passing values to the Web3JS functions that were not all Big Numbers.  If you are having this error and are not already converting all gas related values to a Big Number, give that a try using the `toBN()` function found in the `web3-utils` package.  This may also clean up a

[2018-12-17 01:41] adrianmcli commented on #677
@gnidan It looks like this shouldn't have been closed.

[2018-12-17 01:42] adrianmcli commented on #677
@joshma91 has ran into this issue and messaged me personally. @joshma91, can you elaborate more here?

[2018-12-17 01:42] adrianmcli commented on #677
Whoops, closed again by accident.

[2018-12-17 02:15] kk412027247 commented on #1541
It is my fault, the network didn't finish synchronous.

[2018-12-17 02:16] #1541 closed

[2018-12-17 06:58] brent-capx commented on #677
i am using Truffle v4.1.14 trying to deploy to kovan and mainnet. I have deployed the same contract before the kovan and mainnet 2 months ago. Now when i deploy with 5000000 gas, parity --chain=kovan/mainnet --jsonrpc-apis web3,eth,net,personal,parity,parity_set,traces,rpc,parity_accounts as mentioned above, i still get:

Error encountered, bailing. Network state unknown. Review successful transac

[2018-12-17 17:35] CruzMolina commented on #1546
Potentially relevant solution: https://github.com/nodejs/node/issues/13209#issuecomment-385852791

[2018-12-17 22:11] CruzMolina commented on #1538
@eloudsa truffle-hdwallet-provider 1.0.0-web3one.5 just got published. 🎉

[2018-12-18 01:30] brent-capx commented on #677
Hi Guys, i confirmed this is due to problem in the ethereum network, it's not picking up any transactions for the past 4 days, i have been monitoring my account every day and it's empty. Today, i suddenly see 20 over contract creations transactions in the chain. This is totally screwed up, it has nothing to do with truffle or parity or any tools, it seems the chain has different workers picking up

[2018-12-18 01:36] gnidan commented on #677
@brent-capx nope you can't cancel transactions once they're out in the wild. sounds like your transaction gas limits are probably approaching block limits and the result is that it takes awhile for there to be guaranteed space in a block. you can increase your gas price in hopes they get picked up faster.

[2018-12-18 01:43] brent-capx commented on #677
Usually you will see the transaction in blockchain and status pending. I have even tried with 50 Gwei 5 mil gas and it just show transactions cannot be found after 50 blocks. It's not there, and no status in chain. it just appear after 4 days in etherscan.io. I don't think approaching block limits is the case, since i tried everyday.

[2018-12-18 01:51] gnidan commented on #677
hard to say about what the network's been like the past few days, but 5,000,000 is a pretty hefty tx gas limit (it's >60% of a block). might want to check https://ethgasstation.info/calculatorTxV.php before running a tx that large.

[2018-12-18 02:06] #1323 closed

[2018-12-18 02:06] #1333 closed

[2018-12-18 03:30] brent-capx commented on #677
for anyone trying to cancel transactions, you can use this:
curl --data '{"method":"eth_sendTransaction","params":[{"from":"0xd03a11eb810c8da2b31e420cbadffd9b9ffbee3e","gas":"0x588040","gasPrice":"0xba43b7400","data":"0xd46e8dd67c5d32be8d46e8dd67c5d32be8058bb8eb970870f072445675058bb8eb970870f072445675","nonce":"0x1d"}],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:

[2018-12-18 04:39] CruzMolina opened #1549 "Incorporate app-module-path into truffle-require or original-require"
Expose an `addPath` method (using `app-module-path` as a dep) in either `truffle-require` or `original-require` and replace the current select areas where `app-module-path` is being directly used.

(Self-assigning to keep open, but anyone is free to work on this!)

[2018-12-18 04:48] CruzMolina opened #1550 "Standardize format for displaying help when `truffle run` is passed a `--help` flag"
Directly related to #1472. Would be nice to provide a standardized way for plugin writers to help their users within the CLI when config.help is true (`truffle run someCommand --help` ).

Starting point: https://github.com/trufflesuite/truffle/issues/1473#issuecomment-446467491

(Self-assigning to keep open, but anyone free to work on it!)

[2018-12-18 04:55] CruzMolina opened #1551 "Add a flag or command to display a list of user-configured plugins"
Directly related to #1472.

Would be nice to get a list of properly configured/installed plugins, perhaps a --list flag to call with truffle run (`truffle run --list`). A `truffle list` command might be overkill and hinges on how much we expand plugin capabilities (perhaps worth pursuing later on). Might also be cool to expand this to check for all global or local cwd plugins (`truffle-plugin.json

[2018-12-18 04:56] CruzMolina commented on #1470
Self-assigning to keep open.

[2018-12-18 06:09] CruzMolina opened #1552 "Expand plugin support/truffle run to enable chain-agnostic integration"
It would be awesome if truffle could elegantly use installed/configured plugins that bring their own web3 provider for any chain (or at least Ethereum-forked chains) to use in migrations & testing.

The various nitty gritty differences among enterprise/permissioned chains is a huge blocker for seamlessly enabling this right now. There is potentially a lot to consider when adding native support for

[2018-12-18 15:20] ngyam commented on #1124
Any news on this? Would be amazing. I hate that my long migrations have to run before each test so I have to hack my way around it, or drop using truffle altogether for testing.

[2018-12-18 15:21] ngyam commented on #847
I am also interested in something like this

[2018-12-18 21:40] gnidan opened #1554 "Publish new truffle-solidity-loader"
There was an accidental version collision that's prevented this package from being published with the others. Just a note to separately publish this later.

[2018-12-19 05:18] interfect commented on #1355
I do not believe that this issue has yet been addressed.

[2018-12-19 16:11] facuspagnuolo opened #1557 "Truffle 5 includes dependencies with breaking changes tagged as minor upgrades"
## Some truffle packages introduced undesired breaking changes after releasing Truffle 5

### truffle-debugger
This package was released along with Truffle 5 including a breaking change: it uses `web3@^1.0.0-beta.37` but [it was tagged as a minor update (`4.0.3` ~> `4.1.0`)](https://github.com/trufflesuite/truffle/compare/v4.1.14...v5.0.0#diff-d8e6ac7082f1bf264833376acf1135aeR3)

### truffle-provi

[2018-12-19 16:33] gjeanmart commented on #1538
Just add the same issue with **truffle v5.0.0**

[code]

[2018-12-19 17:17] vh opened #1558 "truffle-worflow-compile@2.0.0 is not published to npm"
## Issue

No matching version found for truffle-workflow-compile@^2.0.0

## Steps to Reproduce

npm i truffe-core

truffle-worflow-compile@2.0.0 is not published to npm

[2018-12-19 18:45] eloudsa commented on #1538
I have just installed the final version of Truffle 5.

I have uninstalled and installed truffle-hdwallet-wrapper (version 1.0).

When I try to migrate on Ropsten , I have another error:
[code]

My packages:
[code]

[2018-12-19 18:54] CruzMolina commented on #1538
@gjeanmart @eloudsa truffle-hdwallet-provider 1.0.1 just got published.

`npm i truffle-hdwallet-provider` should default to it. Hopefully got this squared away. I tested manually 🤞

[2018-12-19 19:05] CruzMolina commented on #1552
Rough notes on another idea (more mid-term than short-term), in the direction of making integrations first-class:

"swap out "core" components of truffle (i.e. making `truffle migrate` itself a swappable component, along with `truffle test`"

semi-related rough notes:
"move towards making `truffle test`/`truffle-test` itself swappable also allows us to support things like .vy testing support. i.e.

[2018-12-19 19:09] #1516 closed

[2018-12-19 19:13] CruzMolina opened #1560 "Update `truffle-hdwallet-provider` info in`truffle-config.js` in boxes (and elsewhere)"
Currently, unpacked/unboxed `truffle-config.js` files in (certain? all?) truffle boxes contain this helpful comment starting on Line 15:

[code]

The current truffle-hdwallet-provider (1.0.1) that contains all the correct necessary deps now installs by default using `npm i truffle-hdwallet-provider`. We should update the comment appropriately and maybe also publish a new correct version of @web3-o

[2018-12-19 19:32] CruzMolina opened #1562 "Note for truffle-hdwallet-provider (for truffle v4)"
Might be helpful for there to be a note in documentation (either on the trufflesuite.com, maybe the v4 branch somewhere, or elsewhere) for truffle v4 users to now use an older stable web3 0.20 compatible `truffle-hdwallet-provider` when doing "live" network migrations.

`npm i truffle-hdwallet-provider` now defaults to a Web3 1.0 compatible pkg, which won't work with truffle v4 (uses web3 0.20).

[2018-12-19 20:39] eloudsa commented on #1538
My problem has been solved thanks to the version 1.0.1.
Thanks @CruzMolina !!!
If issues from @gjeanmart is also solved, we can close this issue.

[2018-12-19 21:45] #1538 closed

[2018-12-19 21:47] CruzMolina commented on #1538
@gjeanmart will happily re-open if there's still an issue.

[2018-12-20 03:19] galgat4 opened #1566 "truffle is not recognized as internal or external command"
truffle is not recognized as internal or external command:

C:\Users\dell>npm install -g truffle
C:\Users\dell\AppData\Roaming\npm\truffle -> C:\Users\dell\AppData\Roaming\npm\n
ode_modules\truffle\build\cli.bundled.js
+ truffle@5.0.0
updated 1 package in 4.501s

C:\Users\dell>cd c:\election

c:\election>truffle unbox pet-shop
'truffle' is not recognized as an internal or external command,
operabl

[2018-12-20 06:09] maxsam4 opened #1567 "Truffle requires internet to compile"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Without active internet connection, truffle fails to compile contracts with the following error:
`Error: Failed to complete request to: https://solc-bin.ethereum.org/bin/list.json. Are you connected to the internet?`
This is acceptable when using so

[2018-12-20 06:13] maxsam4 opened #1568 "Truffle test recompiling contracts"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue
Even After running `truffle compile`, `truffle test` still recompiles *some* of the contracts. This *some* can change between different `truffle test` (usually the number increases).

## Steps to Reproduce
1) `truffle compile`
2) `truffle test`

##

[2018-12-20 06:15] maxsam4 commented on #1568
ps. This might not happen for all truffle projects but certainly does happen on the refactored contracts of polymath-core. The refactoring is still underway and I'll share proper reproduction instructions (if needed) once I have completed the refactoring.

[2018-12-20 09:33] gjeanmart commented on #1538
Sure thanks for your reactivity. Will try that later today!

[2018-12-20 11:10] cantaloupeJinJin commented on #766
I got the same problem   when I use "truffle init " commond. I am using truffle5.0 on ubuntu16.
Downloading...
Error: Truffle Box at URL https://github.com/truffle-box/bare-box.git doesn't exist. If you believe this is an error, please contact Truffle support.
    at Request._callback (/usr/local/lib/node_modules/truffle/build/webpack:/packages/truffle-box/lib/utils/unbox.js:50:1)
    at Request.s

[2018-12-20 12:57] eggplantzzz commented on #766
@cantaloupeJinJin I think there is currently something wrong with `truffle init` in version 4. If you upgrade to version 5 it should fix the problem.
[code]

[2018-12-20 13:19] eggplantzzz opened #1569 "Feature - Consider supporting multiple solidity versions"
Consider being able to support multiple versions of the solidity compiler for a given Truffle project. Currently Truffle will only allow you to use one version per project...unless you go through the hassle of  creating a complex "external" configuration.

[2018-12-20 15:00] guix77 commented on #1298
Got the same pb...

[2018-12-20 16:06] guix77 commented on #1298
I got it working, we need to use the 2nd form of link() since with new() the instance is not at the same address as the expected default with deployed(): https://github.com/trufflesuite/truffle-contract#mycontractlinkname-address

[code]

[2018-12-20 16:41] honestbonsai opened #1570 "Error while doing `truffle init`"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Getting the following error when doing `truffle init`:

[code]

It was working fine yesterday and the day before that, so could be related to the recent v5 release as that came out around yesterday.

## Steps to Reproduce

[code]

## Expected Behav

[2018-12-20 17:15] alecgarza96 opened #1571 "TRUFFLE NOT INSTALLING NEW TO DEVELOPING"
Currently running the latest version of NPM (6.4.1) Mac Mojave OS. Trying to install truffle but this is what happens when I attempt to install, and then use a command.
<img width="952" alt="screen shot 2018-12-20 at 11 05 26 am" src="https://user-images.githubusercontent.com/43724421/50299931-83fc0980-0448-11e9-9130-2d54f2afd9ed.png">
<img width="634" alt="screen shot 2018-12-20 at 11 05 47 am" s

[2018-12-20 17:16] alecgarza96 commented on #1571
after `truffle init` I'm prompted with `command not found`

[2018-12-20 21:04] gnidan commented on #1571
Hm your node modules are probably not getting configured in your PATH.

I recommend using [nvm](https://github.com/creationix/nvm) instead of the homebrew-installed version of Node.

Closing this as it is an environment issue related to Node/NPM, not Truffle. Thank you!

[2018-12-20 21:04] #1571 closed

[2018-12-21 06:37] kalymgr commented on #1570
I had the same problem which was solved by updating truffle to it's latest version (uninstall and install).

[2018-12-21 07:00] kalymgr opened #1574 "Debug transaction - " TypeError: Cannot destructure property source of 'undefined' or 'null'.""
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I've recently installed the new truffle framework. I succesfully migrate the pet shop tutorial on my development blockchain (deployed using truffle develop) but when I try to debug the last transaction, as shown on my log terminal (truffle console

[2018-12-21 10:34] obernardovieira commented on #1570
yes, that problem is solved if you update. I knew about the release but hadn't updated yet, and when I got the error was easy to find out. So, updated to v5.

[2018-12-21 13:54] gnorbsl opened #1575 ""Migrations" -- The contract code couldn't be stored, please check your gas limit.."
- [ X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Trying to deploy a contract to mainnet, once Truffle tries to deploy the migrations it fails with the message

    "Migrations" -- The contract code couldn't be stored, please check your gas limit..

    at /home/patric/.npm-global/lib/node_module

[2018-12-21 14:01] vvdhout opened #1576 "artifacts.require() - Correct syntax?"
## Issue

There is a mismatch in official Truffle documentation and Truffle's MetaCoin Box and am curious to whether this is intentional or if one or the other is deprecated or preferred.

More specifically, the documentation on trufflesuite.com specifies that we should not require by using the source file name because these can contain multiple contracts and should instead use the contract name w

[2018-12-21 17:22] CruzMolina commented on #1322
Ah, this should re-investigated for v5.

[2018-12-22 00:19] figs999 opened #1581 "Error: Mnemonic invalid or undefined - when running truffle develop and migrate"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

After upgrading my installation of truffle to v5, I ran truffle init on an existing project, maintaining all folders contents, but allowing my projects config to be overwritten with the new version's boilerplate.

After this, when running truffle d

[2018-12-22 03:49] devstein commented on #1389
@jleeh Were you able to solve this issue?

[2018-12-22 15:20] #1132 closed

[2018-12-22 15:20] #648 closed

[2018-12-23 07:56] shinsyotta commented on #1574
Me too.  Same issue, I think.
[code]

[2018-12-24 04:49] aaronhayes commented on #684
For anyone still having trouble with this; make sure your `build` folder (aka where the contract `.json` files are) ONLY contains `.json` files; for some reason truffle reads EVERY file.  Any dangling `.gitkeep`, `.DS_STORE`, `.something`, `random.file` files will cause issues.

[2018-12-24 08:06] trifist commented on #1574
Same here, any solutions?

[2018-12-24 10:33] aliaksandr-adzinets commented on #553
This is the command to download the Webpack Truffle Box (and install the necessary dependencies). This box is Truffle's most bare official implementation with webpack. Includes contracts, migrations, tests, user interface and webpack build pipeline. See https://truffleframework.com/boxes/webpack

[2018-12-24 15:16] mrbartchris commented on #684
@aaronhayes I am still having this issue, I tried removing all .DS_Store using:
`find . -name ".DS_Store" -delete`. I also tried creating another directory using `truffle init` and tried running `truffle test` but same error popped up.

Funny thing is that it was all working fine, until suddenly without changing a single thing this error popped up out of nowhere.

[2018-12-24 15:22] eloudsa opened #1583 "Truffle 5: Issues to run all test suites on Geth"
Hi

I'm using Truffle 5 and Geth 1.8.20.

I have 2 test suites under my `tests` folder. These test suites are not related.

If I run my tests in one single command (`truffle test --network myprivategethnode`), the second test suite is reusing the states changed in the first test suite.

I was thinking that each test suite is isolated from the others. This principle works well on Ganache but not on

[2018-12-24 16:29] wbt opened #1584 "Warn: Keccak bindings fail on first install"
## Issue
Installing the new Truffle 5 per instructions produces a one-time error about keccak bindings compilation failing.

## Steps to Reproduce
First, I had a previous version of Truffle installed, and after reading the [blog post](https://truffleframework.com/blog/truffle-v5-has-arrived) etc., I decided to try the newer version.  I ran `npm update -g truffle` which got me the response
`+ truff

[2018-12-24 20:52] wbt opened #1585 "Docs not clear on what web3 version to use"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

Congratulations on reaching v5!  The documentation hasn't quite caught up yet, so here's an Issue towards improvement.

## Issue
I'm attempting browser use of [truffle-contract](https://github.com/trufflesuite/truffle/tree/master/packages/truffle-contract).

[2018-12-24 21:50] ritave opened #1586 "truffle-contract sendTransaction clears data parameter"
When trying to send a transaction as such `contactInstance.sendTransaction({data: myData})`, the data parameter is cleared when sent through RPC.

[code]
The resulting RPC sent misses the `data` param.

This is an error on this line https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-contract/lib/execute.js#L166 which should check if `params.data` exist before setting it to `unde

[2018-12-24 22:03] wbt opened #1587 "Truffle-contract version out of sync with Truffle version"
## Issue
In the Truffle v5 documentation, "[Interacting with your contracts](https://truffleframework.com/docs/truffle/getting-started/interacting-with-your-contracts#introducing-abstractions)" describes and links to the truffle-contract module.  In the readme at the link, installation instructions are given:
      `$ npm install truffle-contract`

## Steps to Reproduce
Execute `$ npm install truf

[2018-12-24 22:18] wbt opened #1588 "Truffle-contract docs outdated"
---------------------------

## Issue

In the Truffle v5 documentation, "[Interacting with your contracts](https://truffleframework.com/docs/truffle/getting-started/interacting-with-your-contracts#introducing-abstractions)" describes and links to the truffle-contract module.  The readme at the link is outdated.

With the time invested so far, I cannot tell exactly how much of the readme is outdate

[2018-12-25 01:01] #1353 closed

[2018-12-25 04:48] cmaliwal opened #1589 "Truffle init not working"
Getting error when I am running `truffle init` command .

[code]

[2018-12-25 08:46] cantaloupeJinJin commented on #766
`jinjin@jinjin-virtual-machine:~$ npm uninstall -g Truffle
up to date in 0.045s
jinjin@jinjin-virtual-machine:~$ truffle version
Truffle v4.1.14 (core: 4.1.14)
Solidity v0.4.24 (solc-js)
`  How could I solve the problem?
Thanks

[2018-12-25 12:57] ElShapovalov commented on #1589
I have same problem!

[2018-12-25 16:52] moodysalem commented on #795
Ran into this problem as well, also remember it working as described by @rstormsf in v3

The only workaround I had was to use the transaction receipt logs in my tests, and I don't know the best way to decode those logs using the truffle contracts either

[2018-12-25 17:17] gnidan commented on #1589
Truffle v5 broke this on v4. We released a maintenance build **v4.1.15** to fix this problem.

We recommend upgrading to v5 for new projects, or you can install the latest v4 release to get around this project in the meantime.

Thank you!

[2018-12-25 17:17] #1589 closed

[2018-12-25 17:18] gnidan commented on #766
@cantaloupeJinJin check your capitalization, that might be the problem.

[2018-12-25 18:34] barakman opened #1590 "Different compilation output for [Truffle 5.0.0 with Solc 0.4.24] vs [Truffle 4.1.14]"
## Issue

I am trying to upgrade from Truffle 4.1.14 to Truffle 5.0.0, without changing code (contracts and tests).

Truffle 4.1.14 uses Solc 0.4.24 for compilation.

I have therefore configured Truffle 5.0.0 to use Solc 0.4.24, as described in your [release notes](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#bring-your-own-compiler).

Since I maintain all compilation output

[2018-12-25 18:44] gnidan commented on #1590
Try putting `optimizer` inside a `settings` object and see if that changes anything.

Also, if you have the chance, can you run [truffle-code-utils](
https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-code-utils/index.js) on the two differing bytecodes and paste the results here? So I can take a quick look.

Either way, thanks for reporting!

[2018-12-25 20:33] barakman commented on #1590
@gnidan:
Thank you for your quick response.
My code did not compile before I configured Truffle 5.0.0 to use Solc 0.4.24, but it compiled successfully afterwards.
So for the sake of the problem at hand, I don't see any point applying your suggestion. I mean, it will either compile the same as now, or not compile at all. If you still think otherwise, then I will be happy to give it a try.
Thanks.

[2018-12-25 21:43] gnidan commented on #1590
My second suggestion is just so I can take a quick glance to see how the semantics of the opcodes look (if there are similar looping constructs, etc.)

No matter, just a suggestion in case I get another chance to peek at my phone amidst holiday festivities.

It seems strange that the compilation output would differ. I'll have more suggestions to offer for investigation, but it'll have to wait for

[2018-12-26 04:39] cantaloupeJinJin commented on #766
@gnidan sorry,I  wrote a wrong  word ,actually I use it like this.
![jinjin](https://user-images.githubusercontent.com/32841921/50432216-32052900-090b-11e9-8372-1b160835dd14.png)

[2018-12-26 07:35] SalmanCse commented on #463
same problem not solve...........
truffle serveServing static assets in ./build on port 8080...

/usr/local/lib/node_modules/truffle/build/webpack:/~/chokidar/lib/fsevents-handler.js:26
  return (new fsevents(path)).on('fsevent', callback).start();
^
TypeError: fsevents is not a constructor
    at createFSEventsInstance (/usr/local/lib/node_modules/truffle/build/webpack:/~/chokidar/lib/fsevents-ha

[2018-12-26 07:42] KOREAN139 opened #1591 "broken link with website for truffle"
## Issue

Since website for this repository has set as http://truffleframework.com, users will get `404 Not found`

Need to fix link with **https://truffleframework.com** - just substitute `http` as `https`

[2018-12-26 07:43] SalmanCse commented on #463
truffle unboxwebpack
Downloading...
Error: Something already exists at the destination. `truffle init` and `truffle unbox` must be executed in an empty folder. Stopping to prevent overwriting data.
    at /usr/local/lib/node_modules/truffle/build/webpack:/packages/truffle-box/lib/utils/unbox.js:22:1
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:188:7)
    at Functi

[2018-12-26 07:58] KOREAN139 commented on #1591
Just in case that issue description isn't enough, attach screenshot for that too.
<img width="621" alt="screen shot 2018-12-26 at 16 55 35" src="https://user-images.githubusercontent.com/18724352/50437961-478c4a00-092f-11e9-9a3d-583c6b91cd25.png">

[2018-12-26 08:02] barakman commented on #1590
@gnidan:
Sorry for the holiday interruption, and thank you for your quick responses despite that :)

I have followed your `parseCode` suggestion.

The files are rather large, so I've uploaded them to a free hosting service, and you can retrieve them at:
- [Truffle_4.1.14_ParsedCode.json](https://file.io/ZZZnu6)
- [Truffle_5.0.0_ParsedCode.json](https://file.io/LIIfSw)

I would take a wild guess th

[2018-12-26 09:59] #667 closed

[2018-12-26 10:59] Aniket-Engg opened #1592 "Error in uninstalling truffle to upgrade"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

## Issue

I have run `npm uninstall -g truffle ` to uninstall truffle so that i can update it. It is not getting uinstalled.

## Steps to Reproduce

Run `npm uninstall -g truffle`

## Expected Behavior

Truffle should be uninstalled

## Actual Results

It prints `up to date in 0.026s`

[2018-12-26 11:33] rohitsethii commented on #1592
came across the same issue.
Removed `truffle` directory manually from

[2018-12-26 16:58] wbt opened #1593 "BigNumber configuration not working in Truffle v5"
---------------------------

## Issue
In the Truffle v5 Release Notes, the breaking changes section [says](https://github.com/trufflesuite/truffle/releases/tag/v5.0.0#user-content-breaking-changes-truffle):

    // Choices are:  `["BigNumber", "BN", "String"].
    const Example = artifacts.require("Example");
    Example.numberFormat = "BigNumber";

I had previously developed a test suite that inc

[2018-12-26 17:06] wbt commented on #1592
Note that if you're just trying to upgrade to truffle v5, the `uninstall` step is not always necessary.

[2018-12-27 08:42] alexiskattan commented on #862
Where do you put this snipped to make it work?

[2018-12-27 13:49] aliaksandr-adzinets commented on #1584
I tried to install Truffle 5.0.0 and got the same issue.
Rolling back to Truffle 4.1.14 works as expected.
My environments is: Windows 10, MSVS 2017, Python 2.7, node-gyp 3.8.0, npm 6.4.1, Node.js 10.14.1.

[2018-12-27 14:11] sowmyakannan opened #1595 "Is it possible to dynamically update dependency artifacts such as openzeppelin library in our truffle project."
Is it possible to dynamically update dependency artifacts such as openzeppelin library in our truffle project. We have install openzeppelin as an npm package each time we create a new project in truffle. As of now the current version of truffle 5.0.0 is not compatible with the current openzeppelin library because of the difference in the solc compiler version used. Hence we have to wait till openz

[2018-12-28 01:34] wanching commented on #766
@cantaloupeJinJin
I got this error when I use `truffle init`:
[code]
I upgrade to 4.1.15 and it works fine, it seems that 4.1.14 has some bugs, maybe you can try too.
[code]
https://github.com/trufflesuite/truffle/releases

[2018-12-28 02:18] Juan-cc commented on #724
It's also happening to me. Initially I was using a different test name, my contract was named KMP and my test was TestKMPToken.sol, when trying to change it to TestKMP.sol it started failing with:
_"Error: Could not find artifacts for ./TestKMP.sol from any sources"_

**Environment:**
Truffle v5.0.0 (core: 5.0.0)
Node v8.10.0
Version: 0.5.2+commit.1df8f40c.Linux.g++

If I rename my test to TestKMP

[2018-12-28 17:19] D-Nice commented on #369
I have not run into this scenario under Truffle v5 I believe, but have migrated towards using it, and would recommend others experiencing this issue atm to do the same and then report if they still have this issue.

[2018-12-28 21:53] adrianmcli opened #1596 "[Truffle-Decoder] Assumes the provider being passed in to be a string"
I'm trying to write tests with the truffle-decoder, but it seems that it assumes it's a string:

https://github.com/trufflesuite/truffle/blob/next/packages/truffle-decoder/lib/interface/contract-decoder.ts#L121

This means that I can't pass it the Ganache Provider object that I created in memory for my tests. Is there a way around this? Should the API always expect a string? Perhaps an inversion o

[2018-12-29 04:44] adrianmcli opened #1597 "[Truffle-Decoder] Allow option to provide contract address"
For my tests, I use `truffle-compile` to compile my contract (instead of using migrations) and the resulting artifact file does not have a `networks` property (and neither does compiling with `solc-js`). Instead of migrations, I use Web3.js to deploy my contract onto a Ganache instance running in-memory.

This means that [line 134](https://github.com/trufflesuite/truffle/blob/next/packages/truffle

[2018-12-29 05:11] adrianmcli opened #1599 "[truffle-contract] getContractNode incompatible with default truffle-compile output"
On [line 88](https://github.com/trufflesuite/truffle/blob/next/packages/truffle-decoder/lib/interface/contract-decoder.ts#L88) of `contract-decoder.ts`, the contract node is only inspected if:

[code]

The problem with this is that it is assuming the JSON contract artifact will have a `contractName` property specifying the contract name. However, the output from using `truffle-compile` actually on

[2018-12-29 21:36] adrianmcli commented on #1597
Do note that line 202 also has this issue: https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-decoder/lib/interface/contract-decoder.ts#L202

[2018-12-30 12:09] sarbogast commented on #1585
I agree. And maybe the truffle version command should show which version of web3 Truffle uses internally so that we can be sure to use the same version of web3 in a web client as the one used in tests for example.

[2018-12-30 13:52] rmlopes commented on #1001
Sorry for bumping up this. I have been struggling with this issue for a couple of days now. It looks like as long as any modifier is used the ThrowProxy will fail as described. Using Solidity v0.5.

[2018-12-30 14:00] PaulRBerg opened #1601 "truffle console doesn't work in v5"
## Issue

From the [docs](https://truffleframework.com/docs/truffle/getting-started/using-truffle-develop-and-the-console):

However, there's no way to make this syntax work with truffle ^5.0.

## Steps to Reproduce

[code]

Now, either of the following comands will return an error:

- `Note.at("your-contract-address").getNumber.call()`
- `await Note.at("your-contract-address").getNumber.call()`

[2019-01-01 16:40] ferittuncer opened #1602 "web3.currentProvider is undefined"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

During test run, web3.currentProvider is undefined.

## Steps to Reproduce

Just `console.log(web3.currentProvider)`

## Expected Behavior

Expected to have a value other than undefined.

## Actual Results

I am trying to execute
[code]
To increase

[2019-01-02 05:05] Aniket-Engg commented on #1592
Actually i removed the truffle from global node modules directory and install the latest version. With new version, `npm uninstall -g truffle` command is working fine.

[2019-01-02 14:59] wbt commented on #1592
@Aniket-Engg So is this Issue closed?

[2019-01-02 18:22] nventuro commented on #1586
This is a departure from pre-truffle 5 behavior, where having a `data` field worked. Since the API is almost the same as `web3.eth.sendTransaction` (except that we don't need to fill in the `to` parameter), we could just use that one, but calling it directly means logs are not decoded, which is a bummer.

[2019-01-02 18:33] #1208 closed

[2019-01-02 18:33] gnidan commented on #1316
This is done and released in v5.0.0. Let us know if you run into it again! Thanks!

[2019-01-02 18:33] #1316 closed

[2019-01-02 18:33] gnidan commented on #1534
(v5.0.0 is released)

[2019-01-02 18:33] #1534 closed

[2019-01-02 18:34] gnidan commented on #1427
This is done and released in v5.0.0. Thanks!

[2019-01-02 18:34] #1427 closed

[2019-01-02 18:34] gnidan commented on #1452
This is done and released in v5.0.0. Let us know if you run into it again! Thanks!

[2019-01-02 18:34] #1452 closed

[2019-01-02 18:48] #1507 closed

[2019-01-02 18:48] gnidan commented on #211
This is done and released in v5.0.0. Let us know if you run into it again! Thanks!

[2019-01-02 18:48] #211 closed

[2019-01-02 18:52] gnidan commented on #1086
@haltman-at says: if this is related to inheritance, it should be fixed in #1573, otherwise we will have to look into it.

In the meantime, if you get a chance, could you try this on a later version of Truffle and let us know if it's still a problem for you? Thanks!

[2019-01-02 19:55] CruzMolina commented on #1602
Hey @ferittuncer, thanks for reporting this!

Can you provide a repo link? I notice in the gitter you were trying to use `sendAsync` (which shouldn't work anymore in v5 since we upgraded to web3 1.0).

[2019-01-02 20:41] nventuro opened #1604 "Truffle 5 uses buggy ganache-core version"
The 5.0.0 release [uses `ganache-core` 2.3.1](https://github.com/trufflesuite/truffle/blob/v5.0.0/packages/truffle-core/package.json#L21). This release of `ganache-core` contains regression errors, which affect `truffle test` directly (TL,DR: snapshots are broken).

Please upgrade to [`ganache-core` 2.3.2](https://github.com/trufflesuite/ganache-core/releases/tag/v2.3.2), where this is fixed.

[2019-01-02 21:47] davidperrenoud commented on #611
Can anyone test this again?

[2019-01-03 10:23] Aniket-Engg commented on #1592
Yes, It can be.

[2019-01-03 10:23] #1592 closed

[2019-01-03 11:43] sowmyakannan opened #1606 "Need a clean way of incorporating version changes in various dependencies used in a truffle project"
## Smart contracts created using Truffle have several dependencies such as

 1. Truffle framework
 2. Solc compiler
 3. OpenZeppelin library
 4. Ganache/Ethereum Client
 5. Node
 6. Npm

These need to be constantly compatible with each other as each go through various stages of maturity and release new versions.

- The truffle-config.js file where we can specify the solc compiler version is a grea

[2019-01-03 15:02] daniyarchambylov commented on #1474
I don't see  anywhere documented the format of plugin's positional arguments and optional flags (keys).
Right now I can run plugin as follows: `truffle run my-plugin foo bar baz` and  `config._` contains array `['foo', 'bar', 'baz']`.
When I run `truffle run my-plugin foo bar baz --debug` `config` looks like
[code]
When I run `truffle run my-plugin --debug foo bar baz` `config` looks like
[code]
B

[2019-01-03 15:19] eggplantzzz commented on #1591
Thanks for bringing this up! I'll get to fixing it

[2019-01-03 15:20] #1591 closed

[2019-01-03 15:33] eggplantzzz commented on #1570
Yes, upgrading to version 5 will do the trick.

We recommend the upgrade, but in the case that you need to continue using version 4, we put out a maintenance release that fixed the issue.
https://github.com/trufflesuite/truffle/releases/tag/v4.1.15

[2019-01-03 15:33] #1570 closed

[2019-01-03 16:00] eggplantzzz commented on #1588
@wbt Thanks for bringing this to our attention. We are currently trying to work to get everything up to date and consistent!

[2019-01-03 19:05] gnidan commented on #1604
This has been released in v5.0.1. Thanks for reporting!

[2019-01-03 19:05] #1604 closed

[2019-01-03 19:19] eggplantzzz commented on #611
Truffle will accept a filename currently in the `artifacts.require()`. The correct way to do this (and avoid confusion) is to use the contract type name.

[2019-01-03 19:30] eggplantzzz commented on #1566
@galgat4 Hmm looks like it is not installing properly. I'm not too familiar with how Windows machines deal with all this...does there happen to be weird casing/namespacing issues with drive names? I see that you are in `c:\election` and not `C:\election`. I'm not sure if this should make any difference but that is just a shot in the dark.

[2019-01-03 21:20] eggplantzzz commented on #1576
@vvdhout Yes! The solidity files in the metacoin box are not the preferred method of requiring contract types. You should indeed just be requiring them by name. Thanks for giving us the heads up on this and we'll try and get it fixed soon!

[2019-01-03 22:52] WyseNynja opened #1607 "compile/migrate with multiple solidity versions crashes ganache 2"
- [X] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

I'm writing a contract with solidity 0.5 and wanting to call a contract written (and deployed by someone else on mainnet) with solidity 0.4 (and another with Vyper: #1623). How should I setup truffle+ganache in development to deploy the old contrac

[2019-01-03 23:10] gnidan commented on #1607
Thanks for raising this concern! It's on the roadmap to support multiple solc versions natively, but there are some technical limitations that make this not immediately feasible.

The component you are missing is that you need proper Truffle artifact files (`build/contracts/` JSON files) for each contract. You can't deploy ASM directly, but if you get the bytecode, you can wrap the bytecode in an

[2019-01-03 23:33] WyseNynja commented on #1607
Thanks!

I added https://github.com/projectchicago/gastoken as a git submodule at `./external/gastoken`. That repo includes *.sol, *.abi, and *.asm files that I think are relevant.

Then I added this to my truffle-config.json:
[code]

And now `truffle compile` places a GST2.json file into my contracts directory. So I think this is good progress, but it isn't right yet. You said "you can't deploy A

[2019-01-04 03:31] rocky opened #1608 "Is filesystem case sensitivity of contract names a problem?"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Truffle `build/contracts` creates a file per contract. In soldity contract names are case sensitive. While that is largely true with most modern OS's, there may still be some that treat filenames as case insensitive.

For example:, in a filesystem

[2019-01-04 03:33] trifist commented on #1051
similar issue here, truffle v5.0.1

![image](https://user-images.githubusercontent.com/22070288/50672588-12a98280-1014-11e9-95ce-428a2b3322ac.png)

[2019-01-04 07:44] galgat4 commented on #1566
done by installing chocolate

[2019-01-04 10:29] Levino opened #1609 "Switch off dry run"
I want to NOT run a dry-run before the migrations. How to?

[2019-01-04 11:50] Levino opened #1610 "hdwallet-provider: `web3.getAccounts()` returns incorrect accounts."
I will add a test in a PR to reproduce.

[2019-01-04 11:59] marcushennig commented on #1574
Some issue when debugging:
[code]

[2019-01-04 11:59] Levino commented on #1609
Related https://github.com/trufflesuite/truffle/issues/1322

[2019-01-04 12:04] Levino commented on #1609
https://truffleframework.com/docs/truffle/reference/configuration#networks

There is a config value `skipDryRun`.

[2019-01-04 12:04] #1609 closed

[2019-01-04 12:14] Levino opened #1612 "Migration, dry run and hd-wallet-provider do not work together."
I have a migration that deploys a token contract, a crowdsale contract and (**very important part**) changes ownership, adds whitelisted users, etc.

When I run this migration on a local test rpc all is fine. When I run it on kovan the migration will fail during the dry run. I [switched the dry run off ](https://github.com/trufflesuite/truffle/issues/1609) now all is fine.

Lesson learned: Skip th

[2019-01-04 12:20] mcplums opened #1613 "Template webpack box compiles to a strangely large app.js, leading to warnings and annoyingly long compile times"
I have indeed requested help on the gitter :)

## Issue

The compiled app.js of the template webpack box is 700kB big. Is it normal for it to be this big when the project is tiny? It takes a few seconds to re-compile everytime I make a small change. I also get a warning:

WARNING in asset size limit: The following asset(s) exceed the recommended size limit (244 KiB).
This can impact web performanc

[2019-01-04 13:34] eggplantzzz commented on #1584
@wbt Looks like npm will not install a different major version when using `npm update`. If you want to do it cleanly you need to globally uninstall Truffle first. In other words, do `npm uninstall -g truffle` and then `npm install -g truffle`.

[2019-01-04 15:01] ferittuncer commented on #1602
@CruzMolina Yeah, I figured out `sendAsync` doesn't exist anymore but there is `send`. We can close the issue.

[2019-01-04 15:56] fulldecent commented on #1382
Thank you, this issue is resolved now. Boilerplate is no longer necessary as of Truffle 5.0.1. Only a single `truffle.js` file, which can be empty, is needed. And this is reasonable.

Here is a minimal test case which demonstrates the new version works.

[code]

[2019-01-04 15:56] #1382 closed

[2019-01-04 17:03] themandalore commented on #476
I got this error by not specifying all inheritances

[code]

[2019-01-04 18:09] AlexanderPoschenrieder commented on #888
A little fix to

A little fix:
`
let lastSnapshot;

const saveState = async () => {
  const { result } = await web3.currentProvider.send({
    jsonrpc: '2.0',
    method: 'evm_snapshot',
    id: 0
  });

  return parseInt(result, 0);
};

const revertState = async () => {
  await web3.currentProvider.send({
    jsonrpc: '2.0',
    method: 'evm_revert',
    params: lastSnapshot,
    id: 0
  });

  l

[2019-01-04 18:13] AlexanderPoschenrieder commented on #888
A little fix:
[code]
Puting this on a little helper and calling `saveState` on `before` function and `revertState` on `beforeEach` works pretty well.
 `lastSnapshot` is a little workaround because ganache-cli hangs after the second consecutive revert on the same snapshot.

[2019-01-04 18:34] eggplantzzz commented on #1595
@sowmyakannan If you need to, you can write your solidity in a version that is compatible with the compiler that openzeppelin uses. You can then configure your project to use that version...I think something like `^0.4.24` should work.

See https://truffleframework.com/docs/truffle/reference/configuration#compiler-configuration to see how to configure the compiler.

[2019-01-04 20:25] gjeanmart opened #1614 "truffle-contract@4.0.1 - React app - "ethers" - Module not found: Can't resolve 'xmlhttprequest'"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Importing `truffle-contract@4.0.1` in a React app breaks the web-app compilation

[code]

## Steps to Reproduce
1. Create a new React app calle `myapp`
[code]

2. Go to the project folder
[code]

3. Install` truffle-contract` version `4.0.1` as a d

[2019-01-04 20:41] juharris commented on #1614
I'm getting the same issues after bumping the truffle-contract and react versions.
Your note about importing truffle-contract@4.0.1 gave me an idea:
There's a React Truffle example here: https://github.com/truffle-box/react-box
which doesn't import truffle-contract.  I tested it out and it works for me. I'm going to make my project more like that one and hopefully I won't keep getting issues.

[2019-01-04 20:54] rotcivegaf opened #1615 "Truffle not support a high gas limit"
I cant deploy an empty contract, using ganache-cli with a high gas limit

## Steps to Reproduce
Start ganache-cli `ganache-cli --gasLimit 0xfffffffffffffffffffff`
Test the a empty contract `truffle test`

## Expected Behavior

Deploy the empty contract

## Actual Results

![error](https://user-images.githubusercontent.com/7088778/50710193-0b509c00-1049-11e9-93c9-08bc4a95c354.png)

## Environment

[2019-01-04 20:58] gnidan commented on #1615
A workaround for this is in progress in #1544 (via a `--legacy` flag).

We will need to figure out a more permanent solution, however, so I'll leave this open to represent that work.

Thanks for opening this issue!

[2019-01-04 21:33] juharris commented on #1614
So I got my project working by following what I said just above.
I then had to change my code to use the contract interface provided by web3: https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html

[2019-01-04 21:37] eggplantzzz commented on #1601
Oh my apologies, the `call` method will return the BN. Not `at`! gnidan is correct.

[2019-01-04 22:03] figs999 commented on #1581
I'm actually going to suggest you close this issue. After downgrading to truffle 4 and then upgrading to truffle 5 again, the issue disappeared and I can no longer repro it.

[2019-01-05 01:17] eggplantzzz commented on #1581
Well I guess that is good enough! Closing.

[2019-01-05 01:17] #1581 closed

[2019-01-05 01:20] eggplantzzz commented on #1576
Closing now as the MetaCoin box was updated.

[2019-01-05 01:20] #1576 closed

[2019-01-05 05:17] Arachnid commented on #624
This isn't @stale.

[2019-01-05 09:14] mcplums commented on #1613
Ok thanks for your reply :)

[2019-01-05 13:02] saitam1 opened #1616 "npm install truffle fails with gyp ERR! and node-gyp rebuild"
I have tried this now on different machines and I get the node-gyp error everywhere. Is there somebody who does not get this error when installing truffle?

I am running a `Ubuntu 16.04.5 LTS`, `npm 6.5.0`, `node v10.14.2`.
How to reproduce? Do this: `sudo npm install -g truffle`
And I get this:
[code]
Can this error be ignored or does it change anything?