[2022-03-24 01:13] michaeljohnbennett commented on #4931
After talking with @gnidan we are going to try initially:

- growl notification of tx
- pending tx view.
- pending view will have a link to the block explorer (if possible)
- and then for future the tx view will have the decoded events for the successful tx's from @gnidan feature added in. (stretch)

initially we will develop this using react.context to store the transactions as I don't think redu

[2022-03-24 03:52] Hasiwansui commented on #4903
I reviewed my code and found there is no missing "pragma" statement.I will try to reproduce the situation.And my development environment is running in a docker container,maybe it will  cause some strange situation.

[2022-03-24 06:32] barakman commented on #4900
@haltman-at : Thank you for your detailed explanation!

From your description, I understand that as part of Truffle implementation, for every transaction, you first call `estimateGas` in order to determine how much gas to pass to the transaction.
And whenever the transaction fails, you have no way of determining how much gas it really needs in order to reach the point of failure, because `estimate

[2022-03-24 12:37] chrisdrifte commented on #1461
Fixed this problem by configuring truffle to use a more recent version of web3, as suggested [here](https://github.com/trufflesuite/truffle/issues/3710#issuecomment-1073054526).

Install web3 if not already in your deps (worked for me with `1.7.1`)
[code]

Update `truffle-config.js` to include `provider` field:
[code]

[2022-03-24 12:37] chrisdrifte commented on #3710
Fixed this problem by configuring truffle to use a more recent version of web3 (as suggested by @AlexeyBarsuk).

Install web3 if not already in your deps (worked for me with `1.7.1`)
[code]

Update `truffle-config.js` to include `provider` field:
[code]

[2022-03-24 13:46] SergeySinyavskiy commented on #4902
I tried to do so and got the same error I think. Here is a log:

Microsoft Windows [Version 10.0.19043.1586]
(c) Microsoft Corporation. All rights reserved.

C:\Windows\system32>npm uninstall ganache-cli -g && npm install ganache -g

up to date, audited 1 package in 1s

found 0 vulnerabilities
npm WARN cleanup Failed to remove some directories [
npm WARN cleanup   [
npm WARN cleanup     'C:\\Users

[2022-03-24 14:56] eggplantzzz commented on #4900
Can you clarify a bit more about what you mean by "take the revert reason of your call to `estimateGas` itself? I'm not sure I understand what you are asking.

[2022-03-24 14:58] eggplantzzz commented on #4903
If you are able to link to your code that fails in the way you describe I would love to check it out to see if I can spot something amiss. Thanks!

[2022-03-24 15:05] barakman commented on #4900
@eggplantzzz : Check out the code example at the bottom of my response (above).

Whenever `myContract.test` is designated to revert, so is `myContract.test.estimateGas`, with the same revert reason.

So instead of executing `myContract.test` with some arbitrary gas amount and hoping that it will suffice for the function to reach the point where it reverts (according to the description given by @ha

[2022-03-24 15:25] eggplantzzz commented on #4900
Ah I understand, so we'll have to see if we have access to the revert reason when `estimateGas` fails. @haltman-at might know more about whether that is available.

[2022-03-24 15:53] eggplantzzz commented on #4900
Yep, I just did the same test using a simple contract with a function that fails in the Truffle development console. I think the current approach has been in place for a while, though something did change about the gas estimation maybe 6 months ago (which @fainashalts worked on as @haltman-at may have mentioned above). I suppose we could afford to use the maximum gas if we knew in advance it was a

[2022-03-24 16:31] davidmurdoch commented on #4902
Can you try reinstalling Node.js, and be sure you select Windows Build Tools during the installation process?

Ensure this box is checked:

![image](https://user-images.githubusercontent.com/187813/159964412-568488d9-ea7a-4faa-ba21-f98067ef7d43.png)

If you are using nvm-windows to manage your node versions, you can install the build tools manually by following the instructions [here](https://gith

[2022-03-24 22:34] michaeljohnbennett commented on #4874
https://nodejs.org/en/about/releases/ node 12 EOLs on 30/04/22 so we will drop support about one month later so we can upgrade this post then.

We would also be able to upgrade our tailwind and Post CSS implementations as well to newer versions.

[2022-03-24 23:41] #4824 closed

[2022-03-24 23:42] haltman-at commented on #4912
This should be fixed now!

[2022-03-24 23:42] #4912 closed

[2022-03-24 23:43] haltman-at commented on #4863
OK, this should be fixed in 5.5.6!

[2022-03-24 23:43] #4863 closed

[2022-03-24 23:43] haltman-at commented on #4928
OK, this should be fixed in 5.5.6.

[2022-03-24 23:43] #4928 closed

[2022-03-24 23:44] haltman-at commented on #4903
Can you try this again with Truffle 5.5.6?  It includes a fix to the related code... could you tell us what the result is?  Thanks!

[2022-03-25 09:26] Hasiwansui commented on #4903
OK,please wait.

[2022-03-25 17:01] Sajjad-Khoshdooni commented on #4913
which node version you downgrade?

[2022-03-25 20:26] percentcer commented on #1005
I believe this is due to this line:

https://github.com/trufflesuite/truffle/blob/5d6a091e6b6830e3345e42550d3d85c7e6c711a3/packages/core/lib/console.js#L20

where the input is being split by a single space character instead of a match all:

`const inputComponents = input.trim().split(" ");`

should be

`const inputComponents = input.trim().split(/\s+/);`

see working example with proper tokenizati

[2022-03-26 04:04] eri2490 commented on #4887
Hi I also want to know Truffle supports node v16?

[2022-03-26 04:20] eri2490 commented on #4887
I solved it by myself🤧
it worked on v16!

[2022-03-26 05:01] hrushigawade4 opened #4945 "Truffle framework is not install properly and error is shown what can i do"
PS C:\WINDOWS\system32> npm --version
8.5.0
PS C:\WINDOWS\system32> node -v
v16.14.2
PS C:\WINDOWS\system32> npm install -g truffle
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated ipld-raw@6.0.0: Th

[2022-03-26 10:15] Pobepto commented on #4835
@haltman-at, @gnidan Hi all, I prepared a PR - #4946. When you have time, take a look at it.

[2022-03-26 20:40] Tatyana-Defi commented on #4913
Try 16.14.2

[2022-03-26 21:55] marcpre opened #4947 "Invalid number of parameters for "undefined". Got 3 expected 5!"
## Issue

I am currently developing a new contract and when I try to migrate the contract I get:

[code]

## Steps to Reproduce

Find below my contract. All imports are openzeppelin contracts:

[code]

## Expected Behavior

Successful migration.

## Actual Results

I get the following error message:

[code]

My migration file looks like the following:

[code]

As you can see in the above contract

[2022-03-27 03:24] granthughes1999 opened #4948 "Contracts not Deploying with Truffle Dashboard"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I am trying to deploy a contract to Rinkeby using the truffle dashboard. The first time I ran

truffle migrate --network dashboard
truffle console --network dashboard

the contract deployed perfectly. However, if I try to re-run these same c

[2022-03-27 09:36] marcpre commented on #4947
Even when deploying on `JS VM - London` in remix I only use three parameters in the constructor:

![image](https://user-images.githubusercontent.com/30902582/160275613-f4d5ad5b-24ef-4259-9980-cefbfbc08dba.png)

[2022-03-27 10:48] marcpre commented on #4947
One more question for this issue: Is there a way to completely reset `ganache` and `truffle`?

[2022-03-27 16:06] ilya-korotya commented on #2021
Hi. I have a question about different versions of the compiler for the library and contract.
I have the next directory structure:
[code]

- ` truffle-config.js`
[code]
- `Contract1.sol`
[code]
- `lib1.sol`
[code]

`Contract1.sol` should compile with version `^0.8.0` but the `lib1.sol` should compile with `^0.6.0`. This config doesn't work for me, because:
[code]
https://trufflesuite.com/blog/take-

[2022-03-28 00:56] LeonardoAmerio commented on #4570
Me ayudo mucho esta respuesta. Instale Node.js 16.14.2 y se me soluciono el problema!

[2022-03-28 01:55] dkillen opened #4949 "Investigate caching of getChainId responses in the dashboard."

[2022-03-28 01:55] dkillen commented on #4949
SWR could be useful to wrap axios requests [https://swr.vercel.app/](https://swr.vercel.app/)

[2022-03-28 11:18] Digi0224 opened #4951 "I am not able to install truffle on my laptop"
Getting thi issue

PS C:\Users\Deepesh> npm install truffle -g
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated ipld-raw@6.0.0: This module has been superseded by the multiformats module
npm WARN dep

[2022-03-28 15:12] eggplantzzz commented on #4949
Can you be a little more specific about this issue? Are you referring to inside hdwallet-provider?

[2022-03-28 15:15] eggplantzzz commented on #4947
Is your project on GitHub somewhere that we can take a look? It's hard to help troubleshoot with just pasted contracts :)

If you wan to clear out your compiled contracts you can delete the `build` folder - and for Ganache you can just restart it. Is that what you are looking for?

[2022-03-28 15:17] eggplantzzz commented on #4948
This is probably because Truffle sees that you have already deployed your contracts. Normally it checks to see what isn't yet deployed and will only deploy that part of your project. If you want to force a new deployment, you can use the `--reset` flag when running migrations. Let me know if this helps!

[2022-03-28 15:18] eggplantzzz commented on #4913
For this issue, make sure your xCode is up to date if you are using npm version 8. On the other hand, you can also downgrade npm to version 6 and it should install.

[2022-03-28 15:20] granthughes1999 commented on #4948
@eggplantzzz,

Thank you for the reply. My solution has been to delete the deployed contract.json files from the build/contracts folder..However, your solution appears to be the better way to go about this!

[2022-03-28 15:21] RasenGUY commented on #4692
I have pythin 3.9 installed and had the same error. But on linux instead.

[2022-03-28 15:22] eggplantzzz commented on #4948
Glad to help! Closing for issue maintenance.

[2022-03-28 15:22] #4948 closed

[2022-03-28 18:15] gnidan commented on #4485
@haltman-at writes about the information that fetch-and-compile uses from the config:

Thanks for this, @haltman-at!

[2022-03-28 18:32] gnidan commented on #4485
This being said, what about this:

[code]

[2022-03-28 18:55] haltman-at commented on #4947
@marcpre It looks to me like the problem is that you're using `artifacts.require` incorrectly.  The argument to `artifacts.require` should be the name of the contract, not the file the contract is defined in.  So `const rNFT = artifacts.require("rNFTs")`.

[2022-03-28 19:01] haltman-at commented on #4485
Makes sense!  Note we have talked in the past about it possibly taking a provider for handling proxy contracts.  But I guess this could be expanded in the future with that?

The question to my mind is, how do we distinguish this from a config?  Or do we set it up so we don't need to?  (I guess the latter wouldn't be too difficult, although doing it in *Typescript* might be annoying.)

[2022-03-28 19:09] haltman-at commented on #2021
No, right now if the one imports the other then they must be compiled with the same version.

[2022-03-28 19:16] barakman commented on #4900
@eggplantzzz:

FYI, this issue significantly hinders the ability to debug contract code using `require` and/or `revert` stubs (added specifically for debug purpose), since these statements are not guaranteed to be reached when the transaction is executed with Truffle.

More specifically, they are guaranteed to be reached only for successful transactions.
But in many (and perhaps even in most) case

[2022-03-28 20:43] eggplantzzz commented on #4900
I hear you @barakman, like I said, we'll have to have a discussion here to hash out details involving a fix etc.

[2022-03-29 01:50] dkillen commented on #4949
@eggplantzzz, @michaeljohnbennett and I thought it might be useful to cache these responses in the dashboard. It's an observation that we made during our recent task force work. It seems that getChainId() could be called frequently. @michaeljohnbennett suggested that something like [https://swr.vercel.app/](https://swr.vercel.app/) would be appropriate.

[2022-03-29 05:44] venkatesh16031999 commented on #4814
We are using the infura RPC endpoint and also the above configurations matches are same as ours

[2022-03-29 05:54] venkatesh16031999 commented on #4814
Even after using an disableConfirmationListener: true in the truffle configuration, we are getting the same response in the terminal when deploying new proxy implementation contract ( updating the logic contracts ) to the polygon testnet.

Response observed:

2_deploy_contracts.js
=====================

[object Object]
Truffle v5.4.16 (core: 5.4.16)
Node v14.17.4

[2022-03-29 08:51] Bolee95 commented on #4871
I will close this one as for some reason, it just started working by itself, haven't changed anything in the way I did it before. I suspect something was wrong with my internet connection, specifically ISP.

[2022-03-29 12:50] eggplantzzz commented on #4949
So this is for caching the chain id while using the dashboard provider? What is causing the chain id to be fetched?

[2022-03-29 14:53] nocsg opened #4956 "cannot install truffle in arch linux my npm version is 8.5.1 node version is 17"
[code]

[2022-03-29 15:05] eggplantzzz commented on #4956
It looks like it installed properly, note that warnings are not the same as errors and do not prevent successful installs.

[2022-03-29 15:24] nocsg commented on #4951
maybe it's crashed by npm audit finding some security problems, you can user the commod `npm i -g truffle --no-audit` , but that maybe caused some security problems in you laptop. I think truffle should fix this problem as soon as possible.

[2022-03-29 15:37] nocsg commented on #4956
[code]
obviously, it did not install. but I use this commod intall successfully `npm install -g truffle --no-audit`, maybe your repository has some security problems, please pay attention to it.

[2022-03-29 15:42] rchrdw commented on #3780
I'm experiencing this issue as well.  For a very simple project, the difference was 23x slower.

Tests on Truffle v5.5.6 took 23s, Truffle v5.1.49  took 1s.

[2022-03-29 16:24] fainashalts opened #4957 "Draft, publish, and link data tracking policy"
We need an official data tracking policy for our google analytics data. I took this excerpt from the release in which we added the analytics tracking, and I propose we add dashboard instructions, add this to our main Truffle readme,  and link to it in the Dashboard analytics dialog:

[code]

[2022-03-29 16:32] davidmurdoch commented on #4957
This is really great! In addition to Dashboard, we might want to expand it to include Ganache (maybe just blanket for all our tools?), as we've been hoping to hook Ganache into Truffle's tracking permissions in the future.

[2022-03-29 16:35] fainashalts commented on #4957
Should we wait to include Ganache until that is hooked up? Happy to add it now, just let me know what you would prefer!

[2022-03-29 17:11] haltman-at commented on #4956
Those are warnings, they don't prevent installation.

[2022-03-29 17:41] davidmurdoch commented on #4957
If we don't add it now then I'm not sure we can add it in the future without requiring people opt-in again (since they'd be opting in to a new thing). 🤔

[2022-03-29 18:21] MicaiahReid commented on #4842
@haltman-at Reopening because the PR only merged into a feature branch, not into `develop`

[2022-03-29 20:00] eggplantzzz commented on #3780
Hey @rchrdw, are you using an http provider? If you use a websocket provider in your test network configuration does it speed them up?

[2022-03-29 20:15] eggplantzzz commented on #4951
No @nocsg, this is an error caused by out-of-date build tools alongside versions of npm above version 6.

[2022-03-29 20:32] eggplantzzz commented on #3077
Closing for issue maintenance.

[2022-03-29 20:32] #3077 closed

[2022-03-29 20:35] eggplantzzz commented on #2631
Is there something actionable here? Just evaluating whether we can close this.

[2022-03-29 20:35] eggplantzzz commented on #3271
@lsqproduction @cds-amal Any progress on this to report?

[2022-03-29 20:38] eggplantzzz commented on #3277
Is this still an issue on the latest Truffle? I don't seem to be able to reproduce this.

[2022-03-29 22:08] fainashalts commented on #4957
@davidmurdoch https://github.com/trufflesuite/trufflesuite.com/pull/1209

[2022-03-29 22:19] michaeljohnbennett commented on #4949
the hooks on the dashboard that get the chain name everytime you change networks will do an `axios.get` call.

I had also thought of using a cache of this chainid list to get block explorers or other data but it did seem huge blob of json to be grabbing. If react renders and that was in an effect there is a chance it could be reloaded, using SWR is an industry standard practice in Web2 to cache da

[2022-03-30 02:42] #4956 closed

[2022-03-30 07:53] johnjayasingh commented on #4579
@tenthirtyone @kevinweaver

https://www.npmjs.com/package/truffle-backup

This might help out

[2022-03-30 09:53] h0tw4t3r commented on #503
Any updates on this? A project with 30+ migrations make testing impossible

[2022-03-30 10:01] userjuan1 opened #4959 "Migrate to ropsten failed"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I have attempted to migrate my project to the ropsten network and in doing so, I get an error stating that I have an insufficient balance even though ganache-cli illustates that all accounts have a balance of 1000ETH. I then proceed to check

[2022-03-30 11:23] lsqproduction commented on #3271
The current fix is breaking the resolver behaviors during test. Looking for a solution.

[2022-03-30 11:25] cds-amal commented on #4086
Closing for issue maintenance

[2022-03-30 11:25] #4086 closed

[2022-03-30 11:25] cds-amal commented on #3993
Closing for issue maintenance

[2022-03-30 11:25] #3993 closed

[2022-03-30 14:07] lsqproduction commented on #4959
Hi, @userjuan1 thank you for opening the issue.
To look into this, can you help to provide us with access to your project repo or a minimal project sample, as well as the CLI commands you used to reproduce the error?

[2022-03-30 14:18] eggplantzzz commented on #3271
What is the current fix?

[2022-03-30 17:10] userjuan1 commented on #4959
Hello,

The CLI commands I used are :

- truffle migrate --network ropsten

Please see below, Migrations.sol sample :

// SPDX-License-Identifier: MIT
pragma solidity >=0.4.22 <0.9.0;

contract Migrations {
  address public owner = msg.sender;
  uint public last_completed_migration;

  modifier restricted() {
    require(
      msg.sender == owner,
      "This function is restricted to the contrac

[2022-03-30 17:15] userjuan1 commented on #4959
![ksnip_20220330-201424](https://user-images.githubusercontent.com/88763657/160893267-5a62a7be-847d-4c2f-9b2f-b25a7ee3277f.png)
![ksnip_20220330-201537](https://user-images.githubusercontent.com/88763657/160893387-023a12d6-bbe0-4450-a22e-03a591fea2b5.png)

[2022-03-30 17:34] gnidan commented on #4837
We're going to put this on our backlog to investigate possible solutions. Thanks for opening this!

[2022-03-30 17:41] gnidan commented on #4838
I assume that since there's now a PR, the research is thus done?

[2022-03-30 17:52] gnidan commented on #4858
@benjamincburns what's the status on this one? Thanks!

[2022-03-30 18:13] gnidan commented on #4825
Oof. Looks like we're exporting the wrong types entirely. Would it be better if we just removed [this file](https://github.com/trufflesuite/truffle/blob/develop/packages/contract/typings/index.d.ts)? i.e., leave it to TypeChain to provide types for @truffle/contract? At least until we can get around to properly porting that package to TS.

[2022-03-30 18:14] rchrdw commented on #3780
I'm using the default internal Ganache network.

[2022-03-30 18:15] gnidan commented on #2771
Hey @yxguo2536 is this still an issue for you? Sorry to drop the ball on this for two years, but please let us know if this is something you know is still an issue. Thank you!

[2022-03-30 18:16] gnidan commented on #2771
(Marking this as waiting, but there may be action we could take here, namely to revisit the old Quorum tutorial for accuracy today)

[2022-03-30 18:22] gnidan commented on #4814
If possible, could you please share your repo with us? We have some ideas on possible workarounds that we'd like to try. Thank you!

[2022-03-30 18:32] gnidan commented on #2631
Seems like there's an action here to, upon error obtaining solc, detect the permissions of the compilers cache directory and, if the permissions are insufficient, suggest they rimraf the whole computer or something.

[2022-03-30 18:35] gnidan commented on #4887
@lawweiliang have you figured this out? wondering if we can close this. thank you!

[2022-03-30 18:37] gnidan commented on #4802
You may also want to run `npm doctor` and follow the on-screen instructions. See [npm-doctor | npm Docs](https://docs.npmjs.com/cli/v8/commands/npm-doctor) for more information on that command.

In the meantime, please let us know if downgrading to npm 6 worked out for you! Thank you!

[2022-03-30 18:38] gnidan commented on #4267
Closing this for issue maintenance. Please let us know if the problem persists and we will help in any way we can!

[2022-03-30 18:38] #4267 closed

[2022-03-30 18:48] gnidan commented on #4766
Closing this for issue maintenance since we haven't heard back from you @twjjw. Please let us know if you're still running into trouble with this, and we'll be glad to help you sort it out. Thank you!

[2022-03-30 18:48] #4766 closed

[2022-03-30 19:49] emilyJLin95 commented on #4579
Hey @johnjayasingh ! I'm the developer advocate for Truffle - always excited to see developers engaging with the community

That being said, I've taken a look at your package and see two problems:
1. Your docs use the Truffle branding, even though we haven't endorsed this project. Can you please remove the logo and name?
2. The linked repo is private, which creates a security concern because it is

[2022-03-30 19:58] benjamincburns commented on #4858
This is done/merged as of #4950

[2022-03-30 21:35] #4838 closed

[2022-03-31 01:47] yxguo2536 commented on #2771
Hi @gnidan, thanks for your asking, I couldn't solve this issue back then, so I have to end the project there, and unfortunately I didn't keep the environment to reproduce this issue, so sorry I can't help on this :(

[2022-03-31 07:17] VISHAL-143x commented on #4456
Facing this errors from couple of days and i am unable to install truffle on my mac

npm install -g truffle
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated fsevents@2.1.3: "Please update to latest v

[2022-03-31 07:19] VISHAL-143x commented on #4514
Getting this error from couple of days and I am unable to install truffle

 npm install -g truffle
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated fsevents@2.1.3: "Please update to latest v2.3 or v2

[2022-03-31 10:19] janassss commented on #3913
hey i had the same issue

But could solve this with this help in my truffle-confic

[2022-03-31 15:31] lsqproduction commented on #4959
Thank you for sharing those @userjuan1.
It's preferable to have access to the project repo to confirm, but from looking at the information you provided so far I believe you're trying to migrate to the live Ropsten network using an account from the local ganache-UI.
You may be following our pet shop tutorial (we are in the progress to update it).

If your intention is to actually migrate and deploy

[2022-03-31 16:58] userjuan1 commented on #4959
Hello again,

Thank you so much for you advice. Please see below output of the advice you have given me :

This is the command line output of : _ganache -h 127.0.0.1 -p 7545 --fork.network ropsten_

ganache v7.0.3 (@ganache/cli: 0.1.4, @ganache/core: 0.1.4)
Starting RPC server

Available Accounts
==================
(0) 0xf33e4BF81FF5a412A06156b3EA0DFce178283058 (1000 ETH)
(1) 0x78481f276bAe0B18dE5

[2022-03-31 17:07] lsqproduction commented on #4959
Can you help to inform me which one is your intention? To deploy on ropsten or just test locally on ganache? If you're wanting to test locally. No provider is needed as ganache is doing it for you already

[2022-03-31 17:45] userjuan1 commented on #4959
I'd like to deploy on ropsten and then to respond to you latest message, is my project has always been up-to-date to compiled, so the build dir is not new. Please could you help me deploy to ropsten?

[2022-03-31 17:46] userjuan1 commented on #4959
Alternative, what would be the best way to get my project migrated to a live blockchain?

[2022-03-31 17:52] lsqproduction commented on #4959
To deploy to ropsten, you will need an account with ropsten ETH instead of the ganache account. ( please note that ganache is a local blockchain environment and its eths are only useful for the local development and testing purpose.

[2022-03-31 19:27] eggplantzzz commented on #2771
Sorry about that @yxguo2536. We'll close this for issue maintenance for now, if you re-encounter this and can re-report it we would appreciate it!

[2022-03-31 19:27] #2771 closed

[2022-03-31 23:45] wbt commented on #4825
I'm not sure what TypeChain is doing for this project but if it's generating the code quoted in the OP, I wouldn't recommend that.  I don't know what all the impacts would be of removing that file.

I do have a very hacky workaround to loading TruffleContract in global scope (and ensuring the sequential loading of dependencies like web3 and BN before that) but it's pretty bad and definitely not a

[2022-04-01 00:53] fainashalts commented on #4857
Closing as this fix has been released.

[2022-04-01 00:53] #4857 closed

[2022-04-01 02:40] chainalert-bot opened #4963 "ChainAlert: npm package release (0.12.5) has no matching tag in this repo"
Dear [@truffle/codec](https://npmjs.com/package/@truffle/codec) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (0.12.5) of [@truffle/codec](https://npmjs.com/package/@truffle/codec) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we wo

[2022-04-01 02:40] chainalert-bot opened #4964 "ChainAlert: npm package release (0.2.50) has no matching tag in this repo"
Dear [@truffle/provider](https://npmjs.com/package/@truffle/provider) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (0.2.50) of [@truffle/provider](https://npmjs.com/package/@truffle/provider) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain at

[2022-04-01 02:41] chainalert-bot opened #4965 "ChainAlert: npm package release (0.1.3) has no matching tag in this repo"
Dear [@truffle/events](https://npmjs.com/package/@truffle/events) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (0.1.3) of [@truffle/events](https://npmjs.com/package/@truffle/events) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we

[2022-04-01 02:41] chainalert-bot opened #4966 "ChainAlert: npm package release (1.3.24) has no matching tag in this repo"
Dear [@truffle/config](https://npmjs.com/package/@truffle/config) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (1.3.24) of [@truffle/config](https://npmjs.com/package/@truffle/config) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, w

[2022-04-01 02:41] chainalert-bot opened #4967 "ChainAlert: npm package release (4.5.3) has no matching tag in this repo"
Dear [@truffle/contract](https://npmjs.com/package/@truffle/contract) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (4.5.3) of [@truffle/contract](https://npmjs.com/package/@truffle/contract) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain att

[2022-04-01 04:52] jbrower95 opened #4968 "More declarative testing"
[bsan Github](https://github.com/jbrower95/bsan)

I made a more declarative testing framework for truffle called `bsan`, where you declare pieces of on-chain state you want to monitor. After every transaction (and each test), BSAN automatically checks if any unwanted state changes occur and fails mocha if needed.

Having bsan around when using truffle has made my testing story way more complete, a

[2022-04-01 07:33] userjuan1 commented on #4959
Good day,

Thank you so much for your help. Please see below :

![ksnip_20220401-103234](https://user-images.githubusercontent.com/88763657/161216705-34a55548-db39-4398-b63d-019f12b935bb.png)

![ksnip_20220401-103145](https://user-images.githubusercontent.com/88763657/161216748-e124cc8d-75a4-48ca-b034-c349e6c4aa59.png)

All checks out okay. Couldn't be more thankful for your help.

[2022-04-01 12:35] lsqproduction commented on #4959
Great to hear @userjuan1. Closing this issue now.

[2022-04-01 12:35] #4959 closed

[2022-04-01 13:54] Cublax commented on #2264
@migueljulve @fainashalts Isn't it a problem to install with homebrew ? Is seems that they are a few versions late is that right ?

[2022-04-01 13:58] cds-amal commented on #2264
We cannot vouch for, nor support homebrew's installation of Truffle.

[2022-04-01 16:57] fainashalts commented on #4967
Closing as this is fixed.

[2022-04-01 16:57] #4967 closed

[2022-04-01 16:57] fainashalts commented on #4966
Closing as this is fixed.

[2022-04-01 16:57] #4966 closed

[2022-04-01 16:57] fainashalts commented on #4965
Closing as this is fixed.

[2022-04-01 16:57] #4965 closed

[2022-04-01 16:57] fainashalts commented on #4963
Closing as this is fixed.

[2022-04-01 16:57] #4963 closed

[2022-04-01 16:58] fainashalts commented on #4964
Closing as this is fixed.

[2022-04-01 16:58] #4964 closed

[2022-04-01 20:19] williamCareyJr commented on #3008
When I use **truffle migrate --network kovan --skipDryRun**
I receive the following error:

**Error:  *** Deployment Failed ***

"Migrations" -- Web3ProviderEngine does not support synchronous requests..**

[2022-04-02 01:51] tanhuiya opened #4969 "Different bytecode output from truffle and solc-compiler"
I use same version of solc compiler (v0.8.13)

When I compile a single contract, their bytecode output is the same.

But, When I compile a contract with inheritance, their bytecode output is not the same. The bytecode output by solc is much larger.

[code]

[code]

[2022-04-02 06:24] #4969 closed

[2022-04-02 22:05] 311s commented on #4913
What version did you downgrade to?

[2022-04-03 08:44] monperrus commented on #4692
I confirm that `npm install -g npm@6` solves the problem

[2022-04-04 01:07] HalloWorld23333 commented on #2711
That really worked! Thank you!

[2022-04-04 02:36] michaeljohnbennett commented on #4839
merged to `/dash`

[2022-04-04 02:38] michaeljohnbennett opened #4971 "Create consistent Button elements for use across the UI"
Add in a consistent react component or buttons to allow singular source of truth for button design across the UI.

Work done in other branch (pending tx views) extracted out into a single PR.

[2022-04-04 09:32] BenZogia opened #4973 "vs code unable to resolve truffle command"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actually happened. Please give exa

[2022-04-04 14:31] eggplantzzz commented on #4913
@311s try downgrading to npm version 6 - (`npm i -g npm@6`)

[2022-04-04 18:58] haltman-at commented on #3008
@williamCareyJr That sounds like a different issue.  Would you mind filing a new issue for that, with more detailed reproduction steps?  Thanks!

[2022-04-05 06:24] Sajjad-Khoshdooni commented on #4913
I still facing the problem

[2022-04-05 12:07] soyludev opened #4981 "Installing error - Architacture mismatch?"
## Issue

Installation is not getting completed due to numerous amount of error. That list of errors confused me. Please check the log that shared below.

## Steps to Reproduce
npm install truffle -g

## Actual Results

Tail of the log : https://pastebin.com/WkmicLjn

## Environment

* Operating System: MacOS X 10.15.7
* Ethereum client: none
* Truffle version (`truffle version`): none
* node vers

[2022-04-05 13:58] MicaiahReid opened #4982 "Load state of "Processing..." display on page refresh"
This looks good for showing the initial feedback, but hard coding the initial state of the buttons probably isn't the best bet long-term.

Out of curiosity I ran the dashboard and went to migrate a contract. After clicking "Process" it shows "Processing...". But if you refresh the page while the transaction is still processing, it won't show that a transaction is processing - it will allow you to

[2022-04-05 15:14] eggplantzzz commented on #4913
@Sajjad-Khoshdooni can you tell me more about the problem you are experiencing?

[2022-04-05 15:18] eggplantzzz commented on #4981
Hey @soyludev, it seems people using version 8 of npm are experiencing problems installing Truffle when their build tools are a bit out of date: in your case, xCode on mac. So make sure you update xCode to the most current version. You might need to update your OS to do this as you are using 10.x. I had to update to 11.x before I could get the latest.

You could also downgrade to npm version 6 as

[2022-04-05 17:43] emilyJLin95 commented on #4579
Hi @johnjayasingh - just following up on my comment above in case you've missed it. I noticed you're still using our branding!

1. Remove our logo and name
2. Make your repo public

Again, please reach out if you need help with any of the above asks!

[2022-04-05 18:47] soyludev commented on #4981
@eggplantzzz thanks for your answer. Honestly, xCode is not installed in my system at the moment. Let me try again with xCode installed system.

[2022-04-05 19:04] Mryolk commented on #831
Hello Everyone! i am very new to all these and i'm trying to unbox metacoin with Truffle.
so this is what is happening:
C:\Users\Giannis\Metacoin>truffle unbox Metacoin
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\Giannis\AppData\Roaming\npm\node_modules\truffle\build\cli.bundled.js'
←[90m    at Function.Module._resolveFilename (node:internal/modules/c

[2022-04-05 21:14] soyludev commented on #4981
Unfortunately, did not work out

[2022-04-06 08:18] berkantsoytas opened #4991 "Installing Error"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
I'm trying to install truffle, but I can't. At first it gave an error for python, I installed it and added it to the path. I am currently dealing with this error.

## Steps to Reproduce
<code>npm i -g truffle</code>

## Expected Behavior
[cod

[2022-04-06 14:31] eggplantzzz commented on #4991
Hey @berkantsoytas, people usually experience this issue when they are using npm 8 and don't have up to date build tools installed. On Windows, when installing Node there should be a checkbox that you need to check to install additional build tools. Can you try re-installing and ensuring you install these extra build tools?

Or as a quick workaround you can downgrade to npm version 6 (`npm install

[2022-04-06 15:34] ASmallPotato opened #4992 "The test helper function `isAddress` always throw `TypeError: number.equals is not a function`"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

the test helper function `assert.isAddress` seems to always throw an `TypeError: number.equals is not a function` error

## Steps to Reproduce

in a test case, using the `isAddress` assertion will throw the error. e.g.

[code]

## Expected B

[2022-04-06 17:38] berkantsoytas commented on #4991
I was able to solve this problem in node in two ways.

### first solution

I downgraded node version to 16.13.

### second solution

I added the -m flag.

[2022-04-07 03:54] fainashalts commented on #4968
Thanks for bringing this to our attention @jbrower95! At first glance it seems like a very interesting project. I'm going to add this idea to the agenda for discussion at our team meeting so we can consider this and get back to you!

[2022-04-07 04:01] jbrower95 commented on #4968
Sounds good! The API in my PR is rough but in the draft PR I have against truffle, the plan looks like;

- offer a new `contract.stateful(....)` test declaration
- integrate the bsan DappState declaration into that decl
- right now i'm initializing all my contracts in a `before(..)` block, and then declaring my tests after this. I would move the actual test declarations around to allow the `before

[2022-04-07 04:25] fainashalts commented on #4991
@berkantsoytas glad to see you were able to resolve your issue! Thank you so much for following up with what worked for you, as other users will be able to read this if they encounter something similar. I'm closing this issue for issue maintenance but please feel free to open another issue if something else comes up!

[2022-04-07 04:25] #4991 closed

[2022-04-07 04:31] fainashalts commented on #3277
I have tried this and have been unable to reproduce as well. Closing for issue maintenance but if there are new or additional steps to reproduce please create a new issue with that information! Thanks!

[2022-04-07 04:34] #3277 closed

[2022-04-07 04:35] Gursimranm4 opened #4999 "Getting errors while installing truffle on my Windows 10"
PS C:\Windows\system32> npm install -g truffle@5.4.29
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated ipld-raw@6.0.0: This module has been superseded by the multiformats module
npm WARN deprecated d

[2022-04-07 04:35] fainashalts commented on #4903
Hi @Hasiwansui I just wanted to check in on this -- did our fix address your issue? Thanks, please let us know!

[2022-04-07 04:36] fainashalts commented on #4908
@marcpre is there anything actionable left in this issue? From a quick read it looks like we are working on a better system for this, but for now you have a workaround. Please confirm. Thanks so much!

[2022-04-07 04:40] fainashalts commented on #4812
Hi @Gods-good, there hasn't been any activity on this issue for a while. Hopefully you have figured it out! I am closing this for issue maintenance but if something else comes up please feel free to open a new issue!

[2022-04-07 04:40] #4812 closed

[2022-04-07 04:43] fainashalts commented on #4789
@deep-ego have you been able to get your verification issue sorted out? Wondering if we can close this issue. Thanks!

[2022-04-07 04:45] fainashalts commented on #4832
This seems like a very cool endeavor! @eggplantzzz @haltman-at should we move this into the backlog?

[2022-04-07 04:46] fainashalts commented on #4868
@TechGuru29 have you been able to resolve this issue? Please see @ezeamaka2's suggestions above.

[2022-04-07 04:48] fainashalts commented on #4266
It looks like there has been no activity on this issue for some time, so I am going to close it for issue maintenance. @chenrui333 if you still need help, please open a new issue. Thanks so much!

[2022-04-07 04:48] #4266 closed

[2022-04-07 04:54] jbrower95 commented on #4968
a sample of this is here: https://github.com/trufflesuite/truffle/pull/5000

needs testing but that's the general idea

[2022-04-07 05:21] Gursimranm4 commented on #4999
npm ERR! path C:\Users\HP\AppData\Roaming\npm\node_modules\truffle\node_modules\ganache\node_modules\keccak
npm ERR! command failed
npm ERR! command C:\Windows\system32\cmd.exe /d /s /c node-gyp rebuild
npm ERR! gyp info it worked if it ends with ok
npm ERR! gyp info using node-gyp@9.0.0
npm ERR! gyp info using node@17.8.0 | win32 | x64
npm ERR! gyp info find Python using Python version 3.10.4 fou

[2022-04-07 05:40] #4908 closed

[2022-04-07 07:20] deep-ego commented on #4789
Hi Faina,

Unfortunately, I moved on with the existing issue.
I tried the flatten code via remix. Contract is compiled with a warning.
But while verifying contract with same source code.
Still not able to get verified.
Hence, Moving on with higher solidity version and everything is working
fine.
This is so weird for those contract which has been created using sol v0.5.1
and having abiencoder.
So,

[2022-04-07 15:34] cooganb opened #5002 "Feature Request: Deploy Contracts at Certain Gas Price"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I’m attempting to use the `maxFeePerGas` and `maxPriorityFeePerGas` in `truffle-config.js` for a contract deployment I’m going where the transaction doesn’t need to be mined right away, it just needs to be mined at a certain gas price.

## S

[2022-04-07 15:35] eggplantzzz commented on #4789
Ok, thanks for the response @deep-ego! Closing for issue maintenance.

[2022-04-07 15:51] eggplantzzz commented on #4999
Hey @Gursimranm4, normally errors like these come from using npm 8 without installing the extra build tools you are prompted to install during Node installation. There should be a checkbox during installation that you need to check to install the build tools. Also, don't use odd-numbered versions of Node as they are experimental (in this case Node 17). Try re-installing something like 16 and try a

[2022-04-07 17:55] leeftk commented on #4973
Hey @BenZogia , thanks for raising this. Would you mind sending over some reproduction steps and also giving us some information on your environment, specifically what version of Truffle you're using? Thanks!

[2022-04-07 18:18] eggplantzzz commented on #4992
Hey @ASmallPotato, `assert` comes from the npm package chai. `isAddress` is not a chai method and the concept of an Ethereum address has no meaning in JavaScript unless you are using a package specifically designed for this.

You may be trying to use Truffle's testing Solidity library `Assert.sol` which is only available if you are writing Solidity tests. That has some functionality where you can

[2022-04-07 18:40] leeftk commented on #4968
Hey @jbrower95 could you give us a scenario or example of how you would use this framework and how it improves the developer experience? Thanks!

[2022-04-07 18:46] leeftk commented on #4814
There's some related work being done on this if you want to follow you can here (https://github.com/trufflesuite/truffle/pull/4958).

[2022-04-07 18:57] haltman-at commented on #4832
I guess?  It's still not entirely clear to me whether @wbl's problem is handled by eth-gas-reporter or not.

[2022-04-07 19:36] ASmallPotato commented on #4992
Hi @eggplantzzz thank you for looking into this :)

I understand that `assert` is from chai, and yes, `isAddress` is not from/included in the chai package. However it seems to me that there is an `isAddress` function and it is injected by truffle into the `assert` object (as mention in the "Extra Information" section in the original comment/issue), and it always throw error :(

p.s. Test case in s

[2022-04-07 20:34] gnidan commented on #4485
Yep, I left it out for now but figured we'd probably have to add it later.

Right now, we only accept an actual TruffleConfig object, so maybe we can just go with the simple solution of doing an `instanceof` check! That way we don't need to do any sort of duck-typing matching :)

[2022-04-07 20:35] haltman-at commented on #4485
Oh, I didn't even think of that!  Silly me... thanks!

[2022-04-08 00:24] benjamincburns opened #5004 "Track test run statistics in CI builds"
At the moment we don't appear to be generating machine-readable test reports during CI runs, or if we are, I don't think we're ingesting them anywhere. I'm not sure what features GitHub Actions supports for this, but this report data can be used for things like

- Notifying authors of broken builds which specific tests failed in their run
- Notifying fix authors when their code fixes a previously

[2022-04-08 00:32] benjamincburns commented on #5004
This may be a good approach: https://github.com/marketplace/actions/publish-unit-test-results

Note that it depends on JUnit XML test report generation, but this is a really widely adopted format, and I believe there are ways of convincing both Jest and Mocha to produce those files.

[2022-04-08 02:00] jbrower95 commented on #4968
Sure I can show some examples of code using it. My project isn't open source but here are some snippets from my tests

[code]

In this example, i'm tracking the ETH balances of several accounts. I'm also tracking their balances in an erc20 contract, and i'm tracking a few variables on my dao. Notice `dapp1SlashCount` includes a keypath since i'm "indexing" into a struct stored on-chain.

In my tes

[2022-04-08 02:01] jbrower95 commented on #4968
This needs a slight facelift (the S in the `.call(..)` is definitely redundant), and it's very verbose overall, but with some aesthetic work this could be really useful to folks writing tests.

Also would need to overhaul how I'm doing logging/stdout to be compatible with truffle, and clean some stuff up.

[2022-04-08 08:03] OnahProsperity commented on #3357
`I had the sam issue with BSC testnet. I solved mine by replacing 'https' in the provider url with 'wss'
testnet: {
  provider: () => new HDWalletProvider(mnemonic, `wss://data-seed-prebsc-1-s1.binance.org:8545`),
  network_id: 97,
  confirmations: 10,
  timeoutBlocks: 200,
  skipDryRun: true
},`
worked for me

[2022-04-08 12:12] jnsvd commented on #1250
@Pzixel According to the [Truffle documentation](https://trufflesuite.com/docs/truffle/advanced/build-processes/), you should be able to use something like:

[code]

[2022-04-08 12:24] TomiOhl opened #5006 "Log spam while running tests in Github Action"
## Issue

Tons of `Waiting for transaction signature. Please check your wallet for a transaction approval message.` log entries while running unit tests. This makes reading through the results pretty problematic, especially if there are many transactions in your tests or their before/beforeEach hooks.

## Steps to Reproduce

- write a smart contract and a test
- commit it to github, to a repositor

[2022-04-08 12:47] Pzixel commented on #1250
Hmm, I should take a look. Thanks!

[2022-04-08 15:54] eggplantzzz commented on #4835
This has been released with version 5.5.8 https://github.com/trufflesuite/truffle/releases/tag/v5.5.8

[2022-04-08 15:54] #4835 closed

[2022-04-08 15:56] eggplantzzz commented on #4758
This has been addressed and released with version 5.5.8 https://github.com/trufflesuite/truffle/releases/tag/v5.5.8

[2022-04-08 15:56] #4758 closed

[2022-04-08 16:57] gnidan opened #5007 "Debugger crashes with -x for contracts written for Solidity v0.4.4"
## Issue

There's a TypeError for this transaction: 0xea524441c46fd574aac1d38fa83f3af3cbd6d27cb6e083cb4fa02edf1eee8604

## Steps to Reproduce

`truffle debug -x --network=mainnet 0xea524441c46fd574aac1d38fa83f3af3cbd6d27cb6e083cb4fa02edf1eee8604`

## Expected Behavior

I expect to be able to debug without source for this contract

## Actual Results

[code]

## Environment

* Operating System:
* Et

[2022-04-08 20:45] thedarkknight197 commented on #4431
Work also for me :)
Thanks to all <3

[2022-04-09 13:00] CoccoAndrea commented on #2711
Thanks :-)

[2022-04-09 16:42] Vukas1n opened #5013 "Truffle command not found"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

Basically, after I used `npm  i -g truffle` command and installed it I can't use `truffle dashboard` and `truffle init`.

![truffle](https://user-images.githubusercontent.com/90096506/162582692-aacc5578-0d9f-4bcb-ac70-4fc91284875b.jpg)

<img width="10

[2022-04-10 18:19] swadhinbiswas000 opened #5015 "Can't install truffle"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I have tried to install truffle in my windows 10 operating system but always getting this error. I have tried almost everything I found online, Nothing works.
![image](https://user-images.githubusercontent.com/52545489/162633719-b377bdd3-1fc

[2022-04-10 20:00] Reudlak commented on #4326
I just see this and this gives me hope although thats from december. Waiting patiently

[2022-04-10 20:07] Reudlak commented on #2801
The issue 644 is at least fixed now

[2022-04-10 20:09] Reudlak commented on #2802
Also here, Tezos does support views now.

[2022-04-11 04:44] SwapnilG1 opened #5016 "Truffle Dashboard showing error "truffle" not found in cmdlet, etc"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
Hi, I was able to install yarn, node.js and npm correctly and was also able to check the version. Also I am able to install truffle globally with some vulnerabilities, but when I try to run the command 'truffle dashboard' it displays an error

[2022-04-11 08:19] pappylee00777 commented on #3959
i get these error messages as well

npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated ipld-raw@6.0.0: This module has been superseded by the multiformats module
npm WARN deprecated cids@1.1.9: This module has been superseded by the multiformats module
npm WARN deprecated ipld-dag-cbor@0.17.1: This module has been superseded by @ipld/dag-cbor and multi

[2022-04-11 08:21] pappylee00777 commented on #3959
i got this when i tried to check the version

PS C:\Users\hp> truffle version
truffle : File C:\Users\hp\AppData\Roaming\npm\truffle.ps1 cannot be loaded. The file C:\Users\hp\AppData\Roaming\npm\truffle.ps1 is
not digitally signed. You cannot run this script on the current system. For more information about running scripts and setting
execution policy, see about_Execution_Policies at https:/go.mi

[2022-04-11 10:24] soyludev commented on #4981
downgrading npm did work for me! Thanks @eggplantzzz for your help.

[2022-04-11 10:24] #4981 closed

[2022-04-11 14:12] webbooo commented on #3539
Hey @SvenMeyer did you get a resolution on this?  I'm having a lot of issues trying to get truffle dashboard to run..

Interested to know how you went.

[2022-04-11 15:00] AliErcanOzgokce commented on #5013
You didn't successfully installed truffle maybe. In mac computers generally don't allows you to install truffle without a root user.

For solving this issue:
[code]

To be sure about installed you can simply check with this command:
[code]

[2022-04-11 16:41] cds-amal opened #5017 "Cannot add a module in truffle project"
## Versions

| — | version |
|---|--------|
| OS | arch, ubuntu 20_04, OSX 12.3.1|
| node | v16.14.2 |
| npm | v6.14.16 |
| yarn |  1.22.18 |
| lerna |  v4.0.0 |

## Reproduction steps:

1. run bootstrap on project
2. try to add any module in any package (I used log4js and config respectively)

[code]
<details><summary>Error output</summary>

[code]

</details>

This [Yarn issue](https://github.co

[2022-04-11 16:46] cds-amal commented on #4862
@Elangley101, @Roshankiller123, @Cyber5Tech Please open a new ticket for your issue, so we can get it resolved quickly. Thanks!

[2022-04-12 15:21] eggplantzzz commented on #5013
Please do not use `sudo` while installing Truffle. If it gives you the message you reported, you probably don't have npm configured correctly as it probably means that the place where npm installs globally installed packages is not in your PATH variable. Try re-installing Node and npm using a Node version manager like nvm. This is what npm recommends, you can check out [this article from npm](http

[2022-04-12 15:23] eggplantzzz commented on #5016
See [this issue](https://github.com/trufflesuite/truffle/issues/5013). In your case you should try using the Windows equivalent of nvm.

[2022-04-12 15:27] eggplantzzz commented on #5015
If not you probably need to install the extra build tools that the Node installer prompts you for. There will be a checkbox while installing that you will need to check. Let me know if this helps you make any progress. Or you may just need to install Visual Studio?

[2022-04-12 15:36] eggplantzzz commented on #5006
Hmm, it looks like that logging is meant to be printed while using Truffle Dashboard to sign transactions. It shouldn't print when not, seems to be a bug. Thanks for reporting this @TomiOhl!

[2022-04-12 15:46] gnidan commented on #5006
dang I was hoping this wouldn't be a problem. sorry about this; we'll get it fixed!

[2022-04-12 16:17] swadhinbiswas000 commented on #5015
I tried to install it with the check mark. Now I got this error on powershell.
![Screenshot_1](https://user-images.githubusercontent.com/52545489/163008036-84a41ebd-11b6-4d2c-94d4-447cab2801a7.png)

[2022-04-12 16:26] eggplantzzz commented on #5015
It looks like you are missing some things in your environment, can you try to address the warnings/errors you see above?

[2022-04-13 04:07] benjamincburns commented on #5006
Thanks for the bug report @TomiOhl - this will very likely be fixed in the next Truffle release, assuming #5018 passes code review.

[2022-04-13 08:10] #5017 closed

[2022-04-13 18:02] cds-amal commented on #5015
Closing as it's a duplicate of https://github.com/trufflesuite/truffle/issues/4951

[2022-04-13 18:02] #5015 closed

[2022-04-13 18:07] cds-amal commented on #4825
@wbt we're wranggling our understanding of this issue to determine a path forward.

[2022-04-13 18:08] cds-amal commented on #4968
Thanks @jbrower95, We'll review and discuss before commenting.

[2022-04-13 18:18] leeftk commented on #4833
Closing for issue maintenance.

[2022-04-13 18:18] #4833 closed

[2022-04-13 18:19] leeftk commented on #4864
Closing for issue maintenance.

[2022-04-13 18:19] #4864 closed

[2022-04-13 18:20] leeftk commented on #4780
Closing for issue maintenance.

[2022-04-13 18:20] #4780 closed

[2022-04-13 18:35] cds-amal commented on #4498
Closing for issue maintenance

[2022-04-13 18:35] #4498 closed

[2022-04-13 23:46] benjamincburns commented on #5006
This was fixed as of the release one hour ago, so I'll close this.

[2022-04-13 23:46] #5006 closed

[2022-04-13 23:48] benjamincburns opened #5020 "Dashboard shows odd network name when connecting with Ganache"
## Issue

When I connect the dashboard to Ganache via Metamask, it tells me that I've connected to a network called "CENNZNET OLD."

## Steps to Reproduce

1. Start truffle dashboard
2. Configure MetaMask to point at localhost:8545
3. Observe network name shown in dashboard

## Expected Behavior

Network name should ideally be resolved in the following order (with each step falling back to the nex

[2022-04-14 03:16] swadhinbiswas000 commented on #4951
It's not working for me.

[2022-04-14 03:56] OIU2020 opened #5023 "Error: Cannot find module '@ethersproject/solidity'"
I'm trying to use node run-arbitrage.js ,but it fails for module not found.

PS E:\Flashbots\Flahsloan2.0> node run-arbitrage.js
internal/modules/cjs/loader.js:883
  throw err;
  ^

Error: Cannot find module '@ethersproject/solidity'
Require stack:
- E:\Flashbots\Flahsloan2.0\node_modules\@uniswap\sdk\dist\sdk.cjs.development.js
- E:\Flashbots\Flahsloan2.0\node_modules\@uniswap\sdk\dist\index.js
-

[2022-04-14 04:17] haltman-at commented on #5023
This doesn't sound like an error with Truffle; you're running `node` on some non-Truffle file and it's not working.  OK, but where is Truffle involved?  Does this script you're running invoke Truffle at some point?

If this is an error with Truffle, we're going to need more detailed reproduction steps.  You refer to a `run-arbitrage.js`, but what is that?  We have no idea what that is or what its

[2022-04-14 08:04] TomiOhl commented on #5006
Nice, just tested it and can confirm it's fixed. Thanks!

[2022-04-14 12:54] Diskercader commented on #4016
I found a workaround to the issue while using Truffle behind a proxy. Download a version of the solc compiler from https://github.com/ethereum/solc-bin/tree/gh-pages/bin and put it in the folder that Truffle stores its compilers in (on Linux this is ~/.config/truffle/compilers/node_modules... I don't know Windows/mac!).

[code]

Listing the compiler versions still returns the 407 error:
[code]
But

[2022-04-14 14:29] eggplantzzz commented on #4016
Is this still an issue on the latest Truffle? We recently updated axios, they may have updated something that will now allow this to work. Can anyone let me know?

[2022-04-14 17:22] redigaffi commented on #3079
Oh lord, debugging with optimizations turned off is a whole different story, wasn't aware. Dont forgot to cleanup your build folder before doing a new compilation/deployment without optimizations, if not debugger could not find any source code.

[2022-04-14 17:33] tenthirtyone opened #5025 "Truffle Config instantiates providers for all defined networks and sends API requests on deployment even if network is not selected."
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Given the following `truffle-config.js`

[code]

While deploying Truffle will make RPC calls to all networks defined in config. Performing a deployment to Rinkeby will send requests to the mumbai project endpoint and vice versa for n number

[2022-04-14 17:33] redigaffi commented on #3294
Had the same issues, make sure to delte code/build folder before making a new deployment

[2022-04-14 17:44] tenthirtyone opened #5026 "Truffle instantiates duplicate providers after every contract in a deployment is mined, linear increase in API calls per contract deployed"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

For every contract deployed by truffle, a new provider appears to be instantiated. This is a memory leak but it all results in a chattier application with unnecessary calls the the JSON RPC endpoint.

## Steps to Reproduce

1. Create a new t

[2022-04-15 07:36] firasbelhiba commented on #3728
Guys try to npm install -g truffle
and re-open vsc and everything should be clear

[2022-04-16 14:55] prakharlohumi commented on #524
Weird but I was able to fix the same error by changing the path in my 2_deploy_token.js file
Instead of:
var MyToken = artifacts.require("./MyToken.sol");
I used:
var MyToken = artifacts.require("MyToken");
and it worked

[2022-04-16 16:12] binkiebinkie commented on #4191
I also encountered this problem, and what fixed it for me was moving the build directory. In `truffle-config.js` I changed the value
`contracts_build_directory: "./src/ABIs/",`
to
`contracts_build_directory: "./abis/"`
I don't know if moving the source directory out of /src/ was the fix or just generating completely new files, but it works now.

[2022-04-17 14:56] Lakhankumawat commented on #3959
Same Issues

[code]

[2022-04-17 17:17] cds-amal commented on #3959
Hi @pappylee00777, @Lakhankumawat, Your issues are different from this closed issue. Have you tried following the instructions in the error log?

npm ERR! gyp ERR! find VS You need to install the latest version of Visual Studio
npm ERR! gyp ERR! find VS including the "Desktop development with C++" workload.
npm ERR! gyp ERR! find VS For more information consult the documentation at:
npm ERR! gyp E

[2022-04-17 17:32] cds-amal commented on #5025
I could not reproduce this behavior by with a `truffle-config` that has two thunked providers, `ganache1` and `ganache2` that resolve to two running ganache instances (serving port 8545 and 9545 respectively). Note, it is helpful to have both ganache terminals visible while executing the two tests below.

<details><summary>truffle-config.js</summary>

[code]
</details>

- [√] migrate to network ga

[2022-04-17 20:28] moonman369 commented on #4570
Note:
- Truffle unboxing might take some time based on device specs.
- Most importantly give it some f****** time, to download all the dependencies.
- DO NOT INTERRUPT till you see `Unbox successful, sweet!`
- Follow the necessary steps i.e `truffle develop` -> `migrate` -> `open new terminal` -> `cd client`
- First run `npm test` to test if everything is working properly

ATTENTION:
- Make sure t

[2022-04-18 10:55] toluhikay commented on #3728
thank you for this

[2022-04-18 12:29] tenthirtyone commented on #5025
This one is on me. I was messing with providers trying to get the `Block Polling Error` to throw and had a provider in a project that was not part of truffle's source control. So when I was changed branches it was still in the project when I was doing the deployment and the extra hits I saw were from the provider checking in when it is created.

[2022-04-18 12:29] #5025 closed

[2022-04-19 00:43] Abhishek-M-Rao opened #5031 "Truffle migration issue -Cannot read properties of undefined (reading 'replace') @trufflehd-wallet"
## Issue

Truffle migration issue - TypeError: Cannot read properties of undefined (reading 'replace')

## Steps to Reproduce

I was following this video https://youtu.be/8ElPDw0laIo - this is at 45 mins when he starts to setup the smart contract connecting to the infura api using metamask - basically how the truffle-config.js is supposed to be set up. I have tried this thread (https://github.com/

[2022-04-19 01:32] haltman-at commented on #4992
Huh, it looks like we do actually add an `isAddress` method to chai!  Crazy.  OK, guess this will have to be fixed.

[2022-04-19 02:18] haltman-at commented on #4992
OK, I've put up PR #5033 which should fix this.

[2022-04-19 02:24] haltman-at commented on #1005
I can reproduce this issue.  Reopening.

[2022-04-19 13:02] eggplantzzz commented on #4992
Thanks for reporting this @ASmallPotato!

[2022-04-19 14:35] eggplantzzz commented on #5031
Hey @Abhishek-M-Rao! Can you verify that you have valid values for some of your variables? Can you log out the values for `private_keys` and `process.env.INFURA_API_KEY`? You just need to make sure you have an `.env` file that contains valid values for those variables. If you get a chance to check this then let me know how it goes!

[2022-04-19 14:44] eggplantzzz commented on #737
Ah so it looks like this is fixed, can we close this issue?

[2022-04-19 14:52] eggplantzzz commented on #1612
Just doing some maintenance and wanted to see if this issue is still relevant/valid. It looks like it is possible it was resolved at some point? If someone could let me know I would appreciate it!

[2022-04-19 14:56] eggplantzzz commented on #1560
I believe this issue is no longer relevant. Closing for issue maintenance. Feel free to comment if you disagree and we will revisit it!

[2022-04-19 17:09] haltman-at commented on #1005
Oh, it turns out this is a duplicate of #399.  Closing in favor of that.

[2022-04-19 17:09] #1005 closed

[2022-04-19 18:06] tonguyengit commented on #4016
Yes, it is still a problem with version v5.5.10

[2022-04-19 20:24] wbt commented on #1587
@eggplantzzz The parts of the docs I referenced are still there, even the links still work as described in the OP.

[2022-04-19 22:02] sukanyaparashar commented on #4807
@haltman-at , Can you please elaborate the 4th point regarding the difference between `config.genesis_time` and `config.networks.test.genesis_time`? And what should be the accepted parameter value in the managed **Ganache** network?

[2022-04-19 22:08] Abhishek-M-Rao commented on #5031
@eggplantzzz Thank you so much for offering to help. It was a silly issue, I forgot the "()" next to "require("dotenv".config" on line 1 haha. When I did print out the variables they were undefined which led me to finding this issue. Thank you for the help again, I will let you know if I have any more issues.
-Abhi

[2022-04-19 22:08] #5031 closed

[2022-04-19 22:17] haltman-at opened #5034 "`dashboard-provider` is still using Ganache v2 in its dev dependencies and should be updated to v7"
## Issue

It has a dev dependency `"ganache-core": "^2.13.2"`... it should be using Ganache v7 instead!

(This dependency btw is a big part of why we got that dependabot alert about the `async` package, btw.  Fixing this won't fully fix the alert, I don't think, but at least it'll get us consistently onto the right major version!)

## Environment

* Truffle version (`truffle version`): 5.5.10

[2022-04-20 05:46] haltman-at commented on #4807
Sure.  `config.genesis_time` is a top-level field of the config.  `config.networks.test.genesis_time` is a field of the `test` network in the config.  Given the overall way we want this to work, we obviously want to look at the latter, not the former; users would be quite surprised to learn that they have to set `genesis_time` at top-level, rather than in the `test` network.

However, it is worth

[2022-04-20 13:23] #1612 closed

[2022-04-21 11:51] cds-amal commented on #4770
Closing for issue maintenance.

[2022-04-21 11:51] #4770 closed

[2022-04-21 11:52] cds-amal commented on #4792
Closing for issue maintenance.

[2022-04-21 11:52] #4792 closed

[2022-04-21 12:02] cds-amal commented on #4902
Closing for issue maintenance.

[2022-04-21 12:04] cds-amal commented on #4884
Closing for issue maintenance.

[2022-04-21 12:04] #4884 closed

[2022-04-21 12:07] cds-amal commented on #4410
@S0AndS0, do you have a working reproduction guide/repo? The above instructions didn't run.

[2022-04-21 17:37] haltman-at commented on #5020
Note that the reason this is happening at present is due to the prioritization of (3) over the others (together with the use of chain ID 1337).

[2022-04-21 18:20] haltman-at commented on #3390
Closing this for issue maintenance.

[2022-04-21 18:20] #3390 closed

[2022-04-21 18:23] haltman-at commented on #3505
Putting this in the blocked column since it's a Truffle 6 issue.

[2022-04-21 18:24] haltman-at commented on #3804
Closing this for issue maintenance.

[2022-04-21 18:24] #3804 closed

[2022-04-22 00:02] haltman-at commented on #4992
The fix for this is now out!

[2022-04-22 00:02] #4992 closed

[2022-04-22 00:02] haltman-at commented on #5007
Fix is now released!

[2022-04-22 00:02] #5007 closed

[2022-04-22 00:03] haltman-at commented on #399
OK, this should be fixed now!

[2022-04-22 00:03] #399 closed

[2022-04-22 00:03] haltman-at commented on #1005
(This is now fixed!)

[2022-04-22 00:31] haltman-at commented on #5034
OK I guess this package is actually going to go away entirely per #5036! :)

[2022-04-22 06:49] souravmaji1 commented on #4702
I also having similar issue but I did not upgraded my python, node or npm versions

I just did this steps
- download and install visual Studio build tools
- after installing type npm i -g truffle in terminal

And then you are good to go

[2022-04-22 10:28] Confucian-e opened #5043 "Can not install truffle successfully"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

What the issue is, in broad strokes.

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.
![Screenshot from 2022-04-22 18-27-21](https://user-images.githubusercontent.com/46948182/164693969-4f7509c1-66

[2022-04-22 11:08] cds-amal commented on #5043
Hi @Confucian-e, Truffle doesn't currently support Node v17 or v18. We're working on it and in the meantime you can try using Node v12, v14 or, v16.

[2022-04-22 11:29] Confucian-e commented on #5043
Got it !

[2022-04-22 11:29] #5043 closed

[2022-04-22 12:03] cds-amal commented on #2041
v5.5.11 displays help and exits the develop-console!

[code]

[2022-04-23 03:42] LlamameBugCode commented on #4692
Confirmo solucion :  npm install -g npm@6

[2022-04-23 09:07] vahidreza commented on #4692
npm install -g npm@6 worked for me too but there should be a way we be able to use it with the latest npm also.

[2022-04-23 21:38] aldiazo commented on #4456
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated ipld-raw@6.0.0: This module has been superseded by the multiformats module
npm WARN deprecated circular-json@0.5.9: CircularJSON is in maintenance onl

[2022-04-24 01:17] Bodiebuilds opened #5050 "Truffle Dashboard is a blank page"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Running truffle dashboard opens a blank page

## Steps to Reproduce

nvm use 14
npm i -g truffle
npm truffle dashboard

tried rolling back versions but still same issue
npm uninstall -g truffle
npm i -g truffle@v5.5.3

## Expected Behavior

[2022-04-24 03:34] DaniellFoncho commented on #724
1. the same as everyone says, check that the names of the contracts and the deploy requires correspond.

2. i had the same error because i had two folders named contracts, one folder was created when truffle was started and the other folder was created with the same name and i put it in the src folder, my mistake was to store my contracts.sol in /src/contracts and not in ./contracts. when i moved

[2022-04-24 13:54] samdupnamgyal opened #5052 "help cant install truffle"
npm ERR! code EACCES
npm ERR! syscall mkdir
npm ERR! path /usr/local/lib/node_modules/truffle
npm ERR! errno -13
npm ERR! Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/truffle'
npm ERR! [Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/truffle'] {
npm ERR! errno: -13,
npm ERR! code: 'EACCES',
npm ERR! syscall: 'mkdir',
npm ERR! path: '/usr/local/lib/node_

[2022-04-25 04:07] mscrodrigo commented on #4431
I used the MAC M1 and fix using this command sudo rm -rf ~/Library/Preferences/truffle-nodejs
Tkx.

[2022-04-25 11:00] ASmallPotato commented on #4992
Sorry I was on holiday for the past few days, but thanks everyone for fixing & looking into this :)

[2022-04-25 14:02] fredlacs opened #5053 "Truffle decoder bug"
## Issue

Truffle decoder hits an unexpected `undefined` when parsing a tx on rinkeby.

## Steps to Reproduce

When attempting to bridge eth from ethreum to arbitrum, the truffle decoder isn't able to parse the [`outboundTransfer` function
](https://github.com/OffchainLabs/arbitrum/blob/b749cfa9597d149fa22b41000b093387687937e0/packages/arb-bridge-peripherals/contracts/tokenbridge/libraries/gateway

[2022-04-25 21:07] TanjinAlam commented on #4862
@Roshankiller123 or anyone can describe the solution ?

[2022-04-26 13:51] Ding-Fan opened #5056 "Need Tutorial about @truffle/contract"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I'm trying to use `truffle` with `nextjs` and `tailwindcss` . I've worked days and still can't figure out how to import `@truffle/contract` in my `tsx` file and use the imported artifact json with it. The gitter seems overwhelmed with unansw

[2022-04-27 02:57] #4951 closed

[2022-04-27 02:57] haltman-at commented on #4951
Closing this for issue maintenance.  @Digi0224, let us know if there's still a problem after trying @eggplantzzz's suggestions and perhaps we can reopen this.

[2022-04-27 02:59] haltman-at commented on #4945
Closing for issue maintenance.  If there's still a problem after trying @eggplantzzz's suggestions, let us know and we can perhaps reopen this.

[2022-04-27 02:59] #4945 closed

[2022-04-27 03:00] #4947 closed

[2022-04-27 03:00] haltman-at commented on #4947
Closing this for issue maintenance.  @marcpre, let us know if there's still a problem and if so we can perhaps reopen this.

[2022-04-27 08:36] montyly opened #5059 "Using two times the same filename will lead to corrupted compilation artifacts"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

If there are two files with the same name, the compilation artifacts will only contain one of the `.json`, preventing the analysis from third parties tool (such as Slither - see https://github.com/crytic/slither/issues/1176)

## Steps to Rep

[2022-04-27 14:14] eggplantzzz commented on #2041
Oh, that looks mostly correct other than the exiting of the console.

[2022-04-27 14:19] eggplantzzz commented on #737
I vote we close and open a new one (or several).

[2022-04-27 15:40] Nikhilkumarravula opened #5060 "error while installing truffle please help"
## Issue

@LAPTOP-32743VDV:~/web3py$ sudo npm install -g truffle
[sudo] password for ravula:
npm ERR! code ENOTEMPTY
npm ERR! syscall rename
npm ERR! path /usr/local/lib/node_modules/truffle
npm ERR! dest /usr/local/lib/node_modules/.truffle-ojTgnptm
npm ERR! errno -39
npm ERR! ENOTEMPTY: directory not empty, rename '/usr/local/lib/node_modules/truffle' -> '/usr/local/lib/node_modules/.truffle-ojT

[2022-04-27 17:46] lsqproduction commented on #5050
@Bodiebuilds Thank you for opening the issue.  Please note `npm truffle dashboard` is not the correct command. It should just be `truffle dashboard`. May I also know what are the terminal outputs you were getting after running this command?
Attaching a guide for [truffle dashboard](https://trufflesuite.com/blog/introducing-truffle-dashboard/)

[2022-04-27 18:00] lsqproduction commented on #5056
Hello @Ding-Fan, thank you for the request.
Here are two links that may be relevant to what you are looking for. Let us know if you would like us to add anything additional.
https://trufflesuite.com/docs/truffle/getting-started/interacting-with-your-contracts/
https://trufflesuite.com/docs/truffle/getting-started/interacting-with-your-contracts/
Also, `@truffle/contract` is not a typescript packag

[2022-04-27 18:07] eggplantzzz commented on #5060
Hey @Nikhilkumarravula, using `sudo` while installing Truffle can cause permissions errors and should be avoided. My advice would be to re-install Node and npm using a Node version manager like nvm. This is what npm recommends, you can check out [this npm article](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) about doing this. If you get a chance to

[2022-04-27 18:11] #5059 closed

[2022-04-27 18:18] #3899 closed

[2022-04-27 18:55] lsqproduction commented on #4805
For those who are still experiencing this issue, please make sure you have python >= 3.6. NOTE we have also seen some issues with the MacOS Monterey where python is no longer bundled. https://www.idownloadblog.com/2022/01/28/python-macos-monterey-no-more/
We also have had luck with [pyenv](https://github.com/pyenv/pyenv) for installing & managing python versions.

[2022-04-27 18:55] #4805 closed

[2022-04-27 20:36] haltman-at opened #5061 "Truffle Contract handles overloaded functions poorly"
## Issue

Continuation of #737.  Truffle Contract does now support function overloading, but not well.  It relies on web3's function overloading support.  This will work when each overload has a different number of arguments, but if multiple overloads have the same argument count, it will pick one to use arbitrarily rather than based on the input, which is as bad as it sounds.

The good news is th

[2022-04-27 20:36] haltman-at commented on #737
OK, closing this in favor of #5061.

[2022-04-27 20:36] #737 closed

[2022-04-27 22:54] Ding-Fan commented on #5056
Thanks @lsqproduction . We've already go through every truffle official doc :joy: Team member using hardhat made a progress, they'll take the lead :neutral_face:

[2022-04-28 00:37] haltman-at opened #5063 "`truffle console` should allow `--url` option like debugger does"
## Issue

I've had some cases recently where this would be useful.  Basically just to get a console that connects to a specified url, potentially outside of a Truffle project, but with all the nice things that Truffle Console provides you for free (such as a `web3` object and `accounts`), except of course that if you're outside of a Truffle project there won't be any contracts.

## Environment

*

[2022-04-28 01:33] haltman-at commented on #5053
So it looks like you're reporting an issue with MetaMask's Transaction Insight, rather than Truffle Decoder directly?  That said, it sure *looks* like an issue with Truffle Decoder, I have to admit.  On the other hand, I can't seem to reproduce this using only `@truffle/decoder` and `@truffle/fetch-and-compile`.  So, I don't know what's wrong here.  Have you tried [reporting this to MetaMask](http

[2022-04-28 01:35] haltman-at commented on #5053
Hm, hold on, the output that I'm getting doesn't seem right, even if it's not the same problem you're getting.  I guess I'll go back and take a second look at this.  That said, you still might want to try reporting this to MetaMask.

[2022-04-28 01:42] haltman-at commented on #5053
Yeah, after fixing the problem I was getting due to setting things up wrong, so I'm actually getting a sensible decoding now, I'm still not getting the problem using Truffle Decoder alone.  This may be a problem with MetaMask; not sure.

[2022-04-28 09:21] SHIVANGISINGH1 commented on #4887
Hey @eri2490 how didi u solve it? I am unable to install it on v16. 😢

[2022-04-28 09:35] SHIVANGISINGH1 commented on #4887
this didn't work for me, still gives an error.
![image](https://user-images.githubusercontent.com/80265624/165723344-6676aad0-6cc1-47c1-aab6-f876301aa551.png)

do I need to downgrade my node to v6 too ?

[2022-04-28 14:57] eggplantzzz commented on #4887
@SHIVANGISINGH1 it looks like maybe you are using a very old version of npm or something?? Try upgrading npm `npm install -g npm@8`. I don't know why it would say that it doesn't work with 16. In the meantime you may also have to downgrade Node to one of the releases that it suggests in your screenshot...do you use a node version manager like nvm?

[2022-04-28 15:48] davidmurdoch opened #5065 "Switch truffle's default from "strict" to "eager" until WebSockets is the default communication mode."
Update to Ganache v7 should be faster than v6, but many users don't experience this in many (most?) cases as Truffle's web3 must poll for changes (example: https://github.com/OpenZeppelin/openzeppelin-upgrades/pull/523).

If truffle updates to using WebSockets this polling behavior won't occur. In the meantime, I think we should switch our default mode to "eager" (which is also Ganache v7's defaul

[2022-04-28 16:17] SHIVANGISINGH1 commented on #4887
Okay, I'll try this. No, I am not using nvm should I use that?

[2022-04-28 17:45] mario-christopher opened #5066 "Unable to run tests explicitly from a selected folder"
## Issue

I want to be able to run Tests from a selected folder. On discussing with the Truffle team, it seems that this is possible using the cmdLine :
`truffle test .test/phase-3/*.js`

When the above cmd is executed from package.json scripts, I get the error :
`Error: Cannot find module 'D:\<folder-path>\test\phase-3\*.js'`

When the above cmd is executed directly, I get no error, but no Tests

[2022-04-28 17:46] SHIVANGISINGH1 commented on #4887
@eggplantzzz I tried installing truffle with the latest versions using nvm.
But on running it from bash I got this

![image](https://user-images.githubusercontent.com/80265624/165815386-dab14803-b9c5-4111-92d1-3120a5859bfe.png)

[2022-04-29 00:15] wbt opened #5068 "Migrate away from web3-provider-engine in hdwallet-provider"
[Docs](https://www.npmjs.com/package/web3-provider-engine) indicate that the web3-provider-engine package which hdwallet-provider depends on is no longer actively maintained, in favor of [json-rpc-engine](https://www.npmjs.com/package/json-rpc-engine) and [eth-json-rpc-middleware](https://www.npmjs.com/package/eth-json-rpc-middleware).  This leads to issues like long delays in updating dependencie

[2022-04-29 00:38] haltman-at commented on #5034
This is now gone!

[2022-04-29 00:38] #5034 closed

[2022-04-29 00:39] haltman-at commented on #4485
Now done in #5054.

[2022-04-29 00:39] #4485 closed

[2022-04-29 00:39] haltman-at commented on #3884
This should be fixed now.

[2022-04-29 00:39] #3884 closed

[2022-04-29 10:56] zakrad commented on #4692
npm install -g npm@6 workes fine

[2022-04-29 16:21] bruck93 opened #5084 "--miner.defaultGasPrice 0 cannot be set to 0"
Hello,
I've noticed that from the Ganace UI is possible to apply the defaultGasPrice to 0.

But if I run

`ganache -e 100 -l 6721975 --miner.defaultGasPrice 0 -p 7545`

On the CLI seems 0, but in fact all the tx are consuming gas. Could you check this please ?

[2022-04-29 21:43] mexicanpepe opened #5069 "I AM HAVING TROUBLE DOWNLOADING TRUFFLE"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue  ** I AM HAVING TROUBLE DOWNLOADING TRUFFLE 5.1.39

Josephs-MacBook:~ mexicanpepe$ npm install -g truffle@5.1.39
npm WARN deprecated debug@3.2.6: Debug versions >=3.2.0 <3.2.7 || >=4 <4.3.1 have a low-severity ReDos regression when used in a

[2022-04-29 21:49] mexicanpepe commented on #5069
I also tried to download via npm install -g truffle and its not working
when i try  " truffle -v"
I get error message   -bash: truffle: command not found

[2022-04-30 07:46] solomaticydl opened #5070 "cannot not install truffle by using NPM (MacOS)"
- [O] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

cannot not install truffle

## Steps to Reproduce

npm i -g truffle

## Expected Behavior

install truffle successful

## Actual Results

[code]

## Environment

* Operating System:  Mac Os Monterey 12.3.1
* Ethereum client:
* Truffle versio

[2022-05-01 01:18] dashboarduser commented on #5050
I have the same problem after truffle reinstallation
npm uninstall -g truffle
npm install -g truffle
truffle dashboard — opens blank in Chrome (my default browser)
sudo truffle dashboard — opens in Safari all good, but can't use MetaMask

Environment:
macOS
truffle version
Truffle v5.5.12 (core: 5.5.12)
Ganache v^7.1.0
Solidity - 0.8.13 (solc-js)
Node v14.18.2
Web3.js v1.5.3

[2022-05-01 06:26] ken-wong commented on #2995
works for me. Thank you very much.

[2022-05-01 07:12] rhythmshandlya opened #5071 "Installing Truffle on Ububtu 22.04"
## Issue

Unable to install truffle on ubuntu LTS 22.04 globally

## Steps to Reproduce

sudo npm install -g truffle

## Expected Behavior

Truffle should be installed globally

## Actual Results

npm ERR! code 1
npm ERR! path /usr/local/lib/node_modules/truffle/node_modules/ganache/node_modules/@trufflesuite/bigint-buffer
npm ERR! command failed
npm ERR! command sh -c node-gyp rebuild

## Environ

[2022-05-01 12:54] raj713335 commented on #4618
npm install path

Fixed this issue for me

[2022-05-01 12:57] cds-amal commented on #5070
Hi @solomaticydl,

It looks like commandLineTools are missing from the environment. This [StackExchange page](https://apple.stackexchange.com/questions/254380/why-am-i-getting-an-invalid-active-developer-path-when-attempting-to-use-git-a) should help resolve that.

[2022-05-01 17:14] solomaticydl commented on #5070
@cds-amal it works! thank you!

[2022-05-01 17:14] #5070 closed

[2022-05-02 08:45] ShuxunoO commented on #4620
我也遇到了类似的情况，错误原因：
我所编写的智能合约的文件名称：IFBK_Storage.sol，但在合约内部，合约的名称却依旧用了模板名称：SimpleStorage
也就是说一份名字叫：IFBK_Storage.sol的智能合约合约的内容却是：
[code]

在`migrations`文件夹中的名叫`2_deploy_contracts.js`的部署文件中，我修改文件为
[code]

用以期待能把我的`IFBK_Storage.sol`部署到truffle本地网络里，结果可显而知，遇到了和；楼主一样的错误；
解决办法：更改智能合约的名字（注意区分 **智能合约文件名称** 和 **智能合约名称** 的区别）更改后的智能合约为：
[code]

之后重新编译之后再部署：

然后解决问题，输出为：

[code]

希望这个回答能报道遇到类似问题的朋友们！👨‍🚀🚀

[2022-05-02 08:58] ShuxunoO commented on #896
或者  你可以查看这个帖子：https://github.com/trufflesuite/truffle/issues/4620#issuecomment-1114629299

[2022-05-02 12:26] liarco commented on #5071
Hi, I just got here by chance, but maybe this video can be helpful: https://youtu.be/imuqi6Vg3Zw (there is a section dedicated to Truffle, you might just need that part).

I hope this helps.

[2022-05-02 13:33] tgbv commented on #3356
This error also occurs when migrating contracts to BSC Mainnet. I used the following configuration object:
[code]

The migration contract is deployed to chain, but right after that the weird "header not found" error occurs, and migration process crashes.

[2022-05-03 00:45] barhouum7 commented on #3468
I've started seeing the  exact same `ETIMEDOUT` error when deploying my Smart Contract on `Goerli Testnet`, and using `Alchemy` as my node provider.

![image](https://user-images.githubusercontent.com/28789723/166361785-15684942-34b5-48ca-9dc5-2a0289a627a6.png)

And I was able to fix it by simply replacing `https` in my node provider URL with `wss`
For example:

`https://eth-goerli.alchemyapi.io/v

[2022-05-03 07:03] priyochatterjee08 opened #5073 "Truffle is not picking up latest solidity version from truffleconfig.js"
Added following snippet in truffle-config.js file:
[code]
I am getting the following error while compiling:
Error: Truffle is currently using solc 0.5.16, but one or more of your contracts specify "pragma solidity 0.8.13".
However, truffle compile --list is showing:
[
"0.8.13",
"0.8.12",
"0.8.11",
"0.8.10",
"0.8.9",
"0.8.8",
"0.8.7",
"0.8.6",
"0.8.5",
"0.8.4"
]
I have tried truffle compile --all ,

[2022-05-03 14:31] dibi91 opened #5074 "truffle test: Error: Cannot find module 'babel-runtime/core-js/object/entries'"
- [X] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

`truffle test` command exception

## Steps to Reproduce

Create a simple truffle project and launch test:
1. `truffle init`
2. `truffle create contract TestBabelRuntimeException`
3. `truffle create test TestBabelRuntimeException`
4. `truffle

[2022-05-03 15:07] hickscorp commented on #5074
Having the same error when using the `debug 0x...` from the truffle console...

[2022-05-03 15:08] hickscorp opened #5075 "Unable to run the `debug 0x...` command from the Truffle REPL."
Installing the latest version of truffle (it's a new project) and trying to debug a transaction, I get the following:

[code]

It might be related to https://github.com/trufflesuite/truffle/issues/5074.

[2022-05-03 20:45] athenayay commented on #5075
This has got something to do with the new truffle release that was published 5 days ago -

here mate - https://www.npmjs.com/package/truffle
if you've re-installed or upgraded truffle / npm, pls let me know so I can confirm my suspicion!

A

[2022-05-03 20:47] athenayay commented on #5074
This is due to the latest update - https://www.npmjs.com/package/truffle

is there a way to revert back to old version :)

A

[2022-05-03 23:33] ggogel commented on #557
I had the same issue when running `truffle test`. It was clearly some kind of race condition. I've fixed it by adding `await` to all `deployer.deploy` calls in my migration script.

[2022-05-04 01:05] ngochiencse commented on #5074
Me too. It seems to be wrong linking with package babel runtime.
Fortunately you can temporary fix this problem by running the following command:
`npm install -g babel-runtime`
In the meantime, we should fix this problem or at least update the documentation immediately.

[2022-05-04 02:10] zj95120 commented on #5074
same problem

[2022-05-04 04:22] YashNagiReddy7 commented on #5074
After a bit of continued testing it seems like you'll want to use truffle v5.1.39 as I was able to get that version to work, so you'll want to do:
<npm uninstall -g truffle>
<npm install -g truffle@5.1.39>

[2022-05-04 07:20] YashNagiReddy7 commented on #3008
even I have faced the same error, I have used nvm use 16 and did truffle migrate --reset --skipdryrun, it worked for mr and the contract has been deployed!

[2022-05-04 07:42] hickscorp commented on #5075
@athenayay given that tthis error popped on a fresh project created yesterday night, it's very likely yes.

[2022-05-04 08:59] EagleJRM commented on #3539
I'm also in the same boat with the same error of

Error: Cannot find module '@truffle/hdwallet-provider'
Require stack:

I then updated my node.js  and also installed an NVM so that I could use different versions as I thought it might have been the problem. Nope was not node.js at all. I uninstalled truffle and reinstalled it and now I'm getting this error:

Error: Cannot find module 'C:\Users\jbe

[2022-05-04 09:06] dibi91 commented on #5074
Nope, that version didn't work too.
Installed babel runtime globally as @ngochiencse suggested, work as a workaround.

[2022-05-04 14:54] cds-amal commented on #5074
Thanks for raising this @dibi91 !

I've confirmed the behavior on Ubuntu (20.04)/Truffle v5.5.12. We recently updated a dependency that should fix this in the next release. See [screencast.](https://asciinema.org/a/ATl5HBFxaI7rY9bx5XqN2dWXo)

[code]

[2022-05-04 21:30] rsodre opened #5081 "Truffle migrate should stop with unsupported command-line options"
## Issue

A typo error on an important command-line option line `--dry-run` can cause undesired behaviour.

## Steps to Reproduce

Run this...

[code]

And it will migrate!

## Expected Behavior

Truffle migrate should stop when unsupported command-line options to avoid undesired behaviour.

## Actual Results

It migrates!

## Environment

* Operating System: macOS 11.6.4
* Ethereum client: Ganach

[2022-05-05 00:26] benjamincburns opened #5083 "Truffle should allow people to specify their `truffle exec` scripts as typescript, without compilation"
## Feature

Similar to #4461, it would be nice if people could `truffle exec` typescript without needing to run a compilation step.

## Steps to Reproduce

Write a script for `truffle exec` in TypeScript

## Desired Behavior

Truffle would use `ts-node` to execute said script

## Current Behavior

Users must first compile said script, and `truffle exec` the compilation output.

[2022-05-05 00:56] ngochiencse commented on #5074
It worked!

[2022-05-05 01:42] haltman-at commented on #5075
OK, we think that #5082 will fix this... I guess we'll see once the next release is out!

[2022-05-05 11:19] miladnikad commented on #3468
When I used other endpoints, The issue was fixed. You can try the below endpoints.

**BSC RPC Endpoints:**
[code]

[2022-05-05 11:21] miladnikad commented on #4288
When I used other endpoints, The issue was fixed. You can try the below endpoints.

**BSC RPC Endpoints:**
[code]

[2022-05-05 13:15] MicaiahReid commented on #4913
Closing for issue maintenance.

[2022-05-05 13:15] #4913 closed

[2022-05-05 13:16] MicaiahReid commented on #4802
Closing for issue maintenance.

[2022-05-05 13:16] #4802 closed

[2022-05-05 14:35] eggplantzzz commented on #5073
Hey @priyochatterjee08! Can you supply your entire `truffle-config.js`? Is your project on GitHub and can you provide a link to it? It seems likely that something is misconfigured in `truffle-config.js`.

[2022-05-05 14:40] eggplantzzz commented on #5069
Hey @mexicanpepe. Looks like there is something wrong with the way npm is configured. The directory where it installs globally-installed packages needs to be in your `$PATH` variable. I usually recommend re-installing npm and Node with a Node version manager like nvm which is what npm recommends. You can check out [this article](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-insta

[2022-05-05 14:43] eggplantzzz commented on #4887
Hey @SHIVANGISINGH1, sorry for the delay in responding but I've been out of town a lot recently. So Truffle installed correctly but you get an error with `truffle version`? Can you give a bit more info about what you are experiencing?

Also yes I would suggest installing npm and Node using nvm which is what npm recommends. It helps eliminate a lot of problems that can occur - check out [this artic

[2022-05-05 17:07] gnidan commented on #5065
The issue here is that Web3.js's polling behavior means that with HTTP providers, **each transaction in `truffle test` takes _at least one-thousand milliseconds_**, oh my.

We'll want to reevaluate the need for the strict->eager switch after #4637 resolves

[2022-05-05 17:10] gnidan commented on #4793
Let's close this as duplicate of #5066, since that issue has slightly more detail that might be helpful in reproducing.

Thanks for opening this @RatanRSur!

[2022-05-05 17:10] #4793 closed

[2022-05-05 17:11] minhsieh commented on #4900
Hi, I also encountered the same problem today. I used truffle v5.4.26 initially and then upgraded to v5.5.12.
I didn't encounter this problem after upgrading my truffle.

[2022-05-05 17:16] gnidan commented on #5084
Hi @bruck93, nice to see you over on the Truffle side now :)

Could you please provide more information about your tests? We can try to reproduce, but I suspect we'll find it easier if we have a better idea what your project setup looks like in full. If you can't share your whole project source on GitHub, could you maybe share the parts that you're comfortable with?

In the meantime, we'll add thi

[2022-05-05 17:36] gnidan commented on #5081
@rsodre This is a great suggestion, and you are likely correct that the better behavior here would be to abort rather than simply warn.

We'll have to figure out how to do this, since there's some technical trickiness (notice the word "possible" in the output ;). Please stay tuned, and thank you for suggesting this!

[2022-05-05 17:43] gnidan commented on #4814
Closing this for issue maintenance. If you'd still like for us to diagnose your specific issue here, please share your repo and we can re-open this! Thanks again!

[2022-05-05 17:43] #4814 closed

[2022-05-05 17:51] gnidan commented on #5050
Thanks for reporting this! We've heard of a couple users running into this periodically, but we haven't been able to get the information we need to understand what's causing this behavior. If this is still occurring for anyone, would you mind please checking the browser console (like, right-click -> Inspect, or see [these instructions for Chrome](https://developer.chrome.com/docs/devtools/open/))

[2022-05-05 17:59] gnidan commented on #5056
Thanks for pointing out this gap in our educational materials. I'll move this to our website repo so we can get to this along with some of our other documentation improvements.

cc @emilyJLin95

[2022-05-05 18:05] gnidan commented on #3677
Hey @rkalis do you remember what this means? It's been so long that the lack of detail here means we're all at a loss about what to do with this.

Thanks! (also, nice new avatar ;)

[2022-05-05 18:10] gnidan commented on #4968
Cool idea, but I'm not sure this belongs as part of Truffle itself. To be clear, you can currently use your testing framework with Truffle, and with this issue you're only looking for deeper integration?

If that's the case, sadly we're taking the position now that we must remove Truffle's strong opinions, and it seems that this would be better suited to a future plugin system enhancement. If you'

[2022-05-05 21:33] haltman-at commented on #4900
Hm, so, one approach we could take here is, we could reserve the gas default for `sendTransactionManual`.  After all, if we're not doing a stacktrace, we don't really need to make sure the transaction actually happens, do we?

So, we could have the `send` function throw if `estimateGas` fails in non-debug conditions (and use the error returned from `estimateGas`); but if we're doing `truffle test

[2022-05-05 21:36] haltman-at opened #5088 "Vyper artifacts for Vyper >=0.3.2 should include metadata"
## Issue

As of Vyper 0.3.2, the Vyper compiler now outputs a `metadata` field.  (Note that this is different from, and not compatible with, the metadata emitted by the Solidity compiler.)  Currently we don't request this from the compiler and put it in the artifact, but, we could do that.

(Note that due how Vyper works, we would have to *only* request it on versions 0.3.2 or later... much like h

[2022-05-05 21:41] rkalis commented on #3677
I believe we had this concept of specifying named "targets" in the truffle config that would specify a list of paths so you could say `truffle preserve <target name>` instead of having to specify the list of paths in the command. Not sure how important that is rn though.

[2022-05-06 05:05] priyochatterjee08 commented on #5073
@eggplantzzz Thank you for your response. My truffle-config.js is attached. I am trying to implement the following project in 0.8.13 solidity version, and want to do necessary changes in smart contracts.

https://github.com/Calpoog/blockchain-ticketing

module.exports = {
  migrations_directory: "./migrations",
  networks: {
    development: {
      host: "localhost",
      port: 8545,
      netwo

[2022-05-06 09:16] bruck93 commented on #5084
Hey Truffle side @gnidan
I can't share the code base of our product at the moment.

I'll discuss with the others at least if I could share some tests.
I'll follow up as soon as possible.

[2022-05-06 10:19] mdarifmustafa commented on #896
Mainly it happens due to contract name discrepancy but in my case it were due to wrong truffle configuration.

Truffle v5.5.12 (core: 5.5.12)
Ganache v^7.1.0
Solidity v0.5.16 (solc-js)
Node v16.15.0
Web3.js v1.5.3

// truffle-config.js | mistakenly I putted contracts_* properties inside networks object property, below & following is the correct one.

require("babel-register");
require("babel-polyf

[2022-05-06 14:16] eggplantzzz commented on #5073
Your `compilers` specification is in the `networks` object. You need to put `compilers` at the top level of the exported object at the same level as `networks`. Then you should be good to go!

[2022-05-06 14:19] eggplantzzz commented on #4887
Hmm, I'm not sure I've seen that message before. Maybe it is missing some build tools or something...well anyways I'm glad it seems to mostly work! Maybe try googling that module to see if anything turns up. Let me know if you find anything and are able to resolve that.

[2022-05-06 17:03] haltman-at commented on #4807
OK, should be fixed in 5.5.13.

[2022-05-06 17:03] #4807 closed

[2022-05-06 17:03] haltman-at commented on #5074
OK, can people try this again with Truffle 5.5.13?  Thanks!

[2022-05-06 17:04] haltman-at commented on #5075
OK, can people try this again with Truffle 5.5.13?  Thanks!

[2022-05-07 00:39] YungKingz commented on #5069
I'm Having the same problem... how can i fix this?

yungkingz@Yungs-MBP ~ % npm install truffle --g@5.1.39

npm WARN saveError ENOENT: no such file or directory, open '/Users/yungkingz/package.json'
npm WARN enoent ENOENT: no such file or directory, open '/Users/yungkingz/package.json'
npm WARN yungkingz No description
npm WARN yungkingz No repository field.
npm WARN yungkingz No README data
npm W

[2022-05-07 05:54] priyochatterjee08 commented on #5073
Thanks a lot.

[2022-05-07 06:46] #5073 closed

[2022-05-07 14:31] YungKingz opened #5091 "Idk why Truffle is not downloading =("
yungkingz@Yungs-MBP ~ % npm install truffle@5.1.39
npm WARN deprecated fsevents@2.1.3: "Please update to latest v2.3 or v2.2"
npm WARN deprecated debug@3.2.6: Debug versions >=3.2.0 <3.2.7 || >=4 <4.3.1 have a low-severity ReDos regression when used in a Node.js environment. It is recommended you upgrade to 3.2.7 or 4.3.1. (https://github.com/visionmedia/debug/issues/797)

added 25 packages, remov

[2022-05-08 03:13] tmarb3 commented on #3539
I also get Cannot find module 'C:\Users\Admin\AppData\Roaming\npm\node_modules\truffle\build\cli.bundled.js'

were you able to figure it out?

[2022-05-08 03:19] tmarb3 commented on #3539
This is what I found and it worked for me. All you need to do is to run "npm install -g truffle@5.4.29" This will install an older version of truffle. Turns out the issue is with "npm install -g truffle" since it installs the latest version, and the latest version is currently having glitches.

Just run "npm install -g truffle@5.4.29" or an older version of truffle and your issue will be solved.

[2022-05-08 16:50] SebGazeau commented on #5074
With 5.5.13 it works for me !

[2022-05-08 21:18] hickscorp commented on #5075
Thanks a lot @haltman-at - I've ended up switching to Hardhat on this project. But I'll make sure to try the proposed solution on projects that still use Truffle.

[2022-05-08 21:18] #5075 closed

[2022-05-08 23:57] FacundoBettella commented on #4370
Hi! Iam having the same problem.

[2022-05-09 00:20] cds-amal commented on #5074
@dibi91 can you confirm Truffle v5.5.13 resolves the issue?

[2022-05-09 05:53] EagleJRM commented on #3539
Hi Thank you for the feedback. I'm getting this error again:

Error: Cannot find module '@truffle/hdwallet-provider'
Require stack:
- C:\Users\jbear\workspace\SupplyChainApp\truffle-config.js
- C:\Users\jbear\AppData\Roaming\npm\node_modules\truffle\node_modules\original-require\index.js
- C:\Users\jbear\AppData\Roaming\npm\node_modules\truffle\build\cli.bundled.js
    at Function.Module._resolveF

[2022-05-09 07:37] dibi91 commented on #5074
Yes, it's working perfectly! Thank you!

[2022-05-09 10:32] #5074 closed

[2022-05-09 12:09] evm-labs opened #5092 "Error in sample test js file for Metacoin"
- [ #882470] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

The sample test js file (Metacoin) has an error which doesn't allow it to run (referring to the async/await implementation).

## Steps to Reproduce

Try to run the async/await version of metacoin.js test.

## Expected Behavior

Test p

[2022-05-09 12:34] kimpace19882627 commented on #3103
[文件.txt](https://github.com/trufflesuite/truffle/files/8651646/default.txt)

[2022-05-09 12:35] kimpace19882627 commented on #3103
/**
 * Use this file to configure your truffle project. It's seeded with some
 * common settings for different networks and features like migrations,
 * compilation and testing. Uncomment the ones you need or modify
 * them to suit your project as necessary.
 *
 * More information about configuration can be found at:
 *
 * https://trufflesuite.com/docs/truffle/reference/configuration
 *
 * To depl

[2022-05-09 12:35] kimpace19882627 commented on #3103
这是我的  truffle-config.js

[2022-05-09 13:05] SHIVANGISINGH1 commented on #4887
Hey @eggplantzzz, apoligies for replying late. I was having some issue with my pc so I reseted it and installed everything again. I install nvm for windows, but after running `npm i -g truffle` I still got the same error as mentioned in this issue, `gyp err`,
I found some help from[ here](https://stackoverflow.com/questions/57879150/how-can-i-solve-error-gypgyp-errerr-find-vsfind-vs-msvs-version-n

[2022-05-09 14:06] eggplantzzz commented on #4887
Glad you got it worked out @SHIVANGISINGH1! Closing this for issue maintenance.

[2022-05-09 14:09] eggplantzzz commented on #5092
Hey @evm-labs, when I run the JS test in the MetaCoin box it completes successfully without an error message. Are you sure you didn't edit the test and try to re-assign a `const` in your tests somewhere?

[2022-05-09 17:00] Digi0224 commented on #4951
*hi again tried but still not working showing below error*

npm ERR! code 1
npm ERR! path
***@***.***\bigint-buffer
npm ERR! command failed
npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c node-gyp rebuild
npm ERR! gyp info it worked if it ends with ok
npm ERR! gyp info using ***@***.***
npm ERR! gyp info using ***@***.*** | win32 | x64
npm ERR! gyp ERR! find Python
npm ERR! gyp ERR! find Pyt

[2022-05-10 01:30] YungKingz commented on #5091
@eggplantzzz Thank you I was able to fix it by following the instruction luckily I found a video on youtube going through the process.
<img width="1117" alt="Screen Shot 2022-05-09 at 9 27 41 PM" src="https://user-images.githubusercontent.com/105086241/167524549-938a8a06-6a8e-4d7b-bd76-c3df170744b9.png">

[2022-05-10 02:50] hiromaily commented on #4790
I got a same error, but i don't know how to fix it.

[2022-05-10 09:19] swadhinbiswas000 commented on #4951
try to install visual studio manually. It worked for me.

[2022-05-10 13:03] kimpace19882627 opened #5095 "truffle-config.js 命令truffle migrate network rinkeby部署报错！所有文件上传github"
Compiling your contracts...
===========================

Could not connect to your Ethereum client with the following parameters:
    - host       > 127.0.0.1
    - port       > 7545
    - network_id > 5777
Please check that your Ethereum client:
    - is running
    - is accepting RPC connections (i.e., "--rpc" or "--http" option is used in geth)
    - is accessible over the network
    - is prop

[2022-05-10 14:07] eggplantzzz commented on #5095
Hey @kimpace19882627, you will need to provide a network configuration that will allow Truffle to deploy to Rinkeby. You can find more info about using Truffle's configuration file [here](https://trufflesuite.com/docs/truffle/reference/configuration/). Let me know if you have any specific questions.

[2022-05-10 14:16] eggplantzzz commented on #5091
Glad to hear you got it resolved! Looks like you have an old version of Truffle, try upgrading to the latest which I think is version 5.5.13. `npm install -g truffle` should do it.

[2022-05-10 14:28] CVRD-Dev opened #5096 "TypeError: Cannot read property 'layout' of undefined"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

TypeError: Cannot read property 'layout' of undefined when trying to deploy contract for test using truffle-upgrades.deployProxy

## Expected Behavior
Contract is deployed to unit test

## Actual Results

An error is returned:
`TypeError: Ca

[2022-05-10 14:32] CVRD-Dev commented on #5096
also using the latest versions of `contracts-upgradeable` and `truffle-upgrades

[2022-05-10 15:33] realcliffzhang commented on #5095
Hi @kimpace19882627 想要部署到Rinkeby的话需要确认`truffle-config.js`里
[code]
具体配置可以参考[这个说明](https://trufflesuite.com/docs/truffle/reference/configuration/#providers)
配完后可以执行 `truffle migrate --network rinkeby`
创新issue的时候有模版(问题，重现步骤，正确行为，实际行为，环境)，请下次对照模版进行，方便我们发现+解决您的问题。谢谢

[2022-05-10 17:27] johnnyshankman commented on #2705
I have a very similar on a very very long test suite. Was anyone able to figure out what their issue was? The verbose logs are useless.

[2022-05-10 19:01] bennyvenassi commented on #3091
Hi,
I got the same Problem with a normal MNEMONIC config and infura as endpoint. I used the config several times but since yesterday its stuck at the point replacing Migrations. The Dry Run runs without problems.

I tried to delete the node_modules folder, changed the truffle version from 5.3.xx to 5.5.xx its not working anymore.
Deploying to mumbai or fuji works. :/

What can I do to get it back

[2022-05-10 21:33] wbt commented on #4999
I see two different issues here, having just encountered both: The second post means you're missing build tools on your system; specifically Visual Studio.  The first post calls out a lot of warnings where Truffle is using deprecated packages, and that seems like something that should be fixed in code.

[2022-05-10 23:41] Harmouch101 opened #5100 "Deprecation warnings when installing `truffle` with `create-react-app`"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I am getting a lot of deprecation warnings when attempting to install truffle with [Create React App](https://create-react-app.dev/) that leads to **12 high severity vulnerabilities**:

[code]

**Current Behaviour:**

[code]

I ran `npm audi

[2022-05-11 14:19] FOWnglp commented on #524
hello,it doen't work

[2022-05-11 18:54] YungKingz commented on #5091
@eggplantzzz I'm doing a course that I purchase to learn blockchain and he said to download this version for the project I'm building but i'm sure ill use that version soon.

[2022-05-11 18:54] #5091 closed

[2022-05-11 20:40] ashbeech opened #5103 "Truffle for VSCode Extension Doesn't Compile From Expected Working Directory"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Truffle for VSCode extension only considers first project dir in VSCode Workspace as working directory to compile contracts from.

## Steps to Reproduce

After installing Truffle for VSCode extension, open a VSCode workspace containing >1 pr

[2022-05-11 22:53] cliffoo opened #5105 "Truffle console REPL exits unexpectedly"
---------------------------

## Issue

Truffle console REPL exits unexpectedly.

## Steps to Reproduce

[code]

## Expected Behavior

Truffle console shouldn't exit for no reason. Exit only if `.exit`, `process.exit()`, something crashes, etc.

## Actual Results

Truffle console exits after evaluating certain command + args (valid) combinations.

## Environment

* Operating System: Monterey 12.3.1

[2022-05-11 23:12] fainashalts commented on #4868
Hi @TechGuru29 I'm closing this for issue maintenance, but if you are still encountering this problem please feel free to open a new issue! Thanks!

[2022-05-11 23:12] #4868 closed

[2022-05-11 23:12] fainashalts commented on #4973
Hi @BenZogia, we haven't heard back from you about this issue. Hopefully it is resolved! I'm closing this for issue maintenance, but please feel free to open a new issue if you still need assistance!

[2022-05-11 23:12] #4973 closed

[2022-05-11 23:14] fainashalts commented on #4903
Hello @Hasiwansui! We have not heard back from you, hopefully our suggestion was sufficient for your needs. I'm closing this for issue maintenance, but please feel free to open a new issue if this is not resolved or something else comes up!

[2022-05-11 23:14] #4903 closed

[2022-05-11 23:14] kevinweaver opened #5106 "truffle --version returns "1.0.0" or "unknown""
## Issue

The `node`, `npm`, and `nvm` commands have a `--version` flag, but the truffle equivalent is `truffle version`.
If the user runs `truffle --version`, the output is unexpected.

## Steps to Reproduce
Given truffle  v5.5.13 and
node 14:
[code]

node 16:
[code]

## Expected Behavior

`truffle --version` should be an alias of `truffle version` and return the expected output. Something like:

[2022-05-11 23:20] fainashalts commented on #4832
@wbl have you seen @haltman-at's comment above? Wondering if we can agree on a path forward here, thanks!

[2022-05-12 05:31] #4999 closed

[2022-05-12 17:31] wbt commented on #4999
Is there an open issue for the package deprecation warnings?

[2022-05-12 17:44] MicaiahReid commented on #5096
Hi @CVRD-Dev, thanks for opening this issue! Are you seeing anything in particular to point this to being a truffle issue? The stack trace seems to be pointing to this originating in the `openzepellin/truffle-upgrades` package.

Also, are you able to share a repo that we could use to reproduce this? This would make it easier for us to reproduce compared to the form above.

[2022-05-12 17:48] MicaiahReid commented on #5100
@Harmouch101 Thanks for opening. This looks to be a duplicate, so I'm closing in favor of #4272.

[2022-05-12 17:48] #5100 closed

[2022-05-12 17:52] MicaiahReid commented on #5106
Possibly related to #5105.

[2022-05-12 18:05] MicaiahReid commented on #5023
Closing for issue maintenance.

[2022-05-12 18:05] #5023 closed

[2022-05-12 18:05] MicaiahReid commented on #5016
Closing for issue maintenance.

[2022-05-12 18:05] #5016 closed

[2022-05-12 18:08] MicaiahReid commented on #5013
Closing for issue maintenance.

[2022-05-12 18:35] MicaiahReid commented on #4441
@cds-amal Can you schedule this meeting?

[2022-05-12 18:51] MicaiahReid commented on #1735
Closing for issue maintenance. @elenadimitrova your comment seems to be a separate issue, feel free to open one!

[2022-05-12 18:51] #1735 closed

[2022-05-14 02:49] G-TipSolutions commented on #2876
$ node -v
v17.9.0

const RWD = artifacts.require('RWD')
const Tether = artifacts.require('Tether')
const DecentralBank = artifacts.require('DecentralBank')

require('chai')
.use(require('chai-as-promised'))
.should()

contract('DecentralBank', ([owner, customer]) => {
    let tether, rwd, decentralBank

    function tokens(number) {
        return web3.utils.toWei(number, 'ether')
    }

    befor

[2022-05-14 08:38] ken-wong commented on #2995
works for me. Thank you very much.

[2022-05-15 06:26] jiamijiang opened #5108 "'Error: getaddrinfo' after trying to run 'truffle unbox react'"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

'Error: getaddrinfo' after trying to run 'truffle unbox react'

## Steps to Reproduce

After installing truffle globally `npm install -g truffle`, I'll make an empty folder and try to run `truffle unbox react`

I have the below versions of:

[2022-05-15 09:29] Deepthitv commented on #4683
Was facing the same issue. Downgrading node and npm to version 14&6 worked respectively

[2022-05-15 17:42] geofflangenderfer opened #5110 "install is stalling out"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
I've tried this 10x and it always stalls out at multiaddr
[code]

## Steps to Reproduce

Please provide the shortest amount of steps to reproduce your issue.

## Expected Behavior

What you expected to happen.

## Actual Results

What actuall

[2022-05-16 13:50] lsqproduction commented on #5110
Hi @geofflangenderfer. We do not recommend using `sudo` while installing Truffle.
May we know which Node version are you currently on? We recommend using either Node v14 or v16.
My advice would be to re-install Node and npm using a Node version manager like nvm. This is what npm recommends, you can check out [this npm article](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-install

[2022-05-16 15:48] wbt commented on #1728
I'll likely be doing migrations again in a few months, and would be able to dive back into it then

[2022-05-16 17:24] ali-bahjati commented on #3777
I am still facing the problem with the latest version of wallet provider. To solve I needed to manually install "@types/web3-provider-engine" "@types/ethereum-protocol" and lock "@types/web3" to the version mentioned above.

So I'm not sure the issue have actually been resolved.

[2022-05-16 17:45] haltman-at commented on #2876
@G-TipSolutions That appears to be an unrelated problem.  It also appears to be because the transaction you've put in there is reverting.  I'd suggest opening a [support request](https://trufflesuite.zendesk.com/hc/en-us/requests/new).  Thanks!

[2022-05-16 23:20] CVRD-Dev commented on #5096
Hello @MicaiahReid my bad, I didn't realized I posted this on the truffle suite repo instead of the openzepellin/truffle-upgrades repo! I will move this issue over there. Thank you!

[2022-05-16 23:20] #5096 closed

[2022-05-17 03:16] cds-amal commented on #3777
Thanks for the report @ali-bahjati.

[2022-05-17 06:02] puffanddmx opened #5116 "stuck in installing truffle"
## Issue
hi

when i do the command, npm install --save truffle, i got the below message and no more futher installation after that.

your package is trying to use the filecoin other libraries for the filecoin dapp which make truffle installation stuck.

[code]

## Environment

* Operating System: centos 8
* Truffle version (`truffle version`): latest
* node version (`node --version`):  12, 14 both

[2022-05-17 13:11] MicaiahReid commented on #5096
@CVRD-Dev No worries, good luck!

[2022-05-17 14:23] eggplantzzz commented on #5116
Are you sure it didn't install properly? The message you posted is actually a warning (not an error) which doesn't prevent installation.

[2022-05-17 15:33] cds-amal commented on #5116
I verified there is some delay processing `@nodefactory/filsnap-adapter@0.2.2`. @puffanddmx, according to the tests we're run, there is some latency processing that particular project. The solution is to wait. Thank you for your understanding!

[2022-05-17 22:02] emilyJLin95 opened #5120 "Cannot edit gas limit for Optimistic Kovan"
## Issue

When I try to deploy to Optimistic Kovan via Truffle dashboards, I cannot edit the gas limit.

## Steps to Reproduce

1. Add Optimistic Kovan to Metamask wallet and truffle config
2. `truffle migrate --network dashboards`

## Expected Behavior

Should be able to sign and deploy

## Actual Results

<img width="363" alt="Screen Shot 2022-05-17 at 2 59 28 PM" src="https://user-images.github

[2022-05-17 22:39] realcliffzhang commented on #5108
Hi @jiamijiang, thanks for opening this! I'm able to recreate this issue when I'm not connected to the internet.
Could you check your connection and give it another try? Let me know how it goes, thanks!

[2022-05-18 03:12] CorpulentBrony opened #5123 "getChainId() does not work in truffle dashboard"
- [X] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

The `getChainId()` function does not appear to work when using the truffle dashboard during a migration.  This makes it impossible to determine the network at migration time.

## Steps to Reproduce

In migration file:

[code]

Run `truffle m

[2022-05-18 06:18] Miladinho commented on #4418
what?!

[2022-05-18 12:09] wbt commented on #1728
Due to unexpected circumstances, I wound up doing migrations again much sooner than expected, and find that the issue still exists.  On a deeper re-read, there is also a repro repo linked to above that others can use to test in case Covid-19 kills me off or something like that.

[2022-05-18 12:13] wbt commented on #3066
Just dropping a note here to confirm that the problem still exists today, after running the migrations set that includes the above migration testing for this.

[2022-05-18 19:03] haltman-at opened #5124 "Debugger can't detect mapping keys if source map skips over index expression"
## Issue

It seems that sometimes, a source map will skip over the node for the index of a mapping access, and instead be on the node for the mapping access itself at this step.  I think this is due to optimization; the example I've seen uses the optimizer with `runs` set to 100 (so, optimized, but not much; other than this one glitch I couldn't tell it was optimized).

Anyway, the debugger has no

[2022-05-18 19:43] eggplantzzz commented on #3066
Thanks @wbt!

[2022-05-18 19:58] marcpre opened #5125 "Specify port when deploying to ganache"
- [ x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

When running `sudo truffle migrate` I get the following:
[code]
However, my `truffle.config` looks like the following:
[code]

## Expected Behavior

The migration should run effortlessly.

## Actual Results

When running `sudo truffle migra

[2022-05-18 22:33] emilyJLin95 opened #5127 "VSCode Extension Debugger doesn't work"
---------------------------

## Issue

When I try to open the VS Code debugger, I get a toast that says `"truffle-config.js" has incorrect format`, but I don't know what is causing the incorrect format

## Steps to Reproduce

1. truffle unbox optimsim
2. create and deploy a script locally
3. open debug from the cmd palette

If I restart VSCode a few times, it will eventually work

truffle-config.j

[2022-05-18 23:40] lsqproduction commented on #5069
Hi @YungKingz, can you try the command `npm install -g truffle@5.1.39` if you're looking for specifically version 5.1.39.
Otherwise, you should be able to install the latest version of Truffle with `npm install -g truffle`. Let us know how these works out for you.

[2022-05-19 05:05] ganganimaulik commented on #5083
can you assign me this issue?

[2022-05-19 13:36] wbt commented on #3066
Yes, as previously noted; that is a valid workaround.  However, both syntaxes should be equivalent.

[2022-05-19 14:57] satchon opened #5129 "Failed to install truffle"
Hi, I'm a beginner and sticking to install truffle.

I tried to install truffle via nvm and npm on ubuntu that was installed on a docker container.

- MacBook Air (13-inch, Mid 2013)
- Big Sur v11.6.5

- nvm : v16.15.0
- npm : v8.10.0

- failed command
`npm isntall -g truffle`

After failed to first try, I tried to as below to make node to build gyp.
`$ npm config set unsafe-perm true`

Then I ret

[2022-05-19 15:32] realcliffzhang commented on #5129
Hmm your `nvm` is installed in `/root` which is why it may be giving you permission issues. Try logging in to your ubuntu machine as a non-root user, install `nvm` and give it another try? Thanks.

[2022-05-19 15:40] cds-amal commented on #5129
Hey @satchon, images won't show up in searches and that diminishes the user experience. Can you share text instead? Thanks.

[2022-05-19 15:45] satchon commented on #5129
@realcliffzhang
Thanks. I try it.

[2022-05-19 17:40] kevinweaver commented on #5123
Hi @CorpulentBrony, thanks for opening this. Do you mind trying the access the injected `web3` object instead of from the artifact?  It should be available in the migration context.

[2022-05-19 17:50] kevinweaver commented on #5125
Hi @marcpre, first, it's important not to use `sudo` when calling `truffle`. Second, it's possible that your network name `develop` is causing issues because you aren't specifying a network in your command.  To fix this, you could either add a `--network=develop` flag, or rename your network to `development`, which is the default network name.

[2022-05-19 18:08] eggplantzzz commented on #5129
Hey @satchon, I think you still have a problem with your nvm installation and configuration. [Here is an npm article](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) that gives more details on how to do this. What I mean is I don't think your `.nvm` folder should be installed in `/root`. On my local it is installed at `/Users/<myUserName>/.nvm`. This i

[2022-05-19 18:24] kevinweaver commented on #4329
Hi @iosapps-dev, I'm going to close this for issue maintenance. Please re-open if you're able to provide some reproduction steps, thanks!

[2022-05-19 18:24] #4329 closed

[2022-05-19 18:27] kevinweaver commented on #4825
@gnidan do you mind weighing in on this when you get a chance?

[2022-05-19 18:35] kevinweaver commented on #5120
@benjamincburns this is related to dashboard, do you have any insight on it? Thanks!

[2022-05-19 21:23] Zadorie opened #5130 "Can't get value from deployed contract"
---------------------------

## Issue
I'm trying to use truffle and solidity for my first time, so I followed this tutorial - [Code Your Own CryptoCurrency](https://www.youtube.com/watch?v=XdKv5uwEk5A&list=PLS5SEs8ZftgWFuKg2wbm_0GLV0Tiy1R-n)

## Steps to Reproduce

1. truffle init
2. edit truffle-config.js
  ``
networks: {
     development: {
      host: "127.0.0.1",     // Localhost (default: non

[2022-05-19 22:20] realcliffzhang commented on #5130
I cannot say for sure without looking at the said tutorial myself. You'll need a valid reference to the contract to access its properties + methods. Inside Truffle Console, something like `const t = await YourToken.deployed()` will give you the reference you need. Hope this helps!

[2022-05-19 22:21] realcliffzhang commented on #5130
[This part of our docs](https://trufflesuite.com/docs/truffle/getting-started/interacting-with-your-contracts/) may be useful @Zadorie

[2022-05-19 22:23] Zadorie commented on #5130
Thanks!! @realcliffzhang

[2022-05-19 22:23] #5130 closed

[2022-05-20 00:43] CorpulentBrony commented on #5123
It works, unless I try doing it from an external function.  Even if I pass the global web3 object as a parameter to a function required from an external js file, it fails with the same error.

Seems a bit odd, is this by design to only work from the migration file itself?

[2022-05-20 00:50] CorpulentBrony commented on #5123
I'm going to close this issue for now, I think there's some deeper issue going on and I'm going to do some regression testing to try and get to the bottom of it.  Thanks for your help.

[2022-05-20 00:50] #5123 closed

[2022-05-20 05:18] AhmadKarim72 commented on #48
![Screen Shot 2022-05-20 at 1 17 56 AM](https://user-images.githubusercontent.com/90279005/169455724-7e99b4ae-5e06-452d-9660-5595d34ae4b8.png)
i keep getting this error everytime I try to download truffle

[2022-05-20 05:33] AhmadKarim72 commented on #3270
I have tried it with and without sudo but I still get the same thing. not sure what to do

`ahmadkarim@Ahmads-MacBook-Pro ~ % sudo npm install truffle -g
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN depreca

[2022-05-20 05:33] AhmadKarim72 commented on #3270
![Screen Shot 2022-05-20 at 1 33 50 AM](https://user-images.githubusercontent.com/90279005/169457628-adeb607b-7b74-4457-803a-adb64988972c.png)

[2022-05-20 10:41] cipaterson opened #5131 "ExpectRevert not working when using HDWalletProvider"
- [x ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

When using HDWalletProvider in the truffle-config.js file, the tests are not working as expected.
When a call reverts, the promise doesn't fail as expected but is resolved with the reverted transaction
As soon as the development network is

[2022-05-20 13:16] jiamijiang commented on #5108
where do i find my `/etc/hosts` ?

[2022-05-20 13:17] jiamijiang commented on #5108
where do i find `/etc/hosts` ?

[2022-05-20 22:35] goncharov-vlad commented on #4925
Yes, guys, it is. I had so much pain with it

[2022-05-21 23:18] swisstackle opened #5134 "DISABLE_ESLINT_PLUGIN: command not found"
---------------------------
I figured I would transfer this problem to github issues because I dont believe that thats what the discussions are for.

## Issue
I am currently trying to build all packages on my local machine to contribute to truffle:

When yarn/lerna (yarn bootstrap) tries to build the truffle dashboard package, I am getting the error 'DISABLE_ESLINT_PLUGIN' is not recognized as an

[2022-05-21 23:43] cds-amal commented on #5134
Hi @swisstackle, truffle dashboard [uses craco for script management](https://github.com/trufflesuite/truffle/blob/develop/packages/dashboard/package.json#L24-L32). See their [website for more information](https://github.com/gsoft-inc/craco).

[2022-05-22 15:25] swisstackle commented on #5134
I just installed craco globally, but I am still getting the same error. Technically that shouldnt make a difference anyways, because without having it installed globally, it should just use the craco that is being installed by yarn in the dashboard package.
Ill investigate further.

[2022-05-23 06:18] gkhaos commented on #5116
@cds-amal did you find any way to reduce latency?

[2022-05-23 15:49] eggplantzzz commented on #5108
`hosts` is a file found at `/etc/hosts` on your machine

[2022-05-23 22:46] dvncan commented on #1704
Hi I have this error and am able to replicate it. I was following this tutorial: https://itnext.io/building-a-decentralized-application-with-bep-20-contract-in-solidity-d2c066447aa6

Mid way at the unit tests, after a totalSupply variable is introduced everytime the getter function fails with this error.

[2022-05-24 07:40] jiamijiang commented on #5108
ok I've made the changes to `/etc/hosts`

but now when i try to run `truffle unbox react` again i'll get the below new error:

[code]

[2022-05-24 14:26] realcliffzhang commented on #5108
@jiamijiang Glad it worked out 👍

[2022-05-24 22:12] kevinweaver opened #5138 "Truffle doesn't support ethers.js providers"
## Issue

In my truffle.config, I should be able to use an [ethers provider](https://docs.ethers.io/v5/api/providers/) and [signer](https://docs.ethers.io/v5/api/signer/) when I initialize a network.

## Steps to Reproduce

1. Try returning an ethers provider directly:
[code]

2. Try returning an HDWalletProvider given an ether's provider:
[code]

## Expected Behavior

The provider should be initi

[2022-05-25 04:57] sakshijain009 opened #5140 "Truffle init not working in VS Code"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

I installed truffle globally using the command

`npm install -g truffle@5.4.29`

But when i do

`truffle init`

It is showing error.

## Expected Behavior

Should bootstrap the related folders.

## Actual Results

![Screenshot (153)](https:/

[2022-05-25 11:24] leiiiooo opened #5141 "Add feature to deploy a contract at a specific address"
I am developing a contract, which can be easily developed using Truffle Suite. But I am having a problem when I am writing unit tests. Here is the pseudo-code of the function.
[code]

But then I run into a problem, I can't know the address of the contract in advance when I generate the signature, the address of the contract will be different for different people, on different computers when I run

[2022-05-26 09:25] shunjizhan commented on #3412
same for me when using a custom local network, `--verbose-rpc` prints nothing extra

[2022-05-26 14:49] swisstackle opened #5144 "contributing.md out of date: Asking to work on it"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

As I was trying to add a command, through debugging, I have noticed that yargs is looking for a meta module, not only a run module as described in contributing.md.
Then I looked at the other commands in \packages\core\lib\commands and I've n

[2022-05-26 15:18] cds-amal commented on #5134
Thanks, @swisstackle. Please let me know what you discover.

[2022-05-26 15:42] #5060 closed

[2022-05-26 15:43] cds-amal commented on #5052
Closing for issue maintenance.

[2022-05-26 15:43] #5052 closed

[2022-05-26 15:48] #5108 closed

[2022-05-26 15:51] #4410 closed

[2022-05-26 17:37] kevinweaver commented on #4442
Retried and it looks like this is now working!  Closing this issue.

[2022-05-26 17:37] #4442 closed

[2022-05-26 17:55] haltman-at commented on #5138
Worth noting: Ethers's notion of a "provider" is a bit different from web3's.  Web3 has a separation between the provider, which provides the low-level interface, and the web3 object, which provides the high-level interface on top of it.  Ethers doesn't have this separation; its "provider" objects provide both the high-level and the low-level interface.  And obviously that interface is a bit diffe

[2022-05-26 18:00] realcliffzhang commented on #5138
On top of the "provider" equivocation @haltman-at mentioned, here's the [web3 => ethers migration guide](https://docs.ethers.io/v5/migration/web3).

[2022-05-26 18:07] dongmingh commented on #5141
@leiiiooo thanks for submitting this issue. What problem are you trying to solve?

[2022-05-26 18:35] dongmingh commented on #4634
Close this since the issue is fixed in #4801.

[2022-05-26 18:35] #4634 closed

[2022-05-26 18:38] swisstackle commented on #5144
Opened up the PR: https://github.com/trufflesuite/truffle/pull/5145

[2022-05-26 18:52] dongmingh commented on #2928
@pizzarob can you confirm if the issue is fixed in the latest Truffle? We think this is fixed. Thanks in advance!

[2022-05-26 19:35] swisstackle commented on #5106
Is this still an issue? I have node version 16.14 and truffle version 5.5.15. When I run "truffle --version", I get 5.5.15 as the output.

[2022-05-26 19:43] swisstackle commented on #5066
Reproduced the error. Same error message.

When using the specific filename, it works:
i.e: truffle test ./test/testest/PlayersTest.js

With "*.js" it doesnt work.

I've tested it with the commandline, not in package.json scripts.

[2022-05-26 20:44] Brag2gr8 commented on #1727
Sudo truffle compile actually solved this..
Thanks

[2022-05-26 21:27] swisstackle commented on #5066
Should we even consider making "*.js" work? Why don't we just give the user an option to give a directory and then all the files inside the directory are being tested.

See the comment inside  else if (inputArgs.length > 0) {}. There we could just check if inputArgs is a directory and if yes, push all the files to filesToRun. I could implement this real quick and make a PR.

[code]

[2022-05-27 13:39] Silur opened #5149 "Events not caught during tests after evm_revert on ganache"
EVM events are not caught after restoring a saved snapshot of the ganache state during tests with truffle:

[code]
However, checking the transaction receipt manually has the logs set up with the event data in question.

Tested with:

Truffle v5.5.0 (core: 5.5.0)
Ganache v7.0.1
Solidity - 0.8.11 (solc-js)
Node v16.14.0
Web3.js v1.5.3

[2022-05-27 18:44] lsqproduction commented on #4825
Removed in https://github.com/trufflesuite/truffle/releases/tag/v5.5.16, will work on adding usuable types at a later time.

[2022-05-27 18:44] #4825 closed

[2022-05-27 19:14] kevinweaver opened #5150 ""Could not find block" using Infura"
## Issue

Re-opening [this issue](https://github.com/trufflesuite/truffle/issues/4468) as I am able to reproduce is consistently with Infura.  As mentioned in that thread, switching to another RPC provider like Alchemy resolves it.

## Steps to Reproduce

I can add you to this private repo:
[code]
Open .env and add Infura keys and a mnemonic that holds both kovan and optimism-kovan eth. Use [this

[2022-05-27 22:29] haltman-at commented on #4900
Oh interesting -- I'm looking through the code right now and it appears that what I just described is in fact how it was *intended* to work, according to the comments.  Just, it doesn't actually at present.  So by fixing this is actually just implementing a bug fix!  Could have saved us some trouble deciding what to do if we'd just read the comments!

[2022-05-27 23:56] wbt commented on #4825
For those who might come across this disappointed, also check out [typechain](https://github.com/dethcrypto/TypeChain).

[2022-05-28 08:49] Afrahdev opened #5152 "failed when compiling from from "@truffle/contract""
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
I'm trying to fetch json file and transform them into an object so that I can interact, while using the importing from "@truffle/contract"  and when I run npm start, the compile run out the time.

![image](https://user-images.githubuserconten

[2022-05-28 08:57] jiamijiang commented on #5108
Although when trying to initialize a new `truffle unbox react`, I still run into connection errors such as the below:

[code]

That same IP address that was added in the filename `/etc/hosts` seems to be the issue sometimes with connecting.

Any thoughts?

[2022-05-28 09:18] marcpre opened #5153 "VSCode Plugin - Error occured in debug mode: No source file"
- [x] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Hello,

I have installed the following versions:

[code]

I am trying to debug my contract with the new vscode truffle plugin.

I get the following:

![image](https://user-images.githubusercontent.com/30902582/170818974-9cfb40b3-ee1c-405b-b3

[2022-05-29 11:44] lazarhenderson commented on #4683
Been struggling with this for AGES and this thread actually helped, made my whole life better

[2022-05-29 16:39] satchon commented on #5129
@eggplantzzz, @realcliffzhang
Sorry for late reply. I'd been far from it for a while.
I tried to change the .nvm directory along the article. Then I could completed to install.
But now I'm sticking with truffle's 'permission denied'.
Anyway, I could one step forward thanks to your advices.
I'll keep it up.

[2022-05-29 18:35] inso- commented on #2692
same issue happen often to me during contract deployment/upgrade.
I am not under any special network condition (not in china/no proxy/etc...), changing the wallet use to deploy or disconnect/reconnect my computer from network solve the issue.

 I suspect an issue on Truffle (socket not correctly closed or something like this)

[2022-05-29 18:39] cds-amal commented on #2692
@inso- can you run and share the result of running the unbox command with debug env set?

`DEBUG=* truffle unbox <some box>`

[2022-05-29 19:23] inso- commented on #2692
Debug from my contract deployment:

Attempt 1:
[code]

Attempt 2:
[code]

[2022-05-29 20:29] cds-amal commented on #2692
Hi @inso- Apologies, I thought you had an issue with the `unbox` command. Please open a new issue, so it will be easier to track and resolve the original Issue as well as yours. It would be helpful to include the command, truffle-config and output. Thanks!

[2022-05-30 00:39] inso- commented on #2692
Look like the exact same issue happen on init, deploy and unbox. Will open a new one with details when I have time.

[2022-05-30 10:08] amitk41727 commented on #2136
hii i am facing the same issues can u just remember and tell the solution . i am not able to complete a single deployment of blockchain its frustrating

[2022-05-30 10:12] amitk41727 commented on #2136
on migrating it shows the same error and atlast its showing the version of truffle and node. as shown below:

Error: Returned values aren't valid, did it run Out of Gas?
    at ABICoder.decodeParameters (C:\Users\amitk\AppData\Roaming\npm\node_modules\truffle\build\webpack:\~\web3-eth-abi\src\index.js:226:1)
    at Contract._decodeMethodReturn (C:\Users\amitk\AppData\Roaming\npm\node_modules\truff

[2022-05-30 10:24] impin2rex commented on #5152
I've faced the same issue today,

`Starting the development server...

<--- Last few GCs --->

[9713:0x130008000]    15588 ms: Scavenge 2029.9 (2072.2) -> 2026.1 (2072.2) MB, 2.0 / 0.0 ms  (average mu = 0.250, current mu = 0.222) allocation failure
[9713:0x130008000]    15591 ms: Scavenge 2029.8 (2072.2) -> 2027.2 (2072.5) MB, 2.5 / 0.0 ms  (average mu = 0.250, current mu = 0.222) allocation failu

[2022-05-31 01:56] leiiiooo commented on #5141
Thank you for your reply. I am looking for a way to control a deployment address because as shown in the code above, I need to know the deployment address of this contract in advance because I need to calculate this signature in java code and I need to run this part of the logic check in unit tests, so it would be better to provide a mock method, for example using `Truffle. mockContractAddress(myA

[2022-05-31 05:24] alexspringgit commented on #4016
It is still a problem with v5.5.16

[2022-05-31 06:14] sargue opened #5155 "Tests' "Clean-room environment" is not working as expected"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Tests are not isolated from each other. I reproduced it using the metacoin box tutorial, adding a new test at the end that checks again the balance. As per the "clean-room" the first account should have all 10000 tokens. It's not.

## Steps

[2022-05-31 06:14] sargue commented on #1785
I've created a specific issue that's probably related to this one: https://github.com/trufflesuite/truffle/issues/5155

[2022-05-31 08:28] cds-amal commented on #5155
Hi @sargue,

A "clean room" is triggered when a new `Contract` test-block is encountered.

<details><summary>Try this test file</summary>

[code]
</details>

I got the following results:

[code]

[2022-05-31 10:19] sargue commented on #5155
I see, I understood it wrong. Thanks for the explanation.

[2022-05-31 10:19] #5155 closed

[2022-05-31 12:51] cds-amal commented on #5155
Thanks for raising this @sargue, our documentation should be more precise.

[2022-05-31 14:11] eggplantzzz commented on #5106
Well actually `truffle --version` is not really officially allowed. Actually on 5.5.16 it is broken (from the bundling changes in the last release) and yields an error. We should probably write in some code to support some of these common formats for requesting the version and help info.

[2022-05-31 15:02] eggplantzzz commented on #4016
Thanks @alexspringgit and @tonguyengit for confirming!

[2022-05-31 16:58] kevinweaver commented on #4555
From @prbrody via email: "I would guess it’s deprecated as Nightfall 3 is out now and supplanted by the launch of Polygon Nightfall."  It seems like the way forward is to deprecate the box, as I don't expect the new iteration of Nightfall to be compatible.

[2022-05-31 17:38] prbrody commented on #4555
I think that's the case.
We monitor the EY GitHub repo but not this one, so apologies for failing to see this.

[2022-05-31 18:32] haltman-at commented on #4874
Seems this is now responsible for *another* critical security alert.  Fortunately we're dropping Node 12 support right about now! :)

[2022-06-01 05:31] benjamincburns commented on #5134
I think we should make the build work on Windows. We want people to be able to contribute code regardless of what OS they use.

@swisstackle do you happen to have a WSL install? If so, would you mind testing whether or not your changes also build correctly under WSL? If they do, I'd be really happy if you'd be willing to submit those changes as a PR to unbreak the build for Windows users.

[2022-06-01 10:54] kuznetsov-m opened #5159 "Unknown server response 405 when downloading hash QmaCaDgbXgTJXdt8JRU46R59sH4UwnDHiAopdbndEDGqxV"
## Issue

Unable to install **zeppelin** package by **truffle**

[code]

## Environment

* Operating System: macOS 11.6 BuildVersion: 20G165
* Truffle version (`truffle version`): v5.5.15 (core: 5.5.15)
* node version (`node --version`): v16.15.0
* npm version (`npm --version`): 8.5.5

[2022-06-01 11:47] swisstackle commented on #5134
I've just reproduced the same error on  a different (almost new) windows system. So yes, modt likely Windows is the problem.
Specificslly two things:

husky functionality and the didable_entlint thing.

Everything else worked when building.

[2022-06-01 12:19] cds-amal opened #5160 "Deprecate/remove eth-pm support"
Our maintenance/dependency cost is quite high for an ecosystem that doesn't seem to have community support. We should deprecate/remove `truffle install` and `truffle publish`.

[2022-06-01 12:27] cds-amal commented on #5159
Hi @kuznetsov-m, unfortunately, **EthPM** doesn't have the community support to be a reliable and robust ecosystem. As a result, we're considering dropping its support. You should install **Open Zeppelin Contracts** from **npm** instead (`npm install @openzeppelin/contracts`). AFAIK (please fact-check me), Open Zeppelin no longer maintains their **EthPM** distribution.

[2022-06-01 13:17] dincho commented on #5116
it's totally stuck for me

[2022-06-01 13:43] #5159 closed

[2022-06-01 15:20] cds-amal commented on #5116
@gkhaos, @dincho Apologies for the inconvenience. We have a [PR](https://github.com/trufflesuite/truffle/pull/5135) that should sort this out. Expecting this to go out this week.

[2022-06-01 18:23] eggplantzzz opened #5161 "Update Ganache options from legacy style "namespaceless" options to the namespaced versions, e.g., `gasLimit` to `miner.blockGasLimit`"
Ganache still accepts legacy-style options like `gasLimit`, but these have been deprecated as of v7.0.0. That specific example option is now `miner.blockGasLimit`. Truffle should be updated (primarily the tests) to start Ganache with the newer option style. Mostly this will look something like the following:

[code]

For a list of all options you can use `ganache --help`.

[2022-06-02 01:28] benjamincburns commented on #5134
Yeah, you're correct about  the husky pre-commit hooks, but otherwise we'd be super happy for anything that you'd be willing to contribute that would otherwise improve the state of things on Windows.

That said there is an internal effort happening to bring about a Windows CI build, so that will probably improve things pretty dramatically when that drops.

[2022-06-02 17:30] swisstackle commented on #5134
@benjamincburns  I can make a PR for the .env file if you wish. It resolved the Dashboard issue I've had.

[2022-06-02 17:37] davidmurdoch commented on #5149
Thanks for opening this, @silur. Can you try the latest version of truffle and let us know if that fixes either of the issues (the events or the revert issue)?

[2022-06-02 17:49] davidmurdoch commented on #5152
@Afrahdev interesting! Looks like the node process is running out of memory. Is the JSON file very large (maybe gigabytes in size)? My hunch is that it is not Truffle Contract that is the problem, as that appears to be on the front-end (in the browser) and it is the react development server that is crashing for some reason; it's hard to say what is going wrong given the information provide. Can yo

[2022-06-02 17:55] davidmurdoch commented on #5153
@marcpre, this looks like a bug in the way the extension searches for files. Can you share a screenshot of the VS Code "Explorer" tab (Ctrl+Shift+E) showing the complete file-system tree for the project?

[2022-06-02 18:03] kevinweaver commented on #4418
I wasn't able to reproduce this issue, likely due to low network usage at the time I tried.

@0x62, please try removing the hard coded `gasPrice` value here, as Truffle will estimate an appropriate price based on current network conditions.

[2022-06-02 18:18] davidmurdoch commented on #5116
Good news, @puffanddmx, https://github.com/trufflesuite/truffle/pull/5135 was merged and will be released this week. Thanks for opening this issue and helping us get this resolved!

[2022-06-02 18:28] davidmurdoch commented on #5141
Hey @leiiiooo, you _can_ determine the address at which a contract will be deployed if you know the address and nonce of the account that is sending the contract creation transaction. See https://ethereum.stackexchange.com/a/761/44640 for how to do this

As an alternative, as of Ganache 7.0.3 you can use a new RPC method, `evm_setAccountCode`, to set the contract code at a specific address. See ht

[2022-06-02 18:47] davidmurdoch opened #5165 "Officially drop support for Node v12 and add support for Node v18"
Current blockers on this are @truffle/db's pouchdb's webSQL adapter dependency.

– @gnidan, 2022

Possible resolution is to skip the db tests on Node v18, as truffle db is option. Of course this isn't preferred, as we do want @truffle/db to work on all versions of Node we support.

We should look into Ganache's [custom script](https://github.com/trufflesuite/ganache/blob/5c57c22cae48df59f893ee76f1

[2022-06-02 20:48] pbirbarah opened #5168 "contract deployed but still getting undefined in truffle console"
### Discussed in https://github.com/orgs/trufflesuite/discussions/5167

<div type='discussions-op-text'>

<sup>Originally posted by **pbirbarah** June  2, 2022</sup>
I have downloaded truffle extension in visual studio and also downloaded ganache. I was able to deploy a contract on ganache (used truffle migrate successfully) but when I use the truffle console to get info about the contract like co

[2022-06-02 22:43] benjamincburns commented on #5134
That'd be awesome - thanks!

[2022-06-02 23:17] haltman-at commented on #5168
Well, note that `const bla = await contract.deployed()` will return `undefined` due to the fact that it's a statement, rather than expression, but that doesn't mean that `bla` itself is undefined; if you enter `bla` afterward, you should see it defined.  Can you confirm whether it works?

(Also, if you simply write `bla = await contract.deployed()`, then since that's an expression, it ought to ret

[2022-06-03 00:11] swisstackle commented on #5066
I am working on implementing it at the moment.
I am writing test cases for this functionality at the moment. Where do you guys typically locate tests for commands that don't have their own package (such as the test command)?

[2022-06-03 12:02] pbirbarah commented on #5168
Ok thanks!! It worked!

[2022-06-03 12:02] #5168 closed

[2022-06-03 14:28] TomiOhl commented on #4601
Any progress on this? @ensdomains/ens is being deprecated as I see, so probably it's best to solve it from truffle's side?

[2022-06-03 14:30] eggplantzzz commented on #4601
There was some initial work done but there is a bit more to be figured out before being able to fully replace it. It is a bit tricky to switch over the functionality that deploys registries/resolvers to test networks.

[2022-06-03 21:26] haltman-at commented on #4561
Fixed now.

[2022-06-03 21:26] #4561 closed

[2022-06-03 21:27] haltman-at commented on #5144
Closing this now that the PR is merged and released.

[2022-06-03 21:27] #5144 closed

[2022-06-03 21:28] haltman-at commented on #5116
Hi, @puffanddmx, could you (or others) confirm whether this issue is now resolved on installing latest Truffle?  Thanks!

[2022-06-04 07:29] puffanddmx commented on #5116
yep, it is better now.
thanks for your work!!
good job bro!!!

[2022-06-04 16:55] swisstackle commented on #5138
I am assuming that this is being worked on internally?

[2022-06-04 18:14] akashkatare5 opened #5176 "new Error("Could not find artifacts for " + import_path + " from any sources");"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
[code]

## Steps to Reproduce

...\truffle console

...]\Migrate

## Expected Behavior

should have deployed on Ganache personal blockchain

## Actual Results

(Trying to migrate the contract on ganache but I am stuck with this error)

## Env

[2022-06-05 04:39] andrurj opened #5184 "System Error when running Ganache 2.5.4 on win32"

[2022-06-05 05:16] leiiiooo commented on #5141
@davidmurdoch thank you very much for your reply, I think this proposal (https://github.com/trufflesuite/ganache/pull/2337) is very interesting and necessary to make it very easy to write some unit test code. I will try to use Ganache v7.0.3. Thanks again for your reply.

[2022-06-05 14:15] pbirbarah opened #5179 "Testing basic contract on truffle"
### Discussed in https://github.com/orgs/trufflesuite/discussions/5178

<div type='discussions-op-text'>

<sup>Originally posted by **pbirbarah** June  5, 2022</sup>
this is my first contract and I am using truffle with ganache for testing and I am facing some issues:
![image](https://user-images.githubusercontent.com/74081842/172054759-86219ae6-04ce-49b0-b160-e4208342dae2.png)

The contract is su

[2022-06-05 14:34] Ivoart commented on #2127
Thank you it worked!

[2022-06-05 20:53] rupert1975 commented on #4949
I hope i how to do it

[2022-06-06 06:26] leiiiooo opened #5180 "What is the true meaning of Contract.at()?"
Here is my test code, I am trying to understand the meaning of `Contract.at()` function.
As you can see, I have insert the code to `mockAddress`, but when I call the `Hello.at(mockAddress)` function, it throws exception `Error: Cannot create instance of Hello; no code at address 0xe2d3A739EFFCd3A99387d015E260eEFAc72EBea1`. Feel really strange. Any idea, where am I wrong?
[code]
[code]

[2022-06-06 06:29] leiiiooo commented on #5141
Here is my test code, I am trying to understand the meaning of `Contract.at()` function.
As you can see, I have insert the code to `mockAddress`, but when I call the `Hello.at(mockAddress)` function, it throws exception `Error: Cannot create instance of Hello; no code at address 0xe2d3A739EFFCd3A99387d015E260eEFAc72EBea1`. Feel really strange. Any idea, where am I wrong?
[code]
[code]

It looks li

[2022-06-06 06:29] #5180 closed

[2022-06-06 18:32] #5116 closed

[2022-06-06 19:33] eggplantzzz commented on #2127
closing for issue maintenance

[2022-06-06 19:33] #2127 closed

[2022-06-06 19:35] eggplantzzz commented on #5176
Hey @akashkatare5 can you show us your project so we can try and troubleshoot/see what is wrong? Is it on GitHub?

[2022-06-06 19:50] akashkatare5 commented on #5176
Hi I overcame with the problem it was related to my contract.sol file

during migration it was unable to capture its path, so I fixed it

![BA5AC37E-4199-4939-B923-A3BBC57BB499](https://user-images.githubusercontent.com/62850215/172236883-117f63e9-9487-4b59-988b-b176f8c86653.jpeg)

Thank you for reverting on the error.
I appreciated it.

[2022-06-06 19:53] #5176 closed

[2022-06-07 00:02] haltman-at opened #5182 "Should error handling in gas estimation be improved?"
@eggplantzzz brought this up during review of #5158.  Currently all errors occuring during gas estimation are treated the same; with stacktracing turned off, we error out, but with stacktracing turned on, we ignore the error and continue forward with a default gas.

Tyler suggested that perhaps we might want to discriminate based on the particular cause of the error; in particular, he suggested th

[2022-06-07 02:25] kimanikelly commented on #5179
Hi, @pbirbarah do you have a public repository or full code snippet of Test_Payment.sol? I would like to assist you with the blocker you're facing thank you.

[2022-06-07 13:45] cliffoo commented on #5141
Hi @leiiiooo, I don't think `Contract.at` is where the problem is. You can use `web3.eth.getCode` to verify that `evm_setAccountCode` succeeded before calling `Contract.at`.
Could you try this and let me know if it works? Thanks!
[code]
`web3` is available in the test context with the correct provider.

[2022-06-07 13:52] Starbet commented on #4058
this worked for me

[2022-06-07 13:53] kimanikelly commented on #5179
@pbirbarah Sounds great thank you, I will let you know what I find and we can go over the solution

[2022-06-07 15:39] kimanikelly commented on #5179
@pbirbarah How are you deploying your contract do you have a code snippet?

[2022-06-07 17:01] eggplantzzz commented on #5138
@swisstackle Not yet! Are you interested in working on this?

[2022-06-07 19:41] pbirbarah commented on #5179
I am using truffle console with ganache so it's different.

after deploying the contract on ganache, I can write this to double check it is deployed.
const my_contract = await Test_Payment.deployed()
then I try and define the sender address using
address my_address = '0x56cFBBDB11D385da02db4eef2784E021435d6731' and I get an error
![image](https://user-images.githubusercontent.com/74081842/17246824

[2022-06-07 20:19] kimanikelly commented on #5179
@pbirbarah Alright I will try with Truffle and let you know

[2022-06-07 20:42] kimanikelly commented on #5179
@pbirbarah Before I deployed the contract and invoked the `test` function on localhost through truffle console and ganache-cli I was able to successfully invoke `test` through the test suite by configuring a init test file and executing the ```truffle test``` command

[code]

<img width="877" alt="Screen Shot 2022-06-07 at 4 38 27 PM" src="https://user-images.githubusercontent.com/42893948/1724779

[2022-06-07 21:00] rohitchugh1983 opened #5185 "Not able to install truffle on my mac"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.
hi ,
i am getting the below error after installing truffle.
i have installed in the sudo mode.
---------------------------

## Issue
path /usr/local/lib/node_modules/truffle/node_modules/ganache/node_modules/@trufflesuite/bigint-buffer
npm ERR! command failed
npm ERR! command sh -

[2022-06-07 21:27] cliffoo commented on #5185
Hmm could you try downgrading from npm 8 to 6?
[code]

[2022-06-07 21:32] rohitchugh1983 commented on #5185
hi ,
thanks for your prompt response.
i tried it and got the below error
MacBook-Air ~ % npm install -g npm@6
npm ERR! code EACCES
npm ERR! syscall rename
npm ERR! path /usr/local/lib/node_modules/npm
npm ERR! dest /usr/local/lib/node_modules/.npm-i9nnxROI
npm ERR! errno -13
npm ERR! Error: EACCES: permission denied, rename '/usr/local/lib/node_modules/npm' -> '/usr/local/lib/node_modules/.npm-i9n

[2022-06-07 21:34] kimanikelly commented on #5179
@pbirbarah I was able to successfully deploy TestPayment.sol locally with `truffle migrate` and `ganache-cli` then invoke the `test` function

<img width="953" alt="Screen Shot 2022-06-07 at 5 32 44 PM" src="https://user-images.githubusercontent.com/42893948/172486495-ff6dc664-9254-4d96-a370-372fd4e77a92.png">

[2022-06-07 23:30] pbirbarah commented on #5179
this is very helpful thank you. How can I specify which address to send from using the console? and can I check the balance on the address using the console?

[2022-06-07 23:37] kimanikelly commented on #5179
@pbirbarah The Truffle console supports the ```accounts``` variable and returns an array of public addresses connected to ganache-cli. You can specify which address invokes the `test` function by adding the ```from``` property to the function call and designating the index inside the ```accounts``` array.

<img width="953" alt="Screen Shot 2022-06-07 at 7 34 15 PM" src="https://user-images.githubu

[2022-06-07 23:39] kimanikelly commented on #5179
@pbirbarah Here is how you can check the ETH balance from one of the accounts

<img width="675" alt="Screen Shot 2022-06-07 at 7 38 20 PM" src="https://user-images.githubusercontent.com/42893948/172501030-c8b9875d-27df-4d13-a910-3ed1c1985770.png">

[2022-06-08 00:53] pbirbarah commented on #5179
that is perfect! thanks!

[2022-06-08 00:53] #5179 closed

[2022-06-08 01:22] kimanikelly commented on #5179
@pbirbarah No problem take care

[2022-06-08 06:59] leiiiooo commented on #5141
@cliffoo Dude thank you very much for your answer, I tried it and it works very well.

[2022-06-08 07:00] leiiiooo commented on #5141
@cliffoo Just one more question, why my code is not working, do you know? 🤔

[2022-06-08 07:01] leiiiooo commented on #5141
I tried reading code with `provider` 🤔

[2022-06-08 07:14] leiiiooo commented on #5141
@cliffoo Hi, here is the code for your mentioned function. In the first step, I can read the code and print it, second step, I try to call `evm_setAccountCode` after that I try to call `getCode` again, seems nothing happened. Always 0x
[code]
[code]

[2022-06-08 10:13] Stimuleye commented on #5185
Can you explain what you meant by "tried it in the root folder"?

Having the same issue. Thanks in advance!

[2022-06-08 10:14] Stimuleye commented on #5185
Also, when inputting sudo, what password am I supposed to input?

[2022-06-08 11:08] cliffoo commented on #5185
@Stimuleye `sudo some-command` will prompt you to enter the root user's password, because `some-command` will be executed with root user privileges. You will have set the password this during your os setup.

Here's what I believe @rohitchugh1983 did:
[code]

However you shouldn't have to use `sudo`, [our recommendation](https://github.com/trufflesuite/truffle#install) is to use [nvm](https://githu

[2022-06-08 12:12] davidmurdoch commented on #5141
What version of ganache are you using?

[2022-06-08 12:59] leiiiooo commented on #5141
Here are my deps. 🤔
[code]

[2022-06-08 13:03] davidmurdoch commented on #5141
Can you update Ganache to the latest version, 7.2.0, and try again?

[2022-06-08 13:45] leiiiooo commented on #5141
Sad, the same.
[code]

[2022-06-08 15:08] cliffoo commented on #5141
Hey @leiiiooo, so you need to provide a callback to `web3.currentProvider.send` as the second param.

Here's a [working example](https://github.com/cliffoo/truffle-starter/blob/reprod-0-provider-rpc/test/simple_storage_test.js) that wraps it and returns a promise. Also as David mentioned, make sure you're running the latest version of Ganache. Give it a try!

[2022-06-08 15:14] agro1986 opened #5186 "truffle --version crashes, truffle help doesn't crash"
## Issue

`truffle --version` crashes

## Steps to Reproduce

run this:

[code]

## Actual Results

[code]

## Environment

* Operating System: MacOS 12.4 (21F79)
* Truffle version (`truffle version`): v5.5.17
* node version (`node --version`): v16.15.1
* npm version (`npm --version`): 8.11.0

[2022-06-08 15:37] leiiiooo commented on #5141
Yep, your codes are acceptable. 🤔 MAY be the root cause is the plugin `solidity-coverage`. It does not support the newest version of Ganache. In my code, when I call `evm_setAccountCode`, it will give me `undefined`. @cgewecke Do you have any good ideas about this? 🤔

[2022-06-09 15:21] dongmingh commented on #5095
@kkimpace19882627 Thanks for opening this! We will close this for issue maintenance now.  If you still have the issue,  feel free to open a new issue.

[2022-06-09 17:55] fainashalts commented on #4546
Hi @MicaiahReid what does this mean? Truffle boxes will use the version of Ganache and Truffle that you have installed locally. Am I missing something?

[2022-06-09 22:57] kevinbluer commented on #4133
Available in [v5.6.18](https://github.com/trufflesuite/truffle/releases/tag/v5.5.18) 👍

[2022-06-09 23:00] kevinbluer commented on #4900
Hey @barakman, fix for this is now live in [v5.5.18](https://github.com/trufflesuite/truffle/releases/tag/v5.5.18) which has just gone out 👍

[2022-06-09 23:03] kevinbluer commented on #4720
Available in [v5.6.18](https://github.com/trufflesuite/truffle/releases/tag/v5.5.18) 👍

[2022-06-10 05:48] AntonWeel commented on #4683
Downgrading to npm 6 helped 'npm install -g npm@6' node version 16, then 'npm install -g truffle', asked for an update after installation 'sudo npm install -g truffle'

[2022-06-10 06:53] agro1986 commented on #5186
Hi @fainashalts . If I write `truffle help` it shows:

[code]

so you might want to fix the docs also

[2022-06-10 13:21] SamarpanCoder2002 commented on #5043
@cds-amal it's giving the same prb in the latest version of node... When that package will available for latest version of node???

[2022-06-10 14:03] eggplantzzz commented on #5186
Thanks @agro1986! Yes we bumped yargs recently and it added some extra stuff to the help display - some of which we haven't dealt with yet :(

[2022-06-10 14:04] eggplantzzz commented on #4720
Looks like this can be closed.

[2022-06-10 14:04] #4720 closed

[2022-06-10 17:06] #4133 closed

[2022-06-10 17:07] #4900 closed

[2022-06-10 18:05] Chococoin opened #5189 "Nice to have: granular requests with HDwallet"
## How to cast granulars requests to Infura with HDwallet-provider?

I saw that once @truffle/hdwallet-provider is required it with request to infura the eth_blockNumber every 2 seconds.
This is an undesirable behavior, my program doesn't need to overload the infura server for that info. Instead I would love to request to infura data as needed.

[2022-06-10 20:18] MicaiahReid commented on #4546
@fainashalts Some boxes have a package.json or yarn.lock that specifies older versions of ganache as a dev-dependency. But I agree, in most cases whatever version of Ganache is installed globally will be used when using our boxes.

[2022-06-13 20:09] alizdd commented on #4659
I agree with @pstrotmann , I was confused and lost time when I see no changes in ganache interface, with norollback option, that would be better test experience imo

[2022-06-14 17:06] bater53 commented on #1664
Great to close a comment without giving a resolution to the issue.  I am running Windows 10 pro and I am having the same issue.  Now you will see that the ip address is different that is because under ganache I have  tried three different ones with the same results starting with 127.0.0.1 then going to 127.19.0.1 and finally with 127.17.224.1  all with the exact same results.  The only thing that

[2022-06-14 17:18] bater53 commented on #3710
I have used this in my truffle-config.js

const Web3 = require("web3");

module.exports = {
  // ...
  networks: {
    development: {
      provider: () => new Web3.providers.HttpProvider("http://127.0.0.1:7545"),
      host: "127.0.0.1",
      port: 7545,
      network_id: "*",
    },
    // ...
  },
  // ...
}

I still get the same error so that is not helping.

[2022-06-15 11:04] Pafaul commented on #1785
Still an issue, enountered it while developing project:
- Runs fine when calling ```test``` command on specific file
- Fails if ```test``` command is called without file specification

Some more info (cannot share code really) - all tests (~6 test files) which all use the same contracts and ```.deployed()``` function for creating instances, heavily relying on instances deployed during migration an

[2022-06-15 19:48] davidmurdoch opened #5193 "Truffle's resolver doesn't hook into ganache's console.sol"
Which isn't truffle's fault, since Ganache hasn't yet published it yet. But it will Soon:tm:!

[2022-06-15 19:49] fainashalts opened #5194 "Implement Full TypeScript Support for Truffle Commands"
Truffle should work out of the box with TypeScript files. This issue is complete when the following is done:

- [ ] Scope out the changes necessary

- [ ] Get team buy in for the plan

- [ ] Add TypeScript Support

- [ ] Publicize the change: work with Emily, marketing, etc. (this will likely involve a blog post and tutorial)

[2022-06-15 19:52] davidmurdoch opened #5195 "Truffle doesn't hook into Ganache's console.log event to handle log output"
The current event name is "ganache:vm:tx:console.log", but this will likely change before it is released in ganache. See also: #5193

[2022-06-15 21:02] inglkruiz commented on #2631
Hi, I just wanted to post what worked for me. For quick context, I'm deploying a Web IDE on K8s Environment which does not have access to internet. I built a container image with all the files I needed, pakcage.json, node_modules, etc.. For including the `soljson-v...` used by truffle I run when build the image
[code]
That command created the following folder `/root/.config/truffle/compilers/node_

[2022-06-15 21:05] fainashalts opened #5196 "Audit and Fix the Truffle Teardown process"
The Truffle teardown process may be hiding other problems and we should be sure that we are using best practices here. Ask @cds-amal for more details on this one as he is well aware of this issue.

[2022-06-15 21:12] fainashalts opened #5197 "Standardize tsconfig files across packages"
Create one tsconfig file to inherit by packages. We shouldn't have so much variation on this.

[2022-06-15 22:04] fainashalts opened #5199 "Standardize prettier and eslint across the monorepo"
Our prettier and eslint settings should be standard for each package. This task involves auditing the way these are set up and implementing one set of settings throughout.

[2022-06-16 06:32] BiangSwapTeam opened #5200 "Deploy Router Contract Failure on Harmony: not implemented"
## Issue
Deploy Router Contract Failure on Harmony: not implemented

## Steps to Reproduce
- 1.Prepare the contract of Uniswap router v2 and good network connection
- 2.Config harmony  testnet network `https://api.s0.b.hmny.io` and networkId `1666700000`
- 3.Deploy `truffle deploy --network harmonyTestnet`
- 4.Error threw `"BiangSwapRouter" -- not implemented.`

## Expected Behavior
Deploy to Harm

[2022-06-16 06:33] stuartwk commented on #1461
@gordienoye could you find a way to resolve this? I'm running into what looks to be the same thing locally on a Mac...

[code]

[2022-06-16 06:57] Smit-05 opened #5201 "Uncaught (in promise) Error: TodoList has not been deployed to detected network (network/artifact mismatch)"
## Issue

I am new to truffle and blockchain world and I have tried following a youtube video to make this project. But I am getting an error in deploying the contract.

***Uncaught (in promise) Error: TodoList has not been deployed to detected network (network/artifact mismatch)
    at truffle-contract.js:456:17
    at async Object.loadContract (app.js:60:20)
    at async Object.load (app.js:13:5

[2022-06-16 11:33] cds-amal commented on #3710
Hey @stuartwk, It's unclear if you are experiencing the same error as the OP. Please open a new issue with reproduction steps if possible.

[2022-06-16 13:20] fainashalts opened #5202 "Audit and Fix our Flaky Tests"
Many of our tests fail intermittently, and several people have had to increase timeouts to get them to pass CI. @benjamincburns says he has a list of tests, which he will add here to this issue.

[2022-06-16 13:25] fainashalts opened #5203 "Implement Node 18 Support"
We need to deprecate support for Node 12 soon, and we should be sure developers can upgrade to the newest Node, which is v18.

[2022-06-16 13:29] fainashalts opened #5204 "Audit and Fix the Windows Build"
Developers that use Windows have encountered numerous issues that seem specific to their machines. We need to audit what these issues are and fix the problem to support our Windows users.

[2022-06-16 13:30] fainashalts opened #5205 "Decouple Mocha"
We should give users the option to bring their own testing libraries. Mocha should be an option but not required or the only choice.

[2022-06-16 13:32] fainashalts opened #5206 "Standardize Test Approach"
There is a great deal of variation in our tests in different packages. We should have a standard approach and work to bring each package's tests in line.

[2022-06-16 13:38] benjamincburns opened #5207 "Truffle-config redesign"
This is an Epic for reworking the `@truffle/config` package, including making breaking changes for a future major release of Truffle.

[2022-06-16 14:18] benjamincburns opened #5208 "Internal testing performance improvements/optimization"
At the time of writing, it takes roughly 30 minutes to do a complete CI run. The bulk of this time is spent running the various test suites, with the scenario tests taking the most time of any of them.

I don't have any specific proposals at how to improve this just yet, but I thought I might capture a few goals here, and assuming that everyone agrees with the goals, we can brainstorm ideas and ra

[2022-06-16 14:37] fainashalts opened #5209 "Optimism Bridge Box"
Draft a box that displays the nuances of communication between mainnet and an L2.

First, an Optimism Bridge Box. Then, Arbitrum. Eventually, Starknet and potentially other L2 protocols.

[2022-06-16 14:44] fainashalts opened #5210 "Complete initial research on feasibility of zkSync support"
zkSync is releasing a zkEVM, currently in testnet phase. They have indicated it should be fairly straightforward to integrate with existing Truffle tooling. This task is for the initial research and prototyping.

[2022-06-16 14:47] fainashalts opened #5211 "zkSync Box"
At minimum it should be possible to compile, deploy, and test using Truffle on zkSync via this box. A detailed readme should accompany this Box, as well as a blog post when released. A tutorial may also be appropriate.

[2022-06-16 14:47] dkillen opened #5212 "StarkNet Box"
Develop a Truffle box for compiling, deploying, testing, and interacting with StarkNet contracts.

[2022-06-16 14:47] fainashalts opened #5213 "Declarative Deployments"
Users should be able to submit a yaml or json file that matches a pre-determined schema, showing what their fully deployed dapp looks like. Truffle should then do the heavy lifting by determining the order to deploy, based on dependencies, capture variables, networks, etc.

[2022-06-16 15:15] cds-amal opened #5214 "truffle migrate calls `eth_estimateGas` twice per contract"
I instrumented Ganache to track RPC calls per migations (1 contract, 2 contracts, 3 contracts ... 25 contracts) and observed Truffle called `eth_estimateGas` twice per contract.

|Num Contracts | eth_estimateGas|
|-- | --|
| 1 | 2 |
| 2 | 4 |
| 3 | 6 |
| ... | ... |
| 24 | 48 |
| 25 | 50 |
<img width="544" alt="image" src="https://user-images.githubusercontent.com/2529600/174102595-898190ef-5876-4

[2022-06-16 16:34] fainashalts opened #5215 "Integrate OZ sample Cairo contracts into Starknet box"

[2022-06-16 18:18] haltman-at commented on #3066
OK, I've put up #5216, which seems to fix this.  The whole thing's a bit mystifying; deployer is some seriously opaque code.  But #5216 seems to do the trick.

[2022-06-16 21:03] sukanyaparashar commented on #3867
I have also looked into this issue but didn't find a proper way to return the contract instance. I have a draft PR opened for this but I think for now I might delete the draft as it seems we will have to wait for this to be resolved.

[2022-06-17 00:15] sg552 commented on #2996
I met the same problem on goerli network, the root cause is network was not working for 40 minutes. (very strange)

40 minutes later, when the goerli network re-work, and my contract creation was successful.

![图片](https://user-images.githubusercontent.com/234533/174198118-f6ba4df6-4533-487b-ab8a-cdd3ced43d0a.png)

for more details, see this post:  https://ethereum.stackexchange.com/a/130355/30431

[2022-06-17 09:52] MichaelMarano commented on #4692
Thank you all guys, I was feeling lost about this issue and after a couple of tries everything worked just fine.
Installed npm@6 and downgraded python to 3.9.1.

Sweet!!

[2022-06-17 13:45] jstaszynskidev commented on #3357
This network URL must be the same as you have in MetaMask (New RPC URL)

[2022-06-17 22:41] cds-amal commented on #5043
@SamarpanCoder2002, do you mean Node 18?  Truffle supports node 12, 14 and 16. We are currently working on supporting node 18.

Is it possible for you to use node 16?

[2022-06-18 02:48] wbt commented on #1664
@bater53 the PR which closed this is autolinked above.  You can see exactly what changes to the code were added to close the issue under the ["Files Changed" tab](https://github.com/trufflesuite/truffle/pull/1678/files) on that page.

[2022-06-20 15:48] sarthak550 opened #5219 "I have encountered this error while running truffle migrate "Something went wrong while attempting to connect to the network at http://127.0.0.1:8545. Check your network configuration." ProviderError: Could not connect to your Ethereum client with the following parameters: - host > 127.0.0.1 - port > 8545 - network_id > *"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue
![image](https://user-images.githubusercontent.com/52045803/174637858-d8e962a5-913a-4f0e-bcb5-95f28ce0de80.png)

## Environment

Ubuntu 20.04.4
Truffle v5.5.17 (core: 5.5.17)
Node v14.19.3
npm v6.14.17

[2022-06-20 17:13] sukanyaparashar commented on #5219
Thank you for raising this, @sarthak550 . Can you please share your `truffle-config.js` file ?

[2022-06-21 00:37] sg552 commented on #2552
I met the same problem.

my rpc-server is running at: `192.168.10.53:8545` ,and the `http proxy` is running at `192.168.10.53:8080` and I `enabled` this http proxy by `export HTTP_PROXY=192.168.10.53:8080`, so when I ran `truffle deploy...` , it stucked and timeout.

so the solution is quite simple:  re-opened my WSL (Ubuntu) terminal and don't use any proxy, everything goes well.

[2022-06-21 15:57] eggplantzzz commented on #3867
@haltman-at would the breaking change be just for @truffle/deployer or would it be breaking for Truffle more generally?

[2022-06-21 17:29] haltman-at commented on #3867
I'd call it breaking for Truffle, as it would break lots of existing migrations code.  I suppose that's a question for @gnidan if we want to be sure, though.

[2022-06-21 18:01] benjamincburns commented on #2631
Hi @inglkruiz,

Just a tip in case you aren't aware, the `.config` directory is being created under the `/root` directory during your docker build, because the docker build defaults to running as `root` within the temporary build containers that docker sets up when running `docker build`.

Assuming that `coder` is a known user inside of your docker image, you could likely switch to that user via t

[2022-06-21 18:30] sunwrobert opened #5220 "Support signTypedData_v4 in HDWalletProvider"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

OpenSea recently launched the Seaport protocol, which uses EIP-712 signatures and has arrays in the payload. It doesn't seem that HDWalletProvider supports signTypedData_v4, so people trying to sign the order either get the following errors:

[2022-06-21 19:32] haltman-at commented on #554
Reopening this, as this was never completed.

[2022-06-21 19:34] haltman-at commented on #554
Note that @cag currently has a PR open to address this, #1511, but it's badly out of date and progress on it seems to have stalled.  Need to determine what to do here.

[2022-06-21 20:19] gnidan commented on #5220
Can you just use [Truffle Dashboard](https://trufflesuite.com/docs/truffle/getting-started/using-the-truffle-dashboard/) instead?

Truffle Dashboard should support eth_signTypedData_v4 just fine (I tested it a bunch), and we've been considering deprecating hdwallet-provider because of the security risk when sharing private keys with Node.js runtime (there's no known issue, but the paranoia is real

[2022-06-21 20:25] sunwrobert commented on #5220
Hmm, I can suggest that as a solution for those using HDWalletProvider. I'm assuming most of them are running them as part of some script though, so not exactly sure how it'll work with Truffle dashboard.

[2022-06-21 20:36] nextmove commented on #5220
I post thousands of orders per day. Signing needs to be automatic.  Can Truffle Dashboard do that or does it require a manual click?

[2022-06-21 21:40] Ghijo1 commented on #5220
So OpenSea changes protocol and adopts one in which orders cannot be entered programmatically.
But it raises the problem to Truffle.
I do not know whether to laugh or cry

[2022-06-21 21:48] sunwrobert commented on #5220
@Ghijo1 the alternative you will need is to find a wallet provider that can support signTypedData_v4. If one does not exist, then one needs to be built.

@gnidan are you familiar with any such provider?

[2022-06-22 10:27] Racherin commented on #5220
first b, then a 😄

[2022-06-22 16:03] cag commented on #554
I'm guessing that it'd be easier to just start from scratch with new
branches at this point, though if somebody wants to rebase/merge the stuff
I did, feel free to do so. Hopefully the work done in the PRs make sense
and help, but if they don't, 🤷

On Tue, Jun 21, 2022, 2:34 PM Harry Altman ***@***.***> wrote:

[2022-06-22 19:13] haltman-at opened #5223 "Truffle 6 should remove the deployer's deferred chain and disallow synchronous deployment syntax"
## Issue

The deployer's deferred chain, and the synchronous deployment syntax it supports, is a maintainability nightmare.  It's got a bunch of bugs and sharp corners (see: #3066, #3867, and one more I still need to file) and it's not clear how much of this is fixable while still supporting existing use cases.  Meanwhile the code behind it is horrifically opaque and almost totally devoid of comme

[2022-06-22 20:17] joeax commented on #5219
I figured it out. When you define a network called `development` it tries to use that for testing. I confirmed that by looking at the code for the CLI here:
https://github.com/trufflesuite/truffle/blob/develop/packages/core/lib/commands/test/run.js

If I comment out the entire network section in the config it uses an internal Ganache instance.

The point I was trying to make was I have to comment/

[2022-06-22 20:55] eggplantzzz commented on #5220
Will you please provide a usage example illustrating how you would expect to use this feature with this package? I'll go ahead and implement this if you can let me know. Also, would someone be willing to test this for me afterwards?

[2022-06-22 21:32] Racherin commented on #5220
Hey, I already added code block that throws the v4 error here.

https://github.com/ProjectOpenSea/seaport-js/issues/52

you can reach me to test anything about this issue 😊

[2022-06-22 21:39] sukanyaparashar commented on #5219
Yes, @joeax but there are some catches here. `truffle test` and `truffle migrate` both uses `development` as the default network if it is specified in the `truffle-config.js`. But `truffle test` starts a Ganache instance if no network is specified in the config. Whereas, `truffle migrate` needs a network specification in the config. For that, you can either give the network specification in the `d

[2022-06-22 21:48] sukanyaparashar commented on #5050
Closing this for issue maintenance. @Bodiebuilds, please feel free to open a new issue if it still exists.

[2022-06-22 21:55] sukanyaparashar commented on #5084
Hi @bruck93 . Just wondering if you are still facing this issue?

[2022-06-22 21:59] sukanyaparashar commented on #5053
Hi @fredlacs . Can you please let us know if you are still facing this issue?

[2022-06-22 22:09] sukanyaparashar commented on #5125
Hi @marcpre, just wondering if @kevinweaver's suggestion was helpful in solving your issue.

[2022-06-22 22:14] #5069 closed

[2022-06-22 22:20] sukanyaparashar commented on #5110
Closing this for issue maintenance. We hope that @lsqproduction's suggestion was helpful in solving this. @geofflangenderfer, please feel free to open a new issue if you still face problem in installing `Truffle`.

[2022-06-22 22:20] #5110 closed

[2022-06-22 22:39] 0R61 commented on #5220
We need this to be able to submit offers using the new opensea api.

[2022-06-22 23:28] sukanyaparashar commented on #4832
Hi @wbl. Can you please confirm if eth-gas-reporter was able to handle your issue?

[2022-06-23 04:10] #5125 closed

[2022-06-23 10:00] Afrahdev commented on #5152
Not really I think the reason is the package is too big run and it takes a while that time. The only way I can think of is by increasing the usage memory up to 8gb on node

[2022-06-23 14:47] opensourceDAO-Community commented on #4083
still facing the same issue

[2022-06-23 15:11] MetalGear-cmd commented on #5220
Any update on this? Is this feature going to be added?

[2022-06-23 15:21] eggplantzzz commented on #5220
I just published version `2.0.10-alpha.0` of `@truffle/hdwallet-provider` with my updates to the signing method. I don't really have an easy way right now to test this method. If you all have a chance to test it and give me some feedback I would appreciate it!

[2022-06-23 15:31] Racherin commented on #5220
@eggplantzzz still same error on me

[2022-06-23 16:34] 0R61 commented on #5220
Testing now

[2022-06-23 16:35] 0R61 commented on #5220
`node_modules/@metamask/eth-sig-util/dist/sign-typed-data.js:164
    if (results.has(primaryType) || types[primaryType] === undefined) {
                                         ^

TypeError: Cannot read properties of undefined (reading 'EIP712Domain')
    at findTypeDependencies (/home/notjeff/Desktop/OPENSEABOTSERVER/seabot/node_modules/@metamask/eth-sig-util/dist/sign-typed-data.js:164:42)

[2022-06-23 16:37] eggplantzzz commented on #5220
Thanks @0R61, I'll see if I can figure anything else out about this. Are others getting the same results?

[2022-06-23 16:39] 0R61 commented on #5220
Yeah, they are. OpenSea disabled their previous way of handling offers which leaves developers unable to send in programmatic offers due to this issue with hdwallet-provider. Would you mind adding me on discord so that we can have a quicker turn around, I can help with testing and fixing as well.

My discord: X_#1368

[2022-06-23 16:47] MetalGear-cmd commented on #5220
Same error as before, plus the eth_signTypedData_v4 was coming when using 0xsubprovider
TypeError: Cannot read properties of undefined (reading 'EIP712Domain')
    at findTypeDependencies (C:\testing\node_modules\@metamask\eth-sig-util\src\sign-typed-data.ts:288:40)
    at encodeType (C:\testing\node_modules\@metamask\eth-sig-util\src\sign-typed-data.ts:256:24)
    at hashType (C:\testing\node_mod

[2022-06-23 17:13] gnidan commented on #5220
I had this old [gnidan/guestbook-712](https://github.com/gnidan/guestbook-712) repo just lying around, and I just showed it to @eggplantzzz, and we think it should suffice for internal testing.

If anyone's particularly sharp with EIP-712, could you please take a look at the [JS util for requesting `eth_signTypedData_v4`](https://github.com/gnidan/guestbook-712/blob/master/guestbookUtils.js#L27-L8

[2022-06-23 17:24] 0R61 commented on #5220
https://github.com/0R61/pwned-hdwalletprovider

[2022-06-23 17:28] 0R61 commented on #5220
This supports the signTypedData_v4

[2022-06-23 17:41] dongmingh commented on #5189
@Chococoin Could you provide steps to reproduce this issue?  Also you can try to disable web3's confirmation listener by setting `disableConfirmationListener: true` in your network configuration. Refer to network section in https://trufflesuite.com/docs/truffle/reference/configuration/.

[2022-06-23 17:43] haltman-at opened #5225 "Caught errors in deployment still cause overall error"
## Issue

When an error occurs during deployment, even if the error is *caught*, it may still go on to cause the overall deployment to error.

For a repro example, one may use the same example as in #3066.

The obvious culprit is the line `self._error(e)` in [this file](https://github.com/trufflesuite/truffle/blob/develop/packages/deployer/src/deferredchain.js).  However, replacing this with `thro

[2022-06-23 17:46] gnidan commented on #5220
cool, thanks @0R61! seems like we'll be able to converge quickly on a proper solution in @truffle/hdwallet-provider itself.

regarding release timing, it's looking most likely that this will be done in time for next week's release, since this week's release is scheduled for today at 4pm ET (GMT-4)... which is in about 2 hours. seems low odds to have a PR tested, approved, and merged before then :/

[2022-06-23 17:49] 0R61 commented on #5220
Yeah the actual "fix" relies in @metamask eth-sig-util in the **sign-typed-data.js** file:
[code]
The sanitizeData function was not parsing JSON string resulting in everything being sanitized by the function.

[2022-06-23 17:49] 0R61 commented on #5220
@gnidan

[2022-06-23 17:53] MetalGear-cmd commented on #5220
@0R61 I am seeing this error
opensea-js v 4.0.3
node version: 16.13.2
{
  code: -32601,
  message: 'The method eth_signTypedData_v4 does not exist/is not available'
}

[2022-06-23 17:53] gnidan commented on #5220
@0R61 does the release version of @metamask/eth-sig-util behave correctly, or does that need a fix? sorry if I missed that in the conversation above. I took a quick look, and it seems like the [current implementation](https://github.com/MetaMask/eth-sig-util/blob/main/src/sign-typed-data.ts#L334-L354) is what you wrote.

[2022-06-23 17:54] benjamincburns commented on #5197
We should also do this for https://github.com/trufflesuite/preserves

[2022-06-23 17:56] 0R61 commented on #5220
I will perform tests now.

[2022-06-23 17:59] 0R61 commented on #5220
No the current release version of eth-sig-util version **4.0.1** is giving the same error. My implementation is different, I believe.

[2022-06-23 18:00] MetalGear-cmd commented on #5220
This is the full message I see the exact same message when trying to use the 0xsubprovider.
My node provider in Infura, I see you have used moralis's speedy node

[2022-06-23 18:01] 0R61 commented on #5220
Try using moralis. Did you replace @metamask folder and @truffle folder with the ones in my repo?

[2022-06-23 18:04] MetalGear-cmd commented on #5220
yes I replaced it and also tried the moralis speedy node, it just exits without doing anything, same thing happens with Alchemy.

[2022-06-23 18:04] gnidan commented on #5220
Hm... I don't see any functional difference between what you wrote and what's on `main`, which appears to be in 4.0.1 as well. I hope @metamask/eth-sig-util is fine, otherwise we're dealing with getting a fixed released there first...

Maybe @eggplantzzz will have more findings once he tests this a bit further.

[2022-06-23 18:04] 0R61 commented on #5220
Post your code

[2022-06-23 18:18] 0R61 commented on #5220
@gnidan
Yeah unfortunately, I think that is where the issue resides. I opened an issue with them.

[2022-06-23 18:19] benjamincburns commented on #5197
I think the best way to go about this is actually to implement support for [project references and build mode](https://www.typescriptlang.org/docs/handbook/project-references.html#build-mode-for-typescript). If we do that, then a hierarchical representation of our tsconfig files will naturally follow.

[2022-06-23 18:19] eggplantzzz commented on #5220
Just for reference, https://github.com/MetaMask/eth-sig-util/issues/257

[2022-06-23 18:23] haltman-at commented on #5199
OK, since the current state of this is apparently unclear, I'm going to summarize what's currently going on with this.

Our prettier settings are entirely standardized; there's a single `.prettierrc.json` at the workspace root and no others.

ESLint is a bit messier.  Here's how this is currently organized.

First, there's the `.eslintrc.json` at the workspace root.  This applies to all packages.

[2022-06-23 18:37] MetalGear-cmd commented on #5220
@0R61  Getting this error now after re-installing all the modules againg and replacing yours with the already existant:

Error: API Error 400: You cannot access body after reading from request's data stream
    at OpenSeaAPI.<anonymous> (C:\testing\node_modules\opensea-js\lib\api.js:592:31)
    at step (C:\testing\node_modules\opensea-js\lib\api.js:63:23)
    at Object.next (C:\testing\node_module

[2022-06-23 23:08] cliffoo commented on #3066
Resolved in the [newest Truffle release](https://github.com/trufflesuite/truffle/releases/tag/v5.5.19). Thanks @wbt for bringing this up!

[2022-06-23 23:08] #3066 closed

[2022-06-23 23:09] cliffoo commented on #4971
Resolved in the [newest Truffle release](https://github.com/trufflesuite/truffle/releases/tag/v5.5.19). Thanks @michaeljohnbennett!

[2022-06-23 23:09] #4971 closed

[2022-06-23 23:22] cliffoo commented on #5134
`cross-env` made it to Dashboard in [develop](https://github.com/trufflesuite/truffle/tree/develop). Thanks @swisstackle!

[2022-06-23 23:22] #5134 closed

[2022-06-23 23:24] cliffoo commented on #5161
Resolved in the [latest Truffle release](https://github.com/trufflesuite/truffle/releases/tag/v5.5.19). Thanks @lsqproduction!

[2022-06-23 23:24] #5161 closed

[2022-06-24 00:43] 0R61 commented on #5220
This is an issue within opensea-js.

I will post a modified version of their api as a repo tomorrow

[2022-06-24 04:46] thanghv97 opened #5229 "Config output file mocha not working in Truffle Config"
- [ ] I've [opened a support ticket](https://trufflesuite.zendesk.com/hc/en-us/requests/new) before filing this issue.

---------------------------

## Issue

Config output file mocha not working in Truffle Config
I followed this post (https://trufflesuite.com/guides/ethereum-devops-truffle-testrpc-vsts/#prepare-trufflejs) to set config mocha that log output testing to file. However, this post is

[2022-06-24 06:04] haltman-at commented on #2190
Btw, it's worth documenting here how this currently works in `@truffle/contract`.  The answer is, it relies on the equivalent functionality from `web3.eth.Contract`, which is documented [here](https://web3js.readthedocs.io/en/v1.7.3/web3-eth-contract.html#contract-events).

(It looks like Web3 doesn't really support overloading here...?  That's worth checking, it's not clear from the docs, and I d

[2022-06-24 16:17] eggplantzzz commented on #5220
So the problem may be on the Truffle side after all. I published a new version of the package, @truffle/hdwallet-provider@2.0.10-alpha.2. Can you test it out for me? It seems to test successfully with a toy project I have here.

The issue might be that we need to convert the data (that has been serialized/stringified) back into an object before feeding it to the `signTypedData` utility that MetaMa

[2022-06-24 16:53] odanado commented on #5220
@eggplantzzz
I have confirmed with `@truffle/hdwallet-provider@2.0.10-alpha.2` that the problem has been fixed! Thanks!

Here is the source code I tried.
https://github.com/ProjectOpenSea/opensea-js/issues/550#issuecomment-1165747035

[2022-06-24 17:25] benjamincburns opened #5231 "Modules imported by migration and test scripts don't share a global context with the top-level migration or test script"
## Issue

If in a migration file I `require` some other module, that module's global context matches the global context for truffle CLI, not the global context that we set up for the migration file. Since tests are loaded/executed via the same code path (`require.file`), I believe this also applies to tests.

For example, in the case of migrations we wrap the resolver object (set in the migration

[2022-06-24 17:28] benjamincburns commented on #5231
For context, this is due to the way that we "sandbox" migration and test files in `require.js`. Specifically we use the `vm` module, which doesn't include a `require` function in its global context. The current recommendation is to pass in your own (which is what we do), but this causes the global context of any modules imported by your script to be the parent context, not the one for your script.

[2022-06-24 19:40] nextmove commented on #5220
I was able to post an order to Seaport after installing @truffle/hdwallet-provider@2.0.10-alpha.2.  Thank you @eggplantzzz !

[2022-06-24 20:23] haltman-at opened #5232 "Debugger may have problems with pre-Byzantium transactions"
## Issue

The debugger relies on return statuses in receipts; however, these didn't exist prior to the Byzantium hardfork.

I don't know to what extent we really want to do anything about this, but I thought I'd at least write this down.

## Environment

* Truffle version (`truffle version`): 5.5.19

[2022-06-24 22:31] BeniSchlattmann commented on #5220
Hi All
I'm still running into the same issue with the following test script.

Running:
└── opensea-js@4.0.3
└── @truffle/hdwallet-provider@2.0.10-alpha.0
node version: v14.17.6

Error:
`(node:9318) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'EIP712Domain' of undefined`

Test Code:
[code]
Any advice what I'm doing wrong here?

[2022-06-25 02:10] Miridescen opened #5233 "TypeError: Cannot read properties of undefined (reading 'EIP712Domain')"
let provider = new HDWalletProvider({
                privateKeys: [],
                providerOrUrl: uri,
            })
 const openseaSDK = new OpenSeaSDK(provider, {
                    networkName: Network.Main,
                    apiKey: 'af554ecef55b40888713967f5ecff76a',
                })

 const listing = await openseaSDK.createSellOrder({
                asset: {
                    tok

[2022-06-25 03:31] odanado commented on #5220
@BeniSchlattmann Try upgrading `@truffle/hdwallet-provider` from `2.0.10-alpha.0` to `2.0.10-alpha.2`

[2022-06-25 22:47] BeniSchlattmann commented on #5220
@odanado: Aww sorry I wasn't following the changing suffix properly here. It's working all fine with the new `2.0.10-alpha.2` branch. Thank you very much for pointing out!

[2022-06-26 02:23] ilovespectra commented on #3959
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated uuid@2.0.1: Please upgrade  to version 7 or higher.  Old

[2022-06-26 18:37] carlos-ssh commented on #4683
Wow! you save my noon guys.. thanks for sharing. It is installed from [node 14.19.0](https://nodejs.org/en/blog/release/v14.19.0/); **truffle@5.5.19 at my console** without issues.

![Approved](https://user-images.githubusercontent.com/22258274/138466108-6b14c541-6a88-44c5-ba76-c64992ac1835.gif)

[2022-06-27 08:42] moshmage opened #5235 "truffle workflow-compile lost dashboard-message-bus-client dependency"
## Issue

The package lost dependencies but still relies on them

## Steps to Reproduce

Visit this public github action log, check build stage.
[Please provide the shortest amount of steps to reproduce your issue.](https://github.com/taikai/dappkit/runs/7069036809?check_suite_focus=true)

## Expected Behavior

The compile action to work

## Actual Results

truffle/workflow-compile complains about

[2022-06-27 09:16] moshmage commented on #5235
after providing `dashboard-message-bus-client` manually via package.json dependencies, this shows up

[code]

Something _very wrong_ happened on your last deploy - This is essentially blocking us from deploying a new version.

[2022-06-27 14:42] georgep21 commented on #5220
Just want to say thanks a load for providing this fix. Response time to fix was incredible. Big thumbs up

[2022-06-27 15:48] cds-amal commented on #5235
Hi @moshmage, thanks for raising this dependency issue. Hopefully #5230 resolves this.

[2022-06-27 17:31] cds-amal opened #5236 "Add GHA to fail CI on missing dependencies"
We should add a GHA script to utilize #5230

[2022-06-28 18:26] eggplantzzz commented on #5220
Great! Thanks all for testing this. We'll publish a stable release of @truffle/hdwallet-provider later this week!

[2022-06-29 05:53] haltman-at opened #5244 "Circular dependency between `@truffle/resolver` and `@truffle/compile-solidity`"
## Issue

We currently have a circular dependency between `@truffle/resolver` and `@truffle/compile-solidity`.

The package `@truffle/compile-solidity` imports `@truffle/resolver` as a dev dependency, because it uses it in tests.  Meanwhile, the package `@truffle/resolver` imports the range utils from `@truffle/compile-solidity`.  (Yes, one of the legs of this circularity is a dev dependency, but